﻿
a:link { 
    FONT-SIZE: 11px; 
	FONT-FAMILY: Verdana, Arial, Helvetica;
	font-weight:bold;
	color:#133E71;

	}
a:visited { 
    FONT-SIZE: 11px; 
	FONT-FAMILY: Verdana, Arial, Helvetica;
	font-weight:bold;
	color:#133E71;
	}
a:hover { 
    FONT-SIZE: 11px; 
	FONT-FAMILY: Verdana, Arial, Helvetica;
	font-weight:bold;
	color:#133E71;
	}
a:active { 
    FONT-SIZE: 11px; 
	FONT-FAMILY: Verdana, Arial, Helvetica;
	font-weight:bold;
	color:#133E71;
	}
#accessible
{
    display:none;
}
#header
{
	height: 84px;
	width: 778px;
	background-image: url(../Images/header.gif);
}


body
{
background-image: url(/myImages/BHA_TAB.gif); 
background-repeat: no-repeat; 
background-position: 788px 6px; 
background-attachment: fixed;
margin-top:10px
}



#body
{
border-left:1px solid #133E71;
border-right:1px solid #133E71;
height:400px;
width:776px;
}
#bodyinner
{
margin:25px;    
}
#tab
{
background-image: url(../images/tab.gif);
height:19px;
width:53px;   
}
#tabtitle
{
    background-color:#133E71;
    height:19px;
    width:99%;
    FONT-SIZE: 11px; 
	FONT-FAMILY: Verdana, Arial, Helvetica;
	font-weight:bold;
	color:White;
	padding-top:2px;
	padding-left:2px;
}           
#footer
{
 background-image: url(../images/footer.gif);
 height:80px;
 width:778px;
}
#pnlenter
{
 margin-top:10px;
 padding-top:10px;    
}
#valSum
{
 
 margin-left:4px;  
}
.pad
{
 
 margin-left:4px;  
}
.formelements 
{
display: inline; 
}

#plformgroup
{
width:800px; 
border: 1px solid black;   
}    

.labelclass
{
width:150px;    
}


#formgroup
{
    /* 
    border: 1px solid black;
    */
 	FONT-SIZE: 10px; 
	FONT-FAMILY: Verdana, Arial, Helvetica;    
    padding-top:10px;
    padding-left:10px;
    width:650px;
}      
.RSLButton {
	FONT-SIZE: 10PX; 
	COLOR: #133E71; 
	FONT-FAMILY: Verdana, Arial, Helvetica; 
	background-color: #FFFFFF; 
	border: 1px #133E71 solid;
	cursor: hand;
	height:17px;
	margin-left:10px;
	margin-top:10px;
}
.UpdateRSLButton {
	FONT-SIZE: 10PX; 
	COLOR: #133E71; 
	FONT-FAMILY: Verdana, Arial, Helvetica; 
	background-color: #FFFFFF; 
	border: 1px #133E71 solid;
	cursor: hand;
	height:17px;
	margin-left:100px;
	margin-top:10px;
}
.textbox {
	FONT-SIZE: 10px; 
	FONT-FAMILY: Verdana, Arial, Helvetica; 
	border: 1px solid #133E71;
	margin-right:10px;
	
}
.updatelabel
{
 	FONT-SIZE: 10px; 
	FONT-FAMILY: Verdana, Arial;
	width:100px; 
	display:block;
	float:left;
    
}




#txtpassword
{
 margin-right:20px;    
}    

#txtusername
{
 margin-right:10px;    
}    

.label
{
	FONT-SIZE: 10px; 
	FONT-FAMILY: Verdana, Arial;
	width:100px;
	
	    
}

#lblpassword123
{
 margin-left:10px;   
}
#lblusername
{
 margin-left:4px;   
}

#lblstatus
{
display:block;
height:15px;
} 