﻿@model BHGHRModuleWeb.ViewModels.GroupTrainingApprovalReportViewModel
@using Share.Bonnet.AjaxDropDownList;
@Scripts.Render("~/bundles/bonnet")
@{
    string searchText = ViewBag.searchText;
}

<div class="row padding-bottom">
    <div style="border: 1px solid; background-color: #000; padding: 10px;">
        <label style="color:#fff">Training Approval List</label>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="padding:10px 0;">
        @using (Html.BeginForm("ExportGroupTrainingsData", "Reports", FormMethod.Post, new { enctype = "multipart/form-data", id = "excelForm" }))
        {
            <input type="hidden" id="trainingIds" />
            <div class="row">
                <div class="col-md-12 col-xs-12 padding-bottom">
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(m => m.directorateId, Model.directorates, new { @class = "form-control", @id = "ddldirectorate" })
                        @Html.HiddenFor(m => m.directorate)
                        @Html.HiddenFor(m => m.HR, new { Name = "isHR" })
                        @Html.HiddenFor(m => m.Director, new { Name = "isDirector" })
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(m => m.teamId, Model.teams, new { @class = "form-control", @id = "ddlteam" })
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(m => m.employeeId, Model.employees, new { @class = "form-control",@id="ddlemployee" })
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(m => m.statusId, Model.statuses, new { @class = "form-control ddlStatus" })
                    </div>
                    <input type="hidden" name="searchText" id="hdnExpSearch" />
                    <div class="col-md-4 col-xs-12 pull-right padding-bottom">
                        <input class="btn btn-gray btn-xs pull-right btnNext" id="btnSaveCriteria" type="submit" name="nextBtn" value='Build Report' style="margin-left:19px" />
                        <input class="btn btn-gray btn-xs pull-right" id="btnSaveXLS" type="submit" name="nextBtn" value='Export XLS' />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
        }
    </div>
    <div class="panel-body">
        <div class="row padding-bottom"></div>
        <div class="row">
            <div class="col-md-12">
                <input class="btn btn-xs btn-success" id="btnApprove" type="button" value='Approve Selected' />
                <input class="btn btn-xs btn-danger" id="btnDecline" type="button" value='Decline Selected' style="margin-left:19px" />
                @Html.TextBox("txtSearchText", searchText, new { @class = "searchbox-right", Name = "txtSearchText", onkeyup = "TypingInterval();" })
            </div>
            <div id="webgrid">
                @Html.Partial("GroupTraining/_GroupTrainingGrid", Model)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#btnSaveXLS").click(function () {
        event.preventDefault();
        $('#hdnExpSearch').val($('#txtSearchText').val());
        $("#excelForm").submit();
    });

     (function () {
         $('#ddlteam').attr('disabled', true);
         $('#ddlemployee').attr('disabled', true);

         if (getUrlVars()["HR"] == "true") {
             $(".ddlStatus option:selected").text()
             var desiredValue = "Exec Supported";
             var el = document.getElementById("statusId");
             for (var i = 0; i < el.options.length; i++) {
                 if (el.options[i].text == desiredValue) {
                     el.selectedIndex = i;
                     break;
                 }
             }
             //$('#statusId').val(8);
         }

         if ($('#directorate').val() != 0) {
             $('#ddldirectorate').val($('#directorate').val());
         }

         $('#HR').val(getUrlVars()["HR"]);
         $('#Director').val(getUrlVars()["Director"]);

     })();

     $("#ddldirectorate").change(function () {
         $('#ddlemployee option[value="0"]').attr("selected", true);
         $('#ddlemployee').attr('disabled', true);
         if($('#ddldirectorate').val()=='0')
         {
             $('#ddlteam option[value="0"]').attr("selected", true);
             $('#ddlemployee option[value="0"]').attr("selected", true);
             $('#ddlteam').attr('disabled', true);
             $('#ddlemployee').attr('disabled', true);
         }
         else
         {
             $.ajax({
                 url: '@Url.Action("TeamSelectListJsonGroupTraining", "Reports")',
                 type: 'GET',
                 data: {
                     directorate: $('#ddldirectorate').val()
                 },
                 success: function (resp) {                     
                     if (resp != undefined) {                         
                         $('#ddlteam').attr('disabled', false);
                         $('#ddlteam').empty();
                         $.each(resp, function (k, v) {
                             $('#ddlteam').append('<option value="' + v.Value + '">' + v.Text + '</option>');
                         });
                     }
                 }
             });
         }
     });
    $("#ddlteam").change(function () {
        if ($('#ddlteam').val() == '0')
        {
            $('#ddlemployee option[value="0"]').attr("selected", true);
            $('#ddlemployee').attr('disabled', true);
        }
        else
        {
            $.ajax({
                url: '@Url.Action("EmployeeSelectListJson", "Reports")',
                type: 'GET',
                data: {
                    team: $('#ddlteam').val()
                },
                success: function (resp) {
                    if (resp != undefined) {
                        $('#ddlemployee').attr('disabled', false);
                        $('#ddlemployee').empty();
                        $.each(resp, function (k, v) {
                            $('#ddlemployee').append('<option value="' + v.Value + '">' + v.Text + '</option>');
                        });
                    }
                }
            });
        }
     });

     $("#btnApprove").click(function () {
         var hdnTraining = "";
         var status = "HR Approved";
         var totalEmp = $('.selEmployees').length;
         var html = "";
         for (var i = 0; i < totalEmp; i++) {
             var selected = $('.selEmployees')[i];
             if ($(selected).is(':checked')) {
                 var tempHtml = "";
                 // save this employeeid in hidden value;
                 hdnTraining += $(selected).data('trainingid') + ",";
                 //employeeid; name; team; jobtitle;
             }
         }

         if (hdnTraining == "") {
             popupMessage('message', 'msgResponse', "Please select at least one employee", 'failure');
             return;
         }
         hdnTraining = hdnTraining.substring(0, hdnTraining.length - 1)
         $('#trainingIds').val(hdnTraining);

         event.preventDefault();
         if (getUrlVars()["HR"] == "true") {
             status = "HR Approved";
         }

         if (getUrlVars()["Director"] == "true") {
             status = "Exec Approved";
         }

         $.ajax({
             url: '@Url.Action("ApproveDeclineGroupTrainings", "Reports")',
             type: 'GET',
             beforeSend: function () {
                 $('#loader').show();
             },
             complete: function () {
                 $('#loader').show();
             },
             data: {
                 trainingIds: $('#trainingIds').val(),
                 //todo:
                 // set Exec Approve or HR Approve.
                 status: status,
             },
             success: function (resp) {
                 if (resp != undefined) {
                     popupMessage('message', 'msgResponse', resp, 'success');
                     loadEmployeeList();
                 }
             }
         });
     });

    $("#btnDecline").click(function () {
        var hdnTraining = "";
        var status = "HR Declined";
         var totalEmp = $('.selEmployees').length;
         var html = "";
         for (var i = 0; i < totalEmp; i++) {
             var selected = $('.selEmployees')[i];
             if ($(selected).is(':checked')) {
                 var tempHtml = "";
                 // save this employeeid in hidden value;
                 hdnTraining += $(selected).data('trainingid') + ",";
                 //employeeid; name; team; jobtitle;
             }
         }

         if (hdnTraining == "") {
             popupMessage('message', 'msgResponse', "Please select at least one employee", 'failure');
             return;
         }
         hdnTraining = hdnTraining.substring(0, hdnTraining.length - 1)
         $('#trainingIds').val(hdnTraining);

         event.preventDefault();
         if (getUrlVars()["HR"] == "true") {
             status = "HR Declined";
         }

         if (getUrlVars()["Director"] == "true") {
             status = "Exec Declined";
         }

         $.ajax({
             url: '@Url.Action("ApproveDeclineGroupTrainings", "Reports")',
             type: 'GET',
             beforeSend: function () {
                 $('#loader').show();
             },
             data: {
                 trainingIds: $('#trainingIds').val(),
                 status: status,
             },
             complete: function () {
                 $('#loader').show();
             },
             success: function (resp) {
                 if (resp != undefined) {
                     popupMessage('message', 'msgResponse', resp, 'success');
                     loadEmployeeList();
                 }
             }
         });
    });

     $("#btnSaveCriteria").click(function () {
         event.preventDefault();
         var optionText = $(".ddlStatus option:selected").text();

         if ($('.ddlStatus').val() == "0") {
             popupMessage('message', 'msgResponse', "Please select status", 'failure');
             return;
         }

         if (optionText != "Exec Approved" && optionText != "Exec Supported") {
             $('#btnApprove').attr('disabled', true);
             $('#btnDecline').attr('disabled', true);
         }
         else {
             $('#btnApprove').attr('disabled', false);
             $('#btnDecline').attr('disabled', false);
         }

         if (getUrlVars()["HR"] == "true") {
             if (optionText != "Exec Approved" && optionText != "Exec Supported") {
                 $('#btnApprove').attr('disabled', true);
                 $('#btnDecline').attr('disabled', true);
             }
             else {
                 $('#btnApprove').attr('disabled', false);
                 $('#btnDecline').attr('disabled', false);
             }
         }

         if (getUrlVars()["Director"] == "true") {
             if (optionText != "Requested" && optionText != "Manager Supported" ) {
                 $('#btnApprove').attr('disabled', true);
                 $('#btnDecline').attr('disabled', true);
             }
             else {
                 $('#btnApprove').attr('disabled', false);
                 $('#btnDecline').attr('disabled', false);
             }
         }

         $.ajax({
             url: '@Url.Action("SearchGroupTrainings", "Reports")',
             type: 'GET',
             beforeSend: function () {
                 $('#loader').show();
             },
             data: {
                 txtSearchText: $('#txtSearchText').val(),
                 directorateId: $('#ddldirectorate').val(),
                 teamId: $('#ddlteam').val(),
                 employeeId: $('#ddlemployee').val(),
                 statusId: $('#statusId').val(),
                 HR: getUrlVars()["HR"],
                 Director: getUrlVars()["Director"],
             },
             success: function (resp) {
                     $('#loader').hide();
                 if (resp != undefined) {
                     $('#webgrid').html(resp);
                 }
             },
             error: function (jqXHR, textStatus, errorThrown) {
                 //do your own thing
                 $('#loader').hide();
                 popupMessage('popupMessage', 'popupMsgResponse', "Unable to load docoument", 'failure');
                 console.log(jqXHR);
             }
         });
     });

 var typingTimer;                //timer identifier
 var doneTypingInterval = 1000;  //time in ms, 5 second for example

 function TypingInterval() {
     clearTimeout(typingTimer);
     typingTimer = setTimeout(searchTextChanged, doneTypingInterval);
 }

 function searchTextChanged() {
     $.ajax({
         url: '@Url.Action("SearchGroupTrainings", "Reports")',
         type: 'GET',
         beforeSend: function () {
             $('#loader').show();
         },
         data: {
             txtSearchText: $('#txtSearchText').val(),
             directorateId: $('#ddldirectorate').val(),
             teamId: $('#ddlteam').val(),
             employeeId: $('#ddlemployee').val(),
             statusId: $('#statusId').val(),
             HR: getUrlVars()["HR"],
             Director: getUrlVars()["Director"],
         },
         success: function (resp) {
             if (resp != undefined) {
                 $('#webgrid').html(resp);
             }
         },
         complete: function () {
             $('#loader').hide();
         },
     });
 }

    function loadEmployeeList() {
        $.ajax({
            url: '@Url.Action("SearchGroupTrainings", "Reports")',
            type: 'GET',
            beforeSend: function () {
                $('#loader').show();
            },
            data: {
                txtSearchText: $('#txtSearchText').val(),
                directorateId: $('#ddldirectorate').val(),
                teamId: $('#ddlteam').val(),
                employeeId: $('#ddlemployee').val(),
                statusId: $('#statusId').val(),
                HR: getUrlVars()["HR"],
                Director: getUrlVars()["Director"],
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html(resp);
                }
            },
            complete: function () {
                $('#loader').hide();
            },
        });
    }
</script>

