﻿@model BHGHRModuleWeb.ViewModels.GroupTrainingApprovalReportViewModel
@{

    //string searchText = ViewBag.searchText;
    var grid = new WebGrid(rowsPerPage: 200000);
    grid.Bind(Model.trainingApprovalList, autoSortAndPage: false, rowCount: 200000);

}
@Scripts.Render("~/bundles/jquery")
@if (Model.trainingApprovalList != null && Model.trainingApprovalList.Count > 0)
{
    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        footerStyle: "webgrid-footer",
        htmlAttributes: new { id = "checkableGrid" },
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        //Here I am going to add checkbox column
        grid.Column(
            format: @<text> <input type="checkbox" value="@item.employeeId" name="ids" data-trainingid="@item.trainingId" data-employeeid="@item.employeeId" class="selEmployees" /> </text>,
            header: "{checkall}"
        ),
        grid.Column(
            format:@<text>
                <a target="_blank" href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, redirectTab = "mnuTraining" })'>@item.employeeName</a>
            </text>
        , header: "Name:"),
        grid.Column(columnName: "directorateName", header: "Directorate:"),
        grid.Column(columnName: "teamName", header: "Team:"),
        grid.Column(columnName: "trainingCourseName", header: "Training Course:"),
        grid.Column(columnName: "cost", header: "Cost(NET):"),
        grid.Column(
            format: @<text> @if (item.professionalQualification == false)
	            {
                    <span>No</span>
	            }

                @if (item.professionalQualification == true)
                {
                    <span>Yes</span>
                }
             </text>,
            header: "Professional Qual:"),
        grid.Column(format: @<text> @if (item.isMandatory == false)
        {
            <span>No</span>
        }

        @if (item.isMandatory == true)
        {
            <span>Yes</span>
        }
        </text>, header: "Mandatory:"),
        grid.Column(columnName: "status", header: "Status:"),
        grid.Column(columnName: "createdBy", header: "By:")
    ))
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Name:</th>
                <th>Directorate:</th>
                <th>Team:</th>
                <th>Training Course:</th>
                <th>Cost(NET):</th>
                <th>Professional Qual:</th>
                <th>Mandatory:</th>
                <th>Status:</th>
                <th>By:</th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="8" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
}

<script type="text/javascript">

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("SearchGroupTrainings", "Reports")' + queryString;//+ "?searchText=" + $('#txtSearchText').val();
        //$("#webgrid").load(requestUrl);
        $("#webgrid").load(requestUrl);
    }

    (function () {
        $("#webgrid th a").on('click', function (event) {
            loadGridEvents(event, this);
        });
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');

        // 1st replace first column header text with checkbox

        $("#checkableGrid th").each(function () {
            if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
                $(this).text('');
                $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
                $(this).append("<span></span>");
            }
        });

        //2nd click event for header checkbox for select /deselect all
        $("#cbSelectAll").on("click", function () {
            var ischecked = this.checked;
            $('#checkableGrid').find("input:checkbox").each(function () {
                this.checked = ischecked;
            });
        });

        //3rd click event for checkbox of each row
        $("input[name='ids']").click(function () {
            var totalRows = $("#checkableGrid td :checkbox").length;
            var checked = $("#checkableGrid td :checkbox:checked").length;

            if (checked == totalRows) {
                $("#checkableGrid").find("input:checkbox").each(function () {
                    this.checked = true;
                });
            }
            else {
                $("#cbSelectAll").removeAttr("checked");
            }
        });
    })();
    
    function btnCreateEmployee_click() {
        var win = window.open('http://stackoverflow.com/', '_blank');
        if (win) {
            //Browser has allowed it to be opened
            win.focus();
        }
    }

    function searchPageChanged() {

        var requestUrl = '@Url.Action("SearchGroupTrainings", "Reports", new { id = ViewContext.RouteData.Values["id"] })' + '&directorateId=' + $("#ddldirectorate").val() + '&teamId=' + $("#ddlteam").val() + '&employeeId=' + $("#ddlemployee").val() + '&statusId=' + $("#statusId").val() + '&txtSearchText=' + $("#txtSearchText").val();
        $("#webgrid").load(requestUrl);
    }

</script>

