﻿@model  Contractor.Web.Models.AsbestosGridViewModel

@{
    Layout = null;
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize, canSort: false);
    grid.Bind(Model.asbestosList, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
}

@if (Model.asbestosList != null && Model.asbestosList.Count > 0)
{
    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "asbestosType", header: "Asbestos Type"),
        grid.Column(columnName: "asbestosElement", header: "Element"),
        grid.Column(columnName: "type", header: "Type"),
        grid.Column(columnName: "riskLevel", header: "Risk Level", format:@<text>
            @if (!string.IsNullOrEmpty(item.riskLevel))
            {
                <span>@item.riskLevel</span>
            }
            else
            {
                <span>-</span>
            }
        </text>),
        grid.Column(columnName: "addedDate", header: "Date Added", format:@<text>
            @if (!string.IsNullOrEmpty(item.addedDate))
            {
                <span>@item.addedDate</span>
            }
            else
            {
                <span>-</span>
            }
        </text>),
        grid.Column(columnName: "removedDate", header: "Date Removed", format:@<text>
            @if (!string.IsNullOrEmpty(item.removedDate))
            {
                <span>@item.removedDate</span>
            }
            else
            {
                <span>-</span>
            }
        </text>),
        grid.Column(columnName: "createdByEmployeeName", header: "By", format:@<text>
                @if (!string.IsNullOrEmpty(item.createdByEmployeeName))
            {
                    <span title="@item.createdByFullName">@item.createdByEmployeeName</span>
                }
                else
                {
                    <span>-</span>
                }
        </text>),
        
        grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:@<text>            
            <input type="button" value="View" data-id="@item.asbestosId" class="btn btn-white btn-xs pull-right edit-asbestos"   />       
        </text>)

    ))

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div id="gridPager" class="space-box col-md-8">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
            </div>
            <div id="" class="col-md-1">
                <div class="row">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtpageText", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Asbestos Type</th>
                <th>Element</th>
                <th>Type</th>
                <th>Risk Level</th>
                <th>Date Added</th>
                <th>Date Removed</th>
                <th>By</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="8" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtpageText", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/modernizr")
<script type="text/javascript">

    (function () {
        //$("#webgrid a").on('click', function (event) {
        //    loadGridEvents(event, this);
        //});
    })();

    $("#webgrid .edit-asbestos").click(function (index) {
        $.getJSON('@Url.Action("GetAsbestosById", "HealthAndSafety")' + '/' + $(this).data('id'), function (data) {
            var res = data;
            console.log(data);

            $('#asbestosDetail_asbestosId').val(res.asbestosId);
            $('#asbestosDetail_asbestosTypeId').val(res.asbestosTypeId);
            $('#asbestosDetail_asbestosElementId').val(res.asbestosElementId);
            $('#asbestosDetail_typeId').val(res.typeId);
            $('#asbestosDetail_riskLevelId').val(res.riskLevelId);
            $('#asbestosDetail_addedDate').val(res.addedDate);
            $('#asbestosDetail_removedDate').val(res.removedDate);
            $('#asbestosDetail_notes').val(res.notes);
            $('#asbestosDetail_isUrgentActionRequired').val(res.isUrgentActionRequired);
                    

            $('#saveAsbestos').prop('disabled', true);
            $('#amendAsbestos').prop('disabled', false);
        });
    });

    var typingTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example
    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var requestUrl = '@Url.Action("SearchAsbestos", "HealthAndSafety", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtpageText").val();
        $("#webgrid").load(requestUrl);
    }

</script>
