﻿
@model Contractor.Web.Models.HealthAndSafetyViewModel
@{
    ViewBag.Title = "Asbestos";
    Layout = null;
    bool isEdit = ViewBag.isEdit == "edit";
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;

    AjaxOptions AddAmendAsbestosOptions = new AjaxOptions();
    AddAmendAsbestosOptions.AllowCache = false;
    AddAmendAsbestosOptions.HttpMethod = "Post";
    AddAmendAsbestosOptions.OnSuccess = "OnSuccessAsbestos";
    AddAmendAsbestosOptions.OnFailure = "OnFailureAsbestos";
    AddAmendAsbestosOptions.OnBegin = "OnBeginAsbestos";
    AddAmendAsbestosOptions.UpdateTargetId = "msg";


}

<style>
    .TopNavigation ul {
        height: 51px;
    }

    .no-padding-left-right {
        padding-left: 0px;
        padding-right: 0px;
    }

    textarea.asbestosDetail {
        resize: none !important;
    }

    .padding-bottom {
        padding-bottom: 10px;
    }

    .padding-bottom-5 {
        padding-bottom: 5px;
    }

    a {
        color:black;
    }
</style>


@*Add Asbestos and Upload Document*@
<div class="row">
    <div class="col-md-12" style="display:none" id="response">
        <div class="alert alert-success">
            <strong id="msg"></strong>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="display:none" id="failure">
        <div class="alert alert-danger">
            <strong id="msg">Record Not Updated Successfully</strong>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-6 padding-bottom">
            @*Add Asbestos*@
            <div class="col-md-12">
                <div class="row" id="divAddAmendAsbestos">
                    <div class="portlet">
                        <div class="row">
                            <div class="col-md-12">
                                @using (Ajax.BeginForm("AddAmendAsbestos", "HealthAndSafety", AddAmendAsbestosOptions, new { }))
                                {
                                    <div class="row padding-bottom-5" style="display:none">
                                        <label class="control-label col-md-4"></label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(m => m.asbestosDetail.asbestosId, 0)
                                            @Html.HiddenFor(m => m.asbestosDetail.employeeId, 0)
                                            @Html.HiddenFor(m => m.asbestosDetail.createdBy, 0)
                                            @Html.HiddenFor(m => m.asbestosDetail.createdByEmployeeName, "")
                                        </div>
                                    </div>
                                    <div class="row padding-bottom-10">

                                        <div class="col-md-6 no-padding-left-right">
                                            <label class="control-label col-md-12">
                                                @Html.LabelFor(m => m.asbestosDetail.asbestosTypeId)<span class='required'> *</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(m => m.asbestosDetail.asbestosTypeId, new SelectList(Model.asbestosTypes, "Value", "Text"), "Please Select", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.asbestosDetail.asbestosTypeId)
                                            </div>
                                        </div>

                                        <div class="col-md-6 no-padding-left-right">
                                            <label class="control-label col-md-12">
                                                @Html.LabelFor(m => m.asbestosDetail.asbestosElementId)<span class='required'> *</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(m => m.asbestosDetail.asbestosElementId, new SelectList(Model.asbestosElements, "Value", "Text"), "Please Select", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.asbestosDetail.asbestosElementId)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-bottom-5">
                                        <div class="col-md-6 no-padding-left-right">
                                            <label class="control-label col-md-12">
                                                @Html.LabelFor(m => m.asbestosDetail.typeId)<span class='required'> *</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(m => m.asbestosDetail.typeId, new SelectList(Model.types, "Value", "Text"), "Please Select", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.asbestosDetail.typeId)
                                            </div>
                                        </div>
                                        <div class="col-md-6 no-padding-left-right">
                                            <label class="control-label col-md-12">
                                                @Html.LabelFor(m => m.asbestosDetail.riskLevelId)<span class='required'> *</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(m => m.asbestosDetail.riskLevelId, new SelectList(Model.riskLevels, "Value", "Text"), "Please Select", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.asbestosDetail.riskLevelId)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-bottom-5">
                                        <div class="col-md-6 no-padding-left-right">
                                            <label class="control-label col-md-12">
                                                @Html.LabelFor(m => m.asbestosDetail.addedDate)<span class='required'> *</span>
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.asbestosDetail.addedDate, Model.asbestosDetail.ModelDateFormate, new { @class = "DatePicker form-control" })
                                                @Html.ValidationMessageFor(m => m.asbestosDetail.addedDate)
                                            </div>
                                        </div>
                                        <div class="col-md-6 no-padding-left-right">
                                            <label class="control-label col-md-12">
                                                @Html.LabelFor(m => m.asbestosDetail.removedDate)
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.asbestosDetail.removedDate, new { @class = "DatePicker form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-bottom-5">
                                        <div class="col-md-12 no-padding-left-right">
                                            <label class="control-label col-md-12">
                                                @Html.LabelFor(m => m.asbestosDetail.notes)
                                            </label>
                                            <div class="col-md-12">
                                                @Html.TextAreaFor(m => m.asbestosDetail.notes, 3, 3, new { @maxlength = "1000", @class = "form-control asbestosDetail" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-bottom-5">
                                        <div class="col-md-4">
                                            @Html.LabelFor(m => m.asbestosDetail.isUrgentActionRequired)
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Yes @Html.RadioButtonFor(m => m.asbestosDetail.isUrgentActionRequired, true, new { @id = "isUrgentActionRequiredYes" })
                                                    No @Html.RadioButtonFor(m => m.asbestosDetail.isUrgentActionRequired, false, new { @id = "isUrgentActionRequiredNo", @checked = "checked" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-bottom-5">
                                        <label class="control-label col-md-4"></label>
                                        <div class="col-md-7"></div>
                                    </div>
                                    <div class="row padding-bottom-5">
                                        <label class="control-label col-md-4"></label>
                                        <div class="col-md-7"></div>
                                    </div>
                                    <div class="row padding-bottom-5">
                                        <div class="col-md-12">
                                            <input class="btn btn-white btn-xs pull-right " type="button" id="resetAsbestos" value="Reset" style="width:60px;" onclick="$(this).resetValidation()">
                                            <input class="btn btn-white btn-xs pull-right" type="submit" id="amendAsbestos" value="Amend" disabled="disabled" style="margin-right: 5px; width:60px;">
                                            <input class="btn btn-white btn-xs pull-right" type="submit" id="saveAsbestos" value="Add" style="width:60px; margin-right:5px;">                                            
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @*Upload Document*@
            <div class="col-md-12">
                <div class="row" id="divAddDocument">
                    <div class="portlet-black">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="col-md-12">
                                    <div class="row portlet-black-head">
                                        <div class="col-md-12" ><h5 style="font-weight:bold;"> Add a Document </h5></div>
                                    </div>
                                    <div class="row portlet-black-body" style="background-color: #F0F0F0; border-color:#C5BAA1">
                                        <div class="col-md-12">
                                            @using (Ajax.BeginForm("AddDocument", "HealthAndSafety", options, new { id = "frmDocumentDetail", enctype = "multipart/form-data" }))
                                            {
                                                <div class="row padding-bottom-5">
                                                    <div class="col-md-6 no-padding-left-right">
                                                        <label class="control-label col-md-12">
                                                            @Html.LabelFor(m => m.asbestosDocument.documentCategory)<span class='required'> *</span>
                                                        </label>
                                                        <div class="col-md-12">
                                                            @Html.DropDownListFor(m => m.asbestosDocument.documentCategory, new SelectList(Model.documentCategories, "Value", "Text"), new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.asbestosDocument.documentCategory)
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 no-padding-left-right">
                                                        <label class="control-label col-md-12">
                                                            @Html.LabelFor(m => m.asbestosDocument.documentTypeId)<span class='required'> *</span>
                                                        </label>
                                                        <div class="col-md-12">
                                                            @Html.DropDownListFor(m => m.asbestosDocument.documentTypeId, new SelectList(Model.documentTypes, "Value", "Text"), new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.asbestosDocument.documentTypeId)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row padding-bottom-5">
                                                    <div class="col-md-12 no-padding-left-right">
                                                        <label class="control-label col-md-12">
                                                            @Html.LabelFor(m => m.asbestosDocument.documentSubTypeId)<span class='required'> *</span>
                                                        </label>
                                                        <div class="col-md-12">
                                                            @Html.DropDownListFor(m => m.asbestosDocument.documentSubTypeId, new SelectList(Model.documentSubTypes, "Value", "Text"), "Please Select", new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.asbestosDocument.documentSubTypeId)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row padding-bottom-5">
                                                    <div class="col-md-6 no-padding-left-right">
                                                        <label class="control-label col-md-12">
                                                            @Html.LabelFor(m => m.asbestosDocument.documentDate, new { @class = "control-label " })<span class='required'> *</span>
                                                        </label>
                                                        <div class="col-md-12">
                                                            @Html.TextBoxFor(m => m.asbestosDocument.documentDate, new { @class = "DatePicker form-control" })
                                                            <span class="">@Html.ValidationMessageFor(m => m.asbestosDocument.documentDate)</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 no-padding-left-right">
                                                        <label class="control-label col-md-12">
                                                            @Html.LabelFor(m => m.asbestosDocument.expiryDate, new { @class = "control-label " })<span class='required'> *</span>
                                                        </label>
                                                        <div class="col-md-12">
                                                            @Html.TextBoxFor(m => m.asbestosDocument.expiryDate, new { @class = "DatePicker form-control" })
                                                            <span class="">@Html.ValidationMessageFor(m => m.asbestosDocument.expiryDate)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row padding-bottom-5">
                                                    <div class="col-md-12 no-padding-left-right">
                                                        <label class="control-label col-md-12">
                                                            @Html.LabelFor(m => m.asbestosDocument.keywords)
                                                        </label>
                                                        <div class="col-md-12">
                                                            @Html.TextAreaFor(m => m.asbestosDocument.keywords, 3, 3, new { @maxlength = "255", @class = "form-control asbestosDetail" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @Html.TextBoxFor(m => m.asbestosDocument.file, new { type = "file" })    
                                                        @Html.ValidationMessageFor(m => m.asbestosDocument.file) 
                                                    </div>
                                                </div>
                                                <div class="row padding-bottom-5">
                                                    <div class="col-md-12">                                                                                                          
                                                        <input class="btn btn-white btn-xs pull-right " type="button" id="resetDocument" value="Reset" style="width:60px;" onclick="$(this).resetValidation()">
                                                        <input class="btn btn-white btn-xs pull-right" type="submit" id="saveDocument" value="Save" style="margin-right: 5px; width:60px;">
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Asbestos Listing*@
<div class="row padding-bottom">
    <div class="row">
        <div id="webgrid" class="grid-border table-head-black">
            @Html.Partial("~/Views/Property/HealthAndSafety/_AsbestosListing.cshtml", Model.asbestosList)
        </div>

        @*<div class="listing-Container grid-border table-head-black">
    </div>*@
    </div>
</div>

@*Script*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/unobtrusive")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/modernizr")

<script type="text/javascript">

    (function () {
        $(".DatePicker").datepicker({
            showAnim: "blind",
            dateFormat: 'dd/mm/yy',
            yearRange: '1900:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'button',
            buttonImage: '@Url.Content("~/Content/images/calendar.png")',
            buttonImageOnly: true,
        });

        $.validator.methods.date = function (value, element) {
            // /^\d{4}[\/\-](0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])$/.test( value );
            //old   (/^\d{1,2}[\/-]\d{1,2}[\/-]\d{4}(\s\d{2}:\d{2}(:\d{2})?)?$/.test(value)
            var valadsasd = this.optional(element) || (/^\d{1,2}[\/-]\d{1,2}[\/-]\d{4}(\s\d{2}:\d{2}(:\d{2})?)?$/.test(value)
                    && !/Invalid|NaN/.test(new Date(value.substr(6, 4) + '-' + value.substr(3, 2) + '-' + value.substr(0, 2))));
            return valadsasd;
        }

        SetupDocumentEventHandlers();


        //jQuery.validator.unobtrusive.adapters.add('requiredif', ['other'], function (options) {

        //    var getModelPrefix = function (fieldName) {
        //        return fieldName.substr(0, fieldName.lastIndexOf('.') + 1);
        //    }

        //    var appendModelPrefix = function (value, prefix) {
        //        if (value.indexOf('*.') === 0) {
        //            value = value.replace('*.', prefix);
        //        }
        //        return value;
        //    }

        //    var prefix = getModelPrefix(options.element.name),
        //        other = options.params.other,
        //        fullOtherName = appendModelPrefix(other, prefix),
        //        element = $(options.form).find(':input[name="' + fullOtherName + '"]')[0];

        //    options.rules['requiredif'] = element;
        //    if (options.message) {
        //        options.messages['requiredif'] = options.message;
        //    }
        //});

        //jQuery.validator.addMethod('requiredif', function (value, element, params) {
        //    var otherValue = $(params).val();
        //    if (otherValue != null && otherValue != '') {
        //        return true;
        //    }
        //    return value != null && value != '';
        //}, '');
    })();

    $.fn.resetValidation = function () {
        debugger;
        event.preventDefault();
        var $form = this.closest('form');
        //reset jQuery Validate's internals
        $form.validate().resetForm();
        $form[0].reset();
        //reset unobtrusive validation summary, if it exists
        $form.find("[data-valmsg-summary=true]")
            .removeClass("validation-summary-errors")
            .addClass("validation-summary-valid")
            .find("ul").empty();
        //reset unobtrusive field level, if it exists
        $form.find("[data-valmsg-replace]")
            .removeClass("field-validation-error")
            .addClass("field-validation-valid")
            .empty();

        //$('#asbestosDetail_asbestosId').val(0);
        //$('#asbestosDetail_employeeId').val(0);
        //$('#asbestosDetail_createdBy').val(0);
        //$('#asbestosDetail_createdByEmployeeName').val('');

        //$('#asbestosDetail_asbestosTypeId').val("0");
        //$('#asbestosDetail_asbestosElementId').val("0");
        //$('#asbestosDetail_typeId').val("0");
        //$('#asbestosDetail_riskLevelId').val("0");
        //$('#asbestosDetail_addedDate').val('');
        //$('#asbestosDetail_removedDate').val('');
        //$('#asbestosDetail_notes').val('');
        //$('input:radio[id=isUrgentActionRequiredNo]').prop('checked', true);

        if ($form.find('#saveAsbestos').val() != undefined) {
            $('#saveAsbestos').prop('disabled', false);
            $('#amendAsbestos').prop('disabled', true);
            $('#resetAsbestos').prop('disabled', false);
        }

        return $form;
    };

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("SearchAsbestos", "HealthAndSafety", new { id = ViewContext.RouteData.Values["id"] })' + queryString;
        $("#webgrid").load(requestUrl);
    }

    function OnSuccessAsbestos(response) {

        $('#loader').hide();

        if (response == "Asbestos is saved successfully.") {
            popupMessage('message', 'msgResponse', response, 'success');
            setTimeout(function () {
                location.reload();
            }, 2000);

        } else {
            popupMessage('message', 'msgResponse', response, 'failure');
        }
    }
    function OnBeginAsbestos() {

        $('#loader').show();

        var fromDate = $('#asbestosDetail_addedDate').val();
        var toDate = $('#asbestosDetail_removedDate').val();

        var isValid = true;
        var errorMsg = '';

        if (!isDate(fromDate))
        {
            errorMsg = "You have entered an invalid date for Added Date.\nPlease re-enter in the format dd/mm/yyyy.";
            isValid = false;
        } else if (toDate)
        {

            if (!isDate(toDate)) {
                errorMsg = "You have entered an invalid date for Removed Date.\nPlease re-enter in the format dd/mm/yyyy.";
                isValid = false;
            } else {

                var job_start_date = fromDate.split('/');
                var job_end_date = toDate.split('/');

                var new_start_date = new Date(job_start_date[2], job_start_date[1] - 1 , job_start_date[0]);
                var new_end_date = new Date(job_end_date[2], job_end_date[1] - 1, job_end_date[0]);

                if (new_end_date <= new_start_date) {
                    errorMsg = 'Removed Date should be greater than Added Date';
                    isValid = false;
                }
                
            }
        }

        if (!isValid) {
            $('#loader').hide();
            popupMessage('message', 'msgResponse', errorMsg, 'failure');
        } 

        return isValid;
    }

    function isDocumentsDateValid() {

        var fromDate = $('#asbestosDocument_documentDate').val();
        var toDate = $('#asbestosDocument_expiryDate').val();

        var isValid = true;
        var errorMsg = '';

        if (!isDate(fromDate)) {
            errorMsg = "You have entered an invalid date for Document Date.\nPlease re-enter in the format dd/mm/yyyy.";
            isValid = false;
        } else if (!isDate(toDate)) {
            errorMsg = "You have entered an invalid date for Expiry Date.\nPlease re-enter in the format dd/mm/yyyy.";
            isValid = false;
        }

        if (!isValid) {
            popupMessage('message', 'msgResponse', errorMsg, 'failure');
        }

        return isValid;
    }

    function DaysArray(n) {
        for (var i = 1; i <= n; i++) {
            this[i] = 31
            if (i == 4 || i == 6 || i == 9 || i == 11) { this[i] = 30 }
            if (i == 2) { this[i] = 29 }
        }
        return this
    }

    function daysInFebruary(year) {
        // February has 29 days in any year evenly divisible by four,
        // EXCEPT for centurial years which are not also divisible by 400.
        return (((year % 4 == 0) && ((!(year % 100 == 0)) || (year % 400 == 0))) ? 29 : 28);
    }

    function stripCharsInBag(s, bag) {
        var i;
        var returnString = "";
        // Search through string's characters one by one.
        // If character is not in bag, append to returnString.
        for (i = 0; i < s.length; i++) {
            var c = s.charAt(i);
            if (bag.indexOf(c) == -1) returnString += c;
        }
        return returnString;
    }

    function isDate(dtStr) {

        var dtCh = "/";
        var minYear = 1900;
        var maxYear = 2100;

        var daysInMonth = DaysArray(12)
        var pos1 = dtStr.indexOf(dtCh)
        var pos2 = dtStr.indexOf(dtCh, pos1 + 1)
        var strDay = dtStr.substring(0, pos1)
        var strMonth = dtStr.substring(pos1 + 1, pos2)
        var strYear = dtStr.substring(pos2 + 1)
        strYr = strYear
        if (strDay.charAt(0) == "0" && strDay.length > 1) strDay = strDay.substring(1)
        if (strMonth.charAt(0) == "0" && strMonth.length > 1) strMonth = strMonth.substring(1)
        for (var i = 1; i <= 3; i++) {
            if (strYr.charAt(0) == "0" && strYr.length > 1) strYr = strYr.substring(1)
        }
        var month = parseInt(strMonth)
        var day = parseInt(strDay)
        var year = parseInt(strYr)
        
        if (pos1 == -1 || pos2 == -1) {            
            return false
        }
        if (strMonth.length < 1 || month < 1 || month > 12) {            
            return false
        }
        if (strDay.length < 1 || day < 1 || day > 31 || (month == 2 && day > daysInFebruary(year)) || day > daysInMonth[month]) {            
            return false
        }
        if (strYear.length != 4 || year == 0 || year < minYear || year > maxYear) {            
            return false
        }
        if (dtStr.indexOf(dtCh, pos2 + 1) != -1 || isIntegerScan(stripCharsInBag(dtStr, dtCh)) == false) {            
            return false
        }
        return true
    }

    function isIntegerScan(s) {
        var i;
        for (i = 0; i < s.length; i++) {        
            var c = s.charAt(i);
            if (((c < "0") || (c > "9"))) return false;
        }
        
        return true;
    }

    function OnFailureAsbestos(response) {
        $('#loader').hide();
    }

    function SetupDocumentEventHandlers()
    {
        $('#saveDocument').on('click', function () {
            event.preventDefault();
            var form = $('#frmDocumentDetail');
            $.validator.unobtrusive.parse(form);
            form.validate();
            var dataString;
            if (form.valid() && isDocumentsDateValid()) {
                var action = $("#frmDocumentDetail").attr("action");

                if ($("#frmDocumentDetail").attr("enctype") == "multipart/form-data") {
                    dataString = new FormData($("#frmDocumentDetail").get(0));
                    contentType = false;
                    processData = false;
                }

                $.ajax({
                    type: "POST",
                    url: action,
                    data: dataString,
                    dataType: "html",
                    contentType: contentType,
                    processData: processData,
                    success: function (response) {

                        if (response == "\"Document is saved successfully.\"") {
                            popupMessage('message', 'msgResponse', response, 'success');
                            setTimeout(function () {
                                location.reload();
                            }, 3000);
                            
                        } else {
                            popupMessage('message', 'msgResponse', 'Unable to save document', 'failure');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        popupMessage('message', 'msgResponse', "Unable to Upload document", 'failure');
                    }
                });
            }
        });
    }

</script>
