﻿/**
 * Please only add styles default for whole site to this file.
 * Styles for specific class/purpose should be added to a separate file
 * Before adding style in this file, please look in normalize.css to void code repetition 
 */


/* HTML - Most top level
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.  
 */
html
{
    font-family: Times New Roman; /*; /* 1 */
}
/* Tables
   ========================================================================== */
/* Set Default values for tables, header/data cells */
table, th, td
{
    border: 0px none rent;
}
.mainContainer
{
    width: 98%;
    border: 1px solid #BBBBBB;
    padding: 10px;
    float: left;
}

input
{
    border: 1px solid Gray;
    font-size: 12px;
    padding: 2px;
}
/* hidden field 
   ========================================================================== */
/**
 * Use this class to make an item invisible on the page, 
 * and the field will not take any space of page.
 */
.hiddenField
{
    display: none;
}

/* General Classes
   ========================================================================== */
/**
 * Use this class to make any text/tag contents bold, 
 * kindly do not add any more styles other than bold in this class selector.
 */
.bold
{
    font-weight: bold;
}

/**
 * Use this class to clear left/right float.
 */
.clear
{
    clear:both;
}