﻿/**
 * Please only add styles related to job sheet summary in this file.
 * It is recommended to add this file only on job sheet page, not in a master page.
 */
body
{
 font-family:Tahoma; 
 font-size:12px;  
    }
.modalBackground
{
    background-color: White;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.leftControl
{
    float: left;
    margin-left: 5px;
}

.rightControl
{
    float: right;
    margin-right: 5px;
}
.itemPhoto
{
    width: 167px;
    height: 160px;    
    margin: 8px;
    font-size: small;
}

.modalPopupImage
{
    background-color: #ffffdd;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;    
}

.imgDynamicImage
{
    height:530px;
}

/* This is a general tab style for all tables, th and td in job sheet(specific page). */
table, th, td
{
    border: 0px none transparent;
    border-collapse:collapse;
    vertical-align: top;
}

.jobsheet_detail_table
{
    width: 100%;
    margin-top: 10px;
}
.jobsheet_detail_table, .jobsheet_detail_table tr th, .jobsheet_detail_table tr td
{
    border-spacing: 2px;
    padding: 5px;
}

.jobsheet_detail_table tr th:nth-child(1):not([colSpan]), .jobsheet_detail_table tr td:nth-child(1):not([colSpan])
{
    width: 125px;
}

.asbestosGrid, .asbestosGrid td, .asbestosGrid th, .activityGrid, .activityGrid td, activityGrid th
{
    border-spacing:3px;
    padding: 0px;    
}

.asbestosGrid tr th:nth-child(n+1), .asbestosGrid tr td:nth-child(n+1)
, .activityGrid tr th:nth-child(n+1), .activityGrid tr td:nth-child(n+1)
{
    padding-left:8px;
}

/* ================================== 
 * Page Header styles
 * ================================== */
.header-Popup
{
    background-color: #e51837;
    height: 50px;
    width: 100%;
    margin-left: -5px;
}

.header_box
{
    position: relative;
    float: right;
    background-color: inherit;
    margin-right: 25px;
    border: 2px solid white;
    top: 15px;
    height: 70px;
    width: 70px;
}
.header_label
{
    position: relative;
    float: left;
    padding-left: 20px;
    width: 50%;
    text-align: left;
    font-family: Arial;
    color: White;
    font-size: 16px;
}