.iagManager {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; color: #FFFFFF}
.iagManagerBody { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #FFFFFF }
.iagManagerFormBody { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #656678}
.iagManagerFormBodyCopy { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #656678 ; border-color: #656678 black}
.Printout {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #000000}
.PrintTitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000}
.iagManagerbigblue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; color: #656678}
.iagManagerFormBodyBig { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; color: #656678 }
.iagbox {
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #63657B;
	text-align: right;


}
.iagManagerSmall {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #FFFFFF
}
.iagManagerButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #656678;
	background-color: #FFFFFF;

}
.ThinLineR {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9287AE;


}
.ThinLineB {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9287AE;


}
.ThinLineL {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9287AE;

}
.iagManagerSmallBlk {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;

}
.iagTickBox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 6pt;
	font-style: normal;
	line-height: 3px;
	font-weight: lighter;
	color: #E5B877;
	cursor: hand;

}
.ThinLineT {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9287AE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;


}
.iagTitleWhite {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: lighter; color: #FFFFFF; text-decoration: none;
}
.ThinLineLnB {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9287AE;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9287AE;

}
.iagManagerFormBodyRight { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #656678 ; border-color: #656678 black }
.iagButton {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; background-color: #7E729E; border: 1px #F4F3F7 ridge; color: #FFFFFF; cursor: hand}
.calText {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal}
.calTextLge { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal }
.calTextSml { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal }
.iagManagerTable { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #000000}
.iagManagerSmallBlue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #0000CC; text-decoration: none; }
.iagManagerClearBox {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; border: #FFFFFF}
.iagManagerTableLge { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; color: #000000 }
.iagButtonSmall { font-size: 9px; font-style: normal; background-color: #7E729E; border: 1px #F4F3F7 ridge; color: #FFFFFF; cursor: hand ; font-family: Tahoma, Arial; font-weight: normal}
.iagManagerSmallBlink {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}

.maleBox {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; color: #000000; background-color: #E2F1FE; border: #000000; border-top-width: thin; border-right-width: thin; border-bottom-width: thin; border-left-width: thin; text-align: right}
.femaleBox {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; color: #000000; background-color: #F9EAFD; border: thin #000000; text-align: right}
.blankbox {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; color: #9999CC; background-color: #FFFFFF; border: #FFFFFF; border-top-width: thin; border-right-width: thin; border-bottom-width: thin; border-left-width: thin}
body {  background-repeat: no-repeat; background-position: left top; background-attachment: fixed; background-image: url(../images/demoDemo.jpg)}
.iagManagerSmallWht { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; }
.rrTop {  font-family: Arial; font-size: 14px; font-style: normal; line-height: normal; text-transform: none}
.rrHeading { font-family: Arial; font-size: 16px; font-style: normal; line-height: normal; text-transform: capitalize ; font-weight: normal}
.rrSmall { font-family: Arial; font-size: 12px; font-style: normal; line-height: normal; text-transform: none }
.rrButton { font-family: Arial; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; color: #000000; background-color: #FFFFFF; ; border: thin solid; border-color: #000033 #000000 #000000}
.rrButtonBig { font-family: Arial; font-size: 18px; font-style: normal; line-height: normal; font-weight: normal; color: #FF0000; background-color: #FFFFFF; ; border: thin #000000 solid}
.rrLargeBox {  font-family: Arial; font-size: 16px; color: #000000; background-color: #FFFFFF; border: thin #000000 solid; text-transform: uppercase; padding-left: 5px}
