﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FirstDetectionCount.ascx.cs" Inherits="Am.Ahv.Website.controls.dashboard.FirstDetectionCount" %>

 
        <asp:Panel ID="pnlMessage" runat="server" Visible="false">
                        <asp:Label ID="lblMessage" runat="server"></asp:Label>
         </asp:Panel>
        
        <asp:UpdatePanel ID="updateFirstDetectionsCount" runat="server" UpdateMode ="Conditional">
        <ContentTemplate>
                <asp:Label ID="lblFirstDetectionCount" runat="server" CssClass = "dashboardBigNumbersUP"></asp:Label>  
         </ContentTemplate>
    </asp:UpdatePanel>
 


