
/* CSS Document */

.wrapper
{
    width: 100%;
    height: auto;
    margin: auto;
}

.main_div
{
    width: 100%;
    min-height: 500px;
}
.dashboard .container
{
    width: 99.7%;
    margin-left: 4px;
}
.r_main_div
{
    width: 100%;
    min-height: 500px;
}

.left_part
{
    float: left;
    width: 50%;
    min-height: 400px;
    background-color: #FFFFFF;
    margin-top: 10px;
    /* margin-left: 13px; */
}
.left-boxes{
    width:100%;
    float:left;
}
.middle_part
{
    float: left;
    background-color: #FFFFFF;
    margin-left: 0px;
    margin-bottom: 5px;
    width: 99% !important;
    overflow:auto;
}

.right_part
{
    margin-top: 10px;
    float: left;
    width: 50%;
    min-height: 400px;
    background-color: #FFFFFF;
}
.right_Panel
{
    float: left;
    width: 50%;
    min-height: 400px;
    background-color: #FFFFFF;
}
.right_Box
{
    float: left;
    width: 400px;
    min-height: 400px;
    background-color: #FFFFFF;
}
.outer_select_div
{
    border: 1px solid #999999;
    border-top: 15px solid #2e292b;
    width: 498px;
    min-height: 100px;
}
/*.select_div
{
    width: 480px;
    padding: 10px;
    min-height: 13px;
}
.select_div select
{
    width: 250px !important;
}

.label
{
    float: left;
    padding-left: 19px;
    width: 165px;
    font: "myriad Pro";
    font-size: 15px;
}
.field
{
    float: left;
    margin-left: 20px;
    width: 275px;
}*/
.outer-boxes
{
    width: 100%;
    /*min-height: 194px;*/
}
.outer-boxes-CallToAction
{
    width: 100%;
    min-height: 120px;
    margin-right: 20px;
    margin-bottom: 5px;
}
.cover-box
{
    margin: 1px 5px;
}
.box
{
    /*width: 157px;
    height: 126px;
    float: left;
    background-image: url(../Images/Dashboard/bg-box.png);
    background-repeat: no-repeat;*/

    width: 152px;
    height: 110px;
    float: left;
    background: #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0px 9px 0px 0px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 1px #3d3d3d;
    -moz-box-shadow: 0px 0px 1px #3d3d3d;
    -webkit-box-shadow: 0px 0px 1px #3d3d3d;
}
.box-red
{
    /*width: 157px;
    height: 126px;
    float: left;
    background-image: url(../Images/Dashboard/bg-box.png);
    background-repeat: no-repeat;*/

    width: 152px;
    height: 110px;
    float: left;
    background: #e51937;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0px 9px 0px 0px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 1px #3d3d3d;
    -moz-box-shadow: 0px 0px 1px #3d3d3d;
    -webkit-box-shadow: 0px 0px 1px #3d3d3d;
}

.box-large
{
    /*width: 248px;
    height: 193px;
    float: left;
    background-image: url(../Images/Dashboard/bg-box1.png);
    background-size: 245px 170px;
    background-repeat: no-repeat;*/

    width: 46%;
    height: 174px;
    float: left;
    background: #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 10px 14px 0px 0px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 1px #3d3d3d;
    -moz-box-shadow: 0px 0px 1px #3d3d3d;
    -webkit-box-shadow: 0px 0px 1px #3d3d3d;
}

.text-large
{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    color: #FFFFFF;
    margin-top: 23px;
}

.number-large
{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    color: #FF0000;
    font-size: 80px;
    font-family: "myriad Pro";
}

.img-box
{
    width: 145px;
    height: 112px;
    float: left;
    background-image: url(../Images/Dashboard/r-bg-box.png);
    background-repeat: no-repeat;
    margin: 5px;
}
.img-box-red
{
    width: 140px;
    height: 112px;
    float: left;
    background-image: url(../Images/Dashboard/box_red.png);
    background-repeat: no-repeat;
}
.img-box-redRelet
{
    width: 145px;
    height: 112px;
    float: left;
    background-image: url(../Images/Dashboard/box_red.png);
    background-repeat: no-repeat;
    margin: 5px;
}
.sep1
{
    float: left;
    height: 200px;
    width: 40px;
}
.text
{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}
.number
{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    color: #FF0000;
    font-size: 45px;
    font-family: "myriad Pro";
   
}
.number-faults
{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    color: #FFFFFF;
    font-size: 45px;
    font-family: "myriad Pro";
   
}
.number-loading
{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    margin-top: 0px;
    display: none;
}
.number-loading-Void
{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    margin-top: -20px;
    display: none;
}
.Loding-Image-Dashboard
{
    width: 50px;
    height: 50px;
}


.Loding-Image-VoidDashboard
{
    width: 50px;
    height: 50px;
    margin-top: -50px;
}
.arrow
{
    float: left;
    height: auto;
    margin-top: -10px;
    text-align: right;
    width: 91%;
    cursor: pointer;
}
.r-arrow
{
    float: left;
    height: auto;
    margin-top: -10px;
    text-align: right;
    width: 91%;
    cursor: pointer;
}

.box-left
{
    float: left;
    width: 230px;
    min-height: 200px;
}
.boxborder-s
{
    background-image: url("../Images/Dashboard/top.jpg");
    background-repeat: no-repeat;
    color: white;
    float: left;
    font-size: 16px;
    height: 39px;
    padding-left: 23px;
    padding-top: 12px;
    width: 230px;
    font-family: "myriad Pro";
}
.boxborder-s-right {
    color: white;
    font-size: 15px;
    font-family: Tahoma;
    background: #e51937;
    padding: 12px 12px 24px 12px;
    border-radius: 10px 10px 0 0;
    font-weight: 600;
    margin-bottom: 2px;
}
.box-s
{
    /*background-image: url("../Images/Dashboard/in.png");
    float: left;
    min-height: 157px !important;
    width: 230px;*/

    font-weight: 300;
    min-height: 171px !important;
}
.boxborder-bottom-s
{
    width: 100%;
    float: left;
    background-image: url(../Images/Dashboard/bottom.png);
    height: 22px;
    background-repeat: no-repeat;
}
.boxborder-bottom-s-b
{
    width: 430px;
    float: left;
    background-image: url(../Images/Dashboard/bottom-b.png);
    height: 28px;
    background-repeat: no-repeat;
}
.text_div
{
    width: 200px;
    padding: 10px;
    min-height: 2px;
}
.label-text
{
    float: left;
    padding-left: 11px;
    width: 45px;
    font-size: 14px;
    font-family: "myriad Pro";
    font-weight: bolder;
}
.label-collon
{
    float: left;
    width: 17px;
    font-size: 14px;
    text-align: center;
    font-weight: bolder;
}
.label-text-r
{
    float: left;
    width: 120px;
    font-family: "myriad Pro";
    font-size: 14px;
    font-weight: 900;
}
.box-left-b
{
    background: #e8e8e8;
    margin: 10px 0 0 1px;
    border-radius: 10px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 1px #3d3d3d;
}

.box-left-operative
{
    float: left;
    height: auto;
    width: 430px;
}

.box-left-operative-content
{
    float: left;
    width: 300px;
}

.box-left-operative-map
{
    float: left;
    min-height: 400px;
    width: 400px;
    margin-top: 20px;
}

.boxborder-s-b
{
    background-image: url("../Images/Dashboard/top-b.png");
    background-repeat: no-repeat;
    color: white;
    float: left;
    font-size: 16px;
    height: 35px;
    padding-left: 23px;
    padding-top: 12px;
    width: 430px;
    font-family: "myriad Pro";
}
.box-s-b
{
    background-image: url("../Images/Dashboard/in-b.png");
    float: left;
    min-height: 410px !important;
    width: 430px;
}

.select_div-b
{
    min-height: 13px;
}


.label-b
{
    float: left;
    padding-left: 0px;
    width: 176px;
    font-size: 15px;
    font-family: Tahoma;
    font-weight: bolder;
}
.field-b
{
    float: left;
    margin-left: 20px;
    width: 160px;
}
.inner-box-b
{
    margin-left: 17px;
    min-height: 300px;
    width: 386px;
    border-bottom: 2px solid #000000;
    min-height: 416px;
}
.titles
{
    border-bottom: 2px solid #000000;
    min-height: 28px;
    width: 386px;
}
.titles-heading
{
    min-height: 28px;
    float: left;
    width: 33%;
    text-align: left;
    font-weight: bold;
}
.titles-in
{
    min-height: 28px;
    width: 386px;
    float: left;
}

.titles-heading-in
{
    min-height: 28px;
    float: left;
    width: 33%;
    text-align: left;
}

.paging
{
    min-height: 28px;
    width: 386px;
    margin-left: 24px;
}
.paging-content
{
    min-height: 28px;
    float: left;
    width: 32%;
    text-align: left;
    font-weight: bold;
}

.disable-link
{
    pointer-events: none;
    cursor: default;
    color: gray;
}

.enable-link
{
    pointer-events: auto;
    cursor: pointer;
    color: blue;
}

.gridfaults-header
{
    font-weight: normal;
    font-size: 13px;
    border-bottom: 1px solid #BBB !important;
    border-left: 1px solid #BBB !important;
    border-right: 1px solid #BBB !important;
}
.dashboard, .dashboard td {
    padding: 5px 14px 5px 10px !important;
}
.dashboard, .dashboard th {
    padding: 10px 14px 10px 10px !important;
}
.dashboard th{
    background: #000;
}
.dashboard th a{
    color: #fff;
}
table.dashboard {
    margin:0 !important;
}