﻿a
{
    text-decoration: none;
}


html
{
    font-family: Tahoma; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-size: 12px;
}
.pdr-wrap
{
    width: 50%;
    border: 1px solid #000;
    font-size: 13px;
    height: Auto;
}

.pdr-wrap-header
{
    width: 95%;
    border: 1px solid #000;
    font-size: 13px;
    height: 50px;
    margin-bottom: 5px;
}
.pdr-wrap .title-bar
{
    padding: 7px 5px;
    height: Auto;
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.pdr-wrap .data-panels
{
    padding: 10px;
    height: Auto;
}

td
{
    font-weight: normal;
   /* margin-left: 240px;*/
}

#txtLandValue 
{ 
    width:70px 
}


.pdr-wrap-grid
{
    width: 60%;
    border: 1px solid #000;
    font-size: 13px;
    height: Auto;
    padding: 20px;
}

.pdr-wrap-Rentgrid
{
    width: 100%;
    border: 1px solid #000;
    font-size: 13px;
    height: 400px;
    padding: 20px;
    overflow: auto;
    margin-bottom: 10px;
}
.pdr-wrap-PropertyDetailGrid
{
    width: 97%;
    font-size: 13px;
    height: Auto;
    padding: 20px;
    overflow: auto;
    margin-bottom: 10px;
}

.pdr-wrap-Terriergrid
{
    width: 99%;
    border: 1px solid #000;
    font-size: 13px;
    height: Auto;
    padding: 2px;
    margin-bottom: 10px;
    float: left;
    margin-top: 5px;
}

.pdr-wrap-Rentgrid-AssetTypeDetail
{
    width: 100%;
    border: 1px solid #000;
    font-size: 13px;
    height: 400px;
    padding: 20px;
    overflow: auto;
    margin-bottom: 10px;
}
.searchbox
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #8e8e8e;
    background-color: #f5f5f5;
    height: 16px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 28px;
    color: #4a4a4a;
    float: left;
    background-image: url('../images/glass22x22.png');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 22px;
}

.searchText
{
    color: Gray;
    font-style: italic;
    padding-left: 10px;
}
.pdr-Button
{
    color: #000;
    font-family: Verdana, Arial, Helvetica;
    background-color: #FFFFFF;
    border: 1px #000 solid;
    cursor: pointer;
    margin-left: 10px;
}

.pdr-TextBox
{
    font-size: 13px;
    background-color: #FFFFFF !important;
    border: 1px #000 solid !important;
    width: 245px !important;
}
.pdr-DateTextBox
{
    font-size: 13px;
    background-color: #FFFFFF;
    border: 1px #000 solid;
    width: 200px;
}
.pdr-SelectDropDodwn
{
    font-size: 13px;
    background-color: #FFFFFF;
    border: 1px #000 solid;
    width: 250px;
}
.table-head
{
    border-bottom: 1px solid #000;
    text-decoration: none;
}
.table-body
{
    margin-left: 5px;
    margin-right: 5px;
}
.table-head-border-style
{
    border: 1px solid #000;
    text-decoration: none;
}
.table-head-bottom-border-style
{
    border-bottom: 1px solid #000;
    text-decoration: none;
}
.pdr-rentanalysis-popup
{
    width: 95%;
    float: left;
    max-height: 500px;
}

.pdr-rentanalysis-panel
{
    width: 70%;
    padding: 10px;
    float: left;
    border: 1px solid #BBBBBB;
    max-height: 560px;
}
.pdr-wrap-Dashboard-Content
{
    width: 100%;
    font-size: 13px;
    height: Auto;
    float: left;
    margin-left: -5px;
}
.pdr-wrap-Dashboard-left
{
    width: 35%;
    font-size: 13px;
    height: Auto;
    padding: 5px;
    float: left;
}
.pdr-wrap-Dashboard-right
{
    width: 60%;
    font-size: 13px;
    height: Auto;
    padding: 5px;
    float: left;
    margin-left: 10px;
}
.pdr-wrap-Dashboard
{
    width: 100%;
    border: 1px solid #000;
    font-size: 13px;
    max-height: 300px;
    float: left;
    min-height: 100px;
    margin-bottom: 10px;
    padding: 5px;
    overflow:auto;
}

.pdr-wrap-Dashboard-CRM
{
    width: 100%;
    border: 1px solid #000;
    font-size: 13px;
    max-height: 400px;
    float: left;
    min-height: 150px;
    margin-bottom: 10px;
    overflow:auto;
}

/*Document Tab CSS Start Here*/
.pm-lbox
{
    border: 1px solid #000;
    float: left;
    margin-top: 5px;
    margin-left: 2px;
    padding: 10px;
    width: 400px;
}
.pm-lbox-financial
{
    border: 1px solid #000;
    float: left;
    margin-top: 5px;
    width: 400px;
}
.pm-lboxCurrent
{
    border: 1px solid #000;
    float: left;
    margin-top: 5px;
    margin-left: 2px;
    padding: 10px;
    width: 100%;
}

.pm-lbox .title-bar
{
    padding: 5px 10px;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
}

.pm-lbox .add-form
{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.pm-lbox .add-form .frow
{
    margin: 10px 0px;
}

.pm-lbox .add-form .title
{
    width: 50px;
    margin-right: 20px;
    float: left;
    line-height: 25px;
}

.pm-lbox .add-form .input-area
{
    width: 200px;
    float: left;
    
}

.pm-lbox .add-form .input-area .input
{
    width: 200px;
    padding: 5px;
    border: 1px solid #000;
    height: 15px;
}

.pm-lbox .add-form .input-area .selectval
{
    width: 210px;
    border: 1px solid #000;
    height: 30px;
    padding: 5px;
    width: 210px;
}

.pm-lbox .add-form .input-area .upload
{
    border: 1px solid #000;
    height: 25px;
    padding: 5px;
    width: 200px;
}

.pm-lbox .add-form .input-area .txtarea
{
    width: 200px;
    padding: 5px;
    border: 1px solid #000;
    height: 70px;
}

.pm-lbox .add-form .btn, .pm-rbox .btn
{
    width: 70px;
    border: 1px solid #000;
    height: 25px;
    line-height: 25px;
    background-color: #fff;
    float: right;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

.pm-rbox .gobtn
{
    width: 40px;
}

.pm-rbox
{
    width: 850px;
    border: 1px solid #000;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    float: left;
}

.pm-rbox .tabdata
{
    padding: 5px;
}


.pm-rbox .hrow
{
    border-bottom: 1px solid #000;
    font-weight: bold;
}

.pm-rbox .pagrow
{
    border-top: 1px solid #000;
    padding: 5px;
}


.pm-rbox .pagrow .pageno
{
    width: 30px;
    height: 20px;
}

.clear
{
    clear: both;
}


.table-head
{
    border-bottom: 1px solid #000;
}

.left-form-label
{
    float: left;
}

.left-form-field
{
    float: right;
    margin-right: 40px;
    margin-bottom: 10px;
}

.left-form-field input
{
    width: 150px;
}

.dd-list
{
    width: 156px;
}

.right-form-lable
{
    width: auto !important;
}

.right-form-field
{
    padding-left: 20px;
}



.right-form-field img
{
    margin-left: 10px;
}
/*Document Tab CSS End Here*/


.dynamicTextBox
{
    margin-left: 20px;
    width: 150px;
}
.dynamicDdl
{
    margin-left: 20px;
    width: 155px;
}
.gridHeader
{
    border-bottom: 1px solid #BBBBBB;
    border-left: 0 none #000000;
    border-right: 0 none #000000;
    border-top: 0 none #000000;
}
.itemPhoto
{
    border: 1px solid Black;
    width: 167px;
    height: 170px;
    float: left;
    margin: 8px;
    font-size: small;
}
.modalPopupImage
{
    background-color: #ffffdd;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
}
.imgDynamicImage
{
    max-height: 500px;
    max-width: 500px;
    position: relative;
}

.dynamicRadioButton
{
    margin-left: 20px;
    width: 400px;
}

/*AutoComplete flyout */
.autocomplete_completionListElement
{
    margin: 0px !important;
    background-color: inherit;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    max-height: 200px;
    font-family: Tahoma;
    font-size: small;
    text-align: left;
    list-style-type: none;
}
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
{
    background-color: #ffff99;
    color: black;
    padding: 1px;
}

/* AutoComplete item */
.autocomplete_listItem
{
    background-color: window;
    color: windowtext;
    padding: 1px;
}

.modalBackground
{
    background-color: #000000;
    filter: alpha(opacity=40);
    opacity: 0.4;
}
.modalPopup
{
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding: 15px;
    width: 80%;
}



.margin_right20
{
    margin-right: 20px;
    float: right;
}

.margin_right10
{
    margin-left: 10px;
    margin-right: 20px;
    float: left;
    padding: 0;
}
.margin_right
{
    margin-right: 2px;
    float: right;
}
.leftControl
{
    float: left !important;
    margin-right: 10px !important;
}

.rightControl
{
    float: right !important;
    margin-right: 10px !important;
}

/*sami-fixes*/
.section-devider
{
    float: left;
    width: 50%;
}

.devLeftSection-divider
{
    float: left;
    width: 45%;
}

.devRightSection-divider
{
    float: left;
    width: 55%;
}

.resltables-left input[type="text"], .resltables-left select, .table-container table tr td input[type="text"], .table-container table tr td select
{
    box-sizing: border-box;
}

.resltables-left table tr
{
    line-height: 2;
}

.resltables-right
{
    margin-bottom: 20px;
}

.resltables-right table
{
    width: 100%;
}

.table-container
{
    border: 1px solid #c5c5c5;
    padding: 10px;
    margin-top: -6px;
    margin-right: 5px;
}

.table-container table tr:first-child td
{
    /*padding-bottom:5px;*/
}

.table-container table tr
{
    /*line-height:2;*/
}

.table-container table tr td
{
     padding-left:3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.table-container table#divBlocks tr:first-child
{
    border-bottom: 1px solid;
}

.table-container table#divBlocks tr:first-child td
{
    font-weight: bold;
}

.blocks-grid td, .blocks-grid th, .blocks-grid
{
    border: none;
}

.blocks-grid td
{
    text-align: center;
}

.blocks-grid th
{
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.document-grid td, .document-grid th, .document-grid
{
    border: none;
}


.document-grid th
{
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.table-block-info tr:first-child
{
    border-bottom: 1px solid;
}


input[type="button"], input[type="submit"], input[type="reset"], input[type="file"], button
{
    border: 1px solid;
    box-shadow: none;
    background: #fff;
    color: #000;
    padding: 2px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 0 ;
    cursor: pointer;
}

#ContentPlaceHolder1_btnCancel
{
    margin-right: 15px;
}

.block-main table tr:first-child td
{
    padding-bottom: 0; /* padding-top:7px;   */
}

.block-main table tr:nth-child(2) td
{
    padding-top: 3px;
}

.block-main table tr:last-child td
{
    /* padding-bottom:20px;     padding-top:20px;*/
}

.table-container.scheme-tab-container
{
    border: none;
}

#r_content #Container .TabClicked
{
    margin-left: 0;
}

.pdr-wrap-grid table tr td, .pdr-wrap-grid table tr th
{
    text-align: center;
}

.pdr-wrap-grid table tr td:first-child, .pdr-wrap-grid table tr th:first-child
{
    text-align: left;
}

.pdr-wrap-grid table tr td a
{
    text-decoration: underline;
    color: #000;
}

.pdr-wrap-grid table tr:last-child td
{
    font-weight: bold;
    padding-top: 2px;
}



pdr-wrap-Rentgrid-AssetTypeDetail table tr td, .pdr-wrap-Rentgrid-AssetTypeDetail table tr th
{
    text-align: center;
}
.pdr-rentanalysis-popup .pdr-wrap-header
{
    width: 104.5% !important;
}

.pdr-wrap-Rentgrid-AssetTypeDetail table tr td:first-child, .pdr-wrap-Rentgrid-AssetTypeDetail table tr th:first-child
{
    text-align: left;
}

.pdr-wrap-Rentgrid-AssetTypeDetail table tr td a
{
    text-decoration: underline;
}

.pdr-wrap-Rentgrid-AssetTypeDetail tr:last-child td
{
    font-weight: bold;
    padding-top: 2px;
}

.pdr-wrap-Rentgrid-AssetTypeDetail table
{
    width: 100% !important;
}

.pdr-rentanalysis-panel
{
    padding-left: 13px !important;
}

.pdr-wrap-PropertyDetailGrid table tr td:nth-child(2), .pdr-wrap-PropertyDetailGrid table tr th:nth-child(2)
{
    text-align: left;
}

.pdr-wrap-PropertyDetailGrid table tr:last-child td
{
    font-weight: normal;
}

.pdr-wrap-PropertyDetailGrid .pdr-wrap-header
{
    width: 95% !important;
}

.clear
{
    clear: both;
}

.marginLeft20
{
    margin-left: 20px;
}

.tempB
{
    z-index : 10002;   
    position: fixed;
}

.tempB2
{
    z-index : 10003;
    position: fixed;   
}

.acenter
{
    margin: 0 auto;
}

.table-block-info tr table tr:first-child td, .table-block-info tr table tr:first-child
{
    font-weight: normal;
    text-decoration: none;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.hiddenField
{
    visibility: hidden;
}

.grid_appointment td:last-child, .grid_appointment th:last-child
{
    border-right: 1px solid #ccc;
}

.modalPopupSchedular
{
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    padding-left: 10px;
    padding: 15px;
    width: 80%;
}
.modalPopupSchedular hr
{
    background-color: #000000;
    color: #000000;
    height: 1px;
    margin: 0px;
}
.searchFaultHr
{
    border-width: 1px;
    height: 1px !important;
    margin-left: -18px !important;
    width: 105%;
    border-color: #cccc !important;
}

.pdr-wrap-PropertiesGrid
{
    width: 99%;
    border: 1px solid #000;
    font-size: 13px;
    height: Auto;
    margin-bottom: 10px;
    float: left;
    margin-top: 5px;
}
.InspectionArrangeHr
{
    border-width: 1px;
    height: 1px !important;
    margin-left: -18px !important;
    width: 410px;
    border-color: #cccc !important;
}
.TabClickedVoid
{
    float: left;
    display: block;
    padding: 4px 18px 18px 3px;
    color: Black;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 0px !important;
    border-width: 1px;
    border-color: Black;
    background-color: White;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 63px;
}
.Watermark
{
    color: Gray;
    font-style: italic;
}

.pdr-gridFooter
{
    width: 95%;
    border-top: 1px solid #000;
    font-size: 13px;
    height: 50px;
    margin-bottom: 5px;
}

.StatusInfo
{
    margin-left: 17px;
    margin-top: 5px;
}

.currentPage
{
    color: Red;
}

input[type="text"], textarea
{
    resize: none;
}

input[disabled="disabled"][type="button"]
{
    color: Gray;
}
input[disabled="disabled"][type="submit"]
{
    color: Gray;
}

/* PurchaseOrder Css */
.AcceptPurchaseOrder
{
    clear: both;
    width: 100%;
    font-weight: bold;
    padding-top: 10px;
    background-color: Black;
    color: White;
    height: 25px;
}
.ContractorTable
{
   width: 100%;
    margin:4px;
}
.TanentAdressTable
{
    width: 98%;
    border: 1px solid black;
    margin:4px;
}
.RequiredFieldDiv
{
    clear: both;
    margin-left: 2px;
    width: 89%;    
    
    margin-bottom: 3px;
    background-color: White;
    color: Black;
    height: 260px;
}
.WorkDetailsDiv
{
    clear: both;
    margin-left: 2px;
    float: left;
    width: 45%;
    background-color:#D3D3DC;    
    color: Black;
    min-height: 100px;
    height:auto;
}
.WorkEstimateTable
{
    width: 40%;
    margin-left: 100px;
    float: left;
    width: 250px;

}
.paginationDecoration
{
    background-color:#B1B1B1;
}
modalBackground
    {
        background-color:Black;
      
    }
    .modalPopup
    {
        background-color: #FFFFFF;
        border-style: solid;
        border-color: black;
       
        
    }