﻿@model F.BusinessObjects.GeneralJournal.GeneralJournalTemplateListResponse
@{
    ViewBag.Title = "General Journal List";
    var gridJournalTemplates = new WebGrid(canPage: false, canSort: false);
    gridJournalTemplates.Bind(Model.templateList, autoSortAndPage: false);
}


<div class="col-md-12 zero-padding" style="height:400px; overflow:auto;">

    @gridJournalTemplates.GetHtml(
                        htmlAttributes: new { id = "grdJournalTemplateList" },
                        tableStyle: "table table-responsive backcolor",
                        headerStyle: "wedgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row webgrid-row-style-hover template-row",
                        rowStyle: "webgrid-row-style webgrid-row-style-hover template-row",
                        columns: gridJournalTemplates.Columns(
                            gridJournalTemplates.Column(columnName: "templateId", style: "disp-none"),
                            gridJournalTemplates.Column(columnName: "templateName", header: "Template Name:", style: "width-prc-50"),
                            gridJournalTemplates.Column(columnName: "createdDateString", header: "Saved:", style: "width-prc-20"),
                            gridJournalTemplates.Column(columnName: "createdBy", header: "By:", style: "width-prc-30")                            
                        )
                    )

</div>

@if (Model.templateList.Count == 0)
{
    <script type="text/javascript">
            $(function () {
                var row = $("#grdJournalTemplateList")[0].insertRow(-1);
                var cell = $(row.insertCell(-1));
                cell.html("No template found.");
                cell.attr("colspan", "4").attr("align", "center");
            });
    </script>
}


<script type="text/javascript">

    (function () {

        $('.template-row').on('click', function () {

            $('.template-row').removeClass('highlight-row');
            $(this).addClass('highlight-row');


            var gjTemplateId = $(this).find('td:nth-child(1)').text();
            loadGeneralJournalTemplateDetail(gjTemplateId);

        });

    })();

    function loadGeneralJournalTemplateDetail(templateId)
    {
        $.get('@Url.Action("GetGeneralJournalTemplateDetail","Journal")' + '?templateId=' + templateId,
            function (data) {
                $('#dvTemplateDetailContainer').empty();
                $('#dvTemplateDetailContainer').html(data);
                $('#grdAccountListing thead tr th:nth-child(1)').hide();
            });
    }

</script>