﻿@model F.BusinessObjects.GeneralJournal.GeneralJournalTemplateDetailResponse
@{
    ViewBag.Title = "GeneralJournalTemplate";

    var accountsGrid = new WebGrid(canPage: false, canSort: false);
    accountsGrid.Bind(Model.accountList, autoSortAndPage: false);
}


<div class="row solid-border no-padding no-margin" style="height:432px; overflow:auto;">
    <div class="col-md-12 title-header no-padding" style="height:28px; margin-bottom:10px;">

    </div>
    <div class="col-md-12 no-padding">
        <div class="col-md-6">
            <div class="row padding-bottom-20">
                <div class="col-md-5">
                    Template Name:
                </div>
                <div class="col-md-7">
                    <b> @Html.DisplayFor(m => m.templateDetail.templateName)          </b>          
                    <input type="hidden" id="hdnTemplateId" value="@Model.templateDetail.templateId" />
                </div>
            </div>
            <div class="row padding-bottom-20">
                <div class="col-md-5">
                    Saved:
                </div>
                <div class="col-md-7">
                    @Html.DisplayFor(m => m.templateDetail.createdDateString)
                </div>
            </div>
            <div class="row padding-bottom-20">
                <div class="col-md-5">
                    By:
                </div>
                <div class="col-md-7">
                    @Html.DisplayFor(m => m.templateDetail.createdBy)
                </div>
            </div>
            <div class="row padding-bottom-20">
                <div class="col-md-5">
                    Details:
                </div>
                <div class="col-md-7">
                    <span id="lblDetails">-</span>
                </div>
            </div>
            <div class="row padding-bottom-20">
                <div class="col-md-5">
                    Company:
                </div>
                <div class="col-md-7">
                    @Html.DisplayFor(m => m.templateDetail.company)
                </div>
            </div>
            <div class="row padding-bottom-20">
                <div class="col-md-5">
                    Nominal Account:
                </div>
                <div class="col-md-7">
                    <span id="lblNominalAccount">-</span>
                </div>
            </div>
            <div class="row padding-bottom-20">
                <div class="col-md-5">
                </div>
                <div class="col-md-7">
                    <span style="padding-right: 30px;">
                        Debit <input type="radio" name="transaction-type" id="rdDebit" />                         
                    </span>
                    <span>
                        Credit <input type="radio" name="transaction-type" id="rdCredit" />                         
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row padding-bottom-20">
                <div class="col-md-4">
                    Scheme:
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.templateDetail.scheme)
                </div>
            </div>
            <div class="row padding-bottom-20">
                <div class="col-md-4">
                    Blocks:
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.templateDetail.block)
                </div>
            </div>
            <div class="row padding-bottom-20">
                <div class="col-md-4">
                    Properties:
                </div>
                <div class="col-md-8">
                    @Html.DisplayFor(m => m.templateDetail.property)
                </div>
            </div>
            <div class="row padding-bottom-20">
                <div class="col-md-4">
                    Cost Centre:
                </div>
                <div class="col-md-8">
                    <span id="lblCostCenter">-</span>
                </div>
            </div>
            <div class="row padding-bottom-20">
                <div class="col-md-4">
                    Head:
                </div>
                <div class="col-md-8">
                    <span id="lblHead">-</span>
                </div>
            </div>
            <div class="row padding-bottom-20">
                <div class="col-md-4">
                    Expenditure:
                </div>
                <div class="col-md-8">
                    <span id="lblExpenditure">-</span>
                </div>
            </div>
            <div class="row padding-bottom-20">
                <div class="col-md-4">
                    Reason:
                </div>
                <div class="col-md-8">
                    <textarea id="txtReason" readonly="readonly"style="height:115px; width:100%;"  rows="2" cols="20"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row solid-border no-padding top-default-margin">
    @accountsGrid.GetHtml(
                        htmlAttributes: new { id = "grdAccountListing" },
                        tableStyle: "table table-responsive backcolor",
                        headerStyle: "wedgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row webgrid-row-style-hover",
                        rowStyle: "webgrid-row-style webgrid-row-style-hover",
                        columns: accountsGrid.Columns(
                                accountsGrid.Column(columnName: "templateId", style: "disp-none"),
                                accountsGrid.Column(columnName: "account", header: "Account", style: "width-prc-80"),
                                accountsGrid.Column(columnName: "defaultDebitAmount", header: "Debit", style: "width-prc-10", format:@<text>
                                 @item.defaultDebitAmount.ToString("N2")
                                </text>),
                                accountsGrid.Column(columnName: "defaultCreditAmount", header: "Credit", style: "width-prc-10", format:@<text>
                                @item.defaultCreditAmount.ToString("N2")
                                </text>)
                        )
                    )
</div>
<div class="row no-padding top-default-margin">
    <button class="btn-gj-default pull-right" id="btnDeleteTemplate">Delete Template</button>
</div>

<script type="text/javascript">

    (function () {

        addFooter();
        disableControls();

        $('#grdAccountListing tbody tr').on('click', function () {

            $('#grdAccountListing tbody tr').removeClass('highlight-row');
            $(this).addClass('highlight-row');
            var actTemplateId = $(this).find('td:nth-child(1)').text();
            loadAccountTemplateDetail(actTemplateId);
        });

        $('#btnDeleteTemplate').on('click', function () {
            var templateId = document.getElementById('hdnTemplateId').value;
            deleteTemplate(templateId);
        });

    })();

    function addFooter()
    {
        if ($('#grdAccountListing tbody tr').length > 0)
        {
            $('#grdAccountListing tbody').append('<tr class="footer"><td><b><span class="pull-right margin-right-20">0.00</span></b></td><td><b>0.00</b></td><td><b>0.00</b></td></tr>');
        }
    }

    function disableControls()
    {
        $(':radio').click(function () {
            return false;
        });
    }

    function loadAccountTemplateDetail(templateId) {
    
        $.get('@Url.Action("GetAccountTemplateDetail","Journal")' + '?templateId=' + templateId, function (data) {
            let templateDetail = JSON.parse(data);
            console.log(templateDetail);
            document.getElementById('lblDetails').innerHTML = templateDetail.details;
            document.getElementById('lblNominalAccount').innerHTML = templateDetail.account;
            if (templateDetail.isDebit == true) {
                document.getElementById('rdDebit').checked = true;
            } else {
                document.getElementById('rdCredit').checked = true;
            }
            document.getElementById('lblCostCenter').innerHTML = templateDetail.costCentre;
            document.getElementById('lblHead').innerHTML = templateDetail.head;
            document.getElementById('lblExpenditure').innerHTML = templateDetail.expenditure;
            document.getElementById('txtReason').value = templateDetail.reason;

        });

    }

    function deleteTemplate(templateId) {

        $.get('@Url.Action("DeleteTemplate","Journal")' + '?templateId=' + templateId
            , function (data) {
                showAlert("success", "Success!", "Template has been deleted successfully.", loadJournalTemplateList);
            }
        );
    }


</script>
