﻿
@{
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
 }

<div class="container">

    <div class="alert" id="msg-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong><label id="msg-title"></label> </strong>
        <label id="msg-description"></label>
    </div>

    <div class="row solid-border padding-top-10 padding-bottom-10">

        <div class="col-md-4">
            <div class="col-md-12 solid-border zero-padding">
                <div class="col-md-12 title-header padding-6">
                    General Journal Templates
                </div>
                <div id="dvTemplateListContainer">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="dvTemplateDetailContainer">
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">

    (function () {
        hideAlert();
        loadJournalTemplateList();
    })();

    function hideAlert()
    {
        $("#msg-alert").hide();
    }

    function showAlert(type, title, message, callbackfunction) {
        document.getElementById('msg-title').innerHTML = title;
        document.getElementById('msg-description').innerHTML = message;
        if (type == "success") {
            $('#msg-alert').removeClass('alert-danger');
            $('#msg-alert').addClass('alert-success');
        } else {
            $('#msg-alert').removeClass('alert-success');
            $('#msg-alert').addClass('alert-danger');
        }

        $("#msg-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#msg-alert").slideUp(500);
            if (callbackfunction)
            {
                callbackfunction();
            }            
        });
    }

    function loadJournalTemplateList() {
        $.get('@Url.Action("GetGeneralJournalTemplateList","Journal")',
            function (data) {
                $('#dvTemplateDetailContainer').empty();
                $('#dvTemplateListContainer').empty();
                $('#dvTemplateListContainer').html(data);
                $('#grdJournalTemplateList thead tr th:nth-child(1)').hide();
            });
    }

</script>

