﻿
.leftControl
{
    float: left;
    margin-left: 5px;
  
}

.rightControl
{
    float: right;
    margin-right: 5px;
    
}

.propertyInfo
{
    padding: 5px;
    border: 1px solid #000000;
    height: auto;
    margin-top: 15px;
    overflow: auto;
}

#leftContainer
{
    float: left;
    width: 30%;
}

#rightContainer
{
    float: left;
    width: 68%;
    height: 100%;
    margin-left: 10px;
}


#topLevel1
{
    height: 250px;
    margin-top: 15px;
}

.topLevel2Left
{
    float: left;
    width: 55%;
    height: 250px;
}

.topLevel2Middle
{
    float: left;
    width: 22%;
    height: 250px;
}

.topLevel2Right
{
    float: left;
    width: 22%;
    height: 250px;
  
}

.topLeftLevel3Top
{
    height: 40%;
    padding: 5px;
    border: 1px solid #000000;
}

.topLeftLevel3Bottom
{
    margin-top: 10px;
    height: 65%;
    padding: 5px;
    border: 1px solid #000000;
    overflow: auto;
}

.topMiddleLevel3Top
{
    height: 230px;
    margin-left: 5px;    
    padding: 3px;
    overflow:hidden ;
    border: 1px solid #000000;
}

.topMiddleLevel3Bottom
{
    margin-top: 10px;
    height: 40px;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #000000;
}

#middleLevel1
{
    height: 200px;
    width: 98%;
    margin-top: 72px;
    padding: 5px;
    border: 1px solid #000000;
    overflow:auto ;
}

#bottomLevel1
{
    height: 100px;
    margin-top: 15px;
}

#bottomLeftLevel2
{
    width: 40%;
    float: left;
    border: 1px solid #000000;
    overflow:auto;
    padding: 5px;
    height:100%;
}

#bottomRightLevel2
{
    width: 30%;
    float: left;
    padding: 5px;
    border: 1px solid #000000;
    margin-left:10px;
    overflow:auto;
    height:100%;
}

.clear
{
    clear: both;
}

#mainContainer
{
    width: 100%;
    height: 100%;
    margin: 30px;
    float:left;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000000;
}

#tabPropertyDetail
{
    margin-left: auto;
    margin-right: auto;
}

.number-loading
{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    margin-top:-40px;

}

.asbestoscontrol
{
    float:right;
}

.labelSpace
{
    height:18px;
}

.removeBorder
{
    text-decoration: none;
    border: 0px;
}