﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="ASMasterPage.Master.vb"
    Inherits="Appliances.ASMasterPage" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<!DOCTYPE html>
<html>
<head id="Head1" runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <title></title>
    <link href="../Styles/masterpage.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/default.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/calendarStyle.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/fixedHeaderTable.css" rel="stylesheet" media="screen" />
    <link href="../Styles/reportlayout.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/Navigation.css" rel="stylesheet" media="screen" />
    <link href="../Styles/Dashboard.css" rel="stylesheet" type="text/css" />
    <%--<link href="../Styles/scheduling.css" rel="stylesheet" type="text/css" />--%>
    <style type="text/css">
        .style1
        {
            height: 25px;
            width: 176px;
        }
        .style2
        {
            width: 176px;
        }
        #calToolbar img
        {
            vertical-align: text-top;
        }
        .style3
        {
            width: 94px;
        }
        
        .menuItemHeader td
        {
            padding: 0px;
            text-align: left;
            border-color: Black;
        }
        
        #menuPage
        {
            width: 100% !important;
        }
        
        #menuPage ul
        {
            width: 100% !important;
        }
        
        #pageMenu tr td a
        {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 5px;
            display: block;
        }
        
        #pageMenu tr td a:hover
        {
            /*padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 5px;*/
            background-color: #DCDCDC; /*width:100%;*/
            cursor: pointer;
        }
        
        .menuItem
        {
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 5px;
        }
        
        .menuItemHover
        {
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 5px;
            background-color: #DCDCDC;
            width: 100%;
            cursor: pointer;
        }
         #menuHeader a
        {
            color: #cdcdcd;
            display:inline !important;           
            text-decoration: none;
            white-space: nowrap;
        }
        .header
{
    height: 75px;
}
    </style>
    <script type="text/javascript">
        function submitForm(url) {
            document.searchForm.action = url;
            document.searchForm.submit();
        }
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ToolkitScriptManager1" runat="server">
    <%--    <Scripts>
            <asp:ScriptReference Path="~/Scripts/jquery-1.10.1.min.js" />
            <asp:ScriptReference Path="~/Scripts/jquery.fixedheadertable.js" />
        </Scripts>--%>
    </asp:ScriptManager>
    <div class="container">
        <div class="header">
            <div id="header-left">
            </div>
            <div class="menue">
                <div class="menue-select">
                    <ul class="propertyModuleMenu">
                        <li><a href="#" style="color: #cdcdcd;">Property Module &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp;</a>
                            <ul>
                                <asp:Repeater ID="rptRSLMenu" runat="server">
                                    <ItemTemplate>
                                        <li><a href="<%# Eval("THEPATH")%>">-
                                            <%#Eval("DESCRIPTION")%>
                                        </a></li>
                                    </ItemTemplate>
                                </asp:Repeater>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="menu">
                    <asp:Menu runat="server" ID="menuHeader" Orientation="Horizontal" DynamicHoverStyle-ForeColor="#ffffff"
                        Font-Size="13px" ForeColor="#cdcdcd" Height="0px" CssClass="menuItemHeader"
                        StaticSelectedStyle-ForeColor="#ffffff">
                        <DynamicHoverStyle ForeColor="White" />
                        <DynamicMenuStyle ForeColor="#cdcdcd" />
                        <DynamicSelectedStyle ForeColor="#ffffff" />
                        <DynamicMenuItemStyle />
                        <StaticSelectedStyle ForeColor="#ffffff" />
                        <StaticMenuItemStyle ItemSpacing="10px" HorizontalPadding="17px" />
                        <StaticHoverStyle ForeColor="White" />
                    </asp:Menu>
                </div>
            </div>
        </div>
        <div id="superdiv">
            <div id="leftcolumn">
                <asp:UpdatePanel runat="server" ID="updPanelPages" UpdateMode="Conditional">
                    <ContentTemplate>
                        <asp:Repeater ID="rptPages" runat="server">
                            <ItemTemplate>
                                <asp:HiddenField ID="hdnPageId" runat="server" Value='<%# Eval("PageId") %>' />
                                <asp:HiddenField ID="hdnAccessLevel" runat="server" Value='<%# Eval("AccessLevel") %>' />
                                <asp:Panel ID="pnlPageMenu" runat="server">
                                    <div id="pageMenu" style="border: black 1px solid; width: 100%; font-size: 13px;
                                        margin-bottom: 10px;">
                                        <asp:Menu runat="server" CssClass="menuItemHeader" ID="menuPage" Orientation="Vertical"
                                            DynamicMenuItemStyle-Width="100%" DynamicHoverStyle-BackColor="Gainsboro" OnMenuItemClick="PageItem_MenuItemClick"
                                            DynamicMenuItemStyle-Height="25px" Width="100%" DynamicMenuItemStyle-ItemSpacing="100px"
                                            DynamicMenuItemStyle-VerticalPadding="20px" ForeColor="black" StaticSelectedStyle-BackColor="gainsboro"
                                            SkipLinkText="">
                                        </asp:Menu>
                                    </div>
                                </asp:Panel>
                            </ItemTemplate>
                        </asp:Repeater>
                    </ContentTemplate>
                </asp:UpdatePanel>
                <asp:Panel runat="server" ID="panelCalendarSearch" Visible="False">
                    <table style="vertical-align: top; margin-bottom: 10px; width: 100%" class="menuStyle">
                        <tr>
                            <td class="pnlHeading" colspan="2">
                                <span style="padding-left: 10px;">Search </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left" id="Td3" colspan="2">
                                <span style="width: 96% !important; margin-left: 8px; margin-top: 5px;" class="for_input">
                                    <asp:TextBox ID="txtBoxAddress" runat="server" Width="88%" Text="Address" OnClick="this.value=''"></asp:TextBox>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; margin-left: 40px;" id="Td2" colspan="2">
                                <span style="width: 96% !important; margin-left: 8px; margin-top: 5px;" class="for_input">
                                    <asp:TextBox ID="txtBoxPostCode" runat="server" Width="88%" Text="Postcode" OnClick="this.value=''"></asp:TextBox>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" id="Td4" class="style2" colspan="2">
                                <span style="width: 96% !important; margin-left: 8px; margin-top: 5px;" class="for_input">
                                    <asp:DropDownList ID="ddlPatch" runat="server" AutoPostBack="true" Width="90%">
                                    </asp:DropDownList>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left" id="Td5" class="style2" colspan="2">
                                <span style="width: 96% !important; margin-left: 8px; margin-top: 5px;" class="for_input">
                                    <asp:DropDownList ID="ddlScheme" runat="server" Width="90%">
                                    </asp:DropDownList>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left" id="Td6" colspan="2">
                                <span style="width: 96% !important; margin-left: 8px; margin-top: 5px;" class="for_input">
                                    <asp:TextBox ID="txtBoxDueDate" runat="server" Width="161px" OnClick="this.value=''"
                                        Text="Due Date">                                
                                    </asp:TextBox>
                                </span>
                                <asp:Image ID="imgCalendar" runat="server" Height="16px" ImageUrl="~/Images/calendar.png" />
                                <cc1:CalendarExtender ID="cntrlCalendarExtender" runat="server" TargetControlID="txtBoxDueDate"
                                    PopupButtonID="imgCalendar" Format="dd/MM/yyyy" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left" id="Td7" colspan="2">
                                <span style="width: 96% !important; margin-left: 8px; margin-top: 5px;" class="for_input">
                                    <asp:DropDownList ID="ddlFuelType" runat="server" Width="90%">
                                        <asp:ListItem Value="1">GAS</asp:ListItem>
                                    </asp:DropDownList>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" class="style3">
                                &nbsp;
                            </td>
                            <td id="Td8" align="right">
                                <span style="float: right; margin-right: 16px; margin-right: 20px; margin-top: 3px;
                                    margin-bottom: 3px;">
                                    <asp:Button ID="btnSearch" runat="server" Text="Go" BackColor="White" /></span>
                            </td>
                        </tr>
                    </table>
                </asp:Panel>
            </div>
           <%-- <asp:UpdateProgress ID="updateProgressReportsArea" runat="server" DisplayAfter="10">
                <ProgressTemplate>
                    <div class="loading-image">
                        <img alt="Please Wait" src="../../Images/progress.gif" />
                    </div>
                </ProgressTemplate>
            </asp:UpdateProgress>--%>
            <div id="content">
                <div>
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>
    </div>
    </form>
</body>
</html>
