﻿@model BHGHRModuleWeb.ViewModels.MyTeamDetailGridViewModel
@{
    Layout = null;
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize);
    if (Model.employeeList != null && Model.employeeList.Count > 0)
    {
        grid.Bind(Model.employeeList, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
    }
}
@if (Model.employeeList != null && Model.employeeList.Count > 0)
{
    @grid.GetHtml(
    tableStyle: "table table-responsive backcolor",
    headerStyle: "wedgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: grid.Columns(
    grid.Column(columnName: "fullName", header: "Employee Name"),
    grid.Column(columnName: "jobTitle", header: "Job Title"),
    grid.Column(columnName: "grade", header: "Grade"),
    grid.Column(columnName: "remainingLeave", header: "Remaining Leave"),
    grid.Column(columnName: "appraisalDate", header: "Absent"),
    grid.Column(columnName: "holRequest", header: "Leave Request"),
    grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:@<text><input class="pull-right edit-arrow" type="button" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, isTeam = true , activeTab = "mnuMyTeam" })'"></text>)
))

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">
                @Html.HiddenFor(m => m.teamId, new { id = "teamId" })
                @Html.HiddenFor(m => m.employeeId, new { id = "employeeId" })
            </div>
            <div id="gridPager" class="space-box col-md-8">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
            </div>
            <div id="" class="col-md-1">
                <div class="row">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Employee Name:</th>
                <th>Job Title:</th>
                <th>Grade:</th>
                <th>Remaining Leave:</th>
                <th>Absent:</th>
                <th>Leave Request:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="7" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
}


<script type="text/javascript">

    (function () {
        $("#webgrid a").on('click', function (event) {
            loadGridDetailEvents(event, this);
        });
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
    })();

    var typingTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example

    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchDetailPageChanged, donePagedInterval);
    }

    function searchDetailPageChanged() {
        var emp = '@ViewContext.RouteData.Values["id"]';
        emp = '@Model.employeeId';
        var requestUrl = '@Url.Action("SearchMyTeamDetail", "MyTeam", new { id = ViewContext.RouteData.Values["id"] })';
        if (requestUrl.split('/').length <= 3) {
            requestUrl = requestUrl + '/@Model.employeeId';
        }

        var requestUrl = requestUrl + "?page=" + $("#txtPageNo").val() + "&teamId=" + $("#teamId").val();
        $("#webgrid").load(requestUrl);
    }

    function loadGridDetailEvents(event, ths) {
        var emp = '@ViewContext.RouteData.Values["id"]';
        emp = '@Model.employeeId';
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);

        var requestUrl = '@Url.Action("SearchMyTeamDetail", "MyTeam", new { id = ViewContext.RouteData.Values["id"] })';

        if (requestUrl.split('/').length <= 3) {
            requestUrl = requestUrl + '/@Model.employeeId';
        }

        requestUrl = requestUrl + queryString;
        $("#webgrid").load(requestUrl);
    }

</script>