﻿

@model BHGHRModuleWeb.ViewModels.MyTeamDetailGridViewModel
@{
    Layout = null;
    
}
<div class="row padding-bottom"></div>
<div class="row">
    <div class="col-md-12">
        <div id="webgrid">
            @Html.Partial("~/Views/Employees/MyTeam/_MyTeamDetailGrid.cshtml", Model)
         
        </div>


    </div>
</div>
