﻿@model BHGHRModuleWeb.ViewModels.MyTeamGridViewModel
@{
    Layout = null;
    var grid = new WebGrid();
    grid = new WebGrid(rowsPerPage: ViewBag.PageSize);
    if (Model.teamList != null && Model.teamList.Count > 0)
    { 
        grid.Bind(Model.teamList, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
    }
}
@if (Model.teamList != null && Model.teamList.Count > 0)
{
@grid.GetHtml(
    tableStyle: "table table-responsive backcolor",
    headerStyle: "wedgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row webgrid-row-style-hover",
    rowStyle: "webgrid-row-style webgrid-row-style-hover",
    columns: grid.Columns(
    grid.Column(columnName: "teamId", header: "", style: "dis-none"),
    grid.Column(columnName: "employeeId", header: "", style: "dis-none"),
    grid.Column(columnName: "teamName", header: "Team Name"),
    grid.Column(columnName: "noOfEmployee", header: "No. of Emps"),
    grid.Column(columnName: "leaveDays", header: "Remaining Leave (Days)"),
    grid.Column(columnName: "leaveHRS", header: "Remaining Leave (Hours)"),
    grid.Column(columnName: "sicknessAbsence", header: "Sickness Absence"),    
    grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:@<text><img src="~/Content/Images/aero.png" data-id="@item.teamId" class="pull-right edit-skill" onclick="ShowDetails(@item.teamId,@item.employeeId)" width="22" /></text>)
))
<div class="panel-footer">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div id="gridPager" class="space-box col-md-8">
            @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
        </div>
        <div id="" class="col-md-1">
            <div class="row">
                <div class="form-inline">
                    <span for="rg-from">Page: </span>
                    <div class="form-group">
                        @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th></th>
                <th></th>
                <th>Team Name:</th>
                <th>No. of Emps:</th>
                <th>Remaining Leave (Days):</th>
                <th>Remaining Leave (Hours):</th>
                <th>Sickness Absence:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="9" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
}
<script type="text/javascript">

    function ShowDetails(Id, employeeId) {
        $.ajax({
            url: '@Url.Action("GetTeamDetail", "MyTeam")?teamId=' + Id + '&employeeId=' + employeeId,
            success: function (result) {
                $('#webgrid').html(result);
            }
        });
    }

    $('thead > tr > th:first').addClass('dis-none');
    $('thead > tr > th:nth-child(2)').addClass('dis-none');
    $('tbody tr').on('click', function () {
        ShowDetails($(this).find('td:first').text(), $(this).find('td:nth-child(2)').text());
    });

    var typingTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example
    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var requestUrl =
           '@Url.Action("SearchMyTeam", "MyTeam", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtpageText").val();
        $("#webgrid").load(requestUrl);
    }

    (function () {
        $("#webgrid a").on('click', function (event) {
            loadGridEvents(event, this);
        });
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
    })();

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("SearchMyTeam", "MyTeam", new { id = ViewContext.RouteData.Values["id"] })' + queryString;
        $("#webgrid").load(requestUrl);
    }

</script>
