﻿@model BHGHRModuleWeb.ViewModels.MyTeamGridViewModel
@{
    Layout = null;
}

<div class="row padding-bottom"></div>
<div class="main-Container" style="border:1px solid black;">
    <div class="row">
        <div class="col-md-12">
            <div id="webgrid">
                @Html.Partial("~/Views/Employees/MyTeam/_MyTeamGrid.cshtml", Model)
            </div>
        </div>
    </div>
</div>
