﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="NoSupervisorsFound.ascx.cs"
    Inherits="PropertyDataRestructure.UserControls.Void.GasElectricCheck.NoSupervisorsFound" %>
<asp:Label ID="lblMsg" runat="server" Text=""></asp:Label><br />
<asp:Button ID="btnContinue" Style="margin-top: 10px; margin-bottom: 10px; margin-left: 44%;
    text-align: center" runat="server" Height="26px" OnClick="Button1_Click" Text="Continue" />
