<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="footer.ascx.vb" Inherits="tenantsonline.footer" %>
             <span class="footnote_item">Broadland Housing &copy; 2018</span>
        <%--
            <span class="footnote_item">Broadland Housing's privacy policy</span>
        --%>