﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PaintPacksAssignToContractor.ascx.cs"
    Inherits="PropertyDataRestructure.UserControls.Void.PaintPacksAssignToContractor" %>
<%@ Register TagPrefix="uim" TagName="UIMessage" Src="~/UserControls/Common/UIMessage.ascx" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<link href="../../../Styles/scheduling.css" rel="stylesheet" type="text/css" />
<asp:UpdatePanel ID="updpnlAssignToContractor" runat="server" UpdateMode="Always">
    <ContentTemplate>
        <div class="assignToContractor">
            <div class="popupHeader">
                <strong>Assign to Contractor</strong>
            </div>
            <uim:UIMessage ID="uiMessage" runat="Server" Visible="false" />
            <hr />
            <div class="input_row">
                <div class="input_label">
                    Cost Centre:</div>
                <div class="input_Cal">
                    <asp:DropDownList runat="server" ID="ddlCostCentre" Width="250px" OnSelectedIndexChanged="ddlCostCentre_SelectedIndexChanged"
                        AutoPostBack="True" />
                    <asp:RequiredFieldValidator runat="server" ID="rfvCostCentre" ControlToValidate="ddlCostCentre"
                        InitialValue="-1" ErrorMessage="Please select a Cost Centre" Display="Dynamic"
                        ValidationGroup="addServiceRequired" CssClass="Required" />
                </div>
            </div>
            <div class="input_row">
                <div class="input_label">
                    Budget Head:</div>
                <div class="input_Cal">
                    <asp:DropDownList runat="server" ID="ddlBudgetHead" Width="250px" OnSelectedIndexChanged="ddlBudgetHead_SelectedIndexChanged"
                        AutoPostBack="True" />
                    <asp:RequiredFieldValidator runat="server" ID="rfvBudgetHead" ControlToValidate="ddlBudgetHead"
                        InitialValue="-1" ErrorMessage="Please select a Budget Head" Display="Dynamic"
                        ValidationGroup="addServiceRequired" CssClass="Required" />
                </div>
            </div>
            <div class="input_row">
                <div class="input_label">
                    Expenditure:</div>
                <div class="input_Cal">
                    <asp:DropDownList runat="server" Width="250px" ID="ddlExpenditure" />
                    <asp:RequiredFieldValidator runat="server" ID="rfvExpenditure" ControlToValidate="ddlExpenditure"
                        InitialValue="-1" ErrorMessage="Please select an Expenditure" Display="Dynamic"
                        ValidationGroup="addServiceRequired" CssClass="Required" />
                </div>
            </div>
            <div class="input_row">
                <div class="input_label">
                    Contractor:</div>
                <div class="input_Cal">
                    <asp:HiddenField ID="hdnContractorId" runat="server" />    
                    <asp:Label Text="" Font-Bold="true" ID="lblContractor" runat="server" />
                </div>
            </div>
            <div class="input_row">
                <div class="input_label">
                    Contact:</div>
                <div class="input_Cal">
                    <asp:DropDownList runat="server" Width="250px" ID="ddlContact">
                        <asp:ListItem Selected="True" Text="-- Please select contractor --" Value="-1" />
                    </asp:DropDownList>
                  <%--  <asp:RequiredFieldValidator runat="server" ID="rfvContact" InitialValue="-1" ErrorMessage="Please select a Contact"
                        Display="Dynamic" ValidationGroup="assignToContractor" ControlToValidate="ddlContact"
                        CssClass="Required" ToolTip="If no contact is found, you may add a new contact (name/email) for this contractor in supplier module " />--%>
                </div>
            </div>
            <hr />
            <div class="input_row">
                <div class="input_label">
                    <strong>Works Required:</strong></div>
                <div class="input_Cal">
                   
                    <asp:TextBox runat="server" ID="txtWorkRequired" TextMode="MultiLine" Rows="5" Width="250px" />
                </div>
               
            </div>
          
            <div class="input_row">
                <div class="input_label">
                    Estimate (£):</div>
                <div class="input">
                    <asp:TextBox runat="server" ID="txtEstimate" MaxLength="11" Width="250" TextMode="SingleLine" />
                    <ajaxToolkit:TextBoxWatermarkExtender ID="txtWaterExtEstimate" runat="server" TargetControlID="txtEstimate"
                        WatermarkText="Required" WatermarkCssClass="searchTextDefault">
                    </ajaxToolkit:TextBoxWatermarkExtender>
                    <asp:RequiredFieldValidator ErrorMessage="Please enter estimate, in form XXXXXX.XXXX where X is a digit between 0 to 9."
                        ControlToValidate="txtEstimate" ID="rfvEstimate" ValidationGroup="assignToContractor"
                        runat="server" CssClass="Required" Display="Dynamic" />
                    <asp:RegularExpressionValidator ID="rxvEstimate" runat="server" ErrorMessage="Please enter estimate, in form XXXXXX.XXXX where X is a digit between 0 to 9."
                        Display="Dynamic" ValidationGroup="assignToContractor" CssClass="Required" ControlToValidate="txtEstimate"
                        ValidationExpression="^[0-9]{1,6}(?:\.[0-9]{1,4})?$" />
                    <asp:RangeValidator ID="rvEstimate" ErrorMessage='Please enter a value between "0" and "214748.3647".'
                        ControlToValidate="txtEstimate" runat="server" MinimumValue="0" MaximumValue="214748.3647"
                        Display="Dynamic" CssClass="Required" ValidationGroup="assignToContractor" Type="Double" />
                </div>
            </div>
            <div class="input_row">
                <div class="input_label">
                    Estimate Ref:</div>
                <div class="input">
                    <asp:TextBox runat="server" ID="txtEstimateRef" Width="250" MaxLength="200" />
                    <ajaxToolkit:TextBoxWatermarkExtender ID="txtWaterExtEstimateRef" runat="server"
                        TargetControlID="txtEstimateRef" WatermarkText="Optional" WatermarkCssClass="searchTextDefault">
                    </ajaxToolkit:TextBoxWatermarkExtender>
                    <asp:RegularExpressionValidator runat="server" ID="rxvEstimateRef" ErrorMessage="Works Required must not exceed 200 characters"
                        Display="Dynamic" CssClass="Required" ControlToValidate="txtEstimateRef" ValidationGroup="assignToContractor"
                        ValidationExpression="^[\s\S]{0,200}$" Style="vertical-align: top;" />
                </div>
            </div>
            
           
            <div class="input_row">
                <div class="input_label">
                    Net Cost (£):</div>
                <div class="input_small">
                    <asp:TextBox runat="server" ID="txtNetCost" OnTextChanged="txtNetCost_TextChanged"
                        AutoPostBack="True" CausesValidation="true" ValidationGroup="addServiceRequired"
                        MaxLength="11"></asp:TextBox>
                    <asp:RequiredFieldValidator ErrorMessage="Please enter net cost, in form XXXXXX.XXXX where X is a digit between 0 to 9."
                        ControlToValidate="txtNetCost" ID="rfvNetCost" ValidationGroup="addServiceRequired"
                        runat="server" CssClass="Required" Display="Dynamic" />
                    <asp:RegularExpressionValidator ID="rxvNetCost" runat="server" ErrorMessage="Please enter net Cost, in form XXXXXX.XXXX where X is a digit between 0 to 9."
                        Display="Dynamic" ValidationGroup="addServiceRequired" CssClass="Required" ControlToValidate="txtNetCost"
                        ValidationExpression="^[0-9]{1,6}(?:\.[0-9]{1,4})?$" />
                    <asp:RangeValidator ID="rvNetCost" runat="server" ControlToValidate="txtNetCost"
                        MinimumValue="0" MaximumValue="178956.9704" ErrorMessage="Please enter a value between &quot;0&quot; and &quot;178956.9704&quot;."
                        CssClass="Required" Type="Double" Display="Dynamic" ValidationGroup="addServiceRequired" />
                </div>
            </div>
            <div class="input_row">
                <div class="input_label">
                    Vat:</div>
                <div class="input_small">
                    <asp:DropDownList runat="server" ID="ddlVat" OnSelectedIndexChanged="ddlVat_SelectedIndexChanged"
                        AutoPostBack="True" CausesValidation="True" />
                    <asp:RequiredFieldValidator runat="server" ID="rfvddlVat" InitialValue="-1" ErrorMessage="Please select a Vat(Vat Rate)"
                        Display="Dynamic" ValidationGroup="addServiceRequired" ControlToValidate="ddlVat"
                        CssClass="Required" />
                </div>
            </div>
            <div class="input_row">
                <div class="input_label">
                    Vat (£):</div>
                <div class="input_small">
                    <asp:TextBox runat="server" ID="txtVat" ReadOnly="true"></asp:TextBox>
                </div>
            </div>
            <div class="input_row">
                <div class="input_label">
                    <strong>Total (£):</strong></div>
                <div class="input_small">
                    <asp:TextBox runat="server" ID="txtTotal" ReadOnly="true"></asp:TextBox>
                    <asp:Button Text="Add" runat="server" UseSubmitBehavior="false" ID="btnAdd" OnClick="btnAdd_Click"
                        CssClass="addButton" ValidationGroup="addServiceRequired" />
                </div>
            </div>
            <hr />
            <div class="worksRequiredGrid">
                <asp:GridView runat="server" ID="grdWorksDeatil" OnRowDataBound="grdWorksDeatil_RowDataBound"
                    ShowFooter="True" GridLines="Horizontal" AutoGenerateColumns="False" PageSize="100"
                    ShowHeaderWhenEmpty="True" Width="100%" BorderStyle="None" EmptyDataText="No Record Found">
                    <HeaderStyle Font-Bold="false" />
                    <FooterStyle BorderColor="Black" Font-Bold="true" HorizontalAlign="Right" Wrap="False" />
                    <RowStyle BorderColor="Gray" BorderWidth="0px" BorderStyle="None" />
                    <Columns>
                        <asp:BoundField HeaderText="Service Required:" FooterText="Total:" DataField="ServiceRequired"
                            HeaderStyle-HorizontalAlign="Left" ItemStyle-CssClass="worksRequired" />
                        <asp:BoundField HeaderText="Net:" FooterText="0.00" DataFormatString="{0:0.####}"
                            DataField="NetCost" FooterStyle-HorizontalAlign="Center" HeaderStyle-HorizontalAlign="Center"
                            ItemStyle-HorizontalAlign="Center" HeaderStyle-Width="100px" />
                        <asp:BoundField HeaderText="Vat:" HeaderStyle-HorizontalAlign="Center" FooterText="0.00"
                            DataFormatString="{0:0.####}" DataField="Vat" FooterStyle-HorizontalAlign="Center"
                            ItemStyle-HorizontalAlign="Center" HeaderStyle-Width="100px" />
                        <asp:BoundField HeaderText="Gross:" HeaderStyle-HorizontalAlign="Center" FooterText="0.00"
                            DataFormatString="{0:0.####}" DataField="Gross" FooterStyle-HorizontalAlign="Center"
                            ItemStyle-HorizontalAlign="Center" HeaderStyle-Width="100px" />
                    </Columns>
                </asp:GridView>
            </div>
            <hr />
            <div class="bottomButtonsContainer">
                <div class="buttonFloatLeft">
                    <asp:Button ID="btnClose" OnClick="btnClose_Click" runat="server" Text="Close" CausesValidation="false" />
                </div>
                <div class="buttonFloatRight">
                    <asp:Button ID="btnAssignToContractor" UseSubmitBehavior="false" OnClick="btnAssignToContractor_Click"
                        runat="server" Style="text-align: right" Text="Assign to selected contractor"
                        ValidationGroup="assignToContractor" />
                </div>
                <div class="clear" />
            </div>
            <div class="clear" />
            <hr />
            <br />
        </div>
    </ContentTemplate>
</asp:UpdatePanel>
