</TD></TR><TR><TD HEIGHT=72px>

<TABLE CELLSPACING=0 CELLPADDING=0>
	<TR>
		<TD BGCOLOR=#FFFFFF><IMG SRC="/myImages/spacer.gif" WIDTH=139 HEIGHT=44></TD>
		<TD ROWSPAN=2><IMG SRC="/fah/images/My113.gif" WIDTH=72 HEIGHT=72></TD>
	</TR>
	<TR>
		<TD width=100% height=28 BGCOLOR=#133E71 align=left class="iagManagerSmallWht" valign=middle><b>&nbsp;&nbsp;Find-a-Home is part of RSL Manager - a Reidmark ebusiness system</b></TD>
	</TR>
</TABLE>

</TD></TR></TABLE>