﻿@model BHGHRModuleWeb.ViewModels.EmployeesCreateViewModel
@{
    ViewBag.Title = "HR Employee Create";
    var isEdit = ViewBag.isEdit == "edit";
    var isManager = false;
    if (Session["Module"] != null && Session["Module"].ToString() == "MyJob")
    {
        ViewBag.Title = "My-Job Employee Create";
        if (Model.isManager && isEdit && Model.employeeId == (int)Session["UserId"])
        {
            isManager = true;
        }
    }

    var backToMyStaffURL = "";
    if (TempData.ContainsKey("backToMyStaffURL"))
    {
        backToMyStaffURL = TempData["backToMyStaffURL"].ToString();
    }

    // all feilds are readonly when user view his own profile
    var isMyJob = false;
    var isDisabled = "false";

    if (Session["Module"] != null && Session["Module"].ToString() == "MyJob")
    {
        isMyJob = true;
    }

    var isTeam = false;
    if (TempData.ContainsKey("isTeam"))
    {
        isTeam = bool.Parse(TempData["isTeam"].ToString());
    }
    TempData.Keep("isTeam");

    var isDirector = false;
    if (TempData.ContainsKey("isDirector"))
    {
        isDirector = bool.Parse(TempData["isDirector"].ToString());
    }
    TempData.Keep("isDirector");

    var isGift = false;
    if (TempData.ContainsKey("isGift"))
    {
        isGift = bool.Parse(TempData["isGift"].ToString());
    }
    TempData.Keep("isGift");

    if (isMyJob || isTeam)
    {
        isDisabled = "true";
    }
}
<style>
    .disabledTab {
        pointer-events: none;
        color: #999999;
        text-decoration: none;
        cursor: not-allowed;
        background-color: transparent;
    }
</style>

<div class="col-md-12 alert alert-success" id="message" style="display:none">
    <strong id="msgResponse"></strong>
</div>

<div style="border:1px solid #000">
    <div class="row padding-bottom">
        <div class="col-md-12">
            <div style="border: 1px solid; background-color: #000; padding: 10px;">
                @if (isEdit)
                {
                    <span style="color:#fff">@Model.fullHeading</span>
                }
                else
                {
                    <span style="color:#fff">Create New Employee:</span>
                }
            </div>
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-12">
            <div class="col-md-12">
                <div id="tabs">
                    <ul>
                        @if (!isEdit)
                        {
                            <li class="active disabledTab"><a href="#mnuPersonalDetail" class="ajaxTabs tabselect" data-url="@Url.Action("Index", "PersonalDetail")">Personal Details</a></li>
                            <li class="disabledTab"><a href="#mnuPost" class="ajaxTabs tabselect" data-url="@Url.Action("Index", "Post")">Post</a></li>
                            <li class="disabledTab"><a href="#mnuSkills" class="ajaxTabs tabselect" data-url="@Url.Action("Index", "Skills")">Skills and Quals</a></li>
                            <li class="disabledTab"><a href="#mnuHealth" class="ajaxTabs tabselect" data-url="@Url.Action("GetDifficultiesAndDisablities", "Health")">Health</a></li>
                            <li class="disabledTab"><a href="#mnuBenefits" class="ajaxTabs tabselect" data-url="@Url.Action("Index", "Benefits")">Benefits</a></li>
                        }
                        else
                        {
                            <li class="active"><a href="#mnuPersonalDetail" class="ajaxTabs tabEmployee" data-url="@Url.Action("Index", "PersonalDetail", new { id= ViewContext.RouteData.Values["id"], isDirector = isDirector, isGift = isGift })">Personal Details</a></li>
                            <li><a href="#mnuPost" class="ajaxTabs tabEmployee" data-url="@Url.Action("Index", "Post", new { id= ViewContext.RouteData.Values["id"] })">Post</a></li>
                            <li><a href="#mnuSkills" class="ajaxTabs tabEmployee" data-url="@Url.Action("Index", "Skills", new { id= ViewContext.RouteData.Values["id"] })">Skills and Quals</a></li>
                            <li><a href="#mnuHealth" class="ajaxTabs tabEmployee" data-url="@Url.Action("GetDifficultiesAndDisablities", "Health", new { id= ViewContext.RouteData.Values["id"] })">Health</a></li>
                            <li><a href="#mnuBenefits" class="ajaxTabs tabEmployee" data-url="@Url.Action("Index", "Benefits", new { id= ViewContext.RouteData.Values["id"] })">Benefits</a></li>
                            <li><a href="#mnuAbsence" class="ajaxTabs tabEmployee" data-url="@Url.Action("Index", "Absence", new { id= ViewContext.RouteData.Values["id"] })">Absence</a></li>
                            <li><a href="#mnuTraining" class="ajaxTabs tabEmployee" data-url="@Url.Action("Index", "Training", new { id= ViewContext.RouteData.Values["id"] })">Training</a></li>
                            <li><a href="#mnuDocuments" class="ajaxTabs tabEmployee" data-url="@Url.Action("Index", "Documents", new { id= ViewContext.RouteData.Values["id"] })">Documents</a></li>
                            if (isDisabled == "false")
                            {
                                <li><a href="#mnuJournal" class="ajaxTabs tabEmployee" data-url="@Url.Action("JournalReport", "Journal", new { id= ViewContext.RouteData.Values["id"] })">Journal</a></li>
                            }
                            if (isManager)
                            {
                                
                                <li>
                                    <a href="#mnuMyStaff" class="ajaxTabs tabEmployee" data-url="@Url.Action("Index", "MyStaff", new { id= ViewContext.RouteData.Values["id"], isDirector = isDirector })">My Staff</a>
                                    @if (Model.trainingCount > 0 && Model.trainingCount < 10)
                                    {
                                        <span class="btn badge badge-10">@Model.trainingCount</span>
                                    }
                                    else if (Model.trainingCount > 10 && Model.trainingCount < 99)
                                    {
                                        <span class="btn badge badge-99">@Model.trainingCount</span>
                                    }
                                    else
                                    {

                                    }
                                </li>
                                <li><a href="#mnuMyTeam" class="ajaxTabs tabEmployee" data-url="@Url.Action("Index", "MyTeam", new { id= ViewContext.RouteData.Values["id"] })">My Team</a></li>
                            }
                            if (backToMyStaffURL != "")
                            {
                                <li class="pull-right" style="border:none; margin:0; margin-right:0 !important;"><a href="#mnuBack" data-url="@backToMyStaffURL" class="ajaxTabs btnBackToMyStaffURL btn btn-xs btn-gray">Back</a></li>
                            }
                        }
                    </ul>
                    @Html.HiddenFor(e => isEdit, new { id = "hdnIsEditRequest" })
                    <div id="divContainer">
                        @*@Html.Action("Index", "PersonalDetail")*@
                    </div>

                    <div id="mnuPersonalDetail"></div>
                    <div id="mnuPost"></div>
                    <div id="mnuSkills"></div>
                    <div id="mnuHealth"></div>
                    <div id="mnuBenefits"></div>
                    <div id="mnuAbsence"></div>
                    <div id="mnuTraining"></div>
                    <div id="mnuMyStaff"></div>
                    <div id="mnuMyTeam"></div>
                    <div id="mnuDocuments"></div>
                    <div id="mnuJournal"></div>
                    <div id="mnuBack"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        var MAX_FILE_UPLOAD_SIZE = 20971520;
        var MAX_IMAGE_UPLOAD_SIZE = 1048576;
        var ALLOWED_IMAGE_EXTENSION = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        var ALLOWED_FILE_EXTENSION = ['pdf', 'doc', 'xls', 'txt'];

        jQuery.ajaxSetup({
            beforeSend: function () {
                $('#loader').show();
            },
            complete: function () {
                $('#loader').hide();
            },
            success: function () { }
        });
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');

            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }


            return vars;

        }
        function popupMessage(outerElement, element, msg, type) {
            if (type == "success") {

                $("#" + outerElement).removeClass('alert-danger');
                $("#" + outerElement).addClass('alert-success');
            }
            else if ("failure") {
                $("#" + outerElement).removeClass('alert-success');
                $("#" + outerElement).addClass('alert-danger');
            }

            $("#" + element).html(msg)
            $("#" + outerElement).show().delay(5000).fadeOut();
            window.scrollTo(0, 0);
        }
        $.fn.decimalFormat = function () {

            this.each(function (i) {
                $(this).change(function (e) {
                    if (isNaN(parseFloat(this.value))) return;
                    this.value = parseFloat(this.value).toFixed(2);
                });
            });
            return this; //for chaining
        }
        function jumpToNextTab() {
            var option = $("#tabs").children('ul').children('li');
            var active = $("#tabs").tabs("option", "active");
            if (active < option.length) {
                active = active + 1;
                $("#tabs").tabs("option", "active", active);
                var url = $($("#tabs").find('a')[active]).data('url')
                $('#divContainer').load(url);
                $('.modal-backdrop').hide();
            }
            $('body').removeClass('modal-open');
        }

        function reloadCurrentTab() {
            var active = $("#tabs").tabs("option", "active");
            var url = $($("#tabs").find('a')[active]).data('url')
            $('#divContainer').load(url);
            $('.modal-backdrop').hide();
            $('body').removeClass('modal-open');
        }

        function jumpToPreviousTab() {
            var active = $("#tabs").tabs("option", "active");
            if (active > 0) {
                active = active - 1;
                $("#tabs").tabs("option", "active", active);
            }
            $('body').removeClass('modal-open');
        }

        @*function loadDatePicker() {
            $(".DatePicker").datepicker({
                showAnim: "blind",
                dateFormat: 'dd/mm/yy',
                yearRange: '1900:2050',
                changeMonth: true,
                changeYear: true,
                showOn: 'button',
                buttonImage: '@Url.Content("~/Content/images/calendar.png")',
                buttonImageOnly: true,
            });

            //$.validator.methods.date = function (value, element) {
            //    //ES - Chrome does not use the locale when new Date objects instantiated:
            //    //return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
            //    var d = new Date();
            //    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
            //}

            $.validator.methods.date = function (value, element) {
                // /^\d{4}[\/\-](0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])$/.test( value );
                //old   (/^\d{1,2}[\/-]\d{1,2}[\/-]\d{4}(\s\d{2}:\d{2}(:\d{2})?)?$/.test(value)
                var valadsasd = this.optional(element) || (/^\d{1,2}[\/-]\d{1,2}[\/-]\d{4}(\s\d{2}:\d{2}(:\d{2})?)?$/.test(value)
                        && !/Invalid|NaN/.test(new Date(value.substr(6, 4) + '-' + value.substr(3, 2) + '-' + value.substr(0, 2))));
                //alert(valadsasd);
                return valadsasd;
            }

            //$.validator.methods.date = function (value, element) {
            //    var d = value.split("/");
            //    return this.optional(element) || !/Invalid|NaN/.test(new Date((/chrom(e|ium)/.test(navigator.userAgent.toLowerCase())) ? d[1] + "/" + d[0] + "/" + d[2] : value));
            //};
        }*@

        $(document).on('ready', function () {
            $('#tabs').tabs();

            var redirectTab = getUrlVars()["redirectTab"];
            if (typeof redirectTab !== "undefined") {
                if (redirectTab.substring(0, 3) == "mnu") {
                    var index = $('#tabs a[href="#' + redirectTab + '"]').parent().index();
                    $("#tabs").tabs({
                        active: index
                    });
                    reloadCurrentTab();
                }
            } else {
                var index = $('#tabs a[href="#mnuPersonalDetail"]').parent().index();
                $("#tabs").tabs({
                    active: index
                });
                reloadCurrentTab();
            }



            $('.tabEmployee').on('click', function (event) {
                var url = $(this).data('url');
                $('#divContainer').load(url);
            })

            $('.btnBackToMyStaffURL').on('click', function (event) {
                var url = $(this).data('url');
                window.location = url;
            })

            function switchTabs(event, ui) {
                if (!($('#hdnIsEditRequest').val() == 'True')) {
                    event.preventDefault();
                }
            }
        });


        (function () {

            loadDatePicker();
            nextPhase();

        })();

    </script>
}