﻿@model BHGHRModuleWeb.ViewModels.EmployeesListViewModel
@{
    ViewBag.Title = "Employees";
}
<script type="text/javascript">
    function btnCreateEmployee_click(e) {
        window.location = $(e).data('url');
    }
</script>
<div class="main-Container">
    <div class="row">
        <div class="col-md-12">
            <input type="button" class="btn btn-gray btn-xs pull-right" onclick="btnCreateEmployee_click(this)" data-url="@Url.Action("EmployeeCreate", "Employees")" value="Create New Employee" id="btnCreateEmployee" />
        </div>
    </div>
    <div class="listing-Container">
            <div id="webgrid">
                @Html.Partial("_EmployeesList", Model)
            </div>
    </div>
</div>

<script type="text/javascript">
    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms, 5 second for example
    function TypingInterval(e) {
        typingTimer = setTimeout(searchTextChanged, doneTypingInterval);
    }
    function searchTextChanged() {
        
        var status = 1;
        if ($('#rdBtnstatus').is(':checked') == false) {
            status = 0;
        }
        $.ajax({
            url: '@Url.Action("SearchEmployees", "Employees")',
            type: 'GET',
            data: {
                txtSearchText: $('#txtSearchText').val(),
                rdBtnstatus: status,
                teamId : '@Model.teamId'
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html(resp);
                }
            }
        });
    }
</script>