<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="PrintLetter.aspx.vb" Inherits="tenantsonline.PrintLetter" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Print</title>
    <script type="text/javascript" language="javascript" src="../../js/print.js"></script>
    <script type="text/javascript" language="javascript">
     function printME(){
        printFrame(this);
        //window.close();
     }
    </script>
   <link rel="Stylesheet" href="../../css/hideBox.css" />
</head>
<body onload="printME();">
    <form id="form1" runat="server">
    <div>
        <asp:Panel ID="pnlMain" runat="server" Width="100%">
            <asp:Label ID="lblMain" runat="server"></asp:Label></asp:Panel>
    
    </div>
    </form>
</body>
</html>
