﻿@model BHGHRModuleWeb.ViewModels.SkillsResponseViewModel
@{
    ViewBag.Title = "Skills";
    Layout = null;
    bool isEdit = ViewBag.isEdit == "edit";
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    // options.OnFailure = "OnFailure";
    options.OnBegin = "LanguageOnBegin";
    options.OnSuccess = "OnSuccessLanguages";
}

<style>
    .form-group {
        margin-bottom: 1px;
    }

    .form-control {
        height: 28px;
        font-size: 11px;
    }
</style>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="row padding-bottom"></div>
<div class="row padding-bottom">
    <div class="col-md-7 padding-bottom">
        <div class="row">
            <div class="col-md-12" style="display:none" id="delResponse">
                <div class="alert alert-success">
                    <strong id="msgs"></strong>
                </div>
            </div>
        </div>
        <div class="listing-Container grid-border" style="min-height:496px; margin-top:0px">
            <div id="webgrid">
                @Html.Partial("~/Views/Employees/Skills/_SkillListing.cshtml", Model.skills)
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="col-md-12 grid-border" style="margin-bottom:10px;">
            @using (Ajax.BeginForm("AddAmendEmployeeSkills", "Skills", new AjaxOptions
            {
                AllowCache = false,
                HttpMethod = "Post",
                OnSuccess = "OnSuccessSkills",
                OnFailure = "OnFailureSkills",
                UpdateTargetId = "msg"

            }))
            {
                <div class="row padding-bottom">
                    <div class="col-md-11 col-xs-11" style="border-bottom: 2px solid #dddddd;">
                        @Html.Label("Details:", new { style = "margin: 0;padding-top: 10px;" })
                    </div>
                    <input type="button" class="rock pull-right" onClick="reloadCurrentTab()" />
                </div>
                <div class="row padding-bottom-5" style="display:none">
                    <label class="control-label col-md-4"></label>
                    <div class="col-md-8">
                        @Html.HiddenFor(m => m.skillDetail.qualificationId, 0)
                        @Html.HiddenFor(m => m.skillDetail.employeeId, 0)
                    </div>
                </div>
                <div class="row padding-bottom-5">
                    <label class="control-label col-md-4">
                        @Html.LabelFor(m => m.skillDetail.qualLevelID)<span class='required'>*</span>
                    </label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(m => m.skillDetail.qualLevelID, new SelectList(Model.qualificationLevel, "Value", "Text"), "Please Select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.skillDetail.qualLevelID)
                    </div>
                </div>
                <div class="row padding-bottom-5">
                    <label class="control-label col-md-4">
                        @Html.LabelFor(m => m.skillDetail.equivalentLevel)
                    </label>
                    <div class="col-md-7">
                        @Html.DropDownListFor(m => m.skillDetail.equivalentLevel, new SelectList(Model.equivalentLevelLookUP, "Value", "Text"), "Please Select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.skillDetail.equivalentLevel)
                    </div>
                </div>
                <div class="row padding-bottom-5">
                    <label class="control-label col-md-4">
                        @Html.LabelFor(m => m.skillDetail.subject)<span class='required'>*</span>
                    </label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.skillDetail.subject, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row padding-bottom-5">
                    <label class="control-label col-md-4">
                        @Html.LabelFor(m => m.skillDetail.result)<span class='required'>*</span>
                    </label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.skillDetail.result, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row padding-bottom-5">
                    <label class="control-label col-md-4">
                        @Html.LabelFor(m => m.skillDetail.qualificationDate)<span class='required'>*</span>
                    </label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.skillDetail.qualificationDate, new { @class = "DatePicker form-control" })
                    </div>
                </div>
                <div class="row padding-bottom-5">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.skillDetail.professionalQualification, new { @class = "control-label " })
                    </div>
                    <div class="col-md-7">
                        @Html.HiddenFor(m => m.skillDetail.pQualification, new { id = "pQHidden" })
                        <input type="text" class="form-control" id="professional" />
                    </div>
                </div>
                <div class="row padding-bottom-5">
                    <div class="col-md-1 col-md-push-10">
                        <input class="btn btn-gray btn-xs pull-right" type="submit" id="addQualification" value='Add' />
                    </div>
                </div>
                <div class="row padding-bottom-5">
                    <label class="control-label col-md-4"></label>
                    <div class="col-md-7">
                        <div style="min-height:100px; max-height: 100px; border:1px solid #b1b1b1; overflow-y:scroll; overflow-x: hidden;">
                            <div class="padding-bottom-5-5">
                            </div>
                            <div class="row">
                                <div class="col-md-12" id="qual"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding-bottom-5">
                    <label class="control-label col-md-4"></label>
                    <div class="col-md-7"></div>
                </div>
                <div class="row padding-bottom-5">
                    <div class="col-md-1 col-md-push-10">
                        <input class="btn btn-gray btn-xs pull-right " type="submit" id="saveSkill" value='Save' />
                    </div>
                </div>
            }
        </div>



        <div class="col-md-12 grid-border">
            <div class="row padding-bottom">
                <div class="col-md-12 col-xs-12 padding-bottom" style="border-bottom: 2px solid #dddddd; margin-bottom:10px;">
                    @Html.Label("Languages:", new { style = "margin: 0;padding-top: 10px;" })
                </div>
                <div class="col-md-12">
                    @using (Ajax.BeginForm("AddEmployeeLanguageSkills", "Skills", options, new { id = "frmAddLanguage" }))
                    {

                        <div class="row padding-bottom-5 col-md-12">
                            <label class="control-label col-md-4">
                                @Html.LabelFor(m => m.language.languageTypeId)<span class='required'>*</span>
                            </label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.language.languageTypeId, new SelectList(Model.languageTypesLookUP, "Value", "Text"), "Please Select", new { @class = "form-control", onchange = "displayOther()" })

                                @Html.ValidationMessageFor(m => m.language.languageTypeId)
                            </div>
                        </div>
                        <div class="row padding-bottom-5 col-md-12 otherLanguage" style="display:none">
                            <label class="control-label col-md-4">
                                @Html.LabelFor(m => m.language.languageOther)
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.language.languageOther, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row padding-bottom-5 col-md-12">
                            <div class="col-md-3 pull-right">
                                <input class="btn btn-gray btn-xs pull-right" type="submit" id="addLanguage" value='Add' />
                            </div>
                            <div class="col-md-pull-8 pull-right">
                                <label class="checkbox-inline">@Html.CheckBoxFor(m => m.language.isSpoken, new { @class = "margin-top-1" }) <span>Spoken</span></label>
                                <label class="checkbox-inline">@Html.CheckBoxFor(m => m.language.isWritten, new { @class = "margin-top-1" }) <span>Written</span></label>
                            </div>

                        </div>
                    }
                    <div class="row padding-bottom-5 col-md-12">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-10">
                            <div style="min-height:100px; max-height:100px; border:1px solid #b1b1b1; overflow-y:scroll; overflow-x: hidden;">
                                <div class="padding-bottom"></div>
                                <div class="row">
                                    <div class="col-md-12" id="languagesSkills">
                                        @if (Model.languageSkills.Count > 0)
                                        {
                                            foreach (var app in Model.languageSkills)
                                            {
                                                <div class="row remQualify">
                                                    <div class="col-md-12">
                                                        <div class="col-md-5 ">@app.language</div>
                                                        <div class="col-md-5 ">@app.spokenWritten</div>
                                                        <div class="col-md-2 pull-right"><img src="~/Content/Images/delete.png" data-id="@app.languageId" class="pull-right delete-language" style="margin-right: 4px; padding-top: 3px;" width="17" /></div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-bottom-5 col-md-12">
                        <div class="col-md-12 pull-right">
                            <input class="btn btn-gray btn-xs pull-right" type="submit" id="addSaveLanguage" value='Save Language Skills' />
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

@if (!isEdit)
{
    <div class="row padding-bottom">
        <div class="col-md-12">
            <input class="btn btn-info btn-xs pull-right" onclick="jumpToNextTab()" type="submit" name="nextBtn" value='Save & Continue' />
        </div>
    </div>
}

    @* pop model start *@
    <div class="modal fade" id="confirm-delete" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-header">
                <h4 class="modal-title">Alert!</h4>
            </div>
            <div class="modal-body" style="background-color:white">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            <strong id="msglearning">Do you want to delete this record?</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color:white;margin-top:0px">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closelearning">No</button>
                <button id="submitlearning" class="btn btn-primary btn-ok">Yes</button>
            </div>
        </div>
    </div>
    @* pop model end *@

    <script type="text/javascript">
        var deleSkill = 0;

        (function () {
            loadDatePicker();
            deleteLanguage();
            SaveEmployeeLanguageSkills();
            jQuery.validator.unobtrusive.adapters.add('requiredif', ['other'], function (options) {
                var getModelPrefix = function (fieldName) {
                    return fieldName.substr(0, fieldName.lastIndexOf('.') + 1);
                }

                var appendModelPrefix = function (value, prefix) {
                    if (value.indexOf('*.') === 0) {
                        value = value.replace('*.', prefix);
                    }
                    return value;
                }

                var prefix = getModelPrefix(options.element.name),
                    other = options.params.other,
                    fullOtherName = appendModelPrefix(other, prefix),
                    element = $(options.form).find(':input[name="' + fullOtherName + '"]')[0];

                options.rules['requiredif'] = element;
                if (options.message) {
                    options.messages['requiredif'] = options.message;
                }
            });

            jQuery.validator.addMethod('requiredif', function (value, element, params) {
                var otherValue = $(params).val();
                if (otherValue != null && otherValue != '') {
                    return true;
                }
                return value != null && value != '';
            }, '');
        })();

        $('#addQualification').click(function () {
            event.preventDefault();
            if ($("#professional").val() != "") {
                document.getElementById('professional').style.borderColor = "#b1b1b1";
                $("#qual").append('<div class="remQualify"> <div class="col-md-8 vision">' + $("#professional").val() + '</div><div class="col-md-3"><a href="#" onclick="RemoveQualification(this); return false;" style="text-decoration: none;color:Red; text-align:right;">Remove </a></div> </div></div>');
                getQualifiactions();
                $("#professional").val("");
            } else {
                document.getElementById('professional').style.borderColor = "red";
                return false;
            }
        });

        function RemoveQualification(string) {
            $(string).parent().parent().remove();
            getQualifiactions();
        }

        function getQualifiactions() {
            var hideValue = null;
            var divs = $('.vision')
            $(".vision").each(function (i) {
                if (i == 0) {
                    hideValue = divs[i].innerHTML;
                }
                else {
                    hideValue += ',' + divs[i].innerHTML;
                }
            });
            $("#pQHidden").val(hideValue);
        }

        $.fn.resetValidation = function () {
            var $form = this.closest('form');
            //reset jQuery Validate's internals
            $form.validate().resetForm();
            //reset unobtrusive validation summary, if it exists
            $form.find("[data-valmsg-summary=true]")
                .removeClass("validation-summary-errors")
                .addClass("validation-summary-valid")
                .find("ul").empty();
            //reset unobtrusive field level, if it exists
            $form.find("[data-valmsg-replace]")
                .removeClass("field-validation-error")
                .addClass("field-validation-valid")
                .empty();
            $('#skillDetail_qualLevelID').val("0");
            $('#skillDetail_subject').val('');
            $('#skillDetail_result').val('');
            $('#skillDetail_qualificationDate').val('');
            $('#skillDetail_qualificationId').val(0);
            $('#skillDetail_professionalQualification').val('');
            $('#skillDetail_languageSkills').val('');

            $(".remQualify").remove();
            $('#saveSkill').prop('disabled', false);
            return $form;
        };



        function paging_Sorting() {
            edit_skills();
            delete_click(GetSkills);
        }

        function edit_skills() {

        }

        function loadGridEvents(event, ths) {
            event.preventDefault();
            var href = $(ths).attr("href");
            var queryString = href.substring(href.indexOf('?'), href.length);
            var requestUrl = '@Url.Action("SearchSkills", "Skills", new { id = ViewContext.RouteData.Values["id"] })' + queryString;
            $("#webgrid").load(requestUrl);
        }

        $(".btn-ok").click(function (index) {
            $("#confirm-delete").modal('hide');
            $.getJSON('@Url.Action("RemoveSkillById", "Skills")' + '/' + deleSkill, function (data) {
                var res = JSON.parse(data);
                if (res == "Skill/Qual is deleted successfully.") {
                    popupMessage('message', 'msgResponse', res, 'success');
                    GetSkills();
                }
            });
        });

        function OnSuccessSkills(response) {
            var obj = JSON.parse(response);
            if (obj == "Skill/Qual is saved successfully.") {
                popupMessage('message', 'msgResponse', obj, 'success');
                reloadCurrentTab();
                //$('#saveSkill').prop('disabled', true);
                //GetSkills();
            } else if (obj == "The field Other Language is required.") {
                popupMessage('message', 'msgResponse', obj, 'failure');
            }
            else if (obj == "Select other Lanaguage status spoken or written.") {
                popupMessage('message', 'msgResponse', obj, 'failure');
            }
            else {
                popupMessage('message', 'msgResponse', obj, 'failure');
            }
        }

        function OnFailureSkills(response) {
            $("#failure").show().delay(5000).fadeOut();
        }

        function OnSuccessLanguages(response) {
            if (response != "") {

                var appendDiv = "";
                for (var i = 0; i < response.languageSkills.length; i++) {
                    console.log(response);

                    appendDiv = appendDiv + '<div class="row remQualify"><div class="col-md-12">';
                    appendDiv = appendDiv + '<div class="col-md-5 ">' + response.languageSkills[i].language + '</div>';
                    appendDiv = appendDiv + ' <div class="col-md-5 ">' + response.languageSkills[i].spokenWritten + '</div>';
                    appendDiv = appendDiv + ' <div class="col-md-2 pull-right"><img src="../../Content/Images/delete.png"  data-id="' + response.languageSkills[i].languageId + '" class="pull-right delete-language" style="margin-right: 4px; padding-top: 3px;" width="17" /></div>';
                    appendDiv = appendDiv + '  </div></div>';
                }
                $("#languagesSkills").html(appendDiv);
                deleteLanguage();
                $('#language_language').val('');
                $('#language_isSpoken').prop('checked', false);
                $('#language_isWritten').prop('checked', false);

            }
        }
        function deleteLanguage() {
            $(".delete-language").click(function (index) {
                $.getJSON('@Url.Action("RemovelanguageById", "Skills")' + '/' + $(this).data('id'), function (data) {
                    var res = data;
                    console.log(data)
                    OnSuccessLanguages(data);
                });
            });
        }
        function SaveEmployeeLanguageSkills() {
            $("#addSaveLanguage").click(function (index) {
                $.getJSON('@Url.Action("SaveEmployeeLanguageSkills", "Skills")', function (data) {
                    var obj = JSON.parse(data);
                    popupMessage('message', 'msgResponse', obj, 'success');
                    reloadCurrentTab();
                });
            });
        }
        function LanguageOnBegin() {
            var end = $("#language_languageTypeId option:selected").text();
            if (end == "Other") {
                if ($('#language_languageOther').val() == "") {
                    popupMessage('message', 'msgResponse', 'Please enter text in Other field.', 'failure');
                    return false;
                }
            }
        }

        function displayOther() {            
            var end = $("#language_languageTypeId option:selected").text();
            if (end == "Other") {
                $('.otherLanguage').css("display", "");
            }
            else {
                $('.otherLanguage').css("display", "none");
            }
        }
    </script>
