﻿@model  BHGHRModuleWeb.ViewModels.SkillsGridViewModel

@{
    Layout = null;
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize, canSort: false);
    grid.Bind(Model.skillsList, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
}

@if (Model.skillsList != null && Model.skillsList.Count > 0)
{
    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "subject", header: "Subject:"),
        grid.Column(columnName: "result", header: "Result:"),
        grid.Column(columnName: "qualificationDate", header: "Date Completed:"),
        grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:@<text>
            <img src="~/Content/Images/aero.png" data-id="@item.qualificationId" class="pull-right edit-skill" width="22" />
            <img src="~/Content/Images/delete.png" data-id="@item.qualificationId" class="pull-right delete-skill" style="margin-right: 4px; padding-top: 3px;" width="17" data-toggle="modal" data-target="#confirm-delete" />
        </text>)

    ))

    <div class="panel-footer">
        <div class="row">
            <div id="gridPager" class="space-box col-md-9" style="margin-left:0px;padding-left:0px">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
            </div>
            <div id="" class="col-md-3">
                <span style="padding-right:5px;">Page:</span>
                @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtpageText", onkeyup = "TypingPageInterval();" })
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Subject:</th>
                <th>Result:</th>
                <th>Date Completed:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="4" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtpageText", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    (function () {
        $("#webgrid a").on('click', function (event) {
            loadGridEvents(event, this);
        });
    })();

    $("#webgrid .delete-skill").click(function (index) {
        deleSkill = $(this).data('id');
        $('#confirm-delete').modal('show');
    });

    $("#webgrid .edit-skill").click(function (index) {
        $.getJSON('@Url.Action("GetSkillById", "Skills")' + '/' + $(this).data('id'), function (data) {
            var res = data;
            console.log(data);
            $('#skillDetail_qualLevelID').val(res.qualLevelID);
            $('#skillDetail_equivalentLevel').val(res.equivalentLevel);
            $('#skillDetail_subject').val(res.subject);
            $('#skillDetail_result').val(res.result);
            $('#skillDetail_qualificationDate').val(res.qualificationDate);
            $('#skillDetail_qualificationId').val(res.qualificationId);
            $('#skillDetail_professionalQualification').val(res.professionalQualification);
            //$('#skillDetail_languageSkills').val(res.languageSkills);
           // $('#language').val(res.spokenLanguage);
            $('#professional').val('');

            //if (res.spokenLanguage == "Others") {
            //    $('.otherLanguage').css("display", "");
            //    $('#skillDetail_spokenLanguageOther').val(res.spokenLanguageOther);
            //    if (res.isSpoken == true) {
            //        $('#skillDetail_isSpoken').prop('checked', true);
            //    } else {
            //        $('#skillDetail_isSpoken').prop('checked', false);
            //    }

            //    if (res.isWritten == true) {
            //        $('#skillDetail_isWritten').prop('checked', true);
            //    } else {
            //        $('#skillDetail_isWritten').prop('checked', false);
            //    }
            //} else {
            //    $('.otherLanguage').css("display", "none");
            //}

           // $('#skillDetail_languageSkills').val(res.languageSkills);
            $("#qual").html('');
            if (res.professionalQualification != null && res.professionalQualification != "") {
                $.each(res.professionalQualification, function (index, value) {
                    $("#qual").append('<div class="remQualify"> <div class="col-md-8 vision">' + value + '</div><div class="col-md-2"><a href="#" onclick="RemoveQualification(this); return false;" style="text-decoration: none;color:Red; text-align:right;">Remove </a></div> </div></div>');
                });
                getQualifiactions();
            }
            $("#saveSkill").val('Update Skill');
            $('#saveSkill').prop('disabled', false);
        });
    });

    function GetSkills() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Index", "Skills", new { id= ViewContext.RouteData.Values["id"] })',
            success: function (response) {
                $('#webgrid').html($(response).find('#webgrid'));
                // edit_click();
                //  delete_click(GetSkills);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                popupMessage('message', 'msgResponse', "Unable to save record", 'failure');
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    }
    var typingTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example
    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var requestUrl = '@Url.Action("SearchSkills", "Skills", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtpageText").val();
        $("#webgrid").load(requestUrl);
    }

</script>