.ThinLineT {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #133E71;
}
.ThinLineLnB {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #133E71;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #133E71;
}
.ThinLineR {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #133E71;
}
.ThinLineB {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #133E71;
}
.ThinLineL {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #133E71;
}
.RSLBlack {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10PX;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.RSLWhite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10PX;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
td {
	FONT-SIZE: 10PX; 
	FONT-FAMILY: Verdana, Arial, Helvetica
}
.RSLButton {
	FONT-SIZE: 10PX; 
	COLOR: #133E71; 
	FONT-FAMILY: Verdana, Arial, Helvetica; 
	background-color: #FFFFFF; 
	border: 1px #133E71 solid;
	cursor: hand
}
.RSLButtonSmall {
	FONT-SIZE: 10PX;
	COLOR: #133E71; 
	FONT-FAMILY: Verdana, Arial, Helvetica; 
	background-color: #FFFFFF; 
	border: 1px #133E71 solid;
	cursor: hand
}
.textbox {
	FONT-SIZE: 10px; 
	FONT-FAMILY: Verdana, Arial, Helvetica; 
	border: 1px solid #669900;
}
.textbox200 {
	width:200px;
	FONT-SIZE: 10px; 
	FONT-FAMILY: Verdana, Arial;
	border: 1px solid #669900;
}

body {
	background-repeat: no-repeat;
	background-position: 788px 6px;
	background-attachment: fixed;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Arial, Helvetica;
	color: #000099;
	scrollbar-3dlight-color: #CCCCCC; 
	scrollbar-arrow-color: #839FAD; 
	scrollbar-base-color: #F7F8F8;
}

 .TA {scrollbar-3dlight-color:;
       	SCROLLBAR-FACE-COLOR: #FFFFFF; 
 	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; 
 	SCROLLBAR-SHADOW-COLOR: silver; 
 	SCROLLBAR-3DLIGHT-COLOR: silver; 
 	SCROLLBAR-ARROW-COLOR: silver; 
 	SCROLLBAR-TRACK-COLOR: #839FAD; 
 	SCROLLBAR-DARKSHADOW-COLOR: silver; 
 	ScROLLBAR-BASE-COLOR: #FFFFFF;
}
.tab_table {  background-color: #FFFFFF; border-color: #FFFFFF #000066 #000066; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.del {  font-family: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10PX; color: #FF0000; background-color: #FFFFFF; border: 1px #FF0000 solid}
.table_head {  color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; border-style: none; font-weight: bold}
table {  border: 1px #133E71 none}
.no_tab_table { background-color: #FFFFFF; border: #133e71 solid; border-width: 0px 1px 1px}
.ERROR_TEXT {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: italic; color: #CC3333; text-decoration: underline; font-weight: bold}
.NO-BORDER {  border: #FFFFFF; border-style: solid; border-top-width: 3px; border-right-width: 3px; border-bottom-width: 3px; border-left-width: 3px}
.caps {  font-family: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10PX; text-transform: capitalize}
.title {  background-color: beige; width: 100px; font-size: 10px; font-weight: bold}
.longtitle {  background-color: beige; font-size: 10px; font-weight: bold}
.textbox100 { width:100px; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica; border: 1px solid #669900}
.textboxFlat { FONT-SIZE: 10PX; FONT-FAMILY: Verdana, Arial, Helvetica; border: #133e71; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.textboxFlat250 { FONT-SIZE: 10PX; FONT-FAMILY: Verdana, Arial, Helvetica; border: 1px #133e71 solid; width: 250px}
.bgColour {
	background-color: #DFEACA;
}
