/* CSS Document */

body
{
    margin: 0px;
    padding: 0px;
}

.jr-menu
{
    height: 35px;
    background: #df1d38;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 15px 10px 0px 10px;
}

.jr-menu a
{
    text-decoration: none;
    color: #fff;
}

.jr-menu .tabs
{
    border-left: 1px solid #fff;
    padding-left: 10px;
    font-size: 13px;
}

.jr-datawrap
{
    padding: 20px 5px 5px 5px;
}

.jr-leftmenu
{
    border: 1px solid #000;
}

.jr-leftmenu .links
{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: block;
    text-decoration: none;
    color: #000;
}
.jr-leftmenu .links a
{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: block;
    text-decoration: none;
    color: #000;
}
.jr-leftmenu .links:hover
{
    background-color: #ccc;
}

.jr-leftmenu .links .selected
{
    background-color: #ccc;
}

.jr-rightpanel
{
    border: 1px solid #000;
    margin-left: 10px;
}

.jr-rightpanel .titlebar
{
    padding: 10px;
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
}

/*//////////////////////////Module Menu /////////////////*/
ul {
  font-family: Verdana,Arial,Helvetica;
  font-size: 11px;   
  margin: 0;
  padding: 0;
  list-style: none;
   color: #ffffff;
}
ul li {
  display: block;
  position: relative;
  float: left;
  cursor:pointer;  
}
li ul { display: none; }
ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;

  padding: 5px 15px 5px 15px;
  background: #DF1D38;
  margin-left: 1px;
  white-space: nowrap;
}
ul li a:hover { background: #DF1D38; }
li:hover ul {
  display: block;
  position: absolute;
}
li:hover li {
  float: none;
  font-size: 11px;
}
li:hover a { background: #DF1D38; }
li:hover li a:hover { background: #95A9B1; }
/*////////////////////////////////////////////////////////////*/
.tab-bar
{
    margin-left:1%; 
    margin-top:1%;  
			
	}
	
	.tab-bar .tab{
		padding:5px 10px;
		background-color:#d6d3ce;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		color:#FFF;
		text-decoration:none;
		margin-right:1px;
		float:left;
		min-width:70px; 
		text-align:center;  
	}
	
	.tab-bar .tab-selected{
		padding:5px 10px;
		background-color:#093c75;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		color:#FFF;
		text-decoration:none;
		margin-right:1px;
		float:left;
		min-width:60px; 
		text-align:center;  
	}
	
	.tab-bar .tab:hover{
		background-color:#093c75;	
	}
	
	.clear-tabs{
		clear:both;	
	}
