﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SchemeDropDown.ascx.cs" Inherits="PropertyDataRestructure.UserControls.Common.SchemeDropDown" %>
   <asp:Panel ID="pnlMessage" runat="server" Visible="false">
            <asp:Label ID="lblMessage" Font-Size="14px" runat="server"></asp:Label>
            <br />
        </asp:Panel>
<asp:Panel runat="server" ID="pnlSchemeDropDown">
    <asp:DropDownList runat="server" ID="ddlScheme" CssClass="pdr-SelectDropDodwn">        
    </asp:DropDownList>
</asp:Panel>






