﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UIMessage.ascx.cs" Inherits="PropertyDataRestructure.UserControls.Common.UIMessage" %>
<div id="StatusBox" runat="server" class="StatusInfo" style=" margin-left:10px; margin-top:5px;">
	<asp:Label ID="StatusLabel" Runat="server" />
</div>