﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UIMessage.ascx.vb" Inherits="Appliances.UIMessage" %>
<div id="StatusBox" runat="server" class="StatusInfo"  style="padding-left:13px; padding-top:10px; padding-bottom:10px;">
	<asp:Label ID="StatusLabel" Runat="server" />
</div>

