﻿@model BHGHRModuleWeb.ViewModels.AbsenceListViewModel
@using System.Globalization;

@{
    Layout = null;
    ViewBag.Title = "Employee Sickness Leave";
    //bool isEdit = ViewBag.isEdit == "edit";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10, canSort: false);
    if (Model.absentees != null && Model.absentees.Count > 0)
    {
        grid.Bind(source: Model.absentees, rowCount: 5, autoSortAndPage: false);
    }

}

@using (Ajax.BeginForm("GetAbsenceLeave", "Absence", new { id = Model.employeeId }, new AjaxOptions() { AllowCache= false, HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divAbsenceLeave" }))
{
    <div class="portlet portlet-full">
        <div class="row">
            <div class="col-md-12">
                <div class="absence portlet-icon"></div>
                <div class="portlet-head padding-bottom-5">
                    <strong>
                        Other Leave:
                    </strong>
                    <input class="btn btn-gray btn-xs pull-right" type="submit" name="nextBtn" value='Record' />
                    @*<strong style="padding-right:35px;" class="pull-right">
                        @Model.days days Other Leave (YTD)
                    </strong>*@
                </div>
            </div>
        </div>
        <div class="row padding-bottom"></div>
        <div class="row">
            <div class="col-md-12">
                <div style="max-height: 376px; min-height: 376px;" class="col-md-12 background-white pre-scrollable">
                    @if (Model.absentees != null && Model.absentees.Count > 0)
                    {
                        @grid.GetHtml(
                            tableStyle: "table table-responsive backcolor",
                            headerStyle: "wedgrid-header",
                            footerStyle: "webgrid-footer",
                            alternatingRowStyle: "webgrid-alternating-row",
                            rowStyle: "webgrid-row-style",
                            columns: grid.Columns(
                            grid.Column(columnName: "lastActionDate", header: "Date:"),
                            grid.Column(columnName: "startLeaveDate", header: "Start Date:"),
                            grid.Column(columnName: "endLeaveDate", header: "End Date:"),
                            grid.Column(columnName: "nature", header: "Nature:"),
                            grid.Column(columnName: "status", header: "Status:"),
                            grid.Column(columnName: "duration", header: "Number of days/hours:"),
                            grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:
                            @<text>
                                @*@if (
                                        (
                                        (Model.currentlyLoggedEmployeeId == Model.employeeId && Convert.ToDateTime(@item.startLeaveDate, new CultureInfo("en-gb")).Date >= DateTime.Now.Date)
                                        || Model.isTeam == true
                                        || Model.isHr == true
                                        )
                                        && item.status == "Pending") { } *@
                                @if (item.absenceHistoryId != 0) //item.status != "Cancelled" && item.status != "Declined" &&
                                {
                                    <a href="#" data-id="@item.absenceHistoryId" data-type="absence" class="pull-right btnLeaveDetail"><img src="~/Content/Images/aero.png" width="22" /></a>
                                }
                            </text>)
                        ))
                    }
                    else
                    {
                        <table class="table table-responsive backcolor">
                            <thead>
                                <tr class="wedgrid-header">
                                    <th>Date:</th>
                                    <th>Start Date:</th>
                                    <th>End Date:</th>
                                    <th>Nature:</th>
                                    <th>Status:</th>
                                    <th>Number of days/hours:</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="webgrid-row-style">
                                    <td colspan="6" align="center"><br />No record found<br /><br /> </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
}