﻿@model BHGHRModuleWeb.ViewModels.LeaveEditViewModel
@{
    Layout = null;
    ViewBag.Title = "Employee Absence Leave";
    var options = new AjaxOptions()
    {
        AllowCache= false,
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "OnSuccessAbsenceLeave",
        OnFailure = "OnFailureAbsenceLeave",
        OnBegin = "OnBeginAbsenceLeave"
        //UpdateTargetId = "divAbsenceLeave"
    };
}

@*<link href = "~/Content/jquery.timepicker.css" rel = "stylesheet" />*@
<style type="text/css">
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .well {
        margin: 5px 0;
    }

    .m-top-50 {
        margin-top: 50px;
    }

    .m-top-15 {
        margin-top: 15px;
    }
</style>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="~/Scripts/jquery.timepicker.js"></script>

@using (Ajax.BeginForm("SaveAbsenceLeave", "Absence", new { }, options))
{
    <div class="portlet portlet-full">
        <div class="col-md-12 alert alert-success" id="messageAbsenceLeave" style="display:none">
            <strong id="msgResponseAbsenceLeave"></strong>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="absence portlet-icon"></div>
                        <div class="portlet-head padding-bottom-5 background-white">
                            <strong>
                                Other Leave:
                            </strong>
                        </div>
                    </div>
                </div>
                <div style="min-height: 386px; max-height: 386px;"  class="col-md-12 background-white">
                    <div class="row padding-bottom"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.nature)
                                </div>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.nature, Model.natures, new { @class = "form-control", onchange = "ddlNatureChanged()" })
                                    @Html.HiddenFor(m => m.employeeId)
                                    @Html.HiddenFor(m => m.bankHolidays, new { id = "hdnHolidayDatesAbsence" })
                                    @Html.HiddenFor(m => m.holtype, new { id = "hdnHolTypeAbsence" })
                                    @Html.HiddenFor(m => m.natureName, new { id = "hdnNatureName" })
                                    @Html.HiddenFor(m => m.unit, new { id = "unitAbsence" })
                                    @if (Model.workingHours != null && Model.workingHours.Count > 0)
                                    {
                                        var count = 0;
                                        <span>@Html.HiddenFor(m => Model.workingHours.Count, new { id = "hdntotalWeekAbsence" })</span>
                                        foreach (var item in Model.workingHours)
                                        {
                                            count += 1;
                                            <span>@Html.HiddenFor(m => item.mon, new { id = "hdn_mon_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.tue, new { id = "hdn_tue_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.wed, new { id = "hdn_wed_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.thu, new { id = "hdn_thu_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.fri, new { id = "hdn_fri_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.sat, new { id = "hdn_sat_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.sun, new { id = "hdn_sun_" + count })</span>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.requested)
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3">
                                            @Html.RadioButtonFor(m => m.requested, "false", new { id= "radSingleAbsence", @class = "cboxRequestedAbsence" }) Single
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            @Html.RadioButtonFor(m => m.requested, "true", new { id = "radMultiAbsence", @class = "cboxRequestedAbsence" }) Multiple
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.startDate)
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.start, new { id= "txtStartDateAbsence", Name = "startDate", @class = "DatePicker form-control" })
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        Full @Html.RadioButtonFor(m => m.holidayTypeStart, "0", new { id = "radStartFullAbsence", @class = "holidayTypeChange" })
                                        AM @Html.RadioButtonFor(m => m.holidayTypeStart, "1", new { id = "radStartAMAbsence", @class = "holidayTypeChange" })
                                        PM @Html.RadioButtonFor(m => m.holidayTypeStart, "2", new { id = "radStartPMAbsence", @class = "holidayTypeChange" })
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom div-end-date-absence">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.endDate)
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.end, new { id = "txtEndDateAbsence", Name = "endDate", @class = "DatePicker form-control" })
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        Full @Html.RadioButtonFor(m => m.holidayTypeEnd, "0", new { id = "radEndFullAbsence", @class = "holidayTypeChange" })
                                        AM @Html.RadioButtonFor(m => m.holidayTypeEnd, "1", new { id = "radEndAMAbsence", @class = "holidayTypeChange" })
                                        PM @Html.RadioButtonFor(m => m.holidayTypeEnd, "2", new { id = "radEndPMAbsence", @class = "holidayTypeChange" })
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom div-from-absence" style="display:none">
                                <div class="col-md-3">
                                    <label>From:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.from, new { id = "txt_From_absence", @class = "form-control timeselect", @onblur = "calculate_duration_absence()", @onkeyup = "calculate_duration_absence()", @onchange = "calculate_duration_absence()" })
                                </div>
                            </div>
                            <div class="row padding-bottom div-to-absence" style="display:none">
                                <div class="col-md-3">
                                    <label>To:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.to, new { id = "txt_To_absence", @class = "form-control timeselect", @onblur = "calculate_duration_absence()", @onkeyup = "calculate_duration_absence()", @onchange = "calculate_duration_absence()" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.duration)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.duration, new { id = "txtDurationAbsence", @class = "form-control", @readonly = "readonly" })
                                </div>
                                @if (!string.IsNullOrEmpty(Model.unit))
                                {
                                    <div class="col-md-1">
                                        (@Html.ValueForModel(Model.unit))
                                    </div>
                                }
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.recordedBy)
                                </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.recordedBy, new { @class = "form-control", @readonly = "readonly" })

                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.notes)
                                </div>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.notes, 5, 3, new { @class = "form-control personalDetail" })
                                    @Html.ValidationMessageFor(m => m.notes)
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-12">
                                    <input class="btn btn-gray btn-xs pull-right" type="submit" name="submitButton" value='Add' />
                                    <input style="margin-right:10px;" class="btn btn-gray btn-xs pull-right cancel" type="submit" name="submitButton" value='Cancel' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var txt_STARTDATE = "txtStartDateAbsence";
    var txt_RETURNDATE = "txtEndDateAbsence";
    var dates = "hdnHolidayDatesAbsence";
    var hdnHolType = "hdnHolTypeAbsence";
    var radStartFull = "radStartFullAbsence";
    var radStartAM = "radStartAMAbsence";
    var radStartPM = "radStartPMAbsence";
    var radEndFull = "radEndFullAbsence";
    var radEndAM = "radEndAMAbsence";
    var radEndPM = "radEndPMAbsence";
    var txt_DURATION = "txtDurationAbsence";
    var radMulti = "radMultiAbsence";
    var hdnUnit = "unitAbsence";
    var hdntotalWeek = "hdntotalWeekAbsence";

    (function () {
        loadDatePickerLeave();
        workDays_AnnualAbsence();
        //$('.timeselect').timepicker();
        $('.div-end-date-absence').hide();
        $('.div-from-absence').hide();
        $('.div-to-absence').hide();

        $(".cboxRequestedAbsence").change(function () {
            //workDays();
            if ($('#radSingleAbsence').is(':checked')) {
                $('.div-end-date-absence').hide();
                $("#txtEndDateAbsence").val($("#txtStartDateAbsence").val());
            }
            else {
                $('.div-end-date-absence').show();
            }
        });

        $(".DatePicker").change(function () {
            workDays_AnnualAbsence();
        });

        $(".holidayTypeChange").change(function () {
            workDays_AnnualAbsence();
        });

    })();

    function OnBeginAbsenceLeave() {
        var holtype = $('#hdnHolTypeAbsence').val();
        if (holtype != "F" && holtype != "M" && holtype != "A" && holtype != "F-F" && holtype != "F-M" && holtype != "A-F") {
            var errorMsg = "Invalid Combination. Start date must be full day or Afternoon and End date must be Morning or Full day.";
            OnFailureAbsenceLeave(errorMsg);
            return false;
        }
    }

    function OnSuccessAbsenceLeave(response) {
        if (response != "" && response.indexOf("__failure__") >= 0) {
            var errorMsg = response.split('__failure__')
            //var obj = jQuery.parseJSON(errorMsg[1]);
            OnFailureAbsenceLeave(errorMsg[1]);
            return false;
        }
        @*$('#divMaternityPeternityLeave').load('@Url.Action("GetInternalMeetings", "Absence", new { id = Model.employeeId })');*@
        $('#divAbsenceLeave').html(response);
        btnLeaveDetail();
    }

    function OnFailureAbsenceLeave(response) {
        popupMessage('messageAbsenceLeave', 'msgResponseAbsenceLeave', response, 'failure');
    }

    function ddlNatureChanged() {
        $('#hdnNatureName').val($("#nature option:selected").text());
        if ($("#nature option:selected").text() == 'Birthday Leave' || $("#nature option:selected").text() == 'Personal Day' || $("#nature option:selected").text() == 'Internal Meeting') {
            $('.div-from-absence').hide();
            $('.div-to-absence').hide();
            //$("#radSingleAbsence").val;
            $('#radMultiAbsence').attr('disabled', true);
            //$('#radStartAMAbsence').attr('disabled', true);
            //$('#radStartPMAbsence').attr('disabled', true);
            //$('#txtDurationAbsence').val(1);
            document.getElementById('radSingleAbsence').checked = true;
            document.getElementById('radStartFullAbsence').checked = true;
            $('.div-end-date-absence').hide();
            $("#txtEndDateAbsence").val($("#txtStartDateAbsence").val());
            if ($("#nature option:selected").text() == 'Internal Meeting') {
                $('.div-from-absence').show();
                $('.div-to-absence').show();
            }
        }
        else {
            $('#radMultiAbsence').attr('disabled', false);
            //$('#radStartAMAbsence').attr('disabled', false);
            //$('#radStartPMAbsence').attr('disabled', false);
            $('.div-from-absence').hide();
            $('.div-to-absence').hide();
        }
    }

    function calculate_duration_absence() {
        var start = document.getElementById("txt_From_absence").value;
        var end = document.getElementById("txt_To_absence").value;
        start = start.split(":");
        end = end.split(":");
        var startDate = new Date(0, 0, 0, start[0], start[1], 0);
        var endDate = new Date(0, 0, 0, end[0], end[1], 0);
        var diff = endDate.getTime() - startDate.getTime();
        var hours = diff / 1000 / 60 / 60;
        if (hours <= 0 || isNaN(hours) || !isTime("txt_From_absence") || !isTime("txt_To_absence")) {
            $("#txtDurationAbsence").css({ "color": "red" });
            $('#txtDurationAbsence').val("Invalid Duration");
            //alert("Start time must be smaller than end time.");
            return false;
        }
        $("#txtDurationAbsence").css({ "color": "black" });
        document.getElementById("txtDurationAbsence").value = hours;

        return true;
    }

    ////////////////////////////////////////////////////////////
    
    // RSL Code

    function isBankHoliday_AnnualAbsence(d) {
        var bhDates = $('#hdnHolidayDatesAbsence').val()
        var bhSplit = new Array();
        bhSplit = bhDates.split(',');
        var i = 0;

        while (i <= bhSplit.length - 1) {
            cccc = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime() - d.getTime();
            var leaveDate = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime();
            if (leaveDate == d.getTime()) {
                return true;
            }

            i = i + 1
        }

        return false;
    }

    function JSlong_date_AnnualAbsence(str_date) {
        var arrMon = new Array("", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        var date_array = str_date.split("/");
        return new String(Math.abs(date_array[0]) + " " + arrMon[parseInt(date_array[1], 10)] + " " + date_array[2])
    }

    function bhDays_AnnualAbsence() {
        var bhSplit, cnt, testBHDate, high, testDate, bhCount, holStart, holEnd, tmpStartDate, totdate, i

        holStart = new Date(Date.parse(JSlong_date_AnnualAbsence(document.getElementById(txt_STARTDATE).value)));
        //$('#startDate').val($('#txt_STARTDATE').val());
        if (document.getElementById(radMulti).checked == true) {
            holEnd = new Date(Date.parse(JSlong_date_AnnualAbsence(document.getElementById(txt_RETURNDATE).value)));
            //$('#endDate').val($('#txt_RETURNDATE').val());
        }
        else {
            holEnd = new Date(Date.parse(JSlong_date_AnnualAbsence(document.getElementById(txt_STARTDATE).value)));
            //$('#endDate').val($('#txt_STARTDATE').val());
        }

        var bhDates = document.getElementById(dates).value
        var bhSplit = new Array();
        bhSplit = bhDates.split(',');

        var cnt = 1
        var bhCount = 0
        i = 0

        if (document.getElementById(radMulti).checked == true) {

            var tmpStartDate = new Date(Date.parse(JSlong_date_AnnualAbsence(document.getElementById(txt_STARTDATE).value)));
            var tmpEndDate = new Date(Date.parse(JSlong_date_AnnualAbsence(document.getElementById(txt_RETURNDATE).value)));
            var totdate = (Math.abs(holStart.getTime() - holEnd.getTime()) / 86400000) + 2;

            while (cnt < totdate) {

                while (i <= bhSplit.length - 1) {
                    cccc = new Date(Date.parse(JSlong_date_AnnualAbsence(bhSplit[i]))).getTime() - tmpStartDate.getTime();
                    var leaveDate = new Date(Date.parse(JSlong_date_AnnualAbsence(bhSplit[i]))).getTime();
                    if (leaveDate >= tmpStartDate.getTime() && leaveDate <= tmpEndDate.getTime()) {
                        bhCount = bhCount + 1;
                    }

                    //if (cccc == 0) {
                    //}
                    i = i + 1
                }
                cnt = cnt + 1

            }

        }
        else {
            var pattern
            var dts = new String(document.getElementById(dates).value)
            pattern = /\s*,\s*/;
            var dtsList = dts.split(pattern);
            //pattern = /(\w+)\s+(\w+)/;
            pattern = /\s*/;
            byDateList = new Array;
            for (i = 0; i < dtsList.length; i++) {
                byDateList[i] = dtsList[i].split(" ")[0];
            }
            for (i = 0; i < byDateList.length; i++) {
                if (byDateList[i] == document.getElementById(txt_STARTDATE).value) {
                    bhCount = -1;
                }
            }
        }
        return bhCount
    }

    function getType_AnnualAbsence() {
        var holType = "";
        // if multi day

        if (document.getElementById(radStartFull).checked == true) {
            holType = "F";
        }
        else if (document.getElementById(radStartAM).checked == true) {
            holType = "M";
        }
        else {
            holType = "A";
        }

        if (document.getElementById(radMulti).checked == true) {

            if (document.getElementById(radEndFull).checked == true) {
                holType = holType + "-F";
            }
            else if (document.getElementById(radEndAM).checked == true) {
                holType = holType + "-M";
            }
            else {
                holType = holType + "-A";
            }
        }

        $('#' + hdnHolType).val(holType);
    }

    function weekAndDay_AnnualAbsence(date) {
        // if not Sunday/Saturday
        // Javascript Sunday is 0, Monday is 1, Saturday is 6 and so on.
        // vb Script Sunday is 1, Monday is 2, Saturday is 7 and so on.
        days = ['sun', 'mon', 'tue', 'wed',
                'thu', 'fri', 'sat'];
        var totalWeeks = parseInt(document.getElementById(hdntotalWeek).value);
        var weekNo = getWeekOfMonth_AnnualAbsence(date);
        //prefixes = ['First', 'Second', 'Third', 'Fourth', 'Fifth'];
        if (weekNo > totalWeeks) {
            while (weekNo > totalWeeks) {
                weekNo -= totalWeeks;
            }
        }

        //weekNo += 1;
        if (weekNo > totalWeeks) {
            weekNo -= totalWeeks;
        }
        var dailyHours = parseFloat($("#hdn_" + days[date.getDay()] + "_" + weekNo).val());
        return dailyHours;
        //return prefixes[0 | date.getDate() / 7] + ' ' + days[date.getDay()];
    }

    function getWeekOfMonth_AnnualAbsence(date) {
        var day = date.getDate();
        var data = getWeeksStartAndEndInMonth_AnnualAbsence(date.getMonth(), date.getYear(), 1);
        var i;
        for (i = 0; i < data.length; i++) {
            if (data[i].start <= day && data[i].end >= day)
                break;
        }
        return i + 1;
    }

    function endFirstWeek_AnnualAbsence(firstDate, firstDay) {
        if (!firstDay) {
            return 7 - firstDate.getDay();
        }
        if (firstDate.getDay() < firstDay) {
            return firstDay - firstDate.getDay();
        } else {
            return 7 - firstDate.getDay() + firstDay;
        }
    }
    function getWeeksStartAndEndInMonth_AnnualAbsence(month, year, start) {
        let weeks = [],
            firstDate = new Date(year, month, 1),
            lastDate = new Date(year, month + 1, 0),
            numDays = lastDate.getDate();

        start = 1;
        let end = endFirstWeek_AnnualAbsence(firstDate, firstDate.getDay());
        while (start <= numDays) {
            weeks.push({ start: start, end: end });
            start = end + 1;
            end = end + 7;
            end = start === 1 && end === 8 ? 1 : end;
            if (end > numDays) {
                end = numDays;
            }
        }
        return weeks;
    }

    function workDays_AnnualAbsence() {
        getType_AnnualAbsence();
        var weekdayCount = 0;

        var unit = document.getElementById(hdnUnit).value;
        var BegDate = new Date(Date.parse(JSlong_date_AnnualAbsence(document.getElementById(txt_STARTDATE).value)));
        var EndDate = new Date(Date.parse(JSlong_date_AnnualAbsence(document.getElementById(txt_RETURNDATE).value)));

        bhCountdays = bhDays_AnnualAbsence();

        var non_work_days = 0;//$('#hid_non_work_days').val()
        // unit days then count days
        // unit hours then count hours from working pattren
        // if multi day is picked
        if (document.getElementById(radMulti).checked == true) {
            if (unit == "days") {
                //WholeWeeks = parseInt((EndDate - BegDate) / (1000 * 60 * 60 * 24 * 7).toFixed(2));
                //var NoOfDays = WholeWeeks * 7
                var DateCnt = new Date(BegDate)
                //DateCnt.setDate(DateCnt.getDate() + NoOfDays)
                EndDays = 0
                var loopDate = new Date();
                loopDate.setTime(BegDate.valueOf());

                while (loopDate.valueOf() < EndDate.valueOf() + 86400000) {
                    if (weekAndDay_AnnualAbsence(loopDate) > 0) {
                        EndDays = EndDays + 1
                        if (weekAndDay_AnnualAbsence(loopDate) > 0 && loopDate.valueOf() == EndDate.valueOf()) {
                            if ((document.getElementById(radStartAM).checked == true) || (document.getElementById(radStartPM).checked == true)) {
                                EndDays = EndDays - 0.5;
                            }
                            if ((document.getElementById(radEndAM).checked == true) || (document.getElementById(radEndPM).checked == true)) {
                                EndDays = EndDays - 0.5;
                            }
                        }
                    }

                    loopDate.setTime(loopDate.valueOf() + 86400000);
                }

                var jsWorkDays = EndDays;
                jsWorkDays = jsWorkDays - bhCountdays - non_work_days;

                if (jsWorkDays < 0.5) {
                    document.getElementById(txt_DURATION).style.color = "red"
                    document.getElementById(txt_DURATION).value = "Invalid Date Range"
                }
                else {
                    document.getElementById(txt_DURATION).style.color = "black"
                    document.getElementById(txt_DURATION).value = jsWorkDays
                }
            }
            else {
                var DateCnt = new Date(BegDate)
                DateCnt.setDate(DateCnt.getDate())
                hoursCal = 0
                var loopDate = new Date();
                loopDate.setTime(DateCnt.valueOf());

                while (loopDate.valueOf() < EndDate.valueOf() + 86400000) {

                    if (!isBankHoliday_AnnualAbsence(loopDate) && weekAndDay_AnnualAbsence(loopDate) > 0) {
                        hoursCal = hoursCal + weekAndDay_AnnualAbsence(loopDate);
                        if (weekAndDay_AnnualAbsence(loopDate) > 0 && loopDate.valueOf() == EndDate.valueOf()) {
                            var halfDay = weekAndDay_AnnualAbsence(loopDate) / 2;
                            if ((document.getElementById(radStartAM).checked == true) || (document.getElementById(radStartPM).checked == true)) {
                                hoursCal = hoursCal - halfDay;
                            }
                            if ((document.getElementById(radEndAM).checked == true) || (document.getElementById(radEndPM).checked == true)) {
                                hoursCal = hoursCal - halfDay;
                            }
                        }
                    }

                    loopDate.setTime(loopDate.valueOf() + 86400000);
                }
                var jsWorkDays = hoursCal;
                if (jsWorkDays < 0.5) {
                    document.getElementById(txt_DURATION).style.color = "red"
                    document.getElementById(txt_DURATION).value = "Invalid Date Range"
                }
                else {
                    document.getElementById(txt_DURATION).style.color = "black"
                    jsWorkDays = jsWorkDays;
                    document.getElementById(txt_DURATION).value = jsWorkDays
                }
            }
        }
        else {
            var jsWorkDays = 0;
            EndDate = BegDate;
            if (unit == "days") {
                jsWorkDays = 0
                if (weekAndDay_AnnualAbsence(BegDate) > 0) {
                    jsWorkDays = 1
                }
                if (bhCountdays >= 0) {
                    document.getElementById(txt_DURATION).style.color = "black"
                    if ((document.getElementById(radStartAM).checked == true) || (document.getElementById(radStartPM).checked == true)) {
                        jsWorkDays = jsWorkDays - 0.5;
                    }
                    if ((document.getElementById(radEndAM).checked == true) || (document.getElementById(radEndPM).checked == true)) {
                        jsWorkDays = jsWorkDays - 0.5;
                    }
                    if (jsWorkDays < 0.5) {
                        document.getElementById(txt_DURATION).style.color = "red"
                        document.getElementById(txt_DURATION).value = "Invalid Date Range"
                        //document.getElementById("btn_submit").disabled = true;
                    }
                    else {
                        document.getElementById(txt_DURATION).style.color = "black"
                        document.getElementById(txt_DURATION).value = jsWorkDays
                    }
                }
                else {
                    document.getElementById(txt_DURATION).style.color = "red"
                    document.getElementById(txt_DURATION).value = "Bank Holiday"
                }
            }
            else {
                var DateCnt = new Date(BegDate)
                DateCnt.setDate(DateCnt.getDate())
                hoursCal = 0
                var loopDate = new Date();
                loopDate.setTime(DateCnt.valueOf());

                while (loopDate.valueOf() < EndDate.valueOf() + 86400000) {
                    if (bhCountdays >= 0) {
                        //if (!isBankHoliday(loopDate)) {
                        hoursCal = hoursCal + weekAndDay_AnnualAbsence(loopDate);
                        if (weekAndDay_AnnualAbsence(loopDate) > 0 && loopDate.valueOf() == EndDate.valueOf()) {
                            var halfDay = weekAndDay_AnnualAbsence(loopDate) / 2;
                            if ((document.getElementById(radStartAM).checked == true) || (document.getElementById(radStartPM).checked == true)) {
                                hoursCal = hoursCal - halfDay;
                            }
                            if ((document.getElementById(radEndAM).checked == true) || (document.getElementById(radEndPM).checked == true)) {
                                hoursCal = hoursCal - halfDay;
                            }
                        }
                    }

                    loopDate.setTime(loopDate.valueOf() + 86400000);
                }

                jsWorkDays = hoursCal;

                if (bhCountdays < 0) {
                    document.getElementById(txt_DURATION).style.color = "red"
                    document.getElementById(txt_DURATION).value = "Bank Holiday"
                }
                else if (jsWorkDays < 0.5) {
                    document.getElementById(txt_DURATION).style.color = "red"
                    document.getElementById(txt_DURATION).value = "Invalid Date Range"
                }
                else {
                    document.getElementById(txt_DURATION).style.color = "black"
                    document.getElementById(txt_DURATION).value = jsWorkDays
                }
            }
        }
    }

    //function workDays() {
    //    getType()
    //    var BegDate = new Date(Date.parse(JSlong_date(document.getElementById(txt_STARTDATE).value)));
    //    var EndDate = new Date(Date.parse(JSlong_date(document.getElementById(txt_RETURNDATE).value)));
    //    bhCountdays = bhDays()
    //    var non_work_days = 0;//document.getElementById("hid_non_work_days").value
    //    // if multi day is picked
    //    if (document.getElementById(radMulti).checked == true) {
    //        WholeWeeks = parseInt((EndDate - BegDate) / (1000 * 60 * 60 * 24 * 7).toFixed(2));
    //        var NoOfDays = WholeWeeks * 7
    //        var DateCnt = new Date(BegDate)
    //        DateCnt.setDate(DateCnt.getDate() + NoOfDays)
    //        EndDays = 0
    //        var loopDate = new Date();
    //        loopDate.setTime(DateCnt.valueOf());
    //        while (loopDate.valueOf() < EndDate.valueOf() + 86400000) {
    //            // if not Sunday/Saturday
    //            // Javascript Sunday is 0, Monday is 1, Saturday is 6 and so on.
    //            // vb Script Sunday is 1, Monday is 2, Saturday is 7 and so on.
    //            if ((loopDate.getDay() != "0") && (loopDate.getDay() != "6")) {
    //                EndDays = EndDays + 1
    //            }
    //            loopDate.setTime(loopDate.valueOf() + 86400000);
    //        }
    //        var jsWorkDays = (WholeWeeks * 5 + EndDays);
    //        if ((document.getElementById(radStartAM).checked == true) || (document.getElementById(radStartPM).checked == true)) {
    //            jsWorkDays = jsWorkDays - 0.5;
    //        }
    //        if ((document.getElementById(radEndAM).checked == true) || (document.getElementById(radEndPM).checked == true)) {
    //            jsWorkDays = jsWorkDays - 0.5;
    //        }
    //        if (jsWorkDays < 0.5) {
    //            document.getElementById(txt_DURATION).style.color = "red"
    //            document.getElementById(txt_DURATION).value = "Invalid Date Range"
    //            //document.getElementById("btn_submit").disabled = true;
    //        }
    //        else {
    //            document.getElementById(txt_DURATION).style.color = "black"
    //            jsWorkDays = jsWorkDays - bhCountdays - non_work_days
    //            document.getElementById(txt_DURATION).value = jsWorkDays
    //            //document.getElementById("btn_submit").disabled = false;
    //        }
    //    }
    //    else {
    //        $("#txtEndDateAbsence").val($("#txtStartDateAbsence").val());
    //        // if single day is chosen
    //        if ((document.getElementById(radStartAM).checked == true) || (document.getElementById(radStartPM).checked == true)) {
    //            jsWorkDays = 0.5;
    //        }
    //        else {
    //            jsWorkDays = 1
    //        }
    //        EndDate = BegDate
    //        if ((BegDate.getDay() == "0") || (BegDate.getDay() == "6")) {
    //            document.getElementById(txt_DURATION).style.color = "red"
    //            document.getElementById(txt_DURATION).value = "Weekend"
    //            //document.getElementById("btn_submit").disabled = true
    //            return false
    //        }
    //        if (bhCountdays >= 0) {
    //            document.getElementById(txt_DURATION).style.color = "black"
    //            jsWorkDays = jsWorkDays - bhCountdays - non_work_days
    //            document.getElementById(txt_DURATION).value = jsWorkDays
    //            //document.getElementById("btn_submit").disabled = false
    //        }
    //        else {
    //            document.getElementById(txt_DURATION).style.color = "red"
    //            document.getElementById(txt_DURATION).value = "Bank Holiday"
    //            //document.getElementById("btn_submit").disabled = true
    //        }
    //    }
    //}

</script>