﻿@model BHGHRModuleWeb.ViewModels.AbsenceViewModel
@{
    Layout = null;
    ViewBag.Title = "HR Employee Absence";
    var options = new AjaxOptions()
    {
        AllowCache = false,
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "OnSuccessPostTab",
        OnFailure = "OnFailurePostTab"
        //UpdateTargetId = "divAbsenceLeave"
    };
}

<div class="row padding-bottom"></div>
<div class="row padding-bottom">
    <div class="col-md-2 col-xs-12">
        @using (Ajax.BeginForm("Index", "Absence", new { }, options))
        {
            @Html.DropDownListFor(m => m.fiscalYearId, Model.fiscalYearLookUp, new { @class = "form-control"})
        }
    </div>
</div>
<div class="row">
    <div class="col-md-6 padding-bottom">
        <div id="divAnnualLeave">
            @Html.Partial("~/Views/Employees/Absence/_AnnualLeaveList.cshtml", Model.annualList)
        </div>
    </div>
    <div class="col-md-6 padding-bottom">
        <div id="divSicknessLeave">
            @Html.Partial("~/Views/Employees/Absence/_SicknessLeaveList.cshtml", Model.sicknessList)
        </div>
    </div>
</div>
<div class="row padding-bottom"></div>
<div class="row">
    <div class="col-md-6 padding-bottom">
        <div id="divAbsenceLeave">
            @Html.Partial("~/Views/Employees/Absence/_AbsenceLeaveList.cshtml", Model.absenceList)
        </div>
    </div>
    <div class="col-md-6 padding-bottom">
        <div class="row">
            <div id="divToilLeave" class="col-md-12 padding-bottom">
                @Html.Partial("~/Views/Employees/Absence/_ToilLeaveList.cshtml", Model.toilList)
            </div>
        </div>
        <div class="row padding-bottom"></div>
        <div class="row">
            <div id="divMaternityPeternityLeave" class="col-md-12">
                @Html.Partial("~/Views/Employees/Absence/_InternalMeetingsList.cshtml", Model.internalMeetingsList)
            </div>
        </div>
    </div>
</div>

@* pop model start *@

<div class="modal fade" id="leaveApproval" role="dialog">
    
</div>

@* pop model end *@

<script type="text/javascript">

    (function () {
        //TODO: NextPhase
        nextPhase();
        $(".async").each(function (index) {
            $(this).load($(this).attr('data-count-url'));
        });
        btnLeaveDetail();
    })();

    function loadDatePickerLeave() {
        $(".DatePicker").datepicker({
            showAnim: "blind",
            dateFormat: 'dd/mm/yy',
            yearRange: '1900:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'button',
            minDate: new Date(),
            buttonImage: '@Url.Content("~/Content/images/calendar.png")',
            buttonImageOnly: true,
        });

        $.validator.methods.date = function (value, element) {
            var valadsasd = this.optional(element) || (/^\d{1,2}[\/-]\d{1,2}[\/-]\d{4}(\s\d{2}:\d{2}(:\d{2})?)?$/.test(value)
                    && !/Invalid|NaN/.test(new Date(value.substr(6, 4) + '-' + value.substr(3, 2) + '-' + value.substr(0, 2))));
            return valadsasd;
        }
    }

    @*function OnSuccessAbsenceLeave() {
        $('#divMaternityPeternityLeave').load('@Url.Action("GetInternalMeetings", "Absence", new { id = Model.employeeId })')
    }*@

    $('#fiscalYearId').on('change', function () {
        var url = '@Url.Action("Index", "Absence")';
        $.ajax({
            type: "POST",
            url: url,
            data: {
                model: {
                    employeeId: '@Model.employeeId',
                    fiscalYearId: $('#fiscalYearId').val()
                }
            },
            success: function (response) {
                $('#divContainer').html(response);
                //$('#leaveApproval').html(response);

                //$('#leaveApproval').modal('show');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('popupMessageReference', 'popupMsgResponseReference', "Unable to load docoument", 'failure');
            }
        });
    });

    function btnLeaveDetail() {
        $('.btnLeaveDetail').on('click', function () {
            var data = $(this).data();
            // alert(data.id); as int;
            // alert(data.type); as string; = "annual"
            // load model and show leave detail for update its status.
            var url = '';
            if (data.type == 'annual') {
                url = '@Url.Action("AnnualLeaveDetail", "Absence")';
            }

            if (data.type == 'absence') {
                url = '@Url.Action("AbsenceLeaveDetail", "Absence")';
            }

            if (data.type == 'sickness') {
                url = '@Url.Action("SicknessDetail", "Absence")';
            }

            if (data.type == 'internal') {
                url = '@Url.Action("GetInternalLeaveDetail", "Absence")';
            }

            if (data.type == 'toil') {
                url = '@Url.Action("ToilLeaveDetail", "Absence")';
            }
            url = url + '/' + data.id;
            $.ajax({
                type: "GET",
                url: url,
                success: function (response) {
                    $('#leaveApproval').html(response);

                    $('#leaveApproval').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //do your own thing
                    popupMessage('popupMessageReference', 'popupMsgResponseReference', "Unable to load docoument", 'failure');
                }
            });
        });
    }


    function isTime(itemName, errName) {

        var itemValue = document.getElementById(itemName).value;
        // regular expression to match required time format
        re = /^(\d{1,2}):(\d{2})([ap]m)?$/;

        if (itemValue != '') {
            if (regs = itemValue.match(re)) {
                if (regs[3]) {
                    // 12-hour value between 1 and 12
                    if (regs[1] < 1 || regs[1] > 12) {
                        validationError(itemName, "You must input valid time in 24 hours format.");
                        return false;
                    }
                } else {
                    // 24-hour value between 0 and 23
                    if (regs[1] > 23) {
                        validationError(itemName, "You must input valid time in 24 hours format.");
                        return false;
                    }
                }
                // minute value between 0 and 59
                if (regs[2] > 59) {
                    validationError(itemName, "You must input valid time in 24 hours format.");
                    return false;
                }
            } else {
                validationError(itemName, "You must input valid time in 24 hours format.");
                return false;
            }
        }

        return true;
    }

    function validationError(iItem, ErrorMessage) {
        ImageID = "img_" + iItem.substring(4, iItem.length)
        $('#' + ImageID).attr('title', ErrorMessage);
        $('#' + ImageID).show();
    }

</script>