﻿@model BHGHRModuleWeb.ViewModels.LeaveEditViewModel
@{
    Layout = null;
    ViewBag.Title = "Employee Annual Leave";
    var options = new AjaxOptions()
    {
        AllowCache = false,
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "OnSuccessAnnualLeave",
        OnFailure = "OnFailureAnnualLeave",
        OnBegin = "OnBeginAnnualLeave"
        //UpdateTargetId = "divAnnualLeave"
    };
}

@Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm("SaveAnnualLeave", "Absence", new { }, options))
{
    <div class="portlet portlet-full">
        <div class="col-md-12 alert alert-success" id="messageAnnualLeave" style="display:none">
            <strong id="msgResponseAnnualLeave"></strong>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="annual portlet-icon"></div>
                        <div class="portlet-head padding-bottom-5 background-white">
                            <strong>
                                Annual Leave:
                            </strong>
                        </div>
                    </div>
                </div>
                <div style="min-height:325px;max-height:325px;" class="col-md-12 background-white">
                    <div class="row padding-bottom"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.requested)
                                    @Html.HiddenFor(m => m.bankHolidays, new { id = "dates" })
                                    @Html.HiddenFor(m => m.holtype, new { id = "holtype" })
                                    @Html.HiddenFor(m => m.employeeId)
                                    @Html.HiddenFor(m => m.unit, new { id = "unit" })
                                    @if (Model.workingHours != null && Model.workingHours.Count > 0)
                                    {
                                        var count = 0;
                                        <span>@Html.HiddenFor(m => Model.workingHours.Count, new { id = "hdn_totalWeek" })</span>
                                        foreach (var item in Model.workingHours)
                                        {
                                            count += 1;
                                            <span>@Html.HiddenFor(m => item.mon, new { id = "hdn_mon_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.tue, new { id = "hdn_tue_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.wed, new { id = "hdn_wed_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.thu, new { id = "hdn_thu_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.fri, new { id = "hdn_fri_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.sat, new { id = "hdn_sat_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.sun, new { id = "hdn_sun_" + count })</span>
                                        }
                                    }
                                    @*@Html.HiddenFor(m => m.workingHours.unit, new { id = "unit" })
                                    @Html.HiddenFor(m => m.workingHours.mon, new { id = "mon" })
                                    @Html.HiddenFor(m => m.workingHours.tue, new { id = "tue" })
                                    @Html.HiddenFor(m => m.workingHours.wed, new { id = "wed" })
                                    @Html.HiddenFor(m => m.workingHours.thu, new { id = "thu" })
                                    @Html.HiddenFor(m => m.workingHours.fri, new { id= "fri" })
                                    @Html.HiddenFor(m => m.workingHours.sat, new { id = "sat" })
                                    @Html.HiddenFor(m => m.workingHours.sun, new { id = "sun" })*@
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3">
                                            @Html.RadioButtonFor(m => m.requested, "false", new { @class = "cboxRequested" }) Single
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                            @Html.RadioButtonFor(m => m.requested, "true", new { id= "radMulti", @class = "cboxRequested" }) Multiple
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.startDate)
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.start, new { id= "txt_STARTDATE", @class = "DatePicker form-control" })
                                    @Html.HiddenFor(m => m.startDate, new { id = "startDate" })
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="row">
                                        Full @Html.RadioButtonFor(m => m.holidayTypeStart, "0", new { id= "radStartFull", @class = "cboxHolidayTypeStart" })
                                        AM @Html.RadioButtonFor(m => m.holidayTypeStart, "1", new { id = "radStartAM", @class = "cboxHolidayTypeStart" })
                                        PM @Html.RadioButtonFor(m => m.holidayTypeStart, "2", new { id = "radStartPM", @class = "cboxHolidayTypeStart" })
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom div-end-date">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.endDate)
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.end, new { id= "txt_RETURNDATE", @class = "DatePicker form-control" })
                                    @Html.HiddenFor(m => m.endDate, new { id = "endDate" })
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="row">
                                        Full @Html.RadioButtonFor(m => m.holidayTypeEnd, "0", new { id = "radEndFull", @class = "cboxHolidayTypeEnd" })
                                        AM @Html.RadioButtonFor(m => m.holidayTypeEnd, "1", new { id = "radEndAM", @class = "cboxHolidayTypeEnd" })
                                        PM @Html.RadioButtonFor(m => m.holidayTypeEnd, "2", new { id = "radEndPM", @class = "cboxHolidayTypeEnd" })
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.duration)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.duration, new { id= "txt_DURATION", @class = "form-control", @readonly = "readonly" })
                                </div>
                                @if (!string.IsNullOrEmpty(Model.unit))
                                {
                                    <div class="col-md-1">
                                        (@Html.ValueForModel(Model.unit))
                                    </div>
                                }
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.recordedBy)
                                </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.recordedBy, new { @class = "form-control", @readonly = "readonly" })

                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.notes)
                                </div>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.notes, 5, 3, new { @class = "form-control personalDetail" })
                                    @Html.ValidationMessageFor(m => m.notes)
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-12">
                                    <input class="btn btn-gray btn-xs pull-right" type="submit" name="submitButton" value='Add' />
                                    <input style="margin-right:10px;" class="btn btn-gray btn-xs pull-right cancel" type="submit" name="submitButton" value='Cancel' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    (function () {
        $('.div-end-date').hide();
        loadDatePickerLeave();
        workDays();

        $(".cboxRequested").change(function () {
            workDays();
            if ($('#requested').is(':checked')) {
                $('.div-end-date').hide();
                $("#endDate").val($("#startDate").val());
            }
            else {
                $('.div-end-date').show();
            }
        });

        $(".DatePicker").change(function () {
            workDays();
        });

        $(".cboxHolidayTypeStart").change(function () {
            workDays();
        });

        $(".cboxHolidayTypeEnd").change(function () {
            workDays();
        });

    })();

    function OnBeginAnnualLeave() {
        var holtype = $('#holtype').val();
        if (holtype != "F" && holtype != "M" && holtype != "A" && holtype != "F-F" && holtype != "F-M" && holtype != "A-F") {
            var errorMsg = "Invalid Combination. Start date must be full day or Afternoon and End date must be Morning or Full day.";
            OnFailureAnnualLeave(errorMsg);
            return false;
        }
    }

    function OnSuccessAnnualLeave(response) {
        if (response != "" && response.indexOf("__failure__") >= 0) {
            var errorMsg = response.split('__failure__');
            OnFailureAnnualLeave(errorMsg[1]);
            return false;
        }

        $('#divAnnualLeave').html(response);
        btnLeaveDetail();
    }

    function OnFailureAnnualLeave(response) {
        popupMessage('messageAnnualLeave', 'msgResponseAnnualLeave', response, 'failure');
    }

    /////////////////////////////////////////////////////////////////////
    function JSlong_date(str_date) {
        var arrMon = new Array("", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        var date_array = str_date.split("/");
        return new String(Math.abs(date_array[0]) + " " + arrMon[parseInt(date_array[1], 10)] + " " + date_array[2])
    }

    function isBankHoliday(d) {
        var bhDates = $('#dates').val()
        var bhSplit = new Array();
        bhSplit = bhDates.split(',');
        var i = 0;

        while (i <= bhSplit.length - 1) {
            cccc = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime() - d.getTime();
            var leaveDate = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime();
            if (leaveDate == d.getTime()) {
                return true;
            }
            
            i = i + 1
        }

        return false;
    }

    // RSL Code
    // check how many days from start date to end date in Bank Holiday list.
    function bhDays() {
        var bhSplit, cnt, testBHDate, high, testDate, bhCount, holStart, holEnd, tmpStartDate, totdate, i

        holStart = new Date(Date.parse(JSlong_date($('#txt_STARTDATE').val())));
        $('#startDate').val($('#txt_STARTDATE').val());
        if ($('#radMulti').is(':checked')) {
            holEnd = new Date(Date.parse(JSlong_date($('#txt_RETURNDATE').val())));
            $('#endDate').val($('#txt_RETURNDATE').val());
        }
        else {
            holEnd = new Date(Date.parse(JSlong_date($('#txt_STARTDATE').val())));
            $('#endDate').val($('#txt_STARTDATE').val());
        }

        var bhDates = $('#dates').val()
        var bhSplit = new Array();
        bhSplit = bhDates.split(',');

        var cnt = 1
        var bhCount = 0
        i = 0

        if ($('#radMulti').is(':checked')) {

            var tmpStartDate = new Date(Date.parse(JSlong_date($('#txt_STARTDATE').val())));
            var tmpEndDate = new Date(Date.parse(JSlong_date($('#txt_RETURNDATE').val())));
            var totdate = (Math.abs(holStart.getTime() - holEnd.getTime()) / 86400000) + 2;

            while (cnt < totdate) {

                while (i <= bhSplit.length - 1) {
                    cccc = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime() - tmpStartDate.getTime();
                    var leaveDate = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime();
                    if (leaveDate >= tmpStartDate.getTime() && leaveDate <= tmpEndDate.getTime()) {
                        bhCount = bhCount + 1;
                    }

                    if (cccc == 0) {
                    }
                    i = i + 1
                }
                cnt = cnt + 1

            }

        }
        else {
            var pattern
            var dts = new String($('#dates').val())
            pattern = /\s*,\s*/;
            var dtsList = dts.split(pattern);
            //pattern = /(\w+)\s+(\w+)/;
            pattern = /\s*/;
            byDateList = new Array;
            for (i = 0; i < dtsList.length; i++) {
                byDateList[i] = dtsList[i].split(" ")[0];
            }
            for (i = 0; i < byDateList.length; i++) {
                if (byDateList[i] == $('#txt_STARTDATE').val()) {
                    bhCount = -1;
                }
            }
        }
        return bhCount
    }

    function getType() {
        var holType = "";

        if ($('#radStartFull').is(':checked')) {
            holType = "F";
        }
        else if ($('#radStartAM').is(':checked')) {
            holType = "M";
        }
        else {
            holType = "A";
        }

        // if multi day
        if ($('#radMulti').is(':checked')) {

            if ($('#radEndFull').is(':checked')) {
                holType = holType + "-F";
            }
            else if ($('#radEndAM').is(':checked')) {
                holType = holType + "-M";
            }
            else {
                holType = holType + "-A";
            }
        }

        $('#holtype').val(holType);
    }

    function weekAndDay(date) {
        // if not Sunday/Saturday
        // Javascript Sunday is 0, Monday is 1, Saturday is 6 and so on.
        // vb Script Sunday is 1, Monday is 2, Saturday is 7 and so on.
        days = ['sun', 'mon', 'tue', 'wed',
                'thu', 'fri', 'sat'];

        //get week number of date 
        

        var totalWeeks = parseInt($('#hdn_totalWeek').val());
        var weekNo = getWeekOfMonth(date);
        //prefixes = ['First', 'Second', 'Third', 'Fourth', 'Fifth'];
        if (weekNo > totalWeeks) {
            while (weekNo > totalWeeks) {
                weekNo -= totalWeeks;
            }
        }

       // weekNo += 1;
        if (weekNo > totalWeeks) {
            weekNo -= totalWeeks;
        }
        var dailyHours = parseFloat($("#hdn_" + days[date.getDay()] + "_" + weekNo).val());
        return dailyHours;
        //return prefixes[0 | date.getDate() / 7] + ' ' + days[date.getDay()];
    }

    function getWeekOfMonth(date) {
        var day = date.getDate();
        var data = getWeeksStartAndEndInMonth(date.getMonth(), date.getYear(), 1);
        var i;
        for (i = 0; i < data.length; i++) {
            if (data[i].start <= day && data[i].end >= day)
                break;
        }
        return i + 1;
    }

    function endFirstWeek(firstDate, firstDay) {
        if (!firstDay) {
            return 7 - firstDate.getDay();
        }
        if (firstDate.getDay() < firstDay) {
            return firstDay - firstDate.getDay();
        } else {
            return 7 - firstDate.getDay() + firstDay;
        }
    }
    function getWeeksStartAndEndInMonth(month, year, start) {
        let weeks = [],
            firstDate = new Date(year, month, 1),
            lastDate = new Date(year, month + 1, 0),
            numDays = lastDate.getDate();

        start = 1;
        let end = endFirstWeek(firstDate, firstDate.getDay());
        while (start <= numDays) {
            weeks.push({ start: start, end: end });
            start = end + 1;
            end = end + 7;
            end = start === 1 && end === 8 ? 1 : end;
            if (end > numDays) {
                end = numDays;
            }
        }
        return weeks;
    }

    function workDays() {
        getType();
        var weekdayCount = 0;
        var unit = $('#unit').val();
        var BegDate = new Date(Date.parse(JSlong_date($('#txt_STARTDATE').val())));
        var EndDate = new Date(Date.parse(JSlong_date($('#txt_RETURNDATE').val())));
        
        bhCountdays = bhDays();

        var non_work_days = 0;//$('#hid_non_work_days').val()
        // unit days then count days
        // unit hours then count hours from working pattren
        // if multi day is picked
        if ($('#radMulti').is(':checked')) {
            if (unit == "days") {
                //WholeWeeks = parseInt((EndDate - BegDate) / (1000 * 60 * 60 * 24 * 7).toFixed(2));
                //var NoOfDays = WholeWeeks * 7
                var DateCnt = new Date(BegDate)
                //DateCnt.setDate(DateCnt.getDate() + NoOfDays)
                EndDays = 0
                var loopDate = new Date();
                loopDate.setTime(BegDate.valueOf());

                while (loopDate.valueOf() < EndDate.valueOf() + 86400000) {
                    if (weekAndDay(loopDate) > 0) {
                        EndDays = EndDays + 1
                        if (weekAndDay(loopDate) > 0 && loopDate.valueOf() == EndDate.valueOf()) {
                            if ($('#radStartAM').is(':checked') || $('#radStartPM').is(':checked')) {
                                EndDays = EndDays - 0.5;
                            }
                            if ($('#radEndAM').is(':checked') || $('#radEndPM').is(':checked')) {
                                EndDays = EndDays - 0.5;
                            }
                        }
                    }

                    loopDate.setTime(loopDate.valueOf() + 86400000);
                }

                var jsWorkDays = EndDays;

                if (jsWorkDays < 0.5) {
                    $("#txt_DURATION").css({ "color": "red" });
                    $('#txt_DURATION').val("Invalid Date Range");
                }
                else {
                    $("#txt_DURATION").css({ "color": "black" });
                    jsWorkDays = jsWorkDays - bhCountdays - non_work_days;
                    $('#txt_DURATION').val(jsWorkDays);
                }
            }
            else {
                var DateCnt = new Date(BegDate)
                DateCnt.setDate(DateCnt.getDate())
                hoursCal = 0
                var loopDate = new Date();
                loopDate.setTime(DateCnt.valueOf());

                while (loopDate.valueOf() < EndDate.valueOf() + 86400000) {

                    if (!isBankHoliday(loopDate) && weekAndDay(loopDate) > 0) {
                        hoursCal = hoursCal + weekAndDay(loopDate);

                        if (weekAndDay(loopDate) > 0 && loopDate.valueOf() == EndDate.valueOf()) {
                            var halfDay = weekAndDay(loopDate)/2;
                            if ($('#radStartAM').is(':checked') || $('#radStartPM').is(':checked')) {
                                hoursCal = hoursCal - halfDay;
                            }
                            if ($('#radEndAM').is(':checked') || $('#radEndPM').is(':checked')) {
                                hoursCal = hoursCal - halfDay;
                            }
                        }
                    }

                    loopDate.setTime(loopDate.valueOf() + 86400000);
                }
                var jsWorkDays = hoursCal;
                if (jsWorkDays < 0.5) {
                    $("#txt_DURATION").css({ "color": "red" });
                    $('#txt_DURATION').val("Invalid Date Range");
                }
                else {
                    $("#txt_DURATION").css({ "color": "black" });
                    jsWorkDays = jsWorkDays;
                    $('#txt_DURATION').val(jsWorkDays);
                }
            }
        }
        else {
            var jsWorkDays = 0;
            EndDate = BegDate;
            if (unit == "days") {
                jsWorkDays = 0
                if (weekAndDay(BegDate) > 0) {
                    jsWorkDays = 1
                }
                if (bhCountdays >= 0) {
                    $("#txt_DURATION").css({ "color": "black" });
                    if ($('#radStartAM').is(':checked') || $('#radStartPM').is(':checked')) {
                        jsWorkDays = jsWorkDays - 0.5;
                    }
                    if ($('#radEndAM').is(':checked') || $('#radEndPM').is(':checked')) {
                        jsWorkDays = jsWorkDays - 0.5;
                    }
                    if (jsWorkDays < 0.5) {
                        $("#txt_DURATION").css({ "color": "red" });
                        $('#txt_DURATION').val("Invalid Date Range");
                    }
                    else {
                        $("#txt_DURATION").css({ "color": "black" });
                        $('#txt_DURATION').val(jsWorkDays);
                    }
                }
                else {
                    $("#txt_DURATION").css({ "color": "red" });
                    $('#txt_DURATION').val("Bank Holiday");
                }
            }
            else {
                var DateCnt = new Date(BegDate)
                DateCnt.setDate(DateCnt.getDate())
                hoursCal = 0
                var loopDate = new Date();
                loopDate.setTime(DateCnt.valueOf());

                while (loopDate.valueOf() < EndDate.valueOf() + 86400000) {
                    if (bhCountdays >= 0) {
                        //if (!isBankHoliday(loopDate)) {
                        hoursCal = hoursCal + weekAndDay(loopDate);
                        if (weekAndDay(loopDate) > 0 && loopDate.valueOf() == EndDate.valueOf()) {
                            var halfDay = weekAndDay(loopDate) / 2;
                            if ($('#radStartAM').is(':checked') || $('#radStartPM').is(':checked')) {
                                hoursCal = hoursCal - halfDay;
                            }
                            if ($('#radEndAM').is(':checked') || $('#radEndPM').is(':checked')) {
                                hoursCal = hoursCal - halfDay;
                            }
                        }
                    }

                    loopDate.setTime(loopDate.valueOf() + 86400000);
                }

                jsWorkDays = hoursCal;

                if (bhCountdays < 0) {
                    $("#txt_DURATION").css({ "color": "red" });
                    $('#txt_DURATION').val("Bank Holiday");
                }
                else if (jsWorkDays < 0.5) {
                    $("#txt_DURATION").css({ "color": "red" });
                    $('#txt_DURATION').val("Invalid Date Range");
                }
                else {
                    $("#txt_DURATION").css({ "color": "black" });
                    jsWorkDays = jsWorkDays;
                    $('#txt_DURATION').val(jsWorkDays);
                }
            }
        }
    }

</script>


