﻿@model BHGHRModuleWeb.ViewModels.AnnualLeaveListViewModel
@using System.Globalization;

@{
    Layout = null;
    ViewBag.Title = "Employee Annual Leave";
    //bool isEdit = ViewBag.isEdit == "edit";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10, canSort: false);
    if (Model.absentees != null && Model.absentees.Count > 0)
    {
        grid.Bind(source: Model.absentees, rowCount: 5, autoSortAndPage: false);
    }
    var isMyJob = false;
    var isDisabled = "false";

    if (Session["Module"] != null && Session["Module"].ToString() == "MyJob")
    {
        isMyJob = true;
    }

    var isTeam = false;
    if (TempData.ContainsKey("isTeam"))
    {
        isTeam = bool.Parse(TempData["isTeam"].ToString());
    }
    TempData.Keep("isTeam");

    if (!isTeam)
    {
        isDisabled = "true";
    }

}

@using (Ajax.BeginForm("GetAnnualLeave", "Absence", new { id = Model.employeeId }, new AjaxOptions() { AllowCache = false, HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divAnnualLeave" }))
{
    <div class="portlet portlet-full">
        <div class="row">
            <div class="col-md-12">
                <div class="annual portlet-icon"></div>
                <div class="portlet-head padding-bottom-5">
                    <strong>
                        Annual Leave:
                    </strong>
                    @if (isDisabled == "true")
                    {
                        <input class="btn btn-gray btn-xs pull-right" type="submit" name="nextBtn" value='Request' />
                    }
                    <strong style="padding-right:35px;" class="pull-right">
                        @Model.leaveDetail.leavesRemaining @Model.leaveDetail.unit leave available
                    </strong>
                </div>
            </div>
        </div>
        <div class="row padding-bottom"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    Actual Holiday Entitlement:
                                </div>
                                <div class="col-md-0">
                                    @if (Model.leaveDetail.unit == "days")
                                    {
                                        <span>@Model.leaveDetail.holidayEntitlementDays @Model.leaveDetail.unit</span>
                                    }
                                    else
                                    {
                                        <span>@Model.leaveDetail.holidayEntitlementHours @Model.leaveDetail.unit</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                @*<div class="col-md-9 col-sm-6 col-xs-6">
                                    Time Off in lieu Owed:
                                </div>
                                <div class="col-md-0">
                                    @Html.DisplayFor(m => m.leaveDetail.timeOfInLieuOwed) Hrs
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    Carried Forward:
                                </div>
                                <div class="col-md-0">
                                    @Model.leaveDetail.carryForward @Model.leaveDetail.unit
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                @*<div class="col-md-9 col-sm-6 col-xs-6">
                                    TOIL:
                                </div>
                                <div class="col-md-0">
                                    @Html.DisplayFor(m => m.leaveDetail.toil) Hrs
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    Bank Holiday Adjustment:
                                </div>
                                <div class="col-md-0">
                                    @Model.leaveDetail.bankHoliday @Model.leaveDetail.unit
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    <strong>
                                        Total Leave:
                                    </strong>
                                </div>
                                <div class="col-md-0">
                                    <strong>
                                        @Model.leaveDetail.totalAllowance @Model.leaveDetail.unit
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-bottom"></div>
        <div class="row">
            <div class="col-md-12">
                <div style="max-height: 237px; min-height: 237px;" class="col-md-12 background-white pre-scrollable">
                    @if (Model.absentees != null && Model.absentees.Count > 0)
                    {
                        @grid.GetHtml(
                            tableStyle: "table table-responsive backcolor",
                            headerStyle: "wedgrid-header",
                            footerStyle: "webgrid-footer",
                            alternatingRowStyle: "webgrid-alternating-row",
                            rowStyle: "webgrid-row-style",
                            columns: grid.Columns(
                            grid.Column(columnName: "lastActionDate", header: "Date:"),
                            grid.Column(columnName: "startLeaveDate", header: "Start Date:"),
                            grid.Column(columnName: "endLeaveDate", header: "End Date:"),
                            grid.Column(columnName: "status", header: "Status:"),
                            grid.Column(columnName: "duration", header: "Number of days/hours:"),
                            grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:
                            @<text>
                                @*@if (((Model.currentlyLoggedEmployeeId == Model.employeeId && 
                                        Convert.ToDateTime(@item.startLeaveDate, new CultureInfo("en-gb")).Date >= DateTime.Now.Date) || 
                                        Model.isTeam == true || 
                                        Model.isHr == true) 
                                        && item.status == "Pending")
                                {
                                }*@
                                @if (item.absenceHistoryId != 0) //item.status != "Cancelled" && item.status != "Declined" &&
                                {
                                    <a href="#" data-id="@item.absenceHistoryId" data-type="annual" class="pull-right btnLeaveDetail"><img src="~/Content/Images/aero.png" width="22" /></a>
                                }
                            </text>)
                        ))
                    }
                    else
                    {
                        <table class="table table-responsive backcolor">
                            <thead>
                                <tr class="wedgrid-header">
                                    <th>Date:</th>
                                    <th>Start Date:</th>
                                    <th>End Date:</th>
                                    <th>Status:</th>
                                    <th>Number of days/hours:</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="webgrid-row-style">
                                    <td colspan="5" align="center"><br />No record found<br /><br /> </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
}