﻿@model BHGHRModuleWeb.ViewModels.MyTeamLeavesResponseViewModel
@{
    Layout = null;

    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.OnFailure = "OnFailure";
    options.OnSuccess = "OnSuccess";
    //options.OnBegin = "ValidateContactDetail";

    var typeStart = Model.myTeamLeavesPending[0].holType[0];
    var typeEnd = "";
    if (Model.myTeamLeavesPending[0].holType.Length > 1)
    {
        typeEnd = Model.myTeamLeavesPending[0].holType.Substring(Model.myTeamLeavesPending[0].holType.Length - 2);
    }


}

<style>
    textarea.notes {
        resize: none !important;
        height: 100px !important;
    }
</style>

@using (Ajax.BeginForm("UpdateAnnualLeaveStatus", "Absence", options, new { id = "frmContactDetail" }))
{
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@ViewBag.HeaderTitle</h4>
            </div>
            <div class="modal-body">
                <div class="row padding-bottom-5">
                    <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                        <strong id="popupMsgResponse"></strong>
                    </div>
                    <div class="col-md-12">
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.myTeamLeavesPending[0].startDate, new { @class = "control-label" })
                            </div>
                            <div class="col-md-5">
                                @Html.HiddenFor(m => m.myTeamLeavesPending[0].absenceHistoryId)
                                @Html.HiddenFor(m => m.myTeamLeavesPending[0].employeeId)
                                @Html.TextBoxFor(m => m.myTeamLeavesPending[0].startDate, Model.ModelDateFormate, new { @readonly= "readonly", @class = "form-control", id = "StartDateID" })
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    Full @Html.RadioButtonFor(m => typeStart, "F", new { @disabled = "disabled", id = "radEndFull", @class = "cboxHolidayTypeEnd" })
                                    AM @Html.RadioButtonFor(m => typeStart, "M", new { @disabled = "disabled", id = "radEndAM", @class = "cboxHolidayTypeEnd" })
                                    PM @Html.RadioButtonFor(m => typeStart, "A", new { @disabled = "disabled", id = "radEndPM", @class = "cboxHolidayTypeEnd" })
                                </div>
                            </div>
                        </div>
                        @if (typeEnd != "")
                        {
                            <div class="row padding-bottom-5">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.myTeamLeavesPending[0].endDate)
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.myTeamLeavesPending[0].endDate, Model.ModelDateFormate, new { @readonly = "readonly", @class = "form-control",id="EndDateID" })
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="row">
                                        Full @Html.RadioButtonFor(m => typeEnd, "-F", new { @disabled = "disabled", id = "radEndFull", @class = "cboxHolidayTypeEnd" })
                                        AM @Html.RadioButtonFor(m => typeEnd, "-M", new { @disabled = "disabled", id = "radEndAM", @class = "cboxHolidayTypeEnd" })
                                        PM @Html.RadioButtonFor(m => typeEnd, "-A", new { @disabled = "disabled", id = "radEndPM", @class = "cboxHolidayTypeEnd" })
                                    </div>
                                </div>
                            </div>
                        }
                        
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.myTeamLeavesPending[0].duration)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.myTeamLeavesPending[0].duration, new { @readonly = "readonly", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.myTeamLeavesPending[0].statusId)
                            </div>
                            <div class="col-md-9 ">
                                @Html.DropDownListFor(m => m.myTeamLeavesPending[0].statusId, Model.statusLookUps, new { @class = "form-control", id="StatusID" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.myTeamLeavesPending[0].notes)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextAreaFor(m => m.myTeamLeavesPending[0]._notes, 5, 3, new { @class = "form-control notes", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                <label>Action Note</label>
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextAreaFor(m => m.myTeamLeavesPending[0].notes, 5, 3, new { @class = "form-control personalDetail" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="submitButton" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {
        var length = $('#StatusID option').length;
        if (length == 1) {
            var endDate = $('#EndDateID').val();
            if (endDate == undefined) {
                endDate = new Date(Date.parse(JSlong_date($('#StartDateID').val())));
            }
            else {
                endDate = new Date(Date.parse(JSlong_date($('#EndDateID').val())));
            }
            var currentDate = new Date();
            var numOfDays = DateDiffDays(endDate, currentDate);
            if (numOfDays < 0 || numOfDays==0) {
                $("#StatusID").prop('disabled', false);
                $("#submitButton").prop('disabled', false);
                $(".personalDetail").prop('disabled', false);
            }
            else {
                $("#StatusID").prop('disabled', true);
                $("#submitButton").prop('disabled', true);
                $(".personalDetail").prop('disabled', true);
            }
        }
    });
    function OnFailure(response) {
        var obj = jQuery.parseJSON(response);
        popupMessage('popupMessage', 'popupMsgResponse', obj.message, 'failure')
    }

    function OnSuccess(response) {
        var obj = jQuery.parseJSON(response);
        popupMessage('popupMessage', 'popupMsgResponse', obj.message, 'success')
        setTimeout(function () {
            reloadCurrentTab();
        }, 2000);
        
    }

    function DateDiffDays(date1, date2) {
        dt1 = new Date(date1);
        dt2 = new Date(date2);
        return Math.floor((Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) - Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate())) / (1000 * 60 * 60 * 24));
    }

    function JSlong_date(str_date) {
        var arrMon = new Array("", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        var date_array = str_date.split("/");
        return new String(Math.abs(date_array[0]) + " " + arrMon[parseInt(date_array[1], 10)] + " " + date_array[2])
    }

</script>