﻿@model BHGHRModuleWeb.ViewModels.LeaveEditViewModel
@{
    Layout = null;
    ViewBag.Title = "Employee Internal Meeting Leave";
    var options = new AjaxOptions()
    {
        AllowCache = false,
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "OnSuccessInternalLeave",
        OnFailure = "OnFailureInternalLeave"
        //UpdateTargetId = "divAbsenceLeave"
    };
}

<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
<style type="text/css">
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .well {
        margin: 5px 0;
    }

    .m-top-50 {
        margin-top: 50px;
    }

    .m-top-15 {
        margin-top: 15px;
    }
</style>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="~/Scripts/jquery.timepicker.js"></script>

@using (Ajax.BeginForm("SaveInternalLeave", "Absence", new { }, options))
{
    <div class="portlet portlet-full">
        <div class="col-md-12 alert alert-success" id="messageInternalLeave" style="display:none">
            <strong id="msgResponseInternalLeave"></strong>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="maternity portlet-icon"></div>
                        <div class="portlet-head padding-bottom-5 background-white">
                            <strong>
                                Internal Meeting:
                            </strong>
                        </div>
                    </div>
                </div>
                <div style="min-height: 386px; max-height: 386px;" class="col-md-12 background-white">
                    <div class="row padding-bottom"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row padding-bottom" style="display:none;">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.requested)
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-3 col-xs-3">
                                            @Html.RadioButtonFor(m => m.requested, "false", new { id = "radSingleInternal", @class = "cboxRequestedInternal" }) Single
                                            @Html.HiddenFor(m => m.employeeId)
                                            @Html.HiddenFor(m => m.bankHolidays, new { id = "hdnHolidayDatesInternal" })
                                            @Html.HiddenFor(m => m.holtype, new { id = "hdnHolTypeInternal" })
                                            @Html.HiddenFor(m => m.natureName, new { id = "hdnNatureName" })
                                            @if (Model.workingHours != null && Model.workingHours.Count > 0)
                                            {
                                                var count = 0;
                                                <span>@Html.HiddenFor(m => Model.workingHours.Count, new { id = "hdn_totalWeek" })</span>
                                                foreach (var item in Model.workingHours)
                                                {
                                                    count += 1;
                                                    <span>@Html.HiddenFor(m => item.mon, new { id = "hdn_mon_" + count })</span>
                                                    <span>@Html.HiddenFor(m => item.tue, new { id = "hdn_tue_" + count })</span>
                                                    <span>@Html.HiddenFor(m => item.wed, new { id = "hdn_wed_" + count })</span>
                                                    <span>@Html.HiddenFor(m => item.thu, new { id = "hdn_thu_" + count })</span>
                                                    <span>@Html.HiddenFor(m => item.fri, new { id = "hdn_fri_" + count })</span>
                                                    <span>@Html.HiddenFor(m => item.sat, new { id = "hdn_sat_" + count })</span>
                                                    <span>@Html.HiddenFor(m => item.sun, new { id = "hdn_sun_" + count })</span>
                                                }
                                            }
                                        </div>
                                        <div class="col-md-4 col-xs-6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.title)
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.title, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.startDate)
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.start, new { id = "txtStartDateInternal", Name = "startDate", @class = "DatePicker form-control" })
                                </div>
                                <div class="col-md-4" style="display:none;">
                                    <div class="row">
                                        Full @Html.RadioButtonFor(m => m.holidayTypeStart, "0", new { id = "radStartFullInternal", @class = "holidayTypeChange" })
                                        AM @Html.RadioButtonFor(m => m.holidayTypeStart, "1", new { id = "radStartAMInternal", @class = "holidayTypeChange" })
                                        PM @Html.RadioButtonFor(m => m.holidayTypeStart, "2", new { id = "radStartPMInternal", @class = "holidayTypeChange" })
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom div-end-date-Internal" style="display:none;">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.endDate)
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.end, new { id = "txtEndDateInternal", Name = "endDate", @class = "DatePicker form-control" })
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        Full @Html.RadioButtonFor(m => m.holidayTypeEnd, "0", new { id = "radEndFullInternal", @class = "holidayTypeChange" })
                                        AM @Html.RadioButtonFor(m => m.holidayTypeEnd, "1", new { id = "radEndAMInternal", @class = "holidayTypeChange" })
                                        PM @Html.RadioButtonFor(m => m.holidayTypeEnd, "2", new { id = "radEndPMInternal", @class = "holidayTypeChange" })
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom div-from-Internal">
                                <div class="col-md-3">
                                    <label>From:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.from, new { id = "txt_From_Internal", @class = "form-control timeselect", @onblur = "workDays()", @onkeyup = "workDays()", @onchange = "workDays()" })
                                </div>
                            </div>
                            <div class="row padding-bottom div-to-Internal">
                                <div class="col-md-3">
                                    <label>To:</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.to, new { id = "txt_To_Internal", @class = "form-control timeselect", @onblur = "workDays()", @onkeyup = "workDays()", @onchange = "workDays()" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.duration)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.duration, new { id = "txtDurationInternal", @class = "form-control", @readonly = "readonly" })

                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.recordedBy)
                                </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.recordedBy, new { @class = "form-control", @readonly = "readonly" })

                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.notes)
                                </div>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.notes, 5, 3, new { @class = "form-control personalDetail" })
                                    @Html.ValidationMessageFor(m => m.notes)
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-12">
                                    <input class="btn btn-gray btn-xs pull-right" type="submit" name="submitButton" value='Add' />
                                    <input style="margin-right:10px;" class="btn btn-gray btn-xs pull-right cancel" type="submit" name="submitButton" value='Cancel' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var txt_STARTDATE = "txtStartDateInternal";
    var txt_RETURNDATE = "txtEndDateInternal";
    var dates = "hdnHolidayDatesInternal";
    var hdnHolType = "hdnHolTypeInternal";
    var txt_DURATION = "txtDurationInternal";

    (function () {
        $('.div-end-date-Internal').hide();

        $('.timeselect').timepicker({
            'maxTime': '23:59'
        });
        workDays();
        loadDatePickerLeave();

        $(".DatePicker").change(function () {
            workDays();
        });
    })();

    function OnSuccessInternalLeave(response) {
        if (response != "" && response.indexOf("__failure__") >= 0) {
            var errorMsg = response.split('__failure__')
            OnFailureInternalLeave(errorMsg[1]);
            return false;
        }
        $('#divMaternityPeternityLeave').html(response);
        btnLeaveDetail();
    }

    function OnFailureInternalLeave(response) {
        popupMessage('messageInternalLeave', 'msgResponseInternalLeave', response, 'failure');
    }

    function JSlong_date(str_date) {
        var arrMon = new Array("", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        var date_array = str_date.split("/");
        return new String(Math.abs(date_array[0]) + " " + arrMon[parseInt(date_array[1], 10)] + " " + date_array[2])
    }

    function weekAndDay(date) {
        days = ['sun', 'mon', 'tue', 'wed',
                'thu', 'fri', 'sat'];
        var totalWeeks = parseInt($('#hdn_totalWeek').val());
        var weekNo = getWeekOfMonth(date);
        if (weekNo > totalWeeks) {
            while (weekNo > totalWeeks) {
                weekNo -= totalWeeks;
            }
        }
        if (weekNo > totalWeeks) {
            weekNo -= totalWeeks;
        }
        var dailyHours = parseFloat($("#hdn_" + days[date.getDay()] + "_" + weekNo).val());
        return dailyHours;
    }

    function getWeekOfMonth(date) {
        var day = date.getDate();
        var data = getWeeksStartAndEndInMonth(date.getMonth(), date.getYear(), 1);
        var i;
        for (i = 0; i < data.length; i++) {
            if (data[i].start <= day && data[i].end >= day)
                break;
        }
        return i + 1;
    }

    function getWeeksStartAndEndInMonth(month, year, start) {
        let weeks = [],
            firstDate = new Date(year, month, 1),
            lastDate = new Date(year, month + 1, 0),
            numDays = lastDate.getDate();

        start = 1;
        let end = endFirstWeek(firstDate, firstDate.getDay());
        while (start <= numDays) {
            weeks.push({ start: start, end: end });
            start = end + 1;
            end = end + 7;
            end = start === 1 && end === 8 ? 1 : end;
            if (end > numDays) {
                end = numDays;
            }
        }
        return weeks;
    }

    function endFirstWeek(firstDate, firstDay) {
        if (!firstDay) {
            return 7 - firstDate.getDay();
        }
        if (firstDate.getDay() < firstDay) {
            return firstDay - firstDate.getDay();
        } else {
            return 7 - firstDate.getDay() + firstDay;
        }
    }

    function isBankHoliday(d) {
        var bhDates = $('#hdnHolidayDatesInternal').val()
        var bhSplit = new Array();
        bhSplit = bhDates.split(',');
        var i = 0;

        while (i <= bhSplit.length - 1) {
            cccc = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime() - d.getTime();
            var leaveDate = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime();
            if (leaveDate == d.getTime()) {
                return true;
            }

            i = i + 1
        }

        return false;
    }
    function workDays() {
        $('#' + hdnHolType).val("F");
        var BegDate = new Date(Date.parse(JSlong_date(document.getElementById(txt_STARTDATE).value)));
        var EndDate = new Date(Date.parse(JSlong_date(document.getElementById(txt_RETURNDATE).value)));

        $("#txtEndDateInternal").val($("#txtStartDateInternal").val());

        EndDate = BegDate
        if ((BegDate.getDay() == "0") || (BegDate.getDay() == "6")) {
            document.getElementById(txt_DURATION).style.color = "red";
            document.getElementById(txt_DURATION).value = "Weekend";
            return false
        }
        
        if (!isBankHoliday(BegDate) && weekAndDay(BegDate) > 0)
        {
            document.getElementById(txt_DURATION).style.color = "black"
            var start = document.getElementById("txt_From_Internal").value;
            var end = document.getElementById("txt_To_Internal").value;
            start = start.split(":");
            end = end.split(":");
            var startDate = new Date(0, 0, 0, start[0], start[1], 0);
            var endDate = new Date(0, 0, 0, end[0], end[1], 0);
            var diff = endDate.getTime() - startDate.getTime();
            var hours = diff / 1000 / 60 / 60;
            if (hours <= 0 || isNaN(hours) || !isTime("txt_From_Internal") || !isTime("txt_To_Internal"))
            {
                $("#txtDurationInternal").css({ "color": "red" });
                $('#txtDurationInternal').val("Invalid Duration");
                return false;
            }
            $("#txtDurationInternal").css({ "color": "black" });
            document.getElementById("txtDurationInternal").value = hours;
        }
        else
        {
            if (isBankHoliday(BegDate))
            {
                document.getElementById(txt_DURATION).style.color = "red";
                document.getElementById(txt_DURATION).value = "Bank Holiday";
                return false;
            }
            if (weekAndDay(BegDate) == 0)
            {
                document.getElementById(txt_DURATION).style.color = "red";
                document.getElementById(txt_DURATION).value = "Non Working Day";
                return false;
            }
        }
    }

</script>