﻿@model BHGHRModuleWeb.ViewModels.InternalMeetingListViewModel
@using System.Globalization;
@{
    Layout = null;
    ViewBag.Title = "HR Dashboard";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10, canSort: true, ajaxUpdateContainerId: "webgridInternalMeeting");
    if (Model.absentees != null && Model.absentees.Count > 0)
    {
        grid.Bind(source: Model.absentees, rowCount: 5, autoSortAndPage: false);
    }

    // all feilds are readonly when user view his own profile
    var isMyJob = false;
    var isDisabled = "false";

    if (Session["Module"] != null && Session["Module"].ToString() == "MyJob")
    {
        isMyJob = true;
    }

    var isTeam = Model.isTeam;

    if (isMyJob)
    {
        isDisabled = "true";
    }

    if (isTeam)
    {
        isDisabled = "false";
    }

}

@using (Ajax.BeginForm("GetInternalMeetings", "Absence", new { id = Model.employeeId }, new AjaxOptions() { AllowCache = false, HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divMaternityPeternityLeave" }))
{
    <div class="portlet portlet-half">
        <div class="row">
            <div class="col-md-12">
                <div class="maternity portlet-icon"></div>
                <div class="portlet-head padding-bottom-5">
                    <strong>
                        Internal Meeting:
                    </strong>
                    <input class="btn btn-gray btn-xs pull-right" type="submit" name="nextBtn" value='Record' />
                </div>
            </div>
        </div>
        <div class="row padding-bottom"></div>
        <div class="row">
            <div class="col-md-12">
                <div id="webgridInternalMeeting" style="max-height: 137px; min-height: 137px;" class="col-md-12 background-white pre-scrollable">
                    @if (Model.absentees != null && Model.absentees.Count > 0)
                    {
                        @grid.GetHtml(
                            tableStyle: "table table-responsive backcolor",
                            headerStyle: "wedgrid-header",
                            footerStyle: "webgrid-footer",
                            alternatingRowStyle: "webgrid-alternating-row",
                            rowStyle: "webgrid-row-style",
                            columns: grid.Columns(
                            grid.Column(columnName: "start", header: "Date:"),
                            grid.Column(columnName: "title", header: "Title:"),
                            grid.Column(columnName: "status", header: "Status:"),
                            grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:
                            @<text>
                                @*@if (
                                        (
                                        (Model.currentlyLoggedEmployeeId == Model.employeeId && Convert.ToDateTime(item.startLeaveDate, new CultureInfo("en-gb")).Date >= DateTime.Now.Date)
                                        || Model.isTeam == true
                                        || Model.isHr == true
                                        )
                                        && item.status == "Pending")
                                {
                                    <a href="#" data-id="@item.absenceHistoryId" data-type="internal" class="pull-right btnLeaveDetail_internal"><img src="~/Content/Images/aero.png" width="22" /></a>
                                }*@
                                @if (item.absenceHistoryId != 0) //item.status != "Cancelled" && item.status != "Declined"
                                {
                                    <a href="#" data-id="@item.absenceHistoryId" data-type="internal" class="pull-right btnLeaveDetail_internal"><img src="~/Content/Images/aero.png" width="22" /></a>
                                }
                            </text>)
                            ))
                        }
                        else
                        {
                        <table class="table table-responsive backcolor">
                            <thead>
                                <tr class="wedgrid-header">
                                    <th>Date:</th>
                                    <th>Nature:</th>
                                    <th>Status:</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="webgrid-row-style">
                                    <td colspan="4" align="center"><br />No record found<br /><br /> </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    $('.btnLeaveDetail_internal').on('click', function () {
        var data = $(this).data();
        if (data.type == 'internal') {
            url = '@Url.Action("GetInternalLeaveDetail", "Absence")';
        }
        url = url + '/' + data.id;
        $.ajax({
            type: "GET",
            url: url,
            success: function (response) {
                $('#leaveApproval').html(response);

                $('#leaveApproval').modal('show');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('popupMessageReference', 'popupMsgResponseReference', "Unable to record leave", 'failure');
            }
        });
    });

</script>