﻿@model BHGHRModuleWeb.ViewModels.MyTeamLeavesResponseViewModel
@{
    Layout = null;
}

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@ViewBag.HeaderTitle</h4>
        </div>
        <div class="modal-body">
            <div class="row padding-bottom-5">
                <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                    <strong id="popupMsgResponse"></strong>
                </div>
                <div class="col-md-12">
                    <div class="row padding-bottom-5">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.myTeamLeavesPending[0].title, new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.myTeamLeavesPending[0].title, new { @disabled = "disabled", @class = "form-control" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5" style="display:none">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.myTeamLeavesPending[0].natureId)
                        </div>
                        <div class="col-md-9 ">
                            @Html.DropDownListFor(m => m.pendingLeaves.natureId, Model.natures, new { @disabled = "disabled", @class = "form-control" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.myTeamLeavesPending[0].startDate, new { @class = "control-label" })
                        </div>
                        <div class="col-md-4">
                            @Html.HiddenFor(m => m.myTeamLeavesPending[0].absenceHistoryId)
                            @Html.HiddenFor(m => m.myTeamLeavesPending[0].employeeId)
                            @Html.TextBoxFor(m => m.myTeamLeavesPending[0].startDate, Model.ModelDateFormate, new { @disabled = "disabled", @class = "form-control" })
                        </div>
                    </div>
                    <div class="row padding-bottom div-from-absence">
                        <div class="col-md-3">
                            <label>From:</label>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.myTeamLeavesPending[0].from, new { @disabled = "disabled", id = "txt_From_absence", @class = "form-control timeselect" })
                        </div>
                    </div>
                    <div class="row padding-bottom div-to-absence">
                        <div class="col-md-3">
                            <label>To:</label>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.myTeamLeavesPending[0].to, new { @disabled = "disabled", id = "txt_To_absence", @class = "form-control timeselect" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.myTeamLeavesPending[0].statusId)
                        </div>
                        <div class="col-md-9 ">
                            @Html.DropDownListFor(m => m.myTeamLeavesPending[0].statusId, Model.statusLookUps, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.myTeamLeavesPending[0].notes)
                        </div>
                        <div class="col-md-9 ">
                            @Html.TextAreaFor(m => m.myTeamLeavesPending[0]._notes, 5, 3, new { @disabled = "disabled", @class = "form-control personalDetail" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-3">
                            <label>Action Note</label>
                        </div>
                        <div class="col-md-9 ">
                            @Html.TextAreaFor(m => m.myTeamLeavesPending[0].notes, 5, 3, new { @class = "form-control personalDetail", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" disabled="disabled" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>