﻿@model BHGHRModuleWeb.ViewModels.PendingInternalLeaveViewModel
@{
    Layout = null;

    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.OnFailure = "OnFailure";
    options.OnSuccess = "OnSuccess";
    //options.OnBegin = "ValidateContactDetail";
}
<script type="text/javascript" src="~/Scripts/jquery.timepicker.js"></script>

@using (Ajax.BeginForm("UpdateInternalStatus", "Absence", options, new { id = "frmUpdateInternalStatus" }))
{
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@ViewBag.HeaderTitle</h4>
            </div>
            <div class="modal-body">
                <div class="row padding-bottom-5">
                    <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                        <strong id="popupMsgResponse"></strong>
                    </div>
                    <div class="col-md-12">
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.title, new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.title, new { @class = "form-control" })
                                @Html.HiddenFor(m => m.employeeId)
                                @Html.HiddenFor(m => m.bankHolidays, new { id = "hdnHolidayDatesInternal" })
                                @if (Model.workingHours != null && Model.workingHours.Count > 0)
                                {
                                    var count = 0;
                                    <span>@Html.HiddenFor(m => Model.workingHours.Count, new { id = "hdn_totalWeek" })</span>
                                    foreach (var item in Model.workingHours)
                                    {
                                        count += 1;
                                        <span>@Html.HiddenFor(m => item.mon, new { id = "hdn_mon_" + count })</span>
                                        <span>@Html.HiddenFor(m => item.tue, new { id = "hdn_tue_" + count })</span>
                                        <span>@Html.HiddenFor(m => item.wed, new { id = "hdn_wed_" + count })</span>
                                        <span>@Html.HiddenFor(m => item.thu, new { id = "hdn_thu_" + count })</span>
                                        <span>@Html.HiddenFor(m => item.fri, new { id = "hdn_fri_" + count })</span>
                                        <span>@Html.HiddenFor(m => item.sat, new { id = "hdn_sat_" + count })</span>
                                        <span>@Html.HiddenFor(m => item.sun, new { id = "hdn_sun_" + count })</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row padding-bottom-5" style="display:none">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.natureId)
                            </div>
                            <div class="col-md-9 ">
                                @Html.DropDownListFor(m => m.natureId, Model.natures, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.startDate, new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.HiddenFor(m => m.absenceHistoryId)
                                @Html.HiddenFor(m => m.employeeId)
                                @Html.TextBoxFor(m => m.startDate, Model.ModelDateFormate, new { id = "txtStartDateInternal", @class = "DatePicker form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom div-end-date-Internal" style="display:none;">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.endDate)
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.endDate, new { id = "txtEndDateInternal", Name = "endDate", @class = "DatePicker form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom div-from-absence">
                            <div class="col-md-3">
                                <label>From:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.from, new { id = "txt_From_Internal", @class = "form-control timeselect", @onblur = "workDays()", @onkeyup = "workDays()", @onchange = "workDays()" })
                            </div>
                        </div>
                        <div class="row padding-bottom div-to-absence">
                            <div class="col-md-3">
                                <label>To:</label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.to, new { id = "txt_To_Internal", @class = "form-control timeselect", @onblur = "workDays()", @onkeyup = "workDays()", @onchange = "workDays()" })
                            </div>
                        </div>
                        <div class="row padding-bottom">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.duration)
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.duration, new { id = "txtDurationInternal", @class = "form-control", @readonly = "readonly" })

                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.statusId)
                            </div>
                            <div class="col-md-9 ">
                                @Html.DropDownListFor(m => m.statusId, Model.statusLookUps, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.notes)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextAreaFor(m => m._notes, 5, 3, new { @disabled = "disabled", @class = "form-control personalDetail" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                <label>Action Note</label>
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextAreaFor(m => m.notes, 5, 3, new { @class = "form-control personalDetail" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="submitButton" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
   

</script>

<script type="text/javascript">
    var txt_STARTDATE = "txtStartDateInternal";
    var txt_RETURNDATE = "txtEndDateInternal";
    var dates = "hdnHolidayDatesInternal";
    var hdnHolType = "hdnHolTypeInternal";
    var txt_DURATION = "txtDurationInternal";

    function OnFailure(response) {
        var obj = jQuery.parseJSON(response);
        popupMessage('popupMessage', 'popupMsgResponse', obj.message, 'failure')
    }

    function OnSuccess(response) {
        var obj = response;
        if (obj.isSuccessFul == false) {
            popupMessage('popupMessage', 'popupMsgResponse', obj.message, 'failure')
            return false;
        }

        popupMessage('popupMessage', 'popupMsgResponse', obj.message, 'success')
        setTimeout(function () {
            reloadCurrentTab();
        }, 2000);
    }

    (function () {
        $('.div-end-date-Internal').hide();
        $('.timeselect').timepicker({
            'maxTime': '23:59'
        });
        workDays();
        loadDatePicker();

        $(".DatePicker").change(function () {
            workDays();
        });
    })();

    function JSlong_date(str_date) {
        var arrMon = new Array("", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        var date_array = str_date.split("/");
        return new String(Math.abs(date_array[0]) + " " + arrMon[parseInt(date_array[1], 10)] + " " + date_array[2])
    }

    function weekAndDay(date) {
        days = ['sun', 'mon', 'tue', 'wed',
                'thu', 'fri', 'sat'];
        var totalWeeks = parseInt($('#hdn_totalWeek').val());
        var weekNo = getWeekOfMonth(date);
        if (weekNo > totalWeeks) {
            while (weekNo > totalWeeks) {
                weekNo -= totalWeeks;
            }
        }
        if (weekNo > totalWeeks) {
            weekNo -= totalWeeks;
        }
        var dailyHours = parseFloat($("#hdn_" + days[date.getDay()] + "_" + weekNo).val());
        return dailyHours;
    }

    function getWeekOfMonth(date) {
        var day = date.getDate();
        var data = getWeeksStartAndEndInMonth(date.getMonth(), date.getYear(), 1);
        var i;
        for (i = 0; i < data.length; i++) {
            if (data[i].start <= day && data[i].end >= day)
                break;
        }
        return i + 1;
    }

    function getWeeksStartAndEndInMonth(month, year, start) {
        let weeks = [],
            firstDate = new Date(year, month, 1),
            lastDate = new Date(year, month + 1, 0),
            numDays = lastDate.getDate();

        start = 1;
        let end = endFirstWeek(firstDate, firstDate.getDay());
        while (start <= numDays) {
            weeks.push({ start: start, end: end });
            start = end + 1;
            end = end + 7;
            end = start === 1 && end === 8 ? 1 : end;
            if (end > numDays) {
                end = numDays;
            }
        }
        return weeks;
    }

    function endFirstWeek(firstDate, firstDay) {
        if (!firstDay) {
            return 7 - firstDate.getDay();
        }
        if (firstDate.getDay() < firstDay) {
            return firstDay - firstDate.getDay();
        } else {
            return 7 - firstDate.getDay() + firstDay;
        }
    }

    function isBankHoliday(d) {
        var bhDates = $('#hdnHolidayDatesInternal').val()
        var bhSplit = new Array();
        bhSplit = bhDates.split(',');
        var i = 0;

        while (i <= bhSplit.length - 1) {
            cccc = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime() - d.getTime();
            var leaveDate = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime();
            if (leaveDate == d.getTime()) {
                return true;
            }

            i = i + 1
        }

        return false;
    }
    function workDays() {
        $('#' + hdnHolType).val("F");
        var BegDate = new Date(Date.parse(JSlong_date(document.getElementById(txt_STARTDATE).value)));
        var EndDate = new Date(Date.parse(JSlong_date(document.getElementById(txt_RETURNDATE).value)));

        $("#txtEndDateInternal").val($("#txtStartDateInternal").val());

        EndDate = BegDate
        if ((BegDate.getDay() == "0") || (BegDate.getDay() == "6")) {
            document.getElementById(txt_DURATION).style.color = "red";
            document.getElementById(txt_DURATION).value = "Weekend";
            return false
        }

        if (!isBankHoliday(BegDate) && weekAndDay(BegDate) > 0)
        {
            document.getElementById(txt_DURATION).style.color = "black"
            var start = document.getElementById("txt_From_Internal").value;
            var end = document.getElementById("txt_To_Internal").value;
            start = start.split(":");
            end = end.split(":");
            var startDate = new Date(0, 0, 0, start[0], start[1], 0);
            var endDate = new Date(0, 0, 0, end[0], end[1], 0);
            var diff = endDate.getTime() - startDate.getTime();
            var hours = diff / 1000 / 60 / 60;
            if (hours <= 0 || isNaN(hours) || !isTime("txt_From_Internal") || !isTime("txt_To_Internal"))
            {
                $("#txtDurationInternal").css({ "color": "red" });
                $('#txtDurationInternal').val("Invalid Duration");
                return false;
            }
            $("#txtDurationInternal").css({ "color": "black" });
            document.getElementById("txtDurationInternal").value = hours;
        }
        else
        {
            if (isBankHoliday(BegDate))
            {
                document.getElementById(txt_DURATION).style.color = "red";
                document.getElementById(txt_DURATION).value = "Bank Holiday";
                return false;
            }
            if (weekAndDay(BegDate) == 0)
            {
                document.getElementById(txt_DURATION).style.color = "red";
                document.getElementById(txt_DURATION).value = "Non Working Day";
                return false;
            }
        }
    }

</script>