﻿@model BHGHRModuleWeb.ViewModels.MaternityPaternityListViewModel
@{
    Layout = null;
    ViewBag.Title = "HR Dashboard";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10, canSort: true, ajaxUpdateContainerId: "webgridMaternityPaternity");
    if (Model.absentees != null && Model.absentees.Count > 0)
    {
        grid.Bind(source: Model.absentees, rowCount: 5, autoSortAndPage: false);
    }

    // all feilds are readonly when user view his own profile
    var isMyJob = false;
    var isDisabled = "false";

    if (Session["Module"] != null && Session["Module"].ToString() == "MyJob")
    {
        isMyJob = true;
    }

    var isTeam = Model.isTeam;

    if (isMyJob)
    {
        isDisabled = "true";
    }

    if (isTeam)
    {
        isDisabled = "false";
    }

}

<div class="portlet portlet-half">
    <div class="row">
        <div class="col-md-12">
            <div class="maternity portlet-icon"></div>
            <div class="portlet-head padding-bottom-5">
                <strong>
                    Maternity/Paternity:
                    <span style="font-size: 10px; font-weight: normal;">Leave can be apply form "Leave of Absence"</span>
                </strong>
            </div>
        </div>
    </div>
    <div class="row padding-bottom"></div>
    <div class="row">
        <div class="col-md-12">
            <div id="webgridMaternityPaternity" style="max-height: 137px; min-height: 137px;" class="col-md-12 background-white pre-scrollable">
                @if (Model.absentees != null && Model.absentees.Count > 0)
                {
                    @grid.GetHtml(
                        tableStyle: "table table-responsive backcolor",
                        headerStyle: "wedgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        rowStyle: "webgrid-row-style",
                        columns: grid.Columns(
                        grid.Column(columnName: "start", header: "Date:"),
                        grid.Column(columnName: "nature", header: "Nature:"),
                        grid.Column(columnName: "status", header: "Status:"),
                        grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:
                        @<text>
                            @if (isDisabled == "false" && item.status == "Pending")
                            {
                                <a href="#" data-id="@item.absenceHistoryId" data-type="absence" class="pull-right btnLeaveDetail"><img src="~/Content/Images/aero.png" width="22" /></a>
                            }
                        </text>)
                        ))
                    }
                    else
                    {
                    <table class="table table-responsive backcolor">
                        <thead>
                            <tr class="wedgrid-header">
                                <th>Date:</th>
                                <th>Nature:</th>
                                <th>Status:</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="webgrid-row-style">
                                <td colspan="4" align="center"><br />No record found<br /><br /> </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
