﻿@model BHGHRModuleWeb.ViewModels.SicknessListViewModel
@{
    Layout = null;
    ViewBag.Title = "Employee Sickness Leave";
    //bool isEdit = ViewBag.isEdit == "edit";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10, canSort: false);
    if (Model.sicknessAbsences != null && Model.sicknessAbsences.Count > 0)
    {
        grid.Bind(source: Model.sicknessAbsences, rowCount: 5, autoSortAndPage: false);
    }

}

@using (Ajax.BeginForm("GetSicknessLeave", "Absence", new { id = Model.employeeId }, new AjaxOptions() { AllowCache = false, HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divSicknessLeave" }))
{
    <div class="portlet portlet-full">
        <div class="row">
            <div class="col-md-12">
                <div class="sickness portlet-icon"></div>
                <div class="portlet-head padding-bottom-5">
                    <strong>
                        Sickness:
                    </strong>
                    <input class="btn btn-gray btn-xs pull-right" type="submit" name="nextBtn" value='Record' />
                    @*<strong style="padding-right:35px;" class="pull-right">
                        @* TODO: calculate days sick * @
                        @Model.days days sick (YTD)
                    </strong>*@
                </div>
            </div>
        </div>
        <div class="row padding-bottom"></div>
        <div class="row padding-bottom"></div>
        <div class="row">
            <div class="col-md-12">
                <div style="max-height: 305px; min-height: 305px;" class="col-md-12 background-white pre-scrollable">
                    @if (Model.sicknessAbsences != null && Model.sicknessAbsences.Count > 0)
                    {
                        @grid.GetHtml(
                            tableStyle: "table table-responsive backcolor",
                            headerStyle: "wedgrid-header",
                            footerStyle: "webgrid-footer",
                            alternatingRowStyle: "webgrid-alternating-row",
                            rowStyle: "webgrid-row-style",
                            columns: grid.Columns(
                            grid.Column(columnName: "start", header: "Start Date:"),
                            grid.Column(columnName: "endLeaveDate", header: "Returned Date:", style: "width-90"),
                            grid.Column(columnName: "duration", header: "No. of Days/hours:", style: "width-120"),
                            grid.Column(columnName: "reason", header: "Reason:"),
                            grid.Column(columnName: "status", header: "Status:"),
                            grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:
                            @<text>
                                  <a href="#" data-id="@item.absenceHistoryId"  data-type="sickness" class="pull-right btnLeaveDetail"><img src="~/Content/Images/aero.png" width="22" /></a>
                            </text>)
                        ))
                    }
                    else
                    {
                        <table class="table table-responsive backcolor">
                            <thead>
                                <tr class="wedgrid-header">
                                    <th>Start Date:</th>
                                    <th>Returned Date:</th>
                                    <th>No. of Days/hours:</th>
                                    <th>Reason:</th>
                                    <th>Status:</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="webgrid-row-style">
                                    <td colspan="6" align="center"><br />No record found<br /><br /> </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
}