﻿@model BHGHRModuleWeb.ViewModels.PendingSicknessViewModel
@{
    Layout = null;
}

    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Sickness Leave Approval</h4>
            </div>
            <div class="modal-body">
                <div class="row padding-bottom-5">
                    <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                        <strong id="popupMsgResponse"></strong>
                    </div>
                    <div class="col-md-12">
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.reasonId)
                            </div>
                            <div class="col-md-9 ">
                                @Html.DropDownListFor(m => m.reasonId, Model.reasons, new { Name = "reasonId", @class = "form-control", @disabled="disabled" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.statusId)
                            </div>
                            <div class="col-md-9 ">
                                @Html.DropDownListFor(m => m.statusId, Model.actions, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.startDate, new { @class = "control-label" })
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.start, new { id = "txt_STARTDATE_ApproveSickness", @class = "form-control", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.startDate, new { id = "startDate_ApproveSickness", Name = "startDate" })
                                @Html.HiddenFor(m => m.absenceHistoryId)
                                @Html.HiddenFor(m => m.bankHolidays, new { id = "dates_ApproveSickness" })
                                @Html.HiddenFor(m => m.holtype, new { id = "holtype_ApproveSickness", Name = "holtype" })
                                @Html.HiddenFor(m => m.employeeId)
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    AM @Html.RadioButtonFor(m => m.holidayType, "0", new { id = "radStartAM_ApproveSickness", @class = "cboxHolidayTypeStart", @disabled = "disabled" })
                                    PM @Html.RadioButtonFor(m => m.holidayType, "1", new { id = "radStartPM_ApproveSickness", @class = "cboxHolidayTypeStart", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.anticipatedReturnDate, new { @class = "control-label" })
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.anticipated, new { @placeholder = "(Optional)", @class = "form-control", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.anticipatedReturnDate, new { Name = "anticipatedReturnDate" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.endDate, new { @class = "control-label" })
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.end, new { id = "txt_RETURNDATE_ApproveSickness", @class = "form-control", @disabled = "disabled" })
                                @Html.HiddenFor(m => m.endDate, new { id = "endDate_ApproveSickness", Name = "endDate" })
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    AM @Html.RadioButtonFor(m => m.holidayTypeEnd, "0", new { id = "radEndAM_ApproveSickness", @class = "cboxHolidayTypeEnd", @disabled = "disabled" })
                                    PM @Html.RadioButtonFor(m => m.holidayTypeEnd, "1", new { id = "radEndPM_ApproveSickness", @class = "cboxHolidayTypeEnd", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.duration)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.absentDays, new { id = "txt_DURATION_ApproveSickness", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.certNo)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.certNo, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.drName)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.drName, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.notes)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextAreaFor(m => m.notes, 5, 3, new { @class = "form-control personalDetail", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="submitButton" disabled="disabled" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
<script type="text/javascript">

    (function () {
        $('.div-end-date').hide();
        loadDatePicker();
    })();
</script>