﻿@model BHGHRModuleWeb.ViewModels.LeaveEditViewModel
@{
    Layout = null;
    ViewBag.Title = "Employee Sickness Leave";
    var options = new AjaxOptions()
    {
        AllowCache = false,
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "OnSuccessSicknessLeave",
        OnFailure = "OnFailureSicknessLeave"
        //UpdateTargetId = "divSicknessLeave"
    };
}

@Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm("SaveSicknessAbsence", "Absence", new { }, options))
{
    <div class="portlet portlet-full">
        <div class="col-md-12 alert alert-success" id="messageSicknessLeave" style="display:none">
            <strong id="msgResponseSicknessLeave"></strong>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sickness portlet-icon"></div>
                        <div class="portlet-head padding-bottom-5 background-white">
                            <strong>
                                Sickness:
                            </strong>
                        </div>
                    </div>
                </div>
                <div style="max-height: 325px; min-height: 325px;" class="col-md-12 background-white">
                    <div class="row padding-bottom"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.reason)
                                </div>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.reason, Model.reasons, new { @class = "form-control" })
                                    @Html.HiddenFor(m => m.bankHolidays, new { id = "hdnHolidayDatesSick" })
                                    @Html.HiddenFor(m => m.holtype, new { id = "hdnHolTypeSick" })
                                    @Html.HiddenFor(m => m.employeeId)
                                    @Html.HiddenFor(m => m.unit, new { id = "unit" })
                                    @if (Model.workingHours != null && Model.workingHours.Count > 0)
                                    {
                                        var count = 0;
                                        <span>@Html.HiddenFor(m => Model.workingHours.Count, new { id = "hdn_totalWeek" })</span>
                                        foreach (var item in Model.workingHours)
                                        {
                                            count += 1;
                                            <span>@Html.HiddenFor(m => item.mon, new { id = "hdn_mon_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.tue, new { id = "hdn_tue_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.wed, new { id = "hdn_wed_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.thu, new { id = "hdn_thu_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.fri, new { id = "hdn_fri_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.sat, new { id = "hdn_sat_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.sun, new { id = "hdn_sun_" + count })</span>
                                        }
                                    }
                                    <input type="hidden" value="" id="StartBookedSlot" />
                                    <input type="hidden" value="" id="EndBookedSlot" />
                                    <input type="hidden" value="" id="RangeStartDate" />
                                    <input type="hidden" value="" id="RangeEndDate" />
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.startDate)
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.start, new { id = "txtStartDateSick", Name = "startDate", @class = "DatePicker form-control" })
                                    @Html.HiddenFor(m => m.end, new { id = "txtEndDateSick" })
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        AM @Html.RadioButtonFor(m => m.holidayTypeStart, "0", new { id = "radStartAMSick", @class = "cboxHolidayTypeStart" })
                                        PM @Html.RadioButtonFor(m => m.holidayTypeStart, "1", new { id = "radStartPMSick", @class = "cboxHolidayTypeStart" })
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom" id="AnticipatedReturn">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.anticipatedReturnDate, new { @class = "control-label" })
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.anticipated, new { @placeholder = "(Optional)", @class = "DatePicker form-control" })
                                    @Html.HiddenFor(m => m.anticipatedReturnDate, new { Name = "anticipatedReturnDate" })
                                </div>
                            </div>
                            <div class="row padding-bottom-5" id="Return" hidden="hidden">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.endDate, new { @class = "control-label" })
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.end, new { id = "txt_RETURNDATE_ApproveSickness", @class = "RETDatePicker form-control" })
                                    @Html.HiddenFor(m => m.endDate, new { id = "endDate_ApproveSickness", Name = "endDate" })
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        AM @Html.RadioButtonFor(m => m.holidayTypeEnd, "0", new { id = "radEndAMSick", @class = "cboxHolidayTypeEnd" })
                                        PM @Html.RadioButtonFor(m => m.holidayTypeEnd, "1", new { id = "radEndPMSick", @class = "cboxHolidayTypeEnd" })
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.duration)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.duration, new { id = "txtDurationSick", @class = "form-control", @readonly = "readonly" })
                                </div>
                                @if (!string.IsNullOrEmpty(Model.unit))
                                {
                                    <div class="col-md-1">
                                        (@Html.ValueForModel(Model.unit))
                                    </div>
                                }
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.recordedBy)
                                </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.recordedBy, new { @class = "form-control", @readonly = "readonly" })

                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.notes)
                                </div>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.notes, 5, 3, new { @class = "form-control personalDetail" })
                                    @Html.ValidationMessageFor(m => m.notes)
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-12">
                                    <input class="btn btn-gray btn-xs pull-right" type="submit" name="submitButton" value='Add' />
                                    <input style="margin-right:10px;" class="btn btn-gray btn-xs pull-right cancel" type="submit" name="submitButton" value='Cancel' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var txt_STARTDATE = "txtStartDateSick";
    var txt_ENDDATE = "txtEndDateSick";
    var dates = "hdnHolidayDatesSick";
    var hdnHolType = "hdnHolTypeSick";
    var radStartAM = "radStartAMSick";
    var radStartPM = "radStartPMSick";
    var radEndAM = "radEndAMSick";
    var radEndPM = "radEndPMSick";
    var txt_DURATION = "txtDurationSick";
    var RangeStartDate = "RangeStartDate";
    var RangeEndDate = "RangeEndDate";

    (function () {
        $(".DatePicker").datepicker({
            showAnim: "blind",
            dateFormat: 'dd/mm/yy',
            yearRange: '1900:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'button',
            buttonImage: '@Url.Content("~/Content/images/calendar.png")',
            buttonImageOnly: true,
        });
        sicknessDays();
        $.validator.methods.date = function (value, element) {
            var valadsasd = this.optional(element) || (/^\d{1,2}[\/-]\d{1,2}[\/-]\d{4}(\s\d{2}:\d{2}(:\d{2})?)?$/.test(value)
                    && !/Invalid|NaN/.test(new Date(value.substr(6, 4) + '-' + value.substr(3, 2) + '-' + value.substr(0, 2))));
            return valadsasd;
        }

        $(".cboxHolidayTypeStart").change(function () {
            sicknessDays();
        });

        $(".cboxHolidayTypeEnd").change(function () {
            sicknessDaysReturned();
        });

        $(".DatePicker").change(function () {
            sicknessDays();
        });
    })();

    $('#txt_RETURNDATE_ApproveSickness').change(function () {
        $('#endDate_ApproveSickness').val($('#txt_RETURNDATE_ApproveSickness').val());
        sicknessDaysReturned();
    });

    function OnSuccessSicknessLeave(response) {
        if (response != "" && response.indexOf("__failure__") >= 0) {
            var errorMsg = response.split('__failure__');
            OnFailureSicknessLeave(errorMsg[1]);
            return false;
        }
        $('#divSicknessLeave').html(response);
        btnLeaveDetail();
    }

    function OnFailureSicknessLeave(response) {
	var index=response.indexOf("return date");
        if (index == -1)
        {
            document.getElementById('AnticipatedReturn').hidden = false;
            document.getElementById('Return').hidden = true;
        }
        else
        {
            document.getElementById('AnticipatedReturn').hidden = true;
            document.getElementById('Return').hidden = false;
            var ArrOfResponse = response.split('__DATE__');
            var ReturnDate = ArrOfResponse[1].substr(0, 10);
            var LeaveMaxDate = new Date(Date.parse(JSlong_date(ReturnDate)));

            $("#txt_RETURNDATE_ApproveSickness").datepicker({
                showAnim: "blind",
                dateFormat: 'dd/mm/yy',
                yearRange: '1900:2050',
                changeMonth: true,
                changeYear: true,
                maxDate: LeaveMaxDate,
                showOn: 'button',
                buttonImage: '@Url.Content("~/Content/images/calendar.png")',
                buttonImageOnly: true,
            });

            var StartDate = ArrOfResponse[1].substr(10, 10);
            if (StartDate != "01/01/0001")
            {
                var LeaveMinDate = new Date(Date.parse(JSlong_date(StartDate)));
                $('#txtStartDateSick').datepicker('option', 'minDate', LeaveMinDate);
            }
            var dateValue = LeaveMaxDate.getDate();
            dateValue = minTwoDigits(dateValue);
            $("#txt_RETURNDATE_ApproveSickness").val(dateValue + "/" + (LeaveMaxDate.getMonth() + 1) + "/" + LeaveMaxDate.getFullYear());
            $('#endDate_ApproveSickness').val(dateValue + "/" + (LeaveMaxDate.getMonth() + 1) + "/" + LeaveMaxDate.getFullYear());

            var SlotsResponse = response.split('__SLOT__');
            var endBookedSlot = SlotsResponse[1].substr(0, 1);
            var startFreeSlot = SlotsResponse[1].substr(1, 1);
            setHolType(endBookedSlot, startFreeSlot);
            response = ArrOfResponse[0].substr(1);
            sicknessDaysReturned();
        }
        popupMessage('messageSicknessLeave', 'msgResponseSicknessLeave', response, 'failure');
    }
    function minTwoDigits(n) {
        return (n < 10 ? '0' : '') + n;
    }
    function setHolType(endBookedSlot, startFreeSlot) {
        var StartDate = new Date(Date.parse(JSlong_date($('#txtStartDateSick').val())));
        var EndDate = new Date(Date.parse(JSlong_date($('#txt_RETURNDATE_ApproveSickness').val())));
        var TotalDays = DateDiffDays(StartDate, EndDate);
        var holType = "";

        $('#RangeStartDate').val($('#txtStartDateSick').val());
        $('#RangeEndDate').val($('#txt_RETURNDATE_ApproveSickness').val());
        if (TotalDays == 0) {
            holType = 'M';
            $("#radStartAMSick").prop("checked", true);
            $("#radEndPMSick").prop("checked", true);

            $("#radStartPMSick").prop('checked', false);
            $("#radEndAMSick").prop('checked', false);
        }

        if (TotalDays == 1) {
            if (startFreeSlot == 'F') {
                $("#radStartAMSick").prop("checked", true);
                $("#radStartPMSick").prop("checked", false);
                $('#StartBookedSlot').val('Free');
                if(endBookedSlot=='F')
                {
                    $("#radEndAMSick").prop("checked", true);
                    $("#radEndPMSick").prop("checked", false);

                    $("#radEndAMSick").prop('disabled', true);
                    $("#radEndPMSick").prop('disabled', true);

                    $('#EndBookedSlot').val('Full');
                    holType = 'F';
                }
                if (endBookedSlot == 'A') {
                    $("#radEndAMSick").prop("checked", false);
                    $("#radEndPMSick").prop("checked", true);

                    $('#EndBookedSlot').val('Free');
                    holType = 'F-M';
                }
            }
            if (startFreeSlot == 'A') {
                $("#radStartAMSick").prop("checked", false);
                $("#radStartPMSick").prop("checked", true);

                $("#radStartAMSick").prop("disabled", true);
                $('#StartBookedSlot').val('Morning');
                if (endBookedSlot == 'F') {
                    $("#radEndAMSick").prop("checked", true);
                    $("#radEndPMSick").prop("checked", false);

                    $("#radEndAMSick").prop('disabled', true);
                    $("#radEndPMSick").prop('disabled', true);

                    $('#EndBookedSlot').val('Full');
                    holType = 'A';
                }
                if (endBookedSlot == 'A') {
                    $("#radEndAMSick").prop("checked", false);
                    $("#radEndPMSick").prop("checked", true);
                    $('#EndBookedSlot').val('Free');
                    holType = 'A-M';
                }
            }
        }
        if (TotalDays > 1) {
            if (startFreeSlot == 'F') {
                $("#radStartAMSick").prop("checked", true);
                $("#radStartPMSick").prop("checked", false);
                $('#StartBookedSlot').val('Free');
                if (endBookedSlot == 'F') {
                    $("#radEndAMSick").prop("checked", true);
                    $("#radEndPMSick").prop("checked", false);

                    $("#radEndAMSick").prop('disabled', true);
                    $("#radEndPMSick").prop('disabled', true);
                    $('#EndBookedSlot').val('Full');
                    holType = 'F-F';
                }
                if (endBookedSlot == 'A') {
                    $("#radEndAMSick").prop("checked", false);
                    $("#radEndPMSick").prop("checked", true);
                    holType = 'F-M';
                    $('#EndBookedSlot').val('Free');
                }
            }
            if (startFreeSlot == 'A') {
                $('#StartBookedSlot').val('Morning');
                $("#radStartAMSick").prop("checked", false);
                $("#radStartPMSick").prop("checked", true);

                $("#radStartAMSick").prop("disabled", true);
                if (endBookedSlot == 'F') {
                    $("#radEndAMSick").prop("checked", true);
                    $("#radEndPMSick").prop("checked", false);

                    $("#radEndAMSick").prop('disabled', true);
                    $("#radEndPMSick").prop('disabled', true);
                    $('#EndBookedSlot').val('Full');
                    holType = 'A-F';
                }
                if (endBookedSlot == 'A') {
                    $("#radEndAMSick").prop("checked", false);
                    $("#radEndPMSick").prop("checked", true);
                    $('#EndBookedSlot').val('Free');
                    holType = 'A-M';
                }
            }
        }

       document.getElementById(hdnHolType).value = holType
    }
    function sicknessDaysReturned()
    {
        //GET THE TOTAL NO. OF DAYS AN EMPLOYEE WORKS FROM FUNCTION
        var rangeStartDateVal = new Date(Date.parse(JSlong_date(document.getElementById(RangeStartDate).value)));
        var rangeEndDateVal = new Date(Date.parse(JSlong_date(document.getElementById(RangeEndDate).value)));
        var rangeStartBookedSlot = $('#StartBookedSlot').val();
        var rangeEndBookedSlot = $('#EndBookedSlot').val();
        var unit = $('#unit').val();

        var holType = "";
        var BegDate = new Date(Date.parse(JSlong_date(document.getElementById(txt_STARTDATE).value)));
        if (rangeStartDateVal != "Invalid Date") {
            if (rangeStartDateVal.getTime() != BegDate.getTime()) {
                if (rangeStartBookedSlot == "Morning") {
                    $("#radStartAMSick").prop("disabled", false);
                }
            }
            if (rangeStartDateVal.getTime() == BegDate.getTime()) {
                if (rangeStartBookedSlot == "Morning") {
                    $("#radStartAMSick").prop("disabled", true);
                }
            }
        }

        var months = new Array(12);
        months[0] = "January";
        months[1] = "February";
        months[2] = "March";
        months[3] = "April";
        months[4] = "May";
        months[5] = "June";
        months[6] = "July";
        months[7] = "August";
        months[8] = "September";
        months[9] = "October";
        months[10] = "November";
        months[11] = "December";

        var now = new Date(Date.parse(JSlong_date($('#txt_RETURNDATE_ApproveSickness').val())));
        var monthnumber = now.getMonth();
        var monthname = months[monthnumber];
        var monthday = now.getDate();
        var year = now.getYear();
        if (year < 2000) { year = year + 1900; }
        var TodaysDate = monthday + '/' + (monthnumber + 1) + '/' + year;
        TodaysDate = new Date(Date.parse(JSlong_date(TodaysDate)));

        EndDate = TodaysDate;

        if (rangeEndDateVal != "Invalid Date") {
            if (rangeEndDateVal.getTime() != EndDate.getTime()) {
                if (rangeEndBookedSlot == "Full") {
                    $("#radEndAMSick").prop("disabled", false);
                    $("#radEndPMSick").prop("disabled", false);
                }
            }
            if (rangeEndDateVal.getTime() == EndDate.getTime()) {
                if (rangeEndBookedSlot == "Full") {
                    $("#radEndAMSick").prop("disabled", true);
                    $("#radEndPMSick").prop("disabled", true);
                }
            }
        }

        var DateCnt = new Date(BegDate)

        EndDays = 0;
        var loopDate = new Date();
        loopDate.setTime(DateCnt.valueOf());
        var hoursCal = 0;

        var StartDateBH = false;
        if (DateCnt.valueOf() == EndDate.valueOf())
        {
            StartDateBH = isBankHoliday(DateCnt);
        }

        if (unit == "days" || unit == "Days") //Days
        {
            if (DateCnt.valueOf() == EndDate.valueOf())//Leave start and end dates are equal
            {
                if (!isBankHoliday(DateCnt) && weekAndDay(DateCnt) > 0 && DateCnt.getDay() != "0" && DateCnt.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                {
                    if ($('#radStartAMSick').is(':checked'))
                    {
                        if ($('#radEndAMSick').is(':checked'))
                        {
                            EndDays = 0.0;//M
                        }
                        if ($('#radEndPMSick').is(':checked'))
                        {
                            EndDays = 0.5;//M-A
                            holType = "M";
                        }
                    }
                    if ($('#radStartPMSick').is(':checked'))
                    {
                        EndDays = 0.0;//A-M,A-A
                    }
                }
            }
            else if (DateDiffDays(DateCnt, EndDate) == 1) {
                if (!isBankHoliday(DateCnt) && weekAndDay(DateCnt) > 0 && DateCnt.getDay() != "0" && DateCnt.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                {
                    EndDays = 1;
                    if ($('#radStartAMSick').is(':checked'))
                    {
                        if ($('#radEndAMSick').is(':checked'))
                        {
                            holType = "F";
                        }
                        else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                        {
                            EndDays = 1.5;
                            holType = "F-M";
                        }
                        else
                        {
                            holType = "F";
                        }
                    }
                    else if ($('#radStartPMSick').is(':checked'))
                    {
                        EndDays = 0.5;
                        if ($('#radEndAMSick').is(':checked'))
                        {
                            holType = "A";
                        }
                        else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                        {
                            EndDays = 1;
                            holType = "A-M";
                        }
                        else
                        {
                            holType = "A";
                        }
                    }
                }
                else if (!isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6" && $('#radEndPM_ApproveSickness').is(':checked'))//Half End Day
                {
                    holType = "M";
                    EndDays = 0.5;
                }
            }
            else//Leave start date is before current date
            {
                while (loopDate.valueOf() < EndDate.valueOf())
                {
                    if (!isBankHoliday(loopDate) && weekAndDay(loopDate) > 0 && loopDate.getDay() != "0" && loopDate.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                    {
                        EndDays = EndDays + 1;
                        if (loopDate.valueOf() == DateCnt.valueOf())
                        {
                            if ($('#radStartAMSick').is(':checked'))
                            {
                                if ($('#radEndAMSick').is(':checked'))
                                {
                                    holType = "F-F";
                                }
                                else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                                {
                                    EndDays = EndDays + 0.5;
                                    holType = "F-M";
                                }
                                else
                                {
                                    holType = "F-F";
                                }
                            }
                            else if ($('#radStartPMSick').is(':checked'))
                            {
                                EndDays = EndDays - 0.5;
                                if ($('#radEndAMSick').is(':checked'))
                                {
                                    holType = "A-F";
                                }
                                else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                                {
                                    EndDays = EndDays + 0.5;
                                    holType = "A-M";
                                }
                                else
                                {
                                    holType = "A-F";
                                }
                            }
                        }
                    }
                    loopDate.setTime(loopDate.valueOf() + 86400000);
                }
                if (!isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6" )//Half End Day
                {
                    if (isBankHoliday(DateCnt) || weekAndDay(DateCnt) == 0 || DateCnt.getDay() == "0" || DateCnt.getDay() == "6")
                    {
                        if ($('#radEndPMSick').is(':checked'))
                        {
                            holType = "F-M";
                            EndDays = EndDays + 0.5;
                        }
                        else
                        {
                            holType = "F-F";
                        }
                    }
                }
            }
        }
        else //Hours
        {
            if (DateCnt.valueOf() == EndDate.valueOf()) {
                if (!isBankHoliday(DateCnt) && weekAndDay(DateCnt) > 0 && DateCnt.getDay() != "0" && DateCnt.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                {
                    if ($('#radStartAMSick').is(':checked'))
                    {
                        if ($('#radEndAMSick').is(':checked'))
                        {
                            hoursCal = 0.0;//M
                        }
                        if ($('#radEndPMSick').is(':checked'))
                        {
                            hoursCal = weekAndDay(DateCnt) / 2;//M-A
                            holType = "M";
                        }
                    }
                    if ($('#radStartPMSick').is(':checked'))
                    {
                        hoursCal = 0.0;//A-M,A-A
                    }
                }
            }
            else if (DateDiffDays(DateCnt, EndDate) == 1)
            {
                if (!isBankHoliday(DateCnt) && weekAndDay(DateCnt) > 0 && DateCnt.getDay() != "0" && DateCnt.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                {
                    hoursCal = weekAndDay(loopDate);
                    if ($('#radStartAMSick').is(':checked'))
                    {
                        if ($('#radEndAMSick').is(':checked'))
                        {
                            holType = "F";
                        }
                        else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                        {
                            var halfEndDay = weekAndDay(EndDate) / 2;
                            hoursCal = hoursCal + halfEndDay;
                            holType = "F-M";
                        }
                        else
                        {
                            holType = "F";
                        }
                    }
                    else if ($('#radStartPMSick').is(':checked'))
                    {
                        var halfStartDay = weekAndDay(DateCnt) / 2;
                        hoursCal = hoursCal - halfStartDay;
                        if ($('#radEndAMSick').is(':checked'))
                        {
                            holType = "A";
                        }
                        else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                        {
                            var halfEndDay = weekAndDay(EndDate) / 2;
                            hoursCal = hoursCal + halfEndDay;
                            holType = "A-M";
                        }
                        else
                        {
                            holType = "A";
                        }
                    }
                }
                else if (!isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6" && $('#radEndPM_ApproveSickness').is(':checked'))//Half End Day
                {
                    var halfEndDay = weekAndDay(EndDate) / 2;
                    holType = "M";
                    hoursCal = hoursCal + halfEndDay;
                }
            }
            else //Leave start date is before current date
            {
                while (loopDate.valueOf() < EndDate.valueOf())
                {
                    if (!isBankHoliday(loopDate) && weekAndDay(loopDate) > 0 && loopDate.getDay() != "0" && loopDate.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                    {
                        hoursCal = hoursCal + weekAndDay(loopDate);
                        if (loopDate.valueOf() == DateCnt.valueOf())
                        {
                            if ($('#radStartAMSick').is(':checked'))
                            {
                                if ($('#radEndAMSick').is(':checked'))
                                {
                                    holType = "F-F";
                                }
                                else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                                {
                                    var halfEndDay = weekAndDay(EndDate) / 2;
                                    hoursCal = hoursCal + halfEndDay;
                                    holType = "F-M";
                                }
                                else
                                {
                                    holType = "F-F";
                                }
                            }
                            else if ($('#radStartPMSick').is(':checked'))
                            {
                                var halfStartDay = weekAndDay(DateCnt) / 2;
                                hoursCal = hoursCal - halfStartDay;
                                if ($('#radEndAMSick').is(':checked'))
                                {
                                    holType = "A-F";
                                }
                                else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                                {
                                    var halfEndDay = weekAndDay(EndDate) / 2;
                                    hoursCal = hoursCal + halfEndDay;
                                    holType = "A-M";
                                }
                                else
                                {
                                    holType = "A-F";
                                }
                            }
                        }
                    }
                    loopDate.setTime(loopDate.valueOf() + 86400000);
                }
                if (!isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")//Half End Day
                {
                    if (isBankHoliday(DateCnt) || weekAndDay(DateCnt) == 0 || DateCnt.getDay() == "0" || DateCnt.getDay() == "6")
                    {
                        if ($('#radEndPMSick').is(':checked'))
                        {
                            holType = "F-M";
                            var halfEndDay = weekAndDay(EndDate) / 2;
                            hoursCal = hoursCal + halfEndDay;                            
                        }
                        else
                        {
                            holType = "F-F";
                        }
                    }
                }
            }
        }
        var JSsicknessDays = 0;
        if (unit == "days" || unit == "Days") {
            JSsicknessDays = EndDays;
        }
        else {
            JSsicknessDays = hoursCal;
        }
        // if Saturday or Sunday
        if (BegDate.getDay() == "0" || BegDate.getDay() == "6" || EndDate.getDay() == "0" || EndDate.getDay() == "6")
        {
            document.getElementById(txt_DURATION).style.color = "red";
            document.getElementById(txt_DURATION).value = "Weekend";
            return false;
        }

        if (BegDate.getTime() > EndDate.getTime())
        {
            document.getElementById(txt_DURATION).style.color = "red";
            document.getElementById(txt_DURATION).value = "Invalid Date Range";
            return false;
        }
        
        if (StartDateBH == true) {
            document.getElementById(txt_DURATION).style.color = "red";
            document.getElementById(txt_DURATION).value = "Bank Holiday";
            return false;
        }
        if (JSsicknessDays > 0)
        {
            document.getElementById(txt_DURATION).style.color = "black";
            document.getElementById(txt_DURATION).value = JSsicknessDays;
            document.getElementById(hdnHolType).value = holType;
        }
        else {
            document.getElementById(txt_DURATION).style.color = "red";
            document.getElementById(txt_DURATION).value = "Invalid Date Range";
            return false;
        }
    }


    function JSlong_date(str_date) {
        var arrMon = new Array("", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        var date_array = str_date.split("/");
        return new String(Math.abs(date_array[0]) + " " + arrMon[parseInt(date_array[1], 10)] + " " + date_array[2])
    }
    function DateDiffDays(date1, date2) {
        dt1 = new Date(date1);
        dt2 = new Date(date2);
        return Math.floor((Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) - Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate())) / (1000 * 60 * 60 * 24));
    }
    function TodaysDateFormatted() {
        var months = new Array(12);
        months[0] = "January";
        months[1] = "February";
        months[2] = "March";
        months[3] = "April";
        months[4] = "May";
        months[5] = "June";
        months[6] = "July";
        months[7] = "August";
        months[8] = "September";
        months[9] = "October";
        months[10] = "November";
        months[11] = "December";

        var now = new Date();
        var monthnumber = now.getMonth();
        var monthname = months[monthnumber];
        var monthday = now.getDate();
        var year = now.getYear();
        if (year < 2000) { year = year + 1900; }
        var TodaysDate = monthday + '/' + (monthnumber + 1) + '/' + year;
        TodaysDate = new Date(Date.parse(JSlong_date(TodaysDate)));
        return TodaysDate;
    }

    function weekAndDay(date) {
        days = ['sun', 'mon', 'tue', 'wed',
                'thu', 'fri', 'sat'];
        var totalWeeks = parseInt($('#hdn_totalWeek').val());
        var weekNo = getWeekOfMonth(date);
        if (weekNo > totalWeeks) {
            while (weekNo > totalWeeks) {
                weekNo -= totalWeeks;
            }
        }
        if (weekNo > totalWeeks) {
            weekNo -= totalWeeks;
        }
        var dailyHours = parseFloat($("#hdn_" + days[date.getDay()] + "_" + weekNo).val());
        return dailyHours;
    }
    function getWeekOfMonth(date) {
        var day = date.getDate();
        var data = getWeeksStartAndEndInMonth(date.getMonth(), date.getYear(), 1);
        var i;
        for (i = 0; i < data.length; i++) {
            if (data[i].start <= day && data[i].end >= day)
                break;
        }
        return i + 1;
    }
    function isBankHoliday(d) {
        var bhDates = $('#hdnHolidayDatesSick').val()
        var bhSplit = new Array();
        bhSplit = bhDates.split(',');
        var i = 0;

        while (i <= bhSplit.length - 1) {
            cccc = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime() - d.getTime();
            var leaveDate = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime();
            if (leaveDate == d.getTime()) {
                return true;
            }

            i = i + 1
        }

        return false;
    }
    function getWeeksStartAndEndInMonth(month, year, start) {
        let weeks = [],
            firstDate = new Date(year, month, 1),
            lastDate = new Date(year, month + 1, 0),
            numDays = lastDate.getDate();

        start = 1;
        let end = endFirstWeek(firstDate, firstDate.getDay());
        while (start <= numDays) {
            weeks.push({ start: start, end: end });
            start = end + 1;
            end = end + 7;
            end = start === 1 && end === 8 ? 1 : end;
            if (end > numDays) {
                end = numDays;
            }
        }
        return weeks;
    }
    function endFirstWeek(firstDate, firstDay) {
        if (!firstDay) {
            return 7 - firstDate.getDay();
        }
        if (firstDate.getDay() < firstDay) {
            return firstDay - firstDate.getDay();
        } else {
            return 7 - firstDate.getDay() + firstDay;
        }
    }
    function sicknessDays()
    {
        //GET THE TOTAL NO. OF DAYS AN EMPLOYEE WORKS FROM FUNCTION
        var rangeStartDateVal = new Date(Date.parse(JSlong_date(document.getElementById(RangeStartDate).value)));
        var rangeEndDateVal = new Date(Date.parse(JSlong_date(document.getElementById(RangeEndDate).value)));
        var rangeStartBookedSlot = $('#StartBookedSlot').val();
        var rangeEndBookedSlot = $('#EndBookedSlot').val();
        var unit = $('#unit').val();

        var holType = "";
        var BegDate = new Date(Date.parse(JSlong_date(document.getElementById(txt_STARTDATE).value)));
        if (rangeStartDateVal != "Invalid Date")
        {
            if (rangeStartDateVal.getTime() != BegDate.getTime()) {
                if (rangeStartBookedSlot == "Morning") {
                    $("#radStartAMSick").prop("disabled", false);
                }
            }
            if (rangeStartDateVal.getTime() == BegDate.getTime()) {
                if (rangeStartBookedSlot == "Morning") {
                    $("#radStartAMSick").prop("disabled", true);
                }
            }
        }

        var months = new Array(12);
        months[0] = "January";
        months[1] = "February";
        months[2] = "March";
        months[3] = "April";
        months[4] = "May";
        months[5] = "June";
        months[6] = "July";
        months[7] = "August";
        months[8] = "September";
        months[9] = "October";
        months[10] = "November";
        months[11] = "December";

        var returnDate = $('#txt_RETURNDATE_ApproveSickness').val();
        var now = new Date();
        now = new Date((Date.parse(JSlong_date(returnDate))));
        var monthnumber = now.getMonth();
        var monthname = months[monthnumber];
        var monthday = now.getDate();
        var year = now.getYear();
        if (year < 2000) { year = year + 1900; }
        var TodaysDate = monthday + '/' + (monthnumber + 1) + '/' + year;
        TodaysDate = new Date(Date.parse(JSlong_date(TodaysDate)));
        EndDate = TodaysDate;

        if (rangeEndDateVal != "Invalid Date") {
            if (rangeEndDateVal.getTime() != EndDate.getTime()) {
                if (rangeEndBookedSlot == "Full") {
                    $("#radEndAMSick").prop("disabled", false);
                    $("#radEndPMSick").prop("disabled", false);
                }
            }
            if (rangeEndDateVal.getTime() == EndDate.getTime()) {
                if (rangeEndBookedSlot == "Full") {
                    $("#radEndAMSick").prop("disabled", true);
                    $("#radEndPMSick").prop("disabled", true);
                }
            }
        }


        var DateCnt = new Date(BegDate)

        EndDays = 0;
        var loopDate = new Date();
        loopDate.setTime(DateCnt.valueOf());
        var hoursCal = 0;

        var StartDateBH = false;
        if (DateCnt.valueOf() == EndDate.valueOf())
        {
            StartDateBH = isBankHoliday(DateCnt);
        }

        if (unit == "days" || unit == "Days")//days
        {
            if (document.getElementById('Return').hidden == true)//One Date
            {
                if (DateCnt.valueOf() == EndDate.valueOf())//Leave start date is the current date
                {
                    if (!isBankHoliday(DateCnt) && weekAndDay(DateCnt) > 0 && DateCnt.getDay() != "0" && DateCnt.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                    {
                        EndDays = 1;
                        if ($('#radStartPMSick').is(':checked'))//Half Day
                        {
                            EndDays = 0.5;
                            holType = "A";
                        }
                        else
                        {
                            holType = "F";
                        }
                    }
                }
                else//Leave start date is before current date
                {
                    while (loopDate.valueOf() < EndDate.valueOf() + 86400000)
                    {
                        if (!isBankHoliday(loopDate) && weekAndDay(loopDate) > 0 && loopDate.getDay() != "0" && loopDate.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                        {
                            EndDays = EndDays + 1;
                            if (loopDate.valueOf() == DateCnt.valueOf())
                            {
                                if ($('#radStartAMSick').is(':checked'))
                                {
                                    holType = "F-F";
                                }
                                else if ($('#radStartPMSick').is(':checked'))
                                {
                                    EndDays = EndDays - 0.5;
                                    holType = "A-F";
                                }
                            }
                        }
                        loopDate.setTime(loopDate.valueOf() + 86400000);
                    }
                    if (isBankHoliday(DateCnt) || weekAndDay(DateCnt) == 0 || DateCnt.getDay() == "0" || DateCnt.getDay() == "6")
                    {
                        holType = "F-F";
                    }
                }
            }
            else//Multiple Dates
            {
                if (DateCnt.valueOf() == EndDate.valueOf())//Leave start and end dates are equal
                {
                    if (!isBankHoliday(DateCnt) && weekAndDay(DateCnt) > 0 && DateCnt.getDay() != "0" && DateCnt.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                    {
                        if ($('#radStartAMSick').is(':checked'))
                        {
                            if ($('#radEndAMSick').is(':checked'))
                            {
                                EndDays = 0.0;//M
                            }
                            if ($('#radEndPMSick').is(':checked'))
                            {
                                EndDays = 0.5;//M-A
                                holType = "M";
                            }
                        }
                        if ($('#radStartPMSick').is(':checked'))
                        {
                            EndDays = 0.0;//A-M,A-A
                        }
                    }
                }
                else if (DateDiffDays(DateCnt, EndDate) == 1)
                {
                    if (!isBankHoliday(DateCnt) && weekAndDay(DateCnt) > 0 && DateCnt.getDay() != "0" && DateCnt.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                    {
                        EndDays = 1;
                        if ($('#radStartAMSick').is(':checked'))
                        {
                            if ($('#radEndAMSick').is(':checked'))
                            {
                                holType = "F";
                            }
                            else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                            {
                                EndDays = 1.5;
                                holType = "F-M";
                            }
                            else {
                                holType = "F";
                            }
                        }
                        else if ($('#radStartPMSick').is(':checked'))
                        {
                            EndDays = 0.5;
                            if ($('#radEndAMSick').is(':checked'))
                            {
                                holType = "A";
                            }
                            else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                            {
                                EndDays = 1;
                                holType = "A-M";
                            }
                            else
                            {
                                holType = "A";
                            }
                        }
                    }
                    else if (!isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6" && $('#radEndPM_ApproveSickness').is(':checked'))//Half End Day
                    {
                        holType = "M";
                        EndDays = 0.5;
                    }
                }
                else//Leave start date is before current date
                {
                    while (loopDate.valueOf() < EndDate.valueOf())
                    {
                        if (!isBankHoliday(loopDate) && weekAndDay(loopDate) > 0 && loopDate.getDay() != "0" && loopDate.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                        {
                            EndDays = EndDays + 1;
                            if (loopDate.valueOf() == DateCnt.valueOf())
                            {
                                if ($('#radStartAMSick').is(':checked'))
                                {
                                    if ($('#radEndAMSick').is(':checked'))
                                    {
                                        holType = "F-F";
                                    }
                                    else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                                    {
                                        EndDays = EndDays + 0.5;
                                        holType = "F-M";
                                    }
                                    else
                                    {
                                        holType = "F-F";
                                    }
                                }
                                else if ($('#radStartPMSick').is(':checked'))
                                {
                                    EndDays = EndDays - 0.5;
                                    if ($('#radEndAMSick').is(':checked'))
                                    {
                                        holType = "A-F";
                                    }
                                    else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                                    {
                                        EndDays = EndDays + 0.5;
                                        holType = "A-M";
                                    }
                                    else
                                    {
                                        holType = "A-F";
                                    }
                                }
                            }
                        }
                        loopDate.setTime(loopDate.valueOf() + 86400000);
                    }
                    if (!isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6" )//Half End Day
                    {
                        if (isBankHoliday(DateCnt) || weekAndDay(DateCnt) == 0 || DateCnt.getDay() == "0" || DateCnt.getDay() == "6")
                        {
                            if ($('#radEndPMSick').is(':checked'))
                            {
                                holType = "F-M";
                                EndDays = EndDays + 0.5;
                            }
                            else
                            {
                                holType = "F-F";
                            }
                        }
                    }
                }
            }
        }
        else //hours
        {
            if (document.getElementById('Return').hidden == true)//One Date
            {
                if (DateCnt.valueOf() == EndDate.valueOf())//Leave start date is the current date
                {
                    if (!isBankHoliday(DateCnt) && weekAndDay(DateCnt) > 0 && DateCnt.getDay() != "0" && DateCnt.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                    {
                        hoursCal = weekAndDay(DateCnt);                        
                        if ($('#radStartPMSick').is(':checked'))
                        {
                            var halfDay = weekAndDay(DateCnt) / 2;
                            hoursCal = hoursCal - halfDay;
                            holType = "A";
                        }
                        else {
                            holType = "F";
                        }
                    }
                }
                else//Leave start date is before current date
                {
                    while (loopDate.valueOf() < EndDate.valueOf() + 86400000)
                    {
                        if (!isBankHoliday(loopDate) && weekAndDay(loopDate) > 0 && loopDate.getDay() != "0" && loopDate.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                        {
                            hoursCal = hoursCal + weekAndDay(loopDate);
                            if (loopDate.valueOf() == DateCnt.valueOf())
                            {
                                if ($('#radStartAMSick').is(':checked')) {
                                    holType = "F-F";
                                }
                                else if ($('#radStartPMSick').is(':checked')) {
                                    var halfDay = weekAndDay(loopDate) / 2;
                                    hoursCal = hoursCal - halfDay;
                                    holType = "A-F";
                                }
                            }
                        }
                        loopDate.setTime(loopDate.valueOf() + 86400000);
                    }
                    if (isBankHoliday(DateCnt) || weekAndDay(DateCnt) == 0 || DateCnt.getDay() == "0" || DateCnt.getDay() == "6") {
                        holType = "F-F";
                    }
                }
            }
            else //Multiple Dates
            {
                if (DateCnt.valueOf() == EndDate.valueOf())
                {
                    if (!isBankHoliday(DateCnt) && weekAndDay(DateCnt) > 0 && DateCnt.getDay() != "0" && DateCnt.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                    {
                        if ($('#radStartAMSick').is(':checked'))
                        {
                            if ($('#radEndAMSick').is(':checked'))
                            {
                                hoursCal = 0.0;//M
                            }
                            if ($('#radEndPMSick').is(':checked'))
                            {
                                hoursCal = weekAndDay(DateCnt) / 2;//M-A
                                holType = "M";
                            }
                        }
                        if ($('#radStartPMSick').is(':checked'))
                        {
                            hoursCal = 0.0;//A-M,A-A
                        }
                    }
                }
                else if (DateDiffDays(DateCnt, EndDate) == 1)
                {
                    if (!isBankHoliday(DateCnt) && weekAndDay(DateCnt) > 0 && DateCnt.getDay() != "0" && DateCnt.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                    {
                        hoursCal = weekAndDay(loopDate);
                        if ($('#radStartAMSick').is(':checked'))
                        {
                            if ($('#radEndAMSick').is(':checked'))
                            {
                                holType = "F";
                            }
                            else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                            {
                                var halfEndDay = weekAndDay(EndDate) / 2;
                                hoursCal = hoursCal + halfEndDay;
                                holType = "F-M";
                            }
                            else {
                                holType = "F";
                            }
                        }
                        else if ($('#radStartPMSick').is(':checked'))
                        {
                            var halfStartDay = weekAndDay(DateCnt) / 2;
                            hoursCal = hoursCal - halfStartDay;
                            if ($('#radEndAMSick').is(':checked'))
                            {
                                holType = "A";
                            }
                            else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                            {
                                var halfEndDay = weekAndDay(EndDate) / 2;
                                hoursCal = hoursCal + halfEndDay;
                                holType = "A-M";
                            }
                            else
                            {
                                holType = "A";
                            }
                        }
                    }
                    else if (!isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6" && $('#radEndPM_ApproveSickness').is(':checked'))//Half End Day
                    {
                        var halfEndDay = weekAndDay(EndDate) / 2;
                        holType = "M";
                        hoursCal = hoursCal + halfEndDay;
                    }
                }
                else //Leave start date is before current date
                {
                    while (loopDate.valueOf() < EndDate.valueOf()) {
                        if (!isBankHoliday(loopDate) && weekAndDay(loopDate) > 0 && loopDate.getDay() != "0" && loopDate.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                        {
                            hoursCal = hoursCal + weekAndDay(loopDate);
                            if (loopDate.valueOf() == DateCnt.valueOf())
                            {
                                if ($('#radStartAMSick').is(':checked'))
                                {
                                    if ($('#radEndAMSick').is(':checked'))
                                    {
                                        holType = "F-F";
                                    }
                                    else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                                    {
                                        var halfEndDay = weekAndDay(EndDate) / 2;
                                        hoursCal = hoursCal + halfEndDay;
                                        holType = "F-M";
                                    }
                                    else
                                    {
                                        holType = "F-F";
                                    }
                                }
                                else if ($('#radStartPMSick').is(':checked'))
                                {
                                    var halfStartDay = weekAndDay(DateCnt) / 2;
                                    hoursCal = hoursCal - halfStartDay;
                                    if ($('#radEndAMSick').is(':checked'))
                                    {
                                        holType = "A-F";
                                    }
                                    else if ($('#radEndPMSick').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                                    {
                                        var halfEndDay = weekAndDay(EndDate) / 2;
                                        hoursCal = hoursCal + halfEndDay;
                                        holType = "A-M";
                                    }
                                    else
                                    {
                                        holType = "A-F";
                                    }
                                }
                            }
                        }
                        loopDate.setTime(loopDate.valueOf() + 86400000);
                    }
                    if (!isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")//Half End Day
                    {
                        if (isBankHoliday(DateCnt) || weekAndDay(DateCnt) == 0 || DateCnt.getDay() == "0" || DateCnt.getDay() == "6")
                        {
                            if ($('#radEndPMSick').is(':checked')) {
                                holType = "F-M";
                                var halfEndDay = weekAndDay(EndDate) / 2;
                                hoursCal = hoursCal + halfEndDay;                               
                            }
                            else
                            {
                                holType = "F-F";
                            }
                        }
                    }
                }
            }
        }
        var JSsicknessDays = 0;
        if (unit == "days" || unit == "Days")
        {
            JSsicknessDays = EndDays;
        }
        else
        {
            JSsicknessDays = hoursCal;
        }
        // if Saturday or Sunday
        if ((BegDate.getDay() == "0") || (BegDate.getDay() == "6"))
        {
            document.getElementById(txt_DURATION).style.color = "red";
            document.getElementById(txt_DURATION).value = "Weekend";
            return false;
        }
        if (document.getElementById('Return').hidden == false)
        {
            // if Saturday or Sunday
            if ((EndDate.getDay() == "0") || (EndDate.getDay() == "6"))
            {
                document.getElementById(txt_DURATION).style.color = "red";
                document.getElementById(txt_DURATION).value = "Weekend";
                return false;
            }
        }
        if (BegDate.getTime() > EndDate.getTime())
        {
            document.getElementById(txt_DURATION).style.color = "red";
            document.getElementById(txt_DURATION).value = "Invalid Date Range";
            return false;
        }
        if (StartDateBH == true)
        {
            document.getElementById(txt_DURATION).style.color = "red";
            document.getElementById(txt_DURATION).value = "Bank Holiday";
            return false;
        }

        if (JSsicknessDays > 0)
        {
            document.getElementById(txt_DURATION).style.color = "black";
            document.getElementById(txt_DURATION).value = JSsicknessDays;
            document.getElementById(hdnHolType).value = holType;
        }
        else
        {
            document.getElementById(txt_DURATION).style.color = "red";
            document.getElementById(txt_DURATION).value = "Invalid Date Range";
            return false;
        }
    }


</script>