﻿@model BHGHRModuleWeb.ViewModels.PendingSicknessViewModel
@{
    Layout = null;

    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.OnFailure = "OnFailure";
    options.OnSuccess = "OnSuccess";
    options.OnBegin = "Validation";

    var typeStart = Model.holidayType[0];
}

@using (Ajax.BeginForm("UpdateSicknessStatus", "Absence", options, new { id = "frmContactDetail" }))
{
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Sickness Leave Approval</h4>
            </div>
            <div class="modal-body">
                <div class="row padding-bottom-5">
                    <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                        <strong id="popupMsgResponse"></strong>
                    </div>
                    <div class="col-md-12">
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.reasonId)
                            </div>
                            <div class="col-md-9 ">
                                @Html.DropDownListFor(m => m.reasonId, Model.reasons, new { Name= "reasonId", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.statusId)
                            </div>
                            <div class="col-md-9 ">
                                @Html.DropDownListFor(m => m.statusId, Model.actions, new { @class = "form-control", onchange = "action_change()" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.startDate, new { @class = "control-label" })
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.start, new { id = "txt_STARTDATE_ApproveSickness", @class = "DatePicker form-control" })
                                @Html.HiddenFor(m => m.startDate, new { id = "startDate_ApproveSickness", Name= "startDate" })
                                @Html.HiddenFor(m => m.absenceHistoryId)
                                @Html.HiddenFor(m => m.bankHolidays, new { id = "dates_ApproveSickness" })
                                @Html.HiddenFor(m => m.holtype, new { id = "holtype_ApproveSickness", Name = "holtype" })
                                @Html.HiddenFor(m => m.employeeId)
                                @Html.HiddenFor(m => m.unit, new { id = "unit" })
                                @if (Model.workingHours != null && Model.workingHours.Count > 0)
                                {
                                    var count = 0;
                                    <span>@Html.HiddenFor(m => Model.workingHours.Count, new { id = "hdn_totalWeek" })</span>
                                    foreach (var item in Model.workingHours)
                                    {
                                        count += 1;
                                        <span>@Html.HiddenFor(m => item.mon, new { id = "hdn_mon_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.tue, new { id = "hdn_tue_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.wed, new { id = "hdn_wed_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.thu, new { id = "hdn_thu_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.fri, new { id = "hdn_fri_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.sat, new { id = "hdn_sat_" + count })</span>
                                            <span>@Html.HiddenFor(m => item.sun, new { id = "hdn_sun_" + count })</span>
                                    }
                                }
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    AM @Html.RadioButtonFor(m => m.holidayTypeStart, "0", new { id = "radStartAM_ApproveSickness", @class = "cboxHolidayTypeStart" })
                                    PM @Html.RadioButtonFor(m => m.holidayTypeStart, "1", new { id = "radStartPM_ApproveSickness", @class = "cboxHolidayTypeStart" })
                                </div>
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.anticipatedReturnDate, new { @class = "control-label" })
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.anticipated, new { @placeholder= "(Optional)", @class = "DatePicker form-control" })
                                @Html.HiddenFor(m => m.anticipatedReturnDate, new { Name = "anticipatedReturnDate" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.endDate, new { @class = "control-label" })
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.end, new { id = "txt_RETURNDATE_ApproveSickness", @class = "DatePicker form-control" })
                                @Html.HiddenFor(m => m.endDate, new { id = "endDate_ApproveSickness", Name = "endDate" })
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    AM @Html.RadioButtonFor(m => m.holidayTypeEnd, "0", new { id = "radEndAM_ApproveSickness", @class = "cboxHolidayTypeEnd" })
                                    PM @Html.RadioButtonFor(m => m.holidayTypeEnd, "1", new { id = "radEndPM_ApproveSickness", @class = "cboxHolidayTypeEnd" })
                                </div>
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.duration)
                                @if (!string.IsNullOrEmpty(Model.unit))
                                {
                                    <span>
                                        (@Html.ValueForModel(Model.unit))
                                    </span>
                                }
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.absentDays, new { id = "txt_DURATION_ApproveSickness", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.certNo)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.certNo, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.drName)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.drName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.notes)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextAreaFor(m => m.notes, 5, 3, new { @class = "form-control personalDetail" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="submitButton" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    (function () {
        $('.div-end-date').hide();
        loadDatePicker();

        $(".cboxRequested").change(function () {
            workDays();
            if ($('#requested').is(':checked')) {
                $('.div-end-date').hide();
                $("#endDate_ApproveSickness").val($("#startDate_ApproveSickness").val());
            }
            else {
                $('.div-end-date').show();
            }
        });

        $(".DatePicker").change(function () {
            workDays();
        });

        $(".cboxHolidayTypeStart").change(function () {
            workDays();
        });

        $(".cboxHolidayTypeEnd").change(function () {
            workDays();
        });

        action_change();

    })();

    function Validation() {
        if ($('#statusId').val() == '2') {
            var BegDate = new Date(Date.parse(JSlong_date($('#txt_STARTDATE_ApproveSickness').val())));
            var EndDate = new Date(Date.parse(JSlong_date($('#txt_RETURNDATE_ApproveSickness').val())));
            var Duration = $('#txt_DURATION_ApproveSickness').val();
            if (Duration == "Invalid Date Range" || Duration == "Weekend" || Duration == "Bank Holiday")
            {
                popupMessage('popupMessage', 'popupMsgResponse', 'Invalid Date Range', 'failure')
                return false;
            }
            
        }
        
    }
    function OnSuccess(response) {
        if (response != "" && response.indexOf("__failure__") >= 0) {
            var errorMsg = response.split('__failure__');
            OnFailure(errorMsg[1]);
            return false;
        }
        popupMessage('popupMessage', 'popupMsgResponse', response, 'success')
        reloadCurrentTab();
    }
    function OnFailure(response) {
        popupMessage('popupMessage', 'popupMsgResponse', response, 'failure')
    }

    function action_change() {
        // IF NOT RETURN TO WORK
        if ($('#statusId').val() != '2') {
            $('#txt_RETURNDATE_ApproveSickness').val('');
            $('#radEndAM_ApproveSickness').val('');
            $('#radEndPM_ApproveSickness').val('');

            $('#txt_RETURNDATE_ApproveSickness').attr('disabled', true);
            $('#radEndAM_ApproveSickness').attr('disabled', true);
            $('#radEndPM_ApproveSickness').attr('disabled', true);

            $("#txt_RETURNDATE_ApproveSickness").datepicker("disable");
        }
        else {
            $('#txt_RETURNDATE_ApproveSickness').attr('disabled', false);
            $('#radEndAM_ApproveSickness').attr('disabled', false);
            $('#radEndPM_ApproveSickness').attr('disabled', false);
            $("#txt_RETURNDATE_ApproveSickness").datepicker("enable");
        }

        workDays();
    }

    function OnSuccessAnnualLeave(response) {
        if (response != "" && response.indexOf("__failure__") >= 0) {
            var errorMsg = response.split('__failure__');
            OnFailureAnnualLeave(errorMsg[1]);
            return false;
        }

        $('#divAnnualLeave').html(response);
    }

    function OnFailureAnnualLeave(response) {
        popupMessage('messageAnnualLeave', 'msgResponseAnnualLeave', response, 'failure');
    }

    /////////////////////////////////////////////////////////////////////
    function JSlong_date(str_date) {
        var arrMon = new Array("", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        var date_array = str_date.split("/");
        return new String(Math.abs(date_array[0]) + " " + arrMon[parseInt(date_array[1], 10)] + " " + date_array[2])
    }
    function DateDiffDays(date1, date2) {
        dt1 = new Date(date1);
        dt2 = new Date(date2);
        return Math.floor((Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) - Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate()) ) /(1000 * 60 * 60 * 24));
    }
    // RSL Code
    function bhDays() {
        var bhSplit, cnt, testBHDate, high, testDate, bhCount, holStart, holEnd, tmpStartDate, totdate, i

        holStart = new Date(Date.parse(JSlong_date($('#txt_STARTDATE_ApproveSickness').val())));
        $('#startDate_ApproveSickness').val($('#txt_STARTDATE_ApproveSickness').val());
        if ($('#txt_RETURNDATE_ApproveSickness').val() != '') {
            holEnd = new Date(Date.parse(JSlong_date($('#txt_RETURNDATE_ApproveSickness').val())));
            $('#endDate_ApproveSickness').val($('#txt_RETURNDATE_ApproveSickness').val());
        }
        else {
            holEnd = new Date(Date.parse(JSlong_date($('#txt_STARTDATE_ApproveSickness').val())));
            $('#endDate_ApproveSickness').val($('#txt_STARTDATE_ApproveSickness').val());
        }

        var bhDates = $('#dates_ApproveSickness').val()
        var bhSplit = new Array();
        bhSplit = bhDates.split(',');

        var cnt = 1
        var bhCount = 0
        i = 0

        if ($('#txt_RETURNDATE_ApproveSickness').val() != '') {

            var tmpStartDate = new Date(Date.parse(JSlong_date($('#txt_STARTDATE_ApproveSickness').val())));
            var tmpEndDate = new Date(Date.parse(JSlong_date($('#txt_RETURNDATE_ApproveSickness').val())));
            var totdate = (Math.abs(holStart.getTime() - holEnd.getTime()) / 86400000) + 2;

            while (cnt < totdate) {

                while (i <= bhSplit.length - 1) {
                    cccc = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime() - tmpStartDate.getTime();
                    var leaveDate = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime();
                    if (leaveDate >= tmpStartDate.getTime() && leaveDate <= tmpEndDate.getTime()) {
                        bhCount = bhCount + 1;
                    }

                    if (cccc == 0) {
                    }
                    i = i + 1
                }
                cnt = cnt + 1

            }

        }
        else {
            var pattern
            var dts = new String($('#dates_ApproveSickness').val())
            pattern = /\s*,\s*/;
            var dtsList = dts.split(pattern);
            pattern = /(\w+)\s+(\w+)/;
            byDateList = new Array;
            for (i = 0; i < dtsList.length; i++) {
                byDateList[i] = dtsList[i].replace(pattern, "$2, $1")
            }
            for (i = 0; i < byDateList.length; i++) {
                if (byDateList[i] == $('#txt_STARTDATE_ApproveSickness').val()) {
                    bhCount = -1;
                }
            }
        }
        return bhCount
    }

    function weekAndDay(date) {
        days = ['sun', 'mon', 'tue', 'wed',
                'thu', 'fri', 'sat'];
        var totalWeeks = parseInt($('#hdn_totalWeek').val());
        var weekNo = getWeekOfMonth(date);
        if (weekNo > totalWeeks) {
            while (weekNo > totalWeeks) {
                weekNo -= totalWeeks;
            }
        }
        if (weekNo > totalWeeks) {
            weekNo -= totalWeeks;
        }
        var dailyHours = parseFloat($("#hdn_" + days[date.getDay()] + "_" + weekNo).val());
        return dailyHours;
    }
    function getWeekOfMonth(date) {
        var day = date.getDate();
        var data = getWeeksStartAndEndInMonth(date.getMonth(), date.getYear(), 1);
        var i;
        for (i = 0; i < data.length; i++) {
            if (data[i].start <= day && data[i].end >= day)
                break;
        }
        return i + 1;
    }
    function getWeeksStartAndEndInMonth(month, year, start) {
        let weeks = [],
            firstDate = new Date(year, month, 1),
            lastDate = new Date(year, month + 1, 0),
            numDays = lastDate.getDate();

        start = 1;
        let end = endFirstWeek(firstDate, firstDate.getDay());
        while (start <= numDays) {
            weeks.push({ start: start, end: end });
            start = end + 1;
            end = end + 7;
            end = start === 1 && end === 8 ? 1 : end;
            if (end > numDays) {
                end = numDays;
            }
        }
        return weeks;
    }
    function endFirstWeek(firstDate, firstDay) {
        if (!firstDay) {
            return 7 - firstDate.getDay();
        }
        if (firstDate.getDay() < firstDay) {
            return firstDay - firstDate.getDay();
        } else {
            return 7 - firstDate.getDay() + firstDay;
        }
    }
    function isBankHoliday(d) {
        var bhDates = $('#dates_ApproveSickness').val()
        var bhSplit = new Array();
        bhSplit = bhDates.split(',');
        var i = 0;

        while (i <= bhSplit.length - 1) {
            cccc = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime() - d.getTime();
            var leaveDate = new Date(Date.parse(JSlong_date(bhSplit[i]))).getTime();
            if (leaveDate == d.getTime()) {
                return true;
            }

            i = i + 1
        }

        return false;
    }
    function workDays()
    {
        var BegDate = new Date(Date.parse(JSlong_date($('#txt_STARTDATE_ApproveSickness').val())));
        var EndDate = new Date(Date.parse(JSlong_date($('#txt_RETURNDATE_ApproveSickness').val())));
        var unit = $('#unit').val();
        var holType = "";
        var jsWorkDays = 0;
        // if multi day is picked
        if ($('#txt_RETURNDATE_ApproveSickness').val() != '') {

            var DateCnt = new Date(BegDate);
            EndDays = 0
            var loopDate = new Date();
            loopDate.setTime(DateCnt.valueOf());
            var hoursCal = 0;

            var StartDateBH = false;
            if (DateCnt.valueOf() == EndDate.valueOf()) {
                StartDateBH = isBankHoliday(DateCnt);
            }

            if (unit == "days" || unit == "Days") //Days
            {
                if (DateCnt.valueOf() == EndDate.valueOf())//Leave start and end dates are equal
                {
                    if (!isBankHoliday(DateCnt) && weekAndDay(DateCnt) > 0 && DateCnt.getDay() != "0" && DateCnt.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                    {
                        if ($('#radStartAM_ApproveSickness').is(':checked'))
                        {
                            if ($('#radEndAM_ApproveSickness').is(':checked'))
                            {
                                EndDays = 0.0;//M
                            }
                            if ($('#radEndPM_ApproveSickness').is(':checked'))
                            {
                                EndDays = 0.5;//M-A
                                holType = "M";
                            }
                        }
                        if ($('#radStartPM_ApproveSickness').is(':checked'))
                        {
                            EndDays = 0.0;//A-M,A-A
                        }
                    }
                }
                else if(DateDiffDays(DateCnt,EndDate)==1)
                {
                    if (!isBankHoliday(DateCnt) && weekAndDay(DateCnt) > 0 && DateCnt.getDay() != "0" && DateCnt.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                    {
                        EndDays = 1;
                        if ($('#radStartAM_ApproveSickness').is(':checked'))
                        {
                            if ($('#radEndAM_ApproveSickness').is(':checked'))
                            {
                                holType = "F";
                            }
                            else if ($('#radEndPM_ApproveSickness').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                            {
                                EndDays = 1.5;
                                holType = "F-M";
                            }
                            else
                            {
                                holType = "F";
                            }
                        }
                        else if ($('#radStartPM_ApproveSickness').is(':checked'))
                        {
                            EndDays = 0.5;
                            if ($('#radEndAM_ApproveSickness').is(':checked'))
                            {
                                holType = "A";
                            }
                            else if ($('#radEndPM_ApproveSickness').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                            {
                                EndDays = 1;
                                holType = "A-M";
                            }
                            else
                            {
                                holType = "A";
                            }
                        }
                    }
                    else if (!isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6" && $('#radEndPM_ApproveSickness').is(':checked'))//Half End Day
                    {
                        holType = "M";
                        EndDays = 0.5;
                    }  
                }
                else//Leave start date is before current date
                {
                    while (loopDate.valueOf() < EndDate.valueOf())
                    {
                        if (!isBankHoliday(loopDate) && weekAndDay(loopDate) > 0 && loopDate.getDay() != "0" && loopDate.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                        {
                            EndDays = EndDays + 1;                            
                            if (loopDate.valueOf() == DateCnt.valueOf())
                            {
                                if ($('#radStartAM_ApproveSickness').is(':checked'))
                                {
                                    if ($('#radEndAM_ApproveSickness').is(':checked'))
                                    {
                                        holType = "F-F";
                                    }
                                    else if ($('#radEndPM_ApproveSickness').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                                    {
                                        EndDays = EndDays + 0.5;
                                        holType = "F-M";
                                    }
                                    else
                                    {
                                        holType = "F-F";
                                    }
                                }
                                else if ($('#radStartPM_ApproveSickness').is(':checked'))
                                {
                                    EndDays = EndDays - 0.5;
                                    if ($('#radEndAM_ApproveSickness').is(':checked'))
                                    {
                                        holType = "A-F";
                                    }
                                    else if ($('#radEndPM_ApproveSickness').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                                    {
                                        EndDays = EndDays + 0.5;
                                        holType = "A-M";
                                    }
                                    else
                                    {
                                        holType = "A-F";
                                    }
                                }
                            }
                        }
                        loopDate.setTime(loopDate.valueOf() + 86400000);
                    }
                    if (!isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6" )//Half End Day
                    {
                        if (isBankHoliday(DateCnt) || weekAndDay(DateCnt) == 0 || DateCnt.getDay() == "0" || DateCnt.getDay() == "6")
                        {
                            if ($('#radEndPM_ApproveSickness').is(':checked'))
                            {
                                holType = "F-M";
                                EndDays = EndDays + 0.5;
                            }
                            else
                            {
                                holType = "F-F";
                            }
                        } 
                    }
                }
            }
            else //Hours
            {
                if (DateCnt.valueOf() == EndDate.valueOf())
                {
                    if (!isBankHoliday(DateCnt) && weekAndDay(DateCnt) > 0 && DateCnt.getDay() != "0" && DateCnt.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                    {
                        if ($('#radStartAM_ApproveSickness').is(':checked'))
                        {
                            if ($('#radEndAM_ApproveSickness').is(':checked'))
                            {
                                hoursCal = 0.0;//M
                            }
                            if ($('#radEndPM_ApproveSickness').is(':checked'))
                            {
                                hoursCal = weekAndDay(DateCnt) / 2;;//M-A
                                holType = "M";
                            }
                        }
                        if ($('#radStartPM_ApproveSickness').is(':checked'))
                        {
                            hoursCal = 0.0;//A-M,A-A
                        }
                    }
                }
                else if (DateDiffDays(DateCnt, EndDate) == 1)
                {
                    if (!isBankHoliday(DateCnt) && weekAndDay(DateCnt) > 0 && DateCnt.getDay() != "0" && DateCnt.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                    {
                        hoursCal = weekAndDay(loopDate);                                                
                        if ($('#radStartAM_ApproveSickness').is(':checked'))
                        {
                            if ($('#radEndAM_ApproveSickness').is(':checked'))
                            {
                                holType = "F";
                            }
                            else if ($('#radEndPM_ApproveSickness').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                            {
                                var halfEndDay = weekAndDay(EndDate) / 2;
                                hoursCal = hoursCal + halfEndDay;
                                holType = "F-M";
                            }
                            else {
                                holType = "F";
                            }
                        }
                        else if ($('#radStartPM_ApproveSickness').is(':checked'))
                        {
                            var halfStartDay = weekAndDay(DateCnt) / 2;
                            hoursCal = hoursCal - halfStartDay;
                            if ($('#radEndAM_ApproveSickness').is(':checked'))
                            {
                                holType = "A";
                            }
                            else if ($('#radEndPM_ApproveSickness').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                            {
                                var halfEndDay = weekAndDay(EndDate) / 2;
                                hoursCal = hoursCal + halfEndDay;
                                holType = "A-M";
                            }
                            else
                            {
                                holType = "A";
                            }
                        }
                    }
                    else if (!isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6" && $('#radEndPM_ApproveSickness').is(':checked'))//Half End Day
                    {
                        var halfEndDay = weekAndDay(EndDate) / 2;
                        holType = "M";
                        hoursCal = hoursCal + halfEndDay;
                    }
                }
                else //Leave start date is before current date
                {
                    while (loopDate.valueOf() < EndDate.valueOf())
                    {
                        if (!isBankHoliday(loopDate) && weekAndDay(loopDate) > 0 && loopDate.getDay() != "0" && loopDate.getDay() != "6")//Not a bank holiday, working hours are > 0 and not a weekend.
                        {
                            hoursCal = hoursCal + weekAndDay(loopDate);
                            if (loopDate.valueOf() == DateCnt.valueOf())
                            {
                                if ($('#radStartAM_ApproveSickness').is(':checked'))
                                {
                                    if ($('#radEndAM_ApproveSickness').is(':checked'))
                                    {
                                        holType = "F-F";
                                    }
                                    else if ($('#radEndPM_ApproveSickness').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                                    {
                                        var halfEndDay = weekAndDay(EndDate) / 2;
                                        hoursCal = hoursCal + halfEndDay;
                                        holType = "F-M";
                                    }
                                    else
                                    {
                                        holType = "F-F";
                                    }
                                }
                                else if ($('#radStartPM_ApproveSickness').is(':checked'))
                                {
                                    var halfStartDay = weekAndDay(DateCnt) / 2;
                                    hoursCal = hoursCal - halfStartDay;
                                    if ($('#radEndAM_ApproveSickness').is(':checked'))
                                    {
                                        holType = "A-F";
                                    }
                                    else if ($('#radEndPM_ApproveSickness').is(':checked') && !isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")
                                    {
                                        var halfEndDay = weekAndDay(EndDate) / 2;
                                        hoursCal = hoursCal + halfEndDay;
                                        holType = "A-M";
                                    }
                                    else
                                    {
                                        holType = "A-F";
                                    }
                                }
                            }
                        }
                        loopDate.setTime(loopDate.valueOf() + 86400000);
                    }
                    if (!isBankHoliday(EndDate) && weekAndDay(EndDate) > 0 && EndDate.getDay() != "0" && EndDate.getDay() != "6")//Half End Day
                    {
                        if (isBankHoliday(DateCnt) || weekAndDay(DateCnt) == 0 || DateCnt.getDay() == "0" || DateCnt.getDay() == "6")
                        {
                            if ($('#radEndPM_ApproveSickness').is(':checked'))
                            {
                                holType = "F-M";
                                var halfEndDay = weekAndDay(EndDate) / 2;
                                hoursCal = hoursCal + halfEndDay;                                
                            }
                            else
                            {
                                holType = "F-F";
                            }
                        }
                    }
                }
            }

            if (unit == "days" || unit == "Days")
            {
                jsWorkDays = EndDays;
            }
            else
            {
                jsWorkDays = hoursCal;
            }

            if ((BegDate.getDay() == "0") || (BegDate.getDay() == "6") || (EndDate.getDay() == "0") || (EndDate.getDay() == "6"))
            {
                $("#txt_DURATION_ApproveSickness").css({ "color": "red" });
                $('#txt_DURATION_ApproveSickness').val("Weekend");
                return false;
            }
            if (BegDate.getTime() > EndDate.getTime())
            {
                $("#txt_DURATION_ApproveSickness").css({ "color": "red" });
                $('#txt_DURATION_ApproveSickness').val("Invalid Date Range");
                return false;
            }
            if (StartDateBH == true)
            {
                $("#txt_DURATION_ApproveSickness").css({ "color": "red" });
                $('#txt_DURATION_ApproveSickness').val("Bank Holiday");
                return false;
            }
            if (jsWorkDays > 0)
            {
                $("#txt_DURATION_ApproveSickness").css({ "color": "black" });
                $('#txt_DURATION_ApproveSickness').val(jsWorkDays);
                $('#holtype_ApproveSickness').val(holType);
            }
            else
            {
                $("#txt_DURATION_ApproveSickness").css({ "color": "red" });
                $('#txt_DURATION_ApproveSickness').val("Invalid Date Range");
                return false;
            }
        }
        else {
            // if single day is chosen
            jsWorkDays = 0.0;
            if ((BegDate.getDay() == "0") || (BegDate.getDay() == "6"))
            {
                $("#txt_DURATION_ApproveSickness").css({ "color": "red" });
                $('#txt_DURATION_ApproveSickness').val("Weekend");
                return false
            }
            else
            {
                $("#txt_DURATION_ApproveSickness").css({ "color": "red" });
                $('#txt_DURATION_ApproveSickness').val("Invalid Date Range");
                return false;
            }
        }
    }

</script>