﻿@model BHGHRModuleWeb.ViewModels.ToilListViewModel
@{
    Layout = null;
    ViewBag.Title = "Employee Toil Leave";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10, canSort: false);
    if (Model.toilLeaves != null && Model.toilLeaves.Count > 0)
    {
        grid.Bind(source: Model.toilLeaves, rowCount: 5, autoSortAndPage: false);
    }
}

@using (Ajax.BeginForm("GetToilLeave", "Absence", new { id = Model.employeeId }, new AjaxOptions() { AllowCache = false, HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divToilLeave" }))
{
    <div class="portlet portlet-full">
        <div class="row">
            <div class="col-md-12">
                <div class="toil portlet-icon"></div>
                <div class="portlet-head padding-bottom-5">
                    <strong>
                        TOIL:
                    </strong>
                    @if (Model.isTeam)
                    {
                        <button class="btn btn-gray btn-xs pull-right" type="submit">Record</button>
                    }
                    else
                    {
                        <button class="btn btn-gray btn-xs pull-right" type="submit">Request</button>
                    }
                </div>
            </div>
        </div>
        <div class="row padding-bottom"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    TOIL Hours Approved:
                                </div>
                                <div class="col-md-0">
                                    <strong>
                                        @Model.toilHours
                                    </strong>
                                </div>
                            </div>
                       </div>
                   </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                            <div class="col-md-9 col-sm-6 col-xs-6">
                                Balance to be taken:
                            </div>
                            <div class="col-md-0">
                                <strong>
                                    @Model.timeOfInlieuOwed
                                </strong>
                            </div>
                            </div>
                        </div>
                   </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-9 col-sm-6 col-xs-6">
                                        TOIL Hours Taken:
                                    </div>
                                    <div class="col-md-0">
                                        <strong>
                                            @Model.toilHoursTaken
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="row padding-bottom"></div>
        <div class="row">
            <div class="col-md-12">
                <div id="webgridToil" style="max-height: 137px; min-height: 137px;" class="col-md-12 background-white pre-scrollable">
                    @if (Model.toilLeaves != null && Model.toilLeaves.Count > 0)
                    {
                        @grid.GetHtml(
                            tableStyle: "table table-responsive backcolor",
                            headerStyle: "wedgrid-header",
                            footerStyle: "webgrid-footer",
                            alternatingRowStyle: "webgrid-alternating-row",
                            rowStyle: "webgrid-row-style",
                            columns: grid.Columns(
                            grid.Column(columnName: "start", header: "Date:"),
                            grid.Column(columnName: "nature", header: "Nature:"),
                            grid.Column(header: "Status:", format:
                            @<text>
                                @if (item.status == "Approved" && item.nature == "BRS TOIL Recorded")
                                {
                                    <span>Available</span>
                                }
                                else
                                {
                                    <span>@item.status</span>
                                }
                            </text>),
                           grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:
                            @<text>
                            @*@if (((Model.currentlyLoggedEmployeeId == Model.employeeId &&
                                        Convert.ToDateTime(@item.startLeaveDate, new CultureInfo("en-gb")).Date >= DateTime.Now.Date) ||
                                        Model.isTeam == true ||
                                        Model.isHr == true)
                                        && item.status == "Pending")
                                {
                                }*@
                            @if (item.nature == "BRS Time Off in Lieu") //&& (item.status != "Cancelled" && item.status != "Declined")
                            {
                                <a href="#" data-id="@item.absenceHistoryId" data-type="toil" class="pull-right btnLeaveDetail"><img src="~/Content/Images/aero.png" width="22" /></a>
                            }
                        </text>)
                        ))
                            }
                    else
                    {
                        <table class="table table-responsive backcolor">
                            <thead>
                                <tr class="wedgrid-header">
                                    <th>Date:</th>
                                    <th>Nature:</th>
                                    <th>Status:</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="webgrid-row-style">
                                    <td colspan="3" align="center"><br />No record found<br /><br /> </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
}