﻿@model BHGHRModuleWeb.ViewModels.LeaveEditViewModel
@{
    Layout = null;
    ViewBag.Title = "Employee Toil Leave";
    var options = new AjaxOptions()
    {
        AllowCache = false,
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnBegin = "onToilSaveBegin",
        OnSuccess = "OnSuccessToilLeave",
        OnFailure = "OnFailureToilLeave"
        //UpdateTargetId = "divToilLeave"
    };

    if (!Model.isTeam)
    {
        options.OnBegin = "onToilInLeiuSaveBegin";
    }

    bool isRecordToil = true;

    // HR and Line manager can add quota for employee in toil.
    if (Model.isTeam)
    {
        isRecordToil = true;
    }
    else
    {
        if (Session["Module"] != null && Session["Module"].ToString() == "MyJob")
        {
            isRecordToil = false;
        }
    }

}

<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
<style type="text/css">
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .well {
        margin: 5px 0;
    }

    .m-top-50 {
        margin-top: 50px;
    }

    .m-top-15 {
        margin-top: 15px;
    }
</style>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="~/Scripts/jquery.timepicker.js"></script>

@using (Ajax.BeginForm("SaveToilLeave", "Absence", new { }, options))
{
    <div class="portlet portlet-full">
        <div class="col-md-12 alert alert-success" id="messageToilLeave" style="display:none">
            <strong id="msgResponseToilLeave"></strong>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="toil portlet-icon"></div>
                        <div class="portlet-head padding-bottom-5 background-white">
                            <strong>
                                Toil:
                            </strong>
                        </div>
                    </div>
                </div>
                <div style="min-height:325px;max-height:325px; overflow-y:scroll;" class="col-md-12 background-white">
                    <div class="row padding-bottom"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.startDate)
                                </div>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.start, new { id = "txt_STARTDATETOIL", Name = "startDate", @class = "DatePicker form-control" })
                                    @Html.ValidationMessageFor(m => m.start)
                                    @Html.HiddenFor(m => m.bankHolidays, new { id = "dates" })
                                    @Html.HiddenFor(m => m.holtype, new { id = "holtype" })
                                    @Html.HiddenFor(m => m.employeeId)
                                    @if (Model.workingHours != null && Model.workingHours.Count > 0)
                                    {
                                        var count = 0;
                                        <span>@Html.HiddenFor(m => Model.workingHours.Count, new { id = "hdn_totalWeek" })</span>
                                        foreach (var item in Model.workingHours)
                                        {
                                            count += 1;
                                            <span>@Html.HiddenFor(m => item.mon, new { id = "hdn_mon_" + count })</span>
                                                    <span>@Html.HiddenFor(m => item.tue, new { id = "hdn_tue_" + count })</span>
                                                    <span>@Html.HiddenFor(m => item.wed, new { id = "hdn_wed_" + count })</span>
                                                    <span>@Html.HiddenFor(m => item.thu, new { id = "hdn_thu_" + count })</span>
                                                    <span>@Html.HiddenFor(m => item.fri, new { id = "hdn_fri_" + count })</span>
                                                    <span>@Html.HiddenFor(m => item.sat, new { id = "hdn_sat_" + count })</span>
                                                    <span>@Html.HiddenFor(m => item.sun, new { id = "hdn_sun_" + count })</span>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    <label>From:</label>
                                </div>
                                <div class="col-md-4">
                                    @if (isRecordToil)
                                    {
                                        @Html.TextBoxFor(m => m.from, new { id = "txt_From", @class = "form-control timeselect", @onblur = "calculate_duration()", @onkeyup = "calculate_duration()", @onchange = "calculate_duration()" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.from, new { id = "txt_From", @class = "form-control timeselect" })
                                    }
                                    @Html.ValidationMessageFor(m => m.from)
                                </div>
                                <div class="col-md-2" id="img_From">
                                    <img src="~/Content/Images/FVW.gif" name="img_From" style="height: 15px; width: 15px; position: absolute; top:3px;" />
                                </div>
                            </div>
                            @if (isRecordToil)
                            {
                                <div class="row padding-bottom">
                                    <div class="col-md-3">
                                        <label>To:</label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(m => m.to, new { id = "txt_To", @class = "form-control timeselect", @onblur = "calculate_duration()", @onkeyup = "calculate_duration()", @onchange = "calculate_duration()" })
                                        @Html.ValidationMessageFor(m => m.to)
                                    </div>
                                    <div class="col-md-2" id="img_To">
                                        <img src="~/Content/Images/FVW.gif" name="img_To" style="height: 15px; width: 15px; position: absolute; top:3px;" />
                                    </div>
                                </div>
                            }
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.duration)
                                </div>
                                <div class="col-md-4">
                                    @if (isRecordToil)
                                    {
                                        @Html.TextBoxFor(m => m.duration, new { id = "txt_DURATIONTOIL", @class = "form-control", @readonly = "readonly" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => m.duration, new { id = "txt_DURATIONTOIL", @class = "form-control" })
                                    }
                                    @Html.ValidationMessageFor(m => m.duration)
                                </div>
                                <div class="col-md-1">Hours</div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.recordedBy)
                                </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.recordedBy, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.recordedBy)

                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.notes)
                                </div>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.notes, 5, 3, new { @class = "form-control personalDetail" })
                                    @Html.ValidationMessageFor(m => m.notes)
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-12">
                                    <input class="btn btn-gray btn-xs pull-right" type="submit" name="submitButton" value='Add' />
                                    <input style="margin-right:10px;" id="btnToilCancel" class="btn btn-gray btn-xs pull-right cancel" type="submit" name="submitButton" value='Cancel' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    (function () {
        var isTeam = '@isRecordToil';
        $('#img_To').hide();
        $('#img_From').hide();

        $('.timeselect').timepicker();
        $("#txt_From").timepicker({ 'disableTextInput': true });
        $("#txt_To").timepicker({ 'disableTextInput': true });

        if (isTeam == 'False')
            loadDatePickerLeave();
        else
        {
            calculate_duration();
            loadDatePicker();
        }

        $(".DatePicker").change(function () {
            if (isTeam == 'True')
            {
                calculate_duration();
            }
        });

    })();

    function onToilInLeiuSaveBegin() {
        if (!isTime("txt_From"))
            return false;
        else
            $('#img_From').hide();
    }

    function onToilSaveBegin() {
        if (!isTime("txt_From"))
            return false;
        else
            $('#img_From').hide();

        if (!isTime("txt_To"))
            return false;
        else
            $('#img_To').hide();
    }

    function OnSuccessToilLeave(response) {
        if (response != "" && response.indexOf("__failure__") >= 0) {
            var errorMsg = response.split('__failure__');
            OnFailureToilLeave(errorMsg[1]);
            return false;
        }
        $('#divAnnualLeave').load('@Url.Action("LoadAnnualLeave", "Absence", new { id = Model.employeeId })')
        $('#divToilLeave').html(response);
        btnLeaveDetail();
    }

    function OnFailureToilLeave(response) {
        popupMessage('messageToilLeave', 'msgResponseToilLeave', response, 'failure');
    }
    function JSlong_date(str_date) {
        var arrMon = new Array("", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        var date_array = str_date.split("/");
        return new String(Math.abs(date_array[0]) + " " + arrMon[parseInt(date_array[1], 10)] + " " + date_array[2])
    }
    function weekAndDay(date) {
        days = ['sun', 'mon', 'tue', 'wed',
                'thu', 'fri', 'sat'];
        var totalWeeks = parseInt($('#hdn_totalWeek').val());
        var weekNo = getWeekOfMonth(date);
        if (weekNo > totalWeeks) {
            while (weekNo > totalWeeks) {
                weekNo -= totalWeeks;
            }
        }
        if (weekNo > totalWeeks) {
            weekNo -= totalWeeks;
        }
        var dailyHours = parseFloat($("#hdn_" + days[date.getDay()] + "_" + weekNo).val());
        return dailyHours;
    }

    function getWeekOfMonth(date) {
        var day = date.getDate();
        var data = getWeeksStartAndEndInMonth(date.getMonth(), date.getYear(), 1);
        var i;
        for (i = 0; i < data.length; i++) {
            if (data[i].start <= day && data[i].end >= day)
                break;
        }
        return i + 1;
    }

    function getWeeksStartAndEndInMonth(month, year, start) {
        let weeks = [],
            firstDate = new Date(year, month, 1),
            lastDate = new Date(year, month + 1, 0),
            numDays = lastDate.getDate();

        start = 1;
        let end = endFirstWeek(firstDate, firstDate.getDay());
        while (start <= numDays) {
            weeks.push({ start: start, end: end });
            start = end + 1;
            end = end + 7;
            end = start === 1 && end === 8 ? 1 : end;
            if (end > numDays) {
                end = numDays;
            }
        }
        return weeks;
    }

    function endFirstWeek(firstDate, firstDay) {
        if (!firstDay) {
            return 7 - firstDate.getDay();
        }
        if (firstDate.getDay() < firstDay) {
            return firstDay - firstDate.getDay();
        } else {
            return 7 - firstDate.getDay() + firstDay;
        }
    }
    function calculate_duration()
    {
        var BegDate = new Date(Date.parse(JSlong_date(document.getElementById("txt_STARTDATETOIL").value)));
        if (weekAndDay(BegDate) > 0)
        {
            var start = document.getElementById("txt_From").value;
            var end = document.getElementById("txt_To").value;
            start = start.split(":");
            end = end.split(":");
            var startDate = new Date(0, 0, 0, start[0], start[1], 0);
            var endDate = new Date(0, 0, 0, end[0], end[1], 0);
            var diff = endDate.getTime() - startDate.getTime();
            var hours = diff / 1000 / 60 / 60;
            if (hours <= 0 || isNaN(hours) || !isTime("txt_From") || !isTime("txt_To")) {
                $("#txt_DURATIONTOIL").css({ "color": "red" });
                $('#txt_DURATIONTOIL').val("Invalid Duration");
                return false;
            }
            $("#txt_DURATIONTOIL").css({ "color": "black" });
            document.getElementById("txt_DURATIONTOIL").value = hours;
            return true;
        }
        else
        {
            $("#txt_DURATIONTOIL").css({ "color": "red" });
            document.getElementById("txt_DURATIONTOIL").value = "Non Working Day";
            return false;
        }
    }



</script>


