﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="PropertyModuleMaster.master.vb"
    Inherits="PropertyManagmentModule.PropertyModuleMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Property Module</title>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <link href="../Styles/PropertyModule.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/Default.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/Jquery.Lightbox-0.5.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
<div class="form-background"></div>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManagerProperty" runat="server" EnableScriptGlobalization="true"
        EnableScriptLocalization="true">
    </asp:ScriptManager>
    <div class="container">
        <div class="header">
            <asp:UpdatePanel runat="server" ID="updPanelHeader" UpdateMode="Conditional">
                <ContentTemplate>
                    <div class="menue">
                        <div class="menue-select">
                            <ul class="propertyModuleMenu">
                                <li>Property Module &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                    <ul>
                                        <asp:Repeater ID="rptRSLMenu" runat="server">
                                            <ItemTemplate>
                                                <li><a href="<%# Eval("THEPATH")%>">-
                                                    <%#Eval("DESCRIPTION")%>
                                                </a></li>
                                            </ItemTemplate>
                                        </asp:Repeater>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="menu">
                            <asp:Menu runat="server" ID="menuHeader" Orientation="Horizontal" DynamicHoverStyle-ForeColor="#ffffff"
                                Font-Size="13px" ForeColor="#cdcdcd" StaticSelectedStyle-ForeColor="#ffffff" Height="50px" >
                                <DynamicHoverStyle ForeColor="White" />
                                <DynamicMenuStyle ForeColor="#cdcdcd" />
                                <DynamicSelectedStyle ForeColor="#ffffff" />
                                <DynamicMenuItemStyle ItemSpacing="10px"  />
                                <StaticSelectedStyle ForeColor="#ffffff" />
                                <StaticMenuItemStyle ItemSpacing="10px"  HorizontalPadding="17px" />
                                <StaticHoverStyle ForeColor="White" />
                            </asp:Menu>
                        </div>
                    </div>
                </ContentTemplate>
            </asp:UpdatePanel>
        </div>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <asp:UpdateProgress ID="updateProgressReportsArea" runat="server" DisplayAfter="10">
            <ProgressTemplate>
                <div class="loading-image">
                    <img alt="Please Wait" src="../../Images/imgProgress.gif" />
                </div>
            </ProgressTemplate>
        </asp:UpdateProgress>
    </div>
    </form>
</body>
</html>
