﻿.ThinLineT
{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #133E71;
}
.ThinLineLnB
{
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #133E71;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #133E71;
}
.ThinLineR
{
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #133E71;
}
.ThinLineB
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #133E71;
}
.ThinLineL
{
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #133E71;
}
.RSLBlack
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10PX;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}
.RSLWhite
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10PX;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration: none;
}
td
{
    font-size: 10PX;
    font-family: Verdana, Arial, Helvetica;
}
.RSLButton
{
    font-size: 10PX;    
    font-family: Verdana, Arial, Helvetica;
    background-color: #FFFFFF;
    border: 1px #b1b1b1 solid;
    cursor: pointer;
    margin-left:20px;
}
.RSLButtonSmall
{
    font-size: 10PX;
    color: #133E71;
    font-family: Verdana, Arial, Helvetica;
    background-color: #FFFFFF;
    border: 1px #133E71 solid;
    cursor: pointer;
}
.textbox
{
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica;
    border: 1px solid #133E71;
}
.textbox200
{
    width: 200px;
    font-size: 11px;
    font-style :italic; 
    font-family: Verdana, Arial;
    border: 1px solid #b1b1b1;
    color :#696969;
    height:20px;
}
.checkbox200
{
    width: 200px;    
    font-size: 10px;   
    font-family: Verdana, Arial;   
    text-align :right;    
}
.box200
{
    width: 200px;    
    font-size: 10px;   
    font-family: Verdana, Arial;   
    text-align :left;    
    margin-left:30px;
}

body
{
 
    background-repeat: no-repeat;
    background-position: 650px 20px;
    background-attachment: fixed;
    margin-top: 10px;
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica;
}

.classBodypopup
{
    
    position: 788px; 
    margin-top: 10px;   
}
.TA
{
}
.tab_table_withborders
{
    background-color: #FFFFFF;
    border-color: #000066 #000066 #000066 #000066;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
.tab_table
{
    background-color: #FFFFFF;
    border-color: #FFFFFF #000066 #000066;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
.tab_table_without_bottom
{
    background-color: #FFFFFF;
    border-color: #FFFFFF #000066 #000066;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px;
}
.tab_table_without_head
{
    background-color: #FFFFFF;
    border-color: #FFFFFF #000066 #000066;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
.del
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10PX;
    color: #FF0000;
    background-color: #FFFFFF;
    border: 1px #FF0000 solid;
}
.table_head
{
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-style: none;
    font-weight: bold;
}
table
{
    border: 1px #133E71 none;
}
.no_tab_table
{
    background-color: #FFFFFF;
    border: #133e71 solid;
    border-width: 0px 1px 1px;
}
.ERROR_TEXT
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #CC3333;
    text-decoration: underline;
    font-weight: bold;
}
.NO-BORDER
{
    border: #FFFFFF;
    border-style: solid;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
}
.caps
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10PX;
    text-transform: capitalize;
}
.title
{
    background-color: #f5f5dc;
    width: 100px;
    font-size: 10px;
    font-weight: bold;
}
.longtitle
{
    background-color: #f5f5dc;
    font-size: 10px;
    font-weight: bold;
}
.textbox75
{
    width: 75px;
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica;
    border: 1px solid #133e71;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
.textbox100
{
    width: 100px;
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica;
    border: 1px solid #133e71;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
.textbox125
{
    width: 125px;
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica;
    border: 1px solid #133e71;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
.textboxFlat
{
    font-size: 10PX;
    font-family: Verdana, Arial, Helvetica;
    border: #133e71;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
.textboxFlat250
{
    font-size: 10PX;
    font-family: Verdana, Arial, Helvetica;
    border: 1px #133e71 solid;
    width: 250px;
}
img
{
    border: none;
}

.gridHeader
{
    border-bottom: 1px solid #133E71;
    border-left: 0 none #000000;
    border-right: 0 none #000000;
    border-top: 0 none #000000;
}

.tempgridHeader
{
    border-bottom: 1px solid #C0C0C0;
   /* border-left: 0 none #000000;
    border-right: 0 none #000000;
    border-top:  1px solid #133E71;*/
    border-top:1px solid #C0C0C0;	
}

.gridfooter
{
    border-top: 1px solid #133E71;
    width:728px; 
}
.loading-image
{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 12px;
    left: 3px;
    z-index: 1000000;
    text-align: center;
    vertical-align: middle;
    opacity: 0.7;
}
.loading-image
{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000000;
    text-align: center;
    opacity: 0.7;
    margin-right: -30px;
}
.loading-image img
{
    margin-top: 255px;
}

.repeaterHeader
{
    border-bottom: 1px solid #133E71;
    border-left: 0 none #000000;
    border-right: 0 none #000000;
    border-top: 0 none #000000;
}