﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AMBlankMasterPage.master.cs"
    Inherits="Am.Ahv.Website.masterpages.AMBlankMasterPage" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <cc1:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
        <Scripts>
            <%--Start - Changes - By Aamir Waheed on 8th July 2013--%>
            <asp:ScriptReference Path="~/Scripts/jquery-1.7.1.min.js" />
            <%--End - Changes - By Aamir Waheed on 8th July 2013--%>
        </Scripts>
    </cc1:ToolkitScriptManager>
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
    <!-- Start - Changes - By Aamir Waheed on 8th July 2013 -->
    <script type="text/javascript">
        //This function is implemented in Master page to keep the session alive.
        //This function just sends a call to server, and reset session timeout timmer every 14 mints
        // 14 * 60 * 1000 = 840000
        // <![CDATA[
        function keepSessionAlive() {
            var pingurl = '<%= ResolveClientUrl("~/ping.aspx") %>';
            $.post(pingurl);

        }
        $(function () { window.setInterval(keepSessionAlive, 840000); });
        // ]]>
    </script>
    <!-- End - Changes - By Aamir Waheed on 8th July 2013 -->
</body>
</html>
