﻿@model BHGHRModuleWeb.ViewModels.RemitanceViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Remittance Advice</title>
    <style>
        div {
            font-size: 12px;
        }

        tr.border_bottom td {
            border-bottom: 1pt solid black;
            border-collapse: collapse;
        }

        tr th {
            text-align: left;
            color: #133e71;
            border-bottom: 1pt solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body id='thisPage'>
    <div style="">
        <div class="top">
            <div>
                <table width="100%" style="border:1px solid #000000; overflow:hidden">
                    <tr>
                        <td align="left">
                            @*<div style="float:left; width: 75%;">*@
                            <b><font style='font-size:16px'>Remittance Advice</font></b>
                            <br />
                            <div style="font-family:Arial;font-size:12px">
                                @if (Model.organization.name != null)
                                {<span>@Model.organization.name</span><br>}
                                @if (Model.organization.address != null)
                                { <span>@Model.organization.address </span><br>}
                                @if (Model.organization.address2 != null)
                                {<span> @Model.organization.address2</span><br>}
                                @if (Model.organization.address3 != null)
                                { <span>@Model.organization.address3</span><br>}
                                @if (Model.organization.townCity != null)
                                { <span>@Model.organization.townCity</span><br>}
                                @if (Model.organization.postCode != null)
                                { <span>@Model.organization.postCode</span><br>}
                                @if (Model.organization.county != null)
                                { <span>@Model.organization.county</span><br>}
                            </div>
                            @*</div>*@
                        </td>
                        <td align="right">
                            <img style="width:142px; height: 115px" src="~/Content/Images/BHG Icons/BHG_Logo_Image.PNG" />
                            @*<img style="width: 50%;" src="/myImages/BHG_Logo_Image.PNG" />*@
                        </td>
                    </tr>
                </table>


            </div>
        </div>
        <br />
        <div class="supplier">
            <div style="border:1px solid #000000; overflow:hidden">
                <div style="float:left; width: 49% ;font-family:Arial;font-size:12px">
                    Payment method : @Model.paymentMethod
                    <br />
                    Payment date : @Model.processDate
                </div>
                <div style="float:right; width: 49%;font-family:Arial;font-size:12px">
                    Supplier Contact : @Model.receiverName
                    <br />
                    Date : @Model.currentDate.ToShortDateString()
                </div>
            </div>
        </div>
        <br />
        <div class="invoices">
            @if (Model.invoices != null && Model.invoices.Count > 0)
            {
                var totalCost = 0.0;
                <div style="border:1px solid #000000; overflow:hidden">
                    <table style="width:100%;font-family:Arial;font-size:12px" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tax Date</th>
                                <th>Invoice No</th>
                                <th>Purchase No</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody style="font-family:Arial;font-size:12px">
                            @foreach (var item in Model.invoices)
                            {
                                <tr class="border_bottom">
                                    <td>@item.taxDate.ToShortDateString()</td>
                                    <td>@item.invoiceNumber</td>
                                    <td><b>PO</b> @item.orderId</td>
                                    <td>£@item.totalGross</td>
                                </tr>
                                totalCost += item.totalGross;
                            }
                            <tr>
                                <td colspan="4" style="text-align: right"><b>@String.Format("Total Amount : £{0:F2}", totalCost)</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        </div>
        <br />
        <div class="footer">
            <span style="display:block; font-family:Arial;font-size:12px"><b>Registered Office</b></span>
            <span style="display:block; font-family:Arial;font-size:12px">Broadland Housing Association Limited</span>
            <span style="display:block; font-family:Arial;font-size:12px">NCFC, South Stand</span>
            <span style="display:block; font-family:Arial;font-size:12px">Carrow Road</span>
            <span style="display:block;font-family:Arial;font-size:12px">Norwich</span>
            <span style="display:block;font-family:Arial;font-size:12px">NR1 1HU</span>
            <span style="display:block;font-family:Arial;font-size:12px">Tel. 0303 303 0003 Fax. 01603 750222</span>
            <span style="display:block;font-family:Arial;font-size:12px">Email: payments@broadlandgroup.org</span>
            <span lang="en-us" style="font-family:Arial;font-size:12px">VAT NO.927 5127 17</span>
        </div>
    </div>
</body>
</html>
