﻿@model BHGFinanceModule.Models.Report.CostCenterLookupViewModel
<div class="row">
    @Html.Hidden("hdnCompany")
    <div class="col-md-12 padding-bottom">
        @Html.LabelFor(m => m.Company)
        @Html.DropDownListFor(m => m.Company, Model.Company,
            null, new { @style = "width: 220px; height:24px" })
    </div>
</div>
<div class="row">
    @Html.Hidden("hdnDateFrom")
    @Html.Hidden("hdnDateTo")
    <div class="col-md-12 padding-bottom">
        @Html.LabelFor(m => m.FiscalYearId)
        @Html.DropDownListFor(m => m.FiscalYearId, Model.FiscalYear,
            "Select Fiscal Year", new { @style = "width: 220px; height:24px", onchange = "FiscalYear_change(this);" })
    </div>
</div>
<div class="row">
    @Html.TextBoxFor(model => model.MonthFrom, Model.ModelDateFormate, htmlAttributes: new { @type = "hidden" })
    <div class="col-md-12">
        <div class="col-md-12 padding-bottom">
            <label>@Html.RadioButtonFor(m => m.IsYear, Model.IsYear, new { id = "month" })</label>
            @Html.LabelFor(m => m.MonthToId)
            @Html.DropDownListFor(m => m.MonthToId, Model.FiscalYearMonth,
                    "Select Month", new { @style = "width: 150px; height:24px" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 padding-bottom">
            <label>@Html.RadioButtonFor(m => m.IsYear, Model.IsYear, new { id = "date" })</label>
            <span style="padding-right:15px;">
                @Html.LabelFor(m => m.DateFrom)
                @Html.TextBoxFor(m => m.DateFrom, Model.ModelDateFormate, new { @class = "DatePicker" })
            </span>
            <span>
                @Html.LabelFor(m => m.DateTo)
                @Html.TextBoxFor(m => m.DateTo, Model.ModelDateFormate, new { @class = "DatePicker" })
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 padding-bottom">
            <label>@Html.RadioButtonFor(m => m.IsYear, Model.IsYear, new { id = "noFilter" })</label>
            <label> No Filter</label>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="pull-right">
                <button id="btnSearch" onclick="DoSearch()"> Search </button>
            </div>
        </div>
    </div>
</div>
<br />

<script type="text/javascript">

    $(document).on('ready', function () {
        $("#DateFrom").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            showOn: 'button',
            buttonImage: '@Url.Content("~/Content/images/calendar.png")',
            buttonImageOnly: true,
        }).on("change", function () {
            DateFrom_change();
        });

        $("#DateTo").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            showOn: 'button',
            buttonImage: '@Url.Content("~/Content/images/calendar.png")',
            buttonImageOnly: true,
        }).on("change", function () {
            DateTo_Change();
        });
    });
</script>

