﻿@model BHGFinanceModule.Models.Report.CostCenterViewModel

@{
    ViewBag.Title = "Cost Center (All)";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var costCenterCount = 0;
}
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/css")

@section scripts{
    <script type="text/javascript">

        function costCenter_click(costCenterId) {
            if ($('.cost-' + costCenterId).length > 0) {
                var row = $('.cost-' + costCenterId);
                for (var i = 0; i < row.length; i++) {
                    var id = row[i].id;
                    var headId = id.split('head-');
                    $('.head-' + headId[1]).remove();
                }
                $('.cost-' + costCenterId).remove();
            }
            else {
                var fromDate = '';
                var toDate = '';

                if ($('#month').is(':checked') && $('#MonthToId').val() == "") {
                    alert("Please Select Month");
                    return false;
                }

                // month >>> date select from dropdown
                if ($('#month').is(':checked')) {
                    fromDate = $('#MonthFrom').val();
                    toDate = $('#MonthToId').val();
                }

                // date >>> date select date picker
                if ($('#date').is(':checked')) {
                    fromDate = $('#DateFrom').val();
                    toDate = $('#DateTo').val();
                }

                // no filter >>> date select hidden fields that set on Financial year change
                if ($('#noFilter').is(':checked')) {
                    if ($('#FiscalYearId').val() == "") {
                        alert("Please Select Financial Year");
                        return false;
                    }
                    else {
                        fromDate = $('#hdnDateFrom').val();
                        toDate = $('#hdnDateTo').val();
                    }
                }

                var job_start_date = fromDate.split('/');
                var job_end_date = toDate.split('/');

                var new_start_date = new Date(job_start_date[2], job_start_date[1], job_start_date[0]);
                var new_end_date = new Date(job_end_date[2], job_end_date[1], job_end_date[0]);

                if ($('#date').is(':checked') && new_end_date <= new_start_date) {
                    alert("To date must be greater than From date");
                    return false;
                }

                $.ajax({
                    url: '@Url.Action("LoadHead", "CostCenter")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { fromDate: fromDate, toDate: toDate, costCenterId: costCenterId },
                    beforeSend: function () {
                        $("#progress-search").show();
                    },
                    success: function (data, textStatus, jqXHR) {
                        $("#progress-search").hide();
                        if (data) {
                            if (data.length > 0) {
                                var tbody = "";
                                var headNo = 0;
                                var head = data;
                                var headRow = "";
                                $("#cost-" + costCenterId).after(headRow);
                                for (var h = 0; h < head.length; h++) {
                                    headNo = headNo + 1;
                                    headRow = "";
                                    headRow = "<tr bgcolor='#f5f5dc' onclick='head_click(" + head[h].HeadId + ")' class='cost-" + costCenterId + "' id='head-" + head[h].HeadId + "' style=' cursor: pointer;'>" +
                                        "<td>&nbsp;&nbsp;" + head[h].Name + "</td>" +
                                        "<td align='right'>" + head[h].AnnualBudgetString + "</td>" +
                                        "<td align='right'>" + head[h].CommittedToDateString + "</td>" +
                                        "<td align='right'>" + head[h].SpentToDateString + "</td>" +
                                        "<td align='right'>" + head[h].BalanceString + "</td></tr>";
                                    tbody = tbody + headRow;
                                }
                                $("#cost-" + costCenterId).after(tbody);
                                headRow = "<tr bgcolor='green' style='color: white;' class='cost-" + costCenterId + "'>" +
                                                                "<td>&nbsp;&nbsp;Head Name</td>" +
                                                                "<td align='right' width='110px'>Head Budget</td>" +
                                                                "<td align='right' width='110px'>Committed to date</td>" +
                                                                "<td align='right' width='100px'>Spent to date</td>" +
                                                                "<td align='right' width='100px'>Remaining Balance</td>";
                                $("#cost-" + costCenterId).after(headRow);
                            }
                            else {
                                $( "#cost-"+costCenterId ).after("<tr class='cost-" + costCenterId + "'><td colspan='5' style='text-align:center;'>No Head found for selected period</td></tr>");
                            }
                        }
                    },
                    error: function (data, jqXHR, textStatus, errorThrown) {
                        $("#progress-search").hide();
                    }
                });
            }
        }

        function head_click(headId) {
            if ($('.head-' + headId).length > 0) {
                $('.head-' + headId).remove();
            }
            else {
                var fromDate = '';
                var toDate = '';

                if ($('#month').is(':checked') && $('#MonthToId').val() == "") {
                    alert("Please Select Month");
                    return false;
                }

                // month >>> date select from dropdown
                if ($('#month').is(':checked')) {
                    fromDate = $('#MonthFrom').val();
                    toDate = $('#MonthToId').val();
                }

                // date >>> date select date picker
                if ($('#date').is(':checked')) {
                    fromDate = $('#DateFrom').val();
                    toDate = $('#DateTo').val();
                }

                // no filter >>> date select hidden fields that set on Financial year change
                if ($('#noFilter').is(':checked')) {
                    if ($('#FiscalYearId').val() == "") {
                        alert("Please Select Financial Year");
                        return false;
                    }
                    else {
                        fromDate = $('#hdnDateFrom').val();
                        toDate = $('#hdnDateTo').val();
                    }
                }

                var job_start_date = fromDate.split('/');
                var job_end_date = toDate.split('/');

                var new_start_date = new Date(job_start_date[2], job_start_date[1], job_start_date[0]);
                var new_end_date = new Date(job_end_date[2], job_end_date[1], job_end_date[0]);

                if ($('#date').is(':checked') && new_end_date <= new_start_date) {
                    alert("To date must be greater than From date");
                    return false;
                }

                $.ajax({
                    url: '@Url.Action("LoadExpense", "CostCenter")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { fromDate: fromDate, toDate: toDate, headId: headId },
                    beforeSend: function () {
                        $("#progress-search").show();
                    },
                    success: function (data, textStatus, jqXHR) {
                        $("#progress-search").hide();
                        if (data) {
                            if (data.length > 0) {
                                var tbody = "";
                                var exp = data;
                                for (var e = 0; e < exp.length; e++) {
                                    var expRow = "<tr bgcolor='#f5f5f5' class='head-" + headId + "' id='head-" + exp[e].ExpenditureId + "'>";
                                    expRow = expRow +
                                    "<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>" + exp[e].Name + "</i></td>" +
                                        "<td align='right'>" + exp[e].AnnualBudgetString + "</td>" +
                                        "<td align='right'>" + exp[e].CommittedToDateString + "</td>" +
                                        "<td align='right'>" + exp[e].SpentToDateString + "</td>" +
                                        "<td align='right'>" + exp[e].BalanceString + "</td></tr>";
                                    tbody = tbody + expRow;
                                }
                                $("#head-" + headId).after(tbody);
                            }
                            else {
                                $("#head-" + headId).after("<tr class='head-" + headId + "'><td colspan='5' style='text-align:center;'>No Expense found for selected period</td></tr>");
                            }
                        }
                    },
                    error: function (data, jqXHR, textStatus, errorThrown) {
                        $("#progress-search").hide();
                    }
                });
            }
        }

        function DoSearch() {
            var fromDate = '';
            var toDate = '';
            var company = '';
            var isValid = true;
            if ($('#month').is(':checked') && $('#MonthToId').val() == "") {
                alert("Please Select Month");
                isValid = false;
                return;
            }

            // month >>> date select from dropdown
            if ($('#month').is(':checked')) {
                fromDate = $('#MonthFrom').val();
                toDate = $('#MonthToId').val();
            }

            // date >>> date select date picker
            if ($('#date').is(':checked')) {
                fromDate = $('#DateFrom').val();
                toDate = $('#DateTo').val();
            }

            // no filter >>> date select hidden fields that set on Financial year change
            if ($('#noFilter').is(':checked')) {
                if ($('#FiscalYearId').val() == "") {
                    alert("Please Select Financial Year");
                    isValid = false;
                    return;
                }
                else {
                    fromDate = $('#hdnDateFrom').val();
                    toDate = $('#hdnDateTo').val();
                }
            }

            company = $('#Company option:selected').val();

            var job_start_date = fromDate.split('/');
            var job_end_date = toDate.split('/');

            var new_start_date = new Date(job_start_date[2], job_start_date[1], job_start_date[0]);
            var new_end_date = new Date(job_end_date[2], job_end_date[1], job_end_date[0]);

            if ($('#date').is(':checked') && new_end_date <= new_start_date) {
                alert("To date must be greater than From date");
                isValid = false;
                return;
            }

            if (isValid == true && $('#date').is(':checked')){
				if(DateTo_Change() && DateFrom_change()) {
					isValid = true;
				}
				else{
					isValid = false;
				}
            }

            if (isValid) {
                $.ajax({
                    url: '@Url.Action("DoSearch", "CostCenter")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { fromDate: fromDate, toDate: toDate, company: company },
                    beforeSend: function () {
                        $("#progress-search").show();
                    },
                    success: function (data, textStatus, jqXHR) {
                        $("#progress-search").hide();
                        if (data) {
                            $('#totalBudget').text(data.TotalBudgetString);
                            if (data.CostCenterList.length > 0) {
                                var tbody = "";
                                var costCenterNo = 0;
                                for (var i = 0; i < data.CostCenterList.length; i++) {
                                    costCenterNo = costCenterNo + 1;
                                    var costCenterRow = "<tr id='cost-" + data.CostCenterList[i].CostCenterId + "' bgcolor='#add8e6' onclick='costCenter_click(" + data.CostCenterList[i].CostCenterId + ")' style='cursor:pointer'>" +
                                        "<td><font color='blue'><b>" + data.CostCenterList[i].Name + "</b></font></td>" +
                                        "<td align='right'><b>" + data.CostCenterList[i].AnnualBudgetString + "</b></td>" +
                                        "<td align='right'><b>" + data.CostCenterList[i].CommittedToDateString + "</b></td>" +
                                        "<td align='right'><b>" + data.CostCenterList[i].SpentToDateString + "</b></td>" +
                                        "<td align='right'><b>" + data.CostCenterList[i].BalanceString + "</b></td>" +
                                        "</tr>";
                                    tbody = tbody + costCenterRow;
                                }
                                $('#tblCostCenter > tbody > tr').remove();
                                $('#tblCostCenter > tbody').append(tbody);
                            }
                            else {
                                $('#tblCostCenter > tbody > tr').remove();
                                $('#tblCostCenter > tbody').append("<tr><td colspan='5' style='text-align:center;'>No Cost Centres found for selected period</td></tr>");
                            }
                        }
                    },
                    error: function (data, jqXHR, textStatus, errorThrown) {
                        $("#progress-search").hide();
                    }
                });
            }
        }
        
   
        function FiscalYear_change(e) {
            //debugger;
            var selectedValue = $('#FiscalYearId option:selected').text();

            var fromDate = '';
            var toDate = '';

            var fromDate = selectedValue.split('-')[0];
            var toDate = selectedValue.split('-')[1];
            var job_start_date = fromDate.split('/');
            var job_end_date = toDate.split('/');

            $('#DateFrom').val(job_start_date[0] + '/' + job_start_date[1] + '/' + $.trim(job_start_date[2]));
            $('#DateTo').val($.trim(job_end_date[0]) + '/' + job_end_date[1] + '/' + job_end_date[2]);

            $('#MonthFrom').val(job_start_date[0] + '/' + job_start_date[1] + '/' + $.trim(job_start_date[2]));
            $('#hdnDateFrom').val(job_start_date[0] + '/' + job_start_date[1] + '/' + $.trim(job_start_date[2]));
            $('#hdnDateTo').val($.trim(job_end_date[0]) + '/' + job_end_date[1] + '/' + job_end_date[2]);

            $("#MonthToId option").remove();
            var mySelect = $('#MonthToId');
            for (var i = 0; i < 12; i++) {
                var lastDay = '';
                if ((parseInt($.trim(job_start_date[1])) + i) > 12) {
                    if ((parseInt($.trim(job_start_date[1])) + i) == 13) {
                        lastDay = new Date(parseInt($.trim(job_start_date[2])) + 1, 1, 0);
                    }
                    if ((parseInt($.trim(job_start_date[1])) + i) == 14) {
                        lastDay = new Date(parseInt($.trim(job_start_date[2])) + 1, 2, 0);
                    }
                    if ((parseInt($.trim(job_start_date[1])) + i) == 15) {
                        lastDay = new Date(parseInt($.trim(job_start_date[2])) + 1, 3, 0);
                    }
                }
                else {
                    lastDay = new Date($.trim(job_start_date[2]), parseInt($.trim(job_start_date[1]))+i, 0);
                }

                mySelect.append(
                    $('<option></option>').val($.datepicker.formatDate('dd/mm/yy', lastDay)).html($.datepicker.formatDate('MM yy', lastDay))
                );
            }
        }

        function DateFrom_change() {
            var hdnFromDate = $('#hdnDateFrom').val();
            var hdnToDate = $('#hdnDateTo').val();
            var fromDate = $('#DateFrom').val();

            var hdnStartDate = hdnFromDate.split('/');
            var hdnEndDate = hdnToDate.split('/');
            var startDate = fromDate.split('/');

            var hdn_start_date = new Date(parseInt($.trim(hdnStartDate[2])), parseInt($.trim(hdnStartDate[1])), parseInt($.trim(hdnStartDate[0])));
            var hdn_end_date = new Date(parseInt($.trim(hdnEndDate[2])), parseInt($.trim(hdnEndDate[1])), parseInt($.trim(hdnEndDate[0])));
            var start_date = new Date(parseInt($.trim(startDate[2])), parseInt($.trim(startDate[1])), parseInt($.trim(startDate[0])));

            if (start_date < hdn_start_date || start_date > hdn_end_date) {
                alert("From date must fall under the selected financial year");
                return false;
            }
            else {
                return true;
            }
        }

        function DateTo_Change() {

            var hdnFromDate = $('#hdnDateFrom').val();
            var hdnToDate = $('#hdnDateTo').val();
            var toDate = $('#DateTo').val();

            var hdnStartDate = hdnFromDate.split('/');
            var hdnEndDate = hdnToDate.split('/');
            var endDate = toDate.split('/');

            var hdn_start_date = new Date(parseInt($.trim(hdnStartDate[2])), parseInt($.trim(hdnStartDate[1])), parseInt($.trim(hdnStartDate[0])));
            var hdn_end_date = new Date(parseInt($.trim(hdnEndDate[2])), parseInt($.trim(hdnEndDate[1])), parseInt($.trim(hdnEndDate[0])));
            var end_date = new Date(parseInt($.trim(endDate[2])), parseInt($.trim(endDate[1])), parseInt($.trim(endDate[0])));

            if (end_date < hdn_start_date || end_date > hdn_end_date) {
                alert("To date must fall under the selected financial year");
                return false;
            }
            else {
                return true;
            }
        }

    </script>
}

<div class="container">
    <div class="row border ">
        <div>
            <br />
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        @Html.Partial("_SearchCostCenter", Model.CostCenterLookup)
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Total budgets:&nbsp; <span class="RSLBlack"><strong id="totalBudget">@Model.TotalBudgetString</strong></span>
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="tblCostCenter" class="table RSLBlack" border="1" style="border-collapse: collapse" cellspacing="0"
                               align="center">
                            <thead>
                                <tr bgcolor="black" style="color: white">
                                    <td width="170px" nowrap="nowrap">
                                        <b>Cost Centre Name</b>
                                    </td>
                                    <td align="right" width="110px" title="Cost Centre Budget">
                                        <b>Annual Budget</b>
                                    </td>
                                    <td align="right" width="110px">
                                        <b>Committed to date</b>
                                    </td>
                                    <td align="right" width="100px">
                                        <b>Spent to date</b>
                                    </td>
                                    <td align="right" width="100px">
                                        <b>Remaining Balance</b>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.CostCenterList != null && Model.CostCenterList.Count > 0)
                                {
                                    foreach (var costCenter in Model.CostCenterList)
                                    {
                                        costCenterCount++;

                                        // CostCenter populate
                                        <tr id="cost-@costCenter.CostCenterId" bgcolor="#add8e6" onclick="costCenter_click(@costCenter.CostCenterId)" style="cursor:pointer">
                                            <td><font color="blue"><b>@costCenter.Name</b></font></td>
                                            <td align="right"><b>@costCenter.AnnualBudgetString</b></td>
                                            <td align="right"><b>@costCenter.CommittedToDateString</b></td>
                                            <td align="right"><b>@costCenter.SpentToDateString</b></td>
                                            <td align="right"><b>@costCenter.BalanceString</b></td>
                                        </tr>
                                        // Head heading
                                        @*<tr bgcolor="green" style="display: none; color: white;" class="cost-@costCenter.CostCenterId">
                                    <td>&nbsp;&nbsp;Head Name</td>
                                    <td align="right" width="110px">Head Budget</td>
                                    <td align="right" width="110px">Committed to date</td>
                                    <td align="right" width="100px">Spent to date</td>
                                    <td align="right" width="100px">Remaining Balance</td>
                                </tr>
                                // Head populate
                                foreach (var head in costCenter.HeadList)
                                {
                                    headCount++;
                                    <tr bgcolor="#f5f5dc" onclick="head_click(@head.HeadId)" class="cost-@costCenter.CostCenterId" id="head-@head.HeadId" style="display: none; cursor: pointer;">
                                        <td>&nbsp;&nbsp;@head.Name</td>
                                        <td align="right">@head.AnnualBudgetString</td>
                                        <td align="right">@head.CommittedToDateString</td>
                                        <td align="right">@head.SpentToDateString</td>
                                        <td align="right">@head.BalanceString</td>
                                    </tr>

                                    // Expenditure populate
                                    foreach (var expenditure in head.ExpenditureList)
                                    {
                                        expenditureCount++;
                                        <tr bgcolor="#f5f5f5" style="display:none;" class="head-@head.HeadId" id="head-@expenditure.ExpenditureId">
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>@expenditure.Name</i></td>
                                            <td align="right">@expenditure.AnnualBudgetString</td>
                                            <td align="right">@expenditure.CommittedToDateString</td>
                                            <td align="right">@expenditure.SpentToDateString</td>
                                            <td align="right">@expenditure.BalanceString</td>
                                        </tr>
                                    }
                                }*@
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" style="text-align:center;">
                                            No Cost Centres found for selected period
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="progress-dialog" style="display:none;" id="progress-search">
        <img src='@Url.Content("~/Content/Images/progress.gif")' />
    </div>
</div>


