﻿body_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
}
.menu_item {
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
	text-decoration:none;

}
.link_resize {
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: Red;
	text-decoration:none;

}
.link_item {
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
    display:inline;
	text-decoration:underline;
}
.link_item_medium {
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #aaaaaa;
    display:inline;
    font-weight:bold;
	text-decoration:none;
}

.link_item_small {
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
    display:inline;
    text-decoration:underline;
	
}
.link_item_tiny {
	
	font-family: Times New Roman, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
    display:inline;
	text-decoration:none;
}
.footnote_item {
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size: 8pt;
	color: #000000;
	text-decoration:none;
	display:inline;
}
.header_black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
        font-weight:bold;
	color: #000000;
	display:inline;
}

.header_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20pt;
    font-weight:normal;
	color: #ffffff;
	display:inline;
}

.header_black_medium {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24pt;
	color:GrayText;
	display:inline;
}

.header_white_medium {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16pt;
    font-weight:normal;
	color: #ffffff;
	display:inline;
}
.sub_header_black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight:bold;
	color: #000000;
	 display:inline;
}
.sub_header_black1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight:bold;
	color: #000000;
	 display:inline;
}
.header_reversed_black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	background-color: #000000;
	color: #FFFFFF;
}
header_reversed_red {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	background-color: #CC0000;
	color: #FFFFFF;
}
.main_module_header_label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	background-color : #CC0000;
	color: #FFFFFF;
	}
.caption {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	display:inline;
}
@media print
{
	.noprint 
	{
		display:none;		 
    }
    #updatePanel_JbSSmry
    {
		float:left;		
		position:absolute;
		right:400px;				
    }
}
.body_caption_bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight:bold;
	color: #000000;
	display:inline;
}
.error_message_label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FF0000;
}
.info_message_label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #008800;
}

.foot_note {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
}
section_frame {
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #CC0000;
}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	clear: none;
	float: none;
}
.input_normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	clear: none;
	float: none;
	width:200px;
}

.input_small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	clear: none;
	float: none;
	width:100px;
}
.select_normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width:200px;
}
select_small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width:150px;
}
.select_small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width:150px;
}
.table_box
{
    BORDER-RIGHT: black thin solid;
    BORDER-TOP: black thin solid;
    BORDER-LEFT: black thin solid;
    BORDER-BOTTOM: black thin solid;
    width:300px;
    
}
textarea
{
    border-color:#000000;
    overflow:auto;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:10pt;
       
    }
.textarea_simple
{
    border-color:#000000;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:10pt;
    overflow:auto;
       
    }

.print_foot_note_red {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #FF0000;
}

.print_foot_note_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #0000FF;
}
.modalBackground 
        {
	        background-color:Gray;
	        _filter:alpha(opacity=60);	    	        
        }
.cellData {
	        font-family: Verdana, Arial, Helvetica, sans-serif;
	        font-size: 9pt;
	        color: #000000;
	        display:inline;
        }
.link_item
{
	 text-decoration:none
}       

.listbox_elements
{
	 width:150px;
	 height:150px;
} 

.listbox_td
{
	 vertical-align:top;
	 width: 553px; 
	 height: 435px	 
} 
.elementimages_btnback
{
	text-align:left;
	width:553px;	
}
.wcpopup
{
	width:660px;
	height:500px;
	overflow:scroll;
}
.wc_ompletion_list
{
	border: 1px solid buttonshadow; 
	padding: 0px; 
	text-align: left; 
	visibility: hidden; 
	cursor: default; 
	list-style-type: none; 
	list-style-image: none; 
	list-style-position: outside; 
	background-color: window; 
	color: windowtext; 
	position: absolute; 
	width: 153px; 
	left: 121px; 
	top: 274px; 
	display: none;	
	z-index:9999;
	
}

