﻿@model Contractor.Web.Models.Property.PropertySearchViewModel
@{ 
    Layout = null;
}
<div class="search-table-outer">
    @if (Model.Properties != null && Model.Properties.Count > 0)
    {
        <table class="search-table">
            <tr>
                <td class="search-td-border">
                    <img src="~/Content/images/icon_property.png" alt="Property" title="Property" style="border:none;width:50px;height:50px;" />
                </td>
                <td>
                    <table class="repeaterTable">
                        @foreach (var item in Model.Properties)
                        {
                            <tr onclick="ShowPropertySummary('@item.Id', '@item.PropertyType')">
                                <td>
                                    <span>
                                        @item.AddressDisplay
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        ( Ref: @item.Id )
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        :
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        @item.TypeDescription
                                    </span>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </table>
    }

    @if (Model.Schemes != null && Model.Schemes.Count > 0)
    {
        <table class="search-table">
            <tr>
                <td class="search-td-border">
                    <img src="~/Content/images/icon_scheme.png" alt="Scheme" title="Scheme" style="border:none;width:50px;height:50px;" />
                </td>
                <td>
                    <table>
                        @foreach (var item in Model.Schemes)
                        {
                            <tr onclick="ShowPropertySummary('@item.Id', '@item.PropertyType')">
                                <td>
                                    <span>
                                        @item.AddressDisplay
                                    </span>
                                </td>
                                <td>
                                    <span>

                                    </span>
                                </td>
                                <td>
                                    <span>
                                        :
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        @item.Address
                                    </span>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </table>
    }

    @if (Model.Blocks != null && Model.Blocks.Count > 0)
    {
        <table class="search-table">
            <tr>
                <td class="search-td-border">
                    <img src="~/Content/images/icon_block.png" alt="Block" title="Block" style="border:none;width:50px;height:50px;" />
                </td>
                <td>
                    <table>
                        @foreach (var item in Model.Blocks)
                        {
                            <tr onclick="ShowPropertySummary('@item.Id', '@item.PropertyType')">
                                <td>
                                    <span>
                                        @item.AddressDisplay
                                    </span>
                                </td>
                                <td>
                                    <span>

                                    </span>
                                </td>
                                <td>
                                    <span>
                                        :
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        @item.Address
                                    </span>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </table>
    }
</div>
