﻿@model Contractor.Web.Models.PropertyDetailViewModel
@{
    ViewBag.Title = "Detail";
    var isEdit = ViewBag.isEdit == "edit";
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="col-md-12 alert alert-success" id="message" style="display:none">
    <strong id="msgResponse"></strong>
</div>
<div class="progress-dialog" style="display:none;" id="loader">
    <img src='@Url.Content("~/Content/images/progress.gif")' />
</div>

<div class="row padding-bottom"></div>
<div style="">
    @*Heading*@
    <div class="row padding-bottom">
        <div class="col-md-12">
            <div class="portlet-black">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="col-md-12">
                            <div class="row portlet-black-head">
                                <div class="col-md-12">
                                    <h5 style="float:left; font-weight:bold;">@Model.fullHeading</h5>
                                    <span class="pull-right">
                                        <img src="~/Content/images/BackToSearch.png" />
                                        <a href='@Url.Action("Search", "Property")' style="color:white;" class="selected">Back to Search</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-black-body col-md-12">
                    <div class="row">
                        <div class="col-md-12 padding-bottom">
                            <b>Health & Safety  &nbsp; > &nbsp;  Asbestos</b>
                        </div>
                    </div>
                    <div class="col-md-12">
                        @Html.Action("Index", "HealthAndSafety", new { id = Model.id, type = Model.type })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        var MAX_FILE_UPLOAD_SIZE = 20971520;
        var MAX_IMAGE_UPLOAD_SIZE = 1048576;
        var ALLOWED_IMAGE_EXTENSION = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        var ALLOWED_FILE_EXTENSION = ['pdf', 'doc', 'xls', 'txt'];

        jQuery.ajaxSetup({
            cache: false,
            beforeSend: function () {
                $('#loader').show();
            },
            complete: function () {
                $('#loader').hide();
            },
            success: function () { }
        });

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');

            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }


            return vars;

        }
        function popupMessage(outerElement, element, msg, type) {
            if (type == "success") {

                $("#" + outerElement).removeClass('alert-danger');
                $("#" + outerElement).addClass('alert-success');
            }
            else if ("failure") {
                $("#" + outerElement).removeClass('alert-success');
                $("#" + outerElement).addClass('alert-danger');
            }

            $("#" + element).html(msg)
            $("#" + outerElement).show().delay(8000).fadeOut();
            window.scrollTo(0, 0);
        }

    </script>
}
