﻿@model Contractor.Web.Models.Property.PropertySearchViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_PropertyLayout.cshtml";
}

<div id="search-main-content">
    <div id="search-content-wrapper">
        @Html.TextBoxFor(m => m.Search, new { @class = "searchbox", @placeholder = "Search Property, Block, Scheme", onkeyup = "TypingInterval();" })
    </div>

    <div class="roundcorner" id="fault_search_result">
        <div id="fault_result_header">
            <b>

            </b>
        </div>
    </div>
    <div id="searchgrid"></div>
</div>
<img src="~/Content/images/asbestos-contractor_background.jpg" width="2312" height="1540" class="bgimg" />

@section Scripts {
    <script type="text/javascript">

        jQuery.ajaxSetup({
            cache: false,
            beforeSend: function () {
                $('#loader').show();
            },
            complete: function () {
                $('#loader').hide();
            },
            success: function () { }
        });

        var typingTimer;                //timer identifier
        var doneTypingInterval = 1000;  //time in ms, 5 second for example
        function TypingInterval(e) {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(searchTextChanged, doneTypingInterval);
        }
        function searchTextChanged() {

            $.ajax({
                url: '@Url.Action("Search", "Property")',
                type: 'POST',
                data: {
                    Search: $('#Search').val()
                },
                success: function (resp) {
                    if (resp != undefined) {
                        console.log(resp);
                        resp = resp.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;/g, '&');
                        $('#searchgrid').html(resp);
                    }
                },
                error: function (resp) {
                    if (resp != undefined) {
                        console.log(resp);
                    }
                }
            });
        }

        function ShowPropertySummary(id, type) {
            var url = '@Url.Action("PropertyDetail", "Property")';
            url = url + "/" + id + "?type=" + type;
            window.location = url;
            return false;
        }

    </script>
}

