<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="PrintMaster.master.vb" Inherits="tenantsonline.PrintMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
      <link rel="stylesheet" href="~/css/IE_Style.css" />

</head>
<body>
    <form id="form_print" runat="server">
   
    <table cellpadding ="0" style="width: 798px">
        <tr>
            <td align="left" colspan="2">
                &nbsp;<asp:ContentPlaceHolder ID="ContentPlaceHolder_top" runat="server">
            </asp:ContentPlaceHolder>
            </td>
            <td align="center" colspan="1">
            <asp:Image ID="imgLogo" runat="server" ImageUrl="~/images/buttons/BH-2006-RED_RGB.gif" /></td>
        </tr>
        <tr>
            <td align="left" colspan="4" style="text-align: right">
                <hr />
                <span style="font-size: 11pt">&nbsp;</span></td>
        </tr>
<tr>
    <td colspan="3">
    <span><asp:ContentPlaceHolder ID="ContentPlaceHolder_subBody" runat="server">
    </asp:ContentPlaceHolder>
    </span>
    </td>
</tr>
<tr>
<td colspan="3" valign="top">
    <span><asp:ContentPlaceHolder ID="ContentPlaceHolder3_mainBody" runat=server>
    </asp:ContentPlaceHolder>
    </span></td>
</tr>
<tr>
    <td colspan="3" style="font-size: 12px; font-family: Arial; text-align: left" valign="top">
    <hr />
    </td>
</tr>
<tr>
<td colspan="2" valign="top" style="height: 5px">
    </td>
    <td colspan="1" style="height: 5px" valign="top">
    </td>
</tr>
<tr>
<td style="width: 495px; height: 49px;" colspan="2">
    <span style="font-family: Arial"><span style="font-size: 11pt">
        <asp:Label ID="lblFooterStaticContent1" runat="server" Text="Payments made within the last 3 working days may not appear on your statement."
            Width="455px" CssClass="body_caption_bold"></asp:Label></span></span></td>
    <td colspan="1">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
    </td>
</tr>
            <tr>
            <td colspan="2" style="height: 49px">
            <asp:Label ID="lblFooterStaticContent10" runat="server" Text="Credits are not always refundable where there is money outstanding from Housing Benefit. Please contact Customer Services on 0303 303 0003 for further information about this or any aspect of your statement." Width="460px" CssClass="caption"></asp:Label></td>
        </tr>
  
        <tr>
            <td colspan="1"> &nbsp; &nbsp; </td>
        </tr>
        <tr>
            <td colspan="2" style="height: 49px">
            <asp:Label ID="lblFooterStaticContent2" runat="server" Text="All our documents can be supplied in large print, Braille, audio tape and in languages other than English. Please contact 0303 303 0003 if you require this service."
                Width="460px" CssClass="body_caption_bold"></asp:Label></td>
            <td colspan="1">
            </td>
        </tr>

        <tr>
            <td colspan="2" style="width: 495px">
            </td>
            <td align="left" colspan="1" style="height: 12px">
                <asp:Label ID="lblFooterStaticContent3" runat="server" Text="Broadland Housing Association " Width="208px" CssClass="print_foot_note_black"></asp:Label></td>
        </tr>
        <tr>
            <td colspan="2" style="width: 495px" >
            </td>
            <td align="left" colspan="1">
                <asp:Label ID="lblFooterStaticContent4" runat="server" Text="NCFC Jarrold Stand" CssClass="print_foot_note_black"></asp:Label></td>
        </tr>
        <tr>
            <td colspan="2" style="width: 495px; height: 2px;" >
            </td>
            <td align="left" colspan="1" style="height: 2px">
                <asp:Label ID="lblFooterStaticContent5" runat="server" Text="Carrow Road" CssClass="print_foot_note_black"></asp:Label></td>
        </tr>
        <tr>
            <td colspan="2" style="width: 495px" >
            </td>
            <td align="left" colspan="1">
                <asp:Label ID="lblFooterStaticContent6" runat="server" Height="20px" Text="Norwich NR1 1HU " CssClass="print_foot_note_black"></asp:Label></td>
        </tr>
               <tr>
            <td colspan="2" style="width: 495px; height: 78px;">
            </td>
            <td align="left" colspan="1" style="height: 78px">
            <pre style="text-align: left" class="print_foot_note_black">Reqistered under the Industrial
and Provident Societies Act 1965
as a non profit making housing 
association with charitable status.
Reg No. 16274R Housing Corporation 
Reg. No. L0026 
</pre>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Panel ID="pnlText" runat="server" Height="50px" Width="420px" CssClass="caption">
                <%--<div style="text-align: right;"><a href="payment_terms_and_conditions.aspx">Online Payment Terms and Conditions</a></div>
                <br />
--%>                 <p style="text-align: center; vertical-align: top;">
                 <img src="../../images/BHG_Logo_Image.png" width="145" height="113" alt="BHG Logo" />
            </p>
                    
        <p style="text-align: center; vertical-align: top; text-decoration: underline; font-weight: bold;">
            UNDERSTANDING YOUR RENT STATEMENT</p>
        <p style="margin-bottom: 10px;">
            <b>Tenancy Reference</b> - This is the unique number we use to identify your tenancy
            and needs to be quoted whenever you contact us.
        </p>
        <p style="margin-bottom: 10px;">
            <b>Estimated Housing Benefit due</b> - For those in receipt of Housing Benefit,
            this is the amount estimated to be received up-to the end of the month, in which
            the statement is dated.
            <br />
            Please note this is only an estimate which is based upon the last amount received,
            and assumes your circumstances have not changed. Housing Benefit may vary, therefore
            changing your final balance.
        </p>
        <p style="margin-bottom: 10px;">
            <b>Owed to BHA (in red):</b>This is the amount owed to BHA by you. It takes into
            account any Housing Benefit estimated as still due to the end of the month in which
            the statement is dated.
        </p>
        <p style="margin-bottom: 10px;">
            <b>Owed from BHA (in Black):</b>This means your account is in credit and you may
            be due a refund.
            <br />
            Credits are not always refundable to you; where Housing Benefit is in payment, the
            Local Authority must be contacted to confirm if there are any overpayments owed
            to them.
        </p>
        <p style="font-weight: bold; ">
            Additional Information</p>
        <ul>
            <li style="margin-bottom: 20px;"> Your rent is due on the first day of each month and is payable in advance. </li>
            <li style="margin-bottom: 20px;">To set up a Direct Debit, please call us on 0303 303 0003. It`s quick, simple, and makes paying your rent hassle free. </li>
            <li style="margin-bottom: 20px;">If you are unable to pay via Direct Debit, we have a variety of ways in which you can pay your rent, please contact us for further information if you need to arrange an alternative method.</li>
            <li style="margin-bottom: 20px;"><b>If you have any problems paying your rent or you do not understand any part of this statement, please contact our Customer Services Team on 0303 303 0003 immediately as we can offer a range of help and advice. </b></li>
        </ul>
                  
                </asp:Panel>
           
            </td>
        </tr>
       
</table>
 
    </form>
    

    
</body>
</html>
