/* CSS Document */

.ref-form {
	width:565px;
	height:350px;
	margin:0 auto;
	border:2px solid #174b87;
}

.form-header {
	height:37px;
	background:#174b87;
}

.form-header h2{
	margin:0;
	color:#fff;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	padding-top:8px;
	padding-left:10px;
}

.form-container {
	padding:20px;
}

.row {
	color:#174b87;
	font-family:Tahoma, Geneva, sans-serif;
	margin-bottom:5px;
}

.row input{
	border-radius:0;
	border:2px solid #174B87;
	background:#fff;
	color:#174B87;
}

.row input:hover{
	cursor:pointer;
}

.field-label {
	width:140px;
}

.field-name textarea{
	resize:none;
	width:520px;
	margin-top:5px;
	border:2px solid #174b87;
	height:120px;
	color:#174B87;
	
} 
.ref-assign {
	margin-top:25px;
}

.ref-assign select{
	width:235px;
	height:20px;
	color:#174B87;
}

.aleft {
	float:left;
}

.aright {
	float:right;
}

.clear {
	clear:both;
}
.form_button{
   margin-right:10px; 
   }

