﻿#header-Popup
{
    background-color: #e51837;
    height: 50px;
    width: 100%;
    margin-left: -5px;
}

#header_box
{
    position: relative;
    float: right;
    background-color: inherit;
    margin-right: 25px;
    border: 2px solid white;
    top: 15px;
    height: 70px;
    width: 70px;
}
#header_label
{
    position: relative;
    float: left;
    padding-left: 20px;
    width: 50%;
    text-align: left;
    font-family: Arial;
    color: White;
    font-size: 16px;
}

.caption
{
    text-align: left;
}


.modalBackground
{
    background-color: #000000;
    filter: alpha(opacity=40);
    opacity: 0.4;
}
.modalPopup
{
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding: 15px;
    width:80%;
   
}

.searchbox
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #8e8e8e;
    background-color: #f5f5f5;
    height: 16px;
    padding: 4px;
    padding-left:10px;
    padding-right: 28px;
    color: #4a4a4a;
    float: left;
    background-image: url('../images/glass22x22.png');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 22px;
}

 .searchText
  {
    color: Gray;
    font-style: italic;
    padding-left: 10px;
  }



.sort-expression a
{
    text-decoration:none !important;
}

.gridfaults-header
{
    font-weight:normal;
    font-size:13px; 
    border-bottom:1px solid #BBB;
}