﻿.gridPagerContainer
{
    color: Black;
    background-color: #FAFAD2;
    text-align: right;
}

.gridPager
{
    border-color: #ADADAD;
    border-width: 2px;
    border-style: Solid;
    vertical-align: middle;
    border-top: 0px;
    border-top-color: transparent;
    width: 100%;
}
