﻿.LeftAlignHeading
{
    text-align: left;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 13px;
}

tr.HeadingBorder td
{
    border: 1px solid #000;
}

table
{
    border-collapse: collapse;
}

.mainHeadings
{
    background-color: #E0E0E0;
    height: 25px;
    padding-left: 10px;
    font-size: 15px;
}

.padDiv
{
    margin-top: 15px;
    margin-bottom: 15px;
}

tr.padCells > td
{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 13px;
}
@media print
{

    .hide
    {
        display: none;
    }
    .mainHeadings
    {
        background-color: #E0E0E0;
        height: 25px;
        padding-left: 10px;
        font-size: 15px;
        -webkit-print-color-adjust: exact;
    }
}

/*
Search Page
*/
#search-main-content
{
    float: left;
    margin-left: 5px;
    width: 99%;
    background-image: url('../Images/imgStBensPic.jpg');
    background-repeat: no-repeat;
    height: 800px;
    margin-top: -58px;
}

#search-content-wrapper
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.search-table td
{
    padding: 10px;
    background-color: White;
    border: 2px;
}


.highlight
{
    font-weight: bold;
}

.repeaterTable tr:hover
{
  cursor:pointer;
}

/* Loading image on page update (UI-Blocker) - Start */

.loading-image
{
    background-color: #fff;            
    width: 100%;
    height: 100%;
    position: fixed;
    top: 12px;
    left: 3px;
    z-index: 1000000;
    text-align: center;            
    vertical-align:middle;
    opacity: 0.7;            
}
        
.loading-image img
{
    margin-top:255px;
}



