﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestPage.aspx.cs" Inherits="PropSurvey.ServiceHost.TestPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
            
    
    <asp:Panel ID="Panel1" runat="server" Height="79px" Width="930px">
       UserName:
        <asp:TextBox ID="txtUserName" runat="server"></asp:TextBox>&nbsp;&nbsp;
           AppointmentID:  <asp:TextBox ID="txtappointmentID" runat="server"></asp:TextBox>
        &nbsp;&nbsp;
        
           <br />  <br />
        <asp:Button ID="btnFetchAppointments" runat="server" onclick="FetchAppointments" 
            Text="Fetch Appointments" />
        &nbsp;&nbsp;&nbsp;
        <asp:Button ID="btnStartAppointment" runat="server" onclick="StartAppointment" 
            Text="Start Appointment" />         &nbsp;&nbsp;&nbsp;
        <asp:Button ID="btnGetJobStatus" runat="server" 
            Text="Get Job Status" onclick="GetJobStatus" />
             &nbsp;&nbsp;&nbsp;
        <asp:Button ID="btnUpdateJobStatus" runat="server" 
            Text="Update Job Status" onclick="UpdateJobStatus"  />
               &nbsp;&nbsp;&nbsp;
        <asp:Button ID="Button5" runat="server" 
            Text="Test JSON" onclick="Button5_Click"  />
    </asp:Panel>           
    Response:<br />
        <asp:TextBox ID="txtResponse" runat="server" Height="600px" TextMode="MultiLine" 
            Width="949px"></asp:TextBox>

    </div>
    </form>
</body>
</html>
