﻿<%@ Page Title="Get Customers Rent Parameters History :: Arrears Management" Language="C#" AutoEventWireup="true" CodeBehind="GetCustomerRentParametersHistory.aspx.cs"
    Inherits="Am.Ahv.Website.secure.casemgt.GetCustomerRentParametersHistory" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div>
            <asp:Panel ID="pnlMessage" runat="server" Visible="false">
                <asp:Label ID="lblMessage" runat="server"></asp:Label>
            </asp:Panel>
        </div>
    </div>
    </form>
</body>
</html>

