<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PaymentPlanReviewNotification.aspx.cs" Inherits="Am.Ahv.Website.secure.casemgt.PaymentPlanReviewNotification" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>     
       <asp:Panel ID="pnlMessage" runat="server" Visible="false">
            <asp:Label ID="lblMessage" runat="server"></asp:Label>
        </asp:Panel>
    </div>
    </form>
</body>
</html>
