/* CSS Document */

html {
    display: block;
}
body {
    display: block;
    margin: 0px;
    padding: 0px;
    background-size: 100% 100%;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif !important;
}
h5 {
    font-size: 12px;
    margin-bottom:5px;
    margin-top:5px;
}
a {
    color :#fff;
}

#wrapper{
	width:451px;
	background:rgba(255,255,255,0.9);
	margin:0px auto 100px auto;
	box-shadow:3px 3px 10px #444;
	padding:50px 0px 0px;
	text-align:center;
    
}

.logo-rsl{
	margin:20px 0px;	
    font-size: 25px;
    color:#e51837;
    font-family: arial,Helvetica,sans-serif;
}

img.bgimg{
  width: 100%;
  height:100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
}

.rsl-login {
	padding:0 20px 20px;
			
}

.rsl-login .txtfield{
	width:193px;
	height:32px;
	padding-left:35px;
/*	padding:10px 10px 10px 70px;*/
	background:#a4a5a6;
	border:1px solid #e51837;
	/*margin-bottom:17px;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;	
}
.rsl-login .btn-area{
	text-align:right;
	padding:0px 245px;	
}
.rsl-login .btn{
	width:77px;
	height:31px;
/*	line-height:70px;*/
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
	background:#a4a5a6;
	border:none;
}

.rsl-login .btn.updatepass{
	width:160px;
	margin-left: -84px;
	margin-bottom: 14px;
}

    .rsl-login .lockdown {
        width: 310px;
        margin: 5px auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #e11a3c;
        background: url('images/icon_redlock.png') no-repeat 0px 50%;
    }

.rsl-login .verisign{
	padding:0 20px;
	text-align:right;	 
}

.rsl-login .fpass{
	color: #808080;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin: 0 auto;
    width: 275px;
}

.rsl-login .footer{
	color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
    padding: 19px 20px 0;
    text-align: left; 
}

.rsl-login .txtfield.username{
	background:url('images/icon_user.png') no-repeat 10px 50% #a4a5a6 ;	
}

.rsl-login .txtfield.password{
	background:url('images/icon_lock.png') no-repeat 10px 50% #a4a5a6 ;	
}

.rsl-login .txtfield.email{
	background:url('images/icon_mail.png') no-repeat 10px 50% #a4a5a6 ;	
}

.login-again a{
	 color: #808080;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;

}

.login-again {
	margin-bottom: 80px;
    margin-top: 20px;
    padding-left: 90px;
    text-align: left;

}

.fpass p {
	margin-bottom:0;
}



.forgot_psw {
	padding:50px 0;
}

.forgot_psw a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#a39798;
	margin:15px;
}

.copy-right {
	position:absolute;
	bottom:50px;
	left:20px;
}

.login-msg {
    padding-bottom: 10px;
    color: #e51837;
    font-family: Arial;
}

.text-danger {
  color: #b94a48;
}

.TopNavigation ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 16px 0 !important;
    min-height: 20px !important;
    background-color: #EC2A45;
}

    .TopNavigation ul li {
        float: left;
    }

        .TopNavigation ul li + li {
            float: left;
            border-right: 1px solid #FC938D;
        }

        .TopNavigation ul li a {
            display: block;
            color: #FC938D;
            text-align: center;
            padding: 2px 10px;
            text-decoration: none;
            /*font-weight: bold;*/
            font-size: 13px !important;
            text-align:left !important;
        }

            .TopNavigation ul li a:hover {
                display: block;
                color: white;
                text-align: center;
                padding: 2px 10px;
                text-decoration: none;
            }

.TopNavigation .selected {
    color: white;
    border: none;
}

.TopNavigation .module {
    color: white;
    margin-right: 50px;
    padding-bottom:10px !important;
}

.asb-dropdown{
    position: relative;
    display: inline-block;
    height:19px;
}
.asb-dropdown-content{
    display: none !important;
    position: absolute !important;
    background-color: white !important;
    min-width: 175px !important;
    text-align:left !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.asb-dropdown-content  a{
    color: black !important;
    padding: 10px 14px !important;
    text-decoration: none !important;
    display: block !important;
    border-bottom: 2px solid #C2C2C2 !important;
}

.asb-dropdown:hover .asb-dropdown-content{
    display: block !important;
    z-index:90000000000 !important;
}

.search-table-outer {
    width: 75%;
    height: 400px;
    overflow: auto;
    margin-left: 10%;
}

.searchbox {
    border-collapse: collapse;
    height: 30px;
    width: 74.5%;
    background-image: url('images/imgMagnifir.png');
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 150px;
    margin-left: 10%;
    border: 1px solid Gray;
    padding-left: 5px;
}

.search-table {
    width:100%;
    border-spacing: 0;
    border-color:#000;
    border: 1px solid #000;
}

    .search-table td {
        padding: 10px;
        background-color: White;
        font-family: Tahoma;
        color: #000;
        font-size: 12px;
    }

.search-td-border {
    border-right: 1px solid #000;
    width: 78px;
    vertical-align: top;
}

.progress-dialog {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 12px;
    left: 3px;
    z-index: 1000000;
    vertical-align: middle;
    opacity: 0.7;
}

    .progress-dialog img {
        position: relative;
        top: 50%;
        left: 50%;
    }

/*/////////////////Start Saud ////////////////////*/
.portlet {
    background-color: #F0F0F0;
    padding: 10px;
    border: 1px solid #C5BAA1;
}

.portlet-box {
    background-color: #CCDEEC;
}

    .portlet-box .box {
        float: left;
        text-align: center;
        padding: 6px;
        color: #fff;
        height: 30px;
        width: 30px;
        background-color: #BAAC98;
        border: 1px solid #C8BAA4;
    }

    .portlet-box .body {
        padding: 10px 30px 10px 40px;
    }

        .portlet-box .body p {
            text-align: justify;
        }

.portlet-head {
    padding-left: 60px;
    font-size: 12px;
    font-weight:bold;
    height: 50px;
    border-radius: 25px 0 0 0;
}

.portlet-icon {
    border: 2px solid #808382;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    float: left;
    background-color: #fff;
}

.portlet-black {
    /*background-color: #f4f8fb;
    padding: 10px;
    border: 1px solid #C5BAA1;*/
}

.portlet-black-box {
    background-color: #CCDEEC;
}

    .portlet-black-box .box {
        float: left;
        text-align: center;
        padding: 6px;
        color: #fff;
        height: 30px;
        width: 30px;
        background-color: #BAAC98;
        border: 1px solid #C8BAA4;
    }

    .portlet-black-box .body {
        padding: 10px 30px 10px 40px;
    }

        .portlet-black-box .body p {
            text-align: justify;
        }

.portlet-black-head {
    font-size: 12px;
    color:#fff;
    font-weight:bold;
    background-color:#000;
    padding-top:7px;
    padding-bottom:7px;
}

.portlet-black-body {
    font-size: 12px;
    padding-top: 15px;
    border: 1px solid #000;
    border-top:none;
}

.portlet-black-icon {
    border: 2px solid #808382;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    float: left;
    background-color: #fff;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border-color: #ffa8a8;
    box-shadow: 0px 0px 5px 1px red;
}

.right {
    float: right;
}

.grid-border {
    border:1px solid #C5BAA1;
}

.table-head-black thead {
    background-color:#000;
    color: #fff;
}
.table-head-black thead tr th {
    border-bottom: none;
}


/*///////////Grid Css///////////*/
#webgrid {
    float: left;
    width: 98%;
    margin: 1%;
}

#webeditgrid {
    float: left;
    width: 98%;
    margin: 1%;
}

.edit-control {
    width: 70px;
}


.webgrid-footer {
    display: none;
}

.disabled a {
    color: #000;
    cursor: not-allowed;
}

.webgrid-row-style {
    padding: 2px;
}

.webgrid-alternating-row {
    background-color: #F0F0F0;
    padding: 2px;
}

#gridPager ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    padding-top: 4px;
}

    #gridPager ul li {
        display: inline;
        margin-left: 20px;
    }

        #gridPager ul li a {
            text-decoration: none;
        }

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    float: left;
    width: 100%;
}
/*///////////Grid Css///////////*/

.btn-white {
  color: #333333;
  background:white;
  border: 1px solid #000;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  background-image: none;
}

.btn-white.disabled,
.btn-white[disabled],
fieldset[disabled] .btn-white,
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
fieldset[disabled] .btn-white:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
fieldset[disabled] .btn-white:focus,
.btn-white.disabled:active,
.btn-white[disabled]:active,
fieldset[disabled] .btn-white:active,
.btn-white.disabled.active,
.btn-white[disabled].active,
fieldset[disabled] .btn-white.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.DatePicker {
    width: 86%;
    margin-right: 5px;
    float: left;
}
.ui-datepicker-trigger {
    margin-top: 4px;
}
.required {
    color: red !important;
}
.form-control{
    font-size:12px;
    padding: 6px 10px;
    height:30px;
}
.repeaterTable tr:hover {
    cursor: pointer;
}

label {
    margin-top:6px;
    margin-bottom:2px;
}