﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.AssociatedContactViewModel
@{
    int case_id = Model.CaseId;
    int added_by = Model.RecordedById;
    //string func = Model.FunctionName;
    int pageSize = Model.Paging.PageSize;
    //string func = Model.FunctionName;
}
<div class="NewCaseViews" style="margin-bottom:8px !important;">
    <div class="col-xs-12 no-padding-sides" style="margin-top:5px;">
        <p class="col-xs-11 no-padding-sides pull-left"><b>Contacts:</b></p>
        <input type="button" id="BtnAddAscCntct" value="+" class="add-contact" />
    </div>

    <div class="col-xs-12 no-padding-sides">
        <table class="col-xs-12" style="table-layout:fixed !important; margin-top:10px;" id="ContactsTable">
            <thead>
                <tr>
                    <th class="col-xs-3 no-padding-left" style="text-align:left;">Name:</th>
                    <th class="col-xs-4 no-padding-left" style="text-align:left;">Organization:</th>
                    <th class="col-xs-3 no-padding-left" style="text-align:left;">Tel:</th>
                    <th class="col-xs-1 no-padding-left"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ac in Model.Contacts)
                {
                    <tr>
                        <td class="col-xs-3 no-padding-left">@ac.Name</td>
                        <td class="col-xs-4 no-padding-left">@ac.Organization</td>
                        <td class="col-xs-3 no-padding-left">@ac.Telephone</td>
                        <td class="col-xs-1 no-padding-left">
                            <img src="~/Images/clear.png" width="15" height="15" id="removecont" style="cursor:pointer;" />
                            <input type="hidden" id="contactid"
                                   data-filei="@ac.ContactId" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.Contacts.Count != 0)
    {
        @*<div style="margin-top:10px !important">
                @{Html.RenderPartial("~/Views/Shared/_PartialPager.cshtml", Model.Paging);}
            </div>*@
        <div class="col-xs-12 clearfix paging">
            @if (Model.Paging.PageNumber == 1)
                {
                <div class="col-xs-2">
                    <span>First</span>
                </div>
                <div class="col-xs-2">
                    <span><<</span>
                </div>
            }
            else
            {
                <div class="col-xs-2">
                    <a href="javascript:void(0)" onclick="OnContactsPageNumberClick(1,@(pageSize))">First</a>
                </div>
                <div class="col-xs-2">
                    <a href="javascript:void(0)" onclick="OnContactsPageNumberClick(@(Model.Paging.PageNumber-1), @pageSize)"><<</a>
                </div>
            }
            <div class="col-xs-4">
                Page @(Model.Paging.PageNumber) of @(Model.Paging.TotalPages)
            </div>
            @if (Model.Paging.PageNumber == Model.Paging.TotalPages)
                {
                <div class="col-xs-2">
                    <span>>></span>
                </div>
                <div class="col-xs-2">
                    <span>Last</span>
                </div>
            }
            else
            {
                <div class="col-xs-2">
                    <a href="javascript:void(0)" onclick="OnContactsPageNumberClick(@(Model.Paging.PageNumber+1), @(pageSize))">>></a>
                </div>
                <div class="col-xs-2">
                    <a href="javascript:void(0)" onclick="OnContactsPageNumberClick(@(Model.Paging.TotalPages), @(pageSize))">Last</a>
                </div>
            }
        </div>

    }
    <div style="display:none;" id="progress-contacts">
        <img src='@Url.Content("~/Images/progress.gif")' />
    </div>
    <div id="ContactWarningDialog" role="dialog" class="modal">

    </div>
</div>
<script type="text/javascript">
    function OnContactsPageNumberClick(pgNum, pgSize) {
        var PAGE_URL = '@Url.Action("GetContacts", "Cases")';
        $.ajax({
            url: PAGE_URL,
            dataType:'html',
            cache: false,
            data: {
                caseId:@case_id,
                pgNum:pgNum,
                pgSize:pgSize
            },
            beforeSend: function(){
                $("#progress-contacts").show();
            },
            success: function(data){
                $("#ContactsDiv").html(data);
                $("#progress-contacts").hide();
            }
        });
    }
    $("#BtnAddAscCntct").on('click', function () {
        var imageurl = '@Url.Content("~/Images/add-contact.png")';
        row = $("<tr></tr>");
        contactname = $("<td class='col-xs-3 no-padding-left'><input type='text' id='contname' class='Textbox-full-width' placeholder='Required'/></td>");
        organization = $("<td class='col-xs-4 no-padding-left'><input type='text' id='contorg' class='Textbox-full-width'/></td>");
        telephone = $("<td class='col-xs-3 no-padding-left'><input type='text' id='conttel' class='Textbox-full-width' placeholder='Required'/></td>");
        remove = $("<td><img src='" + imageurl + "' width='15' height='15' id='addcont' style='cursor:pointer;'/></td>");
        row.append(contactname, organization, telephone, remove).prependTo("#ContactsTable");
        $('#BtnAddAscCntct').prop('disabled', true);
    });

    $("#ContactsTable").on('click','td img#addcont' ,function () {
        var URL = '@Url.Action("AddContact","Cases")';
        var cName = $(this).parents('tr').find('#contname').val();
        var cOrg = $(this).parents('tr').find('#contorg').val();
        var cTel = $(this).parents('tr').find('#conttel').val();
        var pgNum =@Html.Raw(Json.Encode(Model.Paging.PageNumber));
        var pgSize = @Html.Raw(Json.Encode(Model.Paging.PageSize));;
        if(cName === '')
        {
            $(this).parents('tr').find('#contname').focus();
            return;
        }
        if(cTel === '')
        {
            $(this).parents('tr').find('#conttel').focus();
            return;
        }
        $.ajax({
            url: URL,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data:JSON.stringify({
                CaseId: @case_id,
                ContactName:cName,
                Organization:cOrg,
                Telephone:cTel,
                AddedBy:@added_by,
                IsActive: true,
                PageNumber: pgNum,
                PageSize: pgSize
            }),
            success:function(data)
            {
                $("#ContactsDiv").html(data);
                UpdateCaseActions();
            }
        });
    });

    $("#ContactsTable").on('click','td img#removecont' ,function () {
        var contactid = parseInt($(this).parents('tr').find('input[type="hidden"]').attr("data-filei"));
        var REM_URL = '@Url.Action("RemoveContact","Cases")';
        var URL = '@Url.Action("ShowWarningDialog", "Cases")';
        var pagenumber = @Html.Raw(Json.Encode(Model.Paging.PageNumber));
        var pagesize = @Html.Raw(Json.Encode(Model.Paging.PageSize));
        $.ajax({
            url: URL,
            dataType: 'html',
            data: {context:'Contact'},
            success: function (data) {
                $("#ContactWarningDialog").html(data);
                $("#ContactWarningDialog").modal();
            }
        });
        $(document).off('click',"#BtnYes").on('click',"#BtnYes" ,function () {
            $.ajax({
                url: REM_URL,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data:JSON.stringify({
                    CaseId: @case_id,
                    RemovedBy:@added_by,
                    ContactId:contactid,
                    PageNumber:pagenumber,
                    PageSize:pagesize
                }),
                success:function(data)
                {
                    $("#ContactWarningDialog").modal('hide');
                    $("#ContactsDiv").html(data);
                    UpdateCaseActions();
                }
            });
        });
        $(document).on('click','#BtnNo' ,function () {
            $("#ContactWarningDialog").modal('hide');
        });
    });

    $(document).on('keydown','#conttel',function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: Ctrl+C
            (e.keyCode == 67 && e.ctrlKey === true) ||
            // Allow: Ctrl+X
            (e.keyCode == 88 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

</script>
