﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.FileCaseViewModel

@{
    //Since Case ID is same for each document list. Get it from first index if list is not empty,
    //otherwise get it from ViewBag
    int case_id;
    int uploadedby = ViewBag.EmpId;
    int isManager = ViewBag.IsManager;
    if (Model.Params.Count > 0)
    {
        case_id = Model.Params[0].CaseId;
    }
    else
    {
        case_id = ViewBag.CaseId;
    }
    const string FILE_TYPE = "Photograph";
    string func = Model.Paging.FunctionName;

}

<div class="NewCaseViews">
    <div>
        <p><b>Photographs:</b></p>
    </div>
    <div id="UploadContainer" style="margin-top:10px;" class="col-xs-12 no-padding-sides">
        <text>Upload Photograph:</text> &nbsp;&nbsp;
        @if (ViewBag.IsNewCase)
        {
            <input type="button" value="Browse" class="button-default" disabled />
        }
        else
        {
            <input type="button" value="Browse" class="button-default" id="BtnBrowsePhoto" />
        }
        <input type="file" id="photoLoader" style="display:none;"
               accept="image/x-png, image/gif, image/jpeg" />
    </div>
    <div id="PathContainer" style="margin-top:10px;" class="col-xs-12 no-padding-sides">
        <input type="text" class="Textbox col-xs-9 no-padding-sides" id="PhotoPath" readonly />
        <div class="col-xs-1 no-padding-sides"></div>
        @if (ViewBag.IsNewCase)
        {
            <input type="button" value="Upload" class="button-default col-xs-2" disabled />
        }
        else
        {
            <input type="button" value="Upload" class="button-default col-xs-2" id="BtnUploadPhotograph" />
        }
        <div class="clearfix"></div>
        <div class="col-xs-12 no-padding-sides" style="padding-top:10px;">
            <text class="col-xs-2 no-padding-left">Notes:</text> &nbsp;
            <textarea rows="3" class="col-xs-9 no-padding-sides" style="background-color: #FFFFFF;border: 1px #C2C2C2 solid !important;" id="PhotoNotes"></textarea>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="AddedPhotosTable" style="margin-top:10px;" class="col-xs-12 no-padding-sides">
        <table class="col-xs-12" style="table-layout:fixed !important;">
            <thead>
                <tr>
                    <th class="col-xs-2 no-padding-left" style="text-align:left;">Uploaded:</th>
                    <th class="col-xs-5 no-padding-left" style="text-align:left;">File Name:</th>
                    <th class="col-xs-2 no-padding-left" style="text-align:left;">By:</th>
                    <th class="col-xs-2 no-padding-left" style="text-align:left;"></th>
                    <th class="col-xs-1 no-padding-left"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model.Params)
                {
                    <tr>
                        <td class="col-xs-2 no-padding-left">@f.DateUploaded</td>
                        <td class="col-xs-5 no-padding-left" style="text-overflow:ellipsis !important;
                                        overflow:hidden !important;">
                            @Html.ActionLink(f.FileName, "DownloadFile", "Cases",
                        new { FileName = f.FileName, CaseId = case_id, FileType = "Photograph" }, null)
                        </td>
                        <td class="col-xs-2 no-padding-left" style="text-overflow:ellipsis !important;
                                        overflow:hidden !important; white-space:nowrap !important;">
                            @f.UploadedBy
                        </td>
                        <td class="col-xs-2 no-padding-left" style="text-overflow:ellipsis !important;
                                        overflow:hidden !important; white-space:nowrap !important;">
                            <div style="cursor:pointer !important; color:blue" id="ViewPhotoNotes" >View Notes</div>

                        </td>


                    <td class="col-xs-1 no-padding-right">
                    @if (isManager == 1)
                    {
                        <img id="removephotograph" src="~/Images/clear.png" style="cursor:pointer !important" />
                    }
                    else
                    {
                        <img id="removephotograph" src="~/Images/clear.png" style="cursor:pointer !important" hidden="hidden"/>
                    }
                        <input type="hidden" id="fileparams"
                               data-filen="@f.FileName"
                               data-file="@f.FileId"
                               data-filep="@f.FilePath"
                               data-filenote="@f.Notes" />
                    </td>
                </tr>
                }
                </tbody>
                </table>
            </div>
    @if (Model.Params.Count != 0)
    {
    <div style="margin-top:10px !important">
        @{Html.RenderPartial("~/Views/Shared/_PartialPager.cshtml", Model.Paging);}
    </div>
    }

    <div class="progress-dialog" style="display:none;" id="progress-doc">
        <img src='@Url.Content("~/Images/progress.gif")' />
    </div>
    <div id="PhotoWarningDialog" role="dialog" class="modal">

    </div>
</div>


<script>
    function On@(func)PageNumberClick(pgNum, pgSize) {
        var PAGE_URL = '@Url.Action("GetFiles", "Cases")';
        $.ajax({
            url: PAGE_URL,
            dataType:'html',
            data: {
                pIntCaseId:@case_id,
                pStrType:'@FILE_TYPE',
                pIntPgeNum:pgNum,
                pIntPgSze:pgSize
            },
            beforeSend: function(){
                $("#progress-doc").show();
            },
            success: function(data){
                $("#PhotographsDiv").html(data);
                $("#progress-doc").hide();
            }
        });
    }
    var jqXHRData;
    $("#BtnBrowsePhoto").on('click',  function () {
        $("#photoLoader").click();
    });
    $("#BtnUploadPhotograph").on('click', function () {
        if (jqXHRData) {
            $("#progress").show();
            jqXHRData.submit();
        }
    });
    $('#PhotoNotes').keypress(function (e) {
        var code = e.keyCode || e.which;
        if (this.value.length >= 1000 && code != 8) {
            var newTrimedText = this.value.slice(0, 1000);
            this.value = newTrimedText;
            return false;
        }
    });
    $('#PhotoNotes').on('paste', function (e) {
        var pastedData = '';
        if (window.clipboardData && window.clipboardData.getData) { // IE
            pastedData = window.clipboardData.getData('Text');
        }
        else if (e.originalEvent.clipboardData && e.originalEvent.clipboardData.getData) { // other browsers
            pastedData = e.originalEvent.clipboardData.getData('text/plain');
        }
        //var pastedData = e.originalEvent.clipboardData.getData('text/plain');
        var trimData = pastedData.slice(0, 1000);
        if (this.value.length >= 1000) {
            return false;
        } else {
            var prevValue = this.value;
            var completeText = prevValue + trimData;
            if (completeText.length >= 1000) {
                var newTrimedText = completeText.slice(0, 1000);
                $(this).val(newTrimedText);
                return false
            }
            else {
                $(this).val(completeText);
            }
        }
        return false;
    });
    var URL = '@Url.Action("UploadFile", "Cases")';
    $('#photoLoader').fileupload({
        dataType: 'json',
        url: URL,
        formData:{caseid:@case_id, type:'@FILE_TYPE'},
        autoUpload: true,
        add: function (e, data) {
            //jqXHRData = data;
            //$("#PhotoPath").val(data.files[0].name);
            jqXHRData = data;
            var file_name = data.files[0].name;
            $("#PhotoPath").val(file_name);
            var size = (data.files[0].size/1024/1024).toFixed(2);
            if(size > 20)
            {
                jqXHRData = null;
                $("#PhotoPath").val("");
                alert('Maximum image size is 20MB');
            }
            else if(file_name.length > 100)
            {
                jqXHRData = null;
                $("#PhotoPath").val("");
                alert('Image name is too large.');
            }
        },
        done: function (event, data) {
            //var path = data.result.filePath;
            var URL = '@Url.Action("AddFileInCase","Cases")';
            var filename = data.result.filename;
            var notes=$("#PhotoNotes").val();
            $.ajax({
                url: URL,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    DateUploaded: new Date().toDateString(),
                    FileName: filename,
                    UploadedBy:'',
                    UploadedById: @uploadedby,
                    CaseId: @case_id,
                    IsActive: true,
                    Type:'@FILE_TYPE',
                    Notes:notes,
                    PageSize:5,
                    PageNumber:1
                }),
                beforeSend: function(){
                    //$("#progress").show();
                },
                success: function (data) {
                    $("#PhotographsDiv").html(data);
                    jqXHRData = null;
                    UpdateCaseActions();
                    $("#progress").hide();
                }
            });
        },
        fail: function (event, data) {
            $("#progress").hide();
            if (data.files[0].error) {
                alert(data.files[0].error);
            }
        }
    });
    $("td div#ViewPhotoNotes").on('click', function(){

        var URL = '@Url.Action("ShowNotesDialog", "Cases")';
        //console.log("Rehan");
        var Notes = $(this).parents('tr').find('input[type="hidden"]').attr("data-filenote");
        $.ajax({
            url: URL,
            data: {
                notes: Notes,
                type: "Photograph"
            },
            cache: false,
            dataType: 'html',
            success: function (data) {
                $("#docNotesDialog").html(data);
                $("#docNotesDialog").modal();
            }
        });
    });
    $("td img#removephotograph").on('click', function(){
        var fileid = parseInt($(this).parents('tr').find('input[type="hidden"]').attr("data-file"));
        var filepath = $(this).parents('tr').find('input[type="hidden"]').attr("data-filep");
        var filename = $(this).parents('tr').find('input[type="hidden"]').attr("data-filen");
        var removedby = @uploadedby;
        var pagenumber = @Html.Raw(Json.Encode(Model.Paging.PageNumber));
        var pagesize = @Html.Raw(Json.Encode(Model.Paging.PageSize));
        var type = '@FILE_TYPE';
        var REM_URL = '@Url.Action("RemoveFile","Cases")';
        var URL = '@Url.Action("ShowWarningDialog", "Cases")';
        $.ajax({
            url: URL,
            dataType: 'html',
            data: {context:'Photograph'},
            success: function (data) {
                $("#PhotoWarningDialog").html(data);
                $("#PhotoWarningDialog").modal();
            }
        });
        $(document).off('click',"#BtnYes").on('click',"#BtnYes" ,function () {
            $.ajax({
                url:REM_URL,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data:JSON.stringify({
                    CaseId: @case_id,
                    FileId: fileid,
                    FileName: filename,
                    FilePath:filepath,
                    Type: type,
                    RemovedBy:removedby,
                    PageNumber: pagenumber,
                    PageSize: pagesize
                }),
                success:function(data)
                {
                    $("#PhotoWarningDialog").modal('hide');
                    $("#PhotographsDiv").html(data);
                    UpdateCaseActions();
                }
            });
        });
        $(document).on('click','#BtnNo' ,function () {
            $("#PhotoWarningDialog").modal('hide');
        });
    });


</script>
