﻿@model IEnumerable<string>
<div>
    <div>
        <ul class="tabs" id="person-tabs">
            <li class="tab-link current" data-tab="tab-complainant">Complainants:</li><li class="tab-link" data-tab="tab-perpetrator">Perpetrators:</li>
        </ul>
        <div id="tab-complainant" class="tab-content current">
            <div id="ComplainantInputContainer">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td style="text-align:left;">
                                <text>Complainant<span class="required">*</span>:</text>
                            </td>
                            <td>
                                <div style="text-align:justify">
                                    <div style="display:inline-block; padding:0 5px 0 0;">
                                        @Html.RadioButton("Complainant", "Tenant", true) Tenant

                                    </div>
                                    <div style="display:inline-block; padding: 0 5px 0 5px;">
                                        @Html.RadioButton("Complainant", "Non-Tenant", false) Non Tenant
                                    </div>
                                    <div style="display:inline-block; padding:0 5px 0 5px;">
                                        @Html.RadioButton("Complainant", "BHG", false) BHG
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="text" id="ComplainantName" class="Textbox-full-width" /></td>
                            <td><input type="button" value="Add" class="button-default width-full" id="BtnAddCmplnt" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 no-padding-sides" style="margin-top:5px;" id="person-paging-div">

            </div>
            <div style="margin-top:5px;" id="complainantdetail">
                @Html.Action("PersonDetail", "Cases", new { pId = -1, pType = "" })
            </div>
            <div style="text-align:right; margin-top:10px;">
                <input type="button" value="Remove From Case" class="button-default" disabled id="RemoveComplainant" />
                <input type="button" value="Update" class="button-default" disabled id="UpdateComplainant" />
            </div>
        </div>
        <div id="tab-perpetrator" class="tab-content">
            <div id="PerpetratorInputContainer">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td style="text-align:left;">
                                <text>Perpetrator <span class="required">*</span>:</text>
                            </td>
                            <td>
                                <div style="text-align:justify">
                                    <div style="display:inline-block; padding:0 5px 0 0;">
                                        @Html.RadioButton("Perpetrator", "Tenant", true) Tenant

                                    </div>
                                    <div style="display:inline-block; padding: 0 5px 0 5px;">
                                        @Html.RadioButton("Perpetrator", "Non-Tenant", false) Non Tenant
                                    </div>
                                    <div style="display:inline-block; padding:0 5px 0 5px;">
                                        @Html.RadioButton("Perpetrator", "BHG", false) BHG
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.TextBox("PerpetratorName", null, new { @class = "Textbox-full-width" })</td>
                            <td><input type="button" value="Add" class="button-default width-full" id="BtnAddPerp" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @foreach (var p in Model)
            {
                <input type="hidden" name="Persons" />
            }
            <div class="col-xs-12 no-padding-sides" style="margin-top:5px;" id="person-paging-perp-div">

            </div>
            <div style="margin-top:5px;" id="perpetratordetail">
                @Html.Action("PersonDetail", "Cases", new { pId = -1, pType = "" })
            </div>
            <div style="text-align:right; margin-top:10px;">
                <input type="button" value="Remove From Case" class="button-default" disabled id="RemovePerpetrator" />
                <input type="button" value="Update" class="button-default" disabled id="UpdatePerpetrator" />
            </div>
        </div>
        <div class="col-xs-12" style="display:none;" id="progress-new-case-persons">
            <img src='@Url.Content("~/Images/progress.gif")' />
        </div>
    </div>
    <div>
        <div class="NewCaseViews">
            <div>
                <p><b>Documents:</b></p>
            </div>
            <div id="UploadContainer" style="margin-top:10px;" class="col-xs-12 no-padding-sides">
                <text>Upload Document:</text> &nbsp;&nbsp;
                <input type="button" value="Browse" class="button-default" disabled />
                <input type="file" id="fileLoader" style="display:none;"
                       accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf" />
            </div>
            <div id="PathContainer" style="margin-top:10px;" class="col-xs-12 no-padding-sides">
                <input type="text" class="Textbox col-xs-9 no-padding-sides" id="DocPath" readonly />
                <div class="col-xs-1 no-padding-sides"></div>
                <input type="button" value="Upload" class="button-default col-xs-2" disabled />
                <div style="padding-top:10px;">
                    <text class="col-xs-2 no-padding-left" style="padding-top:10px;">Notes:</text> &nbsp;
                    <textarea rows="3" class="col-xs-9 no-padding-sides" style="background-color: #FFFFFF;border: 1px #C2C2C2 solid !important;" id="DocNotes"></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <div style="margin-top:10px;" class="col-xs-12 no-padding-sides">
                <table class="width-full">
                    <thead>
                        <tr>
                            <th style="text-align:left; width:20% !important">Uploaded:</th>
                            <th style="text-align:left; width:40% !important">File Name:</th>
                            <th style="text-align:left; width:20% !important">By:</th>
                            <th style="text-align:left; width:20% !important"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="NewCaseViews">
            <div>
                <p><b>Photographs:</b></p>
            </div>
            <div id="UploadContainer" style="margin-top:10px;" class="col-xs-12 no-padding-sides">
                <text>Upload Photograph:</text> &nbsp;&nbsp;
                <input type="button" value="Browse" class="button-default" disabled />
                <input type="file" style="display:none;"
                       accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf" />
            </div>
            <div id="PathContainer" style="margin-top:10px;" class="col-xs-12 no-padding-sides">
                <input type="text" class="Textbox col-xs-9 no-padding-sides" readonly />
                <div class="col-xs-1 no-padding-sides"></div>
                <input type="button" value="Upload" class="button-default col-xs-2" disabled />
                <div style="padding-top:10px;">
                    <text class="col-xs-2 no-padding-left" style="padding-top:10px;">Notes:</text> &nbsp;
                    <textarea rows="3" class="col-xs-9 no-padding-sides" style="background-color: #FFFFFF;border: 1px #C2C2C2 solid !important;" id="PhotoNotes" ></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <div style="margin-top:10px;" class="col-xs-12 no-padding-sides">
                <table class="width-full">
                    <thead>
                        <tr>
                            <th style="text-align:left; width:20% !important">Uploaded:</th>
                            <th style="text-align:left; width:40% !important">File Name:</th>
                            <th style="text-align:left; width:20% !important">By:</th>
                            <th style="text-align:left; width:20% !important"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="NewCaseViews">
            <div class="col-xs-12 no-padding-sides">
                <p class="col-xs-11 no-padding-sides pull-left"><b>Contacts:</b></p>
                <input type="button" value="+" class="button-default col-xs-1 no-padding-sides pull-right" disabled />
            </div>

            <div id="AddedDocsTable" class="col-xs-12 no-padding-sides">
                <table style="margin-top:10px;" class="width-full">
                    <thead>
                        <tr>
                            <th style="text-align:left; width:33% !important;">Name:</th>
                            <th style="text-align:left; width:33% !important;">Organization:</th>
                            <th style="text-align:left; width:33% !important;">Tel:</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.TextBox("Name", null, new { @class = "Textbox-full-width readonly", @readonly = "readonly" })</td>
                            <td>@Html.TextBox("Organization", null, new { @class = "Textbox-full-width readonly", @readonly = "readonly" })</td>
                            <td>@Html.TextBox("Telephone", null, new { @class = "Textbox-full-width readonly", @readonly = "readonly" })</td>

                            <td>
                                <img src="~/Images/add-contact.png" width="15" height="15" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="text-align:right; margin-top:15px;">
        <input type="submit" value="Save Case" class="button-default" />
    </div>
</div>
