﻿@model ASB_UI.ViewModels.CreateNewCase.CreateNewCaseViewModel
@{
    string DateFormatModel = ViewBag.DefDateFormatForModel;
}

<style>
    table {
        font-size: 12px;
    }

        table textarea {
            height: 150px;
        }
    /*2nd column style*/
    td:nth-child(even) {
        text-align: left;
        padding-left: 5px;
    }
    /*1st column style*/
    td:nth-child(odd) {
        text-align: left;
        padding-right: 5px;
    }

    table td {
        padding: 3px;
    }

    .top {
        vertical-align: top;
    }

    table img {
        vertical-align: bottom;
    }
</style>
<div>
    <table>
        <tbody>
            <tr>
                <td>
                    <text>ASB Case Ref:</text>
                </td>
                <td>
                    <text>(Auto Generated)</text>
                </td>
            </tr>
            <tr>
                <td>
                    <text>Date Recorded:</text>
                </td>
                <td>
                    <text>@String.Format(DateFormatModel, Model.NewCase.DateRecorded)</text>
                </td>
            </tr>
            <tr>
                <td>
                    <text>Date Reported<span class="required">*</span>:</text>
                </td>
                <td>
                    @Html.TextBoxFor(c => c.NewCase.DateReported, DateFormatModel, new
               {
                   @class = "Textbox-short ",
                   @readonly = "readonly",
               })
                    <input id="DateReportedInput" name="DateReportedInput" value="" type="hidden" , class="DatePicker" />
                </td>

            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.NewCase.DateReported)
                </td>
            </tr>
            <tr>
                <td>
                    <text>Date of Incident<span class="required">*</span>:</text>
                </td>

                <td>
                    @Html.TextBoxFor(c => c.NewCase.DateOfIncident, DateFormatModel, new
               {
                   @class = "Textbox-short ",
                   @readonly = "readonly"
               })
                    <input id="DateOfIncidentInput" name="DateOfIncidentInput" value="" type="hidden" , class="DatePicker" />
                </td>

            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.NewCase.DateOfIncident)
                </td>
            </tr>
            <tr>
                <td>
                    <text>Time of Incident<span class="required">*</span>:</text>
                </td>
                <td>
                    @Html.TextBoxFor(c => c.NewCase.TimeOfIncident, null, new
               {
                   @class = "Textbox-short"
               })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.NewCase.TimeOfIncident)
                </td>
            </tr>
            <tr>
                <td>
                    <text>Case Officer<span class="required">*</span>:</text>
                </td>
                <td>
                    @Html.DropDownListFor(
                        c => c.NewCase.SelectedCaseOfficerId,
                        new SelectList(Model.NewCase._CaseOfficers, "key", "value"),
                    "Please select", new { @class = "dropdown-new-case" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.NewCase._CaseOfficers, "", new { @style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    <text>Case Officer 2:</text>
                </td>
                <td>
                    @Html.DropDownListFor(
                        c => c.NewCase.SelectedCaseOfficerTwoId,
                        new SelectList(Model.NewCase._CaseOfficersTwo, "key", "value"),
                    "Please select", new { @class = "dropdown-new-case" })
                </td>
            </tr>
            
            <tr>
                <td>
                    <text>Vulnerability<span class="required">*</span>:</text>
                </td>
                <td>
                    @Html.DropDownListFor(
                        c => c.NewCase.SelectedCategoryId,
                        new SelectList(Model.NewCase._Categories, "key", "value"),
                    "Please select", new { @class = "dropdown-new-case" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.NewCase._Categories)
                </td>
            </tr>
            

            <tr class="VernabilityScreeningtop">
                
                <td class="top">
                    <text>Vulnerability Screening:</text>
                </td>
                <td>
                    <div id="UploadVulnerabilityDoc">
                        <text>Upload Document:</text> &nbsp;&nbsp;
                        <input type="button" value="Browse" class="button-default" id="BtnBrowseVulnerabilityDoc" />
                        
                        <input type="file" id="VulnerabilityfileLoader" style="display:none;" name="File" onchange="onChangeFilePath()"
                                accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf" />
                        <input type="text" class="Textbox col-xs-9 no-padding-sides" style="margin-top:10px;" id="VulnerabilityDocPath"  readonly />
                    </div>
                </td>
            </tr>
            <tr class="VernabilityScreeningbottom">
                <td class="top">
                    <text>Notes:</text>
                </td>
                <td>
                    <div>
                        <div>
                            @Html.TextAreaFor(c => c.fileNotes, new { @style = "background-color: #FFFFFF;border: 1px #C2C2C2 solid !important;width: 245px !important;height: 60px !important; "})
                        </div>
                            
                    </div>
                            
                </td>
                            
            </tr>
                            






                    <tr>
                            
                        <td>
                            
                            <text>Stage<span class="required">*</span>:</text>
                        </td>
                        <td>
                            @Html.DropDownListFor(
                        c => c.NewCase.SelectedStageId,
                        new SelectList(Model.NewCase._Stages, "key", "value"),
                    "Please Select", new { @class = "dropdown-new-case", @onchange = "FillCategory()" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(model => model.NewCase._Stages)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text>Sub Category:</text>
                        </td>
                        <td>
                            @Html.DropDownListFor(
                        c => c.NewCase.SelectedSubCategoryId,
                        new SelectList(Enumerable.Empty<SelectListItem>(), "key", "value"),
                    "Please Select", new { @class = "dropdown-new-case", @onchange = "FillType()" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text>Type:</text>
                        </td>
                        <td>
                            @Html.DropDownListFor(
                        c => c.NewCase.SelectedTypeId,
                        new SelectList(Enumerable.Empty<SelectListItem>(), "key", "value"),
                    "Please Select", new { @class = "dropdown-new-case", @onchange = "FillSubType()" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text>Sub Type:</text>
                        </td>
                        <td>
                            @Html.DropDownListFor(
                        c => c.NewCase.SelectedSubTypeId,
                        new SelectList(Enumerable.Empty<SelectListItem>(), "key", "value"),
                    "Please Select", new { @class = "dropdown-new-case" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text>Incident<span class="required">*</span>:</text>
                        </td>
                        <td>
                            @Html.DropDownListFor(
                        c => c.NewCase.SelectedIncidentTypeId,
                        new SelectList(Model.NewCase._TypeOfIncident, "key", "value"),
                    "Please Select", new { @class = "dropdown-new-case" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(model => model.NewCase._TypeOfIncident)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text>Risk Level@*<span class="required">*</span>*@:</text>
                        </td>
                        <td>
                            @Html.DropDownListFor(
                        c => c.NewCase.SelectedRiskLevelId,
                        new SelectList(Model.NewCase._LevelOfRisks, "key", "value"),
                    "Please select", new { @class = "dropdown-new-case" })
                        </td>
                    </tr>
                    @*<tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.NewCase._LevelOfRisks)
                </td>
            </tr>*@
                    <tr>
                        <td class="top">
                            <text>Incident Description<span class="required">*</span>:</text>
                        </td>
                        <td>
                            @Html.TextAreaFor(c => c.NewCase.IncidentDescription, new { @class = "Textarea" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(model => model.NewCase.IncidentDescription)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text>Police Notified?<span class="required">*</span>:</text>
                        </td>
                        <td>
                            @Html.DropDownListFor(
                            c => c.NewCase.SelectedPoliceNotifyId,
                            new SelectList(Model.NewCase.IsPoliceNotified, "key", "value"),
                        "Please select", new { @class = "dropdown-new-case" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(model => model.NewCase.IsPoliceNotified)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text>Crime Case Number:</text>
                        </td>
                        <td>
                            @Html.TextBoxFor(c => c.NewCase.CrimeCaseNo, new { @class = "Textbox" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text>Next Action<span class="required">*</span>:</text>
                        </td>
                        <td>
                            @Html.TextBoxFor(c => c.NewCase.NextFollowUp, DateFormatModel, new
               {
                   @class = "Textbox-short",
                   @readonly = "readonly",
               })
                            <input id="NextFollowupInput" name="NextFollowupInput" value="" type="hidden" class="DatePicker" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(model => model.NewCase.NextFollowUp)
                        </td>
                    </tr>
                    <tr>
                        <td class="top">
                            <text>Action Notes<span class="required">*</span>:</text>
                        </td>
                        <td>
                            @Html.TextAreaFor(c => c.NewCase.NextFollowUpNote, new { @class = "Textarea" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(model => model.NewCase.NextFollowUpNote)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <text>Case Closed:</text>
                        </td>
                        <td>
                            @Html.TextBoxFor(c => c.NewCase.CaseClosed, DateFormatModel, new
               {
                   @class = "Textbox-short",
                   @readonly = "readonly",
               })
                            @*<input id="CaseClosedInput" name="CaseClosedInput" value="" type="hidden" class="DatePicker" />*@
                            <img src="~/Images/calendar.png" id="clearText" />
                        </td>
                    </tr>
                    <tr>
                        <td class="top">
                            <text>Resolution Notes:</text>
                        </td>
                        <td>
                            @Html.TextAreaFor(c => c.NewCase.ResolutionNotes, new { @class = "Textarea", @readonly = "readonly" })
                        </td>
                    </tr>
</tbody>
    </table>
</div>
