﻿@model ASB_UI.Models.WebAPILayer.BusinessObjects.Person

<div id="tabsDiv">
    <div class="col-xs-12 no-padding-sides" style="margin-top:8px;">
        <table class="col-xs-12">
            <tbody>
                <tr>
                    <td>
                        <text>Name:</text>
                    </td>
                    <td>
                        <text><b>@Model.FullName</b></text>
                    </td>
                </tr>
                <tr>
                    <td>
                        <text>Tenancy Ref:</text>
                    </td>
                    <td>
                        <text>@Model.TenancyRef</text>
                    </td>
                </tr>
                <tr>
                    <td>
                        <text>Organisation:</text>
                    </td>
                    <td>
                        <text>@Model.Organization</text>
                    </td>
                </tr>
                @if (Model.PersonType == 1 || Model.PersonType==0)
                {
                <tr>
                    <td style="vertical-align:top;">
                        <text>Address:</text>
                    </td>
                    <td rowspan="3">
                        <text>@Model.Address</text><br /><br />
                        <text>@Model.City</text><br /><br />
                        <text>@Model.PostCode</text>
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td>
                        <text>Telephone(H):</text>
                    </td>
                    <td>
                        <text>@Model.TelephoneHome</text>
                    </td>
                </tr>
                <tr>
                    <td>
                        <text>Telephone(W):</text>
                    </td>
                    <td>
                        <text>@Model.TelephoneWork</text>
                    </td>
                </tr>
                <tr>
                    <td>
                        <text>Mobile(1):</text>
                    </td>
                    <td>@Model.Mobile1</td>
                </tr>
                <tr>
                    <td>
                        <text>Mobile(2):</text>
                    </td>
                    <td>@Model.Mobile2</td>
                </tr>
                <tr>
                    <td>
                        <text>Email:</text>
                    </td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>
                        <text>Alternative Contact:</text>
                    </td>
                    <td>@Model.AlternateContact</td>
                </tr>
                <tr>
                    <td>
                        <text>Telephone(C):</text>
                    </td>
                    <td>@Model.TelephoneContact</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    var person=@Model.PersonType;
    console.log(person);
    if(person==1 || person==0)
    {
        $('#UpdateComplainant').show();
        $('#UpdatePerpetrator').show();
    }
    else
    {
        $('#UpdateComplainant').hide();
        $('#UpdatePerpetrator').hide();
    }
</script>
