﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.FileCaseViewModel

@{
    //Since Case ID is same for each document list. Get it from first index if list is not empty,
    //otherwise get it from ViewBag
    int case_id;
    int uploadedby = ViewBag.EmpId;
    int isManager = ViewBag.IsManager;
    if (Model.Params.Count > 0)
    {
        case_id = Model.Params[0].CaseId;
    }
    else
    {
        case_id = ViewBag.CaseId;
    }
    const string FILE_TYPE = "Document";
    string func = Model.Paging.FunctionName;
}

<div class="NewCaseViews">
    <div>
        <p><b>Documents:</b></p>
    </div>
    <div id="UploadContainer" style="margin-top:10px;" class="col-xs-12 no-padding-sides">
        <text>Upload Document:</text> &nbsp;&nbsp;
        <input type="button" value="Browse" class="button-default" id="BtnBrowseDoc" />
        <input type="file" id="fileLoader" style="display:none;"
               accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf" />
    </div>
    <div id="PathContainer" style="margin-top:10px;" class="col-xs-12 no-padding-sides">
        <input type="text" class="Textbox col-xs-9 no-padding-sides" id="DocPath" readonly />
        <div class="col-xs-1 no-padding-sides"></div>
        <input type="button" value="Upload" class="button-default col-xs-2" id="BtnUploadDocument" />
        <div class="clearfix"></div>
        <div class="col-xs-12 no-padding-sides" style="padding-top:10px;">
            <text class="col-xs-2 no-padding-left" style="padding-top:10px;">Notes:</text> &nbsp;
            <textarea rows="3" class="col-xs-10 no-padding-sides DocNotes" style="background-color: #FFFFFF;border: 1px #C2C2C2 solid !important;" id="DocNotes"></textarea>
            
        </div>
        
    </div>
    <div class="clearfix"></div>
    <div id="AddedDocsTable" style="margin-top:10px;" class="col-xs-12 no-padding-sides">
        <table class="col-xs-12" style="table-layout:fixed !important;">
            <thead>
                <tr>
                    <th class="col-xs-2 no-padding-left" style="text-align:left;">Uploaded:</th>
                    <th class="col-xs-5 no-padding-left" style="text-align:left;">File Name:</th>
                    <th class="col-xs-2 no-padding-left" style="text-align:left;">By:</th>
                    <th class="col-xs-2 no-padding-left" style="text-align:left;"></th>
                    <th class="col-xs-1 no-padding-left"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model.Params)
                {
                    <tr>
                        <td class="col-xs-2 no-padding-left">@f.DateUploaded</td>
                        <td class="col-xs-5 no-padding-left" style="text-overflow:ellipsis !important;
                                        overflow:hidden !important;">
                            @Html.ActionLink(f.FileName, "DownloadFile", "Cases",
                                    new { FileName = f.FileName, CaseId = case_id, FileType = "Document" }, null)
                        </td>
                        <td class="col-xs-2 no-padding-left" style="text-overflow:ellipsis !important;
                                        overflow:hidden !important; white-space:nowrap !important;">
                            @f.UploadedBy
                        </td>
                        <td class="col-xs-2 no-padding-left" style="text-overflow:ellipsis !important;
                                        overflow:hidden !important; white-space:nowrap !important;">
                            <div style="cursor:pointer !important; color:blue" id="ViewDocNotes">View Notes</div>

                        </td>
                        <td class="col-xs-1 no-padding-right">
                            @if (isManager == 1)
                            {
                                <img id="removedocument" src="~/Images/clear.png" style="cursor:pointer !important" />
                            }
                            else
                            {
                                <img id="removedocument" src="~/Images/clear.png" style="cursor:pointer !important" hidden="hidden"/>
                            }
                            
                            <input type="hidden" id="fileparams"
                                   data-filen="@f.FileName"
                                   data-file="@f.FileId"
                                   data-filep="@f.FilePath"
                                   data-filenote="@f.Notes" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.Params.Count != 0)
    {
        <div style="margin-top:10px !important">
            @{Html.RenderPartial("~/Views/Shared/_PartialPager.cshtml", Model.Paging);}
        </div>
    }
    <div class="progress-dialog" style="display:none;" id="progress-doc">
        <img src='@Url.Content("~/Images/progress.gif")' />
    </div>
    <div id="DocWarningDialog" role="dialog" class="modal">
    </div>
</div>


<script type="text/javascript">
    function On@(func)PageNumberClick(pgNum, pgSize) {
        var PAGE_URL = '@Url.Action("GetFiles", "Cases")';
        $.ajax({
            url: PAGE_URL,
            dataType:'html',
            data: {
                pIntCaseId:@case_id,
                pStrType:'@FILE_TYPE',
                pIntPgeNum:pgNum,
                pIntPgSze:pgSize
            },
            beforeSend: function(){
                //$("#progress-doc").show();
            },
            success: function(data){
                $("#DocumentsDiv").html(data);
                //$("#progress-doc").hide();
            }
        });
    }
    var jqXHRData;
    $("#BtnBrowseDoc").on('click',  function () {
        $("#fileLoader").click();
    });
    $("#BtnUploadDocument").on('click', function () {
        if (jqXHRData) {
            $("#progress").show();
            jqXHRData.submit();
        }
    });
    $('#DocNotes').keypress(function (e) {
        var code = e.keyCode || e.which;
        if (this.value.length >= 1000 && code != 8) {
            var newTrimedText = this.value.slice(0, 1000);
            this.value = newTrimedText;
            return false;
        }
    });
    $('#DocNotes').on('paste', function (e) {
        var pastedData = '';
        if (window.clipboardData && window.clipboardData.getData) { // IE
            pastedData = window.clipboardData.getData('Text');
        }
        else if (e.originalEvent.clipboardData && e.originalEvent.clipboardData.getData) { // other browsers
            pastedData = e.originalEvent.clipboardData.getData('text/plain');
        }
        //var pastedData = e.originalEvent.clipboardData.getData('text/plain');
        var trimData = pastedData.slice(0, 1000);
        if (this.value.length >= 1000) {
            return false;
        } else {
            var prevValue = this.value;
            var completeText = prevValue + trimData;
            if (completeText.length >= 1000) {
                var newTrimedText = completeText.slice(0, 1000);
                $(this).val(newTrimedText);
                return false
            }
            else {
                $(this).val(completeText);
            }
        }
        return false;
    });

    var URL = '@Url.Action("UploadFile", "Cases")';
    $('#fileLoader').fileupload({
        dataType: 'json',
        url: URL,
        formData:{caseid:@case_id, type:'@FILE_TYPE'},
        autoUpload: true,
        add: function (e, data) {
            jqXHRData = data;
            var file_name = data.files[0].name;
            $("#DocPath").val(file_name);
            var size = (data.files[0].size/1024/1024).toFixed(2);
            if(size > 20)
            {
                jqXHRData = null;
                $("#DocPath").val("");
                alert('Maximum file limit is 20MB');
            }
            else if(file_name.length > 100)
            {
                jqXHRData = null;
                $("#DocPath").val("");
                alert('File name is too large.');
            }
        },
        done: function (event, data) {
            //var path = data.result.filePath;
            var URL = '@Url.Action("AddFileInCase","Cases")';
            //var filename = data.files[0].name;
            var filename = data.result.filename;
            var notes=$("#DocNotes").val();
            $.ajax({
                url: URL,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    DateUploaded: new Date().toDateString(),
                    FileName: filename,
                    UploadedBy:'',
                    UploadedById: @uploadedby,
                    CaseId: @case_id,
                    IsActive: true,
                    Type:'@FILE_TYPE',
                    Notes:notes,
                    PageSize:5,
                    PageNumber:1
                }),
                beforeSend: function(){
                    //$("#progress").show();
                },
                success: function (data) {
                    $("#DocumentsDiv").html(data);
                    jqXHRData = null;
                    UpdateCaseActions();
                    $("#progress").hide();
                }
            });
        },
        fail: function (event, data) {
            $("#progress").hide();
            if (data.files[0].error) {
                alert(data.files[0].error);
            }
        }
    });

    

    $("td div#ViewDocNotes").on('click', function(){

        var URL = '@Url.Action("ShowNotesDialog", "Cases")';
        var Notes = $(this).parents('tr').find('input[type="hidden"]').attr("data-filenote");
        $.ajax({
            url: URL,
            data: {
                notes: Notes,
                type: "Document"
            },
            cache: false,
            dataType: 'html',
            success: function (data) {
                $("#docNotesDialog").html(data);
                $("#docNotesDialog").modal();
            }
        });
    });

    $("td img#removedocument").on('click', function(){
        var fileid = parseInt($(this).parents('tr').find('input[type="hidden"]').attr("data-file"));
        var filepath = $(this).parents('tr').find('input[type="hidden"]').attr("data-filep");
        var filename = $(this).parents('tr').find('input[type="hidden"]').attr("data-filen");
        var removedby = @uploadedby;
        var pagenumber = @Html.Raw(Json.Encode(Model.Paging.PageNumber));
        var pagesize = @Html.Raw(Json.Encode(Model.Paging.PageSize));
        var type = '@FILE_TYPE';
        var REM_URL = '@Url.Action("RemoveFile","Cases")';
        var URL = '@Url.Action("ShowWarningDialog", "Cases")';
        $.ajax({
            url: URL,
            dataType: 'html',
            data: {context:'Document'},
            success: function (data) {
                $("#DocWarningDialog").html(data);
                $("#DocWarningDialog").modal();
            }
        });
        $(document).off('click',"#BtnYes").on('click',"#BtnYes" ,function () {
            $.ajax({
                url:REM_URL,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data:JSON.stringify({
                    CaseId: @case_id,
                    FileId: fileid,
                    FileName: filename,
                    FilePath:filepath,
                    Type: type,
                    RemovedBy:removedby,
                    PageNumber: pagenumber,
                    PageSize: pagesize
                }),
                success:function(data)
                {
                    $("#DocWarningDialog").modal('hide');
                    $("#DocumentsDiv").html(data);
                    UpdateCaseActions();
                }
            });
        });
        $(document).on('click','#BtnNo' ,function () {
            $("#DocWarningDialog").modal('hide');
        });


    });

</script>
