﻿@model ASB_UI.ViewModels.CreateNewCase.SubViewModels.PreviousCasesViewModel
@{
    int prevCases = Model.PreviousCases.Count();
}

<div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
        <div style="padding:5px;" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <p>The selected complainant/perpetrator has the following Associated ASB Case(s):</p>
                    </div>

                    <div id="table" style="margin-top:8px !important;">
                        <table class="col-xs-12" id="TblPreviousCases">
                            <thead>
                                <tr>
                                    <th>Ref:</th>
                                    <th>Type:</th>
                                    <th>Incident:</th>
                                    <th>Vulnerability:</th>
                                    <th>Case Type:</th>
                                    <th>Status:</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var c in Model.PreviousCases)
                                {
                                    <tr>
                                        <td>@c.Ref</td>
                                        <td>@c.PersonRole</td>
                                        <td>@c.IncidentDate</td>
                                        <td>@c.Category</td>
                                        <td>@c.IncidentType</td>
                                        <td>@c.Status</td>
                                        @*<td><a href="javascript:void(0)" id="@c.Ref" class="ViewClass">VIEW</a></td>*@
                                        <td>@Html.ActionLink("VIEW", "ViewCaseDetail", "Cases", new { caseId = c.Ref }, new { target = "_blank" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    @if (prevCases != 0)
            {
                        <div style="margin-top:10px;">
                            @{Html.RenderPartial("~/views/shared/_PartialPager.cshtml", Model.Paging);}
                        </div>
                                }
                </div>
                <div class="modal-footer">
                    <input type="button" id="BtnClosePrevCasesWindow" value="Close Window" class="button-default pull-right" />
                </div>
            </div>
        </div>
    </div>
</div>
        

        <script>
            $(".ViewClass").on('click', function () {
                var id = parseInt($(this).attr('id'));
                $("#prevCasesDialog").dialog("close");
                var URL = '@Url.Action("ViewCaseDetail", "Cases")';
                $.ajax({
                    url: URL,
                    data: { caseId: id },
                    success: function (data) {
                        $("#detailContainer").html(data);
                    }
                });
            });
        </script>
