﻿@model ASB_UI.Models.WebAPILayer.BusinessObjects.Person
<div class="col-xs-12 no-padding-sides" style="margin-top:8px;" id="add-new-person-div">
    <table class="col-xs-12">
        <tr>
            <td class="col-xs-4 no-padding-sides">
                <text>Title:</text>
            </td>
            <td class="col-xs-8">
                @Html.DropDownListFor(
                        p => p.Titles,
                        new SelectList(Model.Titles, "key", "value", 1),"Please select", new { @class = "dropdown-new-case", style = "width: 100% !important;" })
            </td>
        </tr>
        <tbody>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Name<span class="required">*</span>:</text>
                </td>
                <td class="col-xs-8">
                    @Html.TextBoxFor(p => p.Name, new { @class = "Textbox-full-width", placeholder = Model.Name })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Type:</text>
                </td>
                <td class="col-xs-8">
                    @Html.DropDownListFor(
                        p => p.PersonType,
                        new SelectList(Model.Types, "key", "value", 1), "Please select", new { @class = "dropdown-new-case", style = "width: 100% !important;" })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Tenancy Ref:</text>
                </td>
                <td class="col-xs-8">
                    @Html.TextBoxFor(p => p.TenancyRef, new { @class = "Textbox-full-width" })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Organisation:</text>
                </td>
                <td class="col-xs-8">
                    @Html.TextBoxFor(p => p.Organization, new { @class = "Textbox-full-width" })
                </td>
            </tr>
            @if (Model.PersonType == 1 || Model.PersonType == 0)
            {
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Address<span class="required">*</span>:</text>
                </td>
                <td class="col-xs-8">
                    @Html.TextBoxFor(p => p.Address1, new { @class = "Textbox-full-width" })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text></text>
                </td>
                <td class="col-xs-8">
                    @Html.TextBoxFor(p => p.Address2, new { @class = "Textbox-full-width" })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>City:</text>
                </td>
                <td class="col-xs-8">
                    @Html.TextBoxFor(p => p.City, new { @class = "Textbox-full-width" })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Post Code:</text>
                </td>
                <td class="col-xs-8">
                    @Html.TextBoxFor(p => p.PostCode, new { @class = "Textbox-full-width" })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Telephone(H):</text>
                </td>
                <td class="col-xs-8">
                    @Html.TextBoxFor(p => p.TelephoneHome, new { @class = "Textbox-full-width" })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Telephone(W):</text>
                </td>
                <td class="col-xs-8">
                    @Html.TextBoxFor(p => p.TelephoneWork, new { @class = "Textbox-full-width" })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Mobile(1):</text>
                </td>
                <td class="col-xs-8">
                    @Html.TextBoxFor(p => p.Mobile1, new { @class = "Textbox-full-width" })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Mobile(2):</text>
                </td>
                <td class="col-xs-8">
                    @Html.TextBoxFor(p => p.Mobile2, new { @class = "Textbox-full-width" })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Email:</text>
                </td>
                <td class="col-xs-8">
                    @Html.TextBoxFor(p => p.Email, new { @class = "Textbox-full-width" })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Alternative Contact:</text>
                </td>
                <td class="col-xs-8">
                    @Html.TextBoxFor(p => p.AlternateContact, new { @class = "Textbox-full-width" })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Telephone(C):</text>
                </td>
                <td class="col-xs-8">
                    @Html.TextBoxFor(p => p.TelephoneContact, new { @class = "Textbox-full-width" })
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="col-xs-12 clearfix" style="margin-top:5px;">
        <input type="button" value="Save" class="button-default pull-right" id="BtnSaveNewPerson" @*onclick="OnSaveNewPerson();"*@/>
    </div>
    <div style="display:none;" id="progress-add-person">
        <img src='@Url.Content("~/Images/progress.gif")' />
    </div>
</div>
<script>
    $(document).on('keydown', '#TelephoneHome', function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: Ctrl+C
            (e.keyCode == 67 && e.ctrlKey === true) ||
            // Allow: Ctrl+X
            (e.keyCode == 88 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    $(document).on('keydown', '#TelephoneWork', function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: Ctrl+C
            (e.keyCode == 67 && e.ctrlKey === true) ||
            // Allow: Ctrl+X
            (e.keyCode == 88 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    $(document).on('keydown', '#Mobile1', function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: Ctrl+C
            (e.keyCode == 67 && e.ctrlKey === true) ||
            // Allow: Ctrl+X
            (e.keyCode == 88 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    $(document).on('keydown', '#Mobile2', function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: Ctrl+C
            (e.keyCode == 67 && e.ctrlKey === true) ||
            // Allow: Ctrl+X
            (e.keyCode == 88 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    $(document).on('keydown', '#TelephoneContact', function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: Ctrl+C
            (e.keyCode == 67 && e.ctrlKey === true) ||
            // Allow: Ctrl+X
            (e.keyCode == 88 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>

