﻿@model ASB_UI.Models.WebAPILayer.BusinessObjects.Person
    @{ 
        int personid = Model.Id;
        string type = ViewBag.PersonType;
    }
<div class="col-xs-12 no-padding-sides" style="margin-top:8px;" id="update-person-div">
    <input type="hidden" id="UpdtPersonId" value='@personid' data-id='@personid'/>
    <input type="hidden" id="UpdtPersonType" value="@type" />
    <table class="col-xs-12">
        <tbody>
            <tr>
                <td>
                    <text>Name:</text>
                </td>
                <td>
                    <text><b>@Model.FullName</b></text>
                </td>
            </tr>
            <tr>
                <td>
                    <text>Tenancy Ref:</text>
                </td>
                <td>
                    <text>@Model.TenancyRef</text>
                </td>
            </tr>
            <tr>
                <td>
                    <text>Organisation:</text>
                </td>
                <td>
                    <text>@Model.Organization</text>
                </td>
            </tr>
            @if (Model.PersonType == 1 || Model.PersonType == 0)
            {
            <tr>
                <td style="vertical-align:top;">
                    <text>Address:</text>
                </td>
                <td rowspan="3">
                    <text>@Model.Address</text><br /><br />
                    <text>@Model.City</text><br /><br />
                    <text>@Model.PostCode</text>
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Telephone(H):</text>
                </td>
                <td class="col-xs-8 no-padding-sides">
                    @Html.TextBoxFor(p => p.TelephoneHome, new { @class = "Textbox-full-width", placeholder = Model.TelephoneHome })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Telephone(W):</text>
                </td>
                <td class="col-xs-8 no-padding-sides">
                    @Html.TextBoxFor(p => p.TelephoneWork, new { @class = "Textbox-full-width", placeholder = Model.TelephoneWork })
                </td>
            </tr>
            <tr>
                <td>
                    <text>Mobile(1):</text>
                </td>
                <td>@Model.Mobile1</td>
            </tr>
            <tr>
                <td>
                    <text>Mobile(2):</text>
                </td>
                <td>@Model.Mobile2</td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Email:</text>
                </td>
                <td class="col-xs-8 no-padding-sides">
                    @Html.TextBoxFor(p => p.Email, new { @class = "Textbox-full-width", placeholder = Model.Email })
                </td>
            </tr>
            <tr>
                <td class="col-xs-4 no-padding-sides">
                    <text>Alternative Contact:</text>
                </td>
                <td class="col-xs-8 no-padding-sides">
                    @Html.TextBoxFor(p => p.AlternateContact, new { @class = "Textbox-full-width", placeholder = Model.AlternateContact })
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="col-xs-12 clearfix" style="margin-top:5px;">
        <input type="button" value="Update" class="button-default pull-right" id="BtnUpdatePerson" />
    </div>
</div>

<script>
    $(document).on('keydown', '#TelephoneHome', function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: Ctrl+C
            (e.keyCode == 67 && e.ctrlKey === true) ||
            // Allow: Ctrl+X
            (e.keyCode == 88 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    $(document).on('keydown', '#TelephoneWork', function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: Ctrl+C
            (e.keyCode == 67 && e.ctrlKey === true) ||
            // Allow: Ctrl+X
            (e.keyCode == 88 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>

