﻿<div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Warning</div>
                <div class="modal-body">
                    <p>
                        Do you really want to remove this <span>@ViewBag.RemoveType</span>?
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="button" id="BtnYes" value="Yes" class="button-default" />
                    <input type="button" id="BtnNo" value="No" class="button-default" />
                </div>
            </div>
        </div>
    </div>
</div>
        
