﻿@model ASB_UI.ViewModels.CreateNewCase.CreateNewCaseViewModel

@{
    ViewBag.Title = "Case";
    string dateFormat = ViewBag.DefDateFormat;
}
@using (Html.BeginForm("SaveCase", "Cases", FormMethod.Post, new { id = "SaveCaseForm", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div>
        <div>
            <div id="header-asb" class="clearfix col-xs-11">
                <b style="color:white">Create New Case:</b>
                <input type="submit" value="Save Case" id="SaveCase" class="pull-right" />
            </div>
        </div>
        <div class="col-xs-11" style="margin-top:10px;">
            <div class="col-xs-6">
                <div>
                    @{Html.RenderPartial("~/Views/Cases/_PartialNewCaseForm.cshtml", Model);}
                </div>
            </div>
            <div class="col-xs-6">
                @{Html.RenderPartial("~/Views/Cases/_PartialNewCaseDetails.cshtml", Model.Persons);}
            </div>
            <div id="prevCasesDialog" role="dialog" class="modal" data-keyboard="false" data-backdrop="static">
                @{Html.RenderPartial("~/Views/Cases/_PartialPreviousCases.cshtml", Model.PrevCasesVM);}
            </div>
        </div>
    </div>
    <div class="col-xs-12 progress-dialog" style="display:none;" id="progress-save-case">
        <img src='@Url.Content("~/Images/progress.gif")' />
    </div>
                    }
<script>
    function onChangeFilePath() {
        var filename = $("#VulnerabilityfileLoader").val().split('\\').pop();
        $("#VulnerabilityDocPath").val(filename);
    }
    $(document).ready(function () {

        $("#BtnBrowseVulnerabilityDoc").on('click', function () {
            $("#VulnerabilityfileLoader").click();
        });

        $('#fileNotes').keypress(function (e) {
            var code = e.keyCode || e.which;
            if (this.value.length >= 1000 && code != 8) {
                var newTrimedText = this.value.slice(0, 1000);
                this.value = newTrimedText;
                return false;
            }
        });
        $('#fileNotes').on('paste', function (e) {
            var pastedData = '';
            if (window.clipboardData && window.clipboardData.getData) { // IE
                pastedData = window.clipboardData.getData('Text');
            }
            else if (e.originalEvent.clipboardData && e.originalEvent.clipboardData.getData) { // other browsers
                pastedData = e.originalEvent.clipboardData.getData('text/plain');
            }
            //var pastedData = e.originalEvent.clipboardData.getData('text/plain');
            var trimData = pastedData.slice(0, 1000);
            if (this.value.length >= 1000) {
                return false;
            } else {
                var prevValue = this.value;
                var completeText = prevValue + trimData;
                if (completeText.length >= 1000) {
                    var newTrimedText = completeText.slice(0, 1000);
                    $(this).val(newTrimedText);
                    return false
                }
                else {
                    $(this).val(completeText);
                }
            }
            return false;
        });

        $('#NewCase_NextFollowUpNote').keypress(function (e) {
            var code = e.keyCode || e.which;
            if (this.value.length >= 1000 && code != 8) {
                var newTrimedText = this.value.slice(0, 1000);
                this.value = newTrimedText;
                return false;
            }
        });
        $('#NewCase_NextFollowUpNote').on('paste', function (e) {
            var pastedData = '';
            if (window.clipboardData && window.clipboardData.getData) { // IE
                pastedData = window.clipboardData.getData('Text');
            }
            else if (e.originalEvent.clipboardData && e.originalEvent.clipboardData.getData) { // other browsers
                pastedData = e.originalEvent.clipboardData.getData('text/plain');
            }
            //var pastedData = e.originalEvent.clipboardData.getData('text/plain');
            var trimData = pastedData.slice(0, 1000);
            if (this.value.length >= 1000) {
                return false;
            } else {
                var prevValue = this.value;
                var completeText = prevValue + trimData;
                if (completeText.length >= 1000) {
                    var newTrimedText = completeText.slice(0, 1000);
                    $(this).val(newTrimedText);
                    return false
                }
                else {
                    $(this).val(completeText);
                }
            }
            return false;
        });
        $('#NewCase_IncidentDescription').keypress(function (e) {
            var code = e.keyCode || e.which;
            if (this.value.length >= 1000 && code != 8) {
                var newTrimedText = this.value.slice(0, 1000);
                this.value = newTrimedText;
                return false;
            }
        });
        $('#NewCase_IncidentDescription').on('paste', function (e) {
            var pastedData = '';
            if (window.clipboardData && window.clipboardData.getData) { // IE
                pastedData = window.clipboardData.getData('Text');
            }
            else if (e.originalEvent.clipboardData && e.originalEvent.clipboardData.getData) { // other browsers
                pastedData = e.originalEvent.clipboardData.getData('text/plain');
            }
            var trimData = pastedData.slice(0, 1000);
            if (this.value.length >= 1000) {
                return false;
            } else {
                var prevValue = this.value;
                var completeText = prevValue + trimData;
                if (completeText.length >= 1000) {
                    var newTrimedText = completeText.slice(0, 1000);
                    $(this).val(newTrimedText);
                    return false
                }
                else {
                    $(this).val(completeText);
                }
            }
            return false;
        });

        var _personId;
        var _personType;
        var personRole = $('input[name=Complainant]:checked').val();
        $('#person-tabs li').on('click', function () {
            var tab_id = $(this).attr('data-tab');
            $('#person-tabs li').removeClass('current');
            if (tab_id == 'tab-complainant') {
                $('#tab-perpetrator').removeClass('current');
                var type = $("#person-paging-div > a.active").attr("data-ptype");
                if (type == "Customer") {
                    $('#UpdateComplainant').show();
                }
                else {
                    $('#UpdateComplainant').hide();
                }
            } else {
                $('#tab-complainant').removeClass('current');
                var type = $("#person-paging-perp-div > a.active").attr("data-ptype");
                if (type == "Customer") {
                    $('#UpdatePerpetrator').show();
                }
                else {
                    $('#UpdatePerpetrator').hide();
                }
            }
            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        });
        $("#ComplainantName").autocomplete({
            source: function (request, response) {
                var fltr = $("input[name=Complainant]:checked").val();

                if (fltr === "Non-Tenant") {
                    fltr = "NonTenant";
                }
                $.ajax({
                    url: '@Url.Action("SearchPerson","Cases")',
                    type: "POST",
                    dataType: "json",
                    data: {
                        input: request.term,
                        filter: fltr
                    },
                    success: function (data) {
                        var a = $.map(data, function (item) {
                            personId = item.PersonId;
                            personType = item.personType;
                            return {
                                label: item.PersonName + " " + item.Address1,
                                value: item.PersonName,
                                data: item
                            };
                        });
                        response(a);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                _personId = ui.item.data.PersonId;
                _personType = ui.item.data.personType;
                var exist = IsPersonExist(parseInt(_personId), _personType);
                if (exist) {
                    alert('Already added in the list');
                    $(this).val('');
                    _personId = null;
                    _personType = null;
                    return false;
                } else {
                    if ($("input[name=Complainant]:checked").val() == "BHG") {
                        $("#progress-save-case").show();
                        HasPreviousCases(_personId, _personType, "Complainant");
                    }
                }
            }
        });

        //If previous cases exists
        function HasPreviousCases(personId, persontype, personrole) {
            var action = '@Url.Action("PreviousCases")';
            $.ajax({
                url: action,
                data: { pid: personId, ptype: persontype, prole: personrole, pnum: 1, psize: 5 },
                dataType: 'html',
                cache: false,
                success: function (data) {
                    //Previous Cases exist. Show in Dialog
                    $("#progress-save-case").hide();
                    $("#prevCasesDialog").modal();
                    $("#prevCasesDialog").html(data)
                    $("#BtnClosePrevCasesWindow").on("click", function (event) {
                        console.log("Close prev")
                        console.log(personId + " " + persontype)
                        event.preventDefault();
                        $("#prevCasesDialog").modal('hide');
                        $("#progress-new-case-persons").show();
                        PopulateDetails(personId, persontype, personrole);
                        $("#progress-new-case-persons").hide();
                        if (personrole == "Complainant") {
                            $("#ComplainantName").val("");
                            _personId = null;
                            _personType = null;
                            return;
                        } else {
                            $("#PerpetratorName").val("");
                            _perpId = null;
                            _perpType = null;
                        }
                        $(this).off(event);
                    });
                    //ShowPreviousCasesDialog(personId, persontype, personrole);
                },
                error: function () {
                    $("#progress-save-case").hide();
                    //No Previous Cases. Populate Details.
                    //PopulateDetails(personId, persontype, personrole);
                }
            });
        }
        function PopulateDetails(personId, persontype, personrole) {
            $.ajax({
                url: '@Url.Action("PersonDetail")',
                data: { pId: personId, pType: persontype },
                dataType: 'html',
                cache: false,
                success: function (data) {
                    //console.log(persontype);
                    if (personrole === "Perpetrator") {
                        $("#perpetratordetail").html(data);

                    } else {
                        $("#complainantdetail").html(data);

                    }
                    ManageListing(personId, persontype, personrole);
                }
            });
        }


        $("#BtnAddCmplnt").on('click', function (event) {
            event.preventDefault();
            if ($.trim($('#ComplainantName').val()) == '') {
                alert('Complainant is required');
                return;
            } else {
                if (_personId == null && _personType == null) {
                    var fltr = $("input[name=Complainant]:checked").val();
                    if (fltr == "Non-Tenant" && _personId == null) {
                        $.ajax({
                            url: '@Url.Action("NewPersonForm")',
                            dataType: 'html',
                            cache: false,
                            data: { name: $.trim($('#ComplainantName').val()) },
                            success: function (data) {
                                $("#complainantdetail").html(data);
                            }
                        });
                        return;
                    } else {
                        alert('Person with this Name does not exist');
                        return;
                    }
                } else {
                    if ($("input[name=Complainant]:checked").val() != "BHG") {
                        if (IsPersonExist(_personId, "Customer")) {
                            alert("Already added in the list");
                            return;
                        } else {
                            //ShowPreviousCasesDialog(_personId, "Customer", "Complainant");
                            $("#progress-save-case").show();
                            HasPreviousCases(_personId, "Customer", "Complainant");
                            _personId = null;
                            _personType = null;
                            $("#ComplainantName").val("");
                            return;
                        }
                    } else {
                        if (IsPersonExist(_personId, "Employee")) {
                            alert("Already added in the list");
                            return;
                        } else {
                            //ShowPreviousCasesDialog(_personId, "Employee", "Complainant");
                            $("#progress-save-case").show();
                            HasPreviousCases(_personId, "Employee", "Complainant");
                            _personId = null;
                            _personType = null;
                            $("#ComplainantName").val("");
                            return;
                        }
                    }
                }
            }
        });
        $("#BtnAddPerp").on('click', function (event) {
            event.preventDefault();
            if ($.trim($('#PerpetratorName').val()) == '') {
                alert('Perpetrator is required');
                return;
            } else {
                if (_perpId == null && _perpType == null) {
                    var fltr = $("input[name=Perpetrator]:checked").val();
                    if (fltr == "Non-Tenant" && _perpId == null) {
                        $.ajax({
                            url: '@Url.Action("NewPersonForm")',
                            dataType: 'html',
                            cache: false,
                            data: { name: $.trim($('#PerpetratorName').val()) },
                            success: function (data) {
                                $("#perpetratordetail").html(data);
                            }
                        });
                        return;
                    } else {
                        alert('Person with this Name does not exist');
                        return;
                    }
                } else {
                    if ($("input[name=Perpetrator]:checked").val() != "BHG") {
                        if (IsPersonExist(_perpId, "Customer")) {
                            alert("Already added in the list");
                            return;
                        } else {
                            //ShowPreviousCasesDialog(_perpId, "Customer", "Perpetrator");
                            $("#progress-save-case").show();
                            HasPreviousCases(_perpId, "Customer", "Perpetrator");
                            _perpId = null;
                            _perpType = null;
                            $("#PerpetratorName").val("");
                            return;
                        }
                    } else {
                        if (IsPersonExist(_perpId, "Employee")) {
                            alert("Already added in the list");
                            return;
                        } else {
                            //ShowPreviousCasesDialog(_perpId, "Employee", "Perpetrator");
                            $("#progress-save-case").show();
                            HasPreviousCases(_perpId, "Employee", "Perpetrator");
                            _perpId = null;
                            _perpType = null;
                            $("#PerpetratorName").val("");
                            return;
                        }
                    }
                }
            }
        });

        function ManageListing(personId, persontype, personrole) {

            if (personrole === "Perpetrator") {
                var num_pages = $('#person-paging-perp-div > a').length + 1;
                $("#person-paging-perp-div > a").removeClass("active");
                $('#person-paging-perp-div').append(
                        '<a href="#" class="page active" id="' + num_pages + '" data-number = ' + personId +
                                        ' data-ptype=' + persontype + ' data-prole=' + personrole + '>' + num_pages + '</a> ' +
                                        '<input type="hidden" name="Persons" value="' + personId + ',' + persontype + ',' + personrole + '" class="' + num_pages + '"/>');

                if (num_pages >= 1) {
                    $("#RemovePerpetrator").prop('disabled', false);
                    $("#UpdatePerpetrator").prop('disabled', false);
                }
                if (num_pages === 15) {
                    $("#PerpetratorName").val("");
                    $("#PerpetratorName").addClass('readonly');
                    $("#PerpetratorName").prop('disabled', true);
                }
            } else {
                var num_pages = $('#person-paging-div > a').length + 1;
                $("#person-paging-div > a").removeClass("active");
                $('#person-paging-div').append(
                        '<a href="#" class="page active" id="' + num_pages + '" data-number = ' + personId +
                                        ' data-ptype=' + persontype + ' data-prole=' + personrole + '>' + num_pages + '</a> ' +
                                        '<input type="hidden" name="Persons" value="' + personId + ',' + persontype + ',' + personrole + '" class="' + num_pages + '"/>');

                if (num_pages >= 1) {
                    $("#RemoveComplainant").prop('disabled', false);
                    $("#UpdateComplainant").prop('disabled', false);
                }
                if (num_pages === 15) {
                    $("#ComplainantName").val("");
                    $("#ComplainantName").addClass('readonly');
                    $("#ComplainantName").prop('disabled', true);
                }
            }
        }

        $("#UpdateComplainant").on('click', function (event) {
            //console.log("comp");
            event.preventDefault();
            var URL = '@Url.Action("PersonUpdateViewNewCase")';
            var pID = $("#person-paging-div > a.active").attr("id");
            var id = $("#person-paging-div > a.active").attr("data-number");
            var type = $("#person-paging-div > a.active").attr("data-ptype");
            var ppid = parseInt(id);

            $.ajax({
                url: URL,
                data: { pId: ppid, pType: type },
                dataType: 'html',
                cache: false,
                beforeSend: function () {
                    $("#progress-save-case").show();
                },
                success: function (data) {
                    $("#complainantdetail").html(data);
                    $("#RemoveComplainant").prop('disabled', true);
                    $("#UpdateComplainant").prop('disabled', true);
                    $("#progress-save-case").hide();
                }
            });
        });
        $("#UpdatePerpetrator").on('click', function (event) {
            //console.log("prep");
            event.preventDefault();
            var URL = '@Url.Action("PersonUpdateViewNewCase")';
            var pID = $("#person-paging-perp-div > a.active").attr("id");
            var id = $("#person-paging-perp-div > a.active").attr("data-number");
            //console.log(id);
            var type = $("#person-paging-perp-div > a.active").attr("data-ptype");
            var ppid = parseInt(id);

            $.ajax({
                url: URL,
                data: { pId: ppid, pType: type },
                dataType: 'html',
                cache: false,
                beforeSend: function () {
                    $("#progress-save-case").show();
                },
                success: function (data) {
                    $("#perpetratordetail").html(data);
                    $("#RemovePerpetrator").prop('disabled', true);
                    $("#UpdatePerpetrator").prop('disabled', true);
                    $("#progress-save-case").hide();
                }
            });
        });

        function ValidatePersonEmail(email) {
            var expr = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
            return expr.test(email);
        };
        $("#person-paging-div").on('click', 'a', function () {
            var anchorid = $(this).attr("id");
            var id = $(this).attr("data-number");
            var type = $(this).attr("data-ptype");
            //console.log("comp" + " " + id);
            $.ajax({
                url: '@Url.Action("PersonDetail")',
                data: { pId: id, pType: type },
                dataType: 'html',
                success: function (data) {
                    $("#complainantdetail").html(data);
                    $("#RemoveComplainant").prop('disabled', false);
                    $("#UpdateComplainant").prop('disabled', false);
                }
            });
            $("#person-paging-div > a").removeClass("active");
            $(this).addClass("active");
        });
        $("#person-paging-perp-div").on('click', 'a', function () {
            var anchorid = $(this).attr("id");
            var id = $(this).attr("data-number");
            var type = $(this).attr("data-ptype");
            //console.log("prep" + " " + id);
            $.ajax({
                url: '@Url.Action("PersonDetail")',
                data: { pId: id, pType: type },
                dataType: 'html',
                success: function (data) {
                    $("#perpetratordetail").html(data);
                    $("#RemovePerpetrator").prop('disabled', false);
                    $("#UpdatePerpetrator").prop('disabled', false);
                }
            });
            $("#person-paging-perp-div > a").removeClass("active");
            $(this).addClass("active");
        });
        $("#RemoveComplainant").on('click', function (event) {
            event.preventDefault();
            var pID = $("#person-paging-div > a.active").attr("id");
            var id = parseInt(pID);
            var length = $("#person-paging-div > a").length;
            if (id === 1 && id === length) { // Shift left and traverse forward
                $.ajax({
                    url: '@Url.Action("PersonDetail")',
                    data: { pId: 0, pType: '' },
                    dataType: 'html',
                    success: function (data) {
                        $("#complainantdetail").html(data);
                    }
                });
                $("#" + id).remove();
                $("#person-paging-div > input." + id).remove();
                $("#RemoveComplainant").prop('disabled', true);
                $("#UpdateComplainant").prop('disabled', true);
            } else if (id === length) {
                var previd = id - 1;
                var pid = $("#" + previd).attr("data-number");
                var prole = $("#" + previd).attr("data-prole");
                var ptype = $("#" + previd).attr("data-ptype");
                $.ajax({
                    url: '@Url.Action("PersonDetail")',
                    data: { pId: pid, pType: ptype },
                    dataType: 'html',
                    success: function (data) {
                        $("#complainantdetail").html(data);
                    }
                });
                $("#" + previd).addClass("active");
                $("#" + id).remove();
                $("#person-paging-div > input." + id).remove();
            } else {
                var removeid = id;
                var immidiatenextid = id + 1;
                var pid = parseInt($("#" + immidiatenextid).attr("data-number"));
                var prole = $("#" + immidiatenextid).attr("data-prole");
                var ptype = $("#" + immidiatenextid).attr("data-ptype");
                $("#" + immidiatenextid).addClass("active");
                $("#" + removeid).remove();
                $("#person-paging-div > input." + removeid).remove();
                $('#person-paging-div').children('a').each(function () {
                    var nextid = id + 1;
                    $("#" + nextid).text(id);
                    $("#" + nextid).attr("id", id);
                    id += 1;
                });
                $.ajax({
                    url: '@Url.Action("PersonDetail")',
                    data: { pId: pid, pType: ptype },
                    dataType: 'html',
                    success: function (data) {
                        $("#complainantdetail").html(data);
                    }
                });
            }
            $("#ComplainantName").removeClass('readonly');
            $("#ComplainantName").prop('disabled', false);
        });
        $("#RemovePerpetrator").on('click', function (event) {
            event.preventDefault();
            var pID = $("#person-paging-perp-div > a.active").attr("id");
            var id = parseInt(pID);
            var length = $("#person-paging-perp-div > a").length;
            if (id === 1 && id === length) { // Shift left and traverse forward
                $.ajax({
                    url: '@Url.Action("PersonDetail")',
                    data: { pId: 0, pType: '' },
                    dataType: 'html',
                    success: function (data) {
                        $("#perpetratordetail").html(data);
                    }
                });
                $("#person-paging-perp-div > a#" + id).remove();
                $("#person-paging-perp-div > input." + id).remove();
                $("#RemovePerpetrator").prop('disabled', true);
                $("#UpdatePerpetrator").prop('disabled', true);
            } else if (id === length) {
                var previd = id - 1;
                var pid = $("#person-paging-perp-div > a#" + previd).attr("data-number");
                var prole = $("#person-paging-perp-div > a#" + previd).attr("data-prole");
                var ptype = $("#person-paging-perp-div > a#" + previd).attr("data-ptype");
                $.ajax({
                    url: '@Url.Action("PersonDetail")',
                    data: { pId: pid, pType: ptype },
                    dataType: 'html',
                    success: function (data) {
                        $("#perpetratordetail").html(data);
                    }
                });
                $("#person-paging-perp-div > a#" + previd).addClass("active");
                $("#person-paging-perp-div > a#" + id).remove();
                $("#person-paging-perp-div > input." + id).remove();
            } else {
                var removeid = id;
                var immidiatenextid = id + 1;
                var pid = parseInt($("#" + immidiatenextid).attr("data-number"));
                var prole = $("#person-paging-perp-div > a#" + immidiatenextid).attr("data-prole");
                var ptype = $("#person-paging-perp-div > a#" + immidiatenextid).attr("data-ptype");
                $("#person-paging-perp-div > a#" + immidiatenextid).addClass("active");
                $("#person-paging-perp-div > a#" + removeid).remove();
                $("#person-paging-perp-div > input." + removeid).remove();
                $('#person-paging-perp-div').children('a').each(function () {
                    var nextid = id + 1;
                    $("#person-paging-perp-div > a#" + nextid).text(id);
                    $("#person-paging-perp-div > a#" + nextid).attr("id", id);
                    id += 1;
                });
                $.ajax({
                    url: '@Url.Action("PersonDetail")',
                    data: { pId: pid, pType: ptype },
                    dataType: 'html',
                    success: function (data) {
                        $("#perpetratordetail").html(data);
                    }
                });
            }
            $("#PerpetratorName").removeClass('readonly');
            $("#PerpetratorName").prop('disabled', false);
        });
        var _perpId;
        var _perpType;
        $("#PerpetratorName").autocomplete({
            source: function (request, response) {
                var fltr = $("input[name=Perpetrator]:checked").val();
                if (fltr === "Non-Tenant") {
                    fltr = "NonTenant";
                }
                $.ajax({
                    url: '@Url.Action("SearchPerson","Cases")',
                    type: "POST",
                    dataType: "json",
                    data: {
                        input: request.term,
                        filter: fltr
                    },
                    success: function (data) {
                        var a = $.map(data, function (item) {
                            return {
                                label: item.PersonName + " " + item.Address1,
                                value: item.PersonName,
                                data: item
                            };
                        });
                        response(a);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                _perpId = ui.item.data.PersonId;
                _perpType = ui.item.data.personType;
                var exist = IsPersonExist(parseInt(_perpId), _perpType);
                if (exist) {
                    alert('Already added in list');
                    $(this).val('');
                    _perpId = null;
                    _perpType = null;
                    return false;
                } else {
                    if ($("input[name=Perpetrator]:checked").val() == "BHG") {
                        HasPreviousCases(_perpId, _perpType, "Perpetrator");
                    }
                }
            }
        });
        $("#clearText").on('click', function () {
            $("#NewCase_CaseClosed").val('');
        });
        $(".DatePicker").datepicker({
            //dateFormat: 'dd/mm/yy',
            dateFormat: '@dateFormat',
            changeMonth: true,
            changeYear: true,
            showOn: 'button',
            buttonImage: '@Url.Content("~/Images/calendar.png")',
            buttonImageOnly: true,
            onSelect: function () {
                var selected = $(this).val();
                $(this).parent("td").find(".Textbox-short").val(selected);
            }
        });
        $("#NewCase_TimeOfIncident").timepicker();
        $('#NewCase_TimeOfIncident').timepicker('setTime', new Date());


        function IsPersonExist(personid, persontype) {
            var exist = false;
            //Check in Perpetrator list
            $('#person-paging-perp-div').children('a').each(function () {
                var number = parseInt($(this).attr("data-number"));
                var type = $(this).attr("data-ptype");
                if (number === personid && type == persontype) {
                    exist = true;
                }
            });
            // Check in Complainant list
            if (!exist) {
                $('#person-paging-div').children('a').each(function () {
                    var number = parseInt($(this).attr("data-number"));
                    var type = $(this).attr("data-ptype");
                    if (number === personid && type == persontype) {
                        exist = true;
                    }
                });
            }
            return exist;
        }
        // Validates Email Address
        function ValidateEmail(email) {
            var expr = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
            return expr.test(email);
        };

        function ValidateNewPersonInputs() {
            $.trim($('#ComplainantName').val()) == ''
            if ($.trim($('#Name').val()) == '') {
                return 'Name';
            }
            else if ($.trim($('#Address1').val()) == '') {
                return 'Address1';
            }
            else if ($.trim($('#Address2').val()) == '') {
                return 'Address2';
            }
            else if ($.trim($('#City').val()) == '') {
                return 'City';
            }
            else {
                return '';
            }
        }
        $(document).off('click', '#BtnSaveNewPerson').on('click', '#BtnSaveNewPerson', function (event) {
            event.preventDefault();
            var control = ValidateNewPersonInputs();
            if (control == '') {
                var email = $.trim($('#Email').val());
                if (email != "") {
                    if (!ValidateEmail(email)) {
                        alert('Invalid Email Address');
                        return;
                    } else {
                        var fullname = $("#Name").val().split(' ');
                        var lName = "";
                        var mName = "";
                        var fName = "";
                        if (fullname.length == 1) {
                            fName = fullname[0];
                            lName = null;
                            mName = null;

                        }
                        else if (fullname.length == 2) {
                            fName = fullname[0];
                            mName = null;
                            lName = fullname[1];
                        }
                        else {
                            fName = fullname[0];
                            mName = "";
                            for (var i = 1 ; i < fullname.length - 1; i++) {
                                mName += fullname[i] + " ";
                            }
                            lName = fullname[fullname.length - 1];
                        }
                        var newPersonType = $('#PersonType :selected').val();
                        var newPersonTitle = $('#Titles :selected').val();
                        var url = '@Url.Action("SaveNewPerson")';
                        var currentTab = $("#person-tabs > li.current").attr("data-tab");
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: JSON.stringify({
                                FirstName: fName,
                                MiddleName: mName,
                                LastName: lName,
                                TenancyRef: $("#TenancyRef").val(),
                                Organization: $("#Organization").val(),
                                Address1: $("#Address1").val(),
                                Address2: $("#Address2").val(),
                                City: $("#City").val(),
                                PostCode: $("#PostCode").val(),
                                TelephoneHome: $("#TelephoneHome").val(),
                                TelephoneWork: $("#TelephoneWork").val(),
                                Mobile1: $("#Mobile1").val(),
                                Mobile2: $("#Mobile2").val(),
                                Email: $("#Email").val(),
                                AlternateContact: $("#AlternateContact").val(),
                                TelephoneContact: $("#TelephoneContact").val(),
                                PersonType: newPersonType,
                                TitleId: newPersonTitle
                            }),
                            beforeSend: function () {
                                $("#progress-add-person").show();
                            },
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                if (currentTab == "tab-complainant") {
                                    PopulateDetails(data, "Customer", "Complainant");
                                } else {
                                    PopulateDetails(data, "Customer", "Perpetrator");
                                }
                                $("#progress-add-person").hide();
                            },
                            error: function () {
                                alert('Error adding Person');
                            }
                        });
                    }
                } else {

                    var fullname = $("#Name").val().split(' ');
                    var lName = "";
                    var mName = "";
                    var fName = "";
                    if (fullname.length == 1) {
                        fName = fullname[0];
                        lName = null;
                        mName = null;

                    }
                    else if (fullname.length == 2) {
                        fName = fullname[0];
                        mName = null;
                        lName = fullname[1];
                    }
                    else {
                        fName = fullname[0];
                        mName = "";
                        for (var i = 1 ; i < fullname.length - 1; i++) {
                            mName += fullname[i] + " ";
                        }
                        lName = fullname[fullname.length - 1];
                    }


                    var newPersonType = $('#PersonType :selected').val();
                    var newPersonTitle = $('#Titles :selected').val();

                    var url = '@Url.Action("SaveNewPerson")';
                    var currentTab = $("#person-tabs > li.current").attr("data-tab");
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: JSON.stringify({
                            FirstName: fName,
                            MiddleName: mName,
                            LastName: lName,
                            TenancyRef: $("#TenancyRef").val(),
                            Organization: $("#Organization").val(),
                            Address1: $("#Address1").val(),
                            Address2: $("#Address2").val(),
                            City: $("#City").val(),
                            PostCode: $("#PostCode").val(),
                            TelephoneHome: $("#TelephoneHome").val(),
                            TelephoneWork: $("#TelephoneWork").val(),
                            Mobile1: $("#Mobile1").val(),
                            Mobile2: $("#Mobile2").val(),
                            Email: $("#Email").val(),
                            AlternateContact: $("#AlternateContact").val(),
                            TelephoneContact: $("#TelephoneContact").val(),
                            PersonType: newPersonType,
                            TitleId: newPersonTitle

                        }),
                        beforeSend: function () {
                            $("#progress-add-person").show();
                        },
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (currentTab == "tab-complainant") {
                                PopulateDetails(data, "Customer", "Complainant");
                            } else {
                                PopulateDetails(data, "Customer", "Perpetrator");
                            }
                            $("#progress-add-person").hide();
                        },
                        error: function () {
                            alert('Error adding Person');
                        }
                    });
                }
            } else {
                alert(control + ' is required');
                $("#" + control).focus();
            }
        });
        Validate();
        function Validate() {

            $.validator.addMethod("htmlTagCheck", function (value, element) {

                var notes = $("#NewCase_NextFollowUpNote").val();
                var index = notes.indexOf("</");
                if (index != -1) {
                    return false;
                }
                return true;
            }, "Action Notes contain invalid string '&lt;/'");

            $('#SaveCaseForm').validate({
                rules: {
                    "NewCase.IncidentDescription": {
                        required: true
                    },
                    "NewCase.DateReported": {
                        required: true
                    },
                    "NewCase.DateOfIncident": {
                        required: true
                    },
                    "NewCase.TimeOfIncident": {
                        required: true,
                        regex: "(0?[1-9]|1[012])(:[0-5]\\d)[APap][mM]"
                    },
                    "NewCase.NextFollowUp": {
                        required: true
                    },
                    "NewCase.NextFollowUpNote": {
                        required: true,
                        htmlTagCheck: true
                    },
                    "NewCase.SelectedPoliceNotifyId": {
                        required: true
                    },
                    "NewCase.SelectedRiskLevelId": {
                        required: false
                    },
                    "NewCase.SelectedStageId": {
                        required: true
                    },
                    "NewCase.SelectedIncidentTypeId": {
                        required: true
                    },
                    "NewCase.SelectedCategoryId": {
                        required: true
                    },
                    "NewCase.SelectedCaseOfficerId": {
                        required: true
                    },
                    "NewCase.SelectedCaseOfficerTwoId": {
                        required: false
                    }
                },
                submitHandler: function (form) {

                    var comp = $("#person-paging-div > a").length;
                    var perp = $("#person-paging-perp-div > a").length;
                    if (comp != 0 && perp != 0) {
                        var frm = $('#SaveCaseForm');

                        var URL = '@Url.Action("SaveCase","Cases")';
                        $.ajax({
                            url: URL,
                            type: 'POST',
                            data: frm.serialize(),
                            cache: false,
                            beforeSend: function () {
                                $("#progress-save-case").show();
                            },
                            success: function (data) {
                                var fileUpload = $("#VulnerabilityfileLoader").get(0);
                                var formdata = new FormData();
                                var files = fileUpload.files;
                                for (var i = 0; i < files.length; i++) {
                                    //console.log("rehan: " + files.length);
                                    formdata.append(files[i].name, files[i]);

                                }
                                if (data.success) {
                                    var caseid = data.CaseId;
                                    var link = '@Html.Raw(@Url.Action("AddNewCaseFile", "Cases", new { @caseId="getCaseId", @filenotes = "getFileNotes"}))';
                                    link = link.replace("getCaseId", caseid);
                                    //console.log($("#fileNotes").val());
                                    var notes = $("#fileNotes").val();
                                    link = link.replace("getFileNotes", notes);
                                    $.ajax({
                                        url: link,
                                        //url: '/Cases/AddNewCaseFile?caseId=' + data.CaseId + '&filenotes=' + $("#fileNotes").val(),
                                        type: 'POST',
                                        contentType: false, // Not to set any content header
                                        processData: false, // Not to process data
                                        data: formdata,
                                        success: function (resp) {
                                            //console.log("hey");
                                            $.ajax({
                                                url: '@Url.Action("AmendCase", "Cases")',
                                                data: { caseId: data.CaseId },
                                                dataType: 'html',
                                                cache: false,
                                                success: function (data) {
                                                    $("#detailContainer").html(data);
                                                    $('#progress-dashboard').hide();
                                                }
                                            });
                                        }
                                    });

                                    return;
                                } else {
                                    alert('Unable to save case');
                                    return;
                                }
                            },
                            error: function () { }
                        });
                    } else {
                        alert('Please Add Complainant and Perpetrators');
                        return;
                    }
                    return false;
                }
            });
        }
    });
    function FillCategory() {
        var stageId = $("#NewCase_SelectedStageId").val();
        //console.log(stageId);
        $.ajax({
            url: '@Url.Action("Categories")',
            data: { stage: stageId },
            type: "GET",

            success: function (data) {

                $("#NewCase_SelectedSubCategoryId").html("");
                $("#NewCase_SelectedSubCategoryId").append(
                    $('<option></option>').html("Please Select"));
                $("#NewCase_SelectedTypeId").html("");
                $("#NewCase_SelectedTypeId").append(
                    $('<option></option>').html("Please Select"));
                $("#NewCase_SelectedSubTypeId").html("");
                $("#NewCase_SelectedSubTypeId").append(
                    $('<option></option>').html("Please Select"));

                $.each(data, function (key, values) {
                    $("#NewCase_SelectedSubCategoryId").append(
                    $('<option></option>').val(values.key).html(values.value));
                });
            }

        });
    }

    function FillType() {

        var subcategoryId = $("#NewCase_SelectedSubCategoryId").val();
        $.ajax({
            url: '@Url.Action("Types")',
            data: { subcategory: subcategoryId },
            type: "GET",

            success: function (data) {
                $("#NewCase_SelectedTypeId").html("");
                $("#NewCase_SelectedTypeId").append(
                    $('<option></option>').html("Please Select"));
                $("#NewCase_SelectedSubTypeId").html("");
                $("#NewCase_SelectedSubTypeId").append(
                    $('<option></option>').html("Please Select"));

                $.each(data, function (key, values) {
                    $("#NewCase_SelectedTypeId").append(
                    $('<option></option>').val(values.key).html(values.value));
                });
            }

        });
    }

    function FillSubType() {

        var typesId = $("#NewCase_SelectedTypeId").val();
        $.ajax({
            url: '@Url.Action("SubTypes")',
            data: { types: typesId },
            type: "GET",

            success: function (data) {
                $("#NewCase_SelectedSubTypeId").html("");
                $("#NewCase_SelectedSubTypeId").append(
                    $('<option></option>').html("Please Select"));

                $.each(data, function (key, values) {
                    $("#NewCase_SelectedSubTypeId").append(
                    $('<option></option>').val(values.key).html(values.value));
                });

            }

        });
    }
    function updatePersonClick() {
        //event.preventDefault();
        //$(document).off('click', '#BtnUpdatePersonNewCase');
        var personid = parseInt($("#UpdtPersonId").attr("data-id"));
        var persontype = $("#UpdtPersonType").val();
        var URL = '@Url.Action("UpdatePerson","Cases")';
        var currentTab = $("#person-tabs > li.current").attr("data-tab");
        var personEmail = $.trim($('#Email').val());
        if (personEmail != "") {
            if (!ValidatePersonEmail($("#Email").val())) {
                alert("Invalid Email Address");
                $("#Email").focus();
                //$(document).off('click', '#BtnUpdatePersonNewCase');
                return;
            } else {
                $.ajax({
                    url: URL,
                    type: 'POST',
                    data: JSON.stringify({
                        PersonId: personid,
                        PersonType: persontype,
                        TelephoneH: $("#TelephoneHome").val(),
                        TelephoneW: $("#TelephoneWork").val(),
                        Email: $("#Email").val(),
                        AlternateContact: $("#AlternateContact").val(),
                    }),
                    beforeSend: function () {
                        $("#progress-add-person").show();
                    },
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (currentTab == "tab-complainant") {
                            $("#complainantdetail").html(data);
                            $("#RemoveComplainant").prop('disabled', false);
                            $("#UpdateComplainant").prop('disabled', false);
                        } else {
                            $("#perpetratordetail").html(data);
                            $("#RemovePerpetrator").prop('disabled', false);
                            $("#UpdatePerpetrator").prop('disabled', false);
                        }
                        $("#progress-save-case").hide();
                    },
                    error: function () {
                        $("progress-save-case").hide();
                        alert('Error Updating Person');
                    }
                });

            }
        } else {
            $.ajax({
                url: URL,
                type: 'POST',
                data: JSON.stringify({
                    PersonId: personid,
                    PersonType: persontype,
                    TelephoneH: $("#TelephoneHome").val(),
                    TelephoneW: $("#TelephoneWork").val(),
                    Email: $("#Email").val(),
                    AlternateContact: $("#AlternateContact").val(),
                }),
                beforeSend: function () {
                    $("#progress-save-case").show();
                },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log("hey");
                    if (currentTab == "tab-complainant") {
                        console.log("he1y");
                        $("#complainantdetail").html(data);
                        $("#RemoveComplainant").prop('disabled', false);
                        $("#UpdateComplainant").prop('disabled', false);
                    } else {
                        $("#perpetratordetail").html(data);
                        console.log("hey2");
                        $("#RemovePerpetrator").prop('disabled', false);
                        $("#UpdatePerpetrator").prop('disabled', false);
                    }
                    $("#progress-save-case").hide();
                },
                error: function () {
                    $("#progress-save-case").hide();
                    alert('Error Updating Person');
                }
            });
        }

        return false;
    }
    function ValidatePersonEmail(email) {
        var expr = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        return expr.test(email);
    }
</script>
