﻿@model ASB_UI.ViewModels.CreateNewCase.SubViewModels.PreviousCasesViewModel
@{
    int prevCases = Model.PreviousCases.Count();

}
<div class="no-padding-sides">
    @Html.Action("GetTopNavigationFromCustomerModule", "Menu")
</div>
<div style="padding:50px !important;" class="col-xs-12" id="CustPrevCasesList">
    <div>
        <p>ASB Case(s):</p>
    </div>
    <div id="table" style="margin-top:8px !important;">
        <table class="col-xs-12" id="TblPreviousCases" border="1">
            <thead>
                <tr>
                    <th>Ref:</th>
                    <th>Type:</th>
                    <th>Incident:</th>
                    <th>Vulnerability:</th>
                    <th>Case Type:</th>
                    <th>Status:</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.PreviousCases)
                {
                    <tr>
                        <td>@c.Ref</td>
                        <td>@c.PersonRole</td>
                        <td>@c.IncidentDate</td>
                        <td>@c.Category</td>
                        <td>@c.IncidentType</td>
                        <td>@c.Status</td>
                        <td>@Html.ActionLink("VIEW", "ViewCaseDetail", "Cases", new { caseId = c.Ref }, new { target = "_blank" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
            $(".ViewClass").on('click', function () {
                var id = parseInt($(this).attr('id'));
                $("#prevCasesDialog").dialog("close");
                var URL = '@Url.Action("ViewCaseDetail", "Cases")';
                $.ajax({
                    url: URL,
                    data: { caseId: id },
                    success: function (data) {
                        $("#detailContainer").html(data);
                    }
                });
            });
</script>
