<%@ Page Language="VB" MasterPageFile="~/BHAIntranet/Templates/CustomPageWithBorder.master" AutoEventWireup="false" CodeFile="DocumentDirectory.aspx.vb" Inherits="BHAIntranet_CustomPages_DocumentDirectory" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ThreeTierContent" Runat="Server">
    <ajax:ScriptManager ID="ScriptManager1" runat="server">
    </ajax:ScriptManager>
    <ajax:UpdatePanel ID="upPanel" runat="server">
    </ajax:UpdatePanel>    
    <!--
    disabled and replaced by document manager
    <iframe src="/News/DocumentManager/serverside/DocumentManager.aspx?dir=true" frameborder="0" width="100%" height="400px"/>
    -->
    <iframe src="/news/documentmanager/Intranet_DocumentManager.asp" frameborder="0" width="100%" height="400px"/>
</asp:Content>

