<%@ Page Language="VB" MasterPageFile="~/BHAIntranet/Templates/CustomPageWithBorder.master" Trace="false" AutoEventWireup="false" CodeFile="DocumentManager.aspx.vb" Inherits="BHAIntranet_CustomPages_DocumentManager" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ThreeTierContent" Runat="Server">
<iframe id="docmanager" name="docmanager" width="100%" height="600px" src="/news/documentmanager/Intranet_DocumentManager.asp" />
</asp:Content>

