<%@ Page Language="VB" AutoEventWireup="false" CodeFile="EmployeeIntranetTab.aspx.vb" Inherits="BHAIntranet_CustomPages_EmployeeIntranetTab" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
        <link id="EmpIntranet" rel="stylesheet" type="text/css" href="~/BHAIntranet/CSS/RSL/Employee.css"  />

</head>
<body>
    <ajax:ScriptManager ID="ScriptManager1" runat="server">
    </ajax:ScriptManager>
    <form id="form1" runat="server">
        <asp:Button ID="btnImage" runat="server" Text="Image" />
        
        
    <div>
        <asp:Panel ID="pnlImageUpload" runat="server">
          <asp:FileUpload ID="filImage" runat="server" />
        <asp:Button ID="btnUploadImage" runat="server" Text="Upload" />      
        
        </asp:Panel>

    </div>
    </form>
</body>
</html>
