﻿@model List<RSLHousingBenefit.Models.Models.ExceptionFileListModel>
@{
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";

}
<table class="table table-striped">
    <thead>
        <tr>
            <th>HBRef</th>
            <th>Amount</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Tenant Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ExceptionFile in @Model)
        {
            <tr>
                <td style="display:none"><input type="hidden" value="@ExceptionFile.HbUploadId" id="hbUploadId"></td>
                <td>@ExceptionFile.HBRef</td>
                <td>@ExceptionFile.Amount</td>
                <td>@ExceptionFile.StartDate</td>
                <td>@ExceptionFile.EndDate</td>
                <td>@ExceptionFile.TenantName</td>
                <td>@ExceptionFile.Address</td>
            </tr>
        }
        </tbody>
</table>