﻿
@{
    ViewBag.Title = "UploadFile";
    var localAuthorities = (List<string>)ViewData["LocalAuthorities"];
}

<div class="row padding-bottom" style="margin-left:0px; margin-right:0px;">
    <div class="col-md-12 main-title-header" style="border: 1px solid; background-color: #000; padding: 10px;">
        <span class="header" style="padding:0">Housing Benefit Upload</span>
    </div>
</div>
<span id="errorMessage" style="color:red; display:none"></span><br />
<div class="col-sm-6" style="margin-bottom:30px; padding-bottom: 15px;border: solid;border-width: thin;padding-left: 15px;">
    <div class="row">
        <div class="col-md-12 main-title-header" style="border: 1px solid; background-color: #000; padding: 10px; margin:0px;">
            <span class="header" style="padding:0">File Upload</span>
        </div>
    </div>

    @*<span id="errorMessage" style="color:red; display:none"></span><br />*@
    <br/>
    <table style="width:100%;">
        <tr class="spaceUnder">
            <td style="width:42%;">
                <b>House Benefit Payments File:</b>
            </td>
            <td>
                <button type="button" class="btn-default-form" style="width:135px;" data-toggle="modal" data-target="#UploadFileModel"> Browse </button>
            </td>
        </tr>
    </table>

    <div id="UploadFileForm">
        <form id="fileform" action="UploadFileForm" method="post">
            <table style="width:100%;">
                <tr class="spaceUnder">
                    <td class="tdSpace" style="width:42%;"> <b>Local Authority: </b></td>
                    <td><select id="LocalAuthority" style="width:100%; padding:5px;" name="LocalAuthority"></select></td>
                </tr>
                <tr class="spaceUnder">
                    <td><b>File Name:  </b> <span id="fileName" style="display:none;padding-left: 5%;font-style: italic; font-weight: bold; "></span></td>
                    <td><input type="button" value="Preview" style="width:135px;" class="btn-default-form" onclick="partialView()"></td>
                </tr>
                <tr class="spaceUnder">
                    <td><b>Select Data Locations:  </b> </td>
                    <td>
                        <input type="button" value="Select Data" style="width:135px;" class="btn-default-form" data-toggle="modal" data-target="#SelectDataLocationModel">
                        <img src="~/Content/Images/ic_resolved.png" id="dataSelectionTick" style="display:none" />
                        <span id="dataSelectionMessage" style="color:red"> <br />Please Select Row and Columns</span>
                        
                    </td>
                </tr>
                <tr class="spaceUnder">
                    <td><b>Transaction:  </b></td>
                    <td>
                        <input class="form-control DatePicker" style="width:135px; display:inline" name="Transaction" id="Transaction"  type="text" required>
                    </td>

                </tr>
                <tr class="spaceUnder">
                    <td></td>
                    <td>
                        <input type="button" value="Cancel" class="btn-default-form pull-left" onclick="CancelFileSubmition()">
                        <button type="button" class="btn-default-form pull-right" id="btnsubmitfile" onclick="btnSubmitFile()">Upload File</button>
                    </td>
                </tr>
            </table>
            <input type="hidden" id="InitialRow" name="InitialRow">
            <input type="hidden" id="HBRefarance" name="HBRefarance">
            <input type="hidden" id="Amount" name="Amount">
            <input type="hidden" id="PeriodStartDate" name="PeriodStartDate">
            <input type="hidden" id="PeriodEndDate" name="PeriodEndDate">
            <input type="hidden" id="TanantName" name="TanantName">
            <input type="hidden" id="Address" name="Address">
            <input type="hidden" id="HBFileName" name="HBFileName">
            <input type="hidden" id="HBFilePath" name="HBFilePath">
            <input type="hidden" id="lastColumn" name="lastColumn">
            
        </form>
    </div>
</div>
<div id="webgrid"style="height: 100%;border: solid 1px;display: inline-block;width: 100%;margin:0px">
    @Html.Action("UploadList", "FileUploader")
</div>
<!-- Upload File PopUp-->
<div class="modal fade" id="UploadFileModel" tabindex="-1" role="dialog" aria-labelledby="UploadFileModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:400px;">
            <div class="modal-header" style="padding: 0px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 main-title-header" style="background-color: #000;  padding-top: 10px;padding-left:0px;">
                            <span class="header" style="padding:0">Upload File:</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <input type="file" id="inputFile" accept=".xls,.csv" onchange="VerifyFileFormat()">
                <span id="inputFileError" hidden="hidden"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-default-form" data-dismiss="modal" onclick="btnCancel()">Cancel</button>
                <button type="button" id="SelectFile" class="btn-default-form" onclick="btnUploadFile()">Select File</button>
            </div>
        </div>
    </div>
</div>

<!-- Select Data Location PopUp-->
<div class="modal fade" id="SelectDataLocationModel" tabindex="-1" role="dialog" aria-labelledby="SelectDataLocationModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:400px;">
            <div class="modal-header" style="padding: 0px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 main-title-header" style="background-color: #000;  padding-top: 10px;padding-left:0px;">
                            <span class="header" style="padding:0">Select Data Locations:</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="SelectDataLocationBody" class="modal-body">
                <table style="width:100%;">
                    <tr class="spaceUnder">
                        <td><b>Initial Row:</b></td>
                        <td class="excel-desc-column">row</td>
                        <td><input type="number" name="InitialRowSelection" id="InitialRowSelection" value="1" class="padding-3 width-50" class="padding-3 width-50" required></td>
                    </tr>
                    <tr class="spaceUnder">
                        <td><b>HB Ref:</b></td>
                        <td class="excel-desc-column">column</td>
                        <td><select name="HBReferanceSelection" id="HBReferanceSelection" class="padding-3 width-50" required><option value="-1" disabled selected> Column</option></select></td>
                    </tr>
                    <tr class="spaceUnder">
                        <td><b>Amount (&pound;):</b></td>
                        <td class="excel-desc-column">column</td>
                        <td><select name="AmountSelection" id="AmountSelection" class="padding-3 width-50" required><option value="-1" disabled selected> Column</option></select></td>
                    </tr>
                    <tr class="spaceUnder">
                        <td><b>Period Start Date:</b></td>
                        <td class="excel-desc-column">column</td>
                        <td><select name="PeriodStartDateSelection" id="PeriodStartDateSelection" class="padding-3 width-50" required><option value="-1" disabled selected> Column</option></select></td>
                    </tr>
                    <tr class="spaceUnder">
                        <td><b>Period End Date:</b></td>
                        <td class="excel-desc-column">column</td>
                        <td><select name="PeriodEndDateSelection" class="padding-3 width-50" id="PeriodEndDateSelection" required><option value="-1" disabled selected> Column</option></select></td>
                    </tr>
                    <tr class="spaceUnder">
                        <td><b>Tenant Name:</b></td>
                        <td class="excel-desc-column">column</td>
                        <td><select name="TenantNameSelection" id="TenantNameSelection" class="padding-3 width-50" required><option value="-1" disabled selected> Column</option></select></td>
                    </tr>
                    <tr class="spaceUnder">
                        <td><b>Address:</b></td>
                        <td class="excel-desc-column">column</td>
                        <td><select name="AddressSelection" id="AddressSelection" class="padding-3 width-50" required><option value="-1" disabled selected> Column</option></select></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-default-form" data-dismiss="modal" style="float:left" onclick="btnBackPopUpDataSelection()">< Back</button>
                <button type="submit" class="btn-default-form" onclick="btnSaveSelection()">Save Selection</button>
            </div>
        </div>
    </div>
</div>

<!-- Preview File PopUp-->
<div class="modal fade" id="Preview" tabindex="-1" role="dialog" aria-labelledby="PreviewLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 main-title-header" style="background-color: #000;  padding-top: 10px;padding-left:0px;">
                            <span class="header" style="padding:0">Preview:</span>
                        </div>
                    </div>
                </div>
            </div>

           
            <div class="modal-body" id="Previewbody" style="max-height:500px;overflow:auto">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-default-form" data-dismiss="modal">Cancel</button>
                @*<button type="button" id="SelectFile" class="btn-default-form" onclick="btnUploadFile()">Select File</button>*@
            </div>
        </div>
    </div>
</div>
<script>
    function btnUploadFile() {
        var fileInput = $('#inputFile').prop('files')[0];
        $("#fileName").text(fileInput.name);
        $("#fileName").show();
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '@Url.Action("UploadFile", "FileUploader")');
        xhr.setRequestHeader('Content-type', 'multipart/form-data');
        xhr.setRequestHeader('X-File-Name', fileInput.name);
        xhr.setRequestHeader('X-File-Type', fileInput.type);
        xhr.setRequestHeader('X-File-Size', fileInput.size);
        xhr.send(fileInput);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {

                var response = xhr.responseText.replace(/\\/g, '').slice(1, -1);;
                let x = JSON.parse(response);
                if (x == 0) {
                    $("#errorMessage").show();
                    $("#errorMessage").text("Invalid  File Format");
                    $('#UploadFileModel').modal('hide');

                }

                if (x != 0) {
                    var localAuthorityRef = document.getElementById("LocalAuthority");
                    var InitialRowSelection = document.getElementById("InitialRowSelection");
                    var HBReferanceSelection = document.getElementById("HBReferanceSelection");
                    var AmountSelection = document.getElementById("AmountSelection");
                    var PeriodStartDateSelection = document.getElementById("PeriodStartDateSelection");
                    var PeriodEndDateSelection = document.getElementById("PeriodEndDateSelection");
                    var TenantNameSelection = document.getElementById("TenantNameSelection");
                    var AddressSelection = document.getElementById("AddressSelection");
                    var UploadFileForm = document.getElementById("UploadFileForm");
                    document.getElementById("HBFileName").value = fileInput.name;
                    document.getElementById("HBFilePath").value = x.fileName;
                    $("#lastColumn").val(x.lastHeading)
                    for (var i = 0 ; i < x.localAuthorities.length; i++) {
                        var option = document.createElement("option");
                        option.text = x.localAuthorities[i].DESCRIPTION;
                        option.value = x.localAuthorities[i].LOCALAUTHORITYID
                        localAuthorityRef.add(option);
                    }
                    HBReferanceSelection.innerHTML = '';
                    AmountSelection.innerHTML = '';
                    PeriodStartDateSelection.innerHTML = '';
                    PeriodEndDateSelection.innerHTML = '';
                    TenantNameSelection.innerHTML = '';
                    AddressSelection.innerHTML = '';
                    for (var i = 0 ; i < x.fileHeading.length; i++) {
                        var option = document.createElement("option");
                        option.text = x.fileHeading[i];
                        option.value = i + 1;
                        HBReferanceSelection.add(option);
                        option = document.createElement("option");
                        option.text = x.fileHeading[i];
                        option.value = i + 1;
                        AmountSelection.add(option);
                        option = document.createElement("option");
                        option.text = x.fileHeading[i];
                        option.value = i + 1;
                        PeriodStartDateSelection.add(option);
                        option = document.createElement("option");
                        option.text = x.fileHeading[i];
                        option.value = i + 1;
                        PeriodEndDateSelection.add(option);
                        option = document.createElement("option");
                        option.text = x.fileHeading[i];
                        option.value = i + 1;
                        TenantNameSelection.add(option);
                        option = document.createElement("option");
                        option.text = x.fileHeading[i];
                        option.value = i + 1;
                        AddressSelection.add(option);
                    }
                    EnableForm();
                    $('#UploadFileModel').modal('hide');
                }
            }
        }

    }
    function btnBackPopUpDataSelection() {
        //var InitialRowSelection = document.getElementById("InitialRowSelection");
        //var HBReferanceSelection = document.getElementById("HBReferanceSelection");
        //var AmountSelection = document.getElementById("AmountSelection");
        //var PeriodStartDateSelection = document.getElementById("PeriodStartDateSelection");
        //var PeriodEndDateSelection = document.getElementById("PeriodEndDateSelection");
        //var TenantNameSelection = document.getElementById("TenantNameSelection");
        //var AddressSelection = document.getElementById("AddressSelection");
        //InitialRowSelection.value = "1";
        //HBReferanceSelection.value = "1";
        //AmountSelection.value = "1";
        //PeriodStartDateSelection.value = "1";
        //PeriodEndDateSelection.value = "1";
        //TenantNameSelection.value = "1";
        //AddressSelection.value = "1";
        $('#SelectDataLocationModel').modal('hide');
        $('#dataSelectionValidation').show()
        //$('#dataSelectionTick').hide();
    }
    function btnSaveSelection() {
        var InitialRowSelection = document.getElementById("InitialRowSelection");
        var HBReferanceSelection = document.getElementById("HBReferanceSelection");
        var AmountSelection = document.getElementById("AmountSelection");
        var PeriodStartDateSelection = document.getElementById("PeriodStartDateSelection");
        var PeriodEndDateSelection = document.getElementById("PeriodEndDateSelection");
        var TenantNameSelection = document.getElementById("TenantNameSelection");
        var AddressSelection = document.getElementById("AddressSelection");

        var InitialRow = document.getElementById("InitialRow");
        var HBReferance = document.getElementById("HBRefarance");
        var Amount = document.getElementById("Amount");
        var PeriodStartDate = document.getElementById("PeriodStartDate");
        var PeriodEndDate = document.getElementById("PeriodEndDate");
        var TanantName = document.getElementById("TanantName");
        var Address = document.getElementById("Address");

        InitialRow.value = InitialRowSelection.value;
        Amount.value = AmountSelection.value;
        HBRefarance.value = HBReferanceSelection.value;
        PeriodStartDate.value = PeriodStartDateSelection.value;
        PeriodEndDate.value = PeriodEndDateSelection.value;
        TanantName.value = TenantNameSelection.value;
        Address.value = AddressSelection.value;
        if (InitialRow.value < "1" ||
            Amount.value < "1" ||
            HBRefarance.value < "1" ||
            PeriodStartDate.value < "1" ||
            PeriodEndDate.value < "1" ||
            TanantName.value < "1" ||
            Address.value < "1"
            ) {
            $('#dataSelectionValidation').hide()
            $('#dataSelectionMessage').show()
            $('#dataSelectionTick').hide();
            $('#btnsubmitfile').prop('disabled', true);
        }
        else {
            $('#dataSelectionMessage').hide()
            $('#dataSelectionValidation').show()
            $('#dataSelectionTick').show();
            $('#btnsubmitfile').prop('disabled', false);
        }
        $('#SelectDataLocationModel').modal('hide');
    }
    function VerifyFileFormat() {
        var fileInput = $('#inputFile').prop('files')[0];
        var x = fileInput.name.split('.')[1];
        if (fileInput.name.split('.')[1] == "xls" || fileInput.name.split('.')[1] == "csv") {
            $('#SelectFile').prop('disabled', false);;
            $('#inputFileError').hide();;
            $('#inputFileError').text("");
        }
        else {
            $('#SelectFile').prop('disabled', true);
            $('#inputFileError').show();
            $('#inputFileError').css('color', 'red');
            $('#inputFileError').text("Please Select .csv or .xls file");
            //$("#UploadFileModel").effect("shake");
        }
    }
    function btnSubmitFile() {
        var fileform = document.getElementById("fileform");
        var Url = '@Url.Action("HbExceptionsReport", "ExceptionsReport")'
        var localAuthority = $("#LocalAuthority").val()
        var trasitionDate = $("#Transaction").val()
        if (localAuthority != "-1" && trasitionDate != "") {
            var fd = new FormData(fileform);
            $.ajax({

                url: '@Url.Action("UploadFileForm", "FileUploader")',
                data: fd,
                cache: false,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {

                    //var response = data.replace(/\\/g, '').slice(1, -1);;
                    let x = JSON.parse(data);
                    if (x == 0 || x == 400) {
                        $("#errorMessage").show();
                        $("#errorMessage").text("An error occur while processing file");
                    }
                    else {
                        $("#errorMessage").show();
                        if (x.result == "successful") {
                            $("#errorMessage").css("color", "green");
                            $("#errorMessage").text("File has been upload successful");
                            DisableForm();
                            window.location.href = Url + "?hbUploadId=" + x.hBUploadId;
                        }
                        else {
                            $("#errorMessage").text(x.result);
                        }
                    }
                },
            });
        }
        else
        {
            $("#errorMessage").show();
            $("#errorMessage").text("Transaction and Local Authority Required");
        }
    }
    function btnCancel() {
        $("#errorMessage").hide();
        if ($("#fileName").text() == "")
        {
            $("#inputFile").val('');
        }
    }
    function CancelFileSubmition() {
        DisableForm();
        $('#errorMessage').hide();
        $('#dataSelectionTick').hide();
        $('#dataSelectionMessage').hide();
        $("#fileName").hide();
    }
    function PreviewFile() {
        var file = $("#HBFilePath").val();
        $.ajax({
            url: '@Url.Action("PreviewHtml", "FileUploader")',
            type: "GET",
            cache: false,
            data: { fileName: file },
            success: function (response) {
                var x = JSON.parse(response);
                window.open(x);
                alert(x)
            }
        });
    }
    function partialView() {
        var file = $("#HBFilePath").val();
        var lastColumn = $("#lastColumn").val();
        lastColumn=lastColumn.replace(/\s/g, '');
        $.ajax({
            url: '@Url.Action("partialViewResult", "FileUploader")',
            type: "GET",
            cache: false,
            data: { fileName: file, lastColumn: lastColumn },
            success: function (response) {
                $('#Previewbody').html(response);
                $('#Preview').modal({ show: true });
            }
        });
    }
    //function preview() {
    //    var url = "/www.google.com";
    //    //var url = $("#HBFilePath").val();
    //    $('#Previewbody').load(url, function () {
    //        $('#Preview').modal({ show: true });
    //    });
    //}
    function DisableForm() {
        $("#UploadFileForm *").prop("disabled", true);
        $('#dataSelectionMessage').hide();
        $(".ui-datepicker-trigger").datepicker().hide()
        $('#LocalAuthority').find('option').remove().end().append('<option value=-1>Select Local Authority</option>');
       // $('input[type=date]')[0].valueAsDate = null;

    }
    function EnableForm() {
        $("#UploadFileForm *").prop("disabled", false);
        $('#dataSelectionMessage').show();

        $("#Transaction").datepicker({
            showAnim: "blind",
            dateFormat: 'dd/mm/yy',
            yearRange: '1900:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'button',
            buttonImage: '@Url.Content("~/Content/images/calendar.png")',
            buttonImageOnly: true
        });


    }


    $(document).ready(function () {
        DisableForm();
    });
    function popupMessage(outerElement, element, msg, type) {
        $(window).scrollTop(0);
        if (type == "success") {

            $("#" + outerElement).removeClass('alert-danger');
            $("#" + outerElement).addClass('alert-success');
        }
        else if ("failure") {
            $("#" + outerElement).removeClass('alert-success');
            $("#" + outerElement).addClass('alert-danger');
        }

        $("#" + element).html(msg)
        $("#" + outerElement).show().delay(5000).fadeOut();
        window.scrollTo(0, 0);
    }

</script>
