﻿
@model IEnumerable<RSLHousingBenefit.Models.Models.UploadFileListModel>
    @{
        var grid = new WebGrid(canSort:true, rowsPerPage: ViewBag.PageSize);
        grid.Bind(Model.ToList(),autoSortAndPage:false, rowCount: ViewBag.TotalRows);
        //        grid.Pager(WebGridPagerModes.All);
    }

    @grid.GetHtml(
    //tableStyle: "table table-responsive backcolor",
    tableStyle: "table table-responsive backcolor web-grid-table-body",
    headerStyle: "wedgrid-header web-grid-th web-grid-a",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row webgrid-row-style-hover",
    rowStyle: "webgrid-row-style webgrid-row-style-hover",
    columns: (grid.Columns(
        grid.Column(columnName: "UploadDate", header: "Upload Date"),
        grid.Column(columnName: "LocalAuthority", header: "Local Authority"),
        grid.Column(columnName: "FileName", header: "File Name", format: @<text><span onclick="fileDownload('@item.FilePath')">@item.FileName</span></text>),
        grid.Column(columnName: "UploadBy", header: "Upload By"),
        grid.Column(columnName: "UploadRecord", header: "Upload Record"),
        grid.Column(columnName: "UploadRecordTotal", header: "Upload Record Total (£)"),
        grid.Column(columnName: "ExcludeRecord", header: "Exclude Record", format: @<text><a onclick="ShowExcludeRecords(@item.HbUploadId,@item.ExcludeRecord)">@item.ExcludeRecord</a></text>),
        grid.Column(columnName: "ExcludeRecordTotal", header: "Exclude Record Total (£) "),
        grid.Column(columnName: "OrignalRecord", header: "Orignal Record"),
        grid.Column(columnName: "OrignalRecordTotal", header: "Orignal Record Total (£)")
        )))

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div id="gridPager" class="space-box col-md-8">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
            </div>
            <div id="" class="col-md-1">
                <div class="row">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Exception Rreport PopUp-->
<div class="modal fade" id="ExceptionRreportModel" tabindex="-1" role="dialog" aria-labelledby="ExceptionRreportModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:75%">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0px;">
                <div class="row padding-bottom">
                    <div class="col-md-12">
                        <div class="col-md-12" style=" background-color: #000; padding: 10px;">
                            <span class="header" style="padding:0;font-size: large;color: white;">Exception Reprort:</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div style="height :400px; overflow:auto;" id="ExceptionRreportBody"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-default" data-dismiss="modal" onclick="btnCancel()">Cancel</button>
                <button type="button" id="SelectFile" class="btn-default" onclick="btnDownloadPDF()">Download as PDF</button>
            </div>
        </div>
    </div>
</div>
<script>

    (function () {
        $("#webgrid a").on('click', function (event) {
            loadGridEvents(event, this);
        });

        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
        $('thead > tr > th:first').addClass('dis-none');

    })();

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("UploadList", "FileUploader")' + queryString;
        $("#webgrid").load(requestUrl);
    }
    var typingPageTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example

    function TypingPageInterval(e) {
        typingPageTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var rsStatus = 1;
        if ($('#rdBtnstatus').is(':checked') == false) {
            rsStatus = 0;
        } else {
            rsStatus = 1;
        }
        var requestUrl = '@Url.Action("UploadList", "FileUploader")'
       + "?page=" + $("#txtPageNo").val() + '&rdBtnstatus=' + rsStatus + '&txtSearchText=' + $("#txtSearchText").val();
        $("#webgrid").load(requestUrl);
    }
    function ShowExcludeRecords(hbUploadId,count)
    {
        if (count > 0) {
            $.ajax({
                url: '@Url.Action("ExceptionReport", "FileUploader")',
                type: "GET",
                cache: false,
                data: { hbUploadId: hbUploadId },
                success: function (response) {
                    $('#ExceptionRreportBody').html(response);
                    $("#ExceptionRreportModel").modal({ show: true });;
                },
                statusCode: {
                    400: function () {
                        alert("Error");
                    }
                }
            });
        }
    }
    function btnCancel()
    {
        $("#ExceptionRreportModel").modal({ show: false });;
    }
    function btnDownloadPDF()
    {

        var url = '@Url.Action("DownloadExceptionReport", "FileUploader")'
        var hbUploadId = $("#hbUploadId").val();
        window.location = url+"?hbUploadId=" + hbUploadId;
    }
    function fileDownload(path)
    {
        window.open(path, '_blank');
    }
</script>
