﻿@model  IEnumerable<BHGHRModuleWeb.ViewModels.BenefitVehicleViewModel>

@{
    Layout = null;
    var grid = new WebGrid(rowsPerPage: 100, canSort: false);
    grid.Bind(Model, autoSortAndPage: false, rowCount: 100);
}

@*@if (Model != null && Model.Count() > 0)
{*@
    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "Type", header: "Type:"),
        grid.Column(columnName: "carStartDate", header: "Start Date:"),
        grid.Column(columnName: "carEndDate", header: "End Date:"),
        grid.Column(columnName: "carRegistration", header: "Registration:"),
        grid.Column(columnName: "carMake", header: "Make:"),
        grid.Column(columnName: "model", header: "Model:"),
        grid.Column(columnName: "fuel", header: "Fuel:"),
        grid.Column(columnName: "engineSize", header: "Engine Size:"),
        grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:@<text>
            <img src="~/Content/Images/aero.png" data-id="@item.benefitVehicleId" class="pull-right edit-vehicle" width="22" />
        </text>)

    ))

  
@*}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Start Date:</th>
                <th>End Date:</th>
                <th>Registration:</th>
                <th>Make:</th>
                <th>Model:</th>
                <th>Fuel:</th>
                <th>Registration:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="4" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        
                        <div class="form-group">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@


<script type="text/javascript">
    (function () {
        $(".edit-vehicle").click(function (index) {
            $.getJSON('@Url.Action("GetBenefitVehicle", "Benefits")' + '/' + $(this).data('id'), function (res) {
                var data = JSON.parse(res);
                //$("benefits_employeeId").val(data.employeeId);
                //$("#benefits_benefitId").val(data.benefitId);
                $("#benefits_vehicle_requestType").val("vehicle");
                $("#benefits_vehicle_benefitVehicleId").val(data.benefitVehicleId);
                $("#benefits_vehicle_fiscalYear").val(data.fiscalYear);
                $("#benefits_vehicle_carStartDate").val(data.carStartDate);
                $("#benefits_vehicle_carEndDate").val(data.carEndDate);
                $("#benefits_vehicle_carRegistration").val(data.carRegistration);
                $("#benefits_vehicle_carMake").val(data.carMake);
                $("#benefits_vehicle_model").val(data.model);
                $("#benefits_vehicle_fuel").val(data.fuel);
                $("#benefits_vehicle_engineSize").val(data.engineSize);
                $("#benefits_vehicle_motRenewalDate").val(data.motRenewalDate);
                $("#benefits_vehicle_insuranceCompany").val(data.insuranceCompany);
                $("#benefits_vehicle_insuranceRenewalDate").val(data.insuranceRenewalDate);
                $("#benefits_vehicle_insuranceReimbursement").val(data.insuranceReimbursement);
                $("#benefits_vehicle_dvlaOnline").val(data.dvlaOnline);
                $("#benefits_vehicle_additionalDriver").val(data.additionalDriver);
                if (data.dvlaOnline) {
                    $('#dvlaOnlineYes').attr('checked', true);
                } else {
                    $('#dvlaOnlineNo').attr('checked', true);
                }
                if (data.Type==1) {
                    $('#VehicleTypeYes').attr('checked', true);
                } else if (data.Type == 2) {
                    $('#VehicleTypeNo').attr('checked', true);
                }
                $("#benefits_vehicle_dvlaOnlineDate").val(data.dvlaOnlineDate);
                if (data.policySummaryPath != null && data.policySummaryPath != '' && typeof data.policySummaryPath != 'undefined') {
                    $('#lnkSummaryPath').show(); 
                    $("#lnkSummaryPath").prop("href", data.policySummaryPath); 
                    $("#benefits_vehicle_Summarydoc").val(data.Summarydoc);
                    
                } else {
                    $('#lnkSummaryPath').hide();
                }
                if (data.V5Path != null && data.V5Path != '' && typeof data.V5Path != 'undefined') {
                    $('#lnkV5Path').show();
                    $('#lnkV5Del').show();
                    $("#lnkV5Path").prop("href", data.V5Path);
                    $("#benefits_vehicle_V5doc").val(data.V5doc);
                    
                } else {
                    $('#lnkV5Path').hide();
                    $('#lnkV5Del').hide();
                }
                if (data.isReadOnly) {

                    $('#frmBenefitsDetail input').attr('readonly', 'readonly');
                    $('#frmBenefitsDetail select').attr('readonly', 'readonly');
                    $('#lnkV5Del').attr('disabled', true);
                    $('#file1').attr('disabled', true);
                    $('#file2').attr('disabled', true);
                    $('#btnSaveCompanyCar').attr('disabled', true);
                    
                    
                } else {

                    $('#frmBenefitsDetail input').attr('readonly', false);
                    $('#frmBenefitsDetail select').attr('readonly', false);
                    $('#file1').attr('disabled', false);
                    $('#file2').attr('disabled', false);
                    $('#lnkV5Del').attr('disabled', false);
                    $('#btnSaveCompanyCar').attr('disabled', false);
                }
              
              


            });
        
    });
    })();
</script>
