﻿@model BHGHRModuleWeb.ViewModels.BenefitHealthHistoryViewModel
@{
    Layout = null;
    ViewBag.Title = "View History";
    var grid = new WebGrid(canPage: true, rowsPerPage: 1000, canSort: false, ajaxUpdateContainerId: "webgrid");
    grid.Bind(source: Model.history, rowCount: 1000, autoSortAndPage: false);
    var hasRecords = false;
    if (Model.history != null && Model.history.Count > 0)
    {
        hasRecords = true;
    }
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
}

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="width:800px;">
        <div class="modal-header">
            <h4 class="modal-title">Health Cover History</h4>
        </div>
        <div class="modal-body">
            <div class="row padding-bottom-5">
                <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                    <strong id="popupMsgResponse"></strong>
                </div>
            </div>
            <div class="row padding-bottom-5">
                <div class="col-md-12">
                    <label style="font-size: 18px;">Health Cover History</label>
                </div>
            </div>
            <div class="row padding-bottom-5">
                <div id="webgrid" style="max-height:800px; overflow-y:scroll;">
                    @if (hasRecords)
                    {
                        @grid.GetHtml(
                            tableStyle: "table table-responsive backcolor",
                            headerStyle: "wedgrid-header",
                            footerStyle: "webgrid-footer",
                            alternatingRowStyle: "webgrid-alternating-row",
                            rowStyle: "webgrid-row-style",
                            columns: grid.Columns(
                            grid.Column(columnName: "fiscalYears", header: "Health Cover/Plan For"),
                            grid.Column(columnName: "Type", header: "Type"),
                            grid.Column(columnName: "Provider", header: "Provider"),
                            grid.Column(columnName: "excessPaid", header: "Excess Paid £"),
                            grid.Column(columnName: "effectiveFrom", header: "Effective From"),
                            grid.Column(columnName: "endDate", header: "End Date"),
                            grid.Column(columnName: "annualPremium", header: "Annual Premium"),
                            grid.Column(columnName: "membershipNumber", header: "Membership Number")
                        ))
                    }
                    else
                    {
                        <table class="table table-responsive backcolor">
                            <thead>
                                <tr class="wedgrid-header">
                                    <th>Health Cover/Plan For</th>
                                    <th>Type</th>
                                    <th>Provider</th>
                                    <th>Excess Paid £</th>
                                    <th>Effective From</th>
                                    <th>End Date</th>
                                    <th>Annual Premium</th>
                                    <th>Membership Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="webgrid-row-style">
                                    <td colspan="8" align="center"><br />No record found<br /><br /> </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
