﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="progress-dialog" style="display:none;" id="loader">
        <img src='@Url.Content("~/Images/progress.gif")' />
    </div>
    <div>
        <div class="col-xs-12 no-padding-sides">
            <div>
                @* TODO: *@
                @Html.Action("GetTopNavigationMenu", "Navigation")
            </div>
            <div class="margin-top-default">
                 
            </div>
        </div>
    </div>
    <div id="divBodyContainer" class="container">
        @*TODO: NextPhase*@
        <div class="col-md-12 alert alert-success" id="nextPhaseMessage" style="display:none">
            <strong>This functionality will be available in next phase!</strong>
        </div>

        @RenderBody()
    </div>

    <script type="text/javascript">

        //TODO: 
        // cache: false,
        // add this line in JQuery (load function) when jquery version update.

        jQuery.ajaxSetup({
            cache: false,
            beforeSend: function () {
                $('#loader').show();
            },
            complete: function () {
                $('#loader').hide();
            },
            success: function () { }
        });

        //TODO: NextPhase
        function nextPhase() {
            $('.nextPhase').on('click', function () {
                $(window).scrollTop(0);
                $("#nextPhaseMessage").show().delay(5000).fadeOut();
            })
        }

        function loadDatePicker() {
            $(".DatePicker").datepicker({
                showAnim: "blind",
                dateFormat: 'dd/mm/yy',
                yearRange: '1900:2050',
                changeMonth: true,
                changeYear: true,
                showOn: 'button',
                buttonImage: '@Url.Content("~/Content/images/calendar.png")',
                buttonImageOnly: true,
            });

            //$.validator.methods.date = function (value, element) {
            //    //ES - Chrome does not use the locale when new Date objects instantiated:
            //    //return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
            //    var d = new Date();
            //    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
            //}

            $.validator.methods.date = function (value, element) {
                // /^\d{4}[\/\-](0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])$/.test( value );
                //old   (/^\d{1,2}[\/-]\d{1,2}[\/-]\d{4}(\s\d{2}:\d{2}(:\d{2})?)?$/.test(value)
                var valadsasd = this.optional(element) || (/^\d{1,2}[\/-]\d{1,2}[\/-]\d{4}(\s\d{2}:\d{2}(:\d{2})?)?$/.test(value)
                        && !/Invalid|NaN/.test(new Date(value.substr(6, 4) + '-' + value.substr(3, 2) + '-' + value.substr(0, 2))));
                //alert(valadsasd);
                return valadsasd;
            }

            //$.validator.methods.date = function (value, element) {
            //    var d = value.split("/");
            //    return this.optional(element) || !/Invalid|NaN/.test(new Date((/chrom(e|ium)/.test(navigator.userAgent.toLowerCase())) ? d[1] + "/" + d[0] + "/" + d[2] : value));
            //};
        }

    </script>

    @RenderSection("scripts", required: false)

</body>
</html>

