﻿@model BHGHRModuleWeb.ViewModels.NavigationViewModel
@{ 
    var className = "";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}
<div class="TopNavigation">
    <ul>
        <li>
            <div class="asb-dropdown">
                <a href="javascript:void(0)" class="module">
                    @if (Model.CurrentModule == "MyJob")
                    {
                        <span>My Job</span>
                    }
                    else
                    {
                        <span>@Model.CurrentModule</span>
                    }
                </a>
                <div class="asb-dropdown-content" style="min-width:150px !important; margin-left:8px !important;">
                    @foreach (var m in Model.hrModuleMenus)
                    {
                        <a href="@m.url" data-id="@m.moduleId"> - @m.moduleName</a>
                    }
                </div>
            </div>
        </li>
        @if (Model.menues != null && Model.menues.Count > 0)
        {
            foreach (var item in Model.menues)
            {
                className = "";
                if (item.menuName.Equals(controllerName))
                {
                    className = "selected";
                }
                <li>
                    <div class="asb-dropdown">
                        <a href="@item.path" class="@className" data-itemid="@item.menuId">@item.menuName</a>
                        <div class="asb-dropdown-content">
                            @foreach (var subMenuItem in item.subMenus)
                            {
                                <a href="@subMenuItem.path" class="@className" data-itemid="@subMenuItem.menuId">@subMenuItem.subMenuName</a>
                            }
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>

<script type="text/javascript">
    //TODO: NextPhase
    (function () {
        $('.nextPhase').on('click', function () {
            $(window).scrollTop(0);
            $("#nextPhaseMessage").show().delay(5000).fadeOut();
        })
    })();

</script>