/* CSS Document */
@import url("/css/CSSmenu.css");
@import url("/css/Greater_Manchester_Advancement_Network.css");
@import url("/css/Members_FrontEnd.css");

body {
 font: normal 80% Arial, Helvetica, sans-serif;
}

input {
 font: normal 110% Arial, Helvetica, sans-serif;
}

h4 {
 font: normal 130% Arial, Helvetica, sans-serif;
}

ul li#FULLSITE { display: none; }
ul li#TEXTONLY { display: block; }