.FormFieldset 
{
	/*This style is used to hide a form field as a way of stopping spam*/
	display: none;
}

UL#navmenu {
	z-index:2;
	LINE-HEIGHT: 1.95em;
	WIDTH: 130px;
	MARGIN: 0px;
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px;
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}

UL#navmenu LI {
	z-index:2;
	WIDTH: 130px;
	MARGIN: 0px;
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px;
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}

UL#navmenu UL {
	z-index:2;
	WIDTH: 130px;
	MARGIN: 0px;
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px;
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}
/*
UL#navmenu:unknown {
	margin-bottom:1px; CLEAR: both; DISPLAY: block; VISIBILITY: hidden; FONT: 1px/0px serif; HEIGHT: 0px; content: "."
}
*/
UL#navmenu LI {
	BACKGROUND: #FFFFFF; DISPLAY: inline; FLOAT: left; POSITION: relative;
}
UL#navmenu A {
	margin-bottom:1px; margin-left:1px;
	BORDER-RIGHT: #cc0000 1px solid; BORDER-TOP: #cc0000 1px solid; BORDER-LEFT: #cc0000 1px solid; BORDER-BOTTOM: #cc0000 1px solid;
	DISPLAY: block; 
	BACKGROUND: #FFFFFF;
	COLOR: BLACK;
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-TOP: 0px; PADDING-BOTTOM: 0px;
	HEIGHT: 100%;
	TEXT-DECORATION: none
}
UL#navmenu A:hover {
	BACKGROUND: #cc0000; COLOR: #FFFFFF
}
UL#navmenu LI:hover A {
	BACKGROUND: #cc0000; COLOR: #FFFFFF
}
UL#navmenu LI.iehover A {
	BACKGROUND: #cc0000; COLOR: #FFFFFF
}

UL#navmenu LI:hover LI A {
	/*HIDDEN FIRST MENU*/
	BACKGROUND: #FFFFFF; COLOR: #cc0000
}
UL#navmenu LI.iehover LI A {
	/*HIDDEN FIRST MENU*/
	BACKGROUND: #FFFFFF; COLOR: #cc0000
}

UL#navmenu LI:hover LI A:hover {
	/*#ccc*/
	BACKGROUND: #cc0000; COLOR: #FFFFFF
}
UL#navmenu LI:hover LI:hover A {
	/*#ccc*/
	BACKGROUND: #cc0000; COLOR: #FFFFFF
}
UL#navmenu LI.iehover LI A:hover {
	/*#ccc*/
	BACKGROUND: #cc0000; COLOR: #FFFFFF
}
UL#navmenu LI.iehover LI.iehover A {
	BACKGROUND: #cc0000; COLOR: #FFFFFF
}

UL#navmenu LI:hover LI:hover LI A {
	/* HOVER BEHAVIOUR ON THIRD HIDDEN MENU */
	BACKGROUND: #FFFFFF; COLOR: #cc0000
}
UL#navmenu LI.iehover LI.iehover LI A {
	/* IE HOVER BEHAVIOUR ON THIRD HIDDEN MENU */
	BACKGROUND: #FFFFFF; COLOR: #cc0000
}

UL#navmenu LI:hover LI:hover LI A:hover {
	BACKGROUND: #cc0000; COLOR: #FFFFFF
}
UL#navmenu LI:hover LI:hover LI:hover A {
	BACKGROUND: #cc0000; COLOR: #FFFFFF
}

UL#navmenu LI.iehover LI.iehover LI A:hover {
	/* IE HOVER BEHAVIOUR ON SECOND HIDDEN MENU */
	BACKGROUND: #cc0000; COLOR: #FFFFFF
}
UL#navmenu LI.iehover LI.iehover LI.iehover A {
	/* IE HOVER BEHAVIOUR ON SECOND HIDDEN MENU */
	BACKGROUND: #cc0000; COLOR: #FFFFFF
}
/*
UL#navmenu LI:hover LI:hover LI:hover LI A {
	BACKGROUND: #cc0000; COLOR: #666
}
UL#navmenu LI.iehover LI.iehover LI.iehover LI A {
	BACKGROUND: #cc0000; COLOR: #666
}
UL#navmenu LI:hover LI:hover LI:hover LI A:hover {
	BACKGROUND: #cc0000; COLOR: #fff
}
UL#navmenu LI.iehover LI.iehover LI.iehover LI A:hover {
	BACKGROUND: #cc0000; COLOR: #fff
}
*/
UL#navmenu UL {
	DISPLAY: none; LEFT: 130px; POSITION: absolute; TOP: 0px
}
UL#navmenu UL UL {
	DISPLAY: none; LEFT: 130px; POSITION: absolute; TOP: 0px
}
UL#navmenu UL UL UL {
	DISPLAY: none; LEFT: 130px; POSITION: absolute; TOP: 0px
}
UL#navmenu LI:hover UL UL {
	DISPLAY: none
}
UL#navmenu LI:hover UL UL UL {
	DISPLAY: none
}
UL#navmenu LI.iehover UL UL {
	DISPLAY: none
}
UL#navmenu LI.iehover UL UL UL {
	DISPLAY: none
}
UL#navmenu LI:hover UL {
	DISPLAY: block
}
UL#navmenu UL LI:hover UL {
	DISPLAY: block
}
UL#navmenu UL UL LI:hover UL {
	DISPLAY: block
}
UL#navmenu LI.iehover UL {
	DISPLAY: block
}
UL#navmenu UL LI.iehover UL {
	DISPLAY: block
}
UL#navmenu UL UL LI.iehover UL {
	DISPLAY: block
}

UL#navmenu LI.MenuMore A {
	background: url('images/im_dropdownarrow.gif') center right no-repeat #FFFFFF;
	color:#cc0000;
}

UL#navmenu LI.MenuMore A:hover {
	background: url('images/im_dropdownarrow.gif') center right no-repeat #cc0000;
	color:#FFFFFF;
}

.selectedRow
{
background-color:#0066CC;
color:#ffffff;
}

.unselectedRow
{
background-color:#f27b8e;
color:#ffffff;
}