legend
{
	display:none;
}

fieldset
{
	border:0px;
}

div.row
{
    clear: both;
    padding-top: 2px;
    width:100%;
    line-height:1.8;
}

div.row span.label
{
    float: left;
	text-align: left;
	font-weight:bold;
    width:34%;
	text-indent:5px;
	white-space:nowrap;
}

div.row span.formw
{
    float: left;
    width: 60%;
    text-align: left;
}

div.row span.form_rdo
{
    float: left;
    width: 54%;
    margin-left:7px;
    padding-top:3px;
    padding-right:2px;
    border-bottom: 1px solid silver;
}

div.row input.radio
{
    float: left;
    width: 90%;
    text-align: left;
    border:0px solid red;
    margin-left:2px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	color: #003366;
}

div.row input, select, textarea
{
    float: left;
    width: 90%;
    text-align: left;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	color: #003366;
}

div.row input.submit
{
	text-align: center;
    width: auto;
    cursor: pointer;
}

input[type=button], input[type=submit], input[type=reset], input[type=checkbox]
{
	background-color: #ffffff;
    border: 1px solid #cc0000;
    color: #cc0000;
    cursor:pointer;
    width:auto;
    padding:5px;
    /*margin:5px;*/
}

input[type=button]:hover, input[type=submit]:hover
{
    background-color: #cc0000;
    color:#ffffff;
}

input[disabled], input[disabled]:hover
{
    background-color: #999999;
    color:#fff;
}