@import url("/css/forms.css");
/* CSS Document */
* {
 margin: 0;
 padding: 0;
}

p#access { display: none; }

img { border:0px }

#header {
 padding: 1em;
}

#navigation {
 width: 130px;
 float:left;
 padding-left: 1em;
}

#NavigationLft
{
 width: 130px;
 float:left;
}

#content {
 margin-left:160px;
 background-color:#ffffff;
 /*padding-left:10px;
 padding-right:10px;*/
}

#headercontent { height:57px; }
#header-left { width: 130px; float:left; padding-left: 1em; }
#header-right { float:right; }

#maincontent { padding-top: 1em;}
#maincontent p { padding-bottom: 1em;}
#maincontent ul { margin-left: 1em; padding: 1em;}
#maincontent ul { margin-left: 20px;}

#footer
{
	float:left; 
	position: relative;
    width: 100%;
    height: 20px;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0px; 
    text-align:center;
    clear:both;
}
	
#footer ul { padding-top: 5px; position: relative;	}
#footer ul li { list-style: none; display: inline; margin-left: 15px;}
#footer ul li a:link { color: #cc0000; text-decoration: none;}
#footer ul li a:visited { color: #333; text-decoration: none; }
#footer ul li a:hover { color: #666; }

#CSSFontSize { padding-top: 1em; width: 130px; float:left;}
#CSSFontSize ul { float:left; padding-top: 1em; position: relative;	}
#CSSFontSize ul li { list-style: none; display: inline; margin-left: 10%;}
#CSSFontSize ul li a:link { color: #cc0000; text-decoration: none;}
#CSSFontSize ul li a:visited { color: #333; text-decoration: none; }
#CSSFontSize ul li a:hover { color: #666; }

#CSS_FontSize {width:auto; white-space:nowrap;}

#fundedby { float:left; width: 130px; padding:0px; margin:0px; }
#primary-nav {width:130px; padding-bottom:20px}

UL#navmenu A.Reg {
 margin-bottom:1px; margin-left:1px;
 border-right: #cc0000 1px solid; border-top: #cc0000 1px solid; border-left: #cc0000 1px solid; border-bottom: #cc0000 1px solid;
 display: block;
 color: #ffffff;
 padding-right: 6px; padding-left: 6px; padding-top: 0px; padding-bottom: 0px;
 height: 100%;
 text-decoration: none; background-color:red
}

UL#navmenu A.TextOnly {
 margin-bottom:1px; margin-left:1px;
 border-right: #cc0000 1px solid; border-top: #cc0000 1px solid; border-left: #cc0000 1px solid; border-bottom: #cc0000 1px solid;
 display: block;
 color: #ffffff;
 padding-right: 6px; padding-left: 6px; padding-top: 0px; padding-bottom: 0px;
 height: 100%;
 text-decoration: none; background-color:#999999;
}

#M_Container {
	margin-left:10px;
	margin-right:10px;
	height:40px;
  	background-attachment: fixed;
 	background: #ffffff url('/images/im_dashedline.gif') repeat-x;
  	background-position: left top;
}

#MiddleMC {
	margin-left:140px;
	padding: 1em;
}

#MiddleMC H1 {
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	color:#cc0000;
}

H1.title 
{
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	color:#cc0000;
}

.border-red
{
    border:1px solid green;
    padding-bottom:5px;
    padding-top:0px;
}

.border-white
{
    border:1px solid #cc0000;
    padding-bottom:5px;
    padding-top:0px;
}

p.H4
{

}
p._H4
{
	background:#fff;
	padding-top:10px;
	padding-bottom:10px;
	text-align:left;
	color:#000;
	border:1px solid #cc0000;
	text-indent:10px;
	margin-bottom: 10px;
	font-weight:bold
}

.er
{
	color:red;
	border: solid 1px red;
	margin-bottom:5px;
}

.no_error
{
	color:#cc0000;
	border: solid 1px #cc0000;
	margin-bottom:5px;
}

UL.navmenu2
{
	line-height: 1.95em;
	width: auto;
	margin: 0px;
	list-style-type: none;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

UL.navmenu2 LI
{
	width: auto;
	margin: 0px;
	list-style-type: none;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

UL.navmenu2 UL
{
	width: auto;
	margin: 0px;
	list-style-type: none;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

UL.navmenu2 LI
{
	background: white;
	display: inline;
	float: left;
	position: relative;	
	padding:0px;
	margin:0px;
	margin-left:10px;
}

UL.navmenu2 A 
{
	border-right: #cc0000 1px solid;
	border-top: #cc0000 1px solid; 
	border-left: #cc0000 1px solid;
	border-bottom: #cc0000 1px solid;
	display: block;
	background: #ffffff;
	color: #cc0000;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align:center;
	text-decoration: none; width:auto;
}

UL.navmenu2 A:hover {
    /* INTERNET EXPLORER */
	background: #cc0000; color: #ffffff
}

UL.navmenu2 LI:hover A {
    /* FIRE FOX */
	background: #cc0000; color: #ffffff
}