.selectedRow 
{
	background-color:#cc0000; 
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
}

.unselectedRow
{
	background-color: #003366;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
}

.submenu a:link
{
    font-family: sans-serif;
    font-size:12px; 
    text-decoration:none;
    color:#FFFFFF;
	font-weight:bold;
}

.submenu a:visited 
{
    font-family: sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#FFFFFF;
	font-weight:bold;
}

.submenu a:hover 
{
    font-family: sans-serif;
    font-size:12px;   
    text-decoration:none; 
    color:#FFFFFF;
	font-weight:bold;
}

.submenu a:focus 
{
    font-family: sans-serif;
    font-size:12px; 
    text-decoration:none;
    color:#FFFFFF;
	font-weight:bold;
}

.submenu a:active 
{
    font-family: sans-serif;
    font-size:12px; 
    text-decoration:none; 
    color:#FFFFFF;
	font-weight:bold;
}

.LoginList a:link
{
    font-family: sans-serif;
    font-size:10px; 
    text-decoration:none;
    color:#000000;
}

.LoginList a:visited 
{
    font-family: sans-serif;
    font-size:10px;
    text-decoration:none;
    color:#000000;
}

.LoginList a:hover 
{
    font-family: sans-serif;
    font-size:10px;   
    text-decoration:none; 
    color:RED;
}

.LoginList a:focus 
{
    font-family: sans-serif;
    font-size:10px; 
    text-decoration:none;
    color:#000000;
}

.LoginList a:active 
{
    font-family: sans-serif;
    font-size:10px; 
    text-decoration:none; 
    color:#000000;
}

.hiddeninputbutton
{	
	display:none;
	border:solid 1px #000000;
	height:20px;
	cursor:pointer;
}

.hidediv
{
	display:none;
}

.showdiv
{
	display:block;	
}

.inputbutton
{	
	
	border:solid 1px #000000;
	height:20px;
	cursor:pointer;
}

.orgformbg
{
	background-color: #EEEEEE;
	padding:3px;
}

.orgtextbox
{
	border:solid 1px #000000;
	width:240px;
	height:18px;
}

.orgcheckbox
{
	margin:0px;
	padding:0px;
}

.listfont
{
	font-family: sans-serif;
    font-size:10px; 
}

.hidetbody
{
	display:none;
}

.Showtbody
{
	display:block;
}

.ultype
{
 font-family: sans-serif;
    font-size:10px;   
    text-decoration:none; 
    color:RED;
}
	
.ullink a:link
{
    font-family: sans-serif;
    font-size:12px; 
    text-decoration:none;
    color:#000000;
	font-weight:bold;
}

.ullink a:visited 
{
    font-family: sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#000000;
	font-weight:bold;
}

.ullink a:hover 
{
    font-family: sans-serif;
    font-size:12px;   
    text-decoration:none; 
   	color:RED;
	font-weight:bold;
}

.ullink a:focus 
{
    font-family: sans-serif;
    font-size:12px; 
    text-decoration:none;
    color:#000000;
	font-weight:bold;
}

.ullink a:active 
{
    font-family: sans-serif;
    font-size:12px; 
    text-decoration:none; 
    color:#000000;
	font-weight:bold;
}	
	