﻿div.container2
{
    margin: 0px;
	overflow: hidden;
}

div.left
{	
	float:left; 
	width:144px; /*width: 12%;*/
}

div.right
{	
	float: right;
	width:80%;
}

#portal_submenu
{
    margin:0px;
    padding:0px; 
    width:100%;
    float:left;
}

#portal_submenu ul
{
    list-style: none;
    list-style-type:none;
    padding:0px;  
    margin:0px;  
}

#portal_submenu a:link
{
	font-weight:bold;
    text-decoration:none;
    color:#FFFFFF;
}

#portal_submenu a:visited
{
	font-weight:bold;
    text-decoration:none;
    color:#FFFFFF;
}

#portal_submenu a:hover
{
	font-weight:bold;
    text-decoration:none;
    color:#FFFFFF;
}

#portal_submenu a:focus 
{
	font-weight:bold;
    text-decoration:none;
    color:#FFFFFF;
}

#portal_submenu a:active 
{
	font-weight:bold;
    text-decoration:none;
    color:#FFFFFF;
}


.genwhitelink a:link
{
	font-weight:bold;
    text-decoration:none;
    color:#FFFFFF;
}

.genwhitelink a:visited 
{
	font-weight:bold;
    text-decoration:none;
    color:#FFFFFF;
}

.genwhitelink  a:hover 
{
	font-weight:bold;
    text-decoration:none;
    color:#FFFFFF;
}

.genwhitelink  a:focus 
{
	font-weight:bold;
    text-decoration:none;
    color:#FFFFFF;
}

.genwhitelink a:active 
{
	font-weight:bold;
    text-decoration:none;
    color:#FFFFFF;
}





#portal_content
{
    margin-left:10px;
    width:100%;
    clear:left
}

/*
.portal_content
{
    margin-left:160px;
	width:50%;
	margin-bottom:5px;
}
*/

#portal_search_content
{
     width:100%;
     color:#cc0000;
}

#portal_search_content label
{
	width: 14em;
	float: left;
	text-align: left;
	margin-right: 0.5em;
	display: block;
	color:#cc0000;
}

#portal_search_content .lblsearch_wider
{
	width: 16em;
	float: left;
	text-align: left;
	margin-right: 0.5em;
	display: block;
	color:#cc0000;
}

#portal_search_content .searchinput
{
	width: 16em;
	border:solid 1px #cc0000;
}

#portal_search_content select
{
	width:16em;
}

.portal_search_select
{
	font-size:1.2em;
	width:16em;   
}    

.portal_search_orgname 
{
	width: 16em;
	color:#cc0000;
	border:solid 1px #cc0000;
	height:1.5em;
}
.portal_search_postcode 
{
	width: 8em;
	color:#cc0000;
	border:solid 1px #cc0000;
	height:1.5em;
}

.submit input
{
	margin-top: 2em;
	margin-left: 17em;
	border:solid 1px #cc0000;
} 

.chkServiceList
{
	margin-left: 1em;
	margin-right:1em;
}

#servicelist
{
	margin-top: 1em;
	margin-bottom:1em;
}    

.memberssearchbody
{
	padding-top:1em
}    

#maincontent
{  
	margin-right:0px;   
} 
   
.selectedRow
{  
    border: solid 1px #ffffff;
    color:#ffffff; 
    background-color: #cc0000;
    padding:0px;  
    margin:0px;    
    padding:5px;
/*
	background-image: url(/images/member_selected_bg.gif);
    background-position:right center;
    background-repeat:no-repeat;
*/ 
}    

.unselectedRow
{ 
    border: solid 1px #ffffff;
    color:#ffffff; 
    background-color:#f27b8e;
    padding:0px;  
    margin:0px; 
    padding:5px; 
}   

.membersheader
{
 	background-color: #cc0000;
	color:#ffffff;
	font-weight:bold;	  
    padding:5px;
}    

.membersbody
{
 	background-color: #EEEEEE;
	color:#003366;
    padding:5px;
    margin-bottom:1px;
    border-bottom:solid 1px #ffffff;    
    height: auto !important; /* for modern browsers */

}

.lblDetails
{ 
 	font-size:12px;
	font-weight: bold;
	margin-right:6px;      
}    

#portal_right_submenu
{
	float:right; 
	text-align:right;  
}    

#portal_submenu .genlink a:link
{
    text-decoration:none;
    color:#000000;
    font-weight:normal;
    font: normal 90% Arial, Helvetica, sans-serif;
}

#portal_submenu .genlink a:visited 
{
    text-decoration:none;
    color:#000000;
    font-weight:normal;
}

#portal_submenu .genlink a:hover 
{
    text-decoration:none; 
    color:Gray;
    font-weight:normal;
}

#portal_submenu .genlink a:focus 
{
    text-decoration:none;
    color:#000000;
    font-weight:normal;
}

#portal_submenu .genlink a:active 
{
    text-decoration:none; 
    color:#000000;
    font-weight:normal;
}

#searchresult a:link
{
    text-decoration:none;
    color:#000000;
}

#searchresult a:visited 
{
    text-decoration:none;
    color:#000000;
}

#searchresult a:hover
{
    text-decoration:none;
    color:Gray;
}

#searchresult a:focus
{
    text-decoration:none;
    color:#cc0000;
}

#searchresult a:active 
{
    text-decoration:none; 
    color:#cc0000;
}

.search_header_row
{
    border: solid 1px #cc0000;
    color:#FFFFFF;
    background-color:#cc0000;
    font-weight:bold;
}

.search_header_cell
{
    padding:5px;
}

.search_body_cell
{
    padding:5px;
}