/* CSS Document */



.bookapp
{

	color: #FFFFFF;
	background-color: #ff9933;
	border: #000066 1px solid;
	margin-bottom: 10px;
	margin-left: 10px;

}


.appdesc
{
color:  #cc0000;

}
.appaddress
{
color: #000000;

}
.appgen
{
color:  #cc0000;

}

.appwarning
{
color: red;
}


.appborder
{

border: #cc0000 1px solid;
padding:10px;
margin-bottom:10px
}

.appborder input
{
margin:0px;
margin-top:10px;

padding:0px;
}

.kkeader
{
	border: #cc0000 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	color: #000066;
	font-family: 'Courier New' , Monospace;
	background-color: #cc0000;
}

.Code
{
	border: #8b4513 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	color: #000066;
	font-family: 'Courier New' , Monospace;
	background-color: #ff9933;
}

* {
 margin: 0;
 padding: 0;
}

p#access { display: none; }  
  
body {
 /* 
 max-width: 780px;
 width:expression(840 + "px");
 */
 background-color:#FFFFFF;
 font: normal 70% Arial, Helvetica, sans-serif;
}

#header {
 /*background-color:#EEEEEE;*/
 /*border:solid 1px #000000;*/
 padding: 1em;
}

#navigation {
 /*border:solid 1px #000000;*/
 width: 130px;
 float:left;
 padding-left: 1em;
}

#content {
/* border:solid 1px #000000;*/
 margin-left:140px;
 background-color:#FFFFFF;
 padding-left:10px;
 padding-right:10px;
}

#headercontent { margin-left:0px; background-color:#FFFFFF; }

#header-left { width: 130px; float:left; padding-left: 1em; }

#header-left img { border: 0px; }

#header-right { margin-left: 130px;	}

#header-strip { width: 330px; margin-right:338px; }

#header-logotext { float:right; width:279px; }

#CH-left { float:left; padding-left: 1em; border:solid 1px #000000; width:130px; }

#CH-right { border:solid 1px #000000; margin-left: 130px; }

#CH-strip { width: 330px; margin-right:338px;  border:solid 1px #000000; }

#rightnav { float:right; width: 210px;}

#contentheader { margin-right:210px;margin-left:10px;}

#rightnav img { border: 0px;}

#maincontent { margin-right: 210px; padding: 1em;}

#maincontent p { padding-bottom: 1em;}

#maincontent ul { margin-left: 1em; padding: 1em;}

#maincontent ul { margin-left: 20px;}

#footer { clear:both; text-align: center;}

#TopNavigation {
 width:90%;
 height:20px;
 margin-top:20px;
 padding-right:10px;
 text-align:right;
 float:right;
 clear:both;
 }

#TopNavigation ul {
	}
   
#TopNavigation ul li { list-style: none; display: inline; margin-left: 15px;}
	
#TopNavigation ul li a:link { color: #cc0000; text-decoration: none;}
	
#TopNavigation ul li a:visited { color: #333; text-decoration: none; }
		
#TopNavigation ul li a:hover { color: #666; }

#footer ul { padding-top: 5px; position: relative;	}
   
#footer ul li { list-style: none; display: inline; margin-left: 15px;}
	
#footer ul li a:link { color: #cc0000; text-decoration: none;}
	
#footer ul li a:visited { color: #333; text-decoration: none; }
		
#footer ul li a:hover { color: #666; }

#right-nav { width: 200px; right: 10px;	}
	
#right-nav ul { margin-top: 1px; }
	
#right-nav ul li { list-style: none; margin-bottom: 1px; background: #FFFFFF;}
	
#right-nav ul li a {
	display: block;
	padding: 3px;
	text-decoration: none;
	color: #cc0000;
	font-weight: bold;
	}
	
* html #right-nav ul li { float: left; }

* html #right-nav ul li a { height: 1%; }

#right-nav ul li a:hover { color: #cc0000; }

#right-nav ul li a.active { color: #cc0000; font-size: 115%; font-weight: bold; }

#right-nav ul li ul li a { text-transform: none; font-weight: normal; padding-right: 0; color: #666; }

#header-strip ul { padding-top: 5px; position: relative; }
   
#header-strip ul li { list-style: none; display: inline; margin-left: 15px; }

img { border:0px }

#fundedby img { border:0px}
	
#fundedby { float:left; width: 130px; padding:0px; margin:0px; }
	
#fundedby ul { margin-top: 1px; }
	
#fundedby ul li { list-style: none; margin-bottom: 1px; background: #FFFFFF;}
	
#fundedby ul li a { display: block; padding: 3px; text-decoration: none; color: #cc0000; font-weight: bold; }
	
* html #fundedby ul li { float: left; }

* html #fundedby ul li a { height: 1%; }

#fundedby ul li a:hover { color: #cc0000; }

#fundedby ul li a.active { color: #cc0000; font-size: 115%; font-weight: bold;}

#fundedby ul li ul li a {
	text-transform: none;
	font-weight: normal;
	padding-right: 0;
	color: #666;
	}

#search {
	padding-top:10px;
	padding-right:10px;
	text-align: right;
	height:30px;
	vertical-align: middle;
	}

#search fieldset, #search legend { border: none; }

#search legend { display: none;	}

#search label { color: #333; vertical-align: middle; }

#search input { vertical-align: middle; margin: 0; padding: 1px;}
		
input#searchbox { width: 130px; margin-left: 6px; }

input#searchbutton { padding: 2px; border: none; }

#nsform fieldset, #nsform legend { border: none; }

#nsform legend { display: none;	}

#nsform label { color: #333; vertical-align: middle; }

#nsform input { vertical-align: middle; margin: 0; padding: 1px; }

div.row { clear: both; padding-top: 10px; }

div.row span.label { float: left; width: 100px; text-align: right; }

div.row span.formw { float: right; width: 355px; text-align: left; }

div.subrow { float: right; width: 355px; text-align: left; padding-top: 10px; }

div.subrow span.label { float: left; width: 40px; text-align: left; } 
 
 div.subrow span.formw_s1 {
  float: left;
  width: 100px;
  text-align: left;
  }
 div.subrow span.formw_s2 {
  float: left;
  width: 100px;
  text-align: left;
  }
 div.subrow span.formw_s3 {
  float: left;
  width: 105px;
  text-align: left;
  }
 
div.row2 span.formw1 {float: right; width: 255px; text-align: left;}

div.row2 span.formw2 {float: right; width: 100px; text-align: left;} 

div.subrowLC { float: right; width: 375px; text-align: left; padding-top: 10px;} 

div.subrowLC span.label { float: left; width: 100px;text-align: right;}

div.subrowLC span.formw_F1 {float: left; width: 125px; text-align: left;}

#primary-nav {width:130px;}

UL#navmenu A.Reg {
 margin-bottom:1px; margin-left:1px;
 BORDER-RIGHT: #cc0000 1px solid; BORDER-TOP: #cc0000 1px solid; BORDER-LEFT: #cc0000 1px solid; BORDER-BOTTOM: #cc0000 1px solid;
 DISPLAY: block; 
 COLOR: #FFFFFF; 
 PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-TOP: 0px; PADDING-BOTTOM: 0px;
 HEIGHT: 100%;
 TEXT-DECORATION: none; background-color:#F89830
}

UL#navmenu A.TextOnly {
 margin-bottom:1px; margin-left:1px;
 BORDER-RIGHT: #cc0000 1px solid; BORDER-TOP: #cc0000 1px solid; BORDER-LEFT: #cc0000 1px solid; BORDER-BOTTOM: #cc0000 1px solid;
 DISPLAY: block; 
 COLOR: #FFFFFF; 
 PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-TOP: 0px; PADDING-BOTTOM: 0px;
 HEIGHT: 100%;
 TEXT-DECORATION: none; background-color:#999999;
}

#M_Container {
	margin-left:10px;
	margin-right:10px;
	height:40px;
  	background-attachment: fixed; 
 	background: #FFFFFF url('/images/im_dashedline.gif') repeat-x; 
  	background-position: left top;
}
#MiddleMR { float:right; width:400px;}

#MiddleMC {margin-left:140px; margin-right: 400px; padding: 1em; }

#MiddleMC h1 { font-size: 1.5em; font-family: Arial, Helvetica, sans-serif; color:#cc0000; }

.usrlink { font-size: 9pt; font-weight: bold;}

.usrlink a {color: #cc0000; text-decoration: none;}

.usrlink a:visited {color: #cc0000; text-decoration: none;}

.usrlink a:hover {color: #cc0000; text-decoration: underline;}

INPUT.NO_EDIT_FIELD{ width:100px; background-color:#FFFFFF; border: none;}

INPUT.EDIT_FIELD{ width:100px; background-color:#FFFFFF; border: 1px #cc0000}