body {
	background-color: #C2D8E2;
	font-family: Arial, Helvetica, sans-serif;
	list-style-type: square;
	margin: 0;
}

h1 {
	font-size: 150%;
	font-weight: bold;
	color: #24496F;
}

h2 {
	font-size: 130%;
	font-weight: bold;
	color: #336699;
}

h3 {
	font-size: 110%;
	font-weight: bold;
	color: #336699;
}

h4 {
	font-size: 100%;
	font-weight: bold;
	color: #336699;
}

p {
	color: #333333;
}

img {
	border: 0;
}

div.head-section {
	color: #fff;
}

h1.header {
	margin: 0;
	padding: .5em 0em 0em .5em;	
}

p.subtitle {
	font-style: italic;
	font-weight: bold;
	margin: 0 1em 1em 1em;
	padding: 0em 0em .5em 1em;
}

a:link {
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

a:visited {
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
	color: #0162F3;
	text-decoration: underline;
}

div.nav-section {
	float: left;
	clear: left;
	width: 12em;
	padding: 1em;
	margin: 0 1em 1em 0;
	border: none;
}

div.nav-section ul {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px;
	list-style-type: none;
}

div.nav-section ul li {
	border-right: 0px;
	padding-right: 0.5em;
	border-top: 0px;
	padding-left: 0.5em; 	
	padding-bottom: 0.25em;
	border-left: 0px;
	padding-top: 0.25em;
	border-bottom: 0px;
	list-style-type: none;
}

div.changer {
	margin: 1em;
	padding: 1em;
	color: #333333;
	background-color: #FFFDF9;
	font-size: 10pt;
}

div.changer p {
	margin: 0 0 1em 0;
	padding: 0;
}

div.changer ul li {
	margin: 0;
	padding: 0;
}

div.main-section {
	margin: 1em 1em 1em 13em;
	padding: .5em 1em .5em 1em;
	background-color: #FFFDF9;
}