<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="arrear_rent_menu.ascx.vb" Inherits="tenantsonline.arrear_rent_menu" %>


<table style="text-align: left;">
<tr>
            <td style="height: 1px" colspan="2">
                <asp:HyperLink ID="lnkSetDirectDebit" runat="server" CssClass="link_item" NavigateUrl="~/secure/navigation/setup_direct_debit.aspx" style="text-decoration: underline">> How do I set up a direct debit? </asp:HyperLink></td>
        </tr>

        <tr>
            <td colspan="2" style="height: 1px">
                <asp:HyperLink ID="lnkCardPay" runat="server" CssClass="link_item" NavigateUrl="~/secure/navigation/use_payment_card.aspx" style="text-decoration: underline">> Can I pay using a payment card? </asp:HyperLink></td>
        
        </tr>
        
      <%--  <tr>
        
            <td colspan="2" style="height: 1px">
                <asp:HyperLink ID="lnkCustomerServiceMember" runat="server" CssClass="link_item" Width="433px" Height="19px" NavigateUrl="~/secure/navigation/talk_to_member.aspx" style="text-decoration: underline">> I would like to contact the Customer Services team </asp:HyperLink></td>
            
        </tr>--%>
        
        <tr>
            
            <td colspan="2" style="height: 1px">
                <asp:HyperLink ID="lnkRentBalance" runat="server" CssClass="link_item" NavigateUrl="~/secure/navigation/clear_arrears.aspx" style="text-decoration: underline">> I need help managing my arrears</asp:HyperLink></td>
             
        </tr>
        
        <tr>
            <td colspan="2" style="height: 1px">
                <asp:HyperLink ID="lnkAllPayRent" runat="server" CssClass="link_item" NavigateUrl="https://www.allpayments.net/allpayments/" style="text-decoration: underline">> I'd like to pay my rent using All Pay</asp:HyperLink></td>
            
        </tr>
        
</table>
