<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="BreadCrumbControl.ascx.vb" Inherits="tenantsonline.BreadCrumbControl" %>


<asp:LinkButton ID="lnkLoacation" runat="server" CssClass="menu_item"><%=Me.locationName%></asp:LinkButton> >
<asp:LinkButton ID="lnkArea" runat="server" CssClass="menu_item"><%=Me.areaName%></asp:LinkButton> >
<asp:LinkButton ID="lnkElement" runat="server" CssClass="menu_item"><%=Me.elementName%></asp:LinkButton> 
<asp:Label ID="lblFault" runat="server" CssClass="menu_item"><%=Me.faultName%></asp:Label>