<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="elementimages_back_button_control.ascx.vb" Inherits="tenantsonline.elementimages_back_button_control" %>
<asp:Label ID="lblSelectMessage" runat="server" CssClass="caption" Text="Now, click on the item in the room where the fault is"
    Width="470px"></asp:Label>&nbsp;
<asp:Button ID="btnBack" runat="server" Text="< Back" />
