﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <title>BHG Contractor Module</title>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <div class="progress-dialog" style="display:none;" id="loader">
        <img src='@Url.Content("~/Content/images/progress.gif")' />
    </div>
    <div class="container">
        @Html.Action("GetTopNavigationMenu", "Menu")
        <div class="main">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
