﻿<div class="TopNavigation">
    <ul>
        <li>
            <div class="asb-dropdown">
                <a href="javascript:void(0)" class="module">Contractor Module</a>
                <div class="asb-dropdown-content" style="min-width:150px !important; margin-left:8px !important;">
                    <a href='@Url.Action("Login", "Home")' data-id=""> - Logout</a>
                </div>
            </div>
        </li>
        <li>
            <div class="asb-dropdown">
                <a href='@Url.Action("Search", "Property")' class="selected">Search</a>
            </div>
        </li>
    </ul>
</div>

