.ErrorDivText
{	
	text-decoration: none;
	font-weight:bold;
	color: RED;
}

A:link {
	text-decoration: none;
	font-weight:bold;
	color: #cc0000;
} 

A:visited {
	text-decoration: none;
	font-weight:bold;
	color: #cc0000;
}

A:active {
	text-decoration: none;
	font-weight:bold;
}

A:hover {
	text-decoration: none;
	font-weight:bold;
	color: #666666;
}

A.noline {
	text-decoration: none;
	font-weight:bold
}


A.EXTERNALLINK:link {
	text-decoration: underline;
	font-weight:bold;
	color: #cc0000;
} 

A.EXTERNALLINK:visited {
	text-decoration: none;
	font-weight:bold;
	color: #cc0000;
}

A.EXTERNALLINK:active {
	text-decoration: none;
	font-weight:bold;
}

A.EXTERNALLINK:hover {
	text-decoration: none;
	font-weight:bold;
	color: #666666;
}


A.SMALLBLUELINK:link {
	text-decoration: none;
	font-weight:normal;
	color: #cc0000;
} 

A.SMALLBLUELINK:visited {
	text-decoration: none;
	font-weight:normal;
	color: #cc0000;
}

A.SMALLBLUELINK:active {
	text-decoration: none;
	font-weight:normal;
}

A.SMALLBLUELINK:hover {
	text-decoration: none;
	font-weight:normal;
	color: #666666;
}


A.SMALLBLACKLINK:link {
	text-decoration: none;
	font-weight:normal;
	color: #000000;
} 

A.SMALLBLACKLINK:visited {
	text-decoration: none;
	font-weight:normal;
	color: #000000;
}

A.SMALLBLACKLINK:active {
	text-decoration: none;
	font-weight:normal;
}

A.SMALLBLACKLINK:hover {
	text-decoration: none;
	font-weight:normal;
	color: #666666;
}


A.WHITELINK:link {
	text-decoration: none;
	font-weight:bold;
	color: #FFFFFF
} 
A.WHITELINK:visited {
	text-decoration: none;
	font-weight:bold;
	color: #FFFFFF
} 
A.WHITELINK:active {
	text-decoration: none;
	font-weight:bold;
}
A.WHITELINK:hover {
	text-decoration: none;
	font-weight:bold;
	color: #CCCCCC
}


.BLUE_INDENTED {
	color: #01A8DC;
	padding-left: 5px;
	padding-top: 5px;
}

.TEXT2 {
	padding-left: 5px;
	padding-top: 5px;
}
/*
INPUT, TEXTAREA,SELECT {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #0095d3;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cc0000;
	border-right-color: #cc0000;
	border-bottom-color: #cc0000;
	border-left-color: #cc0000;
	background-color: #FFFFFF;
}

INPUT.DISABLED {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #0095d3;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cc0000;
	border-right-color: #cc0000;
	border-bottom-color: #cc0000;
	border-left-color: #cc0000;
	background-color: #cc0000;
}
*/
.Btn_img {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #0095d3;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cc0000;
	border-right-color: #cc0000;
	border-bottom-color: #cc0000;
	border-left-color: #cc0000;
	background-color: #FFFFFF;
	height: 30px; 
	width: 100px;
	margin-top: 5px; 
	margin-right: 5px; 
	margin-bottom: 5px; 
	margin-left: 5px; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px
}
.SEND {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cc0000;
	border-right-color: #cc0000;
	border-bottom-color: #cc0000;
	border-left-color: #cc0000;
	background-color: #F89830;
}
.BtnChat {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #C02619;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C02619;
	border-right-color: #C02619;
	border-bottom-color: #C02619;
	border-left-color: #C02619;
	background-color: #FFFFFF;
}
.INPUTChat{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #C02619;
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
	border-color: #cc0000;
	background-color: #FFFFFF;
}
.CHECKBOX {
	border:0px none;
}
TD{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;	
}
.TEXT_BLACK{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;	
}
.GREEN {
	color: #A6B84C;
}
.BLUE {
	color: #01A8DC;
}
.WHITE {
	color: #FFFFFF;
}
.WHITE_b {
	color: #FFFFFF;
	font-weight: bold;
}
.WHITE2 {
	color: #FFFFFF;
	padding-left: 5px;
	padding-top: 5px;
}
.dash { 
	background-attachment: fixed; 
	background: url(/images/im_dashedline.gif) repeat-x;
	background-position: left top;
 }
 .dashdown { 
	background-attachment: fixed; 	
	background: url(/images/im_dashdown.gif) repeat-y;
	background-position: left top
 }
.border {
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
	border-color: #cc0000;
	background-color: #C8E8F0;
}

.LoadingBorder {
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px;
	border-color: #cc0000;
	background-color: #D8E8F0;
	padding-top: 100px;
	text-indent:100px;
	width:400px;
	height:250px
}

.borderless{
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
	border-color: #cc0000;
	background-color: #CCEBF5
}
.InboxBorder{
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
	border-color: #cc0000;
	background-color: #FFFFFF;
}
.Noborder{
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px;
	width:0px; 
	height:0px
}
.rss{
/*
  scrollbar-face-color: #FF9900;
  scrollbar-shadow-color: #FFFFFF;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-3dlight-color: #cc0000;
  scrollbar-darkshadow-color: #FF9900;
  scrollbar-arrow-color: #FFFFFF;
  scrollbar-track-color:#C8E8F0;
*/
}
INPUT.NO_EDIT_FIELD{
 	width:100px; 
 	background-color:#FFFFFF; 
	border: none;
}
INPUT.EDIT_FIELD{
 	width:100px;
	 background-color:#FFFFFF; 
	 border: 1px #cc0000
}
.info { color: #01A8DC; padding-left: 5px; padding-top: 5px; ; font-size: 12px}

/* NEWLY ADDED BY ROBERT EGAN CSS IMPROVMENTS -#CCEBF5-#D8E8F0*/

.highlight{background-color:#D8E8F0}
.nohighlight{background-color:#FFFFFF}

#search fieldset, #search legend { border: none; }

#search legend { display: none;	}

#search label { 
	color: #000000; 
	vertical-align: middle; 
	}

#search input {
	vertical-align: middle;
	margin: 0;
	padding: 1px;
	}
input#txt_SiteSearch { 	
	width: 170px; 
	margin-left: 6px; 
	}

input#searchbutton { 
	padding: 2px; 
	border: none; 
	}	
