﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="RDMasterPage.Master.vb"
    Inherits="RepairsDashboard.RDMasterPage" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title></title>
    <link href="../Styles/masterpage.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/Dashboard.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/default.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/Navigation.css" rel="stylesheet" media="screen" />
    <style type="text/css">
        .style1
        {
            height: 25px;
            width: 176px;
        }
        .style2
        {
            width: 176px;
        }
        #calToolbar img
        {
            vertical-align: text-top;
        }
        .style3
        {
            width: 94px;
        }
        
        .menuItemHeader td
        {
            padding: 0px;
            text-align: left;
            border-color: Black;
        }
        
        #menuPage
        {
            width: 100% !important;
        }
        
        #menuPage ul
        {
            width: 100% !important;
        }
        
        #pageMenu tr td a
        {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 5px;
            display: block;
        }
        
        #pageMenu tr td a:hover
        {
            /*padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 5px;*/
            background-color: #DCDCDC; /*width:100%;*/
            cursor: pointer;
        }
        
        .menuItem
        {
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 5px;
        }
        
        .menuItemHover
        {
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 5px;
            background-color: #DCDCDC;
            width: 100%;
            cursor: pointer;
        }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <div class="container">
        <div class="header">
            <div class="menue">
                <div id="header-left">
                </div>
                <div class="menue-select">
                    <ul class="propertyModuleMenu">
                        <li><a href="#" style="color: #cdcdcd;">Property Module &nbsp &nbsp &nbsp &nbsp &nbsp
                            &nbsp &nbsp</a>
                            <ul>
                                <asp:Repeater ID="rptRSLMenu" runat="server">
                                    <ItemTemplate>
                                        <li><a href="<%# Eval("THEPATH")%>">-
                                            <%#Eval("DESCRIPTION")%>
                                        </a></li>
                                    </ItemTemplate>
                                </asp:Repeater>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="menu">
                    <asp:Menu runat="server" ID="menuHeader" Orientation="Horizontal" DynamicHoverStyle-ForeColor="#ffffff"
                        Font-Size="13px" ForeColor="#cdcdcd" Height="50px" CssClass="menuItemHeader"
                        StaticSelectedStyle-ForeColor="#ffffff">
                        <DynamicHoverStyle ForeColor="White" />
                        <DynamicMenuStyle ForeColor="#cdcdcd" />
                        <DynamicSelectedStyle ForeColor="#ffffff" />
                        <DynamicMenuItemStyle />
                        <StaticSelectedStyle ForeColor="#ffffff" />
                        <StaticMenuItemStyle ItemSpacing="10px" HorizontalPadding="17px" />
                        <StaticHoverStyle ForeColor="White" />
                    </asp:Menu>
                </div>
            </div>
        </div>
        <div id="superdiv">
            <div id="r_leftcolumn">
                <div>
                </div>
                <asp:UpdatePanel runat="server" ID="updPanelPages" UpdateMode="Conditional">
                    <ContentTemplate>
                        <asp:Repeater ID="rptPages" runat="server">
                            <ItemTemplate>
                                <asp:HiddenField ID="hdnPageId" runat="server" Value='<%# Eval("PageId") %>' />
                                <asp:HiddenField ID="hdnAccessLevel" runat="server" Value='<%# Eval("AccessLevel") %>' />
                                <asp:Panel ID="pnlPageMenu" runat="server">
                                    <div id="pageMenu" style="border: black 1px solid; width: 100%; font-size: 13px;
                                        margin-bottom: 10px;">
                                        <asp:Menu runat="server" OnMenuItemClick="PageItem_MenuItemClick" CssClass="menuItemHeader"
                                            ID="menuPage" Orientation="Vertical" DynamicMenuItemStyle-Width="100%" DynamicHoverStyle-BackColor="Gainsboro"
                                            DynamicMenuItemStyle-Height="25px" Width="100%" DynamicMenuItemStyle-ItemSpacing="100px"
                                            DynamicMenuItemStyle-VerticalPadding="20px" ForeColor="black" StaticSelectedStyle-BackColor="gainsboro">
                                        </asp:Menu>
                                    </div>
                                </asp:Panel>
                            </ItemTemplate>
                        </asp:Repeater>
                    </ContentTemplate>
                </asp:UpdatePanel>
                <asp:UpdateProgress ID="updateProgressReportsArea" runat="server" DisplayAfter="10">
                    <ProgressTemplate>
                        <div class="loading-image">
                            <img alt="Please Wait" src="../../Images/progress.gif" />
                        </div>
                    </ProgressTemplate>
                </asp:UpdateProgress>
            </div>
            <div id="r_content">
                <div>
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>
    </div>
    </form>
</body>
</html>
