﻿@model BHGHRModuleWeb.ViewModels.TrainingDetailViewModel
@{
    ViewBag.Title = "Trainings";
    Layout = null;
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.OnFailure = "OnFailureTraining";
    options.OnSuccess = "OnSuccessTraining";
    options.UpdateTargetId = "msg";
    options.OnBegin = "OnBeginTraining";
}

@Scripts.Render("~/bundles/jqueryval")

<div class="col-md-12 grid-border">
    @using (Ajax.BeginForm("AddEmployeeTrainings", "Training", options, new { id = "frmTrainingDetail" }))
    {
        <div class="row padding-bottom">
            <div class="col-md-11 col-xs-11" style="border-bottom: 2px solid #dddddd;">
                @Html.Label("Details:", new { style = "margin: 0;padding-top: 10px;" })
            </div>
            <button class="rock pull-right" onClick="refreshForm()"></button>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4 ">
                @Html.HiddenFor(m => m.trainingId)
                @Html.HiddenFor(m => m.employeeId)
                @Html.HiddenFor(m => m.createdDate)
                @if (Model.trainingId == 0)
                {
                    @Html.HiddenFor(m => m.status, new { Value = "Requested" })
                }
                else
                {
                    @Html.HiddenFor(m => m.status, new { Value = "Declined" })
                }
                @if (Model.workingPattern.workingHours != null && Model.workingPattern.workingHours.Count > 0)
                {
                    var count = 0;
                    <span>@Html.HiddenFor(m => Model.workingPattern.workingHours.Count, new { id = "hdn_totalWeek" })</span>
                    foreach (var item in Model.workingPattern.workingHours)
                    {
                        count += 1;
                        <span>@Html.HiddenFor(m => item.mon, new { id = "hdn_mon_" + count })</span>
                        <span>@Html.HiddenFor(m => item.tue, new { id = "hdn_tue_" + count })</span>
                        <span>@Html.HiddenFor(m => item.wed, new { id = "hdn_wed_" + count })</span>
                        <span>@Html.HiddenFor(m => item.thu, new { id = "hdn_thu_" + count })</span>
                        <span>@Html.HiddenFor(m => item.fri, new { id = "hdn_fri_" + count })</span>
                        <span>@Html.HiddenFor(m => item.sat, new { id = "hdn_sat_" + count })</span>
                        <span>@Html.HiddenFor(m => item.sun, new { id = "hdn_sun_" + count })</span>
                    }
                }
                @Html.LabelFor(m => m.course, new { @class = "control-label" })<span class="required">*</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.course, new { @class = "form-control" })
                <span class="">@Html.ValidationMessageFor(m => m.course)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.startDate, new { @class = "control-label " }) <span class="required">*</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.startDate, "", new { @class = "DatePicker form-control" })
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <span class="">@Html.ValidationMessageFor(m => m.startDate)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4 ">
                @Html.LabelFor(m => m.endDate, new { @class = "control-label" })<span class="required">*</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.endDate, "", new { @class = "DatePicker form-control" })
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4 "></div>
            <div class="col-md-8">
                <span class="">@Html.ValidationMessageFor(m => m.endDate)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.totalNumberOfDays, new { @class = "control-label text-nowrap" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.totalNumberOfDays, new { @class = "form-control", @readonly = "readonly" })
                <span class="">@Html.ValidationMessageFor(m => m.totalNumberOfDays)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.providerName, new { @class = "control-label" })<span class="required">*</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.providerName, new { @class = "form-control" })
                <span class="">@Html.ValidationMessageFor(m => m.providerName)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.providerWebsite, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.providerWebsite, new { @class = "form-control" })
                <span class="">@Html.ValidationMessageFor(m => m.providerWebsite)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.location, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.location, new { @class = "form-control" })
                <span class="">@Html.ValidationMessageFor(m => m.location)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.postcode, new { @class = "control-label" })<span class="required">*</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.postcode, new { @class = "form-control toBeDisabled" })
                <span class="">@Html.ValidationMessageFor(m => m.postcode)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.venue, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.venue, new { @class = "form-control" })
                <span class="">@Html.ValidationMessageFor(m => m.venue)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.totalCost, new { @class = "control-label" })<span class="required">*</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.totalCost, new { @class = "form-control" })
                <span class="">@Html.ValidationMessageFor(m => m.totalCost)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.Label("Professional Qual.:", "Professional Qual.:", new { @class = "control-label" })
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <span style="padding-right: 20px;">
                    @Html.RadioButtonFor(m => m.professionalQualification, 1, new { value = true })Yes
                </span>
                <span>
                    @Html.RadioButtonFor(m => m.professionalQualification, 0, new { value = false })No
                </span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.isMandatoryTraining, new { @class = " control-label" })
            </div>
            <div class="col-md-1">
                @Html.CheckBoxFor(m => m.isMandatoryTraining, new { @class = "form-control", id = "isMandatoryTrainingID", style = "width:14px" })
            </div>
            <div class="col-md-7">
                <div style="width: 100%; overflow: hidden;">
                    <div style="width: 50px; float: left;">
                        @Html.LabelFor(m => m.expiry, new { @class = "control-label" })
                    </div>
                    <div style="margin-left: 58px;">
                        @Html.TextBoxFor(m => m.expiry, "", new { @class = "DatePicker form-control", id = "expiryID" })
                        <label id="hiddenRenew" style="visibility:hidden; color:red;" >Renew Date is required</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <span class="">@Html.ValidationMessageFor(m => m.expiry)</span>
            </div>
        </div>

        <div class="row padding-bottom">
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.Label("Remuneration:", new { @class = "control-label" })
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <span style="padding-right: 20px;">
                    @Html.RadioButtonFor(m => m.isRemuneration, true, new { value = true, id = "remunerationrd" })Yes
                </span>
                <span>
                    @Html.RadioButtonFor(m => m.isRemuneration, false, new { value = false, id = "remunerationNo" })No
                </span>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                @Html.Label("£", new { @class = "control-label" })
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.remunerationCost, "", new { @class = "form-control", id = "remunerationCost" })
                <label id="hiddenRemuneration" style="visibility:hidden; color:red;" >Remuneration Cost is required</label>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.isSubmittedBy, new { @class = "control-label" })<span class="required">*</span>
            </div>
            <div class="col-md-3">
                @Html.RadioButtonFor(m => m.isSubmittedBy, 1, new { value = true, id= "rBtnSubmittedByManager" })Manager
            </div>
            <div class="col-md-3">
                @Html.RadioButtonFor(m => m.isSubmittedBy, 0, new { value = false, id= "rBtnSubmittedByEmployee" })Employee
            </div>
            <label id="hiddenSubmitted" style="visibility:hidden; margin-left:200px; color:red;">Please select Submitted By</label>
            <div class="col-md-2"></div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.additionalNotes, new { @class = "control-label" })
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-8">
                @Html.TextAreaFor(m => m.additionalNotes, 5, 3, new { @class = "form-control personalDetail" })
                <span class="">@Html.ValidationMessageFor(m => m.additionalNotes)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-1 col-md-push-11">
                <input class="btn btn-gray btn-xs pull-right" type="submit" id="saveTraining" value='Add Employee Training' />
            </div>
        </div>
    }
</div>


@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

    (function () {

        loadDatePicker();
        
        $("#startDate").change(function () {
            workDays();
        });

        $("#endDate").change(function () {
            workDays();
        });

        $.fn.resetValidation = function () {
            event.preventDefault();
            var $form = this.closest('form');
            $form.validate().resetForm();
            $form[0].reset();
            $("#saveTraining").prop("disabled", false);

            var list = document.getElementById("trainings");
            list.parentNode.removeChild(list);
            $form.find("[data-valmsg-summary=true]")
                .removeClass("validation-summary-errors")
                .addClass("validation-summary-valid")
                .find("ul").empty();

            $form.find("[data-valmsg-replace]")
                .removeClass("field-validation-error")
                .addClass("field-validation-valid")
                .empty();
            return $form;
        };

    })();

    function JSlong_date(str_date) {
        var arrMon = new Array("", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        var date_array = str_date.split("/");
        return new String(Math.abs(date_array[0]) + " " + arrMon[parseInt(date_array[1], 10)] + " " + date_array[2])
    }

    function weekAndDay(date) {
        days = ['sun', 'mon', 'tue', 'wed',
                'thu', 'fri', 'sat'];
        var totalWeeks = parseInt($('#hdn_totalWeek').val());
        var weekNo = getWeekOfMonth(date);
        if (weekNo > totalWeeks) {
            while (weekNo > totalWeeks) {
                weekNo -= totalWeeks;
            }
        }
        if (weekNo > totalWeeks) {
            weekNo -= totalWeeks;
        }
        var dailyHours = parseFloat($("#hdn_" + days[date.getDay()] + "_" + weekNo).val());
        return dailyHours;
    }

    function getWeekOfMonth(date) {
        var day = date.getDate();
        var data = getWeeksStartAndEndInMonth(date.getMonth(), date.getYear(), 1);
        var i;
        for (i = 0; i < data.length; i++) {
            if (data[i].start <= day && data[i].end >= day)
                break;
        }
        return i + 1;
    }

    function getWeeksStartAndEndInMonth(month, year, start) {
        let weeks = [],
            firstDate = new Date(year, month, 1),
            lastDate = new Date(year, month + 1, 0),
            numDays = lastDate.getDate();

        start = 1;
        let end = endFirstWeek(firstDate, firstDate.getDay());
        while (start <= numDays) {
            weeks.push({ start: start, end: end });
            start = end + 1;
            end = end + 7;
            end = start === 1 && end === 8 ? 1 : end;
            if (end > numDays) {
                end = numDays;
            }
        }
        return weeks;
    }

    function endFirstWeek(firstDate, firstDay) {
        if (!firstDay) {
            return 7 - firstDate.getDay();
        }
        if (firstDate.getDay() < firstDay) {
            return firstDay - firstDate.getDay();
        } else {
            return 7 - firstDate.getDay() + firstDay;
        }
    }

    function workDays() {
        var BegDate = new Date(Date.parse(JSlong_date($('#startDate').val())));
        var EndDate = new Date(Date.parse(JSlong_date($('#endDate').val())));

        WholeWeeks = parseInt((EndDate - BegDate) / (1000 * 60 * 60 * 24 * 7).toFixed(2));
        if (isNaN(WholeWeeks)) {
            $('#totalNumberOfDays').val(0);
            return;
        }
        var DateCnt = new Date(BegDate);
        EndDays = 0;
        var NonWorkingDays = 0;
        var loopDate = new Date();
        loopDate.setTime(DateCnt.valueOf());

        while (loopDate.valueOf() < EndDate.valueOf() + 86400000)
        {
            if (weekAndDay(loopDate) > 0 && loopDate.getDay() != "0" && loopDate.getDay() != "6")
            {
                EndDays = EndDays + 1;
            }
            else
            {
                NonWorkingDays = NonWorkingDays + 1;
            }
            loopDate.setTime(loopDate.valueOf() + 86400000);
        }

        var jsWorkDays = EndDays;

        if (jsWorkDays == 0 && NonWorkingDays==0) {
            $("#totalNumberOfDays").css({ "color": "red" });
            $('#totalNumberOfDays').val("Invalid Date Range");
        }
        else if (jsWorkDays == 0 && NonWorkingDays > 0) {
            $("#totalNumberOfDays").css({ "color": "red" });
            $('#totalNumberOfDays').val("Non Working Days");
        }
        else {
            $("#totalNumberOfDays").css({ "color": "#555555" });
            jsWorkDays = jsWorkDays;
            $('#totalNumberOfDays').val(jsWorkDays);
        }
    }
    function OnBeginTraining() {
        if ($('#isMandatoryTrainingID').is(':checked')) {
            if ($("#expiryID").val() == "") {
                document.getElementById('expiryID').style.borderColor = "red";
                document.getElementById('hiddenRenew').style.visibility = "visible";
                return false;
            }
            else {
                document.getElementById('expiryID').style.borderColor = "";
                document.getElementById('hiddenRenew').style.visibility = "hidden";
            }
        }
        else {
            document.getElementById('expiryID').style.borderColor = "";
            document.getElementById('hiddenRenew').style.visibility = "hidden";
        }

        if ($('#remunerationrd').is(':checked')) {
            if ($("#remunerationCost").val() == "") {
                document.getElementById('remunerationCost').style.borderColor = "red";
                document.getElementById('hiddenRemuneration').style.visibility = "visible";
                return false;
            }
            else
            {
                document.getElementById('remunerationCost').style.borderColor = "";
                document.getElementById('hiddenRemuneration').style.visibility = "hidden";
            }
        }
        else {
            document.getElementById('remunerationCost').style.borderColor = "";
            document.getElementById('hiddenRemuneration').style.visibility = "hidden";
        }

        if (!$('#rBtnSubmittedByEmployee').is(':checked') && !$('#rBtnSubmittedByManager').is(':checked')) {
            document.getElementById('hiddenSubmitted').style.visibility = "visible";
            return false;
        }
        else {
            document.getElementById('hiddenSubmitted').style.visibility = "hidden";
        }

        $('#loader').show();
    }
    function OnFailureTraining() {
        $('#loader').hide();
    }

    function OnSuccessTraining(response) {

        if (response == "") {
            res = response;
        } else {
            res = jQuery.parseJSON(response);
        }

        $(window).scrollTop(0);
        $('#loader').hide();

        if (res == "Training is saved successfully.") {
            popupMessage('popupMessage', 'popupMsgResponse', res, 'success');
        } else if (res == "Training conflict with already scheduled training.") {            
            popupMessage('message', 'msgResponse', res, 'failure');
        }
        else {            
            popupMessage('popupMessage', 'popupMsgResponse', 'Training not saved.', 'failure');
        }

    }
</script>