﻿@model BHGHRModuleWeb.ViewModels.TrainingViewModel
@{
    ViewBag.Title = "Trainings";
    Layout = null;
}

<div class="row padding-bottom"></div>
<div id="partialDiv">
    <div class="row">
        <div class="col-md-7 padding-bottom">
            <div class="main-Container grid-border">
                <div id="webgrid">
                    @Html.Partial("~/Views/Employees/Training/_TrainingListing.cshtml", Model.trainingList)
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div id="trainingDetail">
                @Html.Partial("~/Views/Employees/Training/_TrainingDetail.cshtml", Model.detail)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var deleTraining = 0;
    $('#approvedTraining ').blur(function () {
        $(this).css("border", "1px solid #b1b1b1");
    });

    $('#remunerationCost ').blur(function () {
        $(this).css("border", "1px solid #b1b1b1");
    });

    $('#addTraining').click(function () {
        event.preventDefault();
        if ($("#approvedTraining").val() != "") {
            if ($('#remunerationrd').is(':checked') && $("#remunerationCost").val() == "") {
                document.getElementById('remunerationCost').style.borderColor = "red";
                return false;
            }
            else {
                var remu = '';
                if ($("input[name=remuneration]:checked").val() == "true") {
                    remu = 'Yes';
                }
                else {
                    remu = 'No';
                }
                $("#trainings").append('<div class="row remQualify"><div class="col-md-12"> <div class="col-md-4 vision">' + $("#approvedTraining").val() + '</div><div class="col-md-2 vision1">' + remu + '</div><div class="col-md-3 vision2">' + $("#remunerationCost").val() + '</div><div class="col-md-2"><a href="#" onclick="RemoveTraining(this); return false;" style="text-decoration: none;color:Red; text-align:right;">Remove </a></div></div> </div></div>');
                getTrainings();
                $("#approvedTraining").val("");
                $("#remunerationCost").val("");
                $('#remunerationNo').prop('checked', true);
            }
        } else {
            document.getElementById('approvedTraining').style.borderColor = "red";
            return false;
        }
    });

    function RemoveTraining(string) {
        $(string).parent().parent().remove();
        getTrainings();
    }

    function getTrainings() {
        var list = new Array();
        var hideValue = null;
        var divs = $('.vision')
        var divs1 = $('.vision1')
        var divs2 = $('.vision2')
        $(".remQualify").each(function (i) {
            var remu = '';
            if (divs1[i].innerHTML == "Yes") {
                remu = 'true';
            }
            else {
                remu = 'false';
            }
            list.push({ "approvedTraining": divs[i].innerHTML, "isRemuneration": remu, "remunerationCost": divs2[i].innerHTML == "" ? 0 : divs2[i].innerHTML });
        });

        $("#trainingHidden").val(JSON.stringify(list));
    }

    function OnSuccessTraining(response) {
        if (response == "") {
            res = response;
        } else {
            res = jQuery.parseJSON(response);
        }

        if (res == "Training is saved successfully.") {
            $(window).scrollTop(0);
            popupMessage('message', 'msgResponse', res, 'success');
            $("#saveTraining").prop("disabled", true);
            refreshForm();
        }
        else if (res == "Training conflict with already scheduled training.") {
            $(window).scrollTop(0);
            popupMessage('message', 'msgResponse', res, 'failure');
            $('#loader').hide();
        }
        else {
            $(window).scrollTop(0);
            popupMessage('message', 'msgResponse', 'Training not saved.', 'failure');
            $('#loader').hide();
        }
    }

    function refreshForm() {
        reloadCurrentTab();
    }

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("SearchTrainings", "Training", new { id = ViewContext.RouteData.Values["id"] })' + queryString;
        $("#webgrid").load(requestUrl);
    }

    var typingTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example
    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var requestUrl = '@Url.Action("SearchTrainings", "Training", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtpageText").val();
        $("#webgrid").load(requestUrl);
    }

</script>
