﻿@model BHGHRModuleWeb.ViewModels.TrainingDetailViewModel
@{
    ViewBag.Title = "Trainings";
    Layout = null;
    var isTeam = false;
    if (TempData.ContainsKey("isTeam"))
    {
        isTeam = bool.Parse(TempData["isTeam"].ToString());
    }
    TempData.Keep("isTeam");
}

<div class="col-md-12 grid-border">
    <div class="row padding-bottom">
        <div class="col-md-11 col-xs-11" style="border-bottom: 2px solid #dddddd;">
            @Html.Label("Details:", new { style = "margin: 0;padding-top: 10px;" })
        </div>
        <button class="rock pull-right" onClick="refreshForm()"></button>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-4 ">
            @Html.HiddenFor(m => m.employeeId)
            @Html.HiddenFor(m => m.createdDate)
            @if (Model.trainingId == 0)
            {
                @Html.HiddenFor(m => m.status, new { Value = "Requested" })
            }
            else
            {
                @Html.HiddenFor(m => m.status, new { Value = "Declined" })
            }
            @Html.LabelFor(m => m.course, new { @class = "control-label" })<span class="required">*</span>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.course, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-4">
            @Html.LabelFor(m => m.startDate, new { @class = "control-label " }) <span class="required">*</span>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.startDate, "", new { @class = "DatePicker form-control", @disabled = "disabled" })
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-4 ">
            @Html.LabelFor(m => m.endDate, new { @class = "control-label" })<span class="required">*</span>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.endDate, "", new { @class = "DatePicker form-control", @disabled = "disabled" })
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-4">
            @Html.LabelFor(m => m.totalNumberOfDays, new { @class = "control-label text-nowrap" })
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.totalNumberOfDays, new { @class = "form-control", @disabled = "disabled" })
            <span class="">@Html.ValidationMessageFor(m => m.totalNumberOfDays)</span>
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-4">
            @Html.LabelFor(m => m.providerName, new { @class = "control-label" })<span class="required">*</span>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.providerName, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-4">
            @Html.LabelFor(m => m.providerWebsite, new { @class = "control-label" })
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.providerWebsite, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-4">
            @Html.LabelFor(m => m.location, new { @class = "control-label" })
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.location, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-4">
            @Html.LabelFor(m => m.postcode, new { @class = "control-label" })
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.postcode, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-4">
            @Html.LabelFor(m => m.venue, new { @class = "control-label" })
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.venue, new { @class = "form-control", @disabled = "disabled" })
            <span class="">@Html.ValidationMessageFor(m => m.venue)</span>
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-4">
            @Html.LabelFor(m => m.totalCost, new { @class = "control-label" })<span class="required">*</span>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.totalCost, new { @class = "form-control", @disabled = "disabled" })
            <span class="">@Html.ValidationMessageFor(m => m.totalCost)</span>
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-4 col-sm-4 col-xs-4">
            @Html.Label("Professional Qual.:", "Professional Qual.:", new { @class = "control-label" })
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <span style="padding-right: 20px;">
                @Html.RadioButtonFor(m => m.professionalQualification, 1, new { value = true, @disabled = "disabled" })Yes
            </span>
            <span>
                @Html.RadioButtonFor(m => m.professionalQualification, 0, new { value = false, @disabled = "disabled" })No
            </span>
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-4">
            @Html.LabelFor(m => m.isMandatoryTraining, new { @class = " control-label" })
        </div>
        <div class="col-md-1">
            @Html.CheckBoxFor(m => m.isMandatoryTraining, new { @class = "form-control", style = "width:14px", @disabled = "disabled" })
        </div>
        <div class="col-md-7">
            <div style="width: 100%; overflow: hidden;">
                <div style="width: 50px; float: left;">
                    @Html.LabelFor(m => m.expiry, new { @class = "control-label" })<span class="required">*</span>
                </div>
                <div style="margin-left: 58px;">
                    @Html.TextBoxFor(m => m.expiry, "", new { @disabled = "disabled", @class = "DatePicker form-control" })
                </div>
            </div>
        </div>
    </div>

    <div class="row padding-bottom">
        <div class="col-md-4">
            @Html.Label("Approved Training:", new { @class = "control-label" })
        </div>
        <div class="col-md-8">
            @Html.HiddenFor(m => m.appTrainings, new { id = "trainingHidden" })
            <input type="text" class="form-control" id="approvedTraining" disabled />
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-4">
            @Html.Label("Remuneration:", new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            <span style="padding-right: 20px;">
                @Html.RadioButtonFor(m => m.isRemuneration, true, new { value = true, @disabled = "disabled", id = "remunerationrd" })Yes
            </span>
            <span>
                @Html.RadioButtonFor(m => m.isRemuneration, false, new { value = false, @disabled = "disabled", id = "remunerationNo" })No
            </span>
        </div>
        <div class="col-md-1">
            @Html.Label("£", new { @class = "control-label" })
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.remunerationCost, "", new { @class = "form-control", @disabled= "disabled", id = "remunerationCost" })
        </div>
    </div>
    @*<div class="row padding-bottom">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div style="min-height:100px; max-height:100px; border:1px solid #b1b1b1; overflow-y:scroll; overflow-x: hidden;">
                <div class="padding-bottom"></div>
                <div class="row">
                    <div class="col-md-12" id="trainings">
                        @if (Model.approvedTraining != null && Model.approvedTraining.Count > 0)
                        {
                            foreach (BHGHRModuleWeb.ViewModels.ApprovedTraining app in Model.approvedTraining)
                            {
                                <div class="row remQualify">
                                    <div class="col-md-12">
                                        <div class="col-md-4 vision">@app.approvedTraining</div>
                                        @if (@app.isRemuneration)
                                        {
                                            <div class="col-md-2 vision1">Yes</div>
                                        }
                                        else
                                        {
                                            <div class="col-md-2 vision1">No</div>
                                        }
                                        <div class="col-md-3 vision2">@app.remunerationCost</div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="row padding-bottom">
        <div class="col-md-4">
            @Html.LabelFor(m => m.isSubmittedBy, new { @class = "control-label" })<span class="required">*</span>
        </div>
        <div class="col-md-3">
            @Html.RadioButtonFor(m => m.isSubmittedBy, 1, new { value = true, @disabled = "disabled" })Manager
        </div>
        <div class="col-md-3">
            @Html.RadioButtonFor(m => m.isSubmittedBy, 0, new { value = false, @disabled = "disabled" })Employee
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-4">
            @Html.LabelFor(m => m.additionalNotes, new { @class = "control-label" })
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-8">
            @Html.TextAreaFor(m => m.additionalNotes, 5, 3, new { @disabled = "disabled", @class = "form-control personalDetail" })
            <span class="">@Html.ValidationMessageFor(m => m.additionalNotes)</span>
        </div>
    </div>
    <div class="row padding-bottom-5">
        <div class="col-md-12">
            @Html.HiddenFor(m => m.trainingId, new { id = "trainingtxt" })
            @Html.HiddenFor(m => m.status, new { id = "statustxt" })
            @Html.HiddenFor(m => m.isActive, new { @Value = true, id = "isActivetxt" })

            @if (isTeam == false || (Model.status == "HR Approved" || Model.status == "HR Declined" ||
                Model.status == "Exec Declined" || Model.status == "Exec Approved" || Model.status == "Exec Supported" ||
                Model.status == "Manager Supported" || Model.status == "Declined" || Model.status == "Removed" || Model.professionalQualification > 0 || Model.totalCost > 1000))
            {
                <input class="btn btn-success btn-xs pull-right disabled" type="button" name="submitButton" id="approveTraining" value='Support' />
                <input style="margin-right:10px;" class="btn btn-danger btn-xs pull-right disabled" type="button" name="submitButton" id="declineTraining" value='Decline' />
                <input style="margin-right:10px;" class="btn btn-gray btn-xs pull-right" type="button" onClick="refreshForm()" name="submitButton" value='< Back' />
            }
            else
            {
                <input class="btn btn-success btn-xs trainingStatus pull-right" type="button" name="submitButton" id="approveTraining" value='Supported' />
                <input style="margin-right:10px;" class="btn btn-danger btn-xs trainingStatus pull-right" type="button" name="submitButton" id="declineTraining" value='Declined' />
                <input style="margin-right:10px;" class="btn btn-gray btn-xs pull-right" type="button" onClick="refreshForm()" name="submitButton" value='< Back' />
            }
        </div>
    </div>

</div>

<script type="text/javascript">

    (function () {

        $.fn.resetValidation = function () {
            event.preventDefault();
            // alert("1");
            var $form = this.closest('form');
            //alert(JSON.stringify($form));
            //reset jQuery Validate's internals
            $form.validate().resetForm();
            $form[0].reset();
            $("#saveTraining").prop("disabled", false);

            var list = document.getElementById("trainings");
            list.parentNode.removeChild(list);
            //reset unobtrusive validation summary, if it exists
            $form.find("[data-valmsg-summary=true]")
                .removeClass("validation-summary-errors")
                .addClass("validation-summary-valid")
                .find("ul").empty();

            //reset unobtrusive field level, if it exists
            $form.find("[data-valmsg-replace]")
                .removeClass("field-validation-error")
                .addClass("field-validation-valid")
                .empty();
            return $form;
        };

    })();

    $("#approveTraining").click(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateEmployeeTraining", "Training")',
            data: {
                trainingId: $("#trainingtxt").val(),
                isActive: $("#isActivetxt").val(),
                status: 'Manager Supported'
            },
            success: function (result) {
                popupMessage('message', 'msgResponse', result, 'success');
                refreshForm();
                $("#approveTraining").prop("disabled", true);
                $("#declineTraining").prop("disabled", true);
            },
            error: function (result) {
                //alert('error');
            }
        });
    });

    $("#declineTraining").click(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateEmployeeTraining", "Training")',
            data: {
                trainingId: $("#trainingtxt").val(),
                isActive: $("#isActivetxt").val(),
                status: 'Declined'
            },
            success: function (result) {
                popupMessage('message', 'msgResponse', result, 'success');
                refreshForm();
                $("#approveTraining").prop("disabled", true);
                $("#declineTraining").prop("disabled", true);
            },
            error: function (result) {
                //alert('error');
            }
        });
    });



</script>