﻿@model BHGHRModuleWeb.ViewModels.TrainingGridViewModel
@{
    Layout = null;
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize, canSort: false);
    grid.Bind(Model.trainingList, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
    var trainingid = Convert.ToInt32(Session["trainingId"]);
}

@if (Model.trainingList != null && Model.trainingList.Count > 0)
{
    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
            grid.Column(columnName: "recordedDate", header: "Recorded:"),
            grid.Column(columnName: "startDate", header: "Start:"),
            grid.Column(columnName: "course", header: "Training Course:"),
            grid.Column(columnName: "providerName", header: "Provider:"),
            grid.Column(format:@<text>
            @if (item.isMandatoryTraining)
            {
                <img style="height:12px;" src="@Url.Content("~/Content/images/check-mark-720.png")" />
            }
            </text>),
            grid.Column(columnName: "expiry", header: "Renew:"),
            grid.Column(columnName: "createdByName", header: "By:"),
            grid.Column(columnName: "status", header: "Status:"),
            grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:@<text>
                <img src="~/Content/Images/aero.png" data-id="@item.trainingId" class="pull-right edit-training" width="22" />
                @if (ViewBag.IsTeam && item.totalCost <= 1000 && item.professionalQualification <= 0)
                {
                    <img src="~/Content/Images/delete.png" data-id="@item.trainingId" class="pull-right delete-training" style="margin-right: 4px; padding-top: 3px;" width="17" />
                }
            </text>)
    ))

    <div class="panel-footer">
        <div style="width: 100%; overflow: hidden;">
            <div id="gridPager" style="width:inherit; float: left;">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
                <span class="pull-right">
                    Page:  @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtpageText", onkeyup = "TypingPageInterval();" })
                </span>
            </div>
            <div style="margin-left: 15px;">
                <span style="margin:-3px"></span>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Recorded:</th>
                <th>Start:</th>
                <th>Training Course:</th>
                <th>Provider:</th>
                <th>Renew Date:</th>
                <th>By:</th>
                <th>Status:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="8" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtpageText", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="confirm-delete" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-header">
            <h4 class="modal-title">Alert!</h4>
        </div>
        <div class="modal-body" style="background-color:white">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <strong id="msglearning">Do you want to delete this record?</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="background-color:white;margin-top:0px">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="closelearning">No</button>
            <button id="submitlearning" class="btn btn-primary btn-ok">Yes</button>
        </div>
    </div>
    <input type="text" hidden="hidden" value=@trainingid name="trainingid" />
</div>

<script type="text/javascript">
    (function () {
        $("#webgrid a").on('click', function (event) {
            loadGridEvents(event, this);
        });
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
        if(@trainingid != null)
        {
            getTrainingById(@trainingid);
        }
    })();

    $("#webgrid .delete-training").click(function (e) {
        e.preventDefault();
        deleTraining = $(this).data('id');
        $('#confirm-delete').modal('show');
    });

    $(".btn-ok").click(function (index) {
        $("#confirm-delete").modal('hide');
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateEmployeeTraining", "Training")',
            data: {
                trainingId: deleTraining,
                isActive: false,
                status: "Submitted"
            },
            success: function (result) {
                if (result == "") {
                    res = result;
                }
                else {
                    res = JSON.parse(result);
                }

                if (res == "Training is updated successfully.") {
                    popupMessage('message', 'msgResponse', res, 'success');
                    refreshForm();
                } else {
                    popupMessage('message', 'Training not updated.', 'failure');
                }
            },
            error: function (result) {

            }
        });
    });
    
    function getTrainingById(trainingid) {
        if (trainingid != 0) {
            $.ajax({
                url: '@Url.Action("GetTrainingById", "Training")',
                data: { id: trainingid /* add other additional parameters */ },
                cache: false,
                type: "POST",
                success: function (data, textStatus, XMLHttpRequest) {
                    console.log(data);
                    $("#trainingDetail").html(data);
                }
            });
        }
    }

    $("#webgrid .edit-training").click(function (index) {
        $.ajax({
            url: '@Url.Action("GetTrainingById", "Training")',
            data: { id: $(this).data('id') /* add other additional parameters */ },
            cache: false,
            type: "POST",
            success: function (data, textStatus, XMLHttpRequest) {
                console.log(data);
                $("#trainingDetail").html(data);
            }
        });
    });

</script>