/* CSS Document */

body{
	margin:0px;
	padding:0px;
	 	
}

#wrapper{
	width:451px;
	background: url('white-90.png') repeat;
	/*background-color:rgb(255,255,255);*/
	margin:0px auto 100px auto;
	box-shadow:3px 3px 10px #444;
	padding:50px 0px 0px;
	text-align:center;
}

.logo-rsl{
	margin:20px 0px;
	margin-bottom : 40px;	
}

img.bgimg{
  width: 100%;
  height:100%;
  position: fixed;  
  left: 0;
  z-index:-1;
}

.rsl-login {
	padding:0 20px 20px;
			
}

.rsl-login .txtfield{
	width:193px;
	height:32px;
	padding-left:35px;
/*	padding:10px 10px 10px 70px;*/
	background:#a4a5a6;
	border:1px solid #e51837;
	margin-bottom:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/*color:#fff;*/	
}
.rsl-login .btn-area{
	text-align:right;
	padding:0px 245px;	
}
.rsl-login .btn{
	width:77px;
	height:31px;	
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	/*color:#fff;*/
	background:#a4a5a6;
	border:none;
}

.rsl-login .btn.updatepass{
	width:160px;
	margin-left: -84px;
	margin-bottom: 14px;
}

.rsl-login .lockdown{
	width:310px;
	margin:15px auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#e11a3c;
	background:url(../images/icon_redlock.png) no-repeat 0px 50%;	 
}

.rsl-login .verisign{
	padding:0 20px;
	text-align:right;	 
}

.rsl-login .fpass{
	color: #808080;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin: 0 auto;
    width: 275px;
}

.rsl-login .footer{
	color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
    padding: 19px 20px 0;
    text-align: left; 
}

.rsl-login .txtfield.username{
	background:url(../images/icon_user.png) no-repeat 10px 50% #a4a5a6 ;	
}

.rsl-login .txtfield.password{
	background:url(../images/icon_lock.png) no-repeat 10px 50% #a4a5a6 ;	
}

.rsl-login .txtfield.email{
	background:url(../images/icon_mail.png) no-repeat 10px 50% #a4a5a6 ;	
}

.login-again a{
	 color: #003366;
    font-family: Arial,Helvetica,sans-serif;
    font-weight:bold;
}

.login-again {
	margin-bottom: 10px;
    margin-top: 20px;
    padding-left: 90px;
    text-align: left;

}

.fpass p {
	margin-bottom:0;
}