﻿<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.26&key=AIzaSyBc52SCdjgLvwwSOIw0bKNaRnXTfdeniM4"></script>
<script type="text/javascript">

    $(document).on('ready', function () {

        $("#DashboardLink").on('click', function (event) {
            event.preventDefault();
            var URL = '@Url.Action("Dashboard","Dashboard")';
            $.ajax({
                url: URL,
                cache: false,
                data: {
                    overdue: false,
                },
                dataType: 'html',
                beforeSend: function () {
                    $('#progress').show();
                },
                success: function (data) {
                    $('#progress').hide();
                    $("#detailContainer").html(data);
                }
            });
        });

        $("#CasesLink").on('click', function (event) {
            event.preventDefault();
            var URL = '@Url.Action("Cases", "Cases")';
            $.ajax({
                url: URL,
                cache: false,
                dataType: 'html',
                beforeSend: function () {
                    $('#progress').show();
                },
                success: function (data) {
                    $('#progress').hide();
                    $("#detailContainer").html(data);
                }
            });
        });
        $("#ReportsLink").on('click', function (event) {
            event.preventDefault();
            var URL = '@Url.Action("Report", "Report")';
            $.ajax({
                url: URL,
                cache: false,
                dataType: 'html',
                beforeSend: function () {
                    $('#progress').show();
                },
                success: function (data) {
                    $('#progress').hide();
                    $("#detailContainer").html(data);
                    $("#CaseManagementMenuSection").show();
                }
            });
        });

        $.ajaxSetup({ cache: false });
        $.validator.addMethod(
        "regex",
        function (value, element, regexp) {
            //console.log(value+"::"+regexp);
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        },
        "Invalid Time."
);
        var selector = '.navigation li a';
        $(selector).on('click', function () {
            if ($(this).attr('id') == 'ReportsLink') {
                $("#CaseManagementMenuSection").show();
            } else {
                $("#CaseManagementMenuSection").hide();
            }
            $(selector).removeClass('active');
            $(this).addClass('active');
        });
    });
</script>
<div class="col-xs-12">
    <div class="no-padding-sides">
        @Html.Action("GetTopNavigationMenu", "Menu")
    </div>
    <div class="margin-top-default">
        <div class="col-xs-2 no-padding-sides">
            <div class="leftmenu-asb">
                <ul style="padding-right:1px;" class="navigation">
                    <li><a href="" id="DashboardLink">ASB Dashboard</a></li>
                    <li><a href="" id="CasesLink" class="active">Cases</a></li>
                    <li><a href="" id="ReportsLink">Reports</a></li>
                </ul>
            </div>
            <div class="leftmenu-asb" hidden="hidden" id="CaseManagementMenuSection">
                <ul style="margin-top:10px; padding-right:1px; height:100px;">
                    <li><a href="#" class="active">Case Management</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-10" id="detailContainer">
            @Html.Action("AmendCase", "Cases", new { caseId = ViewBag.CaseId})
        </div>
    </div>
</div>
<div class="col-xs-12 progress-dialog" style="display:none;" id="progress">
    <img src='@Url.Content("~/Images/progress.gif")' />
</div>
