﻿.width50 
{
    width: 50%;
}

.width25 
{
    width: 25%;
}

.width10 
{
    width: 10%;
}

.width15 
{
    width: 15%;
}

.width35 
{
    width: 35%;
}

.width30 
{
    width: 30%;
}

.pull-left 
{
    float: left;
}

.purchase-order-container 
{
    border: 1px solid #000000;
    float: left;
    margin-bottom: 10px;
    padding: 15px;
    width: 760px;
}

.purchase-order-container .left 
{
    float: left;
    width: 49%;
    margin-left: -14px;
}

.purchase-order-container .right
{
    float: right;
    width: 49%;
}

.purchase-order-container .btn-print 
{
    width: 100%;
    float: left;
}

.purchase-order-container .btn-print input 
{
    float: right;
}

.purchase-order-container span 
{
    margin-left: 10px;
}