﻿@*@model List<BHGFinanceModule.Models.MenuItemViewModel>*@
@{
    //int Userid = ViewBag.UserId;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script type="text/javascript">

    $(document).on('ready', function () {
       
    });
</script>

<div class="col-xs-12 no-padding-sides">
    <div>
        @* TODO: *@
        @Html.Action("GetTopNavigationMenu", "Menu")
    </div>
    <div class="margin-top-default">

    </div>
</div>


