<%@ Control Language="VB" AutoEventWireup="false" CodeFile="KeyMessage.ascx.vb" Inherits="BHAIntranet_UserControl_General_KeyMessage" %>
<div id="keymessage">
    <div id="keymessageheader">Broadland Business Systems
    </div>  
    
    <div id="keymessagebody">
    <asp:Label ID="lblMessage" runat="server" Text="Label"></asp:Label>
    </div> 
</div>