.iagManager {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; color: #FFFFFF}
.iagManagerBody { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #FFFFFF }
.iagManagerFormBody { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #656678}
.iagManagerFormBodyCopy { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #637670; border-color: #656678 black}
.Printout {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #000000}
.PrintTitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000}
.iagManagerbigblue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; color: #656678}
.iagManagerFormBodyBig { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; color: #656678 }
.iagbox {
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #63657B;
	text-align: right;
}
.iagManagerSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	color: #FFFFFF
}
.iagManagerButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #656678;
	background-color: #FFFFFF;
}
.ThinLineR {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9287AE;
}
.ThinLineB {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9287AE;
}
.ThinLineL {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9287AE;
}
.iagManagerSmallBlk {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.iagTickBox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 6pt;
	font-style: normal;
	line-height: 3px;
	font-weight: lighter;
	color: #E5B877;
	cursor: hand;
}
.ThinLineT {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9287AE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.iagTitleWhite {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: lighter; 
	color: #FFFFFF; 
	text-decoration: none;
}
.ThinLineLnB {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9287AE;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9287AE;
}
.iagManagerFormBodyRight { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #656678 ; border-color: #656678 black }
.iagButton {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; background-color: #FFFFFF; border: 1px #637670 ridge; color: #637670; cursor: hand}
.calText {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal}
.calTextLge { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal }
.calTextSml { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal }
.calMonth { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #000000; width: 90px}
.calYear { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #000000; width: 60px}
.iagManagerTable { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #000000}
.iagManagerSmallBlue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #0000CC; text-decoration: none; }
.iagManagerClearBox {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; border: #FFFFFF}
.iagManagerTableLge { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; color: #000000 }
.iagButtonSmall { font-size: 9px; font-style: normal; background-color: #FFFFFF; border: 1px #637670 ridge; color: #637670; cursor: hand ; font-family: Tahoma, Arial; font-weight: normal; height: 15px}
.iagManagerSmallBlink {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}

body {  
	background-image: url(../images/demo.jpg); 
	background-repeat: no-repeat; background-position: left top; 
	background-attachment: fixed
}
.iagManagerSmallWht { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	color: #FFFFFF; 
	text-decoration: none; 
}
.menuLinks {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	font-variant: normal; 
	color: #F8F8F8; 
	cursor: hand
}
A {
	text-decoration: none; color: #9F81C0
}
.webManagerBox {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	font-variant: normal; 
	color: #000000; 
	background-color: #F9FAF8; 
	height: 20px; width: 200px; 
	border: 1px #637670 solid
	}
TD, INPUT , SELECT {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
SELECT {
	background-color: #F9FAF8;
	width: 140px
}
BODY  {
  CURSOR: default; 
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 9px;
  SCROLLBAR-FACE-COLOR: #F2F2EE;  
  SCROLLBAR-HIGHLIGHT-COLOR: #F2F2EE;  
  SCROLLBAR-SHADOW-COLOR: #323232;  
  SCROLLBAR-3DLIGHT-COLOR: #111111;  
  SCROLLBAR-ARROW-COLOR: #637670;  
  SCROLLBAR-TRACK-COLOR: #F2F2EE;  
  SCROLLBAR-DARKSHADOW-COLOR: #637670; 
  SCROLLBAR-BASE-COLOR: #F2F2EE
  }