.main {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	font-weight: lighter;
	color: #000000;

}
.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: normal;
	font-weight: lighter;
	color: #000000;

}
.wTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
	font-variant: normal;
	text-decoration: none;



}
.tagBot {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: normal;
	font-weight: lighter;
	color: #000000;
}
.smallHalfLines {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: 0.5pt;
	font-weight: lighter;
	color: #000000;
}
.newslink {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #669999;
	text-decoration: none;
	font-weight: lighter;
}
.ebusinesLink {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #9E7053;
	text-decoration: none;
	font-weight: lighter;
}
.marketingLink {



	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #996699;
	text-decoration: none;
	font-weight: lighter;
}
.headline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	list-style-image: url(/images/19px_i.gif);
	list-style-type: circle;
	list-style-position: outside;



}
.mainSmaller {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: normal;
	font-weight: lighter;
	color: #000000;
	text-decoration: none;

}
.LineLeft {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-top-color: #9287AE;
	border-right-color: #9287AE;
	border-bottom-color: #9287AE;
	border-left-color: #9287AE;
}
.LineRight {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-top-color: #9287AE;
	border-right-color: #9287AE;
	border-bottom-color: #9287AE;
	border-left-color: #9287AE;
}
.Linebot {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #9287AE;
	border-right-color: #9287AE;
	border-bottom-color: #9287AE;
	border-left-color: #9287AE;
	border-bottom-style: solid;

}
