﻿@model BHGHRModuleWeb.ViewModels.AnnualLeaveGridViewModel
@using Share.Bonnet.AjaxDropDownList;
@Scripts.Render("~/bundles/bonnet")
@{ 
    string searchText = ViewBag.searchText;
}
<div class="row padding-bottom">
    <div style="border: 1px solid; background-color: #000; padding: 10px;">
        <label style="color:#fff">Annual Leave Report</label>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="padding:10px 0;">
        @using (Html.BeginForm("ExportAnnualLeaveData", "Reports", FormMethod.Post, new { enctype = "multipart/form-data", id = "excelForm" }))
        {
            <div class="row">
                <div class="col-md-12 col-xs-12 padding-bottom">
                    <div class="col-md-1 col-xs-12">
                        @Html.LabelFor(m => m.Year)
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom-5">
                        @Html.DropDownListFor(m => m.Year, Model.YearsLookUp, new { @class = "form-control", id = "year" })
                    </div>
                    <div class="col-md-3 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(
                                model => model.directorate,
                                Model.directorateLookUps,
                                new
                                {
                                    @class = "form-control ddldirectorate",
                                },
                                Ajax.UpdateActionFor(
                                    model => model.team,
                                    new AjaxUpdateOptions
                                    {
                                        DisableTargetWhenEmpty = true,
                                        Url = Url.Action("TeamSelectListJson")
                                    }
                                )
                    )
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(m => m.team, Model.teamLookUps, new { @class = "form-control ddlteam" })
                    </div>
                    <input type="hidden" name="searchText" id="hdnExpSearch" />
                    <div class="col-md-4 col-xs-12 padding-bottom">
                        <input class="btn btn-gray btn-xs pull-right btnNext" id="btnSaveCriteria" type="submit" name="nextBtn" value='Build Report' style="margin-left:19px" />
                        <input class="btn btn-gray btn-xs pull-right" id="btnSaveXLS" type="submit" name="nextBtn" value='Export XLS' />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
        }
    </div>
    <div class="panel-body">
        <div class="row padding-bottom"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="filters" style="margin-right:4px;">
                    @Html.TextBox("txtSearchText", searchText, new { @class = "searchbox-right", Name = "txtSearchText", onkeyup = "TypingInterval();" })
                </div>
            </div>
            <div id="webgrid">
                @Html.Partial("_AnnualLeaveGrid", Model)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#btnSaveXLS").click(function () {
        event.preventDefault();
        $('#hdnExpSearch').val($('#txtSearchText').val());
        $("#excelForm").submit();
    });

    $("#btnSaveCriteria").click(function () {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("SearchAnnualLeave", "Reports")',
            type: 'GET',
            data: {
                year: $('#year').val(),
                directorate: $(".ddldirectorate").val(),
                team: $(".ddlteam").val(),
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html(resp);
                }
            }
        });
    });

    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms, 5 second for example

    function TypingInterval() {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(searchTextChanged, doneTypingInterval);
    }

    function searchTextChanged() {
        $.ajax({
            url: '@Url.Action("SearchAnnualLeave", "Reports")',
            type: 'GET',
            data: {
                txtSearchText: $('#txtSearchText').val(),
                year: $('#year').val(),
                directorate: $(".ddldirectorate").val(),
                team: $(".ddlteam").val(),
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html(resp);
                }
            }
        });
    }

</script>
