﻿@model BHGHRModuleWeb.ViewModels.AnnualLeaveGridViewModel
@{
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize);
    grid.Bind(Model.annualLeaveListing.reportListing, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
}

@if (Model.annualLeaveListing.reportListing != null && Model.annualLeaveListing.reportListing.Count > 0)
{
    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "AlStartDate", header: "Leave Start Date"),
        grid.Column(columnName: "fullName", header: "Name:"),
        grid.Column(columnName: "directorate", header: "Directorate:"),
        grid.Column(columnName: "team", header: "Team:"),
        grid.Column(columnName: "totalAllowance", header: "Total Allowance:"),
        grid.Column(columnName: "daysBooked", header: "Days Booked:"),
        grid.Column(columnName: "daysRequested", header: "Days Requested:"),
        grid.Column(columnName: "daysTaken", header: "Leave Taken:"),
        grid.Column(columnName: "balanceRemaining", header: "Balance Remaining:"),
        grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:@<text><input class="pull-right edit-arrow" type="button" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, redirectTab = "mnuAbsence" })'"></text>)
    ))
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div id="gridPager" class="space-box col-md-8">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
            </div>
            <div id="" class="col-md-1">
                <div class="row">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Leave Start Date:</th>
                <th>Name:</th>
                <th>Directorate:</th>
                <th>Team:</th>
                <th>Total Allowance:</th>
                <th>Days Booked:</th>
                <th>Days Requested:</th>
                <th>Days Taken:</th>
                <th>Balance Remaining:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="7" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("SearchAnnualLeave", "Reports")' + queryString;//+ "?searchText=" + $('#txtSearchText').val();
        //$("#webgrid").load(requestUrl);
        $("#webgrid").load(requestUrl);
    }

    (function () {
        $("#webgrid a").on('click', function (event) {
            loadGridEvents(event, this);
        });
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
    })();

    var typingPageTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example

    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {

        var requestUrl = '@Url.Action("SearchAnnualLeave", "Reports", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtPageNo").val() + '&year=' + $("#year").val() + '&directorate=' + $(".ddldirectorate").val() + '&team=' + $(".ddlteam").val() + '&txtSearchText=' + $("#txtSearchText").val();
        $("#webgrid").load(requestUrl);
    }

</script>

