﻿@model BHGHRModuleWeb.ViewModels.DeclarationOfInterestsReportViewModel
@{
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize);
    grid.Bind(Model.declarationOfInterestsListing.DOIs, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
}

@if (Model.declarationOfInterestsListing.DOIs != null && Model.declarationOfInterestsListing.DOIs.Count > 0)
{


    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "submitted", header: "Submitted:"),
        grid.Column(columnName: "employeeName", header: "Name:"),
        grid.Column(columnName: "jobRoleName", header: "Job Role:"),
        grid.Column(columnName: "lineManagerName", header: "Line Manager:"),
        grid.Column(columnName: "directorateName", header: "Directorate:"),
        grid.Column(columnName: "teamName", header: "Team:"),
        grid.Column(columnName: "directorName", header: "Director:"),
        grid.Column(columnName: "statusName", header: "Status:", format:@<text>
            <span>@item.statusDisplay</span>
        </text>),
        grid.Column(header: "", style: "max-width-90 td-padding-right-0", format:@<text>
            <a download target="_blank" class="pull-right" href="@item.documentPath">
                <img src="~/Content/Images/aero.png" data-id="@item.documentId" width="22" />
            </a>
            @if (item.statusDisplay == "Pending")
            {
                if (item.lineManagerId == Model.userId)
                {
                    <button id="btnApprove" data-userId="@Model.userId" data-interestId="@item.interestId" data-lineManagerId="@item.lineManagerId" class="btn btn-info btn-xs pull-right btnApprove" style="padding:1px 5px !important;" type="button">Approve</button>
                }
                else
                {
                    <button id="" class="btn btn-info btn-xs pull-right" style="padding:1px 5px !important;" disabled type="button">Approve</button>
                }

                if (!string.IsNullOrEmpty(item.reviewComments))
                {
                    <span data-userId="@Model.userId" data-interestId="@item.interestId" data-lineManagerId="@item.lineManagerId" class="btnViewReviewedDOI" style="padding:1px 5px !important;">
                        <img src="~/Content/Images/BHG Icons/comments.png" style="height: 20px;" />
                    </span>
                }
            }
            else
            {
                <span data-userId="@Model.userId" data-interestId="@item.interestId" data-lineManagerId="@item.lineManagerId" class="btnViewDOI" style="padding:1px 5px !important;">
                    <img src="~/Content/Images/BHG Icons/file.png" style="height: 20px; padding-left: 22px;" />
                </span>
                @*<button id="btnViewDOI" data-userId="@Model.userId" data-interestId="@item.interestId" data-lineManagerId="@item.lineManagerId" class="btnViewDOI" style="padding:1px 5px !important;" type="button"></button>*@
            }
        </text>)
    ))

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div id="gridPager" class="space-box col-md-8">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
            </div>
            <div id="" class="col-md-1">
                <div class="row">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Submitted:</th>
                <th>Name:</th>
                <th>Job Role:</th>
                <th>Line Manager:</th>
                <th>Directorate:</th>
                <th>Team:</th>
                <th>Director:</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="9" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade padding-bottom" id="requestDoi" role="dialog">
    <div id="doiContainer"></div>
</div>

<script type="text/javascript">

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("SearchDeclarationOfInterest", "Reports")' + queryString;
        $("#webgrid").load(requestUrl);
    }

    @*function loadPopUpRequest(event, ths) {
        if ($(this).data('ceo') == 1 && $(this).data('status') == 'Supported') {
            $.get('@Url.Action("GetPayPointRequest", "Reports")' + '/' + $(this).data('id'), function (data) {
                $('#payPointContainer').html(data);
                $('#requestPayPoint').modal('show');
            });
        } else if ($(this).data('ceo') == 2 && $(this).data('status') == 'Submitted') {
            $.get('@Url.Action("GetPayPointRequest", "Reports")' + '/' + $(this).data('id'), function (data) {
                $('#payPointContainer').html(data);
                $('#requestPayPoint').modal('show');
            });
        }
    }*@

    (function () {
        $("#webgrid a.__page__").on('click', function (event) {
            loadGridEvents(event, this);
        });

        $(".wedgrid-header a").on('click', function (event) {
            loadGridEvents(event, this);
        });

        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');


        $('.btnApprove').on('click', function () {
            $.get('@Url.Action("GetDeclarationOfInterestsRequest", "Reports")' + '/' + $(this).data('interestid'), function (data) {
                $('#doiContainer').html(data);
                $('#dvDoiInfo').hide();
                $('#txtUpdatedOn').val('');
                $('#requestDoi').modal('show');
            });
            //do stuff
        });

        $('.btnViewDOI').on('click', function () {
            $.get('@Url.Action("GetDeclarationOfInterestsRequest", "Reports")' + '/' + $(this).data('interestid'), function (data) {
                $('#doiContainer').html(data);
                $('#dvDoiInfo').hide();
                $('#submitDoi').hide();
                $('#txtComment').attr('disabled', true);
                $('#txtUpdatedOn').attr('disabled', true);
                $('.ui-datepicker-trigger').hide();
                $('#requestDoi').modal('show');
            });
        });

        $('.btnViewReviewedDOI').on('click', function () {
            $.get('@Url.Action("GetDeclarationOfInterestsRequest", "MyStaff")' + '/' + $(this).data('interestid'), function (data) {
                $('#doiContainer').html(data);
                $('#dvApprovalPopup').show();
                $('#dvDoiInfo').hide();
                $('#submitDoi').hide();
                $('#txtComment').attr('disabled', true);
                $('#txtUpdatedOn').attr('disabled', true);
                $('.ui-datepicker-trigger').hide();
                $('#requestDoi').modal('show');
            });
        });

    })();

    var typingPageTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example

    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var requestUrl = '@Url.Action("SearchDeclarationOfInterest", "Reports", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtPageNo").val() + '&year=' + $("#fiscalYearId").val() + '&status=' + $("#status").val() + '&directorate=' + $(".ddldirectorate").val() + '&team=' + $(".ddlteam").val() + '&txtSearchText=' + $("#txtSearchText").val();
        $("#webgrid").load(requestUrl);
    }

    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms, 5 second for example

    function TypingInterval() {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(searchTextChanged, doneTypingInterval);
    }

    function searchTextChanged() {
        $.ajax({
            url: '@Url.Action("SearchDeclarationOfInterest", "Reports")',
            type: 'GET',
            data: {
                txtSearchText: $('#txtSearchText').val(),
                year: $('#year').val(),
                directorate: $('.ddldirectorate').val(),
                team: $('.ddlteam').val(),
                status: $('#status').val()
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html($(resp).find('#webgrid'));
                }
            }
        });
    }

</script>
