﻿@model  BHGHRModuleWeb.ViewModels.DeclarationViewModel

<style>
    input[type="radio"] {
        margin: 1px;
    }
</style>

<div class="modal-dialog" style="width:912px;height:100px">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Declaration of Interests Authorisation</h4>
        </div>
        <div class="modal-body" style="background-color:white">
            <div class="row">
                <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                    <strong id="popupMsgResponse"></strong>
                </div>
            </div>
            <div id="dvDoiInfo">


                <div class="row" style="max-height:600px; overflow-y:scroll; overflow-x:hidden">
                    <div class="col-md-12">
                        <div class="portlet">
                            @* 1 *@
                            <div class="portlet-box">
                                <div class="box"><span>1</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am related to / a close friend of / share a household with the following BHG employee(s) and/or Broad Member(s):
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.empName1, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Role:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.empRole1, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page1.empRel1, Model.relationships, new { @class = "form-control btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.empName2, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Role:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.empRole2, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page1.empRel2, Model.relationships, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 2 *@
                            <div class="portlet-box">
                                <div class="box"><span>2</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am related to / a close friend of / share a household with the following applicant for a BHG role:
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.roleName, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Role:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.roleRole, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page1.roleRel, Model.relationships, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 3 *@
                            <div class="portlet-box">
                                <div class="box"><span>3</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am currently residing in a BHG home at the following address:
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Address:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.residingAddress1, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-8 pull-right">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.residingAddress2, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Postcode:
                                        </div>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.residingPostcode, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 4 *@
                            <div class="portlet-box">
                                <div class="box"><span>4</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am related to / a close friend of someone who is currently residing in a BHG home:
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeName1, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Address:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeAddress1, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page1.homeRel1, Model.relationships, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeName2, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Address:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeAddress2, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page1.homeRel2, Model.relationships, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 5 *@
                            <div class="portlet-box">
                                <div class="box"><span>5</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I the following secondary employment
                                            <br />
                                            (NB: all secondary employment must be declared):
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Type of employment:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.typeOfEmployment, new { @class = "form-control btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Employer (if applicable):
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.employer, new { @class = "form-control btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Has the secondary employment been approved by BHG?:
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-8">
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page1.isEmployment, "true", new { @class = "btnToBeDisabled" }) Yes
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page1.isEmployment, "false", new { @class = "btnToBeDisabled" }) No
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 6 *@
                            <div class="portlet-box">
                                <div class="box"><span>6</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am currently using the following BHG contractor, consultant or supplier in a personal capacity:
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name of Organization:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.conOrganizationP6, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Service they are supplying to you:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.conService, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Has your use of this company been approved by a member of the Leadership Group?
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-8">
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isLeadership, "true", new { @class = "btnToBeDisabled" }) Yes
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isLeadership, "false", new { @class = "btnToBeDisabled" }) No
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 7 *@
                            <div class="portlet-box">
                                <div class="box"><span>7</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am related to / a close friend of / share a household with an employee of another Norfolk Social Landlord, Local Authority or housing-relater organization:
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthName1, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Organization they work for:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthOrganization1, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page2.localAuthRel1, Model.relationships, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthName2, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Organization they work for:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthOrganization2, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page2.localAuthRel2, Model.relationships, new { @class = "form-control btnToBeDisabled btnToBeDisabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 8 *@
                            <div class="portlet-box">
                                <div class="box"><span>8</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am related to / a close friend of / share a household with someone who has the following connection to a BHG contractor, consultant, supplier or an organization applying/tendering for a BHG contract:
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-12">
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP8, "true", new { @class = "btnToBeDisabled" }) They are a director/partner/employee/consultant of
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-12">
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP8, "false", new { @class = "btnToBeDisabled" }) They own or have significant shareholding/other financial stake or interest in
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name of organization:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.conOrganizationP8, new { @class = "form-control btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name of indvidual:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.conIndvidual, new { @class = "form-control btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page2.conRelP8, Model.relationships, new { @class = "form-control btnToBeDisabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 9 *@
                            <div class="portlet-box">
                                <div class="box"><span>9</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I have the following connection to a BHG contactor, consultant, supplier or an organization applying/tendering for a BHG contract:
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-12">
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP9, "true", new { @class = "btnToBeDisabled" }) I am director/partner/employee/consultant of
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-12">
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP9, "false", new { @class = "btnToBeDisabled" }) I own or have significant shareholding/other financial stake or interest in
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Name of organization:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.conOrganizationP9, new { @class = "form-control btnToBeDisabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 10 *@
                            <div class="portlet-box">
                                <div class="box"><span>10</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am a trustee of the following trust(s):
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Trust 1:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page3.trustee1, new { @class = "form-control btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Trust 2:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page3.trustee2, new { @class = "form-control btnToBeDisabled" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Trust 3:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page3.trustee3, new { @class = "form-control btnToBeDisabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 11 *@
                            <div class="portlet-box">
                                <div class="box"><span>11</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am an elected Member of the following Local Authority (District, Borough, County Council, or Town/Parish Council):
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page3.countyTown, new { @class = "form-control btnToBeDisabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 12 *@
                            <div class="portlet-box">
                                <div class="box"><span>12</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I hold the following other paid or unpaid non-executive appointments:
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.TextAreaFor(m => m.declarationOfInterest.page3.appointments, 5, 3, new { @class = "form-control btnToBeDisabled personalDetail" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 13 *@
                            <div class="portlet-box">
                                <div class="box"><span>13</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I (or an organisation listed above with which I am involved) have a beneficial interest in the following land or property with which BHG is involved or which may be of interest to BHG and/or its activities:
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.TextAreaFor(m => m.declarationOfInterest.page3.beneficialInterest, 5, 3, new { @class = "form-control btnToBeDisabled personalDetail" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 14 *@
                            <div class="portlet-box">
                                <div class="box"><span>14</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page3.isTempInterested, "true", new { @class = "btnToBeDisabled" }) I have no interest that I need to declare at present (please do not tick this box if you have declare an interest above)
                                        </p>
                                    </div>
                                    <div class="row padding-bottom"></div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-12">
                                            <strong>OR</strong>
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-12">
                                            I wish to declare an interest other than those mentioned above:
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.TextAreaFor(m => m.declarationOfInterest.page3.otherInterest, 5, 3, new { @class = "form-control btnToBeDisabled personalDetail" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="row padding-bottom">
                <div class="col-md-3">Approve Date:</div>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.declarationOfInterest.updatedOn, Model.declarationOfInterest.ModelDateFormate, new { id = "txtUpdatedOn", @class = "DatePicker form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Comment:</div>
                <div class="col-md-9">
                    @Html.TextAreaFor(m => m.declarationOfInterest.comment, 5, 3, new { @id = "txtComment", @class = "form-control personalDetail" })
                    @Html.HiddenFor(mbox => mbox.declarationOfInterest.interestId, new { id = "hdnInterestId" })
                    @Html.HiddenFor(mbox => mbox.declarationOfInterest.employeeId, new { id = "hdnEmployeeId" })
                    @*@Html.TextBoxFor(m => m.start, new { id = "txtStartDateAbsence", Name = "startDate", @class = "DatePicker form-control btnToBeDisabled" })*@
                </div>
            </div>
        </div>
        <div class="modal-footer" style="background-color:white;margin-top:0px">
            <button id="submitDoi" class="btn btn-primary btn-ok">Approve</button>
            <button type="button" class="btn btn-default" id="closePopup">Close</button>
        </div>
    </div>
</div>

<script>

    (function () {
        $('.btnToBeDisabled').attr('disabled', true);
        loadDatePicker();
    })();

    $("#closePopup").click(function () {
        $('#requestDoi').modal('hide');
        $.ajax({
            type: "GET",
            url: '@Url.Action("SearchDeclarationOfInterest", "Reports")',
            data:{
                txtSearchText: $('#txtSearchText').val(),
                year: $('#year').val(),
                directorate: $('.ddldirectorate').val(),
                team: $('.ddlteam').val(),
                status: $('#status').val()
            },
            success: function (response) {
                $('#webgrid').html(response);
                $('.modal-backdrop').hide();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('popupMessage', 'popupMsgResponse', "Unable to load DOI", 'failure');
                console.log(jqXHR);
            }
        });
    });

    $("#submitDoi").click(function () {
        event.preventDefault();
        var doiFormValid = true;
        var message = "";
        if ($('#txtUpdatedOn').val() == '') {
            doiFormValid = false;
            message = "Please select approve date <br />";
        }
        if ($('#txtComment').val() == '') {
            doiFormValid = false;
            message = message + "Please add comment";
        }
        if (!doiFormValid) {
            popupMessage('popupMessage', 'popupMsgResponse', message, 'failure');
            return false;
        }

        var request = new Object();
        request.comment = $('#txtComment').val();
        request.interestId = $('#hdnInterestId').val();
        request.employeeId = $('#hdnEmployeeId').val();
        request.updatedOn = $('#txtUpdatedOn').val();
        request.status = 'Approved';
        $.ajax({
            url: '@Url.Action("UpdateDeclarationOfInterestStatus", "Reports")',
            type: 'POST',
            data: request,
            success: function (resp) {
                if (resp != "")
                    resp = JSON.parse(resp)

                if (resp = "DOI updated successfully.") {
                    popupMessage('popupMessage', 'popupMsgResponse', 'DOI approved successfully.', 'success');
                    $('#submitDoi').prop('disabled', true);
                } else {
                    popupMessage('popupMessage', 'popupMsgResponse', "DOI not updated", 'failure');
                }
            }
        });
    });

    function popupMessage(outerElement, element, msg, type) {
        if (type == "success") {
            $("#" + outerElement).removeClass('alert-danger');
            $("#" + outerElement).addClass('alert-success');
        } else if ("failure") {
            $("#" + outerElement).removeClass('alert-success');
            $("#" + outerElement).addClass('alert-danger');
        }

        $("#" + element).html(msg)
        $("#" + outerElement).show().delay(5000).fadeOut();
        window.scrollTo(0, 0);
    }
</script>