﻿@model BHGHRModuleWeb.ViewModels.EstablishmentGridViewModel
@using Share.Bonnet.AjaxDropDownList;
@Scripts.Render("~/bundles/bonnet")
@{ 
    string searchText = ViewBag.searchText;
}
<div class="row padding-bottom">
    <div style="border: 1px solid; background-color: #000; padding: 10px;">
        <label style="color:#fff">Establishment Report</label>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="padding:10px 0;">
        @using (Html.BeginForm("ExportData", "Reports", FormMethod.Post, new { id = "excelForm" }))
        {
            <div class="row">
                <div class="col-md-12 col-xs-12 padding-bottom">
                    <div class="col-md-2 col-xs-12 padding-bottom-5">
                        <span class="pull-left">@Html.LabelFor(m => m.fromDate)</span>
                        @Html.TextBoxFor(m => m.fromDate, "dd/mm/yyyy", new { id = "fromDate", @class = "DatePicker form-control", @style = "width:55%;" })
                        @Html.ValidationMessageFor(m => m.fromDate)
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        <span class="pull-left">@Html.LabelFor(m => m.toDate)</span>
                        @Html.TextBoxFor(m => m.toDate, "dd/mm/yyyy", new { id = "toDate", @class = "DatePicker form-control", @style = "width:55%;" })
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(
                       m => m.directorate,
                       Model.directorateLookUps,
                       new
                       {
                           @class = "form-control ddldirectorate"
                       },
                       Ajax.UpdateActionFor(
                                    model => model.team,
                                    new AjaxUpdateOptions
                                    {
                                        DisableTargetWhenEmpty = true,
                                        Url = Url.Action("TeamSelectListJson")
                                    }
                                )
                       )
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(m => m.team, Model.teamLookUps, new { @class = "form-control ddlteam" })
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(m => m.employeeType, new SelectList(Model.employeeTypes, "Value", "Text"), new { @class = "form-control", id = "ddlemployeeType" })
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(m => m.fullTime, new SelectList(Model.partFullTime, "Value", "Text"), new { @class = "form-control", id = "ddlFullTime" })
                    </div>
                    <input type="hidden" name="searchText" id="hdnExpSearch" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 padding-bottom">
                    <div class="col-md-12 col-xs-12">
                        <input class="btn btn-gray btn-xs pull-right btnNext" id="btnSaveCriteria" type="submit" name="nextBtn" value='Build Report' style="margin-left:19px;" />
                        <input class="btn btn-gray btn-xs pull-right" id="btnSaveXLS" type="submit" name="nextBtn" value='Export XLS' />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
        }
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <strong> Directorate Information</strong>
                </div>
            </div>
            <div class="row">
                <div class="form-inline">
                    <div class="col-md-3">
                        <strong>
                            Total Salary:
                        </strong>
                        <div class="form-group" id="divTotalSalary">
                            @Model.establishmentList.totalSalary
                        </div>
                    </div>
                    <div class="col-md-3">
                        <strong>
                            Total Staff:
                        </strong>
                        <div class="form-group" id="divTotalStaff">
                            @Model.establishmentList.totalStaff
                        </div>
                    </div>
                    <div class="col-md-3">
                        <strong>
                            New Starters:
                        </strong>
                        <div class="form-group" id="divNewStarter">
                            @Model.establishmentList.newStarter
                        </div>
                    </div>
                    <div class="col-md-3">
                        <strong>
                            Leavers:
                        </strong>
                        <div class="form-group" id="divLeaver">
                            @Model.establishmentList.leaver
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row padding-bottom"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="filters" style="margin-right:4px;">
                    @Html.TextBox("txtSearchText", searchText, new { @class = "searchbox-right", Name = "txtSearchText", onkeyup = "TypingInterval();" })
                </div>
            </div>
            <div id="webgrid">
                @Html.Partial("_EstablishmentGrid", Model)
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

    (function () {
        loadDatePicker();
    })();

    $("#btnSaveCriteria").click(function () {
        event.preventDefault();
        if (DateValidations()) {
            $.ajax({
                url: '@Url.Action("SearchEstablishment", "Reports")',
                type: 'GET',
                data: {
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val(),
                    directorate: $('.ddldirectorate').val(),
                    team: $('.ddlteam').val(),
                    employeeType: $('#ddlemployeeType').val(),
                    fullTime: $('#ddlFullTime').val()
                },
                success: function (resp) {
                    if (resp != undefined) {
                        $('#webgrid').html(resp);
                        $('#divTotalSalary').html($($(resp)[0]).data('figure')); // spnTotalSalary
                        $('#divTotalStaff').html($($(resp)[2]).data('figure')); // spnTotalStaff
                        $('#divNewStarter').html($($(resp)[4]).data('figure')); // spnNewStarter
                        $('#divLeaver').html($($(resp)[6]).data('figure')); // spnLeaver
                    }
                }
            });
        }
    });

    $("#btnSaveXLS").click(function () {
        event.preventDefault();
        if (DateValidations()) {
            $('#hdnExpSearch').val($('#txtSearchText').val());
            $("#excelForm").submit();
        }
    });

    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms, 5 second for example

    function TypingInterval() {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(searchTextChanged, doneTypingInterval);
    }

    function searchTextChanged() {
        $.ajax({
            url: '@Url.Action("SearchEstablishment", "Reports")',
            type: 'GET',
            data: {
                txtSearchText: $('#txtSearchText').val(),
                fromDate: $('#fromDate').val(),
                toDate: $('#toDate').val(),
                directorate: $('.ddldirectorate').val(),
                team: $('.ddlteam').val(),
                employeeType: $('#ddlemployeeType').val(),
                fullTime: $('#ddlFullTime').val()
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html(resp);
                }
            }
        });
    }

</script>
