﻿@model BHGHRModuleWeb.ViewModels.HealthReportGridViewModel

@{
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize);

    if (Model.healthReportListing.employeeList != null)
    {
        grid.Bind(Model.healthReportListing.employeeList, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
    }
}

@if (Model.healthReportListing.employeeList != null && Model.healthReportListing.employeeList.Count > 0)
{
    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "loggedByString", header: "Logged By"),
        grid.Column(columnName: "fullName", header: "Employee"),
        grid.Column(columnName: "directorate", header: "Directorate:"),
        grid.Column(columnName: "team", header: "Team:"),
        grid.Column(columnName: "disabilityType", header: "Type"),
        grid.Column(columnName: "description", header: "Description"),
        grid.Column(columnName: "notifiedDate", header: "Notified Date"),
        grid.Column(header: "", format:@<text><input class="pull-right edit-arrow" type="button" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, redirectTab = "mnuHealth" })'"></text>)
    ))
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div id="gridPager" class="space-box col-md-8">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
            </div>
            <div id="" class="col-md-1">
                <div class="row">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new
                            {
                                Name = "pageText",
                                Style = "width:40px;",
                                Id = "txtPageNo",
                                onkeyup = "TypingPageInterval();",

                            })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Logged By:</th>
                <th>Employee:</th>
                <th>Directorate:</th>
                <th>Team:</th>
                <th>Type:</th>
                <th>Description:</th>
                <th>Notified Date:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="6" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl =
            '@Url.Action("SearchHealthList", "Reports")' + queryString;//+ "?searchText=" + $('#txtSearchText').val();
        //$("#webgrid").load(requestUrl);

        $("#webgrid").load(requestUrl);
    }

    (function () {

       $("#webgrid a").on('click', function (event) {
           loadGridEvents(event, this);
       });
       $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
    })();

    var typingPageTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example

    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var requestUrl =
           '@Url.Action("SearchHealthList", "Reports", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtPageNo").val() + '&fromDate=' + $("#fromDate").val() + '&toDate=' + $("#toDate").val() + '&directorate=' + $(".ddldirectorate").val() + '&teamId=' + $(".ddlteam").val() + '&disabilityType=' + $("#ddldisabilityType").val() + '&txtSearchText=' + $("#txtSearchText").val();
        $("#webgrid").load(requestUrl);
    }

</script>


