﻿@model BHGHRModuleWeb.ViewModels.HealthReportGridViewModel
@using Share.Bonnet.AjaxDropDownList;
@Scripts.Render("~/bundles/bonnet")
@{
    string searchText = ViewBag.searchText;
}
<div class="row padding-bottom">
    <div style="border: 1px solid; background-color: #000; padding: 10px;">
        <label style="color:#fff">Health Report</label>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="padding:10px 0;">
        @using (Html.BeginForm("ExportHealthData", "Reports", FormMethod.Post, new { id = "excelForm" }))
        {
            <div class="row">
                <div class="col-md-12 col-xs-12 padding-bottom">
                    <div class="col-md-3 col-xs-12 padding-bottom-5">
                        <span class="pull-left" style="width:20%">@Html.LabelFor(m => m.fromDate)</span>
                        @Html.TextBoxFor(m => m.fromDate, "{0:dd/MM/yyyy}", new { id = "fromDate", @class = "DatePicker form-control", @style = "width:65%;" })
                        @Html.ValidationMessageFor(m => m.fromDate)
                    </div>
                    <div class="col-md-3 col-xs-12 padding-bottom">
                        <span class="pull-left" style="width:20%">@Html.LabelFor(m => m.toDate)</span>
                        @Html.TextBoxFor(m => m.toDate, "{0:dd/MM/yyyy}", new { id = "toDate", @class = "DatePicker form-control", @style = "width:65%;" })
                        @Html.ValidationMessageFor(m => m.toDate)
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(m => m.disabilityType, new SelectList(Model.disabilityTypes, "Value", "Text"), new { @class = "form-control", id = "ddldisabilityType" })
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(
                       m => m.directorate,
                       Model.directorateLookUps,
                       new
                       {
                           @class = "form-control ddldirectorate"
                       },
                       Ajax.UpdateActionFor(
                                    model => model.teamId,
                                    new AjaxUpdateOptions
                                    {
                                        DisableTargetWhenEmpty = true,
                                        Url = Url.Action("TeamSelectListJson")
                                    }
                                )
                       )
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(m => m.teamId, Model.teamLookUps, new { @class = "form-control ddlteam" })
                    </div>
                    <input type="hidden" name="searchText" id="hdnExpSearch" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 padding-bottom">
                    <div class="col-md-12 col-xs-12">
                        <input class="btn btn-gray btn-xs pull-right btnNext" id="btnSaveCriteria" type="submit" name="nextBtn" value='Build Report' style="margin-left:19px;" />
                        <input class="btn btn-gray btn-xs pull-right" id="btnSaveXLS" type="submit" name="nextBtn" value='Export XLS' />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
        }
    </div>
    <div class="panel-body">
        <div class="row padding-bottom"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="filters" style="margin-right:4px;">
                    @Html.TextBox("txtSearchText", searchText, new { @class = "searchbox-right", Name = "txtSearchText", onkeyup = "TypingInterval();" })
                </div>
            </div>
            <div id="webgrid">
                @Html.Partial("_HealthReportGrid", Model)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
 (function () {
     loadDatePicker();
 })();

 $("#btnSaveCriteria").click(function () {
     event.preventDefault();
     if (DateValidations()) {
         $.ajax({
             url: '@Url.Action("SearchHealthList", "Reports")',
             type: 'GET',
             data: {
                 fromDate: $('#fromDate').val(),
                 toDate: $('#toDate').val(),
                 disabilityType: $('#ddldisabilityType').val(),
                 directorate: $('.ddldirectorate').val(),
                 teamId: $('.ddlteam').val(),
                 txtSearchText: $('#txtSearchText').val(),
             },
             success: function (resp) {
                 if (resp != undefined) {
                     $('#webgrid').html(resp);
                 }
             }
         });
     }
 });
    $("#btnSaveXLS").click(function () {
        event.preventDefault();
        if (DateValidations()) {
            $('#hdnExpSearch').val($('#txtSearchText').val());
            $("#excelForm").submit();
        }
    });
    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms, 5 second for example

    function TypingInterval() {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(searchTextChanged, doneTypingInterval);
    }

    function searchTextChanged() {
        $.ajax({
            url: '@Url.Action("SearchHealthList", "Reports")',
            type: 'GET',
            data: {
                fromDate: $('#fromDate').val(),
                toDate: $('#toDate').val(),
                disabilityType: $('#ddldisabilityType').val(),
                directorate: $('.ddldirectorate').val(),
                teamId: $('.ddlteam').val(),
                txtSearchText: $('#txtSearchText').val(),
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html(resp);
                }
            }
        });
    }
</script>

