﻿@model BHGHRModuleWeb.ViewModels.MandatoryTrainGridViewModel
@{

    //string searchText = ViewBag.searchText;
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize);
    grid.Bind(Model.trainingList, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
    
}

@if (Model.trainingList != null && Model.trainingList.Count > 0)
{
@grid.GetHtml(
                tableStyle: "table table-responsive backcolor",
                headerStyle: "wedgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style",
                columns: grid.Columns(
                grid.Column(columnName: "employeeName", header: "Name"),
                grid.Column(columnName: "directorateName", header: "Directorate"),
                grid.Column(columnName: "teamName", header: "Team"),
                grid.Column(columnName: "jobTitle", header: "Job Title"),
                grid.Column(columnName: "startDate", header: "Start"),
                grid.Column(columnName: "course", header: "Training Course"),
                grid.Column(columnName: "providerName", header: "Provider"),
                grid.Column(columnName: "expiry", header: "Renew"),
                grid.Column(columnName: "byName", header: "By"),
                grid.Column(header: "", format:@<text><input class="pull-right edit-arrow" type="button" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, redirectTab = "mnuTraining", trainingid = item.trainingId })'"></text>)
))
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div id="gridPager" class="space-box col-md-8">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
            </div>
            <div id="" class="col-md-1">
                <div class="row">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new
                   {
                       Name = "pageText",
                       Style = "width:40px;",
                       Id = "txtPageNo",
                       onkeyup = "TypingPageInterval();",

                   })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Name</th>
                <th>Directorate</th>
                <th>Team Course</th>
                <th>Job Title</th>
                <th>Training Course</th>
                <th>Provider</th>
                <th>Renew</th>
                <th>By</th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="8" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
}

<script type="text/javascript">
   
    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl =
            '@Url.Action("SearchTrainings", "Reports")' + queryString;//+ "?searchText=" + $('#txtSearchText').val();
        //$("#webgrid").load(requestUrl);

        $("#webgrid").load(requestUrl);
    }
    (function () {

       $("#webgrid a").on('click', function (event) {
           loadGridEvents(event, this);
       });
       $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
    })();


    var typingPageTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example
    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }
    function searchPageChanged() {
        var requestUrl =
           '@Url.Action("SearchTrainings", "Reports", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtPageNo").val();
        $("#webgrid").load(requestUrl);
    }
</script>

