﻿@model BHGHRModuleWeb.ViewModels.PayPointGridViewModel
@{
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize);
    grid.Bind(Model.PayPointList.payPoints, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
}

@if (Model.PayPointList.payPoints != null && Model.PayPointList.payPoints.Count > 0)
{
    if (Model.PayPointList.payPointStatus == 3 || Model.PayPointList.notSubmitted == true)
    {
        @grid.GetHtml(
             tableStyle: "table table-responsive backcolor",
             headerStyle: "wedgrid-header",
             footerStyle: "webgrid-footer",
             alternatingRowStyle: "webgrid-alternating-row",
             rowStyle: "webgrid-row-style",
             columns: grid.Columns(
                 grid.Column(header: "", format:@<text> @if (!string.IsNullOrEmpty(item.imagePath))
                 {
                <img src="@item.imagePath" class="pull-right" width="22" />
                 }</text>),
                 grid.Column(columnName: "name", header: "Name:"),
                 grid.Column(columnName: "directorate", header: "Directorate:"),
                 grid.Column(columnName: "team", header: "Team:"),
                 grid.Column(columnName: "gradeDescription", header: "Grade:"),
                 grid.Column(columnName: "gradePointDescription", header: "Pay Point:"),
                 grid.Column(columnName: "reviewDate", header: "Review:"),
                 grid.Column(columnName: "submittedByName", header: "By:"),
                 grid.Column(columnName: "statusDisplay", header: "Status:"),
                 grid.Column(header: "Reason:",
                     format: @<text>
                        <span>
                            @if (!string.IsNullOrEmpty(item.reason) && item.reason.Length > 50)
                            {
                                <span class="shortNote">@item.reason.Substring(0, 50)  </span>
                                                    <a style="color: #2a6496 !important; cursor:pointer" class="showNote">Read more...</a>
                                                    <span class="fullNote" style="display: none;">@item.reason</span>
                            }
                            else
                            {
                                <span>@item.reason</span>
                            }
                        </span>
                    </text>),
                 grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:@<text> <img src="~/Content/Images/aero.png" data-paypointid="@item.payPointId" data-id="@item.employeeId" data-ceo="@item.isCeo" data-status="@item.status" class="popUpRequest pull-right" width="22" /></text>)
         ))
    }
    else
    {
        @grid.GetHtml(
            tableStyle: "table table-responsive backcolor",
            headerStyle: "wedgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style",
            columns: grid.Columns(
            grid.Column(header: "", format:@<text> @if (!string.IsNullOrEmpty(item.imagePath))
                {
                <img src="@item.imagePath" class="pull-right" width="22" />
                }</text>),
                grid.Column(columnName: "name", header: "Name:"),
                grid.Column(columnName: "directorate", header: "Directorate:"),
                grid.Column(columnName: "team", header: "Team:"),
                grid.Column(columnName: "gradeDescription", header: "Grade:"),
                grid.Column(columnName: "gradePointDescription", header: "Pay Point:"),
                grid.Column(columnName: "reviewDate", header: "Review:"),
                grid.Column(columnName: "submittedByName", header: "By:"),
                grid.Column(columnName: "statusDisplay", header: "Status:"),
                grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:@<text> <img src="~/Content/Images/aero.png" data-paypointid="@item.payPointId" data-id="@item.employeeId" data-ceo="@item.isCeo" data-status="@item.status" class="popUpRequest pull-right" width="22" /></text>)
            ))
    }
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div id="gridPager" class="space-box col-md-8">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
            </div>
            <div id="" class="col-md-1">
                <div class="row">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Name</th>
                <th>Directorate</th>
                <th>Team</th>
                <th>Grade</th>
                <th>Pay Point</th>
                <th>Review</th>
                <th>By</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="9" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade padding-bottom" id="requestPayPoint" role="dialog">
    <div id="payPointContainer"></div>
</div>

<script type="text/javascript">

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("SearchPayPoint", "Reports")' + queryString;
        $("#webgrid").load(requestUrl);
        showNote();
    }

    @*function loadPopUpRequest(event, ths) {
        if ($(this).data('ceo') == 1 && $(this).data('status') == 'Supported') {
            $.get('@Url.Action("GetPayPointRequest", "Reports")' + '/' + $(this).data('id'), function (data) {
                $('#payPointContainer').html(data);
                $('#requestPayPoint').modal('show');
            });
        } else if ($(this).data('ceo') == 2 && $(this).data('status') == 'Submitted') {
            $.get('@Url.Action("GetPayPointRequest", "Reports")' + '/' + $(this).data('id'), function (data) {
                $('#payPointContainer').html(data);
                $('#requestPayPoint').modal('show');
            });
        }
    }*@

    (function () {
        showNote();
        $("#webgrid a").on('click', function (event) {
            loadGridEvents(event, this);
        });

        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
    })();

    $('.popUpRequest').on('click', function () {
        console.log($(this).data('ceo'));
        console.log($(this).data('status'));
        console.log($(this).data('id'));
        if (($(this).data('ceo') == 1 && $(this).data('status') == 'Supported') || ($(this).data('ceo') == 2 && $(this).data('status') == 'Submitted')) {
            $.get('@Url.Action("GetPayPointRequest", "Reports")' + '/' + $(this).data('id'), function (data) {
                $('#payPointContainer').html(data);
                $('#requestPayPoint').modal('show');
            });
        }
        else {
            $.get('@Url.Action("GetPayPointRequestReadonly", "Reports")' + '/' + $(this).data('paypointid'), function (data) {
                $('#payPointContainer').html(data);
                $('#requestPayPoint').modal('show');
            });
        }
        //do stuff
    });

    var typingPageTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example

    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var requestUrl = '@Url.Action("SearchPayPoint", "Reports", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtPageNo").val() + '&year=' + $("#fiscalYearId").val() + '&status=' + $("#status").val() + '&directorate=' + $(".ddldirectorate").val() + '&team=' + $(".ddlteam").val() + '&txtSearchText=' + $("#txtSearchText").val();
        $("#webgrid").load(requestUrl);
        showNote();
    }

    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms, 5 second for example

    function TypingInterval() {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(searchTextChanged, doneTypingInterval);
    }

    function searchTextChanged() {
        $.ajax({
            url: '@Url.Action("SearchPayPoint", "Reports")',
            type: 'GET',
            data: {
                txtSearchText: $('#txtSearchText').val(),
                year: $('#year').val(),
                directorate: $('.ddldirectorate').val(),
                team: $('.ddlteam').val(),
                status: $('#status').val()
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html(resp);
                    showNote();
                }
            }
        });
    }

    function showNote() {
        $('.showNote').on('click', function () {
            $(this).hide();
            $(this).parent().find('.shortNote').hide()
            $(this).parent().find('.fullNote').show();
        })
    }

</script>