﻿@model  BHGHRModuleWeb.ViewModels.PayPointPopUpViewModel

<style>
    input[type="radio"] {
        margin: 1px;
    }
</style>

<div class="modal-dialog" style="width:912px;height:100px">
    <!-- Modal content-->
    <div class="modal-body" style="background-color:white">
        <div class="row">
            <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                <strong id="popupMsgResponse"></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><b>Salary Change Authorisation</b></p>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-6">
                <div class="portlet portlet-full">
                    <div class="row">
                        <div class="col-md-12">
                            <p>To be completed by Line Managers ONLY.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            Name of Employee:
                        </div>
                        <div class="col-md-7">
                            @Model.employeeName
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            Job Title:
                        </div>
                        <div class="col-md-7">
                            @Model.jobTitle
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p><b>Current Salary Information:</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong style="padding-right:10px;">Salary:</strong>
                            @if (Model.salary != null)
                            {
                                <span>&pound;@Model.salary</span>
                            }
                        </div>
                        <div class="col-md-4">
                            <strong style="padding-right:10px;">Grade:</strong>@Model.grade
                        </div>
                        <div class="col-md-4">
                            <strong style="padding-right:10px;">Point:</strong>@Model.gradePoint
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet portlet-full">
                    <div class="row">
                        <div class="col-md-12">
                            <p><b>Proposed Salary Information</b></p>
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-4">
                            <strong>Salary:</strong>
                        </div>
                        <div class="col-md-8">
                            &pound;@Model.payPoint.proposedSalary
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-4">
                            <strong>Grade:</strong>
                        </div>
                        <div class="col-md-8">
                            @Model.payPoint.gradeDescription
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-4">
                            <strong>Point:</strong>
                        </div>
                        <div class="col-md-8">
                            @Model.payPoint.gradePointDescription
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            <strong>Proposed Date to be effective from:</strong>
                        </div>
                        <div class="col-md-4">
                            @Model.payPoint.dateProposed
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Detailed rationale for salary point change:</strong>
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-12">
                            @Model.payPoint.detailRationale
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-7">
                            <strong>Submitted Line Manager:</strong>
                        </div>
                        <div class="col-md-5">
                            yes (@Model.payPoint.approvedDate)
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-7">
                        </div>
                        <div class="col-md-5">
                            @Model.payPoint.approvedByName
                        </div>
                    </div>
                    @if (Model.isCeo != 0 && !string.IsNullOrEmpty(Model.payPoint.reason))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <strong>Director's Comment:</strong>
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-12">
                                @Model.payPoint.reason
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-6">
                @Html.HiddenFor(m => m.ceoId,new { id= "ceoId" })
                @Html.HiddenFor(m => m.execDirectorId, new { id = "execDirectorId" })
                @Html.HiddenFor(m => m.isCeo, new { id = "isCeo" })
                @Html.HiddenFor(m => m.payPoint.paypointId, new { id = "paypointId" })
                @Html.HiddenFor(m => m.payPoint.reason, new { id = "reason" })
            </div>
            <div class="col-md-6">
                @if (Model.isCeo==0)
                {
                    <div class="portlet portlet-full">
                        <div class="row">
                            <div class="col-md-12">
                                <p><b>As Executive Director, Do you support this request?</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-1">
                                Yes
                            </div>
                            <div class="col-md-1">
                                <input type="radio" name="supported" value="4" />
                            </div>
                            <div class="col-md-1">
                                No
                            </div>
                            <div class="col-md-1">
                                <input type="radio" name="supported" value="3" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">Reason:</div>
                            <div class="col-md-5">
                                <input type="text" name="txtReason" id="txtReason" />
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="portlet portlet-full">
                        <div class="row">
                            <div class="col-md-12">
                                <p><b>As a Chief Executive Officer,Please Authorise or Decline this request?</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-2">
                                Authorise
                            </div>
                            <div class="col-md-1">
                                <input type="radio" name="author" value="2" />
                            </div>
                            <div class="col-md-1">
                                Decline
                            </div>
                            <div class="col-md-1">
                                <input type="radio" name="author" value="3" style="margin-left:17px" />
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-5">Reason:</div>
                            <div class="col-md-5">
                                <input type="text" name="txtReason" id="txtReason" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">Next Date for Eligible:</div>
                            <div class="col-md-3">
                                <select class="form-control" name="txtNextEligibleDate" id="txtNextEligibleDate">
                                    @foreach (var item in Model.eligibleDateOptions)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" name="txtNextEligibleYear" id="txtNextEligibleYear">
                                    @foreach (var item in Model.eligibleYearOptions)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="modal-footer" style="background-color:white;margin-top:0px">
        <button id="submitPayPoint" class="btn btn-primary btn-ok">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"> < Back</button>
    </div>
</div>

<script>
    (function () {
        loadDatePicker();
    })();


    function loadPayPointReport() {
        $('#requestPayPoint').modal('hide');
        searchPageChanged();
    }

    $("#submitPayPoint").click(function () {
        event.preventDefault();
        var request = new Object();
        request.reason = $("#reason").val();
        var eligibleYear = $("#txtNextEligibleYear").val();
        var today = new Date();
        today.setDate(today.getDate() + 31);
        var selectedEligible = $("#txtNextEligibleDate").val();
        if (selectedEligible != undefined) {
            var eligibleDate = new Date(eligibleYear, (selectedEligible.split('/')[1] - 1), selectedEligible.split('/')[0])

            if (today > eligibleDate) {
                popupMessage('popupMessage', 'popupMsgResponse', "Next date for eligible must be greater than " + today.getDate() + "/" + (today.getMonth() + 1) + "/" + today.getFullYear() + ".", 'failure');
                return;
                //eligibleDate = new Date((eligibleYear + 1), (selectedEligible.split('/')[1] - 1), selectedEligible.split('/')[0])
            }

            var dd = eligibleDate.getDate();
            var mm = eligibleDate.getMonth() + 1; //January is 0!

            var yyyy = eligibleDate.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            var today = dd + '/' + mm + '/' + yyyy;

            request.nextEligibleDate = today;
        }
        
        if ($("#isCeo").val() == 1) {
            request.paypointId = $("#paypointId").val();
            request.lastActionUser = $("#ceoId").val();
            request.statusId = $("input[name=author]:checked").val();
            request.reason = $("#txtReason").val();
        } else {
            request.paypointId = $("#paypointId").val();
            request.lastActionUser = $("#execDirectorId").val();
            request.statusId = $("input[name=supported]:checked").val();
            request.reason = $("#txtReason").val();
        }

        if (typeof request.statusId == 'undefined' || request.statusId == '') {
            popupMessage('popupMessage', 'popupMsgResponse', "Select PayPoint status.", 'failure');
        } else {
            $.ajax({
                url: '@Url.Action("UpdatePaypointStatus", "Reports")',
                type: 'POST',
                data: request,
                success: function (resp) {
                    if (resp != "")
                        resp = JSON.parse(resp)

                    if (resp = "Paypoint updated successfully.") {
                        popupMessage('popupMessage', 'popupMsgResponse', resp, 'success');
                        $('#submitPayPoint').prop('disabled', true);
                        loadPayPointReport();
                    } else {
                        popupMessage('popupMessage', 'popupMsgResponse', "PayPoint not updated", 'failure');
                    }
                },
                error: function (resp) {

                }
            });
        }
    });

    function popupMessage(outerElement, element, msg, type) {
        if (type == "success") {
            $("#" + outerElement).removeClass('alert-danger');
            $("#" + outerElement).addClass('alert-success');
        } else if ("failure") {
            $("#" + outerElement).removeClass('alert-success');
            $("#" + outerElement).addClass('alert-danger');
        }

        $("#" + element).html(msg)
        $("#" + outerElement).show().delay(5000).fadeOut();
        window.scrollTo(0, 0);
    }
</script>