﻿@model  BHGHRModuleWeb.ViewModels.PayPointPopUpViewModel

<style>
    input[type="radio"] {
        margin: 1px;
    }
</style>

<div class="modal-dialog" style="width:912px;height:100px">
    <!-- Modal content-->
    <div class="modal-body" style="background-color:white">
        <div class="row">
            <div class="col-md-12">
                <p><b>Salary Change Authorisation</b></p>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-12">
                <div class="portlet portlet-full">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Name of Employee:</strong>
                        </div>
                        <div class="col-md-8">
                            @Model.employeeName
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Job Title:</strong>
                        </div>
                        <div class="col-md-8">
                            @Model.jobTitle
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-4">
                            <strong>Salary:</strong>
                        </div>
                        <div class="col-md-8">
                            @if (Model.payPoint.proposedSalary.HasValue)
                            {
                                <span>&pound;@Model.payPoint.proposedSalary</span>
                            }
                            
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-4">
                            <strong>Grade:</strong>
                        </div>
                        <div class="col-md-8">
                            @Model.payPoint.gradeDescription
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-4">
                            <strong>Point:</strong>
                        </div>
                        <div class="col-md-8">
                            @Model.payPoint.gradePointDescription
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-4">
                            <strong>Proposed Date to be effective from:</strong>
                        </div>
                        <div class="col-md-8">
                            @Model.payPoint.dateProposed
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Detailed rationale for salary point change:</strong>
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-12">
                            @Model.payPoint.detailRationale
                        </div>
                    </div>
                    @if (Model.payPoint.paypointStatusDescription == "Waiting Submission")
                    {
                        <div class="row padding-bottom-5">
                            <div class="col-md-4">
                                <strong>Status:</strong>
                            </div>
                            <div class="col-md-8">
                                @Model.payPoint.paypointStatusDescription
                            </div>
                        </div>
                        if (!string.IsNullOrEmpty(Model.payPoint.reason))
                        {
                            <div class="row padding-bottom-5">
                                <div class="col-md-4">
                                    <strong>Reason:</strong>
                                </div>
                                <div class="col-md-8">
                                    @Model.payPoint.reason
                                </div>
                            </div>
                        }
                    }
                    @if (Model.payPoint.approved.HasValue)
                    {
                        <div class="row padding-bottom-5">
                            <div class="col-md-4">
                                <strong>Submitted Line Manager:</strong>
                            </div>
                            <div class="col-md-8">
                                @(Model.payPoint.approved.Value == true ? "Yes" : "No" )  (@Model.payPoint.approvedDate)
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-8">
                                @Model.payPoint.approvedByName
                            </div>
                        </div>
                    }
                    @if (Model.payPoint.supported.HasValue)
                    {
                        <div class="row padding-bottom-5">
                            <div class="col-md-4">
                                <strong>Supported Director:</strong>
                            </div>
                            <div class="col-md-8">
                                @if (!Model.payPoint.authorized.HasValue && Model.payPoint.paypointStatusDescription == "Declined")
	                            {
		                            <span>No (@Model.payPoint.supportedDate)</span>
                                }
                                else
                                {
                                    <span>@(Model.payPoint.supported.Value == true ? "Yes" : "No") (@Model.payPoint.supportedDate)</span>
                                }
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-8">
                                @Model.payPoint.supportedByName
                            </div>
                        </div>
                    }
                    @if (Model.payPoint.authorized.HasValue)
                    {
                        <div class="row padding-bottom-5">
                            <div class="col-md-4">
                                <strong>Authorised CEO:</strong>
                            </div>
                            <div class="col-md-8">
                                @if (!Model.payPoint.authorized.HasValue && Model.payPoint.paypointStatusDescription == "Declined")
                                {
                                    <span>No (@Model.payPoint.authorizedDate)</span>
                                }
                                else
                                {
                                    <span>@(Model.payPoint.authorized.Value == true ? "Yes" : "No") (@Model.payPoint.authorizedDate)</span>
                                }
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-8">
                                @Model.payPoint.authorizedByName
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="background-color:white;margin-top:0px">
        <button type="button" class="btn btn-default" data-dismiss="modal"> < Back</button>
    </div>
</div>