﻿@model BHGHRModuleWeb.ViewModels.PayPointGridViewModel
@using Share.Bonnet.AjaxDropDownList;
@Scripts.Render("~/bundles/bonnet")
@{ 
    string searchText = ViewBag.searchText;
}
<div class="row padding-bottom">
    <div style="border: 1px solid; background-color: #000; padding: 10px;">
        <label style="color:#fff">Pay Point Report</label>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" style="padding:10px 0;">
        @using (Html.BeginForm("ExportPayPointData", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" , id = "excelForm" }))
        {
            <div class="row">
                <div class="col-md-12 col-xs-12 padding-bottom">
                    <div class="col-md-2 col-xs-12 padding-bottom-5">
                        @Html.DropDownListFor(m => m.fiscalYearId, Model.fiscalYearLookUp, new { @class = "form-control", id = "year" })
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(m => m.status, Model.paypointStatusLookUp, "Select Status", new { @class = "form-control", id = "status" })
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(
                       m => m.directorate,
                       Model.directorateLookUps,
                       new
                       {
                           @class = "form-control ddldirectorate"
                       },
                       Ajax.UpdateActionFor(
                                    model => model.teamId,
                                    new AjaxUpdateOptions
                                    {
                                        DisableTargetWhenEmpty = true,
                                        Url = Url.Action("TeamSelectListJson")
                                    }
                                )
                       )
                    </div>
                    <div class="col-md-2 col-xs-12 padding-bottom">
                        @Html.DropDownListFor(m => m.teamId, Model.teamLookUps, new { @class = "form-control ddlteam" })
                    </div>
                     <div class="col-md-2 col-xs-12 padding-bottom">
                        <label class="checkbox-inline">@Html.CheckBoxFor(m => m.notSubmitted, new { @class = "margin-top" }) <span>Not Submitted</span></label>
                    </div>
                    <input type="hidden" name="searchText" id="hdnExpSearch" />
                    <div class="col-md-4">
                        <input class="btn btn-gray btn-xs pull-right btnNext" id="btnSaveCriteria" type="submit" name="nextBtn" value='Build Report' style="margin-left:19px" />
                        <input class="btn btn-gray btn-xs pull-right" id="btnSaveXLS" type="submit" name="nextBtn" value='Export XLS' />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
        }
    </div>
    <div class="panel-body">
        <div class="row padding-bottom"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="filters" style="margin-right:4px;">
                    @Html.TextBox("txtSearchText", searchText, new { @class = "searchbox-right", Name = "txtSearchText", onkeyup = "TypingInterval();" })
                </div>
            </div>
            <div id="webgrid">
                @Html.Partial("_PayPointGrid", Model)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    (function () {
        loadDatePicker();
    })();

    $("#btnSaveXLS").click(function () {
        event.preventDefault();
        $('#hdnExpSearch').val($('#txtSearchText').val());
        $("#excelForm").submit();
    });

    $("#btnSaveCriteria").click(function () {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("SearchPayPoint", "Reports")',
            type: 'GET',
            data: {
                txtSearchText: $('#txtSearchText').val(),
                year: $('#year').val(),
                directorate: $('.ddldirectorate').val(),
                team: $('.ddlteam').val(),
                status: $('#status').val(),
                notSubmitted: $('#notSubmitted').is(':checked')
            },
            success: function (resp) {
                if (resp != undefined) {
                    // $('#webgrid').html($(resp).find('#webgrid'));
                    $('#webgrid').html(resp);
                }
            }
        });
    });

</script>
