﻿@model BHGHRModuleWeb.ViewModels.RemunerationGridViewModel
@{
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize);
    grid.Bind(Model.statementList.employeeList, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
}

@if (Model.statementList.employeeList != null && Model.statementList.employeeList.Count > 0)
{
    

    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "fullName", header: "Name:", style: "max-width-20"),
        grid.Column(columnName: "directorate", header: "Directorate:", style: "max-width-20"),
        grid.Column(columnName: "team", header: "Team:", style: "max-width-20"),
        grid.Column(columnName: "jobTitle", header: "Job Title:", style: "max-width-20"),
        grid.Column(columnName: "gender", header: "Gender:", style: "max-width-20"),
        grid.Column(columnName: "ethnicity", header: "Ethnicity:", style: "max-width-20"),
        grid.Column(columnName: "dob", header: "DoB:", style: "max-width-20"),
        grid.Column(columnName: "salary", header: "Salary:", style: "max-width-20", format: (item) => item.salary != null ? String.Format("{0:0.00}", Decimal.Parse(item.salary)) : item.salary),
        grid.Column(columnName: "grade", header: "Grade:", style: "max-width-20"),
        grid.Column(columnName: "startDate", header: "Issued:", style: "max-width-20"),
        grid.Column(columnName: "endDate", header: "Statement:", style: "max-width-20"),
        grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:@<text><input class="pull-right edit-arrow" type="button" onclick="location.href='@Url.Action("GetRemunerationStatementDocument", "Reports", new { id = item.employeeId })'"></text>)
    ))

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div id="gridPager" class="space-box col-md-8">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
            </div>
            <div id="" class="col-md-1">
                <div class="row">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Name:</th>
                <th>Directorate:</th>
                <th>Team:</th>
                <th>Job Title</th>
                <th>Gender</th>
                <th>Ethnicity</th>
                <th>DoB</th>
                <th>Salary</th>
                <th>Grade</th>
                <th>Issued</th>
                <th>Statement</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="10" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("SearchRemuneration", "Reports")' + queryString;//+ "?searchText=" + $('#txtSearchText').val();
        $("#webgrid").load(requestUrl);
    }

    (function () {
        $("#webgrid a").on('click', function (event) {
            loadGridEvents(event, this);
        });
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
    })();

    var typingPageTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example

    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var requestUrl = '@Url.Action("SearchRemuneration", "Reports", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtPageNo").val() + '&fromDate=' + $("#fromDate").val() + '&toDate=' + $("#toDate").val() + '&directorate=' + $(".ddldirectorate").val() + '&team=' + $(".ddlteam").val() + '&employeeType=' + $("#ddlemployeeType").val() + '&txtSearchText=' + $("#txtSearchText").val();
        $("#webgrid").load(requestUrl);
    }

</script>
