﻿@model BHGHRModuleWeb.ViewModels.SicknessGridViewModel
@{
    
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize);
    grid.Bind(Model.sicknessList.sicknessList, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
}

@if (Model.sicknessList.sicknessList != null && Model.sicknessList.sicknessList.Count > 0)
{
    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
            grid.Column(columnName: "fullName", header: "Name:", style: "max-width-25"),
            grid.Column(columnName: "directorate", header: "Directorate:", style: "max-width-25"),
            grid.Column(columnName: "team", header: "Team:", style: "max-width-25"),
            grid.Column(columnName: "reason", header: "Reason:", style: "max-width-25"),
            grid.Column(columnName: "startDate", header: "Start:", style: "max-width-25"),
            grid.Column(columnName: "anticipatedReturnDate", header: "Anticipated Return:", style: "max-width-25"),
            grid.Column(columnName: "lastDateOfAbsence", header: "Last Date Of Absence:", style: "max-width-25"),
            grid.Column(columnName: "actualReturnDate", header: "Actual Return Date:", style: "max-width-25"),
            grid.Column(columnName: "durationString", header: "Duration:", style: "max-width-20"),
            grid.Column(columnName: "returnNotes", header: "Return Details:", style: "max-width-20"),
            grid.Column(header: "", style: "max-width-20 td-padding-right-0", format:@<text>
                <input class="pull-right edit-arrow" type="button" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, redirectTab = "mnuAbsence" })'">
            </text>)
    ))

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div id="gridPager" class="space-box col-md-8">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
            </div>
            <div id="" class="col-md-1">
                <div class="row">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Name:</th>
                <th>Directorate:</th>
                <th>Team:</th>
                <th>Reason</th>
                <th>Start:</th>
                <th>Anticipated Return:</th>
                <th>Actual Return Date:</th>
                <th>Last Date Of Absence:</th>
                <th>Duration:</th>
                <th>Return Details:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="8" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("SearchSickness", "Reports")' + queryString;//+ "?searchText=" + $('#txtSearchText').val();
        $("#webgrid").load(requestUrl);
    }

    (function () {
        $("#webgrid a").on('click', function (event) {
            loadGridEvents(event, this);
        });
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
    })();


    var typingPageTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example
    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var isLongTerm = false;
        if ($('#isLongTerm').is(':checked')) {
            isLongTerm = true;
        }
        else {
            isLongTerm = false;
        }
        var requestUrl = '@Url.Action("SearchSickness", "Reports", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtPageNo").val() + '&fromDate=' + $("#fromDate").val() + '&toDate=' + $("#toDate").val() + '&directorate=' + $(".ddldirectorate").val() + '&team=' + $(".ddlteam").val() + '&isLongTerm=' + isLongTerm.toString() + '&employeeType=' + $("#ddlemployeeType").val() + '&reasonId=' + $("#ddlReason").val() + '&txtSearchText=' + $("#txtSearchText").val();
        $("#webgrid").load(requestUrl);
    }

</script>