﻿
@model BHGHRModuleWeb.ViewModels.RemunerationDocumentViewModel

@{
    ViewBag.Title = "ReportsMaster";
    Layout = null;
}


<html lang="en">
<head>
   <style>

       table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

   </style>
</head>
<body>
    <div class="container">
        <p><strong>Dear @Model.fullName</strong></p>
        <div class="row">
        
        <p>Detailed below is your total remuneration package effective as at 1 April @Model.fiscalStart.<span style="margin-left:423px">@ViewBag.Date</span></p> 
            </div>
        <table>
            <thead>
                <tr>
                    <th>Benefit</th>
                    <th>Detail</th>
                    <th>Cost to BHA per annum</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Annual Salary</td>
                    <td>As at 01 April @Model.fiscalStart</td>
                    <td>£@Model.salary</td>
                </tr>
                <tr>
                    <td>Employer Pension Contributions</td>
                    <td>Based on salary % per annum @Model.fiscalStart/@Model.fiscalEnd incl Auto-enrolment</td>
                    <td>£@Model.employerContribution</td>
                </tr>
                <tr>
                    <td>Permanent Health Insurance</td>
                    <td>75% of salary less ESA after 52 weeks’ continuous illness</td>
                    <td>£@Model.phi</td>
                </tr>
                <tr>
                    <td>AXA PPP Private Health Care Membership</td>
                    <td>Single cover for @Model.fiscalStart/@Model.fiscalEnd</td>
                    <td>£@Model.phcm</td>
                </tr>
                <tr>
                    <td>Life Assurance</td>
                    <td> x salary cover in the event of death (part of pension where zero)</td>
                    <td>@Model.lifeAssurance</td>
                </tr>
                <tr>
                    <td>ECU Status/ Company Car/ Car Insurance</td>
                    <td>For 01 April @Model.fiscalStart – 31 March @Model.fiscalEnd</td>
                    <td>£@Model.carAllowance</td>
                </tr>
                <tr>
                    <td>Car Parking Facilities</td>
                    <td>Based on cost of parking from our contract for one space for 01 April @Model.fiscalStart – 31 March @Model.fiscalEnd</td>
                    <td>£@Model.carParkingFacilities</td>
                </tr>
                <tr>
                    <td>Eye Care Assistance</td>
                    <td>Assistance towards Optician appointment and any glasses @Model.fiscalStart /@Model.fiscalEnd</td>
                    <td>£@Model.eyeCareAssistance</td>
                </tr>                
                <tr>
                    <td>Employee Assistance Programme</td>
                    <td>Free support and advice service@Model.fiscalStart /@Model.fiscalEnd</td>
                    <td>£@Model.employeeAssistanceProgramme</td>
                </tr>
                <tr>
                    <td>Enhanced Holiday Entitlement</td>
                    <td>Amount above statutory entitlement of 20 days for @Model.fiscalStart /@Model.fiscalEnd</td>
                    <td>£@Model.enhancedHolidayEntitlement</td>
                </tr>
                <tr>
                    <td>Enhanced Sick Pay</td>
                    <td>The value above statutory sick pay received in @Model.fiscalStart /@Model.fiscalEnd</td>
                    <td>£@Model.enhancedSickPay</td>
                </tr>
                <tr>
                    <td>Enhanced Maternity/Paternity Payments</td>
                    <td>Amount received between 1 April @Model.fiscalStart -31 March @Model.fiscalEnd</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>Learning and Development</td>
                    <td>Based on courses & conferences attended in @Model.fiscalStart/@Model.fiscalEnd</td>
                    <td>£@Model.learningAndDevelopment</td>
                </tr>
                <tr>
                    <td>Professional Subscriptions</td>
                    <td>Both Individual and Corporate Subscriptions paid in @Model.fiscalStart/@Model.fiscalEnd</td>
                    <td>£@Model.professionalSubscriptions</td>
                </tr>
                <tr>
                    <td>Childcare Vouchers</td>
                    <td>Based on administration cost paid by the organisation @Model.fiscalStart/@Model.fiscalEnd</td>
                    <td>£@Model.childcareVouchers</td>
                </tr>
                <tr>
                    <td>Flu Jabs / Hep B</td>
                    <td>Flu Jabs & Hep B Injections received @Model.fiscalStart/@Model.fiscalEnd</td>
                    <td>£@Model.fluAndHepBJabs</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Total Remuneration Package</strong><br />Excluding enhanced Sick Pay, enhanced Holiday Entitlement andenhanced Maternity/Paternity payments where applicable</td>
                    
                    <td>£@Model.fluAndHepBJabs</td>
                </tr>
            </tbody>
        </table>
        <p>
            We hope that you will be pleasantly surprised by the level of benefits that you receive as
            an employee at Broadland Housing Group. We believe that the salary and benefits
            package is very competitive in line with the organisation’s commitment to offering a fair
            deal and supports health and wellbeing; covering a variety of benefits that are useful to all
            people across the organisation.
            For further details of the above listed benefits, please refer to a copy of the ‘About My
            Remuneration’ document on RSL Document Manager> Corporate Information> HR
            Information> Pay and Reward> About My Remuneration. Benefits that are available to you
            are as stated in your contract and your terms and conditions of employment.
            If you have any queries regarding your statement or the benefits, please contact a member
            of the HR Team.
        </p>
    </div>

</body>
</html>
