﻿@model BHGHRModuleWeb.ViewModels.ReportsCriteriaViewModel

@{
    ViewBag.Title = "ReportsMaster";
    var isDisabled = "false";
    if (Session["__Report__"] != null && (Session["__Report__"].ToString() == "DeclarationOfInterests" || Session["__Report__"].ToString() == "GroupTraining"))
    {
        isDisabled = "true";
    }
}
<div class="col-md-12 alert alert-success" id="message" style="display:none">
    <strong id="msgResponse"></strong>
</div>

<div class="row padding-bottom">
    <div class="col-md-2">
        @Html.Label("Select Report:")
    </div>
    <div class="col-md-3">
        @Html.DropDownListFor(m => m.reportId, new SelectList(Model.reports, "Value", "Text"), "Please Select", new { @class = "form-control", id = "reportType" })
    </div>
</div>

<div id="detailsDiv">

</div>

@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
    var isDisabled = '';

    jQuery.ajaxSetup({
        beforeSend: function () {
            $('#loader').show();
        },
        complete: function () {
            $('#loader').hide();
        },
        success: function () { }
    });
    $("#reportType").change(function () {
        var report = this.value;
        var pageUrl = '?report=' + report;
        window.history.pushState('', '', pageUrl);

        var url = '';
        if (report == "Establishment") {
            url = '@Url.Action("EstablishmentReport", "Reports" )';
        } else if (report == "Sickness") {
            url = '@Url.Action("SicknessReport", "Reports" )';
        } else if (report == "Leaver") {
            url = '@Url.Action("LeaverReport", "Reports" )';
        } else if (report == "AnnualLeave") {
            url = '@Url.Action("AnnualLeaveReport", "Reports" )';
        } else if (report == "NewStarter") {
            url = '@Url.Action("NewStarterReport", "Reports" )';
        } else if (report == "PayPoint") {
            url = '@Url.Action("PayPointReport", "Reports" )';
        }
        else if (report == "Remuneration") {
            url = '@Url.Action("RemunerationReport", "Reports" )';
        }
        else if (report == "DeclarationOfInterests") {
            url = '@Url.Action("DeclarationOfInterestsReport", "Reports" )';
        }
        else if (report == "Health") {
            url = '@Url.Action("GetHealthReport", "Reports" )';
        }
        else if (report == "GroupTraining") {
            url = '@Url.Action("GetGroupTrainingsReport", "Reports" )';
        }
	else if (report == "Training") {
            url = '@Url.Action("GetMandatoryTrainings", "Reports" )';
        }
        else if (report == "GiftHospitality") {
            url = '@Url.Action("GetGiftsReport", "Reports" )';
        }
        if (url!='')
        {
            $.get(url, function (data) {
                $('#detailsDiv').html(data);
            });
        }
        else
        {
            $('#detailsDiv').html('');
        }
    });

    $(document).ready(function () {
        loadDatePicker();
        isDisabled = @isDisabled;
        $('#reportType').attr('disabled', isDisabled);

        var report = getUrlVars()["report"];
        if (report == "Establishment") {
            // here new code for full time staff
            var url = '@Url.Action("EstablishmentReport", "Reports" )';
            var fullTime = getUrlVars()["fullTime"];
            if (fullTime != "" && fullTime != "undefine") {
                url = url + "?fullTime=" + fullTime + "&employeeType=Current";
            }
            var directorate = getUrlVars()["directorate"];
            if (directorate != "" && directorate != "undefine") {
                url = url + "&directorate=" + directorate;
            }
            $.get(url, function (data) {
                $('#detailsDiv').html(data);
            });
            $("#reportType").val(report);
        } else if (report == "Sickness") {
            var url = '@Url.Action("SicknessReport", "Reports" )';
            var directorate = getUrlVars()["directorate"];
            if (directorate != "" && directorate != "undefine") {
                url = url + "?directorate=" + directorate;
            }

            $.get(url, function (data) {
                $('#detailsDiv').html(data);
            });
            $("#reportType").val(report);
        } else if (report == "Leaver") {
            $.get('@Url.Action("LeaverReport", "Reports" )', function (data) {
                $('#detailsDiv').html(data);
            });
            $("#reportType").val(report);
        } else if (report == "AnnualLeave") {
            var url = '@Url.Action("AnnualLeaveReport", "Reports" )';
            var directorate = getUrlVars()["directorate"];
            if (directorate != "" && directorate != "undefine") {
                url = url + "?directorate=" + directorate;
            }
            $.get(url, function (data) {
                $('#detailsDiv').html(data);
            });
            $("#reportType").val(report);
        } else if (report == "NewStarter") {
            var url = '@Url.Action("NewStarterReport", "Reports" )';
            var directorate = getUrlVars()["directorate"];
            if (directorate != "" && directorate != "undefine") {
                url = url + "?directorate=" + directorate;
            }

            $.get(url, function (data) {
                $('#detailsDiv').html(data);
            });
            $("#reportType").val(report);
        } else if (report == "PayPoint") {
            var url = '@Url.Action("PayPointReport", "Reports" )';
            var teamId = getUrlVars()["teamId"];
            if (teamId != "" && teamId != "undefine") {
                url = url + "?teamId=" + teamId;
            }

            $.get(url, function (data) {
                $('#detailsDiv').html(data);
            });
            $("#reportType").val(report);
        }
        else if (report == "Remuneration") {
            $.get('@Url.Action("RemunerationReport", "Reports" )', function (data) {


                $('#detailsDiv').html(data);
            });
            $("#reportType").val(report);
        }
        else if (report == "Training") {
            var teamId = getUrlVars()["teamId"];
            var url = '@Url.Action("GetMandatoryTrainings", "Reports" )';
            if (teamId != "" && teamId != null) {
                url = url + "?teamId=" + teamId;
            }
            $.get(url, function (data) {
                $('#detailsDiv').html(data);
            });
            $("#reportType").val(report);
        } else if (report == "Health") {
            var teamId = getUrlVars()["teamId"];
            var url = '@Url.Action("GetHealthReport", "Reports" )';
            if (teamId != "" && teamId != "undefine") {
                url = url + "?teamId=" + teamId;
            }
            $.get(url, function (data) {
                $('#detailsDiv').html(data);
            });
        } else if (report == "DeclarationOfInterests") {
            $.get('@Url.Action("DeclarationOfInterestsReport", "Reports" )', function (data) {
                $('#detailsDiv').html(data);
            });
            $("#reportType").val(report);
        } else if (report == "GroupTraining") {

            var hr = getUrlVars()["HR"];
            var director = getUrlVars()["Director"];
            var groupTrainingUrl = '@Url.Action("GetGroupTrainingsReport", "Reports" )';
            if (director == "true") {
                groupTrainingUrl = groupTrainingUrl + "?Director=" + director;
            }

            if (hr == "true") {
                groupTrainingUrl = groupTrainingUrl + "?HR=" + hr;
            }
            $.get(groupTrainingUrl, function (data) {
                $('#detailsDiv').html(data);
            });
            $("#reportType").val(report);
        }
        else if (report == "GiftHospitality") {
            $.get('@Url.Action("GetGiftsReport", "Reports" )', function (data) {
                $('#detailsDiv').html(data);
            });
            $("#reportType").val(report);
        }

    });

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');

        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }


        return vars;

    }
    function DateValidations() {
        var startDt = document.getElementById("fromDate").value;
        var endDt = document.getElementById("toDate").value;
        if ((startDt != "" && endDt == "") || (startDt == "" && endDt != ""))
        {

            popupMessage('message', 'msgResponse', 'Please Select both From Date and To Date', 'failure');
            return false;
        }
         var startDt = startDt.split("/").reverse().join("/");
         var endDt = endDt.split("/").reverse().join("/");
         if (new Date(startDt).getTime() > new Date(endDt).getTime()) {
             popupMessage('message', 'msgResponse', 'From Date should be less than to To Date', 'failure');
             return false;
        }
         return true;
    }
    function popupMessage(outerElement, element, msg, type) {
        $(window).scrollTop(0);
        if (type == "success") {

            $("#" + outerElement).removeClass('alert-danger');
            $("#" + outerElement).addClass('alert-success');
        }
        else if ("failure") {
            $("#" + outerElement).removeClass('alert-success');
            $("#" + outerElement).addClass('alert-danger');
        }

        $("#" + element).html(msg)
        $("#" + outerElement).show().delay(5000).fadeOut();
        window.scrollTo(0, 0);
    }
</script>