﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.AmendCaseForm

<style>
    td {
        padding: 5px 0 5px 0;
    }

    .top {
        vertical-align: top;
    }
</style>
<div class="col-xs-12 no-padding-sides" id="CaseDetailsDiv"> 
    <table class="col-xs-12">
        <tbody>
            <tr>
                <td>
                    <text>ASB Case Ref:</text>
                </td>
                <td>
                    <text>@Model.CaseId</text>
                   @Html.TextAreaFor(c => c.CaseId, new { @class = "Textarea", @hidden="hidden" })
                </td>
            </tr>
            <tr>
                <td>
                    <text>Date Reocorded:</text>
                </td>
                <td>
                    <text>@Model.DateRecorded</text>
                </td>
            </tr>
            <tr>
                <td>
                    <text>Date Reported:</text>
                </td>

                <td>@Model.DateReported</td>

            </tr>
            <tr>
                <td>
                    <text>Date of Incident:</text>
                </td>
                <td>@Model.DateOfIncident</td>
            </tr>
            <tr>
                <td>
                    <text>Time of Incident:</text>
                </td>
                <td>
                    @Model.TimeOfIncident
                </td>
            </tr>
            <tr>
                <td>
                    <text>Case Officer<span class="required">*</span>:</text>
                </td>
                <td>
                    @Html.DropDownListFor(
                        c => c.SelectedCaseOfficerId,
                        new SelectList(Model._CaseOfficers, "key", "value"),
                    "Please select", new { @class = "dropdown-new-case" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model._CaseOfficers, "", new { @style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    <text>Case Officer 2:</text>
                </td>
                <td>
                    @Html.DropDownListFor(
                        c => c.SelectedCaseOfficerTwoId,
                        new SelectList(Model._CaseOfficersTwo, "key", "value"),
                    "Please select", new { @class = "dropdown-new-case" })
                </td>
            </tr>
            <tr>
                <td>
                    <text>Vulnerability<span class="required">*</span>:</text>
                </td>
                <td>
                    @Html.DropDownListFor(
                        c => c.SelectedCategoryId,
                        new SelectList(Model._Categories, "key", "value"),
                    "Please select", new { @class = "dropdown-new-case" })
                </td>
            </tr>
            <tr>

                <td>

                    <text>Stage<span class="required">*</span>:</text>
                </td>
                <td>
                    @Html.DropDownListFor(
                        c => c.SelectedStageId,
                        new SelectList(Model._Stages, "key", "value"),
                    "Please Select", new { @class = "dropdown-new-case", @onchange = "FillCategory()" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model._Stages)
                </td>
            </tr>
            <tr>
                <td>
                    <text>Sub Category:</text>
                </td>
                <td>
                    @if (Model.SelectedSubCategoryId == null || Model.SelectedSubCategoryId == 0)
                    {
                        @Html.DropDownListFor(
                                 c => c.SelectedSubCategoryId,
                                 new SelectList(Enumerable.Empty<SelectListItem>(), "key", "value"),
                             "Please Select", new { @class = "dropdown-new-case", @onchange = "FillType()" })
                    }
                    else
                    {
                        @Html.DropDownListFor(
                                 c => c.SelectedSubCategoryId,
                                 new SelectList(Model._SubCategories, "key", "value"),
                             "Please Select", new { @class = "dropdown-new-case", @onchange = "FillType()" })
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <text>Type:</text>
                </td>
                <td>
                    @if (Model.SelectedSubCategoryId == null || Model.SelectedSubCategoryId == 0)
                    {
                        @Html.DropDownListFor(
                                 c => c.SelectedTypeId,
                                 new SelectList(Enumerable.Empty<SelectListItem>(), "key", "value"),
                             "Please Select", new { @class = "dropdown-new-case", @onchange = "FillSubType()" })
                    }
                    else
                    {
                        @Html.DropDownListFor(
                                 c => c.SelectedTypeId,
                                 new SelectList(Model._Types, "key", "value"),
                             "Please Select", new { @class = "dropdown-new-case", @onchange = "FillSubType()" })
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <text>Sub Type:</text>
                </td>
                <td>
                    @if (Model.SelectedSubCategoryId == null || Model.SelectedSubCategoryId == 0)
                    {
                        @Html.DropDownListFor(
                                 c => c.SelectedSubTypeId,
                                 new SelectList(Enumerable.Empty<SelectListItem>(), "key", "value"),
                             "Please Select", new { @class = "dropdown-new-case" })
                    }
                    else
                    {
                        @Html.DropDownListFor(
                                 c => c.SelectedSubTypeId,
                                 new SelectList(Model._SubTypes, "key", "value"),
                             "Please Select", new { @class = "dropdown-new-case" })
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model._Categories)
                </td>
            </tr>
            <tr>
                <td>
                    <text>Incident<span class="required">*</span>:</text>
                </td>
                <td>
                    @Html.DropDownListFor(
                        c => c.SelectedIncidentTypeId,
                        new SelectList(Model._TypeOfIncident, "key", "value"),
                    "Please Select", new { @class = "dropdown-new-case" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model._TypeOfIncident)
                </td>
            </tr>
            <tr>
                <td>
                    <text>Risk Level@*<span class="required">*</span>*@:</text>
                </td>
                <td>
                    @Html.DropDownListFor(
                        c => c.SelectedRiskLevelId,
                        new SelectList(Model._LevelOfRisks, "key", "value"),
                    "Please select", new { @class = "dropdown-new-case" })
                </td>
            </tr>
            <tr>
                <td class="top">
                    <text>Incident Description<span class="required">*</span>:</text>
                </td>
                <td>
                    @Html.TextAreaFor(c => c.IncidentDescription, new { @class = "Textarea" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.IncidentDescription)
                </td>
            </tr>
            <tr>
                <td>
                    <text>Police Notified?<span class="required">*</span>:</text>
                </td>
                <td>
                    @Html.DropDownListFor(
                            c => c.SelectedPoliceNotifyId,
                            new SelectList(Model.IsPoliceNotified, "key", "value"),
                        "Please select", new { @class = "dropdown-new-case" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.IsPoliceNotified)
                </td>
            </tr>
            <tr>
                <td>
                    <text>Crime Case Number:</text>
                </td>
                <td>
                    @Model.CrimeCaseNo
                </td>
            </tr>
            <tr>
                <td>
                    <text>Next Action:</text>
                </td>
                <td>
                    @Model.NextFollowUpDate
                </td>
            </tr>
            <tr>
                <td class="top">
                    <text>Action Notes<span class="required">*</span>:</text>
                </td>
                <td>
                    @Html.TextAreaFor(c => c.NextFollowUpNote, new { @class = "Textarea" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.NextFollowUpNote)
                </td>
            </tr>
            <tr>
                <td>
                    <text>Review Date:</text>
                </td>
                <td>
                    @if (!Model.ReviewDate.IsEmpty())
                    {
                        @Model.ReviewDate
                    }
                    else
                    {
                        <text>N/A</text>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <text>Case Closed:</text>
                </td>
                <td>
                    @if (!Model.CaseClosed.IsEmpty())
                    {
                        @Model.CaseClosed
                    }
                    else
                    {
                        <text>N/A</text>
                    }
                </td>
            </tr>
            <tr>
                <td class="top">
                    <text>Resolution Notes:</text>
                </td>
                <td>
                    @if (!Model.ResolutionNotes.IsEmpty())
                    {
                        @Html.TextAreaFor(c => c.ResolutionNotes, new { @class = "Textarea readonly", @readonly = "readonly" })
                    }
                    else
                    {
                        <text>N/A</text>
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="pull-right"><input type="submit" value="Update" class="button-default" id="UpdateCaseDetails" /></td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    
        function FillCategory() {
            var stageId = $("#SelectedStageId").val();
            $.ajax({
                url: '@Url.Action("Categories")',
                data: { stage: stageId },
                type: "GET",

                success: function (data) {

                    $("#SelectedSubCategoryId").html("");
                    $("#SelectedSubCategoryId").append(
                        $('<option></option>').html("Please Select"));
                    $("#SelectedTypeId").html("");
                    $("#SelectedTypeId").append(
                        $('<option></option>').html("Please Select"));
                    $("#SelectedSubTypeId").html("");
                    $("#SelectedSubTypeId").append(
                        $('<option></option>').html("Please Select"));

                    $.each(data, function (key, values) {
                        $("#SelectedSubCategoryId").append(
                        $('<option></option>').val(values.key).html(values.value));
                    });
                }

            });
        }

        function FillType() {

            var subcategoryId = $("#SelectedSubCategoryId").val();
            $.ajax({
                url: '@Url.Action("Types")',
                data: { subcategory: subcategoryId },
                type: "GET",

                success: function (data) {
                    $("#SelectedTypeId").html("");
                    $("#SelectedTypeId").append(
                        $('<option></option>').html("Please Select"));
                    $("#SelectedSubTypeId").html("");
                    $("#SelectedSubTypeId").append(
                        $('<option></option>').html("Please Select"));

                    $.each(data, function (key, values) {
                        $("#SelectedTypeId").append(
                        $('<option></option>').val(values.key).html(values.value));
                    });
                }

            });
        }

        function FillSubType() {

            var typesId = $("#SelectedTypeId").val();
            $.ajax({
                url: '@Url.Action("SubTypes")',
                data: { types: typesId },
                type: "GET",

                success: function (data) {
                    $("#SelectedSubTypeId").html("");
                    $("#SelectedSubTypeId").append(
                        $('<option></option>').html("Please Select"));

                    $.each(data, function (key, values) {
                        $("#SelectedSubTypeId").append(
                        $('<option></option>').val(values.key).html(values.value));
                    });

                }

            });
        }
    
</script>
