﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.CaseActionsViewModel

@{
    int case_id = Model.ActionsList[0].CaseId;
    string func = Model.Paging.FunctionName;
    string DateFormat = ViewBag.DefDateFormatForModel;
}
<div id="JournalDiv" class="col-xs-12 no-padding-sides ActionTable">
    <table class="col-xs-12" id="tblOpenCases">
        <thead>
            <tr>
                <th class="col-xs-1">
                    <div class="col-xs-3" style="padding-left:10px"></div>
                    <div class="col-xs-10">&nbsp;&nbsp;Date:</div>
                </th>
                <th class="col-xs-2 no-padding-left">Stage:</th>
                <th class="col-xs-2 no-padding-left">Sub Category:</th>
                <th class="col-xs-3 no-padding-left">Notes:</th>
                <th class="col-xs-1 no-padding-left">Review:</th>
                <th class="col-xs-2">By:</th>
                <th class="col-xs-1 no-padding-left"></th>
            </tr>
        </thead>
        <tbody>
            @{ int count = 1;}
            @{ string strid = "imageId";}
            @{ string expandnotesid = "expandnotesId";}
            @{ string collapsenotesid = "collapsenotesId";}
            @foreach (var actionItem in Model.ActionsList)
            {
                var imageid = strid + count.ToString();
                var exparaId = expandnotesid + count.ToString();
                var coparaId = collapsenotesid + count.ToString(); count++;
                <tr style="height:30px;">
                    <td class="col-xs-2">
                        <div><img src="~/Images/plus.gif" id=@imageid style="cursor:pointer !important; padding-right:10px;" onclick="expand(this.id, @count-1);"/>@actionItem.RecordedDate</div>
                    </td>
                    <td class="col-xs-2 no-padding-left">@actionItem.stage</td>
                    <td class="col-xs-2 no-padding-left"><p>@actionItem.SubCategory</p> </td>
                    <td class="col-xs-3 no-padding-left"><p id=@coparaId>@if (@actionItem.ActionNotes.Length > 66)
                    {@actionItem.ActionNotes.Substring(0, 65) }
                    else { @actionItem.ActionNotes}</p><p id=@exparaId hidden="hidden">@actionItem.ActionNotes</p> </td>
                    <td class="col-xs-1 no-padding-left"><p>@actionItem.ReviewDate</p> </td>
                    <td class="col-xs-2">@actionItem.RecordedBy</td>
                    @if (actionItem.Action.Contains("Document"))
                    {
                        <td>
                            <img src="~/Images/document-icon.png" id="attachmentavailable" style="cursor:pointer !important" />
                            <input type="hidden" data-name="@actionItem.FileName" data-type="Document" />
                        </td>
                    }
                    else if (actionItem.Action.Contains("Photograph"))
                    {
                        <td>
                            <img src="~/Images/photograph-icon.png" id="attachmentavailable" style="cursor:pointer !important">
                            <input type="hidden" data-name="@actionItem.FileName" data-type="Photograph" />
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div style="margin-top:10px !important" class="col-lg-3">
        
    </div>
    <div style="margin-top:10px !important"class="col-lg-6">
        @{Html.RenderPartial("~/Views/Shared/_PartialPager.cshtml", Model.Paging);}
    </div>
    <div style="margin-top:10px !important"class="col-lg-3">
        
    </div>

    <div id="FileErrorDialog" role="dialog" class="modal">

    </div>

</div>

<script type="text/javascript">
    function On@(func)PageNumberClick(pgNum, pgSize)
    {
        var PAGE_URL = '@Url.Action("GetJournals", "Cases")';
        $.ajax({
            url: PAGE_URL,
            dataType:'html',
            data: {
                pIntCaseId:@case_id,
                pIntPgeNum:pgNum,
                pIntPgSze:pgSize
            },
            beforeSend: function(){
                //$("#progress-doc").show();
            },
            success: function(data){
                $("#JournalDiv").html(data);
                //$("#progress-doc").hide();
            }
        });
    }
    function expand(notesid, count)
    {
       // console.log(count);
       // console.log($("#collapsenotesId".concat(count)).val());
        
        var path=window.location.pathname.substr(0,window.location.pathname.lastIndexOf('/'));
        if($("#".concat(notesid)).attr("src")==path.concat("/Images/plus.gif"))
        {
           // console.log("test");
            $("#".concat(notesid)).attr("src", path.concat("/Images/minus.gif"));
            $("#collapsenotesId".concat(count)).hide();
            $("#expandnotesId".concat(count)).show();
        }
        else
        {
            $("#".concat(notesid)).attr("src", path.concat("/Images/plus.gif"));
            $("#collapsenotesId".concat(count)).show();
            $("#expandnotesId".concat(count)).hide();
        }
    }

    function UpdateActionsInJournal()
    {
        var PAGE_URL = '@Url.Action("GetJournals", "Cases")';
        var pageNum = @Html.Raw(Json.Encode(Model.Paging.PageNumber));
        var pageSize=@Html.Raw(Json.Encode(Model.Paging.PageSize));
        $.ajax({
            url: PAGE_URL,
            dataType:'html',
            data: {
                pIntCaseId:@case_id,
                pIntPgeNum:pageNum,
                pIntPgSze:pageSize
            },
            beforeSend: function(){
                //$("#progress-doc").show();
            },
            success: function(data){
                $("#JournalDiv").html(data);
                //$("#progress-doc").hide();
            }
        });
    }


    $("td img#attachmentavailable").on('click', function(event){
        event.preventDefault();
        //var filepath = $(this).parents('tr').find('input[type="hidden"]').attr("data-path");
        var filename = encodeURI($(this).parents('tr').find('input[type="hidden"]').attr("data-name"));
        var filetype = $(this).parents('tr').find('input[type="hidden"]').attr("data-type");

        $.ajax({
            url: '@Url.Action("GetFileUrl", "Cases")',
            //contentType: 'application/json; charset=utf-8',
            data: {
                FileName: filename,
                CaseId: @case_id,
                FileType: filetype
            },
            cache: false,
            success: function(data)
            {
                if(data == "" || data == undefined)
                {
                    alert("File has been removed. Please see Case Journal history for more details");
                    return;
                }
                @*var urlText = '@Url.Action("DownloadFile", "Cases",new { FileName= "JSFileName",CaseId="JSCaseId", FileType = "JSFileType"})';
                urlText = urlText.replace("JSFileName",filename);
                urlText = urlText.replace("JSCaseId", @case_id);
                urlText = urlText.replace("JSFileType", filetype);
                urlText = urlText.replace(/&amp;/g, '&');
                window.location = urlText;*@
                //window.location = data;
                window.open(data, '_blank');
            },
            error: function(data)
            {

                alert("File has been removed. Please see Case Journal history for more details");
                //$("#FileErrorDialog").html(data);
                return;
            }
        });
        return false;
    });


</script>
