﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.PersonsViewModel
@{
    int case_id = Model.CaseId;
    int recorded_by = Model.UserId;
    const string COMPLAINANT = "Complainant";
    const string PERPETRATOR = "Perpetrator";
    var ComplainantList = Model.Persons.Where(p => p.PersonRole.Equals(COMPLAINANT)).ToList();
    var PerpetratorsList = Model.Persons.Where(p => p.PersonRole.Equals(PERPETRATOR)).ToList();

    int def_comp_id = ComplainantList[0].PersonId;
    string def_comp_type = ComplainantList[0].PersonType;

    int def_perp_id = PerpetratorsList[0].PersonId;
    string def_perp_type = PerpetratorsList[0].PersonType;
}
<div>
    <ul class="tabs" id="person-tabs-amend">
        <li class="tab-link current" data-tab="tab-complainant-amend">Complainants:</li><li class="tab-link" data-tab="tab-perpetrator-amend">Perpetrators:</li>
    </ul>
    <div id="tab-complainant-amend" class="tab-content current">
        <div id="ComplainantInputContainer">
            <table style="width:100%">
                <tbody>
                    <tr>
                        <td style="text-align:left;">
                            <text>Complainant*:</text>
                        </td>
                        <td>
                            <div style="text-align:justify">
                                <div style="display:inline-block; padding:0 5px 0 0;">
                                    @Html.RadioButton("Complainant", "Tenant", true) Tenant

                                </div>
                                <div style="display:inline-block; padding: 0 5px 0 5px;">
                                    @Html.RadioButton("Complainant", "Non-Tenant", false) Non Tenant
                                </div>
                                <div style="display:inline-block; padding:0 5px 0 5px;">
                                    @Html.RadioButton("Complainant", "BHG", false) BHG
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        @if (ComplainantList.Count == 15)
                        {
                            <td><input type="text" id="AmendComplainantName" class="Textbox-full-width readonly" disabled /></td>
                            <td><input type="button" value="Add" class="button-default width-full" id="BtnAmendAddCmplnt" disabled /></td>
                        }
                        else
                        {
                            <td><input type="text" id="AmendComplainantName" class="Textbox-full-width" /></td>
                            <td><input type="button" value="Add" class="button-default width-full" id="BtnAmendAddCmplnt" /></td>
                        }

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 no-padding-sides" style="margin-top:5px;" id="person-paging-div-amend">
            @for (int i = 0; i < ComplainantList.Count; i++)
            {
                if (i == 0)
                {
                    <a href="javascript:void(0)" class="page active" id=@(i+1) data-number=@ComplainantList[i].PersonId
                       data-ptype=@ComplainantList[i].PersonType data-prole=@ComplainantList[i].PersonRole>@(i + 1)</a>
                }
                else
                {
                    <a href="javascript:void(0)" class="page" id=@(i+1) data-number=@ComplainantList[i].PersonId
                       data-ptype=@ComplainantList[i].PersonType data-prole=@ComplainantList[i].PersonRole>@(i + 1)</a>
                }
            }
        </div>
        <div style="margin-top:5px;" id="amendcomplainantdetail">
            @Html.Action("PersonDetail", "Cases", new { pId = def_comp_id, pType = def_comp_type })
        </div>
        <div style="text-align:right; margin-top:10px;" id="CompButtonsDiv">
            @if (ComplainantList.Count != 1)
            {
                <input type="button" value="Remove From Case" class="button-default" id="BtnAmendRemoveComplainant" />
            }
            else
            {
                <input type="button" value="Remove From Case" class="button-default" disabled id="BtnAmendRemoveComplainant" />
            }
            <input type="button" value="Update" class="button-default" id="UpdateComplainantInfo" />
        </div>
    </div>
    <div id="tab-perpetrator-amend" class="tab-content">
        <div id="PerpetratorInputContainer">
            <table style="width:100%">
                <tbody>
                    <tr>
                        <td style="text-align:left;">
                            <text>Perpetrator*:</text>
                        </td>
                        <td>
                            <div style="text-align:justify">
                                <div style="display:inline-block; padding:0 5px 0 0;">
                                    @Html.RadioButton("Perpetrator", "Tenant", true) Tenant

                                </div>
                                <div style="display:inline-block; padding: 0 5px 0 5px;">
                                    @Html.RadioButton("Perpetrator", "Non-Tenant", false) Non Tenant
                                </div>
                                <div style="display:inline-block; padding:0 5px 0 5px;">
                                    @Html.RadioButton("Perpetrator", "BHG", false) BHG
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        @if (PerpetratorsList.Count == 15)
                        {
                            <td><input type="text" id="AmendPerpetratorName" class="Textbox-full-width readonly" disabled /></td>
                            <td><input type="button" value="Add" class="button-default width-full" id="BtnAmendAddPerp" disabled /></td>
                        }
                        else
                        {
                            <td><input type="text" id="AmendPerpetratorName" class="Textbox-full-width" /></td>
                            <td><input type="button" value="Add" class="button-default width-full" id="BtnAmendAddPerp" /></td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 no-padding-sides" style="margin-top:5px;" id="person-paging-perp-div-amend">
            @for (int i = 0; i < PerpetratorsList.Count; i++)
            {
                if (i == 0)
                {
            <a href="javascript:void(0)" class="page active" id=@(i+1) data-number=@PerpetratorsList[i].PersonId
               data-ptype=@PerpetratorsList[i].PersonType data-prole=@PerpetratorsList[i].PersonRole>@(i + 1)</a>
                }
                else
                {
            <a href="javascript:void(0)" class="page" id=@(i+1) data-number=@PerpetratorsList[i].PersonId
               data-ptype=@PerpetratorsList[i].PersonType data-prole=@PerpetratorsList[i].PersonRole>@(i + 1)</a>
                }
            }
        </div>
        <div style="margin-top:5px;" id="amendperpetratordetail">
            @Html.Action("PersonDetail", "Cases", new { pId = def_perp_id, pType = def_perp_type })
        </div>
        <div style="text-align:right; margin-top:10px;" id="PerpButtonsDiv">
            @if (PerpetratorsList.Count != 1)
            {
                <input type="button" value="Remove From Case" class="button-default" id="BtnAmendRemovePerpetrator" />
            }
            else
            {
                <input type="button" value="Remove From Case" class="button-default" disabled id="BtnAmendRemovePerpetrator" />
            }
            <input type="button" value="Update" class="button-default" id="UpdatePerpetratorInfo" />
        </div>
    </div>
    <div id="prevCasesDialog" role="dialog" class="modal" data-keyboard="false" data-backdrop="static">
    </div>
    <div style="display:none; height:50%;" id="progress-add-person">
        <img src='@Url.Content("~/Images/progress.gif")' />
    </div>
    <div id="PersonWarningDialog" role="dialog" class="modal">
    </div>
</div>

<script>
    var cmpid; // Will be used when Complainant is added as Customer
    var cmptype;
    var perpid;
    var perptype;
    $('#person-tabs-amend li').on('click', function () {
        var tab_id = $(this).attr('data-tab');
        $('#person-tabs-amend li').removeClass('current');
        if (tab_id == 'tab-complainant-amend') {
            $('#tab-perpetrator-amend').removeClass('current');
        } else {
            $('#tab-complainant-amend').removeClass('current');
        }
        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
    });
    // Autocomplete Text when user start typing
    $("#AmendComplainantName").autocomplete({
        source: function (request, response) {
            var fltr = $("input[name=Complainant]:checked").val();
            if (fltr === "Non-Tenant") {
                fltr = "NonTenant";
            }
            $.ajax({
                url: '@Url.Action("SearchPerson","Cases")',
                type: "POST",
                cache: false,
                dataType: "json",
                data: {
                    input: request.term,
                    filter: fltr
                },
                success: function (data) {
                    var a = $.map(data, function (item) {
                        return {
                            label: item.PersonName + " " + item.Address1,
                            value: item.PersonName,
                            data: item
                        };
                    });
                    response(a);
                }
            });
        },
        minLength: 2,
        select: function (event, ui) {
            var _personId = ui.item.data.PersonId;
            var _personType = ui.item.data.personType;
            //if _personType is Employee, Auto populate details
            if (_personType === 'Employee') {
                //Check if person is already added in the list
                if(!IsPersonAlreadyExist(_personId, _personType)){
                    AddPersonInCase(_personId, _personType, '@COMPLAINANT', @case_id, @recorded_by)
                }
                else {
                    $("#AmendComplainantName").val("");
                    cmpid = null;
                    cmptype =  null;
                    alert('Thsi person is already added in the list');
                }
            }
            else{
                cmpid = _personId;
                cmptype =  _personType;
            }
        }
    });
    $("#AmendPerpetratorName").autocomplete({
        source: function (request, response) {
            var fltr = $("input[name=Perpetrator]:checked").val();
            if (fltr === "Non-Tenant") {
                fltr = "NonTenant";
            }
            $.ajax({
                url: '@Url.Action("SearchPerson","Cases")',
                type: "POST",
                cache:false,
                dataType: "json",
                data: {
                    input: request.term,
                    filter: fltr
                },
                success: function (data) {
                    var a = $.map(data, function (item) {
                        return {
                            label: item.PersonName + " " + item.Address1,
                            value: item.PersonName,
                            data: item
                        };
                    });
                    response(a);
                }
            });
        },
        minLength: 2,
        select: function (event, ui) {
            var _personId = ui.item.data.PersonId;
            var _personType = ui.item.data.personType;
            if (_personType === 'Employee') {
                if(!IsPersonAlreadyExist(_personId, _personType)){
                    AddPersonInCase(_personId, _personType, '@PERPETRATOR', @case_id, @recorded_by);
                } else {
                    $("#AmendPerpetratorName").val("");
                    perpid = null;
                    perptype = null;
                    alert('This person is already added in the list');
                }
            }
            else{
                perpid = _personId;
                perptype = _personType;
            }
        }
    });
    $("#person-paging-div-amend").on('click', 'a', function () {
        var anchorid = $(this).attr("id");
        var id = parseInt($("#person-paging-div-amend > a#" + anchorid).attr("data-number"));
        var type = $("#person-paging-div-amend > a#" + anchorid).attr("data-ptype");
        PopulatePersonDetails(id, type, '@COMPLAINANT', false);
        $("#person-paging-div-amend > a").removeClass("active");
        $(this).addClass("active");
    });

    $("#person-paging-perp-div-amend").on('click', 'a', function () {
        var anchorid = $(this).attr("id");
        var id = parseInt($("#person-paging-perp-div-amend > a#" + anchorid).attr("data-number"));
        var type = $("#person-paging-perp-div-amend > a#" + anchorid).attr("data-ptype");
        PopulatePersonDetails(id, type, '@PERPETRATOR', false);
        $("#person-paging-perp-div-amend > a").removeClass("active");
        $(this).addClass("active");
    });

    $("#BtnAmendRemovePerpetrator").on('click', function(event){
        event.preventDefault();
        var id =  parseInt($('#person-paging-perp-div-amend > a.active').attr("id"));
        var personid = parseInt($('#person-paging-perp-div-amend > a#'+id).attr("data-number"));
        var type = $('#person-paging-perp-div-amend > a#'+id).attr("data-ptype");
        var role=  $('#person-paging-perp-div-amend > a#'+id).attr("data-prole");

        var URL = '@Url.Action("ShowWarningDialog", "Cases")';
        $.ajax({
            url: URL,
            dataType: 'html',
            cache:false,
            data: {context:'Complainant'},
            success: function (data) {
                $("#PersonWarningDialog").html(data);
                $("#PersonWarningDialog").modal();
            }
        });
        $(document).off('click',"#BtnYes").on('click',"#BtnYes" ,function (event) {
            event.preventDefault();
            $("#PersonWarningDialog").modal('hide');
            RemovePersonFromCase(personid, type, role, @case_id, @recorded_by);
        });
        $(document).on('click','#BtnNo' ,function () {
            $("#PersonWarningDialog").modal('hide');
        });
    });

    $("#BtnAmendRemoveComplainant").on('click', function(event){
        event.preventDefault();
        var id =  parseInt($('#person-paging-div-amend > a.active').attr("id"));
        var personid = parseInt($('#person-paging-div-amend > a#'+id).attr("data-number"));
        var type = $('#person-paging-div-amend > a#'+id).attr("data-ptype");
        var role=  $('#person-paging-div-amend > a#'+id).attr("data-prole");

        var URL = '@Url.Action("ShowWarningDialog", "Cases")';
        $.ajax({
            url: URL,
            dataType: 'html',
            cache: false,
            data: {context:'Complainant'},
            success: function (data) {
                $("#PersonWarningDialog").html(data);
                $("#PersonWarningDialog").modal();
            }
        });
        $(document).off('click',"#BtnYes").on('click',"#BtnYes" ,function (event) {
            event.preventDefault();
            $("#PersonWarningDialog").modal('hide');
            RemovePersonFromCase(personid, type, role, @case_id, @recorded_by);
        });
        $(document).on('click','#BtnNo' ,function () {
            $("#PersonWarningDialog").modal('hide');
        });
    });

    //$(document).off('click','#BtnAmendAddCmplnt').on('click','#BtnAmendAddCmplnt' ,function () {
    $('#BtnAmendAddCmplnt').on('click' ,function (event) {
        event.preventDefault();
        if ($.trim($('#AmendComplainantName').val()) == '') {
            alert('Complainant is required');
            return;
        } else {
            if (cmpid == null && cmptype == null) {
                var fltr = $("input[name=Complainant]:checked").val();
                if (fltr == "Non-Tenant" && cmpid == null) {
                    $.ajax({
                        url: '@Url.Action("NewPersonForm")',
                        dataType: 'html',
                        cache:false,
                        data: { name: $.trim($('#AmendComplainantName').val()) },
                        success: function (data) {
                            $("#amendcomplainantdetail").html(data);
                            $("#CompButtonsDiv").hide();
                        }
                    });
                } else {
                    alert('Person with this Name does not exist');
                }
            } else {
                if ($("input[name=Complainant]:checked").val() != "BHG") {
                    if (IsPersonAlreadyExist(cmpid, "Customer")) {
                        alert("Already added in the list");
                    } else {
                        HasPersonsPreviousCases(cmpid, "Customer", "Complainant");
                        cmpid = null;
                        cmptype = null;
                        $("#AmendComplainantName").val("");
                    }
                } else {
                    if (IsPersonAlreadyExist(cmpid, "Employee")) {
                        alert("Already added in the list");
                    } else {
                        HasPersonsPreviousCases(cmpid, "Employee", "Complainant");
                        cmpid = null;
                        cmptype = null;
                        $("#AmendComplainantName").val("");
                    }
                }
            }
        }
    });
    //$(document).off('click', '#BtnAmendAddPerp').on('click', '#BtnAmendAddPerp',function () {
    $('#BtnAmendAddPerp').on('click',function (event) {
        event.preventDefault();
        if ($.trim($('#AmendPerpetratorName').val()) == '') {
            alert('Perpetrator is required');
            return;
        } else {
            if (perpid == null && perptype == null) {
                var fltr = $("input[name=Perpetrator]:checked").val();
                if (fltr == "Non-Tenant" && perpid == null) {
                    $.ajax({
                        url: '@Url.Action("NewPersonForm")',
                        dataType: 'html',
                        cache: false,
                        data: { name: $.trim($('#AmendPerpetratorName').val()) },
                        success: function (data) {
                            $("#amendperpetratordetail").html(data);
                            $("#PerpButtonsDiv").hide();
                        }
                    });
                } else {
                    alert('Person with this Name does not exist');
                }
            } else {
                if ($("input[name=Perpetrator]:checked").val() != "BHG") {
                    if (IsPersonAlreadyExist(perpid, "Customer")) {
                        alert("Already added in the list");
                    } else {
                        HasPersonsPreviousCases(perpid, "Customer", "Perpetrator");
                        perpid = null;
                        perptype = null;
                        $("#AmendPerpetratorName").val("");
                    }
                } else {
                    if (IsPersonAlreadyExist(perpid, "Employee")) {
                        alert("Already added in the list");
                    } else {
                        HasPersonsPreviousCases(perpid, "Employee", "Perpetrator");
                        perpid = null;
                        perptype = null;
                        $("#AmendPerpetratorName").val("");
                    }
                }
            }
        }
    });

    $(document).off('click', '#BtnSaveNewPerson').on('click', '#BtnSaveNewPerson', function (e) {
        e.preventDefault();
        var control = ValidateNewPersonInputs();
        if (control == '') {
            var email = $.trim($('#Email').val());
            if (email != "") {
                if (!ValidateEmail(email)) {
                    alert('Invalid Email Address');
                } else {
                    SaveNewPerson();
                }
            } else {
                SaveNewPerson();
            }
        } else {
            alert(control + ' is required');
            $("#" + control).focus();
        }
    });

    $('#UpdateComplainantInfo').on('click', function(event){
        event.preventDefault();
        var URL = '@Url.Action("PersonUpdateView","Cases")';
        var id = parseInt($("#person-paging-div-amend > a.active").attr("id"));
        var personid = parseInt($("#person-paging-div-amend > a#" + id).attr("data-number"));
        var persontype = $("#person-paging-div-amend > a#" + id).attr("data-ptype");
        $.ajax({
            url: URL,
            data: { pId: personid, pType: persontype },
            dataType: 'html',
            cache: false,
            beforeSend: function(){
                $("#progress-add-person").show();
            },
            success: function (data) {
                $("#amendcomplainantdetail").html(data);
                $("#CompButtonsDiv").hide();
                $("#progress-add-person").hide();
            }
        });
    });

    $('#UpdatePerpetratorInfo').on('click', function(event){
        event.preventDefault();
        var URL = '@Url.Action("PersonUpdateView","Cases")';
        var id = parseInt($("#person-paging-perp-div-amend > a.active").attr("id"));
        var personid = parseInt($("#person-paging-perp-div-amend > a#" + id).attr("data-number"));
        var persontype = $("#person-paging-perp-div-amend > a#" + id).attr("data-ptype");
        $.ajax({
            url: URL,
            data: { pId: personid, pType: persontype },
            dataType: 'html',
            cache: false,
            beforeSend: function(){
                $("#progress-add-person").show();
            },
            success: function (data) {
                $("#amendperpetratordetail").html(data);
                $("#PerpButtonsDiv").hide();
                $("#progress-add-person").hide();
            }
        });
    });

    $(document).on('click','#BtnUpdatePerson',function(event){
        event.preventDefault();
        var personid = parseInt($("#UpdtPersonId").attr("data-id"));
        var persontype = $("#UpdtPersonType").val();
        var URL = '@Url.Action("UpdatePerson","Cases")';
        var currentTab = $("#person-tabs-amend > li.current").attr("data-tab");
        var personEmail = $.trim($('#Email').val());
        if(personEmail != "")
        {
            if(!ValidatePersonEmail($("#Email").val())){
                alert("Invalid Email Address");
                $("#Email").focus();
                return;
            } else{
                $.ajax({
                    url: URL,
                    type: 'POST',
                    data: JSON.stringify({
                        PersonId: personid,
                        PersonType: persontype,
                        TelephoneH: $("#TelephoneHome").val(),
                        TelephoneW: $("#TelephoneWork").val(),
                        Email: $("#Email").val(),
                        AlternateContact: $("#AlternateContact").val(),
                    }),
                    beforeSend: function () {
                        $("#progress-add-person").show();
                    },
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (currentTab == "tab-complainant-amend") {
                            $("#amendcomplainantdetail").html(data);
                            $("#CompButtonsDiv").show();
                        } else {
                            $("#amendperpetratordetail").html(data);
                            $("#PerpButtonsDiv").show();
                        }
                        $("#progress-add-person").hide();
                    },
                    error: function () {
                        $("#progress-add-person").hide();
                        alert('Error Updating Person');
                    }
                });

            }
        } else{
            $.ajax({
                url: URL,
                type: 'POST',
                data: JSON.stringify({
                    PersonId: personid,
                    PersonType: persontype,
                    TelephoneH: $("#TelephoneHome").val(),
                    TelephoneW: $("#TelephoneWork").val(),
                    Email: $("#Email").val(),
                    AlternateContact: $("#AlternateContact").val(),
                }),
                beforeSend: function () {
                    $("#progress-add-person").show();
                },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (currentTab == "tab-complainant-amend") {
                        $("#amendcomplainantdetail").html(data);
                        $("#CompButtonsDiv").show();
                    } else {
                        $("#amendperpetratordetail").html(data);
                        $("#PerpButtonsDiv").show();
                    }
                    $("#progress-add-person").hide();
                },
                error: function () {
                    $("#progress-add-person").hide();
                    alert('Error Updating Person');
                }
            });
        }
        return false;
    });

    function PopulatePersonDetails(personId, persontype, personrole, isNew) {
        $.ajax({
            url: '@Url.Action("PersonDetail")',
            cache:false,
            data: { pId: personId, pType: persontype },
            dataType: 'html',
            success: function (data) {
                if (personrole === "Perpetrator") {
                    $("#amendperpetratordetail").html(data);
                    $("#PerpButtonsDiv").show();
                    if(persontype=="Employee")
                    {
                        $("#UpdatePerpetratorInfo").hide();
                    }
                    else
                    {
                        $("#UpdatePerpetratorInfo").show();
                    }
                } else {
                    $("#amendcomplainantdetail").html(data);
                    $("#CompButtonsDiv").show();
                    if(persontype=="Employee")
                    {
                        $("#UpdateComplainantInfo").hide();
                    }
                    else
                    {
                        $("#UpdateComplainantInfo").show();
                    }
                }
                if (isNew)
                {
                    AddInList(personId, persontype, personrole);
                }
            }
        });
    }
    function ValidatePersonEmail(email) {
        var expr = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        return expr.test(email);
    };
    function AddPersonInCase(id, type, role, caseid, recordedby){
        var added = false;
        $.ajax({
            url: '@Url.Action("AddPersonInCase","Cases")',
            type: 'POST',
            cache: false,
            data: JSON.stringify({
                PersonId: id,
                PersonType: type,
                PersonRole: role,
                CaseId: caseid,
                RecordedBy: recordedby
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if(!data){
                    alert('Unable to add Person in Case');
                } else{
                    PopulatePersonDetails(id, type, role, true);
                }
            },
            error: function () {
                alert('Error adding Person');
            }
        });
        return added;
    }
    function RemovePersonFromCase(id, type, role, caseid, recordedby){
        $.ajax({
            url: '@Url.Action("RemovePersonFromCase","Cases")',
            type: 'POST',
            cache: false,
            data: JSON.stringify({
                PersonId: id,
                PersonType: type,
                PersonRole: role,
                CaseId: caseid,
                RecordedBy: recordedby
            }),
            beforeSend: function(){
                $("#progress-add-person").show();
            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if(!data){
                    alert('Unable to remove Person from Case');
                } else{
                    RemoveFromList(role);
                }
                $("#progress-add-person").hide();
            },
            error: function () {
                $("#progress-add-person").hide();
                alert('Error removing Person');
            }
        });
    }
    //Check if Person already exists in Perpetrator and Complainant list
    function IsPersonAlreadyExist(personid, persontype) {
        var exist = false;
        //Check in Perpetrator list
        $('#person-paging-perp-div-amend').children('a').each(function () {
            var number = parseInt($(this).attr("data-number"));
            var type = $(this).attr("data-ptype");
            if (number === personid && type == persontype) {
                exist = true;
            }
        });
        // Check in Complainant list
        if (!exist) {
            $('#person-paging-div-amend').children('a').each(function () {
                var number = parseInt($(this).attr("data-number"));
                var type = $(this).attr("data-ptype");
                if (number === personid && type == persontype) {
                    exist = true;
                }
            });
        }
        return exist;
    }
    //Add Person in List
    function AddInList(personId, persontype, personrole) {
        var div = '';
        var btnRmv = '';
        var btnUpd = '';
        var detail = '';
        var input = '';
        if(personrole === '@COMPLAINANT')
        {
            div = '#person-paging-div-amend';
            btnRmv = '#BtnAmendRemoveComplainant';
            btnUpd = '#UpdateComplainantInfo';
            detail = '#amendcomplainantdetail';
            input = '#AmendComplainantName';
        } else {
            div = '#person-paging-perp-div-amend';
            btnRmv = '#BtnAmendRemovePerpetrator';
            btnUpd = '#UpdatePerpetratorInfo';
            detail = '#amendperpetratordetail';
            input = '#AmendPerpetratorName';
        }
        var num_pages = $(div + ' > a').length + 1;
        $(div + ' > a').removeClass("active");
        $(div).append(
                '<a href="javascript:void(0)" class="page active" id="' + num_pages + '" data-number = ' + personId +
                                ' data-ptype=' + persontype + ' data-prole=' + personrole + '>' + num_pages + '</a>');
        $(input).val("");
        if (num_pages > 1) {
            $(btnRmv).prop('disabled', false);
            $(btnUpd).prop('disabled', false);
        }
        if (num_pages === 15) {

            $(input).addClass('readonly');
            $(input).prop('disabled', true);
        }
    }

    //Removes person from list
    function RemoveFromList(personrole){
        var div = '';
        var btnRmv = '';
        var btnUpd = '';
        var detail = '';
        var input = '';
        if(personrole === '@COMPLAINANT')
        {
            div = '#person-paging-div-amend';
            btnRmv = '#BtnAmendRemoveComplainant';
            btnUpd = '#UpdateComplainantInfo';
            detail = '#amendcomplainantdetail';
            input = '#AmendComplainantName';
        } else {
            div = '#person-paging-perp-div-amend';
            btnRmv = '#BtnAmendRemovePerpetrator';
            btnUpd = '#UpdatePerpetratorInfo';
            detail = '#amendperpetratordetail';
            input = '#AmendPerpetratorName';
        }
        var pID = $(div + ' > a.active').attr("id");
        var id = parseInt(pID);
        var length = $(div+' > a').length;
        if (id === 1 && id === length) {
            $.ajax({
                url: '@Url.Action("PersonDetail")',
                cache:false,
                data: { pId: 0, pType: '' },
                dataType: 'html',
                success: function (data) {
                    $(detail).html(data);
                }
            });
            $(div+' > a#' + id).remove();
            $(div+' > input.' + id).remove();
            $(btnRmv).prop('disabled', true);
            $(btnUpd).prop('disabled', true);
        } else if (id === length) {
            var previd = id - 1;
            var pid = $(div + ' > a#' + previd).attr("data-number");
            var prole = $(div + ' > a#' + previd).attr("data-prole");
            var ptype = $(div + ' > a#' + previd).attr("data-ptype");
            $.ajax({
                url: '@Url.Action("PersonDetail")',
                data: { pId: pid, pType: ptype },
                dataType: 'html',
                success: function (data) {
                    $(detail).html(data);
                }
            });
            $(div + ' > a#' + previd).addClass("active");
            $(div + ' > a#' + id).remove();
            $(div + ' > input.' + id).remove();

        } else {
            var removeid = id;
            var immidiatenextid = id + 1;
            var pid = parseInt($("#" + immidiatenextid).attr("data-number"));
            var prole = $(div + ' > a#' + immidiatenextid).attr("data-prole");
            var ptype = $(div + ' > a#' + immidiatenextid).attr("data-ptype");
            $(div + ' > a#' + immidiatenextid).addClass("active");
            $(div + ' > a#' + removeid).remove();
            $(div + ' > input.' + removeid).remove();
            $(div).children('a').each(function () {
                var nextid = id + 1;
                $(div + ' > a#' + nextid).text(id);
                $(div + ' > a#' + nextid).attr("id", id);
                id += 1;
            });
            $.ajax({
                url: '@Url.Action("PersonDetail")',
                data: { pId: pid, pType: ptype },
                dataType: 'html',
                success: function (data) {
                    $(detail).html(data);
                }
            });
        }
        if(($(div + ' > a').length) === 1){
            $(btnRmv).prop('disabled', true);
        }
        $(input).removeClass('readonly');
        $(input).prop('disabled', false);
    }

    //If previous cases exists
    function HasPersonsPreviousCases(personId, persontype, personrole) {

        var action = '@Url.Action("PreviousCases")';
        $.ajax({
            url: action,
            data: { pid: personId, ptype: persontype, prole: personrole, pnum: 1, psize: 5 },
            cache: false,
            dataType: 'html',
            success: function (data) {
                //Previous Cases exist. Show in Dialog
                ShowPersonsPreviousCases(personId, persontype, personrole);
            },
            error: function () {
                //No Previous Cases. Populate Details.
                //PopulateDetails(personId, persontype, personrole, true);
                AddPersonInCase(personId, persontype, personrole,@case_id,@recorded_by);
            }
        });
    }

    //Shows previous cases
    function ShowPersonsPreviousCases(personId, persontype, personrole) {
        $("#prevCasesDialog").modal();
        var action = '@Url.Action("PreviousCases")';
        $.ajax({
            url: action,
            data: { pid: personId, ptype: persontype, prole: personrole, pnum: 1, psize: 5},
            cache:false,
            dataType: 'html',
            success: function (data) {
                $("#prevCasesDialog").html(data)
            }
        });
        //We need to Off click event in case of PartialViews.
        $(document).off('click', '#BtnClosePrevCasesWindow').on('click', '#BtnClosePrevCasesWindow', function (event) {
            event.preventDefault();
            $("#prevCasesDialog").modal('hide');
            $("#progress-new-case-persons").show();
            AddPersonInCase(personId, persontype, personrole, @case_id, @recorded_by);
            //PopulateDetails(personId, persontype, personrole, true);
            //AddPersonInCase(personId, persontype, personrole, @case_id, @recorded_by);
            if (personrole == "Complainant") {
                $("#AmendComplainantName").val("");
                _personId = null;
                _personType = null;
            } else {
                $("#AmendPerpetratorName").val("");
                _perpId = null;
                _perpType = null;
            }
            $("#progress-new-case-persons").hide();
            return false;
        });
    }
    function ValidateEmail(email) {
        var expr = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        return expr.test(email);
    };

    function ValidateNewPersonInputs() {
        $.trim($('#AmendComplainantName').val()) == ''
        if ($.trim($('#Name').val()) == '') {
            return 'Name';
        }
        else if ($.trim($('#Address1').val()) == '') {
            return 'Address1';
        }
        else if ($.trim($('#Address2').val()) == '') {
            return 'Address2';
        }
        else if ($.trim($('#City').val()) == '') {
            return 'City';
        }
        else {
            return '';
        }
    }
    //Save new person
    function SaveNewPerson()
    {
      
        var fullname = $("#Name").val().split(' ');
        var lName = "";
        var mName = "";
        var fName = "";
        if (fullname.length == 1) {
            fName = fullname[0];
            lName = null;
            mName = null;

        }
        else if (fullname.length == 2) {
            fName = fullname[0];
            mName = null;
            lName = fullname[1];
        }
        else {
            fName = fullname[0];
            mName = "";
            for (var i = 1 ; i < fullname.length - 1; i++) {
                mName += fullname[i]+" ";
            }
            lName = fullname[fullname.length - 1];
        }
        var newPersonType = $('#PersonType :selected').val();
        var newPersonTitle = $('#Titles :selected').val();

        var url = '@Url.Action("SaveNewPerson")';
        var currentTab = $("#person-tabs-amend > li.current").attr("data-tab");
        $.ajax({
            url: url,
            type: 'POST',
            cache:false,
            data: JSON.stringify({
                FirstName: fName,
                MiddleName: mName,
                LastName: lName,
                TenancyRef: $("#TenancyRef").val(),
                Organization: $("#Organization").val(),
                Address1: $("#Address1").val(),
                Address2: $("#Address2").val(),
                City: $("#City").val(),
                PostCode: $("#PostCode").val(),
                TelephoneHome: $("#TelephoneHome").val(),
                TelephoneWork: $("#TelephoneWork").val(),
                Mobile1: $("#Mobile1").val(),
                Mobile2: $("#Mobile2").val(),
                Email: $("#Email").val(),
                AlternateContact: $("#AlternateContact").val(),
                TelephoneContact: $("#TelephoneContact").val(),
                PersonType: newPersonType,
                TitleId: newPersonTitle
            }),
            beforeSend: function () {
                $("#progress-add-person").show();
            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (currentTab == "tab-complainant-amend") {
                    AddPersonInCase(data,"Customer", "Complainant",@case_id, @recorded_by);
                } else {
                    AddPersonInCase(data,"Customer", "Perpetrator",@case_id, @recorded_by);
                }
                $("#progress-add-person").hide();
            },
            error: function () {
                $("#progress-add-person").hide();
                alert('Error adding Person');
            }
        });
    }

</script>


