﻿@{ 
    string notes = ViewBag.Notes;
    string dtype = ViewBag.DocType;
}
<div id="showNotes" style="margin-top:200px;">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">@dtype</div>
                    <div class="modal-body">
                        <div class="clearfix"></div>
                        <div class="col-xs-12 no-padding-sides">
                            <div>
                                <text>Notes:</text>
                            </div>
                            <div class="col-xs-12 no-padding-sides" style="margin-top:3px !important;">
                                @if (!notes.IsEmpty())
                                {
                                    <textarea rows="3" style="background-color: #FFFFFF;border: 1px #C2C2C2 solid !important;width: 100% !important;height: 175px !important;" readonly>@notes</textarea>
                                }
                                else
                                {
                                    <textarea rows="3" style="background-color: #FFFFFF;border: 1px #C2C2C2 solid !important;width: 100% !important;height: 175px !important;" readonly></textarea>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="button" id="BtnCloseNotesWindow" value="Close Window" class="button-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>