﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.AddActionDialogModel
    @{ 
        string dateFormat = ViewBag.DefDateFormat;
        string actionNotesFollowUp = Model.ActionNotes;
    }
<div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Add Action:</div>
                <div class="modal-body">

                    <div class="col-xs-12 no-padding-sides">
                        <text class="col-xs-3 no-padding-sides">Type:* </text>
                        @if (Model.ActionTypes != null && Model.ActionTypes.Count() > 0)
                        {
                            @Html.DropDownListFor(
                    x => x.SelectedActionId,
                    new SelectList(Model.ActionTypes, "key", "value", 0),
                    "Please Select", new { @class = "col-xs-4 no-padding-sides" })
                        }
                    </div>
                    
                    <div id="ActionStages" hidden="hidden">
                        <div class="clearfix"></div>
                        <div class="col-xs-12 no-padding-sides" style="margin-top:5px;">               
                            <text class="col-xs-3 no-padding-sides">Stage:* </text>
                            <div class="">
                                @Html.DropDownListFor(
                                x => x.stagesobject.SelectedStageId,
                                new SelectList(Model.stagesobject._Stages, "key", "value", 0),
                                "Please Select", new { @class = "col-xs-4 no-padding-sides", @onchange = "FillActionCategory()" })
                            </div>                        
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 no-padding-sides" style="margin-top:5px;">
                            <text class="col-xs-3 no-padding-sides">Sub Category: </text>
                            <div class="">
                                @Html.DropDownListFor(
                                x => x.stagesobject.SelectedSubCategoryId,
                                new SelectList(Model.stagesobject._SubCategories, "key", "value", 0),
                                "Please Select", new { @class = "col-xs-4 no-padding-sides", @onchange = "FillActionType()" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 no-padding-sides" style="margin-top:5px;">
                            <text class="col-xs-3 no-padding-sides">Type:</text>
                            <div class="">
                                @Html.DropDownListFor(
                                x => x.stagesobject.SelectedTypeId,
                                new SelectList(Model.stagesobject._Types, "key", "value", 0),
                                "Please Select", new { @class = "col-xs-4 no-padding-sides", @onchange = "FillActionSubType()" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 no-padding-sides" style="margin-top:5px;">
                            <text class="col-xs-3 no-padding-sides">Sub Type </text>
                            <div class="">
                                @Html.DropDownListFor(
                                x => x.stagesobject.SelectedSubTypeId,
                                new SelectList(Model.stagesobject._SubTypes, "key", "value", 0),
                                "Please Select", new { @class = "col-xs-4 no-padding-sides" })
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-xs-12 no-padding-sides" style="margin-top:5px;" hidden="hidden" id="Closingtype">
                        <text class="col-xs-3 no-padding-sides">Closing Type</text>
                        <div class="">
                            @Html.DropDownListFor(
                                x => x.selectedClosingType,
                                new SelectList(Model.ClosingTypes, "key", "value")
                                , new { @class = "col-xs-4 no-padding-sides" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div id="dateInputCaseCloseDiv" hidden="hidden" class="col-xs-12 no-padding-sides" style="margin-top: 5px !important">
                        <text id="datetext" class="col-xs-3 no-padding-sides">Date Closed:* </text>
                        <input type="text" class="Textbox-short" readonly id="selectedCaseCloseDate" />
                        <input id="ActionDateClose" name="ActionDateClose" value="" type="hidden" , class="DatePicker" />
                    </div>
                    <div id="dateInputCaseFollowupDiv" hidden="hidden" class="col-xs-12 no-padding-sides" style="margin-top: 5px !important">
                        <text id="datetext" class="col-xs-3 no-padding-sides">Follow Up Date:* </text>
                        <input type="text" class="Textbox-short" readonly id="selectedFollowupDate" />
                        <input id="ActionDateFollowup" name="ActionDateFollowup" value="" type="hidden" , class="DatePicker" />
                    </div>
                    <div class="clearfix"></div>
                    <div id="dateInputCaseReviewDiv" class="col-xs-12 no-padding-sides" style="margin-top: 5px !important">
                        <text id="datetextReview" class="col-xs-3 no-padding-sides">Review Date:* </text>
                        <input type="text" class="Textbox-short" readonly id="selectedReviewDate" />
                        <input id="ActionDateReview" name="ActionDateReview" value=""  hidden="hidden" class="DatePicker" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 no-padding-sides">
                        <div>
                            <text>Notes:</text>
                        </div>
                        <div class="col-xs-12 no-padding-sides" style="margin-top:3px !important;">
                            @Html.TextArea("ActionNote", new { @class = "Action-Notes", maxlength = 1000 })
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="button" id="BtnCloseWindow" value="Close Window" class="button-default" />
                    <input type="button" id="BtnSaveAction" value="Save Action" onclick="SaveAction_Click()" class="button-default"  disabled />
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    SetDatePicker(0);
    $('#ActionNote').keypress(function(e){
        var code = e.keyCode || e.which;
        if (this.value.length >= 1000 && code != 8) {
            var newTrimedText = this.value.slice(0, 1000);
            this.value = newTrimedText;
            return false;
        }
    });
    $('#ActionNote').on('paste',function (e) {
        var pastedData = '';
        if (window.clipboardData && window.clipboardData.getData) { // IE
            pastedData = window.clipboardData.getData('Text');
        }
        else if (e.originalEvent.clipboardData && e.originalEvent.clipboardData.getData) { // other browsers
            pastedData = e.originalEvent.clipboardData.getData('text/plain');
        }
        var trimData = pastedData.slice(0, 1000);
        if (this.value.length >= 1000) {
            return false;
        } else {
            var prevValue = this.value;
            var completeText = prevValue + trimData;
            if (completeText.length >= 1000) {
                var newTrimedText = completeText.slice(0, 1000);
                $(this).val(newTrimedText);
                return false
            }
            else {
                $(this).val(completeText);
            }
        }
        return false;
    });

    $("#SelectedActionId").change(function (e) {
        var actionId = parseInt($(this).val());
        if (isNaN(actionId)) {
            $("#BtnSaveAction").prop('disabled', true);
            $("#Closingtype").hide();
            $("#ActionStages").hide();
            $("#dateInputDiv").hide();
            $("#dateInputCaseFollowupDiv").hide();
            $("#dateInputCaseCloseDiv").hide();
        } else {
            //var actionText = $('#SelectedActionId').children("option:selected").text();
            if (actionId === 4) {
                $("#ActionStages").hide();
                $("#Closingtype").hide();
                $("#dateInputCaseFollowupDiv").show();
                $("#dateInputCaseCloseDiv").hide();
                $("#datetext").text("Follow Up Date: ");
                if ($("#selectedFollowupDate").val() == '') {
                    $("#BtnSaveAction").prop('disabled', true);
                }
                else
                {
                    if ($("#selectedReviewDate").val() == '') {
                        $("#BtnSaveAction").prop('disabled', true);
                    }
                    else
                    {
                        $("#BtnSaveAction").prop('disabled', false);
                    }
                }
                var notes = @Html.Raw(Json.Encode(actionNotesFollowUp));
                $("#ActionNote").val(notes);
                SetDatePicker(actionId);
            }
            else if (actionId === 1) {
                $("#ActionStages").hide();
                $("#Closingtype").show();
                $("#dateInputCaseFollowupDiv").hide();
                $("#dateInputCaseCloseDiv").show();
                $("#datetext").text("Date Closed: ");
                if ($("#selectedCaseCloseDate").val() == '') {
                    $("#BtnSaveAction").prop('disabled', true);
                }
                else
                {
                    if ($("#selectedReviewDate").val() == '') {
                        $("#BtnSaveAction").prop('disabled', true);
                    }
                    else
                    {
                        $("#BtnSaveAction").prop('disabled', false);
                    }
                }
                $("#ActionNote").val('');
                SetDatePicker(actionId);
            }
            else if(actionId === 20){
                $("#Closingtype").hide();
                $("#dateInputCaseFollowupDiv").hide();
                $("#dateInputCaseCloseDiv").hide();
                $("#ActionStages").show();
                $("#ActionNote").val('');

                if($("#stagesobject_SelectedStageId").val()==''){
                    $("#BtnSaveAction").prop('disabled', true);
                }
                else
                {
                    if ($("#selectedReviewDate").val() == '') {
                        $("#BtnSaveAction").prop('disabled', true);
                    }
                    else
                    {
                        $("#BtnSaveAction").prop('disabled', false);
                    }
                }
            }
            else {
                $("#ActionStages").hide();
                $("#Closingtype").hide();
                $("#dateInputCaseFollowupDiv").hide();
                $("#dateInputCaseCloseDiv").hide();
                if ($("#selectedReviewDate").val() == '') {
                    $("#BtnSaveAction").prop('disabled', true);
                }
                else
                {
                    $("#BtnSaveAction").prop('disabled', false);
                }
                
            }
        }
    });
    //Sets date picker calendar depending on Action Selected
    function parseISO8601(dateStringInRange) {
        var isoExp = /^\s*(\d\d)\/(\d\d)\/(\d{4})\s*$/,
            date = new Date(NaN), month,
            parts = isoExp.exec(dateStringInRange);
       // console.log(dateStringInRange);
       // console.log(parts);
        if(parts) {
           // console.log("inside parts");
            month = +parts[2];
          //  console.log(month);
         //   console.log(parts[1] + "" + parts[3]);
            date.setFullYear(parts[3], month - 1, parts[1]);
            //console.log(date);
            if(month != date.getMonth() + 1) {
                date.setTime(NaN);
                //console.log("a");
            }
            //console.log(date);
        }
        return date;
    }
    function SetDatePicker(actionId) {
        if (actionId === 1) {
            $("#ActionDateClose").datepicker({
                //dateFormat: 'dd/mm/yy',
                dateFormat: '@dateFormat',
                changeMonth: true,
                changeYear: true,
                maxDate: 0,
                showOn: 'button',
                buttonImage: '@Url.Content("~/Images/calendar.png")',
                buttonImageOnly: true,
                onSelect: function () {
                    var selected = $(this).val();
                    
                    $(this).parent("#dateInputCaseCloseDiv").find("#selectedCaseCloseDate").val(getFormatedDateForFields(parseISO8601(selected)));
                    if ($("#selectedReviewDate").val() == '') {
                        $("#BtnSaveAction").prop('disabled', true);
                    }
                    else
                    {
                        $("#BtnSaveAction").prop('disabled', false);
                    }
                }
            });
        } if (actionId === 4) {
            $("#ActionDateFollowup").datepicker({
                //dateFormat: 'dd/mm/yy',
                dateFormat: '@dateFormat',
                changeMonth: true,
                changeYear: true,
                minDate: 0,
                showOn: 'button',
                buttonImage: '@Url.Content("~/Images/calendar.png")',
                buttonImageOnly: true,
                onSelect: function () {
                    var selected = $(this).val();
                    $(this).parent("#dateInputCaseFollowupDiv").find("#selectedFollowupDate").val(getFormatedDateForFields(parseISO8601(selected)));
                    if ($("#selectedReviewDate").val() == '') {
                        $("#BtnSaveAction").prop('disabled', true);
                    }
                    else
                    {
                        $("#BtnSaveAction").prop('disabled', false);
                    }
                }
            });
        }
        if(actionId===0){
            $("#ActionDateReview").datepicker({
                //dateFormat: 'dd/mm/yy',
                dateFormat: '@dateFormat',
                changeMonth: true,
                changeYear: true,
                minDate: 0,
                showOn: 'button',
                buttonImage: '@Url.Content("~/Images/calendar.png")',
                buttonImageOnly: true,
                onSelect: function () {
                    var selected = $(this).val();
                    $(this).parent("#dateInputCaseReviewDiv").find("#selectedReviewDate").val(getFormatedDateForFields(parseISO8601(selected)));
                    var actionId=$("#SelectedActionId").val();
                    if(actionId===1){
                        if ($("#selectedCaseCloseDate").val() == '') {
                            $("#BtnSaveAction").prop('disabled', true);
                        }
                        else
                        {
                            $("#BtnSaveAction").prop('disabled', false);
                        }
                    }
                    else if(actionId===4){
                        if ($("#selectedFollowupDate").val() == '') {
                            $("#BtnSaveAction").prop('disabled', true);
                        }
                        else
                        {
                            $("#BtnSaveAction").prop('disabled', false);
                        }
                    }
                    else if(actionId===20){
                        if ($("#stagesobject_SelectedStageId").val() == '') {
                            $("#BtnSaveAction").prop('disabled', true);
                        }
                        else
                        {
                            $("#BtnSaveAction").prop('disabled', false);
                        }
                    }
                    else if(actionId=="")
                    {
                        //console.log(actionId);
                        $("#BtnSaveAction").prop('disabled', true);
                    }
                    else
                    {
                        //console.log(actionId);
                        $("#BtnSaveAction").prop('disabled', false);
                    }
                }
            });
        }
    }
    function FillActionCategory() {
        var stageId = $("#stagesobject_SelectedStageId").val();
        if($("#stagesobject_SelectedStageId").val()=='' || $("#selectedReviewDate").val()=='' ){
            $("#BtnSaveAction").prop('disabled', true);
        }
        else 
        {
            $("#BtnSaveAction").prop('disabled', false);
        }
        //console.log(stageId);
        $.ajax({
            url: '@Url.Action("Categories")',
            data: { stage: stageId },
            type: "GET",

            success: function (data) {

                $("#stagesobject_SelectedSubCategoryId").html("");
                $("#stagesobject_SelectedSubCategoryId").append(
                    $('<option></option>').html("Please Select"));
                $("#stagesobject_SelectedTypeId").html("");
                $("#stagesobject_SelectedTypeId").append(
                    $('<option></option>').html("Please Select"));
                $("#stagesobject_SelectedSubTypeId").html("");
                $("#stagesobject_SelectedSubTypeId").append(
                    $('<option></option>').html("Please Select"));

                $.each(data, function (key, values) {
                    $("#stagesobject_SelectedSubCategoryId").append(
                    $('<option></option>').val(values.key).html(values.value));
                });
            }

        });
    }

    function FillActionType() {

        var subcategoryId = $("#stagesobject_SelectedSubCategoryId").val();
        $.ajax({
            url: '@Url.Action("Types")',
            data: { subcategory: subcategoryId },
            type: "GET",

            success: function (data) {
                $("#stagesobject_SelectedTypeId").html("");
                $("#stagesobject_SelectedTypeId").append(
                    $('<option></option>').html("Please Select"));
                $("#stagesobject_SelectedSubTypeId").html("");
                $("#stagesobject_SelectedSubTypeId").append(
                    $('<option></option>').html("Please Select"));

                $.each(data, function (key, values) {
                    $("#stagesobject_SelectedTypeId").append(
                    $('<option></option>').val(values.key).html(values.value));
                });
            }

        });
    }

    function FillActionSubType() {

        var typesId = $("#stagesobject_SelectedTypeId").val();
        $.ajax({
            url: '@Url.Action("SubTypes")',
            data: { types: typesId },
            type: "GET",

            success: function (data) {
                $("#stagesobject_SelectedSubTypeId").html("");
                $("#stagesobject_SelectedSubTypeId").append(
                    $('<option></option>').html("Please Select"));

                $.each(data, function (key, values) {
                    $("#stagesobject_SelectedSubTypeId").append(
                    $('<option></option>').val(values.key).html(values.value));
                });

            }

        });
    }

</script>
