﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.CaseDetailsAndActions
<div>
    <div>
        <input type="button" value="Status: @Model.CaseDetails.CaseStatus" class="pull-right button-default" id="CaseStatus"/>
        <input type="button" value="Export PDF" class="pull-right button-default" 
               style="margin-right:3px; display:none;" id="BtnExportPDF"/>
        <ul class="tabs" id="cases-tabs">
            <li class="tab-link current" data-tab="tab-case-details">Case Details</li><li class="tab-link" data-tab="tab-case-journals">Case Journal</li>
        </ul>
    </div>
    <div id="tab-case-details" class="tab-content current">
        @{Html.RenderPartial("~/Views/Cases/Amending/_PartialCaseDetail.cshtml", Model.CaseDetails);}
    </div>
    <div id="tab-case-journals" class="tab-content background-white">
        @{Html.RenderPartial("~/Views/Cases/Amending/_PartialCaseActions.cshtml", Model.CaseActions);}
    </div>
</div>
