﻿@model  ASB_UI.ViewModels.AmendCase.AmendCaseViewModel
@{
    ViewBag.Title = "Amend Case";
    int case_id = Model.CaseId;

}
<div>
    <div class="col-xs-11 no-padding-sides">
        <div id="header-asb" class="clearfix col-xs-12">
            <b style="color:white">ASB Case @Model.CaseId</b>
            <input type="button" value="Add Action" id="BtnAddAction" class="pull-right" />
        </div>
        <div class="col-xs-12 no-padding-sides" style="margin-top:10px;">
            <div class="col-xs-6 no-padding-left" id="ActionAndDetails">
                <div>
                    <input type="button" value="Status: @Model.DetailsAndActions.CaseDetails.CaseStatus" class="pull-right button-default" id="CaseStatus" />
                    <input type="button" value="Export PDF" class="pull-right button-default"
                           style="margin-right:3px; display:none;" id="BtnExportPDF" />
                    <ul class="tabs" id="cases-tabs">
                        <li class="tab-link current" data-tab="tab-case-details">Case Details</li>
                        <li class="tab-link" data-tab="tab-case-journals">Case Journal</li>
                    </ul>
                </div>
                <div id="tab-case-details" class="tab-content current">
                    @{Html.RenderPartial("~/Views/Cases/Amending/_PartialCaseDetail.cshtml", Model.DetailsAndActions.CaseDetails);}
                </div>
                <div id="tab-case-journals" class="tab-content background-white">
                    @{Html.RenderPartial("~/Views/Cases/Amending/_PartialCaseActions.cshtml", Model.DetailsAndActions.CaseActions);}
                </div>
            </div>

            <div class="col-xs-6 no-padding-right" id="OtherCaseContentDiv">
                @{Html.RenderPartial("~/Views/Cases/Amending/_PartialPersonTabs.cshtml", Model.PersonModel);}
                <div id="DocumentsDiv">
                    @{Html.RenderPartial("~/Views/Cases/_PartialDocuments.cshtml", Model.FileViewModel);}
                </div>
                <div id="PhotographsDiv">
                    @{Html.RenderPartial("~/Views/Cases/_PartialPhotographs.cshtml", Model.PhotoViewModel);}
                </div>
                <div id="ContactsDiv">
                    @{Html.RenderPartial("~/Views/Cases/_PartialContacts.cshtml", Model.ContactsModel);}
                </div>
            </div>
        </div>
        <div style="display:none !important;" id="amend-case-progress">
            <img src="~/Images/progress.gif"/>
        </div>
    </div>
    <div id="AddActionDialog" role="dialog" class="modal">
        @*@{Html.RenderPartial("~/Views/Cases/Amending/_PartialActionDialog.cshtml",
                                                              new ASB_UI.ViewModels.AmendCase.SubViewModels.AddActionDialogModel()); }*@
    </div>
    <div id="docNotesDialog" role="dialog" class="modal">
        @*@{Html.RenderPartial("~/Views/Cases/Amending/_PartialActionDialog.cshtml",
            new ASB_UI.ViewModels.AmendCase.SubViewModels.AddActionDialogModel()); }*@
    </div>
</div>

<script type="text/javascript">
   $(document).ready(function () {
        $('#cases-tabs li').on('click', function () {
            var tab_id = $(this).attr('data-tab');
            $('#cases-tabs li').removeClass('current');
            if (tab_id == 'tab-case-details') {
                $('#tab-case-journals').removeClass('current');
                $('#ActionAndDetails').addClass('col-xs-6');
                $('#OtherCaseContentDiv').show();
                $('#BtnExportPDF').hide();
            } else {
                $('#tab-case-details').removeClass('current');
                $('#ActionAndDetails').removeClass('col-xs-6');
                $('#OtherCaseContentDiv').hide();
                $('#BtnExportPDF').show();
                UpdateCaseActions();
            }
            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        });
   });
    $('#BtnAddAction').on('click', function () {
        var URL = '@Url.Action("ShowAddActionDialog","Cases")';
        var actionNotes = $("#NextFollowUpNote").val();
        $.ajax({
            url: URL,
            data: {
                prevActionNotes: actionNotes
            },
            cache: false,
            dataType: 'html',
            success: function (data) {
                $("#AddActionDialog").html(data);
                $("#AddActionDialog").modal();
            }
        });
    });
    
    
    $(document).off('click', '#BtnCloseNotesWindow').on('click', '#BtnCloseNotesWindow',function () {
        $("#docNotesDialog").modal("hide");
    });
    $('#BtnExportPDF').on('click', function () {
        var action = '@Url.Action("ExportPDF", "Cases", new { caseId = Model.CaseId })';
        //var action = '@Url.Action("GeneratePdf", "Cases", new { case_id = Model.CaseId })';
        //window.location.href=action;
        window.open(action, '_blank');
        });

    //$(document).off('click', '#BtnSaveAction').on('click', '#BtnSaveAction',function (event) {
    //    event.preventDefault();
    function SaveAction_Click(){
        var URL = '@Url.Action("AddAction", "Cases")';
        var actionId = parseInt($("#SelectedActionId").val());
        var actionName = $('#SelectedActionId').children("option:selected").text();
        var closedDate;
        var followupDate;
        var stageid, subcategoryid, typeid, subtypeid;
        var closetypeId;
        var reviewDate=$("#selectedReviewDate").val();
        if(actionId === 1)
        {
            closedDate = $('#selectedCaseCloseDate').val();
            closetypeId=$('#selectedClosingType').val();
        }
        else if(actionId === 4)
        {
            followupDate = $('#selectedFollowupDate').val();
        }
        else if(actionId === 20)
        {
            stageid = $("#stagesobject_SelectedStageId").val();
            subcategoryid = $("#stagesobject_SelectedSubCategoryId").val();
            typeid = $("#stagesobject_SelectedTypeId").val();
            subtypeid = $("#stagesobject_SelectedSubTypeId").val();
        }
        var actionNotes = $('#ActionNote').val();
        var index = actionNotes.indexOf("</");
        if (index != -1) {            
            alert("Action Notes contain invalid string '</'");
            return false;
        }
        $.ajax({
            url: URL,
            type: "POST",
            async:false,
            contentType: 'application/json; charset=utf-8',
            cache: false,
            data: JSON.stringify({
                ClosedDate: closedDate,
                RecordedDate: getFormatedDate(new Date()),
                ActionId : actionId,
                Action: actionName,
                ActionNotes: actionNotes,
                CaseId: @case_id,
                FollowUpDate: followupDate,
                Stage: stageid,
                SubCategory: subcategoryid,
                Types: typeid,
                SubType: subtypeid,
                ReviewDate: reviewDate,
                selectedClosingType:closetypeId
            }),
            success: function(data){
                $("#AddActionDialog").modal("hide");
                if(data.ActionId === 1 && data.Action === 'Close Case')
                {
                    CloseCase(@case_id);
                }
                else
                {
                    UpateCaseDetails(@case_id);
                }
                UpdateCaseActions();
            }
        });
    }
    //Returns formated date (mm/dd/yy)
    function getFormatedDate(date)
    {
        var d = date;
        var curr_date = d.getDate();
        var curr_month = d.getMonth();
        curr_month++;
        var curr_year = d.getFullYear();
        var hours = d.getHours();
        var minutes = d.getMinutes();
        var seconds = d.getSeconds();
        var formatedDate = curr_month + "/" + curr_date + "/" + curr_year + " " + hours + ":" + minutes + ":" + seconds;
        return formatedDate;
    }

    function getFormatedDateForFields(date)
    {
        var d = date;
        var curr_date = d.getDate();
        var curr_month = d.getMonth();
        curr_month++;
        var curr_year = d.getFullYear();
        var hours = d.getHours();
        var minutes = d.getMinutes();
        var seconds = d.getSeconds();
        var formatedDate = curr_date + "/" + curr_month + "/" + curr_year;
        return formatedDate;
    }
    $(document).off('click', '#BtnCloseWindow').on('click', '#BtnCloseWindow',function () {
        $("#AddActionDialog").modal("hide");
    });
    //Update Case Journals
    function UpdateCaseActions()
    {
        var PAGE_URL = '@Url.Action("GetJournals", "Cases")';
        var pageNum = @Html.Raw(Json.Encode(Model.DetailsAndActions.CaseActions.Paging.PageNumber));
        var pageSize=@Html.Raw(Json.Encode(Model.DetailsAndActions.CaseActions.Paging.PageSize));
        $.ajax({
            url: PAGE_URL,
            dataType:'html',
            cache: false,
            data: {
                pIntCaseId:@case_id,
                pIntPgeNum:pageNum,
                pIntPgSze:pageSize
            },
            beforeSend: function(){
                //$("#progress-doc").show();
            },
            success: function(data){
                $("#JournalDiv").html(data);
                //$("#progress-doc").hide();
            }
        });
    }
    //Closes case
    function CloseCase(caseid)
    {
        $.ajax({
            url: '@Url.Action("AmendCase", "Cases")',
            data: { caseId: caseid},
            dataType: 'html',
            cache: false,
            beforeSend: function(){
                $('#progress').show();
            },
            success: function (data) {
                $("#detailContainer").html(data);
                $('#progress').hide();
            }
        });
    }
    //Update Case detail
    function UpateCaseDetails(caseid)
    {
        //console.log("Case updated");
        $.ajax({
            url: '@Url.Action("UpdateCaseDetailOnFollowUp", "Cases")',
            data: { caseId: caseid},
            dataType: 'html',
            cache: false,
            beforeSend: function(){
                $('#progress').show();
            },
            success: function (data) {
                $("#tab-case-details").html(data);
                $('#progress').hide();
            }
        });
    }
</script>
