<STYLE TYPE="text/css">
A {
	text-decoration:none;
	color:#883300;
	}
A:hover {
	text-decoration:underline;
	}
TD {
	font-family:verdana,helvetica,tahoma,arial;
	color:#000066;
	font-size:10pt;
	}
.warning {
	font-family:verdana,helvetica,tahoma,arial;
	color:#DD0000;
	font-size:11pt;
	font-weight:bold;
	}
.heading {
	font-family:verdana,helvetica,tahoma,arial;
	font-size:12pt;
	font-weight:normal;
	}
.menu {
	font-family:arial;
	color:#000066;
	font-size:9pt;
	}
</STYLE>