﻿@model BHGHRModuleWeb.ViewModels.GiftReportViewModel
@using Share.Bonnet.AjaxDropDownList;
@Scripts.Render("~/bundles/bonnet")
@{
    string searchText = ViewBag.searchText;
}

<div class="row padding-bottom">
    <div style="border: 1px solid; background-color: #000; padding: 10px;">
        <label style="color:#fff">Gift & Hospitality</label>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading" style="padding:10px 0;">
            @using (Html.BeginForm("ExportGiftData", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" id="trainingIds" />
                <div class="row">
                    <div class="col-md-12 col-xs-12 padding-bottom">
                        <div class="col-md-3 col-xs-12 padding-bottom-5">
                            <span class="pull-left" style="width:20%">@Html.LabelFor(m => m.fromDate)</span>
                            @Html.TextBoxFor(m => m.fromDate, new { id = "fromDate", @class = "DatePicker form-control", @style = "width:65%;" })
                        </div>
                        <div class="col-md-3 col-xs-12 padding-bottom">
                            <span class="pull-left" style="width:20%">@Html.LabelFor(m => m.toDate)</span>
                            @Html.TextBoxFor(m => m.toDate, new { id = "toDate", @class = "DatePicker form-control", @style = "width:65%;" })
                        </div>
                        <div class="col-md-2 col-xs-12 padding-bottom">
                            @Html.DropDownListFor(m => m.statusId, Model.statuses, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2 col-xs-12 padding-bottom">
                            @Html.DropDownListFor(
                                model => model.directorateId,
                                Model.directorates,
                                new
                                {
                                    @class = "form-control",
                                },
                                Ajax.UpdateActionFor(
                                    model => model.employeeId,
                                    new AjaxUpdateOptions
                                    {
                                        DisableTargetWhenEmpty = true,
                                        Url = Url.Action("EmployeeSelectListByDircetorateJson")
                                    }
                                )
                    )
                        </div>
                        <div class="col-md-2 col-xs-12 padding-bottom">
                            @Html.DropDownListFor(m => m.employeeId, Model.employees, new { @class = "form-control" })
                        </div>
                        
                        <div class="col-md-4 col-xs-12 pull-right padding-bottom">
                            <input class="btn btn-gray btn-xs pull-right btnNext" id="btnSaveCriteria" type="submit" name="nextBtn" value='Build Report' style="margin-left:19px" />
                            <input class="btn btn-gray btn-xs pull-right" id="btnSaveXLS" type="submit" name="nextBtn" value='Export XLS' />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
            }
        </div>
        <div class="panel-body">
            <div class="row padding-bottom"></div>
            <div class="row">
                <div class="col-md-12">
                    @Html.TextBox("txtSearchText", searchText, new { @class = "searchbox-right", Name = "txtSearchText", onkeyup = "TypingInterval();" })
                </div>
                <div id="webgrid">
                    @Html.Partial("Gifts/_GiftGrid", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    (function () {
        loadDatePicker();
    })();

    $("#btnSaveCriteria").click(function () {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("SearchGifts", "Reports")',
            type: 'GET',
            data: {
                directorateId: $('#directorateId').val(),
                employeeId: $('#employeeId').val(),
                statusId: $('#statusId').val(),
                fromDate: $("#fromDate").val(),
                toDate: $("#toDate").val(),
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html(resp);
                }
            }
        });
    });

    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms, 5 second for example

    function TypingInterval() {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(searchTextChanged, doneTypingInterval);
    }

    function searchTextChanged() {
        $.ajax({
            url: '@Url.Action("SearchGifts", "Reports")',
            type: 'GET',
            data: {
                txtSearchText: $('#txtSearchText').val(),
                fromDate: $("#fromDate").val(),
                toDate: $("#toDate").val(),
                directorateId: $("#directorateId").val(),
                employeeId: $("#employeeId").val(),
                statusId: $("#statusId").val()
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html(resp);
                }
            }
        });
    }

    function loadEmployeeList() {
        $.ajax({
            url: '@Url.Action("SearchGifts", "Reports")',
            type: 'GET',
            beforeSend: function () {
                $('#loader').show();
            },
            data: {
                directorateId: $('#directorateId').val(),
                employeeId: $('#employeeId').val(),
                statusId: $('#statusId').val(),
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html(resp);
                }
            }
        });
    }
</script>