﻿@model BHGHRModuleWeb.ViewModels.GiftReportViewModel
@{

    //string searchText = ViewBag.searchText;
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize);
    if (Model.giftsAppovalList != null && Model.giftsAppovalList.Count > 0)
    {
        grid.Bind(Model.giftsAppovalList, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
    }
}

@if (Model.giftsAppovalList != null && Model.giftsAppovalList.Count > 0)
{
    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        footerStyle: "webgrid-footer",
        htmlAttributes: new { id = "checkableGrid" },
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "employeeName", header: "Name:"),
        grid.Column(columnName: "directorateName", header: "Directorate:"),
        grid.Column(columnName: "details", header: "Details:"),
        grid.Column(columnName: "receivedGivenDate", header: "Received/Offered:"),
        grid.Column(columnName: "value", header: "Value:"),
        grid.Column(columnName: "statusName", header: "Status:"),
        grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:@<text><input class="pull-right edit-arrow btnPopupOpen" type="button" data-employeeid="@item.employeeId" data-giftid="@item.giftId" ></text>)
    ))

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div id="gridPager" class="space-box col-md-8">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
            </div>
            <div id="" class="col-md-1">
                <div class="row">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Name:</th>
                <th>Directorate:</th>
                <th>Details:</th>
                <th>Received/Offered:</th>
                <th>Value:</th>
                <th>Status:</th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="6" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade padding-bottom" id="requestGift" role="dialog">
    <div id="giftContainer"></div>
</div>

<script type="text/javascript">

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("SearchGifts", "Reports")' + queryString;//+ "?searchText=" + $('#txtSearchText').val();
        //$("#webgrid").load(requestUrl);
        $("#webgrid").load(requestUrl);
    }

    (function () {
        $("#webgrid a").on('click', function (event) {
            loadGridEvents(event, this);
        });
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
    })();

    var typingPageTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example

    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {

        var requestUrl = '@Url.Action("SearchGifts", "Reports", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtPageNo").val() + '&fromDate=' + $("#fromDate").val() + '&toDate=' + $("#toDate").val() + '&directorateId=' + $("#directorateId").val() + '&employeeId=' + $("#employeeId").val() + '&statusId=' + $("#statusId").val() + '&txtSearchText=' + $("#txtSearchText").val();
        $("#webgrid").load(requestUrl);
    }

    $('.btnPopupOpen').on('click', function () {
        
        var requestUrl = '@Url.Action("GetEmployeesGifts", "Reports")';
        $.ajax({
            url: requestUrl,
            type: 'GET',
            data: {
                id: $(this).data('employeeid'),
                giftId: $(this).data('giftid')
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#giftContainer').html(resp);
                    $('#requestGift').modal('show');
                }
            }
        });

    })

</script>

