﻿<div class="x-container x-unsized x-data-item x-list-item-body" id="ext-inboxlistitem-32">
    <div class="x-inner x-data-item-inner x-horizontal x-align-start x-pack-start x-layout-box"
        id="ext-element-200">
        <div class="x-layout-box-item x-stretched" id="ext-component-72">
        </div>
        <div class="x-img x-img-background x-sized x-paint-monitored x-size-monitored x-layout-box-item"
            id="ext-image-42" style="width: 29px !important; height: 20px !important; padding: 0px 25px !important;
            background-image: url(http://localhost:49597/app/images/inbox/im_sent.gif);">
            <div class="x-paint-monitor overflowchange">
            </div>
            <div class="x-size-monitors overflowchanged">
                <div class="expand">
                    <div style="width: 52px; height: 21px;">
                    </div>
                </div>
                <div class="shrink">
                    <div style="width: 51px; height: 20px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="inboxItemText x-layout-box-item x-flexed x-stretched" id="ext-component-73"
            style="padding: 0px 5px !important; -webkit-box-flex: 1;">
            <div class="x-innerhtml " id="ext-element-201">
                03 Feb 2013: 123</div>
        </div>
    </div>
</div>
