﻿<div class="x-container x-unsized x-data-item x-list-item-body" id="ext-enquiryresponselistitem-2">
    <div class="x-inner x-data-item-inner x-horizontal x-align-start x-pack-start x-layout-box"
        id="ext-element-555">
        <div class="x-layout-box-item x-stretched" id="ext-component-150">
        </div>
        <div class="inboxItemText x-layout-box-item x-flexed x-stretched" id="ext-component-151"
            style="padding: 0px 5px !important; -webkit-box-flex: 1;">
            <div class="x-innerhtml " id="ext-element-556">
                02 Feb 2013</div>
        </div>
    </div>
</div>
