﻿@model ASB_UI.ViewModels.Dashboard.SubViewModels.DasboardCase
@{ 
    string DateFormatModel = ViewBag.DefDateFormatForModel;
}
<div id="tblGrid" class="col-xs-12 no-padding-sides">
    <table class="col-xs-12" id="tblOpenCases">
        <thead>
            <tr>
                <th>Date Logged:</th>
                <th>Address:</th>
                <th>Postcode:</th>
                <th>Case Officer:</th>
                <th>Stage:</th>
                <th>Type:</th>
                <th>Risk:</th>
                @if (Model.Cases.Count() > 0)
                {
                    if (Model.Cases.ToList()[0].caseStatus == "Open")
                    {
                        <th></th>
                    }
                }
                
            </tr>
        </thead>
        <tbody>
            @foreach (var caseItem in Model.Cases)
            {
                <tr data-case="@caseItem.caseId" style="cursor:pointer !important;">
                    <td class="ViewCase">@string.Format(DateFormatModel, @caseItem.DateLogged)</td>
                    <td class="ViewCase"><u>@caseItem.address</u></td>
                    <td class="ViewCase">@caseItem.postCode</td>
                    <td class="ViewCase">@caseItem.asbCaseOfficer</td>
                    <td class="ViewCase">@caseItem.Stage</td>
                    <td class="ViewCase">@caseItem.asbIncidentType</td>
                    <td class="ViewCase">@caseItem.asbRiskLevel</td>
                    @if (caseItem.caseStatus == "Open")
                    {
                        <td style="margin-right:3px;">
                            <a href="javascript:void(0)" onclick="AmendCases(@caseItem.caseId)">
                                <img src="~/Images/arrow.png" style="width:15px;height:15px;">
                            </a>
                        </td>
                    }
                    
                </tr>
            }
        </tbody>
    </table>

    @if (Model.Cases.Count() != 0)
    {
        <div class="col-xs-12">
            @{Html.RenderPartial("~/Views/Shared/_PartialPager.cshtml", Model.Paging);}
        </div>
                }
</div>
