﻿@model ASB_UI.ViewModels.Dashboard.DashboardViewModel

    <div class="col-xs-4 min-padding-sides">
        @Html.DropDownListFor(
                    x => x.CategoryId,
                    new SelectList(Model.Categories, "key", "value", ViewBag.CategoryId),
                    "Select Vulnerability", new { @class = "no-padding-sides col-xs-12" })
    </div>
    <div class="col-xs-4 min-padding-sides">
        @Html.DropDownListFor(
                    x => x.RiskLevelId,
                    new SelectList(Model.RiskLevels, "key", "value", ViewBag.RiskLevelId),
                    "Select Risk Level", new { @class = "no-padding-sides col-xs-12" })
    </div>
    <div class="col-xs-4 min-padding-sides">
        @Html.DropDownListFor(
                    x => x.CaseOfficerId,
                    new SelectList(Model.CaseOfficers, "key", "value", ViewBag.CaseOfficerId),
                    "Select Case Officer", new { @class = "no-padding-sides col-xs-12" })
    </div>
