﻿@*@using Jmelosegui.Mvc.GoogleMap*@

@{
    int count = ViewBag.Addresses.Length;
}

<div style="padding:0 10px 0 10px; font-weight:bold;">
    <div>
        <p class="map-title">Open Cases:</p>
    </div>
    <div id="dvMap" style="min-height:400px;">

    </div>
</div>
<script>

    // delay between geocode requests - at the time of writing, 100 miliseconds seems to work well
    var delay = 2;


    // ====== Create map objects ======
    var infowindow = new google.maps.InfoWindow();
    var latlng = new google.maps.LatLng(52.630886, 1.297355);
    var mapOptions = {
        zoom: 8,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var geo = new google.maps.Geocoder();
    var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
    var bounds = new google.maps.LatLngBounds();

    // ====== Geocoding ======
    function getAddress(search, next, type) {
        geo.geocode({ address: search }, function (results, status) {
            // If that was successful
            if (status == google.maps.GeocoderStatus.OK) {
                // Lets assume that the first marker is the one we want
                var p = results[0].geometry.location;
                var lat = p.lat();
                var lng = p.lng();
                // Output the data
                var msg = 'address="' + search + '" lat=' + lat + ' lng=' + lng + '(delay=' + delay + 'ms)<br>';
                //document.getElementById("messages").innerHTML += msg;
                // Create a marker
                createMarker(search, type, lat, lng);
            }
                // ====== Decode the error status ======
            else {
                // === if we were sending the requests to fast, try this one again and increase the delay
                if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
                    nextAddress--;
                    delay++;
                } else {
                    var reason = "Code " + status;
                    var msg = 'address="' + search + '" error=' + reason + '(delay=' + delay + 'ms)<br>';
                    //document.getElementById("messages").innerHTML += msg;
                }
            }
            next();
        }
        );
    }

    // ======= Function to create a marker
    function createMarker(add, typ, lat, lng) {
        var contentString = add;
        var icon = "grey";
        switch (typ) {
            case "High":
                icon = "red";
                break;
            case "Low":
                icon = "green";
                break;
            case "Medium":
                icon = "orange";
                break;
        }
        icon = "http://maps.google.com/mapfiles/ms/icons/" + icon + ".png";
        
        animation: google.maps.Animation.DROP
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(lat, lng),
            map: map,
            title: add,
            icon: icon,
            zIndex: Math.round(latlng.lat() * -100000) << 5,
            animation: google.maps.Animation.DROP
        });

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.setContent(contentString);
            infowindow.open(map, marker);
        });

        bounds.extend(marker.position);

    }

    // ======= An array of locations that we want to Geocode ========
    var addresses = @Html.Raw(Json.Encode(@ViewBag.Addresses));
    var types = @Html.Raw(Json.Encode(@ViewBag.Types));

    // ======= Global variable to remind us what to do next
    var nextAddress = 0;

    // ======= Function to call the next Geocode operation when the reply comes back

    function theNext() {
        if (nextAddress < addresses.length) {
            setTimeout('getAddress("' + addresses[nextAddress] + '",theNext , "' + types[nextAddress] + '")', delay);
            nextAddress++;
        } else {
            // We're done. Show map bounds
            map.fitBounds(bounds);
        }
    }

    // ======= Call that function for the first time =======
    theNext();

    @*var map;
    var address;
    var types;
    var nextAddress = 0;
    jQuery(function ($) {
        //$(document).on('ready', function(){
        $.noConflict();
        Init();
    });

    function Init()
    {
        //var latlng = new google.maps.LatLng( 52.630886, -0.4573616 );	// London, UK
       // var mapOptions = { zoom: 12, center: latlng  };

       // map = new google.maps.Map(document.getElementById('dvMap'), mapOptions);
        //ShowLocation();

        address = @Html.Raw(Json.Encode(@ViewBag.Addresses));
        types = @Html.Raw(Json.Encode(@ViewBag.Types));
        addMarkers(address, types);
    }

    function loadDefaultMap(lat, lng, index) {
        var mapOptions = {
            center: new google.maps.LatLng(lat, lng),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var infoWindow = new google.maps.InfoWindow();
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
    }


    function addMarkers(addressArray, typesArray) {

        var mapOptions = {
            center: new google.maps.LatLng(52.630886, 1.297355),
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

        var markers;
        //console.log(addressArray[j], typesArray[j])
        if (addressArray.length > 0)
        {
            for (j = 0; j < typesArray.length; j++) {
                getGeoLocationAndSetMarker(addressArray[j], typesArray[j], map);
            }

        }
        else
        {
            //Load default map with UK-London location
            loadDefaultMap(52.630886, 1.297355, -1);
        }
    }

    function getGeoLocationAndSetMarker(addressData,typeData, map) {
        var bounds = new google.maps.LatLngBounds();
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': addressData }, function (results, status) {
            
            if (status == google.maps.GeocoderStatus.OK)
            {
                var lat = results[0].geometry.location.lat();
                var lng = results[0].geometry.location.lng();
                var myLatlng = new google.maps.LatLng(lat, lng);
                //alert(myLatlng+"</br>");
                if (myLatlng != '') {
                    setupMarker(map, myLatlng, addressData, typeData);
                }
            }
        });

    }


    function setupMarker(map, location, addressData, typeData) {

        var infoWindow = new google.maps.InfoWindow();
        var icon = "grey";
        var marker;
        switch (typeData) {
            case "High":
                icon = "red";
                break;
            case "Low":
                icon = "green";
                break;
            case "Medium":
                icon = "orange";
                break;
        }
        icon = "http://maps.google.com/mapfiles/ms/icons/" + icon + ".png";
        marker = new google.maps.Marker({
            position: location,
            map: map,
            title: addressData,
            icon: icon,
            animation: google.maps.Animation.DROP
        });
       // console.log(location + " " + typeData);
        (function (marker, addressData,typeData) {
            google.maps.event.addListener(marker, "click", function (e) {
                infoWindow.setContent("<b>" + addressData + "</b><br>"+typeData);
                infoWindow.open(map, marker);
            });
        })(marker, addressData,typeData);
        //(function (marker, data) {
        //    google.maps.event.addListener(marker, "click", function (e) {
        //        __doPostBack("<%=btnJobSheet.UniqueID %>", data.JSN);
        //    });
        //})(marker, data);

    }*@

</script>
