﻿@model  ASB_UI.Models.WebAPILayer.BusinessObjects.DashboardAlert


<div class="col-xs-4 min-padding-sides margin-top-8px">
    <div class="dashboard-alert-box">
        <p class="text-center" style="color:white; font-weight:bold; margin-top:5px !important;">Open Cases:</p>
        <p class="text-center" style="color:red; font-size:55px; padding:0px; margin:0; cursor:pointer;" id="openCasesCount">
            @Model.openCaseCount
        </p>
        <input type="hidden" value="@(Model.IsOpenCase.ToString())" id="opencasesFlag" />
        <img src="~/Images/r-arrow.png" style="float:right; margin-right:8px; cursor:pointer !important;" id="OpenCasesReport"/>
    </div>
</div>
<div class="col-xs-4 min-padding-sides margin-top-8px">
    <div class="dashboard-alert-box">
        <p class="text-center" style="color:white; font-weight:bold;font-size: 13px; margin-top:5px !important;">High Risk Cases:</p>
        <p class="text-center" style="color:red; font-size:55px; padding:0px; margin:0; cursor:pointer;" id="highRiskCasesCount">
            @Model.highRiskCasesCount
        </p>
        <input type="hidden" value="@(Model.IsHighRisk.ToString())" id="highriskFlag" />
        <img src="~/Images/r-arrow.png" style="float:right; margin-right:8px; cursor:pointer !important;" id="HighRiskCasesReport"/>
    </div>
</div>
<div class="col-xs-4 min-padding-sides margin-top-8px">
    <div class="dashboard-alert-box-red">
        <p class="text-center" style="color:white; font-weight:bold; margin-top:8px !important;">Overdue:</p>
        <p class="text-center" style="color:white; font-size:55px; padding:0px; margin:0;cursor: pointer;" id="overdueCasesCount">
            @Model.overdueCasesCount
        </p>
        <input type="hidden" value="@(Model.IsOverdue.ToString())" id="overdueFlag"/>
        <img src="~/Images/r-arrow.png" style="float:right; margin-right:8px; cursor:pointer !important;" id="OverdueCasesReport"/>
    </div>
</div>

