﻿@model ASB_UI.ViewModels.Dashboard.DashboardViewModel

@{
    ViewBag.Title = "ASB-Dashboard";
    string func = Model.DashboardOpenCases.Paging.FunctionName;
    int openCases = Model.DashboardOpenCases.Cases.Count();
    string dateFormat = ViewBag.DefDateFormat;
}

<div id="dashboardView">
    <div class="col-xs-7 no-padding-left" style="padding-bottom:20px;">
        <div id="ddParent" class="col-xs-12 no-padding-sides">
            @Html.Partial("~/Views/Dashboard/_PartialFilters.cshtml")
        </div>
        
        <div class="col-xs-12 no-padding-sides">
            @Html.Partial("~/Views/Dashboard/_PartialAlerts.cshtml", Model.Alerts)
        </div>
        <div class="clearfix"></div>
        <div class="row" style="background-color:#000; margin:8px; padding:5px;">
            <div id="openCases" class="pull-left" style="color:white; font-weight:bold;cursor:pointer !important; margin-top: 3px;">Open Cases:</div>
            <div class="pull-left" style="color:white; font-weight:bold;cursor:default">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div id="closedCases" class="pull-left" style="color:grey; font-weight:bold;cursor:pointer !important; margin-top: 3px;">Closed Cases:</div>
            <button type="button" class="pull-right" id="CreateNewCase">Create New Case</button>
            <div id="SearchCompPrep" class="pull-right" style="margin-right:20px; margin-top:3px; margin-right:4px;">         
                    <input type="text" id="CompPrepName" class="Textbox-full-width" placeholder="Search" />
            </div>
            
           
        </div>
        <div class="clearfix"></div>
        <div id="OpenCasesTable" class="col-xs-12 min-padding-sides">
            @Html.Partial("~/Views/Dashboard/_PartialOpenCases.cshtml", Model.DashboardOpenCases)
        </div>
    </div>
    <div class="col-xs-5 no-padding-sides">
        @Html.Partial("~/Views/Dashboard/_PartialMap.cshtml")
    </div>
</div>
<div class="col-xs-12 progress-dialog" style="display:none;" id="progress-dashboard">
    <img src='@Url.Content("~/Images/progress.gif")' />
</div>

<script type="text/javascript">
    var _personId;
    var _personType;
    function On@(func)PageNumberClick(pgNum, pgSize) {
        var action = '@Url.Action("Dashboard")';
        var catid = $("#CategoryId").val();
        var caseOfficerId = $("#CaseOfficerId").val();
        var risk = $("#RiskLevelId").val();
        var tabcolor=$("#openCases").css("color");
        var openclose=true;
        if(tabcolor!="rgb(255, 255, 255)")
        {
            openclose=false;
        }
        var overduefilter = ($("#overdueFlag").val() === "False") ? false : true;
        var highriskfilter = ($("#highriskFlag").val() === "False") ? false : true;
        //var overdue =  @Html.Raw(Json.Encode(Model.Alerts.IsOverdue));
        $.ajax({
            url: action,
            cache:false,
            data: {
                overdue: overduefilter,
                catId: catid,
                riskId: risk,
                officerId: caseOfficerId,
                pageNumber: pgNum,
                pageSize: pgSize,
                highrisk: highriskfilter,
                openOrClose: openclose,
                personId: _personId,
                personType: _personType
            },
            beforeSend: function(){
                $('#progress-dashboard').show();
            },
            dataType: 'html',
            success: function (data) {
                $('#progress-dashboard').hide();
                var tabcolor=$("#openCases").css("color");
                var openclose=true;
                if(tabcolor!="rgb(255, 255, 255)")
                {
                    openclose=false;
                }
                $("#dashboardView").html(data);
                if(openclose==false)
                {
                    $("#openCases").css("color","grey");
                    $("#closedCases").css("color","white");
                }
                else{
                    $("#openCases").css("color","white");
                    $("#closedCases").css("color","grey");
                }
            },
            error: function()
            {
                $('#progress-dashboard').hide();
                alert("Error occured while page navigation.");
            }
        });
    }

    function AmendCases(AmendCaseid)
    {
        //console.log(AmendCaseid);
        var action = '@Url.Action("AmendCaseWithDetail", "Cases")';
        var caseid = AmendCaseid;
        $.ajax({
            url: action,
            data: {
                caseId: caseid
            },
            dataType: 'html',
            beforeSend: function()
            {
                $('#progress-dashboard').show();
            },
            success: function (data) {
                $('#progress-dashboard').show();
                $("#detailContainer").html(data);
                $("#DashboardLink").removeClass('active');
            }
        });
    }

    $(document).on('ready', function () {

        $("#closedCases").on('click', function (e) {
            $("#closedCases").css("color","white");
            $("#openCases").css("color","grey");
            var riskid = $("#RiskLevelId").val();
            var caseOfficerId = $("#CaseOfficerId").val();
            var catid = $(this).val();
            UpdateDashboard(false, catid, riskid, caseOfficerId, false, false,false, null, null);

        });
        $("#openCases").on('click', function (e) {
            $("#closedCases").css("color","grey");
            $("#openCases").css("color","white");
            var riskid = $("#RiskLevelId").val();
            var caseOfficerId = $("#CaseOfficerId").val();
            var catid = $(this).val();
            UpdateDashboard(false, catid, riskid, caseOfficerId, false, false,true, null, null);

        });
        $("#CategoryId").on('change', function (e) {
            var url = '@Url.Action("Dashboard")';
            var tabcolor=$("#openCases").css("color");
            var openclose=true;
            if(tabcolor!="rgb(255, 255, 255)")
            {
                openclose=false;
            }
            var riskid = $("#RiskLevelId").val();
            var caseOfficerId = $("#CaseOfficerId").val();
            var catid = $(this).val();
            UpdateDashboard(false, catid, riskid, caseOfficerId, false, false,openclose, _personId, _personType);
        });
        $("#RiskLevelId").change(function (e) {
            var url = '@Url.Action("Dashboard")';
            var tabcolor=$("#openCases").css("color");
            var openclose=true;
            if(tabcolor!="rgb(255, 255, 255)")
            {
                openclose=false;
            }
            var catid = $("#CategoryId").val();
            var caseOfficerId = $("#CaseOfficerId").val();
            var riskid = $(this).val();
            UpdateDashboard(false, catid, riskid, caseOfficerId, false, false,openclose, _personId, _personType);
        });
        $("#CaseOfficerId").change(function (e) {
            var url = '@Url.Action("Dashboard")';
            var tabcolor=$("#openCases").css("color");
            var openclose=true;
            if(tabcolor!="rgb(255, 255, 255)")
            {
                openclose=false;
            }
            var catid = $("#CategoryId").val();
            var riskid = $("#RiskLevelId").val();
            var caseOfficerId = $(this).val();

            UpdateDashboard(false, catid, riskid, caseOfficerId, false, false,openclose, _personId, _personType);
        });
        function selectComplainentPreperator(personId, _personType)
        {
            //console.log("inside select");
            var url = '@Url.Action("Dashboard")';
            var tabcolor=$("#openCases").css("color");
            var openclose=true;
            if(tabcolor!="rgb(255, 255, 255)")
            {
                openclose=false;
            }
            var catid = $("#CategoryId").val();
            var riskid = $("#RiskLevelId").val();
            var caseOfficerId = $("#CaseOfficerId").val();
            //console.log("inside select");
            UpdateDashboard(false, catid, riskid, caseOfficerId, false, false,openclose, _personId, _personType);
        }
        $("#CreateNewCase").on('click', function () {
            var action = '@Url.Action("Cases","Cases")';
            $.ajax({
                url: action,
                dataType: 'html',
                cache: false,
                beforeSend: function(){
                    $('#progress-dashboard').show();
                },
                success: function (data) {
                    $("#detailContainer").html(data);
                    $(".navigation li > a").removeClass('active');
                    $(".navigation li a#CasesLink").addClass('active');
                    $('#progress-dashboard').hide();
                }
            });
        });

        $("#openCasesCount").on('click', function () {
            //Show all cases
            var tabcolor=$("#openCases").css("color");
            var openclose=true;
            if(tabcolor!="rgb(255, 255, 255)")
            {
                openclose=false;
            }
            var catid = $("#CategoryId").val();
            var riskid = $("#RiskLevelId").val();
            var caseOfficerId = $("#CaseOfficerId").val();
            UpdateDashboard(false, catid, riskid, caseOfficerId, true, false, openclose, _personId, _personType);
        });
        $("#highRiskCasesCount").on('click', function () {
            var tabcolor=$("#openCases").css("color");
            var openclose=true;
            if(tabcolor!="rgb(255, 255, 255)")
            {
                openclose=false;
            }
            var catid = $("#CategoryId").val();
            var riskid = $("#RiskLevelId").val();
            var caseOfficerId = $("#CaseOfficerId").val();
            //var overduefilter = ($("#overdueFlag").val() === "False") ? false : true;
            //UpdateDashboard(overduefilter, catid, riskid, caseOfficerId, false, true);
            UpdateDashboard(false, catid, riskid, caseOfficerId, false, true, openclose, _personId, _personType);
        });
        $("#overdueCasesCount").on('click', function () {
            var tabcolor=$("#openCases").css("color");
            var openclose=true;
            if(tabcolor!="rgb(255, 255, 255)")
            {
                openclose=false;
            }
            var catid = $("#CategoryId").val();
            var riskid = $("#RiskLevelId").val();
            var caseOfficerId = $("#CaseOfficerId").val();
            //var highriskfilter = ($("#highriskFlag").val() === "False") ? false : true;
            //UpdateDashboard(true, catid, riskid, caseOfficerId, false, highriskfilter);
            UpdateDashboard(true, catid, riskid, caseOfficerId, false, false, openclose, _personId, _personType);
        });
        //When clicked on Table Row, open case detail
        //$(document).off('click', "#tblOpenCases tbody tr").on('click', "#tblOpenCases tbody tr", function (e) {
        //$("#tblOpenCases tbody tr").on('click', function (e) {
        $(".ViewCase").on('click', function (e) {
            e.preventDefault();
            var caseid =  parseInt($(this).parent("tr").attr('data-case'));
            $.ajax({
                url: '@Url.Action("AmendCase", "Cases")',
                data: { caseId: caseid},
                dataType: 'html',
                cache: false,
                beforeSend: function(){
                    $('#progress-dashboard').show();
                },
                success: function (data) {
                    $("#detailContainer").html(data);
                    $(".navigation li > a").removeClass('active');
                    $(".navigation li a#CasesLink").addClass('active');
                    $('#progress-dashboard').hide();
                }
            });
            return false;
        });
        /// <summary>
        /// Updates Dashboard view
        /// </summary>
        /// <param name="category" type="int">Category ID</param>
        /// <param name="risk" type="int">Risk ID</param>
        /// <param name="officer" type="int">Officer ID</param>
        /// <param name="open" type="bool">True when clicked on Open Cases Alert</param>
        /// <param name="high" type="bool">True when clicked on High Cases Alert</param>
        /// <param name="over"type="bool">True when clicked on Overdue Cases Alert</param>
        function UpdateDashboard(over,category, risk, officer, open, high, openclose, personId, personType) {
            //console.log("inside update");
            $("#progress-dashboard").show();
            var URL = '@Url.Action("Dashboard")';
            var catid = category;
            var caseOfficerId = officer;
            var riskid = risk;
            $.ajax({
                url:URL,
                dataType: 'html',
                cache: false,
                data:{
                    overdue: over,
                    catId: catid,
                    riskId: riskid,
                    officerId: caseOfficerId,
                    highrisk: high,
                    openOrClose: openclose,
                    personId: personId,
                    personType: personType
                },
                success:function (result) {
                    $("#progress-dashboard").hide();
                    var tabcolor=$("#openCases").css("color");
                    var openclose=true;
                    if(tabcolor!="rgb(255, 255, 255)")
                    {
                        openclose=false;
                    }
                    $("#dashboardView").html(result);
                    if(openclose==false)
                    {
                        $("#openCases").css("color","grey");
                        $("#closedCases").css("color","white");
                    }
                    else{
                        $("#openCases").css("color","white");
                        $("#closedCases").css("color","grey");
                    }
                }
            });
        }

        $("#OpenCasesReport").on('click',function(){
            var caseOfficerId = $("#CaseOfficerId").val();
            var catid = $("#CategoryId").val();
            var riskid = $("#RiskLevelId").val();
            var tabcolor=$("#openCases").css("color");
            var openclose=1;
            if(tabcolor!="rgb(255, 255, 255)")
            {
                openclose=2;
            }
            OpenReports(catid,openclose, 0,0,caseOfficerId);
        });
        $("#HighRiskCasesReport").on('click',function(){
            var caseOfficerId = $("#CaseOfficerId").val();
            var catid = $("#CategoryId").val();
            var riskid = $("#RiskLevelId").val();
            var tabcolor=$("#openCases").css("color");
            var openclose=1;
            if(tabcolor!="rgb(255, 255, 255)")
            {
                openclose=2;
            }
            if(parseInt(riskid)>0)
            {
                OpenReports(catid, openclose, riskid,0, caseOfficerId);
            }
            else{
                OpenReports(catid, openclose, 3,0, caseOfficerId);
            }
        });
        $("#OverdueCasesReport").on('click',function(){
            var caseOfficerId = $("#CaseOfficerId").val();
            var catid = $("#CategoryId").val();
            //var riskid = $("#RiskLevelId").val();
            var tabcolor=$("#openCases").css("color");
            var openclose=1;
            if(tabcolor!="rgb(255, 255, 255)")
            {
                openclose=2;
            }
            OpenReports(catid, openclose, 0, true, caseOfficerId);
        });
        
        $("#CompPrepName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("SearchCompPrep", "Dashboard")',
                    type: "POST",
                    dataType: "json",
                    data: {
                        input: request.term,
                    },
                    success: function (data) {
                        var a = $.map(data, function (item) {
                            personId = item.PersonId;
                            personType = item.personType;
                            return {
                                label: item.PersonName,
                                value: item.PersonName,
                                data: item
                            };
                        });
                        response(a);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                //console.log("rehan");
                _personId = ui.item.data.PersonId;
                _personType = ui.item.data.personType;
                selectComplainentPreperator(parseInt(_personId), _personType);
            }
        });
        function OpenReports(category, openCases, risk, overdue, officer){
            var URL = '@Url.Action("Report", "Report")';
            $.ajax({
                url: URL,
                data:{
                    catId: category,
                    caseStatus:openCases,
                    riskId:risk,
                    isOverdue: overdue,
                    caseOfficer: officer
                },
                beforeSend: function()
                {
                    $("#progress").show();
                },
                success: function(data)
                {
                    $("#detailContainer").html(data);
                    $("#progress").hide();
                    $("#ReportsLink").addClass('active');
                    $("#DashboardLink").removeClass('active');
                    $("#CaseManagementMenuSection").show();
                }
            });
        }
    });
</script>
