﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/Planned.Master" CodeBehind="ComponentAccounting.aspx.vb" Inherits="PlannedMaintenance.ComponentAccounting" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<h2>Component Accounting: Currently not available</h2>
</asp:Content>
