﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/Planned.Master" CodeBehind="ConditionMoreDetail.aspx.vb" Inherits="PlannedMaintenance.ConditionMoreDetail" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<h2>Condition More Detail: Currently not available</h2>
</asp:Content>

