﻿.hidden 
{
    display: none !important;
}

.update-postatus-select {
    float: left;
    width: 200px;
}

.update-postatus-select span 
{
    font-weight: bold;
}

.update-postatus-upload 
{
    float: left;
     margin-top: 2px; 
     margin-left: 10px;
}

.update-postatus-text 
{
    float: left;
    width: 320px;  
    margin-left: 10px;  
    margin-top: 2px;  
}

.update-postatus-text span 
{
    float: left;
    font-weight: bold;
}

.update-postatus-text textarea 
{
    float: left;
}

.left-container
{
    margin: 0 5%;
    width: 200px;
}

.right-container
{
    float: left;
    margin: 0 5%;
    width: 280px;
	border:1px solid #000;
}

.upload_btn 
{
    float: right;
}

.upload_field 
{
    float: left;
    margin-left: 2px;
}

.hand-cursor 
{
    cursor: pointer;
}
.text-boxes
{
    margin-top: 1px;
    margin-left: 10px;
    float:left;
    font-weight:bold;
    font-size: 10PX;
    font-family: Verdana, Arial;
}

.text-area
{
 
    margin-left: 33px;
    font-size: 10PX;
    font-family: Verdana, Arial;
}
.box-label
{
   margin-left: 12px;
   width: 120px;
   
}
.submit-button
{
   float: right;
   margin-right: 15px;
   margin-top: 2px; 
   margin-bottom:4px; 
}