﻿@model BHGHRModuleWeb.ViewModels.JournalGridViewModel
@{
    string searchText = ViewBag.searchText;
    string pageText = ViewBag.pageText;
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize);
    if (Model.employeeList != null && Model.employeeList.Count > 0)
    {
        grid.Bind(Model.employeeList, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
    }
}

@if (Model.employeeList != null && Model.employeeList.Count > 0)
{
    <div class="row padding-bottom"></div>
    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "creationDate", header: "Created:"),
        grid.Column(columnName: "lastActionDate", header: "Updated:"),
        grid.Column(columnName: "item", header: "Item:"),
        grid.Column(columnName: "nature", header: "Nature:"),
        grid.Column(columnName: "title", header: "Title:"),
        grid.Column(columnName: "notes", header: "Notes:"),
        grid.Column(columnName: "status", header: "Status:"),
        grid.Column(header: "", format:@<text>
            @if (item.doiStatus != "-")
            {
                if (item.doiStatus == "Approved" && item.nature == "Submitted")
                {
                    <a class="pull-right" href="#">
                        <img src="~/Content/Images/aero.png" width="22" />
                    </a>
                }
                else if (item.doiStatus == "Approved")
                {
                    <a target="_blank" class="pull-right" href="@item.documentPath">
                        <img src="~/Content/Images/aero.png" width="22" />
                    </a>
                }
                else if (item.doiStatus == "Pending Review")
                {
                    <input class="pull-right edit-arrow btnDeclaration" type="button" data-url="@Url.Action("Interest", "PersonalDetail", new {  id = item.employeeId })" />
                }
                else if (item.doiStatus == "Submitted")
                {
                    <a class="pull-right" href="#">
                        <img src="~/Content/Images/aero.png" width="22" />
                    </a>
                }
            }
            else if (item.item == "Gift & Hospitality")
            {
                <input class="pull-right edit-arrow" type="button" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, activeTab = "mnuMyStaff", isGift = true, itemId = item.itemId })'">
            }
            else
            {
                <input class="pull-right edit-arrow" type="button" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new {  id = item.employeeId ,redirectTab = item.redirectTab })'">
            }
           
        </text>)
    ))
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div id="gridPager" class="space-box col-md-8">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
            </div>
            <div id="" class="col-md-1">
                <div class="row">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();", })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Date:</th>
                <th>Item:</th>
                <th>Nature:</th>
                <th>Title:</th>
                <th>Notes:</th>
                <th>Status:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="7" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();", })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("SearchJournal", "Journal", new { id = ViewContext.RouteData.Values["id"] })' + queryString;
        $("#webgrid").load(requestUrl);
    }

    (function () {
        $("#webgrid a.__page__").on('click', function (event) {
            loadGridEvents(event, this);
        });
        $(".wedgrid-header a").on('click', function (event) {
            loadGridEvents(event, this);
        });
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');

        $('.btnDeclaration').on('click', function () {
            var url = $(this).data('url');
            $('#divContainer').load(url);
        })
    })();

    var typingTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example
    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var requestUrl =
           '@Url.Action("SearchJournal", "Journal", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtPageNo").val() + '&fromDate=' + $("#fromDate").val() + '&toDate=' + $("#toDate").val() + '&itemType=' + $("#ddlitemType").val();
        $("#webgrid").load(requestUrl);
    }

</script>
