﻿@model BHGHRModuleWeb.ViewModels.JournalGridViewModel

<div class="row padding-bottom"></div>
<div class="panel panel-default">
    <div class="panel-heading" style="padding:10px 0;">
        @using (Html.BeginForm("ExportData", "Journal", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-8 col-xs-12 padding-bottom">
                    <div class="col-md-4 col-xs-12 padding-bottom-5">
                        <span class="pull-left" style="width:20%">@Html.LabelFor(m => m.fromDate)</span>
                        @Html.HiddenFor(m => m.employeeId, 0)
                        @Html.TextBoxFor(m => m.fromDate, "dd/mm/yyyy", new { id = "fromDate", @class = "DatePicker form-control", @style="width:65%;" })
                    </div>
                    <div class="col-md-4 col-xs-12 padding-bottom">
                        <span class="pull-left" style="width:20%">@Html.LabelFor(m => m.toDate)</span>
                        @Html.TextBoxFor(m => m.toDate, "dd/mm/yyyy", new { id = "toDate", @class = "DatePicker form-control", @style = "width:65%;" })
                    </div>
                    <div class="col-md-4 col-xs-12">
                        @Html.DropDownListFor(m => m.itemType, new SelectList(Model.itemTypes, "Value", "Text"), "All Item Types", new { @class = "form-control", id = "ddlitemType" })
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="col-md-12">
                        <input class="btn btn-gray btn-xs pull-right" id="btnSave" type="button" name="" value='Build Journal' />
                        <input style="margin-right:10px;" class="btn btn-gray btn-xs pull-right" id="btnSaveXLS" type="submit" name="" value='Export XLS' />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr />
            </div>
        }
    </div>
    <div class="panel-body">
        <div class="row">
            <div id="webgrid">
                @Html.Partial("~/Views/Employees/Journal/_JournalGrid.cshtml", Model)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    (function () {
        loadDatePicker();

    })();

    $("#btnSave").click(function () {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("SearchJournal", "Journal", new { id = ViewContext.RouteData.Values["id"] })',
            type: 'GET',
            data: {
                fromDate: $('#fromDate').val(),
                toDate: $('#toDate').val(),
                itemType: $('#ddlitemType').val()
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html(resp);
                }
            }
        });
    });

</script>
