﻿<%@ Page Title="" Language="C#" MasterPageFile="~/masterpages/AMMasterPage.Master" AutoEventWireup="true" CodeBehind="User.aspx.cs" Inherits="Am.Ahv.Website.secure.resources.User" %>

<%@ MasterType VirtualPath="~/masterpages/AMMasterPage.Master" %>
<%@ Register Src="~/controls/casemgt/AddCaseWorker.ascx" TagName="AddCaseWorker" TagPrefix="uc1" %>
<%@ Register src="~/controls/resources/Users.ascx" tagname="Users" tagprefix="uc2" %>
<%@ Register src="~/controls/resources/Action.ascx" tagname="Action" tagprefix="uc3" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <%--<asp:UpdatePanel ID="updPnlUsers"  UpdateMode="Conditional" runat="server">
    <ContentTemplate>  --%>  
<table >
        <tr>
            <td valign="top">
            
                <asp:UpdatePanel ID="updpnlUsers" UpdateMode="Conditional"  runat="server">
                    <ContentTemplate>
                     <asp:Panel ID="pnlUsers" runat="server" Height="471px">
                        <uc2:Users ID="Users1" runat="server" />
                        </asp:Panel>
                    </ContentTemplate>
                </asp:UpdatePanel>
               
            </td>
            <td valign="top">
                <asp:UpdatePanel ID="updpnlAddCaseWorker" runat="server">
                    <ContentTemplate>
                        <asp:Panel ID="testpanel" runat="server">
                            <uc1:AddCaseWorker ID="AddCaseWorker1" runat="server" />
                            <asp:Label ID="lblflagvalue" runat="server" Visible="false"></asp:Label>
                        </asp:Panel>
                    </ContentTemplate>
                </asp:UpdatePanel>
                
            </td>
        </tr>
    </table>
   <%-- </ContentTemplate>
    </asp:UpdatePanel>--%>
</asp:Content>
