﻿body {
}

.caption {
	font-family: Verdana, Arial;
	font-size: 10pt;
	color: #000000;
	display:inline;
}

.textbox150 {
	width:150px;
	FONT-SIZE: 10px; 
	FONT-FAMILY: Verdana, Arial;
	border: 1px solid #133e71;
}