﻿@model  BHGHRModuleWeb.ViewModels.DocumentGridViewModel
@{
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize, canSort:true);
    grid.Bind(Model.documentList, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
}

@if (Model.documentList != null && Model.documentList.Count > 0)
{
    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "createdDate", header: "Date Added:"),
        grid.Column(columnName: "createdByName", header: "By:"),
        grid.Column(columnName: "documentType", header: "Type:"),
        grid.Column(columnName: "title", header: "Title:"),
        grid.Column(columnName: "documentDate", header: "Document:"),
        grid.Column(columnName: "documentExpiry", header: "Expiry:"),
        grid.Column(null, null, format: @<input type="hidden" name="createdBy" value="@item.createdBy" />),
        grid.Column(null, null, format: @<input type="hidden" name="createdByName" value="@item.createdByName" />),
        grid.Column(null, null, format: @<input type="hidden" name="documentPath" value="@item.documentPath" />),
        grid.Column(header: "", style: "width-47 td-padding-right-0", format:@<text>
            <img src="~/Content/Images/delete.png" data-id="@item.documentId" class="delete-document" style="margin-right: 0; padding-top: 0;" width="17" data-toggle="modal" data-target="#confirm-delete" />
            <a download target="_blank" href="@item.documentPath">
                <img src="~/Content/Images/aero.png" data-id="@item.documentId" width="22" />
            </a>
            @*<input class="pull-right edit-arrow" type="button" onclick="location.href=@item.documentPath">*@
        </text>)

    ))

    <div class="panel-footer">
        <div class="row">
            <div id="gridPager" class="space-box col-md-9" style="margin-left:0px;padding-left:0px">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
            </div>
            <div id="" class="col-md-3">
                Page:@Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtpageText", onkeyup = "TypingPageInterval();"})
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Date Added:</th>
                <th>By:</th>
                <th>Type:</th>
                <th>Title:</th>
                <th>Document:</th>
                <th>Expiry:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="7" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtpageText", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("SearchDocument", "Documents",new { id = ViewContext.RouteData.Values["id"] })' + queryString;//+ "?searchText=" + $('#txtSearchText').val();

        $("#webgrid").load(requestUrl);
    }

    (function () {
        $("#webgrid a.__page__").on('click', function (event) {
            loadGridEvents(event, this);
        });

        $(".wedgrid-header a").on('click', function (event) {
            loadGridEvents(event, this);
        });

        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
    })();

    $("#webgrid .delete-document").click(function (index) {
        deleDoc = $(this).data('id');
        $('#confirm-delete').modal('show');
    });

    var typingTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example
    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var requestUrl = '@Url.Action("SearchDocument", "Documents", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtpageText").val();
        $("#webgrid").load(requestUrl);
    }

</script>