﻿@model BHGHRModuleWeb.ViewModels.DocumentViewModel
@{
    ViewBag.Title = "Benefits";
    Layout = null;
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.OnFailure = "OnFailureDocument";
    options.OnSuccess = "OnSuccessDocument";
    options.UpdateTargetId = "msg";

    // all feilds are readonly when user view his own profile
    var isMyJob = false;
    var isDisabled = "false";

    if (Session["Module"] != null && Session["Module"].ToString() == "MyJob")
    {
        isMyJob = true;
    }

    var isTeam = false;
    if (TempData.ContainsKey("isTeam"))
    {
        isTeam = bool.Parse(TempData["isTeam"].ToString());
    }
    TempData.Keep("isTeam");

    if (isMyJob)
    {
        isDisabled = "true";
    }

    if (isTeam)
    {
        isDisabled = "false";
    }
}

<div class="row padding-bottom"></div>
<div class="row">
    <div class="col-md-5 padding-bottom">
        <div class="col-md-12 grid-border">
            <div class="row padding-bottom">
                <h5> @Html.Label("Search:", new { @class = "col-md-2 control-label" }) </h5>
            </div>
            <div class="row padding-bottom">
                <span id='test' data-text="@ViewBag.Message"></span>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.docSearch.documetTypeId, new { @class = "control-label" })
                </div>
                <div class="col-md-9">
                    @Html.HiddenFor(m => m.docSearch.employeeId, new { id = "searchEmpId" })
                    @Html.DropDownListFor(m => m.docSearch.documetTypeId, new SelectList(Model.documentType, "Value", "Text"), "Please Select", new { @class = "form-control", id = "ddlSearchId" })
                    <span class="">@Html.ValidationMessageFor(m => m.docSearch.documetTypeId)</span>
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.docSearch.title, new { @class = "control-label" })
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.docSearch.title, new { @class = "form-control", id = "title" })
                    <span class="">@Html.ValidationMessageFor(m => m.docSearch.title)</span>
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.docSearch.keywords, new { @class = "control-label" })
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.docSearch.keywords, new { @class = "form-control", id = "keywords" })
                    <span class="">@Html.ValidationMessageFor(m => m.docSearch.keywords)</span>
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-12">
                    <input class="btn btn-gray btn-xs pull-right" type="submit" value="Search" id="btnSearch" />
                </div>
            </div>
            @if (Model.isHR)
            {
                <hr style="border-top:2px solid #dddddd" />
                using (Ajax.BeginForm("AddAmendDocuments", "Documents", options, new { id = "frmDocumentDetail", enctype = "multipart/form-data" }))
                {
                    <div class="row padding-bottom">
                        <div class="col-md-6">
                            <h5> @Html.Label("Upload a Document:", new { @class = "control-label" }) </h5>
                        </div>
                    </div>
                    <div class="row padding-bottom">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.docUpload.documentTypeId, new { @class = "control-label" })<span class='required'>*</span>
                        </div>
                        <div class="col-md-9">
                            @Html.HiddenFor(m => m.docUpload.documentId)
                            @Html.HiddenFor(m => m.docUpload.employeeId)
                            @Html.DropDownListFor(m => m.docUpload.documentTypeId, new SelectList(Model.documentType, "Value", "Text"), "Please Select", new { @class = "form-control" })
                            <span class="">@Html.ValidationMessageFor(m => m.docUpload.documentTypeId)</span>
                        </div>
                    </div>
                    <div class="row padding-bottom">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.docUpload.title, new { @class = "control-label" })
                            <span class='required'>*</span>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.docUpload.title, new { @class = "form-control" })
                            <span class="">@Html.ValidationMessageFor(m => m.docUpload.title)</span>
                        </div>
                    </div>
                    <div class="row padding-bottom">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.docUpload.documentDate, new { @class = "control-label " })
                            <span class='required'>*</span>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.docUpload.documentDate, new { @class = "DatePicker form-control" })
                            <span class="">@Html.ValidationMessageFor(m => m.docUpload.documentDate)</span>
                        </div>
                    </div>
                    <div class="row padding-bottom">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.docUpload.documentExpiry, new { @class = "control-label" })
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.docUpload.documentExpiry, new { @class = "DatePicker form-control" })
                            <span class="">@Html.ValidationMessageFor(m => m.docUpload.documentExpiry)</span>
                        </div>
                    </div>
                    if (isDisabled == "false")
                    {
                        <div class="row padding-bottom">
                            <div class="col-md-9 right">
                                <label class="checkbox-inline">@Html.CheckBoxFor(m => m.docUpload.employeeVisibi, new { @class = "margin-top" }) <span>Employee Visibility</span></label>
                            </div>
                        </div>
                        <div class="row padding-bottom">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-9">
                                @Html.HiddenFor(m => m.docUpload.documentId)
                                @Html.HiddenFor(m => m.docUpload.employeeId)
                                @Html.DropDownListFor(m => m.docUpload.documentVisibilityId, new SelectList(Model.documentVisibility, "Value", "Text"), new { @class = "form-control" })
                                <span class="">@Html.ValidationMessageFor(m => m.docUpload.documentVisibilityId)</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.docUpload.employeeVisibility, new { id = "employeeVisibility" })
                    }
                    <div class="row padding-bottom">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.docUpload.keywords, new { @class = "control-label" })
                        </div>
                        <div class="col-md-9">
                            @Html.TextAreaFor(m => m.docUpload.keywords, 5, 3, new { @class = "form-control personalDetail" })
                            <span class="">@Html.ValidationMessageFor(m => m.docUpload.keywords)</span>
                        </div>
                    </div>
                    <div class="row padding-bottom">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.docUpload.file, new { type = "file" })
                        </div>
                        <div class="col-md-3">
                            <input class="btn btn-gray btn-xs pull-right" type="submit" value="Submit" id="saveDocument" />
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-md-7">
        <div class="listing-Container grid-border" style="min-height:560px; margin-top:0px">
            <div id="webgrid">
                @Html.Partial("~/Views/Employees/Documents/_DocumentListing.cshtml", Model.documentList)
            </div>
        </div>
    </div>
</div>

@* pop model start *@
<div class="modal fade" id="confirm-delete" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-header">
            <h4 class="modal-title">Alert!</h4>
        </div>
        <div class="modal-body" style="background-color:white">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <strong id="msglearning">Do you want to delete this document?</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="background-color:white;margin-top:0px">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="closelearning">No</button>
            <button id="submitlearning" class="btn btn-primary btn-ok">Yes</button>
        </div>
    </div>
</div>
@* pop model end *@

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")

<script type="text/javascript">
    var deleDoc = 0;
    function myFunction() {
        $('#test').text(function () {
            return $(this).data('text');
        });
    }

    edit_click();

    (function () {
        loadDatePicker();
    })();

    $('#saveDocument').on('click', function () {
        event.preventDefault();
        var form = $('#frmDocumentDetail');
        $.validator.unobtrusive.parse(form);
        form.validate();
        var dataString;
        if (form.valid()) {
            var action = $("#frmDocumentDetail").attr("action");

            if ($("#frmDocumentDetail").attr("enctype") == "multipart/form-data") {
                dataString = new FormData($("#frmDocumentDetail").get(0));
                contentType = false;
                processData = false;
            } else {
                // regular form, do your own thing if you need it
            }

            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                dataType: "html", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: contentType,
                processData: processData,
                success: function (response) {
                    if (response == "") {
                        obj = response;
                    }
                    else {
                        obj = JSON.parse(response);
                    }

                    if (obj == "\"Document is saved successfully.\"") {
                        popupMessage('message', 'msgResponse', obj, 'success');
                        reloadCurrentTab();
                    } else {
                        popupMessage('message', 'msgResponse', 'Unable to save document', 'failure');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    popupMessage('message', 'msgResponse', "Unable to Upload document", 'failure');
                }
            });
        }
    });

    function edit_click() {
        $("#webgrid .edit-skill").click(function (index) {
            $.getJSON('@Url.Action("GetDocumentById", "Documents")' + '/' + $(this).data('id'), function (data) {
                var res = data;
                $('#docUpload_type').val(res.type);
                $('#docUpload_title').val(res.title);
                $('#docUpload_document').val(res.document);
                $('#docUpload_expiry').val(res.expiry);
                $('#docUpload_keywords').val(res.keywords);

                if (res.filePath != '') {

                }

                $('#saveDocument').prop('disabled', false);
            });
        });
    }

    function OnSuccessFilter(response) {
        $('#webgrid').html($(response).find('#webgrid'));
    }

    $("#btnSearch").click(function () {
        $.ajax({
            url: '@Url.Action("SearchDocument", "Documents", new { id= ViewContext.RouteData.Values["id"] })',
            type: 'GET',
            data: {
                documetTypeId: $('#ddlSearchId').val(),
                title: $('#title').val(),
                keywords: $('#keywords').val()
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html(resp);
                }
            }
        });
    });

    $(".btn-ok").click(function (index) {
        $("#confirm-delete").modal('hide');
        $.getJSON('@Url.Action("RemoveDocumentById", "Documents")' + '/' + deleDoc, function (data) {
            var res = JSON.parse(data);
            if (res == "Document is deleted successfully.") {
                popupMessage('message', 'msgResponse', res, 'success');
                reloadCurrentTab();
            }
        });
    });

    $("#docUpload_employeeVisibi").change(function (index) {
        if($(this).is(":checked")) {
            $("#docUpload_documentVisibilityId").show();
        }
        else
        {
            $("#docUpload_documentVisibilityId").hide();
        }
    });


</script>
