﻿@model BHGHRModuleWeb.ViewModels.DayTimingViewModel

@{
    Layout = null;
    ViewBag.Title = "Day Timings";
    bool isEdit = ViewBag.isEdit == "edit";
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.OnSuccess = "OnSuccessDayTiming";

}
<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
<style type="text/css">
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .well {
        margin: 5px 0;
    }

    .m-top-50 {
        margin-top: 50px;
    }

    .m-top-15 {
        margin-top: 15px;
    }
</style>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="~/Scripts/jquery.timepicker.js"></script>
Html.ValidationSummary(true);
<div class="modal-dialog modal-dialog-550">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Day Timings</h4>
        </div>
        <div class="modal-body">
            <div class="row padding-bottom-5">
                <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                    <strong id="popupMsgResponse"></strong>
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row padding-bottom-5">
                                <div class="col-md-5">
                                    <label>Start Time</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.StartTime, new { id = "txt_Start", @class = "form-control timeselect", @onblur = "calculate_duration()", @onchange = "calculate_duration()" })
                                    <input type="hidden" id="HiddenTimeStart" value="" />
                                </div>
                            </div>
                            <div class="row padding-bottom-5">
                                <div class="col-md-5">
                                    <label>End Time</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.EndTime, new { id = "txt_End", @class = "form-control timeselect", @onblur = "calculate_duration()", @onchange = "calculate_duration()" })
                                    <input type="hidden" id="HiddenTimeEnd" value="" />
                                </div>
                            </div>
                            <div class="row padding-bottom-5">
                                <div class="col-md-5">
                                    <label>Lunch Duration (minutes)</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.LunchTimeInMinutes , new { visible = true, id = "txt_LunchInMinutes", @class = "form-control", @onblur = "calculate_duration()", @onkeyup = "calculate_duration()", @onchange = "calculate_duration()", @type = "number", @min = "0", @max = "100" })
                                </div>
                            </div>
                            <div class="row padding-bottom-5" style="display:none">
                                <div class="col-md-5">
                                    <label>Lunch Start Time</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.LunchStartTime, new { visible = false, id = "txt_LStart", @class = "form-control timeselect", @onblur = "calculate_duration()", @onkeyup = "calculate_duration()", @onchange = "calculate_duration()" })
                                </div>
                            </div>
                            <div class="row padding-bottom-5" style="display:none">
                                <div class="col-md-5">
                                    <label>Lunch End Time</label>
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.LunchEndTime, new { visible = false, id = "txt_LEnd", @class = "form-control timeselect", @onblur = "calculate_duration()", @onkeyup = "calculate_duration()", @onchange = "calculate_duration()" })
                                </div>
                            </div>
                            <div class="row padding-bottom-5">
                                <div class="col-md-5">
                                    @Html.LabelFor(m => m.duration)
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.duration, new { id = "txt_DURATION", @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" id="btnSaveDayTiming" class="btn btn-gray btn-xs" data-dismiss="modal" onclick="SaveClick()">Save</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        $('.timeselect').timepicker();
        $("#txt_LStart").timepicker({ 'disableTextInput': true, visible : false });
        $("#txt_LEnd").timepicker({ 'disableTextInput': true, visible: false });
        $("#btnSaveDayTiming").attr('disabled', false);
        $("#txt_LunchInMinutes").attr('disableTextInput', true);
        $("#txt_Start").val("@Model.StartTime");
        $("#HiddenTimeStart").val($("#txt_Start").val());
	$("#HiddenTimeEnd").val($("#txt_End").val());
    })();
    function SaveClick()
    {
        $("#txt_" + "@Model.day" + "_" + "@Model.weekNumber").val($("#txt_DURATION").val());
        var DayTimings =
        {
            "day": "@Model.day",
            "StartTime": $("#txt_Start").val(),
            "EndTime": $("#txt_End").val(),
            "LunchStartTime": $("#txt_LStart").val(),
            "LunchEndTime": $("#txt_LEnd").val(),
            "LunchTimeInMinutes": $("#txt_LunchInMinutes").val(),
            "duration": $("#txt_DURATION").val(),
        };
        $("#hdn_timing_" + "@Model.day" + "_" + "@Model.weekNumber").val(JSON.stringify(DayTimings));
    }

    $("#txt_Start").keyup(function (event) {
        var regex = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;
        var key = event.key;
        var string = $(this).val();
        var characters = string.split("");
        var passed = true;
        
        if (characters.length == 5) {
            var testFailed = !regex.test(string);

            if (testFailed) {
                passed = false;
            }
        }
        if (characters.length > 5)
        {
            passed = false;
        }
        if (characters.length < 5)
        {
            var regexs = [/[0-2]/, /[0-3]/, /:/, /[0-5]/, /[0-9]/];
            for (var i = 0; i < characters.length; i++) {
                if (i == 1 && (characters[0] == "0" || characters[0] == "1"))
                {
                    var character = characters[i];
                    var regexCheck = /[0-9]/;

                    var testFailed = !regexCheck.test(character);

                    if (testFailed) {
                        passed = false;
                        break;
                    }
                }
                else
                {
                    var character = characters[i];
                    var regexCheck = regexs[i];

                    var testFailed = !regexCheck.test(character);

                    if (testFailed) {
                        passed = false;
                        break;
                    }
                }

            }
        }
        if (passed == true)
        {
            $("#HiddenTimeStart").val($("#txt_Start").val());
        }
        else if (passed == false && key!="Backspace")
        {
            $("#txt_Start").val($("#HiddenTimeStart").val());
        }
        return passed;
    });

    $("#txt_End").keyup(function (event) {
        var regex = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;
        var key = event.key;
        var string = $(this).val();
        var characters = string.split("");
        var passed = true;

        if (characters.length == 5) {
            var testFailed = !regex.test(string);

            if (testFailed) {
                passed = false;
            }
        }
        if (characters.length > 5) {
            passed = false;
        }
        if (characters.length < 5) {
            var regexs = [/[0-2]/, /[0-3]/, /:/, /[0-5]/, /[0-9]/];
            for (var i = 0; i < characters.length; i++) {
                if (i == 1 && (characters[0] == "0" || characters[0] == "1")) {
                    var character = characters[i];
                    var regexCheck = /[0-9]/;

                    var testFailed = !regexCheck.test(character);

                    if (testFailed) {
                        passed = false;
                        break;
                    }
                }
                else {
                    var character = characters[i];
                    var regexCheck = regexs[i];

                    var testFailed = !regexCheck.test(character);

                    if (testFailed) {
                        passed = false;
                        break;
                    }
                }

            }
        }
        if (passed == true) {
            $("#HiddenTimeEnd").val($("#txt_End").val());
        }
        else if (passed == false && key != "Backspace") {
            $("#txt_End").val($("#HiddenTimeEnd").val());
        }
        return passed;
    });

    function calculate_duration() {
        var lunchInMinutes = parseFloat(document.getElementById("txt_LunchInMinutes").value);

        if (lunchInMinutes < 0.0 || lunchInMinutes > 90.0)
        {
            document.getElementById("txt_LunchInMinutes").value = "0";
            return false;
        }
        
        var start = document.getElementById("txt_Start").value;
        var end = document.getElementById("txt_End").value;
        var Lstart = document.getElementById("txt_LStart").value;
        var Lend = document.getElementById("txt_LEnd").value;


        start = start.split(":");
        end = end.split(":");
        Lstart = Lstart.split(":");
        Lend = Lend.split(":");
        

        var startDate = new Date(0, 0, 0, start[0], start[1], 0);
        var endDate = new Date(0, 0, 0, end[0], end[1], 0);
        var LstartDate = new Date(0, 0, 0, Lstart[0], Lstart[1], 0);
        var LendDate = new Date(0, 0, 0, Lend[0], Lend[1], 0);

        var TimeCheck =false;
        var diff = endDate.getTime() - startDate.getTime();
        
        
        var hours = diff / 1000 / 60 / 60;
        if ($('#txt_LunchInMinutes').val() != "") {
            if (lunchInMinutes > 0 && lunchInMinutes <= 15)
            {
                lunchInMinutes = 0.25;
            }
            if (lunchInMinutes > 15 && lunchInMinutes <= 30) {
                lunchInMinutes = 0.5;
            }
            if (lunchInMinutes > 30 && lunchInMinutes <= 45) {
                lunchInMinutes = 0.75;
            }
            if (lunchInMinutes > 45 && lunchInMinutes <= 60) {
                lunchInMinutes = 1;
            }
            if (lunchInMinutes > 60 && lunchInMinutes <= 75) {
                lunchInMinutes = 1.25;
            }
            if (lunchInMinutes > 75 && lunchInMinutes <= 90) {
                lunchInMinutes = 1.5;
            }
            hours = hours - lunchInMinutes;
        }
        
        
        if (hours <= 0 || isNaN(hours)) {
            $("#txt_DURATION").css({ "color": "red" });
            $('#txt_DURATION').val("Invalid Duration");
            $("#btnSaveDayTiming").attr('disabled', true);
            return false;
        }

        if ((hours <= 0 || isNaN(hours))) {
            $("#txt_DURATION").css({ "color": "red" });
            $('#txt_DURATION').val("Invalid Duration");
            $("#btnSaveDayTiming").attr('disabled', true);
            return false;
        }
        hours = hours.toFixed(1);
        $("#txt_DURATION").css({ "color": "black" });
        document.getElementById("txt_DURATION").value = hours;
        $("#btnSaveDayTiming").attr('disabled', false);
        return true;
    }
    function isTime(itemName, errName) {

        var itemValue = document.getElementById(itemName).value;
        // regular expression to match required time format
        re = /^(\d{1,2}):(\d{2})([ap]m)?$/;

        if (itemValue != '') {
            if (regs = itemValue.match(re)) {
                if (regs[3]) {
                    // 12-hour value between 1 and 12
                    if (regs[1] < 1 || regs[1] > 12) {
                        validationError(itemName, "You must input valid time in 24 hours format.");
                        return false;
                    }
                } else {
                    // 24-hour value between 0 and 23
                    if (regs[1] > 23) {
                        validationError(itemName, "You must input valid time in 24 hours format.");
                        return false;
                    }
                }
                // minute value between 0 and 59
                if (regs[2] > 59) {
                    validationError(itemName, "You must input valid time in 24 hours format.");
                    return false;
                }
            } else {
                validationError(itemName, "You must input valid time in 24 hours format.");
                return false;
            }
        }

        return true;
    }
</script>

