﻿@model BHGHRModuleWeb.ViewModels.PostViewModel
@{
    Layout = null;
    ViewBag.Title = "View History";
    var grid = new WebGrid(canPage: true, rowsPerPage: 1000, canSort: false, ajaxUpdateContainerId: "webgrid");
    grid.Bind(source: Model.jobDetail.notes, rowCount: 1000, autoSortAndPage: false);
    var hasRecords = false;
    if (Model.jobDetail.notes != null && Model.jobDetail.notes.Count > 0)
    {
        hasRecords = true;
    }
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
}

<div class="modal-dialog modal-dialog-950">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">HR Notes</h4>
        </div>
        <div class="modal-body">
            <div class="row padding-bottom-5">
                <div class="col-md-8">
                    <div style="max-height:600px; overflow-y:scroll;">
                        <div id="webgridHrNote">
                            @if (hasRecords)
                            {
                                @grid.GetHtml(
                                tableStyle: "table table-responsive backcolor",
                                headerStyle: "wedgrid-header",
                                footerStyle: "webgrid-footer",
                                alternatingRowStyle: "webgrid-alternating-row",
                                rowStyle: "webgrid-row-style",
                                columns: grid.Columns(
                                    grid.Column(columnName: "createdDate", style: "width-100", header: "Recorded:"),
                                    //grid.Column(columnName: "subNote", header: "Note:"),
                                    grid.Column(header: "Note:",
                                    format: @<text>
                                        <span>
                                            @if(item.note.Length > 150)
                                            {
                                                <span class="shortNote">@item.note.Substring(0, 150)  </span>                                                
                                                <a style="color: #2a6496 !important; cursor:pointer" class="showNote">Read more...</a>
                                                <span class="fullNote" style="display: none;">@item.note</span>
                                            }
                                            else
                                            {
                                                <span>@item.note</span>
                                            }
                                        </span>
                                    </text>),
                                    grid.Column(columnName: "createdByName", header: "By:")
                            ))
                            }
                            else
                            {
                                <table class="table table-responsive backcolor">
                                    <thead>
                                        <tr class="wedgrid-header">
                                            <th>Recorded:</th>
                                            <th>Note:</th>
                                            <th>By</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="webgrid-row-style">
                                            <td colspan="3" align="center"><br />--- HR Notes have not been added to this employees record ---<br /><br /> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row padding-bottom">
                        <div class="col-md-12">
                            <label>Add a new note:</label>
                        </div>
                        <div class="col-md-12">
                            @Html.TextAreaFor(m => m.jobDetail.hrNote, 5, 3, new { id = "txtNote", @class = "form-control detailsOfRole" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" id="btnSaveNote" class="btn btn-gray btn-xs btnToBeDisabled">Save Note</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<script type="text/javascript">

    showNote();
    $('#btnSaveNote').on('click', function () {
        if ($('#txtNote').val() == '') {
            // valid msg
            return false;
        }

        var request = new Object();
        request.employeeId = $('#employeeId').val();
        request.note = $('#txtNote').val();

        // save note
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveJobDetailNote", "Post")',
            data: request,
            success: function (response) {
                if (response != "") {
                    console.log($(response).find('#webgridHrNote'));
                    $('#webgridHrNote').html($(response).find('#webgridHrNote'));
                    $('#txtNote').val('');
                    $('#btnHrNote').text('HR Notes: (' + ($(response).find('tr').length - 1) + ')');
                }
                showNote();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('popupMessage3', 'popupMsgResponse3', "Unable to  upload salary letter", 'failure');
                console.log(jqXHR);
            }
        });
    });

    function showNote() {
        $('.showNote').on('click', function () {
            $(this).hide();
            $(this).parent().find('.shortNote').hide()
            $(this).parent().find('.fullNote').show();
        })
    }
    


</script>
