﻿@model BHGHRModuleWeb.ViewModels.JobRoleHistoryViewModel
@{
    Layout = null;
    ViewBag.Title = "View History";
    var grid = new WebGrid(canPage: true, rowsPerPage: 1000, canSort: false, ajaxUpdateContainerId: "webgrid");
    grid.Bind(source: Model.history, rowCount: 1000, autoSortAndPage: false);
    var hasRecords = false;
    if (Model.history != null && Model.history.Count > 0)
    {
        hasRecords = true;
    }
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
}

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Job Role History</h4>
        </div>
        <div class="modal-body">
            <div class="row padding-bottom-5">
                <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                    <strong id="popupMsgResponse"></strong>
                </div>
            </div>
            <div class="row padding-bottom-5">
                <div class="col-md-12">
                    <label style="font-size: 18px;">Job Role History</label>
                    <span class="pull-right padding-left-5">
                        @if (hasRecords)
                        {
                            <input class="btn btn-gray btn-xs" type="button" value="Print" onclick="javascript:CallPrint()" />
                        }
                        else
                        {
                            <input class="btn btn-gray btn-xs" type="button" value="Print" disabled title="unable to print because record not found" />
                        }
                    </span>
                    <span class="pull-right">
                        @if (hasRecords)
                        {
                            using (Html.BeginForm("ExportData", "Post", new { id = Model.employeeId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <input class="btn btn-gray btn-xs" type="submit" name="Export" id="btnExport" value="To XLS" />
                            }
                        }
                        else
                        {
                            <input class="btn btn-gray btn-xs" type="submit" name="Export" id="btnExport" value="To XLS" disabled title="unable to export because record not found"  />
                        }
                        
                    </span>
                </div>
            </div>
            <div class="row padding-bottom-5">
                <div id="webgrid" style="max-height:600px; overflow-y:scroll;">
                    @if (hasRecords)
                    {
                        @grid.GetHtml(
                            tableStyle: "table table-responsive backcolor",
                            headerStyle: "wedgrid-header",
                            footerStyle: "webgrid-footer",
                            alternatingRowStyle: "webgrid-alternating-row",
                            rowStyle: "webgrid-row-style",
                            columns: grid.Columns(
                            grid.Column(columnName: "date", header: "Date"),
                            grid.Column(columnName: "jobRole", header: "Job Role"),
                            grid.Column(columnName: "team", header: "Team"),
                            grid.Column(columnName: "createdby", header: "By")
                        ))
                    }
                    else
                    {
                        <table class="table table-responsive backcolor">
                            <thead>
                                <tr class="wedgrid-header">
                                    <th>Date</th>
                                    <th>Job Role</th>
                                    <th>Team</th>
                                    <th>By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="webgrid-row-style">
                                    <td colspan="4" align="center"><br />No record found<br /><br /> </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    function CallPrint() {
        var prtContent = $("#webgrid").html();
        var WinPrint = window.open('', 'to_print', 'letf=0,top=0,toolbar=0,scrollbars=1,status=0');
        WinPrint.document.write('<html><head><title></title>');
        WinPrint.document.write('<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")" />');
        WinPrint.document.write('<link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />');
        WinPrint.document.write('</head><body>');
        WinPrint.document.write(prtContent);
        WinPrint.document.write('</body></html>');
        WinPrint.document.close();
        WinPrint.onload = function () {
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();
        }
    }
</script>
