﻿@model BHGHRModuleWeb.ViewModels.PostViewModel
@using Share.Bonnet.AjaxDropDownList;
@Scripts.Render("~/bundles/bonnet")
<div class="row padding-bottom">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(m => m.team)<span class='required'>*</span>
            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(
                                model => model.team,
                                Model.teams,
                                new
                                {
                                    @class = "form-control clsTeam"
                                },
                                Ajax.UpdateActionFor(
                                    model => model.jobRoleId,
                                    new AjaxUpdateOptions
                                    {
                                        DisableTargetWhenEmpty = true,
                                        Url = Url.Action("JobRoleSelectListJson")
                                    }
                                )
                    )
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4 padding-bottom">
                @Html.LabelFor(m => m.jobRoleId)<span class='required'>*</span>
            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.jobRoleId, Model.jobRole, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row padding-bottom">
            <div class="col-md-12">
                <button type="button" id="btnViewHistory" class="btn btn-gray btn-xs" data-toggle="modal" data-target="#mdlViewHistory">View History</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4 padding-bottom">

                @Html.LabelFor(m => m.jobDetail.teamDirectorName)
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.jobDetail.teamDirectorName, new { @class = "form-control", @readonly= "readonly" })
            </div>
        </div>
    </div>
</div>