﻿@model BHGHRModuleWeb.ViewModels.PostViewModel

@{
    Layout = null;
}


<div class="col-md-4">
    @if (Model.jobDetail.workingPattern.workingHours.Count > 0)
    {
        <div id="week_1">
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-7">
                    <label>Week 1</label>
                </div>
            </div>
            <div class="row padding-bottom-5">
                <div class="col-md-5">
                    <label>Start</label>
                </div>
                <div class="col-md-7">
                    @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[0].start, Model.jobDetail.ModelDateFormate, new { id = "txt_start_1", @class = "DatePickerLoad form-control workingPattern" })
                </div>
            </div>
            <div class="row padding-bottom-5">
                <div class="col-md-5">
                    <label>Monday</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[0].mon, new { id = "txt_mon_1", @class = "form-control workingPattern WH" })
                    <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:80px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[0].wId,'mon','1')" />
                    <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:65px;" hidden="hidden" onclick="deleteDaysTxt('txt_mon_1')" />
                    @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[0].MonDayTimings, new { id = "hdn_timing_mon_1" })
                </div>
            </div>
            <div class="row padding-bottom-5">
                <div class="col-md-5">
                    <label>Tuesday</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[0].tue, new { id = "txt_tue_1", @class = "form-control workingPattern WH" })
                    <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:80px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[0].wId,'tue','1')" />
                    <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:65px;" hidden="hidden" onclick="deleteDaysTxt('txt_tue_1')" />
                    @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[0].TueDayTimings, new { id = "hdn_timing_tue_1" })
                </div>
            </div>
            <div class="row padding-bottom-5">
                <div class="col-md-5">
                    <label>Wednesday</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[0].wed, new { id = "txt_wed_1", @class = "form-control workingPattern WH" })
                    <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:80px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[0].wId,'wed','1')" />
                    <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:65px;" hidden="hidden" onclick="deleteDaysTxt('txt_wed_1')" />
                    @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[0].WedDayTimings, new { id = "hdn_timing_wed_1" })
                </div>
            </div>
            <div class="row padding-bottom-5">
                <div class="col-md-5">
                    <label>Thursday</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[0].thu, new { id = "txt_thu_1", @class = "form-control workingPattern WH" })
                    <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:80px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[0].wId,'thu','1')" />
                    <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:65px;" hidden="hidden" onclick="deleteDaysTxt('txt_thu_1')" />
                    @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[0].ThuDayTimings, new { id = "hdn_timing_thu_1" })
                </div>
            </div>
            <div class="row padding-bottom-5">
                <div class="col-md-5">
                    <label>Friday</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[0].fri, new { id = "txt_fri_1", @class = "form-control workingPattern WH" })
                    <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:80px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[0].wId,'fri','1')" />
                    <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:65px;" hidden="hidden" onclick="deleteDaysTxt('txt_fri_1')" />
                    @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[0].FriDayTimings, new { id = "hdn_timing_fri_1" })
                </div>
            </div>
            <div class="row padding-bottom-5">
                <div class="col-md-5">
                    <label>Saturday</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[0].sat, new { id = "txt_sat_1", @class = "form-control workingPattern WH" })
                    <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:80px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[0].wId,'sat','1')" />
                    <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:65px;" hidden="hidden" onclick="deleteDaysTxt('txt_sat_1')" />
                    @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[0].SatDayTimings, new { id = "hdn_timing_sat_1" })
                </div>
            </div>
            <div class="row padding-bottom-5">
                <div class="col-md-5">
                    <label>Sunday</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[0].sun, new { id = "txt_sun_1", @class = "form-control workingPattern WH" })
                    <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:80px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[0].wId,'sun','1')" />
                    <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:65px;" hidden="hidden" onclick="deleteDaysTxt('txt_sun_1')" />
                    @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[0].total, new { id = "hdn_total_1" })
                    @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[0].SunDayTimings, new { id = "hdn_timing_sun_1" })
                </div>
            </div>
            <div class="row padding-bottom-5">
                <div class="col-md-5">
                    <label>End</label>
                </div>
                <div class="col-md-7">
                    @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[0].end, Model.jobDetail.ModelDateFormate, new { id = "txt_end_1", @class = "form-control WH" })
                </div>
            </div>
        </div>
    }
</div>
<div class="col-md-8">
    <div class="row">
        <div class="col-md-4">
            <div id="week_2">
                @if (Model.jobDetail.workingPattern.workingHours.Count > 1)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <label>Week 2</label>
                            <span><img class="deleteWeek imgWorkingPattern" data-weekNo="2" id="imgDeleteWeek_2" src="~/Content/Images/FVW.gif" data-toggle="modal" data-target="#confirm-delete" /></span>
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[1].start, new { id = "txt_start_2", @class = "form-control workingPattern" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[1].mon, new { id = "txt_mon_2", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[1].wId,'mon','2')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_mon_2')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[1].MonDayTimings, new { id = "hdn_timing_mon_2" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[1].tue, new { id = "txt_tue_2", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[1].wId,'tue','2')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_tue_2')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[1].TueDayTimings, new { id = "hdn_timing_tue_2" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[1].wed, new { id = "txt_wed_2", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[1].wId,'wed','2')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_wed_2')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[1].WedDayTimings, new { id = "hdn_timing_wed_2" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[1].thu, new { id = "txt_thu_2", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[1].wId,'thu','2')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_thu_2')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[1].ThuDayTimings, new { id = "hdn_timing_thu_2" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[1].fri, new { id = "txt_fri_2", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[1].wId,'fri','2')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_fri_2')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[1].FriDayTimings, new { id = "hdn_timing_fri_2" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[1].sat, new { id = "txt_sat_2", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[1].wId,'sat','2')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_sat_2')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[1].SatDayTimings, new { id = "hdn_timing_sat_2" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[1].sun, new { id = "txt_sun_2", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[1].wId,'sun','2')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_sun_2')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[1].total, new { id = "hdn_total_2" })
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[1].SunDayTimings, new { id = "hdn_timing_sun_2" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[1].end, new { id = "txt_end_2", @class = "form-control WH" })
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div id="week_3">
                @if (Model.jobDetail.workingPattern.workingHours.Count > 2)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <label>Week 3</label>
                            <span><img class="deleteWeek imgWorkingPattern" data-weekNo="3" id="imgDeleteWeek_3" src="~/Content/Images/FVW.gif" data-toggle="modal" data-target="#confirm-delete" /></span>
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[2].start, new { id = "txt_start_3", @class = "form-control workingPattern" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[2].mon, new { id = "txt_mon_3", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[2].wId,'mon','3')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_mon_3')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[2].MonDayTimings, new { id = "hdn_timing_mon_3" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[2].tue, new { id = "txt_tue_3", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[2].wId,'tue','3')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_tue_3')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[2].TueDayTimings, new { id = "hdn_timing_tue_3" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[2].wed, new { id = "txt_wed_3", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[2].wId,'wed','3')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_wed_3')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[2].WedDayTimings, new { id = "hdn_timing_wed_3" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[2].thu, new { id = "txt_thu_3", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[2].wId,'thu','3')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_thu_3')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[2].ThuDayTimings, new { id = "hdn_timing_thu_3" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[2].fri, new { id = "txt_fri_3", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[2].wId,'fri','3')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_fri_3')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[2].FriDayTimings, new { id = "hdn_timing_Fri_3" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[2].sat, new { id = "txt_sat_3", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[2].wId,'sat','3')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_sat_3')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[2].SatDayTimings, new { id = "hdn_timing_sat_3" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[2].sun, new { id = "txt_sun_3", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[2].wId,'sun','3')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_sun_3')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[2].total, new { id = "hdn_total_3" })
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[2].SunDayTimings, new { id = "hdn_timing_sun_3" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[2].end, new { id = "txt_end_3", @class = "form-control WH" })
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div id="week_4">
                @if (Model.jobDetail.workingPattern.workingHours.Count > 3)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <label>Week 4</label>
                            <span><img class="deleteWeek imgWorkingPattern" data-weekNo="4" id="imgDeleteWeek_4" src="~/Content/Images/FVW.gif" data-toggle="modal" data-target="#confirm-delete" /></span>
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[3].start, new { id = "txt_start_4", @class = "form-control workingPattern" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[3].mon, new { id = "txt_mon_4", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[3].wId,'mon','4')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_mon_4')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[3].MonDayTimings, new { id = "hdn_timing_mon_4" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[3].tue, new { id = "txt_tue_4", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[3].wId,'tue','4')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_tue_4')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[3].TueDayTimings, new { id = "hdn_timing_tue_4" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[3].wed, new { id = "txt_wed_4", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[3].wId,'wed','4')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_wed_4')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[3].WedDayTimings, new { id = "hdn_timing_wed_4" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[3].thu, new { id = "txt_thu_4", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[3].wId,'thu','4')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_thu_4')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[3].ThuDayTimings, new { id = "hdn_timing_thu_4" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[3].fri, new { id = "txt_fri_4", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[3].wId,'fri','4')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_fri_4')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[3].FriDayTimings, new { id = "hdn_timing_fri_4" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[3].sat, new { id = "txt_sat_4", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[3].wId,'sat','4')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_sat_4')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[3].SatDayTimings, new { id = "hdn_timing_sat_4" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[3].sun, new { id = "txt_sun_4", @class = "form-control workingPattern WH" })
                            <img src="~/Content/Images/aero.png" class="aero" style="height: 15px; width: 15px; position: absolute; top:3px; left:82px;" data-toggle="modal" data-target="#mdlDaysTiming" hidden="hidden" onClick="DaysTiming(@Model.jobDetail.workingPattern.workingHours[3].wId,'sun','4')" />
                            <img src="~/Content/Images/FVW.gif" class="deleteDay" style="height: 11px; width: 11px; position: absolute; top:6px; left:68px;" hidden="hidden" onclick="deleteDaysTxt('txt_sun_4')" />
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[3].total, new { id = "hdn_total_4" })
                            @Html.HiddenFor(m => Model.jobDetail.workingPattern.workingHours[3].SunDayTimings, new { id = "hdn_timing_sun_4" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => Model.jobDetail.workingPattern.workingHours[3].end, new { id = "txt_end_4", @class = "form-control WH" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>