﻿@model BHGHRModuleWeb.ViewModels.WorkingHoursViewModel

@{
    Layout = null;
    ViewBag.Title = "View History";
    var clasName = "webgrid-row-style";
}

<div class="modal-dialog modal-dialog-950">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Previous Working Patterns</h4>
        </div>
        <div class="modal-body">
            <div class="row padding-bottom-5">
                <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                    <strong id="popupMsgResponse"></strong>
                </div>
            </div>
            <div class="row padding-bottom-5">
                <div id="updateResponse">
                    <div id="webgrid" style="max-height:650px; overflow-y:scroll;">
                        <table class="table table-responsive backcolor" data-swhgajax="true" data-swhgcontainer="webgrid" data-swhgcallback="">
                            <thead>
                                <tr class="wedgrid-header">
                                    <th scope="col">
                                        Start
                                    </th>
                                    <th scope="col">
                                        End
                                    </th>
                                    <th scope="col">
                                        Week
                                    </th>
                                    <th scope="col">
                                        Monday
                                    </th>
                                    <th scope="col">
                                        Tuseday
                                    </th>
                                    <th scope="col">
                                        Wednesday
                                    </th>
                                    <th scope="col">
                                        Thursday
                                    </th>
                                    <th scope="col">
                                        Friday
                                    </th>
                                    <th scope="col">
                                        Saturday
                                    </th>
                                    <th scope="col">
                                        Sunday
                                    </th>
                                    <th scope="col">
                                        Total
                                    </th>
                                    <th scope="col">
                                        Created Date
                                    </th>
                                    <th scope="col">
                                        Created By
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.workingHoursHistoryGrouping != null && Model.workingHoursHistoryGrouping.Count > 0)
                                {
                                    for (int i = Model.workingHoursHistoryGrouping.Count-1; i >= 0; i--)
                                    {
                                        var weekCount = 0;
                                        foreach (var e in Model.workingHoursHistoryGrouping[i].EmployeesWorkingHours)
                                        {
                                            weekCount += 1;
                                            <tr class="@clasName">
                                                <td>@e.start</td>
                                                <td>@e.end</td>
                                                <td>@weekCount</td>
                                                <td>@e.mon</td>
                                                <td>@e.tue</td>
                                                <td>@e.wed</td>
                                                <td>@e.thu</td>
                                                <td>@e.fri</td>
                                                <td>@e.sat</td>
                                                <td>@e.sun</td>
                                                <td>@e.total</td>
                                                <td>@e.created</td>
                                                <td>@(e.createdByFname +" "+ e.createdByLname)</td>
                                                @*<td>
                                                    @if (weekCount == 1)
                                                    {
                                                        <img src="~/Content/Images/info-red.gif" width="22" title="Created By: @e.createdByName Date: @e.created" class="edit-learning">
                                                    }
                                                </td>*@
                                            </tr>
                                        }
                                        if (clasName == "webgrid-alternating-row")
                                        {
                                            clasName = "webgrid-row-style";
                                        }
                                        else
                                        {
                                            clasName = "webgrid-alternating-row";
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<script type="text/javascript">


    //function UpdateFTE() {

    //    var totalHours = $('#txtTotal').val();
    //    var holidayRule = $("#sel_HOLIDAYRULE option:selected").text();

    //    var fte = 0;
    //    if (holidayRule == 'BRS') {
    //        fte = Math.round((totalHours / 40 * 100)) / 100;
    //    } else {
    //        fte = Math.round((totalHours / 37 * 100)) / 100;
    //    }

    //    $('#txt_FTE').val(fte);
    //}

    $(function () {
        $("#txtStart").datepicker({
            dateFormat: 'dd/mm/yy',
            yearRange: '1900:+0',
            changeMonth: true,
            changeYear: true,
        });

        $('.edit-mode').hide();
        $('.edit-user, .cancel-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit-mode, .display-mode').toggle();
        });

        function calculateTotal() {
            var total = 0;
            var mon = parseFloat($('#txtMonday').val());
            var tue = parseFloat($('#txtTuseday').val());
            var wed = parseFloat($('#txtWednesday').val());
            var thu = parseFloat($('#txtThursday').val());
            var fri = parseFloat($('#txtFriday').val());
            var sat = parseFloat($('#txtSaturday').val());
            var sun = parseFloat($('#txtSunday').val());
            if (isNaN(mon)) {
                $('#txtMonday').val(0)
                mon = 0;
            }
            if (isNaN(tue)) {
                $('#txtTuseday').val(0)
                tue = 0;
            }
            if (isNaN(wed)) {
                $('#txtWednesday').val(0)
                wed = 0;
            }
            if (isNaN(thu)) {
                $('#txtThursday').val(0)
                thu = 0;
            }
            if (isNaN(fri)) {
                $('#txtFriday').val(0)
                fri = 0;
            }
            if (isNaN(sat)) {
                $('#txtSaturday').val(0)
                sat = 0;
            }
            if (isNaN(sun)) {
                $('#txtSunday').val(0)
                sun = 0;
            }

            total = mon + tue + wed + thu + fri + sat + sun;
            $('#txtTotal').val(total);
        }

        $(".edit-control").blur(function () {
            calculateTotal();
        });

        $('.save-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            var startDate = tr.find("#txtStart").val();
            var mon = tr.find("#txtMonday").val();
            var tue = tr.find("#txtTuseday").val();
            var wed = tr.find("#txtWednesday").val();
            var thu = tr.find("#txtThursday").val();
            var fri = tr.find("#txtFriday").val();
            var sat = tr.find("#txtSaturday").val();
            var sun = tr.find("#txtSunday").val();
            var total = tr.find("#txtTotal").val();

            tr.find("#lblStart").text(startDate);
            tr.find("#lblMon").text(mon);
            tr.find("#lblTue").text(tue);
            tr.find("#lblWed").text(wed);
            tr.find("#lblThu").text(thu);
            tr.find("#lblFri").text(fri);
            tr.find("#lblSat").text(sat);
            tr.find("#lblSun").text(sun);
            tr.find("#lblTotal").text(total);

            tr.find('.edit-mode, .display-mode').toggle();
            var UserModel =
            {
                "employeeId": $('#employeeId').val(),
                "mon": mon,
                "tue": tue,
                "wed": wed,
                "thu": thu,
                "fri": fri,
                "sat": sat,
                "sun": sun,
                "total": total,
                "startDate": startDate
            };
            $.ajax({
                url: '@Url.Action("SaveWorkingHours", "Post")',
                data: JSON.stringify(UserModel),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    console.log(response);
                    $('#txt_HOURS').val($('#txtTotal').val());
                    UpdateFTE();
                    $('#updateResponse').html($(response).find('#updateResponse'));
                    $('#createdByImg').html($(response).find('#createdByImg'));
                }
            });


        });



    })
</script>

