<%@ Page Language="VB" AutoEventWireup="false" CodeFile="XlsExport.aspx.vb" Inherits="Customer_XlsExport" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:GridView runat="server" ID="gvExcelExport">
            </asp:GridView>
        </div>
    </form>
</body>
</html>
