﻿.detailFilterBox
{
border:2px solid #ff9000;
background-color:white;
width: 150px;
height:auto;
margin: 0 auto;
font-size:12px;
font-family:Arial;

}
.detailFilterBox td
{
    padding:0px !important;
    
    }
.detailBox
{
border:2px solid gray;
width: 150px;
height:auto;
margin: 0 auto;
font-size:12px;
font-family:Arial;

}
.detailAmendBox
{
border:3px solid red;
background-color:white;
width: 150px;

margin: 0 auto;
font-size:12px;
font-family:Arial;
height:auto;
}
.detailAmendBox td
{
   padding:0px !important; 
    
    }
.detailSearchedBox
{
border:3px solid red;
background-color:white;
width: 145px;
height:auto;
margin: 0 auto;
font-size:12px;
font-family:Arial;
box-shadow: 0 0 30px 5px #999;
-webkit-box-shadow: 0 0 30px 5px #999;
-moz-box-shadow: 0 0 30px 5px #999;

}
.detailSearchedBox td
{
   padding:0px !important; 
    
    }
.detailBoxSmall
{
border:2px solid gray;
width: 140px;
height:26px;
margin: 0 auto;
font-size:12px;
font-family:Arial;
}
.detailSearchedBoxSmall
{
border:3px solid red;
width: 140px;
height:26px;
margin: 0 auto;
font-size:12px;
font-family:Arial;
box-shadow: 0 0 30px 5px #999;
-webkit-box-shadow: 0 0 30px 5px #999;
-moz-box-shadow: 0 0 30px 5px #999;
}
.subHeading
{
     font-weight:bold;
} 

table 
{
    border-spacing:0;
    border-collapse:collapse;
}

td 
{
   padding: 8px;
    text-align: left;
    border-color:Black;
}

td span, td img 
{
    vertical-align: middle;
}
.error 
{
    color:Red;
    font-size:11px;
    font-family:Arial;
    font-weight:bold; 
}

 .modalBackground
    {
        background-color: Gray;
        filter: alpha(opacity=70);
        opacity: 0.7;
    }
    
    
    .modalPopup
    {
        background-color: Blue;
        border-style: solid;
        border-color: Black;
        border-width: 2px;
        width: 300px;
        height: 300px;
    }
    
    .assignToContractorModalPopup
    {
        background-color: White;
        border-style: solid;
        border-color: Black;
        border-width: 2px;
        width: 300px;       
    }
     .amendColCss
    {
        /*width: 266px;*/
    }