﻿.tdScheme
{
    width: 150px;
    text-align: left;
}
table.dataTable thead th, table.dataTable thead td
{
    padding: 5px 18px !important;
}

/* Example Styles for Demo *//*>>>>>>>>> Tabs start <<<<<<<<<<<*/
#tabs
{
    border: none !important;
}

.ui-tabs .ui-tabs-nav li
{
    border-radius: 0;
    margin-right: 5px !important;
}

.ui-tabs
{
    border-radius: 0px;
}
.cycleValue
{
    text-align: center;
}
.changeCycleValue
{
    width: 50px;
}
.ui-tabs .ui-tabs-nav
{
    background-color: #fff;
    border: 0px;
    border-radius: 0px;
    padding: 0px !important;
    border-bottom: 1px solid #C2C2C2;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active
{
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-bottom-color: #fff;
    
}

.ui-tabs .ui-tabs-nav li.ui-tabs-inactive
{
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-bottom-color: #fff;
    margin-bottom: 2px;
    cursor: not-allowed;
}
.ui-tabs .ui-tabs-panel
{
    padding: 0 !important;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
{
    color: gray !important;
}

table.dataTable tr.odd
{
    background-color: #f1f1f1;
}
table.dataTable tr.even
{
    background-color: white;
}
.dataTables_length
{
    margin-top: 10px;
    margin-left: 20px;
}
.dataTables_filter
{
    margin-top: 10px;
    margin-left: 20px;
    text-align: left !important;
    margin-bottom: 5px;
    width:100%;
    border-bottom :1px solid #8e8e8e;
    padding-bottom:15px;
}
.dataTables_filter label
{
   float:right;
    }
.input-sm
{
    border-radius: 0px;
    border: 1px solid #8e8e8e;
    background-color: #f5f5f5;
    height: 26px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 28px;
    color: #4a4a4a;
    background-image: url('../images/glass22x22.png');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 22px;
}
.paginate_button
{
    padding: 0 !important;
}
.pagination
{
    margin: 0 !important;
}
table.dataTable tbody th, table.dataTable tbody td
{
    padding: 5px 3px !important;
}
.btn-info
{
    color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
    padding:5px;
}

.modal-content
{
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit; /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}


.modal-header, h4, .close
{
    background-color: black;
    color: white !important;
    text-align: left;
}

.modal-footer
{
    background-color: #f9f9f9;
}

.modal-header
{
    min-height: 16.428571429px;
    padding:2px;
    padding-left: 20px !important;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
}

.modal-dialog
{
    width: 100%;
    padding-top: -10px;
    padding-bottom: 30px;
}

.modal-dialog-950
{
    width: 950px;
}

.modal-footer
{
    padding: 10px 20px 10px 20px !important;
    text-align: right !important;
    border-top: 1px solid #e5e5e5 !important;
}

label
{
    padding-right: 5px;
}

.padding-bottom
{
    padding-bottom: 10px !important;
}

.padding-bottom-5
{
    padding-bottom: 5px !important;
}

.padding-left-5
{
    padding-left: 5px !important;
}

.hidden
{
    display: none;
}



.assignToContractor
    {
        background-color: White;
    }
    .assignToContractor .popupHeader
    {
        font-weight: bold;
        padding-left: 20px;
        padding-top: 10px;
    }
    .assignToContractor .worksRequiredGrid
    {
        padding-left: 20px;
        padding-right: 20px;
        max-height: 200px;
        max-width: 800px;
        overflow: auto;
    }
    .assignToContractor .input_row
    {
        margin-bottom: 10px;
        padding-left: 20px;
    }
    .assignToContractor .input_label
    {
        width: 200px;
        float: left;
    }
    .assignToContractor .input
    {
        width: auto;
    }
    
    .assignToContractor .input_Cal input *
    {
        width: 244px !important;
        padding:2px;
    }
    
    .assignToContractor .input_Cal select
    {
        width: 250px !important;
        padding:2px;
    }
    
    .assignToContractor .input_small
    {
        width: auto;
    }
    .assignToContractor .input_small *
    {
        width: 140px;
    }
    .assignToContractor .input_small .addButton
    {
        width: 60px;
        margin-left: 40px;
    }
    
    .assignToContractor .bottomButtonsContainer
    {
        width: 100%;
        height: 100%;
    }
    
    .assignToContractor .bottomButtonsContainer .buttonFloatLeft
    {
        float: left;
        text-align: left;
        padding-left: 20px;
    }
    
    .assignToContractor .bottomButtonsContainer .buttonFloatRight
    {
        float: right;
        text-align: right;
        padding-right: 20px;
    }
    
    .assignToContractor .worksRequired
    {
        word-wrap: break-word;
    }
    .assignToContractor .WorksRequiredCount
    {
        display:none;
    }
    
    .clear
    {
        clear: both;
    }