﻿/****************** Styles Related to All Master Pages - Start ******************/

body
{
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: Arial;
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

/****************** Main Container Styles - Start ******************/
/***** Containter of Header(Top Menu) and Page Contents ************/
.container
{
    width: 99.7%;
    margin-left: 0px;
}
/****************** Main Container Styles - End ******************/

/****************** Top Menu Styles - Start ******************/
.header
{
    height: 70px !important;
}

#header-left
{
    float: left;
    width: 4px;
    height: 63px;
}

/* Menu Container */
.menue
{
    /*width: 100%;
    background-image: url(../Images/PropertyModule/m-bg.png);
    height: 63px;
    color: #cdcdcd; */
    /*float: left;         padding-left: 10px;*/
    
    width: 100%;
    /* margin-top: 1px; */
    /* background-image: url(../Images/PropertyModule/m-bg.png); */
    height: 49px;
    color: #cdcdcd;
    background: #e51937;
    box-shadow: 1px 1px 4px #3d3d3d;
    -moz-box-shadow: 1px 1px 4px #3d3d3d;
    -webkit-box-shadow: 1px 1px 4px #3d3d3d;
    -ms-box-shadow: 1px 1px 4px #3d3d3d;
    -o-box-shadow: 1px 1px 4px #3d3d3d;
}
/* Menu Container */

/* Property Menu and Sub Menu - Start */

.menue-select
{
    width: auto;
    height: 63px;
    color: #fff;
    text-align: center;
    line-height: 51px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 6px;
    padding-right: 5px;
    float: left;
    cursor: pointer;
}

.menue-select a
{
    text-decoration: none;
    color: #fff;
    display: block;
}

ul.propertyModuleMenu, ul.propertyModuleMenu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

ul.propertyModuleMenu ul
{
    display: none; /*initially menu item is hidden*/
    position: absolute; /*absolute positioning is important for menu to float*/
    background-color: #FFFFFF;
    width: 150px;
    border: 1px solid #AAAAAA;
}

ul.propertyModuleMenu ul li
{
    border-bottom: 2px solid #DDDDDD;
    float: none;
    height: 40px;
    text-align: left;
    padding-left: 5px;
}

ul.propertyModuleMenu ul a
{
    color: #000000;
}

/* Hover effect for menu*/
ul.propertyModuleMenu li:hover > ul
{
    display: block;
}


/* Property Menu and Sub Menu - End */

/* Single Menu Item Styles - Start */

.menue_link
{
    width: auto;
    height: 63px;
    color: #cdcdcd;
    text-align: center;
    line-height: 51px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    cursor: pointer;
}

.menue_link a
{
    text-decoration: none;
    color: #cdcdcd;
    display: block;
}

.menue_link:hover
{
    text-decoration: none;
    color: #fff !important;
}
.menue_link:hover a
{
    color: #fff !important;
}

/* Single Menu Item Styles - End */

/* Menu Items Seprator */
.sep
{
    width: 2px;
    height: 17px;
    float: left;
    background-image: url(../Images/PropertyModule/sep.jpg);
    margin-top: 17px;
}

/* Top Menu Logo */
/* The logo is currently removed from the top menu but styles are not deleted */
.logo
{
    height: 92px;
    left: 885px;
    margin: 0;
    position: relative;
    top: -45px;
    width: 108px;
}

/****************** Top Menu Styles - End ******************/

/****************** Page Contant Container Styles - Start ******************/

.main
{
    height: 100% !important;
}

.main-content
{
    float: left;
    margin-left: 5px;
    width: 99%;
    text-align: center;
}

/****************** Page Contant Container Styles - End ******************/

/****************** Styles Related to All Master Pages - End ******************/

#menu1
{
    font-family: Tahoma, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
#blocks
{
    font-family: Tahoma, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
#menu1 li
{
    display: inline; /* for IE5 and IE6 */
}
#menu1 a
{
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 7px;
    width: 166px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
#menu1 a:link, #menu1 a:visited
{
    color: #000;
    text-decoration: none;
}
#menu1 a:hover
{
    background-color: #e6e6e6;
    color: #000;
}
#menu1 li a#current
{
    border-bottom: 1px solid #c9cbcd;
    background: #c9cbcd;
}
#menu1 li a#arrears
{
    border-bottom: 1px solid #c9cbcd;
    background: #ba4a4a;
    color: #fff;
}
.select
{
    position: absolute;
    width: 158px;
    height: 21px;
    padding: 0 24px 0 8px;
    color: #000;
    font: 12px/21px arial,sans-serif;
    background: url(Copy.png) #F00;
    overflow: hidden;
}
.styleselect
{
    width: 190px;
}

input
{
    border: 1px solid Gray;
    font-size: 12px;
    padding: 2px;
}

.for_input
{
}
.for_input input
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.for_input select
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.smallinputBox
{
    border: 1px solid Gray;
    font-size: 12px;
    padding: 2px;
    width: 65px;
}

.smallerinputBox
{
    border: 1px solid Gray;
    font-size: 12px;
    padding: 2px;
    width: 50px;
}

.smallinputDateBox
{
    border: 1px solid Gray;
    font-size: 12px;
    color: Gray;
    padding: 2px;
    width: 65px;
}

.casemanagementControlsMainDivs
{
    margin-right: 10px;
    padding-top: 5px;
}

div
{
    font-family: Tahoma;
    color: #000;
    font-size: 12px;
}
.tableClass
{
    border: 1px solid #000000;
    border-spacing: 0px;
    padding: 5px;
}

.tableHeader
{
    border-bottom: 1px solid #000000;
    border-spacing: 0px;
    font-weight: bold;
}

.tableFooter
{
    border-top: 1px solid #000000;
    border-spacing: 0px;
    height: 40px;
    vertical-align: middle;
    padding-right: 10px;
}



.tableClass hr
{
    border: 1px thin #000000;
}


.tdClass
{
    border: 1px solid #000000;
    border-spacing: 0px;
}

.distanceLabelClass
{
    margin: 5px;
}

td
{
    font-family: Tahoma;
    color: #000;
    font-size: 12px;
}
.SmallerPointFont
{
    font-family: Tahoma;
    color: #000;
    font-size: 10px;
}

.NormalPointFont
{
    font-family: Tahoma;
    color: inherit;
    font-size: 12px;
}
.NormalPointFontBold
{
    font-family: Tahoma;
    color: inherit;
    font-size: 12px;
    font-weight: bold;
}
.openNewCaseDivClass
{
    height: 20px;
    width: 100%;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

.dashboardOuterTable
{
    border-left-style: none;
    border-left-width: medium;
    border-right-style: none;
    border-right-width: medium;
    border-top: medium none #000000;
    border-bottom-style: none;
    border-bottom-width: medium;
}

.dashboardInnerTable
{
    border: 0px none;
    padding: 0px;
    border-collapse: collapse;
}

.dashboardHeading
{
    margin-left: 5px;
    margin-right: 5px;
    font-family: Tahoma;
    font-size: 2;
    color: #FFFFFF;
    font-weight: bold;
}

.dashboardBigNumbers
{
    text-align: left;
    margin-top: -7px;
    margin-bottom: 0;
    margin-left: 5px;
    color: #FF0000;
    font-size: 37pt;
}

.dashboardBigNumbersUP
{
    text-align: center;
    color: #FF0000;
    font-size: 37pt;
    vertical-align: top;
}

.dashboardBigNumbersCell
{
    position: relative;
    width: 200px;
    height: 138px;
    z-index: 1;
    text-align: center;
}
.dashboardBigNumbersHeading
{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    color: #FFFFFF;
}
.dashboardSearchBoxCell
{
    border-style: none;
    border-width: medium;
    font-size: 2;
    font-weight: bold;
    font-family: Tahoma;
}

.dashboradSearchBoxButton
{
    border: 1px solid #000000;
    float: right;
    background-color: #E2E2E2;
    margin: 0 43px 0 0px;
}

.dashboardArrearsSummaryNumber
{
    font-size: 8pt;
    font-family: Tahoma;
    height: 20px;
    font-weight: bold;
}

.dashboardArrearsSummary
{
    font-size: 8pt;
    font-family: Tahoma;
    height: 20px;
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=0);
}

.clear
{
    clear: both;
}

a
{
    text-decoration: none;
}

popupMenu
{
    position: relative;
    visibility: hidden;
    background-color: #AAFFFF;
    opacity: .9;
    filter: alpha(opacity=0);
}
.popupHover
{
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #F6F7F8;
    opacity: .2;
    filter: alpha(opacity=2);
}

.DashBoard_Alert_Single_Div
{
    float: left;
    width: 132px;
    height: 130px;
}

.Dashboard_Alert_Single_Div_Text
{
    width: 112px;
    margin-top: -115px;
    text-align: center;
    height: 32px;
}

.Dashboard_Alert_Single_Div_Text a
{
    color: #FFF;
}

.group:before, .group:after
{
    content: "";
    display: table;
}
.group:after
{
    clear: both;
}
.group
{
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

#calToolbar
{
    float: right;
    padding: 2px 8px;
    margin-left: 106px;
}

#calToolbar span, #calToolbar img
{
    vertical-align: middle;
}


#calToolbar_ks
{
    float: right;
    padding: 2px 8px;
    margin-left: 106px;
}

#calToolbar_ks span, #calToolbar_ks img
{
    vertical-align: text_top;
}

#lblMonth
{
    display: inline-block;
    padding: 5px 8px;
}

#ContentPlaceHolder1_lblToday span
{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 0 2px;
}

#ContentPlaceHolder1_previousWeek, #ContentPlaceHolder1_nextWeek
{
    padding: 2px 0;
    display: inline-block;
}

#ContentPlaceHolder1_previousWeek img, #ContentPlaceHolder1_nextWeek img
{
    padding: 1px 0;
}


#pnlAddActivityTable select
{
    width: 250px;
}

#pnlAddActivityTable select
{
    width: 250px;
}

#pnlAddActivityTable textarea
{
    width: 250px;
}

#pnlAddActivityTable .longTextBox
{
    width: 243px;
}


.LetterDocInnerTable
{
    width: 100%;
    margin-top: -38px;
    padding: 0px;
}

.LetterDocInnerTable td
{
    padding: 0px;
    height: 54px;
}

.LetterDocInnerTable input
{
    margin-right: -9px;
}


.LetterDocDiv
{
    border-color: gray;
    border-width: 1px;
    border-style: Solid;
    height: 110px;
    width: 250px;
    overflow: auto;
}

.LetterDocOuterTable
{
    width: 232px;
    border-collapse: collapse;
    padding: 0px;
    margin-top: 10%;
}

/*#ContentPlaceHolder1_lblMessage
{
    float: left;
    margin-bottom: 10px;
    width: 100%;
}*/
.ajax__html_editor_extender_container
{
    width: 100% !important;
}
.code_box
{
    border: 2px solid #000;
    width: 300px;
}
.code_box p
{
    margin-left: 10px;
}
.letter_buttons
{
    float: right;
}

#pnlAddActivityTable
{
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 100%;
    padding: 15px 15px 0px 15px;
}

.pnlEditLetter
{
    height: 540px;
    width: 900px;
    padding: 15px;
}

.modalBackground
{
    background-color: #CCCCFF;
    filter: alpha(opacity=40);
    opacity: 0.5;
}

.hiddenField
{
    visibility: hidden;
}

.menuLink
{
}

.Required
{
    color: Red;
    padding-right:10px;
}

#Table1 input[type="text"], #Table1 input[type="file"], #Table1 input[type="image"], #Table1 select
{
    float: right;
}

.loading-image
{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000000;
    text-align: center;
    opacity: 0.7;
    margin-right: -30px;
}

.loading-image img
{
    margin-top: 255px;
}

.TabInitial
{
    display: block;
    padding: .5em 1em;
    float: left;
    cursor: pointer;
    background-color: #dddddd;
    min-width: 63px;
    margin:0 5px 0 0;
    border: 1px solid #c5c5c5;
    font-weight: normal;
    color: #454545;
}
/*.Initial:hover b7b8bb
{
    color: Black;
    background: url("../Images/SelectedButton.png") no-repeat right top;
}*/
.TabClicked
{
    float: left;
    display: block; 
    padding: .5em 1em;
    color: gray !important;
    cursor: pointer;
    margin:0 5px 0 0;
    min-width: 63px;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-bottom-color: #fff;
}

/*Certificate Expiry Report */

.grdReportHeading
{
    color: black;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: Solid;
    font-weight: bold;
    border-left: 0;
    border-right: 0;
}

#Repor #ReportStats td span
{
    vertical-align: baseline;
    font-weight: 700;
}


.pnlHeading
{
    text-align: left;
    background-color: Black;
    color: White;
    height: 20px;
}

.labelPrintActivities
{
    /*Start - Changes By Aamir Waheed on April 19 2013*/ /*Checked that class is only used in Print Activity Control and no where else.*/ /*Commented out font-size style to make the font-size default.*/ /*font-size: x-large;*/ /*End - Changes By Aamir Waheed on April 19 2013*/
    font-family: sans-serif;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.acitivity-dropdown
{
    margin-right: 11px;
}

.message
{
    padding-left: 10px;
}

.grid_avail_appt
{
    width: 98%;
    border: 1px solid #ccc;
    margin: 0px 10px 10px 11px;
    border-collapse: collapse;
}
/*.grid_avail_appt td
{
    width: 10%;
   
    padding: 5px 5px 5px 5px;
    border: none;
    text-align: left;
}
*/
.grid_avail_appt th
{
    padding: 5px 5px 5px 5px;
    border: none;
    text-align: left;
}

/*.grid_avail_appt td:nth-child(1)
{
    width: 13%;
    width: 12%\9;
}*/

.grid_avail_appt_filter
{
    float: left;
    padding-top: 4px;
    margin-right: 20px;
}

.grid_avail_appt_patch
{
    float: left;
    margin-right: 23px;
}

.grid_avail_appt_date
{
    float: left;
}

.grid_avail_appt_default
{
    float: right;
    margin-right: 37px;
    margin-top: 4px;
}

.available-apptmts-frow
{
    border-bottom: 1px solid #ccc;
}

.modalAvial-Appt
{
    background-color: Gray;
    opacity: 0.7;
}

.pnlAvail-Appt
{
    background-color: White;
    text-align: center;
    width: 1000px; /* left: 16%;*/
}

.avail-appt-container
{
    overflow: auto;
    text-align: left;
    border: 5px solid #bbb;
    margin: 5px 0px 10px;
    padding: 5px;
    height: 300px;
}

.appointmentsMap
{
    width: auto;
    height: 280px;
    background-color: #fff;
    border: 5px solid #bbb;
}

.avial-cust
{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: -12px;
}

.avail-no-record-msg
{
    padding: 10px 239px 0 199px;
    font-weight: bold;
}

div.text_a_r_padd__r_20px
{
    text-align: right;
    padding-right: 58px;
}

.add-apt-canel-save
{
    float: right;
    padding-right: 6%;
}

.apt-success-popup
{
    height: 200px;
    width: 764px;
    background-color: white;
}

.pnl-apt-success-msg
{
    margin: 14px 5px 5px 5px;
    border: solid black 1px;
    height: 98px;
    padding-top: 75px;
    text-align: center;
}

.resource-menu
{
    float: right;
    height: 377px;
    margin-left: 1%;
    width: 41%;
}


#Resources > p
{
    padding: 8px;
}

#Resources td
{
    border: 0 none;
    padding: 2px !important;
    padding-left: 10px !important;
}
#Resources th
{
    padding: 10px 0 0 9px;
    border-bottom: 2px solid #dddddd;
}

#Resources input[type="submit"], #Resources input[type="button"]
{
    padding: 2px 8px;
}

/*#Resources tr:first-child 
{
    border-bottom: 1px solid;
}*/

#Resources th
{
    padding: 8px;
}
/*Document Tab CSS Start Here*/
.pm-lbox
{
    border: 1px solid #000;
    float: left;
    margin-top: 5px;
    margin-left: 2px;
    padding: 10px;
    width: 400px;
}

.pm-lbox-financial
{
    border: 1px solid #000;
    float: left;
    margin-top: 5px;
    width: 400px;
}
.pm-lboxCurrent
{
    border: 1px solid #000;
    float: left;
    margin-top: 5px;
    margin-left: 2px;
    padding: 10px;
    width: 100%;
}

.pm-lbox .title-bar
{
    padding: 5px 10px;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
}

.pm-lbox .add-form
{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.pm-lbox .add-form .frow
{
    margin: 10px 0px;
}

.pm-lbox .add-form .title
{
    width: 50px;
    margin-right: 20px;
    float: left;
    line-height: 25px;
}

.pm-lbox .add-form .input-area
{
  /*  width: 200px;*/
    float: left;
    /*line-height: 0px;*/
}

.pm-lbox .add-form .input-area .input
{
    width: 200px;
    padding: 5px;
    border: 1px solid #000;
    height: 15px;
}

.pm-lbox .add-form .input-area .selectval
{
    width: 210px;
    border: 1px solid #000;
    height: 30px;
    padding: 5px;
    width: 210px;
}

.pm-lbox .add-form .input-area .upload
{
    border: 1px solid #000;
    height: 25px;
    padding: 5px;
    width: 200px;
}

.pm-lbox .add-form .input-area .txtarea
{
    width: 200px;
    padding: 5px;
    border: 1px solid #000;
    height: 70px;
}

.pm-lbox .add-form .btn, .pm-rbox .btn
{
    width: 70px;
    border: 1px solid #000;
    height: 25px;
    line-height: 25px;
    background-color: #fff;
    float: right;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

.pm-rbox .gobtn
{
    width: 40px;
}

.pm-rbox
{
    width: 850px;
    border: 1px solid #000;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    float: left;
}

.pm-rbox .tabdata
{
    padding: 5px;
}


.pm-rbox .hrow
{
    border-bottom: 1px solid #000;
    font-weight: bold;
}

.pm-rbox .pagrow
{
    border-top: 1px solid #000;
    padding: 5px;
}


.pm-rbox .pagrow .pageno
{
    width: 30px;
    height: 20px;
}

.table-head
{
    border-bottom: 1px solid #000;
}

.left-form-label
{
    float: left;
}

.left-form-field
{
    float: right;
    margin-right: 40px;
    margin-bottom: 10px;
}

.left-form-field input
{
    width: 150px;
}

.dd-list
{
    width: 156px;
}

.right-form-lable
{
    width: auto !important;
}

.right-form-field
{
    padding-left: 20px;
}



.right-form-field img
{
    margin-left: 10px;
}
/*Document Tab CSS End Here*/


.pageHeader
{
    background-color: Black;
    height: 22px;
    text-align: justify;
    font-family: Tahoma;
    font-weight: bold;
    margin: 0 0 6px;
    font-size: 15px;
    padding: 8px;
    color: White;
}

/****************** Available Defect Appointments - Start ******************/

/****************** Defect Grid - Available Defect Appointments - Start ******************/
.defects-appointment-blocks-container
{
    /*border: 1px solid #B8C6D3;*/
    height: 50%;
    margin: auto; /*width: 100%;*/
    overflow: hidden;
    margin: 0px -2px;
    
}

.grid_defects
{
    width: 100%;
    border: 1px solid #ccc;
    margin: 0px 0px 15px 0px;
    border-collapse: collapse;
}
.grid_defects td
{
    width: 10%;
    min-width: 100px;
    padding: 5px 5px 5px 5px;
    
    text-align: left;
}

.grid_defects th
{
    padding: 5px 5px 5px 5px;
    
    text-align: left;
}

.grid_defects th:nth-child(2)
{    
    padding-left: 5px;
}



.available-apptmts-frow
{
    border-bottom: 1px solid #ccc;
}

.grid_Defects_filter
{
    float: left;
    padding-top: 4px;
    margin-right: 20px;
}

.grid_Defects_patch
{
    float: left;
    margin-right: 23px;
}

.grid_Defects_operative
{
    float: left;
}

.grid_Defects_default
{
    float: right;
    margin-right: 37px;
    margin-top: 4px;
}

/****************** Defect Grid - Available Defect Appointments - Start ******************/

/****************** appointments Grid - Available Defect Appointments - End ******************/

.grid_appointment
{
    width: 100%;
    border-top : 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left : 1px solid #fff;
    border-right : 1px solid #fff;
}

.grid_appointment-header
{
    font-weight: normal;
    font-size: 13px;
    border-bottom: 1px solid #BBB;
}

.grid_appointment td
{
    /*width: 10%;     min-width: 100px;*/
    padding: 1px 5px 1px 5px;
    
    text-align: left;
    white-space: nowrap;
}

.grid_appointment th
{
    padding: 5px 5px 5px 5px;
    
    text-align: left;    
}

/****************** appointments Grid - Available Defect Appointments - End ******************/

/****************** Available Defect Appointments - End ******************/

.apt-cancel-reason-popup
{
    height: 250px;
    width: 250px;
    background-color: white;
}

.defect-history-popup
{   
    background-color: white;
    padding:10px;
}

.headingTitle
{
    background: #000000;
    color: #ffffff;
    width: 98%;
    height: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
}


.modalPopupJobSheet
    {
        background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding: 15px;
    width:80%;
    
    }
    #header-Popup_forAGSC
{
    background-color: #e51837;
    height: 50px;
   /*width: 100%;*/
 
}

.padding-10
{
    padding:10px;
}
.currentPage
{
    color:Red;
}
.lnk-btn
{
    padding-right:10px;
    text-decoration:none !important;
}
.paging-left
{
    float: left;
    width: 60%;
}