﻿#superdiv
{    
    font-family: Tahoma;
    width: 100%;
    height: 100%;
    float: left;
    padding: 0px;
    vertical-align: middle;
    /*margin-left: 1px;*/
}

#header
{
    
    font-family: inherit;
    width: 100%;
    height: 40px;
    float: none;
    padding: 0px;
    vertical-align: middle;
    padding-bottom: 5px;
    margin-bottom: 50px;
    margin-top:1px;
}
#middlePart
{    
    width: 100%;
    height: 100%;
    float: left;
    padding: 0px;
    vertical-align: middle;
}

#header-right
{
    background-image: url('../Images/topbg.jpg');
    width: 79%;
    float: left;
    height: 100%;
    vertical-align: middle;
}
#leftcolumn
{
    background: #ffffff;
    float: left;
    width: 15%;
    height: 700px;
    vertical-align: top;
    margin-left: 11px;
    padding-right:10px;
}
#leftcolumn-pdr
{
    background: #ffffff;
    float: left;
    width: 15%;
    height: 700px;
    vertical-align: top;
    margin-right: 5px;
}
#breadcrum
{
    background: #C9CBCD;
    float: left;
    width: 79%;
    font-weight: bold;
}
#content
{    
    float: left;
    width:83%;
    height: 100%;
}
#content-pdr
{    
    float: left;
    width: 84%;
    height: 100%;
}
#r_content {
	float: left;
    width: 82%;
    height: 100%;
    margin-left: 10px;
}
.header-font
{
    color: #ffffff;
    font-size: 8pt;
    margin-top: 12px;
}

.header-font-bold
{
    color: #ffffff;
    font-size: 8pt;
    font-weight: bold;
    margin-top: 12px;
}
#left-header-span
{
    text-align: center;
    width: 43%;
    height: 100%;
    float: left;
    vertical-align: middle;
}
#right-header-span
{
    text-align: center;
    width: 14%;
    height: 100%;
    float: right;
    vertical-align: middle;
    margin-left: 0px;
}
#middle-header-span
{
    text-align: center;
    width: 28%;
    height: 100%;
    float: left;
    margin-left: 0px;
}
.saparatorDiv
{
    width: 5px;
    float: left;
    padding-left: 5px;
}


.menuStyle a
{
    color: #000000;
    display: block;
    font-family: arial !important;
    font-size: 12px !important;
    font-weight: normal;
    padding: 3% !important;
    text-decoration: none;
    width: 94% !important;
}
.menuStyle td
{
    padding: 0px !important;
}

.menuStyle a:hover
{
    background-color: #e6e6e6;
    text-decoration: none;
    font-size: 12px !important;
    display: block;
    padding: 3% !important;
    font-family: arial !important;
    font-weight: normal;
    width: 94% !important;
}

.menuStyle
{
    font-family: Tahoma;
    font-weight: bold;
    border: 1px solid #000000;
    vertical-align: top;
    width: 100% !important;
    height: 25px;
}
#footer
{
    background: #df781c;
    clear: both;
    width: 100%;
}
.topmessagesuccess
{
    font-family: Tahoma;
    color: Green;
    font-size: 10px;
    visibility: visible;
    height: 15px;
}

.topmessagefailure
{
    font-family: inherit;
    color: Red;
    font-size: 10px;
    visibility: inherit;
    height: inherit;
}

.detailBox td, .detailBox th
{
    text-align: left;
    padding: 0;
}

.detailBox td:first-child
{
    width: 24px;
}

.TenantInfo td, .TenantInfo th
{
    padding: 0 0 0 10px;
    text-align: left;
    height: 20px;
}
.TenantInfo td:first-child
{
    width: 70px;
}

#error
{
    color: Red;
    font-size: 20px;
    font-weight: normal;
}
.Required
{
    color: Red;
}
.style1
{
    width: 194px;
}
.style2
{
    width: 120px;
}

.form-control
{
   /*width: 352px; */
   float: left; 
}

.portlet
{
    display:block;
    font-family: Tahoma;
    font-size: 15px;
    /*border: 1px solid #000; */
    
}
.portlet-body
{
    overflow:hidden;
    border: 1px solid #A0A0A0;
    border-top: 0;
    padding-bottom:10px;
    background: #f5f5f5;
}
.portlet .header
{
    
    color: #fff;
    font-size: 15px;
    background-color: #000;
    padding: 10px 0;
    height: 18px !important;
    margin: 0 !important;
    float: none;
    width: inherit;
}
.portlet .header .header-label {
    float:left;
    padding: 0 10px;
    font-weight: bold;
}
.btn
{
    
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: Arial,Helvetica,sans-serif;
}
.btn-xs {
    padding: 1px 20px !important;
}
.btn-gray
{
    border: 1px solid #cccccc !important;
    background: #D4D4D4 !important;
    color: #000 !important;
}
.btn-blue
{
    border: 1px solid #80d4f6 !important;
    background: #70c4e5 !important;
    color: #fff!important;
    padding: 3px 47px !important;
}
.btn-blue:hover
{
    background:#5cbae0 !important;
    border:1px solid #5cbae0 !important;
}
.btn-green
{
    color: #fff!important;
    background: #5CAB69 !important;
    border: 1px solid #5CAC16 !important;
    padding: 3px 47px !important;
}
.btn-green:hover
{
    background:#5A9367 !important;
    border:1px solid #5CAC16 !important;
}
.select_div
{
    /*width: 335px;*/
    padding: 10px;
    min-height: 13px;
}
.select_div select
{
    padding: 0 0 0 5px;
    border-radius: 0px;
    border: 1px solid #b1b1b1;
    height: 25px !important;
    font-size: 12px !important;
    width: 205px !important;
}
.text_div
{
    width: 335px;
    padding: 10px;
    min-height: 13px;
}
.text_div input
{
    padding: 0 0 0 5px;
    border-radius: 0px;
    border: 1px solid #b1b1b1;
    height: 23px !important;
    font-size: 12px !important;
    width: 205px !important;
}

.label
{
    float: left;
    /*width: 120px;*/
    font: "myriad Pro";
    font-size: 12px;
    line-height: 25px;
}
.field
{
    float: left;
    margin-left: 10px;
}
.right{
    float:right;
}
.no-form-control
{
    padding: 10px; 
    min-height: 13px;
    width: 211px;
    float: left;
}
.no-form-control-select
{
    padding: 0 0 0 5px; 
    border-radius: 0px; 
    border: 1px solid #b1b1b1;
    height: 25px !important;
    font-size: 12px !important;
    width: 211px !important;
}
.no-form-control-input
{
    padding: 0 0 0 5px; 
    border-radius: 0px; 
    border: 1px solid #b1b1b1;
    height: 23px !important;
    font-size: 12px !important;
    width: 204px !important;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 2px;
  line-height: 1.428571429;
  border-top: 1px solid #dddddd;
}

.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  display: table-cell;
  float: none;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: #d0e9c6;
  border-color: #c9e2b3;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
  border-color: #eed3d7;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  background-color: #ebcccc;
  border-color: #e6c1c7;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td {
  background-color: #faf2cc;
  border-color: #f8e5be;
}
.webgrid tbody tr:nth-child(odd) {
    background-color: #dddddd;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 2px;
  line-height: 1.428571429;
  border-top: 0px solid #dddddd !important;
}
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
  padding: 15px;
}

.panel-body:before,
.panel-body:after {
  display: table;
  content: " ";
}

.panel-body:after {
  clear: both;
}

.panel-body:before,
.panel-body:after {
  display: table;
  content: " ";
}

.panel-body:after {
  clear: both;
}

.panel > .list-group {
  margin-bottom: 0;
}

.panel > .list-group .list-group-item {
  border-width: 1px 0;
}

.panel > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel > .list-group .list-group-item:last-child {
  border-bottom: 0;
}

.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}

.panel > .table {
  margin-bottom: 0;
}

.panel > .panel-body + .table {
  border-top: 1px solid #dddddd;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.panel-title > a {
  color: inherit;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 4px;
}

.panel-group .panel + .panel {
  margin-top: 5px;
}

.panel-group .panel-heading {
  border-bottom: 0;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #dddddd;
}

.panel-group .panel-footer {
  border-top: 0;
}

.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #dddddd;
}

.panel-default {
  border-color: #dddddd;
}

.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}

.panel-primary {
  border-color: #428bca;
}

.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #428bca;
}

.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #428bca;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success > .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #d6e9c6;
}

.panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #d6e9c6;
}

.panel-warning {
  border-color: #fbeed5;
}

.panel-warning > .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #fbeed5;
}

.panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #fbeed5;
}

.panel-danger {
  border-color: #eed3d7;
}

.panel-danger > .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #eed3d7;
}

.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #eed3d7;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info > .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #bce8f1;
}

.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #bce8f1;
}