﻿.mainheading-panel
{
    border-bottom: 1px solid #EEE;
    background-color: #b7b8bb;
    height: 25px;
    width: 96%;
    padding: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    vertical-align: middle;
}

.leftControl
{
    float: left;
    margin-left: 5px;
}

.rightControl
{
    float: right;
    margin-right: 5px;
}

.conditionratinglist-rightControl
{
    float: right;
    margin-right: 5px;
    margin-top: -3px;
}

.propertyInfo
{
    padding: 5px;
    border: 1px solid #000000;
    height: auto;
    margin-top: 15px;
    overflow: auto;
    margin-left: 5px;
}

#leftContainer
{
    float: left;
    width: 30%;
}

#rightContainer
{
    float: left;
    width: 68%;
    height: 100%;
    margin-left: 10px;
}

#topLevel1
{
    height: 380px;
    margin-top: 15px;
}

.topLevel2Left
{
    float: left;
    width: 55%;
    height: 398px;
}
/*******************************************************/
.topLevel2Middle
{
    float: left;
    width: 50%;
    height: 250px;
}

.topLevel3Middle
{
    height: 168px;
    margin-left: 5px;
    padding: 3px;
    overflow: hidden;
    border: 1px solid #000000;
}

.topLevel2Right
{
    float: left;
    width: 50%;
    height: 250px;
}

.topLeftLevel3Top
{
    height: 100%;
    padding: 5px;
    border: 1px solid #000000;
    overflow: auto;
}

.topLeftLevel3Bottom
{
    margin-top: 10px;
    height: 56%;
    padding: 5px;
    border: 1px solid #000000;
}

.topMiddleLevel3Top
{
    height: 230px;
    margin-left: 5px;
    padding: 3px;
    overflow: hidden;
    border: 1px solid #000000;
}

.topMiddleLevel3Bottom
{
    margin-top: 10px;
    height: 40px;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #000000;
}

#middleLevel1
{
    height: 220px;
    width: 98.6%;
    margin-top: 45px;
    padding: 5px;
    border: 1px solid #000000;
    overflow: auto;
}

#bottomLevel1
{
    height: 100px;
    margin-top: 15px;
}

#bottomLeftLevel2
{
    width: 40%;
    float: left;
    border: 1px solid #000000;
    overflow: auto;
    padding: 5px;
    height: 100%;
}

#bottomRightLevel2
{
    width: 30%;
    float: left;
    padding: 5px;
    border: 1px solid #000000;
    margin-left: 10px;
    overflow: auto;
    height: 100%;
}

.clear
{
    clear: both;
}

#mainContainer
{
    width: 100%;
    height: 100%;
    margin: 30px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000000;
}

#tabPropertyDetail
{
    margin-left: auto;
    margin-right: auto;
}

.number-loading
{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    margin-top: -40px;
}

.asbestoscontrol
{
    float: right;
}

.labelSpace
{
    height: 18px;
}

.removeBorder
{
    text-decoration: none;
    border: 0px;
}
.serviceChargesInfo
{
    padding: 5px;
    border: 1px solid #000000;
    height: auto;
    margin-top: 15px;
    overflow: auto;
    margin-left: 5px;
    height: 148px;
}
.topLevel2MiddleBoth
{
    float: left;
    width: 45%;
    height: auto;
}

.topMiddleLevel3TopLeft
{
    height: 168px;
    margin-left: 5px;
    padding: 3px;
    overflow: hidden;
    border: 1px solid #000000;
}

.conditionRatingPanel
{
    height: 551px;
    margin-top: 15px;
    border: 1px solid #000000;
    padding: 5px;
}

.gridfaults-header
{
    font-weight: normal;
    font-size: 13px;
    border-bottom: 1px solid #BBB !important;
}
.summary-Detail-Left
{
    height: auto;
    width: 380px;
    float: left;
    margin-right: 5px;
}
.summary-Detail-Middle
{
    height: auto;
    width: 270px;
    float: left;
    margin-right: 5px;
}
.summary-Detail
{
    border: 1px solid #000000;
    height: auto;
    width: 380px;
    float: left;
    margin-bottom: 5px;
}

.summary-Detail-Middle-Inner
{
    border: 1px solid #000000;
    height: auto;
    width: 270px;
    float: left;
    margin-bottom: 5px;
}

.summary-Detail-Right
{
    height: auto;
    width: 270px;
    float: left;
    margin-right: 5px;
}

.summary-Detail-Right-Inner
{
    border: 1px solid #000000;
    height: auto;
    width: 270px;
    float: left;
    margin-bottom: 5px;
}
