﻿.LeftAlignHeading
{
    text-align: left;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 13px;
}

tr.HeadingBorder td
{
    border: 1px solid #000;
}

table
{
    border-collapse: collapse;
}

.mainHeadings
{
    background-color: #E0E0E0;
    height: 25px;
    padding-left: 10px;
    font-size: 15px;
}

.padDiv
{
    margin-top: 15px;
    margin-bottom: 15px;
}

tr.padCells > td
{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 13px;
}
@media print
{

    .hide
    {
        display: none;
    }
    .mainHeadings
    {
        background-color: #E0E0E0;
        height: 25px;
        padding-left: 10px;
        font-size: 15px;
        -webkit-print-color-adjust: exact;
    }
}

.number-loading
{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    margin-top: -40px;
}

.dynamicTextBox
{
    margin-left: 20px;
    width: 150px;
}
.dynamicDdl
{
    margin-left: 20px;
    width: 155px;
}
.gridHeader
{
    border-bottom: 1px solid #BBBBBB;
    border-left: 0 none #000000;
    border-right: 0 none #000000;
    border-top: 0 none #000000;
}
.itemPhoto
{
    border: 1px solid Black;
    width: 167px;
    height: 160px;
    float: left;
    margin: 8px;
    font-size: small;
}
.modalPopupImage
{
    background-color: #ffffdd;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
  
    

}
.imgDynamicImage
{
    max-height:500px;
    max-width : 500px;
    position:relative;    
    
    }
    
   .dynamicRadioButton
{
    margin-left: 20px;
    width: 400px;
} 

.dynamicRadioButtonBoilerConditionRating
{
    margin-left: 20px;
    width: 450px;
} 

.dynamicRadioButtonComponentAccounting
{
    margin-left: 20px;
    width: 125px;
} 

/*AutoComplete flyout */
.autocomplete_completionListElement
{
    margin : 0px!important ;
    background-color : inherit ;
    color : windowtext ;
    border : buttonshadow ;
    border-width : 1px ;
    border-style : solid ;
    cursor : 'default' ;
    overflow : auto ;
    max-height : 200px ;
    font-family : Tahoma ;
    font-size : small ;
    text-align : left ;
    list-style-type : none ;
    }
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
   {
    background-color : #ffff99 ;
    color : black ;
    padding : 1px ;
    }

    /* AutoComplete item */
.autocomplete_listItem
    {
    background-color : window ;
    color : windowtext ;
    padding : 1px ;
   }
