﻿/* DEFAULTS */

/*=========================================================*/
/*---------------Start - Time Sheet Report-----------------*/
/*=========================================================*/

.noBorder
{
    border: 0px none transparent;
}

.dateBox
{
    width: 65px;
}

.coloredCell
{
    background-color: #E7E7E7;
}

/*=========================================================*/
/*-----------------End - Time Sheet Report-----------------*/
/*=========================================================*/

/*=========================================================*/
/*----------------Start - master page css------------------*/
/*=========================================================*/
.aspNetHidden
{
    clear: both;
    height: 0px;
    visibility: hidden;
}
html, body
{
    font-size: 12px;
    font-family: "Arial";
    margin: 0;
    padding: 0; /*color: #696969; change - u*/
    height: 100%;
}

.page
{
    min-height: 100%; /*used to show footer at the bottom  width: 960px;overflow:auto;*/
    background-color: #fff; /*margin: 20px auto 0px auto;*/
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main
{
    padding-top: 10px; /*margin: 12px 8px 8px 8px;*/
    min-height: 420px;
    margin: 20px auto;
    padding: 20px 5px 5px 5px;
    width: 86%;
    height: 83%; /*border: 2px solid #222;*/
}
/*#header
{
    background-color: #e51837;
    height: 50px;
    width: 100%;
}*/
#header_box
{
    position: relative;
    float: right;
    background-color: inherit;
    margin-right: 25px;
    border: 2px solid white;
    top: 15px;
    height: 70px;
    width: 70px;
}
#header_label
{
    position: relative;
    float: left;
    padding-left: 20px;
    width: 50%;
    text-align: left;
    font-family: Arial;
    color: White;
    font-size: 16px;
}


.footer
{
    width: 100%;
    color: #4e5766;
    text-align: center;
    line-height: normal;
    height: 5%;
    background-color: #AABCCF;
    margin-top: 10px;
    height: 50px;
}

/*=========================================================*/
/*------------------End - master page css------------------*/
/*=========================================================*/

/*=========================================================*/
/*------------------Start -General-------------------------*/
/*=========================================================*/


textarea
{
    font-style: italic;
    padding: 5px 5px;
    height: 80px;
    width: 283px;
}
hr
{
    /* color: #848484; */ /* change by umar - 110313 */
    background-color: #CCCCCC;
    border: 0 none;
    color: #A0A0A0;
    height: 1px;
    margin: 0px;
}

.roundcornerby5
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #848484;
    margin-left: 0px;
}
/*input[type="button"], input[type="submit"]
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
input[type="button"]:hover, input[type="submit"]:hover
{
    background-color: Gray;
    cursor: pointer;
}*/

/*input[type="button"], input[type="submit"]
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #000;
	background-color:#fff;
}
input[type="button"]:hover, input[type="submit"]:hover
{
    background-color:#eee;
    cursor: pointer;
}*/

div.roundcorner
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.searchbox
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #8e8e8e;
    background-color: #f5f5f5;
    height: 16px;
    padding: 4px;
    padding-left: 30px;
    padding-right: 8px;
    color: #4a4a4a; /*float: right;     position: absolute;*/
    background-image: url('../images/glass22x22.png');
    background-position: left center;
    background-repeat: no-repeat; /*padding-right: 22px;*/ /*margin-right: 5%;*/ /*right: 100px;*/
}

.searchText
{
    color: Gray;
    font-style: italic;
    padding-left: 30px;
}

#report-filter-header td 
{
     font-weight:bold;
}

.bottom_line
{
    border-bottom: 1px solid #A6B3BD;
    padding-bottom: 5px;
    margin: 10px 0 10px 0;
}

.hidden_box
{
    display: none;
}

/*=========================================================*/
/*-----------------End - General---------------------------*/
/*=========================================================*/


/*=========================================================*/
/*------------Start - Progress Bar (UI-Blocker)------------*/
/*=========================================================*/

.loading-image
{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000000;
    text-align: center;
    vertical-align: middle;
    opacity: 0.7;
}

.loading-image img
{
    margin-top: 255px;
}

/*=========================================================*/
/*------------End - Progress Bar (UI-Blocker)--------------*/
/*=========================================================*/