﻿/*-- Schedule Works --*/

.TabInitial
{
    display: block;
    padding: .5em 1em;
    float: left;
    cursor: pointer;
    background-color: #dddddd;
    min-width: 63px;
    margin:0 5px 0 0;
    border: 1px solid #c5c5c5;
    font-weight: normal;
    color: #454545;
}

.searchbox
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #8e8e8e;
    background-color: #f5f5f5;
    height: 16px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 28px;
    color: #4a4a4a;
    float: left;
    background-image: url('../Images/glass22x22.png');
    background-position: left center;
    background-repeat: no-repeat;
}

.searchText
{
    color: Gray;
    font-style: italic;
    padding-left: 20px;
}

.descriptionText
{
    color: Gray;
    font-style: italic;
}

.searchTextDefault
{
    color: Gray;
    font-style: italic;
}

/* Misc Works */

.mainContainer
{
    width: 98%;
    border: 1px solid #BBBBBB;
    padding: 10px;
    float: left;
}
.leftContainer
{
    width: 44%;
    padding: 10px;
    float: left;
    border: 1px solid #BBBBBB;
}

.rightContainer
{
    width: 51%;
    padding: 5px;
    margin-left: 10px;
    float: left;
    overflow: auto;
    border: 1px solid #BBBBBB;
    height: 600px;
}

/* Misc works JobSheet */
.leftDiv
{
    float: left;
    margin-left: 10px;
    width: 48%;
}

.misc-refresh-btn
{
    float:right;
    margin:10px 18px 0 0;
}

.labelTd
{
    width: 30%;
}

.labelBoldStyleTd
{
    width: 50%;
    font-weight:bold;  
}
.valueTd
{
    width: 50%;
}

.grid_temp_trade
{
    width: 100%;
    border: 1px solid #ccc;
    margin: 0px 0px 15px 0px;
    border-collapse: collapse;
}

.grid_temp_trade td
{
    width: 10%;
    min-width: 100px;
    padding: 5px 5px 5px 5px;
    border: none;
    text-align: left;
}

.grid_temp_trade th
{
    padding: 5px 5px 5px 5px;
    border: none;
    text-align: left;
}


.available-apptmts-Headerrow
{
    border-bottom: 1px solid #ccc;
    border-left:0px solid #ccc;
    border-right :1px solid #ccc;
}

.available-apptmts-frow
{
    border-bottom: 1px solid #ccc;
}

.grid_appointment
{
    width: 100%;
    float:left;  
}

.grid_appointment-header
{
    font-weight: normal;
    font-size: 13px;
    border-bottom: 1px solid #BBB;
}

.grid_appointment td
{
    /*width: 10%;     min-width: 100px;*/
    padding: 5px 5px 5px 5px;
    border: none;
    text-align: left;
}

.grid_appointment th
{
    padding: 5px 5px 5px 5px;
    border: none;
    text-align: left;       
}



.row-button
{
    margin-right:32px;
}

.cell-left-control
{
    float:left;
}

.cell-right-control
{
    float:right;
}

.available-apptmts-optable
{
    border: 1px solid #ccc;
}

.grid_confirm_appointment td
{
    width: 8.5%;
}

.trade-appointment-blocks-container
{
    /*border: 1px solid #B8C6D3;*/
    height: 50%;
    margin: auto; /*width: 100%;*/
    overflow: hidden;
    margin: 0px -2px;
    padding: 13px 44px;
}

.trade-appointment-block
{
    /*width: 100%;*/
    overflow: hidden;
    text-align: left;
    border: 2px solid #bbb;
    margin: 5px 0px 10px;
    padding: 5px;
}

div.trade-appointment-buttons
{
    text-align: right;
    padding-right: 28px;
}


div.trade-appointment-buttons input[type="submit"]
{
    margin: 5px;
}

.temp-appointment-header
{
    width :252px;
    display :block;
}

.temp-appointment-header input[type="image"]
{
    border-style:none;
    width :18px;
    height :18px;
}

.temp-appointment-header input[type="submit"]
{
    margin-left: 10px;
}

.temp-appointment-header input[type="text"]
{
    width: 75px;
    margin-left: 6px;
}

.temp-appointment-header img
{
    margin-left: 2px;
}

.temp-trade-content
{
    display:table;
   
}

.temp-trade-content input[type="image"]
{
    display :table-cell;
    vertical-align:middle;
    border-style:none;
    width :18px;
    height :18px;
    float:right ;
}

.temp-trade-content-left
{
   float: left !important;
}

.temp-trade-content input[type="submit"]
{
    display :table-cell;
    vertical-align:middle;
    margin-left: 10px;
}

.temp-trade-content input[type="text"]
{
    display :table-cell;
    vertical-align:middle;
    width: 75px;
    margin-left: 6px;
}

.temp-trade-content img
{
    display :table-cell;
    vertical-align:middle;
    margin-left: 2px;
}

.temp-trade-content span
{
    display :table-cell;
    vertical-align:middle;
    margin-left: 2px;
}

.temp-trade-content select
{
    display :table-cell;
    vertical-align:middle;
    margin-left: 2px;
}

.trade-appointment-left-buttons
{
    float: left !important;
}

.trade-appointment-img-buttons
{
    background-image: url(~/Images/cross-gray.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 15px;
}

.avialble-apt-label
{
    margin-left: 10px;
    font-weight: bold;
}
.prop-detail-container
{
    border: 1px solid black;
    width: 93%;
    margin: 10px 0 0 41px;
}
.prop-detail-container td
{
    padding: 10px 0 10px 10px;
    width: 10%;
}
.margin-top-right
{
    margin-right: 5px;
    margin-top: 5px;
}
.top-buttons
{
    float: right;
}

.scheduling-message
{
    margin-left:32px;
}
.tempTrades
{    
   float:left;
   font-weight:bold; 
   margin-right:20px;  
   width:45%;  
}