﻿
.pdr-wrap
{
    width: 100%;
    border: 1px solid #000;
    font-size: 13px;
     /*height:700px;*/
     float:left ; 
     background-color:White;  
}

.pdr-wrap .title-bar
{
    padding: 0px 5px;
    height: 30px;
    line-height: 30px;
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.pdr-wrap .data-panels
{
    padding: 10px;
    height:560px;
   
}
.searchbox
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #8e8e8e;
    background-color: #f5f5f5;
    height: 16px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 28px;
    color: #4a4a4a;
    float: left;
    background-image: url('../images/glass22x22.png');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 22px;
}

.searchText
{
    color: Gray;
    font-style: italic;
    padding-left: 10px;
}
.pdr-Button {

	COLOR: #000; 
	FONT-FAMILY: Verdana, Arial, Helvetica; 
	background-color: #FFFFFF; 
	border: 1px #000 solid;
	cursor: pointer
}


modalBackground
    {
        background-color:Black;
      
    }
    .modalPopup
    {
        background-color:White;
        border-style: solid;
        border-color: black;
       
        
    }
    .modalPopupSchedular
{
    background-color: #FFFFFF;
    
    border-style: solid;
    padding-left: 10px;
    padding: 15px;
    width: 80%;
}

.controlsAlignment
{
    padding-left:50px;
}
.worksRequiredGrid
{
    padding-left: 20px;
    padding-right: 20px;
    max-height: 200px;
    max-width: 800px;
    overflow: auto;
}

