﻿#voidServicingHeading
{
    background-color: Black; 
    height: 22px; 
    text-align: justify; 
    font-family: Tahoma;
    font-weight: bold; 
    color:White;
    margin: 0 0 6px; 
    font-size: 15px; 
    padding: 8px;    
}

#tabsPanel
{
    width: 100%; 
    padding: 0; 
    margin: 0;
    border-color:Orange;
}

.tabs
{
    border-style : solid;
    border-color:Black;
    margin-bottom:6px;
}

#searchBoxPanel
{
    float: right; 
    margin-top: 6px;
    margin-right : 6px;
}

.searchBox
{
    background-color: #f5f5f5;
    height: 16px;
    padding: 4px;
    width : 170px;
    color: Gray;
    font-style: italic;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid;
    background-image: url('../images/glass22x22.png');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 22px;
    
}