﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPage/Blank.Master" CodeBehind="Bridge.aspx.cs" Inherits="PropertyDataRestructure.Bridge" %>
<%@ Register TagPrefix="uim" TagName="UIMessage" Src="~/UserControls/Common/UIMessage.ascx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uim:UIMessage ID="uiMessage" runat="Server" Visible="false" Width="400px" />
</asp:Content>
