﻿body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    margin: 0px 0 5px 0 !important;
    padding: 0 !important;
}

.margin-top-default {
    margin-top: 20px !important;
}

.margin-top-8px {
    margin-top: 8px !important;
}

.background-white {
    background-color: white !important;
}

.background-grey {
    background-color: #F3F3F3 !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.no-padding-bottom {
    padding-bottom: 0px !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-sides {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.min-padding-sides {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

#ddParent {
    text-align: justify;
    font-size: 12px !important;
}

    #ddParent select {
        padding: 2px;
    }

.leftmenu-asb {
    background-color: white;
    width: 100%;
    float: left;
    vertical-align: top;
    height: auto;
    font-size: 12px;
}

    .leftmenu-asb ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: white;
        border: 0.5px solid black;
    }

    .leftmenu-asb li a {
        display: block;
        color: #000;
        padding: 8px 1px 8px 16px;
        text-decoration: none;
    }

        .leftmenu-asb li a.active {
            background-color: #D3D4D6;
            color: black;
        }

        .leftmenu-asb li a:hover:not(.active) {
            background-color: #555;
            color: white;
            text-decoration: none;
        }


.right-content-asb {
    width: 84%;
    float: left;
    height: auto;
}

#header-asb {
    background-color: black;
    color: white;
    padding: 5px;
    /*height: 35px;*/
}

    #header-asb input[type="button"] {
        border: 1px solid;
        box-shadow: none;
        background: #fff !important;
        color: #000;
        padding: 1px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        border-radius: 0 !important;
        cursor: pointer;
        /*float: right;
        margin-bottom: 5px;*/
    }

input.add-contact {
    width: 25px;
    height: 25px;
    border: 0.5px solid #C2C2C2;
}

.case-detail-asb {
    background-color: white;
    height: 500px;
    border: 0.5px solid black;
    margin-top: 10px;
}


#new-case-asb {
    background-color: white;
    height: 450px;
    border: 0.5px solid black;
    float: left;
    width: 50%;
    margin-top: 10px;
    margin-left: 25px;
}

#new-case-right {
    background-color: white;
    height: 450px;
    border: 0.5px solid black;
    float: left;
    width: 40%;
    margin-top: 10px;
    margin-left: 25px;
}

.dropdown {
    /*width: 160px;*/
    width: 30% !important;
    padding: 2px;
    background-color: transparent;
    border: 0.5px solid;
    border-color: #D3D4D6;
}

.dashboard-alert-box {
    border-radius: 12px;
    border: 3px solid #D3D4D6;
    /*width: 30% !important;*/
    height: 128px;
    /*margin: 8px;*/
    background-color: black;
}

.dashboard-alert-box-red {
    border-radius: 12px;
    border: 3px solid #D3D4D6;
    /*width: 30% !important;*/
    /*margin-top: 8px;
    margin-left: 7px;*/
    height: 128px;
    background-color: #f00;
}

#tblGrid td, #tblGrid th {
    padding: 4px 0 4px 10px;
}

#tblGrid thead th {
    border-bottom: 1px solid #000;
}

table {
    border-collapse: collapse;
}

    table thead th {
        border-bottom: 1px solid #D3D4D6;
    }

#OpenCasesTable tbody tr:nth-child(odd) {
    background-color: #D3D4D6;
}

#OpenCasesTable tbody tr td div {
    padding: 5px;
}

.ActionTable tbody tr:nth-child(even) {
    background-color: #D3D4D6;
}


.Textbox {
    background-color: #FFFFFF !important;
    border: 1px #C2C2C2 solid !important;
    width: 245px !important;
    height: 20px;
}

.Textbox-short {
    background-color: #C2C2C2 !important;
    border: 1px #C2C2C2 solid !important;
    width: 150px !important;
    height: 24px;
}

.Textbox-short-ReportSearch {
    background-color: #FFFFFF !important;
    border: 1px #C2C2C2 solid !important;
    width: 80px !important;
    height: 20px;
}

.readonly {
    background-color: #F6F7F9 !important;
    font-style: italic;
    padding: 2px;
}

.Textarea {
    background-color: #FFFFFF;
    border: 1px #C2C2C2 solid !important;
    width: 245px !important;
    height: 175px !important;
}


.DocNotes {
    background-color: #FFFFFF;
    border: 1px #C2C2C2 solid !important;
    width: 350px !important;
    height: 60px !important;
}

.Action-Notes {
    background-color: #FFFFFF;
    border: 1px #C2C2C2 solid !important;
    width: 100% !important;
    height: 175px !important;
}

.Textbox-full-width {
    background-color: #FFFFFF;
    border: 1px #C2C2C2 solid !important;
    width: 100% !important;
    height: 20px !important;
}

.Textbox-full-width-Search {
    background-color: #FFFFFF;
    border: 1px #C2C2C2 solid !important;
    width: 100% !important;
    height: 20px !important;
}

.button-default {
    border: 0.5px solid #C2C2C2;
}

.width-full {
    width: 100% !important;
}


/*For Tabs*/
ul.tabs {
    margin: 0 0 -1px 0;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 11px;
}

    ul.tabs li {
        background: #F3F3F3;
        color: #222;
        display: inline-block;
        padding: 7px 13px;
        cursor: pointer;
        /*border: none;*/
        border-bottom: 1px solid #C2C2C2;
    }

        ul.tabs li.current {
            background: #F3F3F3;
            color: #222;
            border: 1px solid #C2C2C2;
            border-bottom: none;
            margin-top: 2px;
            padding: 8px 13px;
        }

.asb-dropdown{
    position: relative;
    display: inline-block;
}
.asb-dropdown-content{
    display: none !important;
    position: absolute !important;
    background-color: white !important;
    min-width: 175px !important;
    text-align:left !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.asb-dropdown-content  a{
    color: black !important;
    padding: 10px 14px !important;
    text-decoration: none !important;
    display: block !important;
    border-bottom: 2px solid #C2C2C2 !important;
}

.asb-dropdown:hover .asb-dropdown-content{
    display: block !important;
    z-index:90000000000 !important;
}

/*.asb-dropdown-content a:hover {
    background-color: blue !important;
    color:white !important;
}*/


.border {
    border: 1px solid #C2C2C2;
}


.tab-content {
    display: none;
    background: #F3F3F3;
    padding: 10px;
    border: 1px solid #C2C2C2;
    /*border-top: none;*/
}

    .tab-content.current {
        display: inherit;
    }

    .tab-contentPDF {
    display: none;
    background: #F3F3F3;
    padding: 10px;
    border: 1px solid #000000;
    /*border-top: none;*/
}
     .tab-content.currentPDF {
        display: inherit;
    }

div .NewCaseViews {
    border: 1px solid #C2C2C2;
    margin-top: 20px;
    padding: 3px 8px 3px 8px;
    background-color: #F3F3F3;
}

.VernabilityScreeningtop {
    border-left: 1px solid #C2C2C2;
    border-right: 1px solid #C2C2C2;
    border-top: 1px solid #C2C2C2;
    margin-top: 20px;
    padding: 3px 8px 3px 8px;
    background-color: #F3F3F3;
}
.VernabilityScreeningbottom {
    border-left: 1px solid #C2C2C2;
    border-right: 1px solid #C2C2C2;
    border-bottom: 1px solid #C2C2C2;
        margin-top: 20px;
    padding: 3px 8px 3px 8px;
    background-color: #F3F3F3;
}


._container {
    width: 1400px;
    margin: 0 auto;
}

.dropdown-new-case {
    border: 1px #C2C2C2 solid !important;
    width: 245px !important;
    padding: 2px;
}

.map-title {
    width: 100%;
    background-color: red;
    color: white;
    padding: 5px;
}

.page {
    display: inline-block;
    padding: 0px 6px;
    margin-right: 2px;
    border: solid 1px #C2C2C2;
    background: #e9e9e9;
    font-size: .875em;
    text-decoration: none !important;
    color: #000000;
}

    .page.active {
        border: none;
        background: #616161;
        color: #f0f0f0;
    }

.TopNavigation ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 16px 0 !important;
    min-height: 55px !important;
    background-color: #EC2A45;
}

    .TopNavigation ul li {
        float: left;
    }

        .TopNavigation ul li + li {
            float: left;
            border-right: 1px solid #FC938D;
        }

        .TopNavigation ul li a {
            display: block;
            color: #FC938D;
            text-align: center;
            padding: 2px 18px;
            text-decoration: none;
            /*font-weight: bold;*/
            font-size: 13px !important;
            text-align:left !important;
        }

            .TopNavigation ul li a:hover {
                display: block;
                color: white;
                text-align: center;
                padding: 2px 18px;
                text-decoration: none;
            }

.TopNavigation .selected {
    color: white;
    border: none;
}

.TopNavigation .module {
    color: white;
    margin-right: 50px;
    padding-bottom:10px !important;
}


/*.progress-dialog {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    background-color: white !important;
    z-index: 1002 !important;
    overflow: auto !important;
    width: 400px !important;
    height: 400px !important;
    margin-left: -200px !important;
    margin-top: -200px !important;
}*/

.progress-dialog {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 12px;
    left: 3px;
    z-index: 1000000;
    vertical-align: middle;
    opacity: 0.7;
}

    .progress-dialog img {
        position: relative;
        top: 50%;
        left: 50%;
    }

div#progress-add-person {
    background: rgba(255, 255, 255, 0.8) !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    opacity: 0.7 !important;
    z-index: 2000000 !important;
    padding-left: 40%;
}

    div#progress-add-person img {
        position: fixed !important;
    }

div#progress-inner-dashboard {
    background: rgba(255, 255, 255, 0.8) !important;
    position: fixed !important;
    /*text-align:center;*/
    /*top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;*/
    opacity: 0.7 !important;
    z-index: 9000000 !important;
    padding-left: 40%;
}

    div#progress-inner-dashboard img {
        position: absolute;
        top: 50%;
        left: 0;
    }




.paging {
    background-color: darkgray;
    color: white;
    padding: 5px 0 5px 0;
    margin-top: 10px !important;
}

.truncate-text {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

.show-hand-on-hover {
    cursor: pointer !important;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}


.modal-header, h4, .close {
    background-color: black;
    color: white !important;
    text-align: left;
}

.modal-footer {
    /*background-color: #f9f9f9;*/
}

.modal-header {
    min-height: 16.428571429px;
    padding-left: 20px !important;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
}

.modal-dialog {
    right: auto;
    left: 50%;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.modal-footer {
    padding: 5px 20px 5px 20px !important;
    text-align: right !important;
    border-top: 1px solid #e5e5e5 !important;
}

label.error {
    color: red !important;
}

.required {
    color: red !important;
}
.breakhere { 
    page-break-after: always !important;
}

.case-action-notes{
    display:block !important;
    width:11em !important;
    word-wrap:break-word !important;
}
label {
    padding-right:5px;
}
.padding-bottom {
    padding-bottom: 10px !important;
}