﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*  */

.zero-padding {
 padding:0px;
}

.padding-6 {
 padding:6px;
}

.padding-top-10 {
    padding-top:10px;
}

.padding-bottom-10 {
    padding-bottom:10px;
}

.top-default-margin {
    margin:10px 0px 0px 0px;
}

.margin-right-20 {
    margin-right:20px;
}

.solid-border {
 border:1px solid gray;
}

.title-header {
    border-bottom:1px solid gray;
    background:#F5F5F5;
    font-weight:bold;
}

.title-header-borderless {
    background:#F5F5F5;
    font-weight:bold;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.no-margin {
    margin: 0px !important;
}

.width-prc-10 {
    width:10%
}

.width-prc-20 {
    width:20%
}

.width-prc-30 {
    width:30%
}

.width-prc-40 {
    width:40%
}

.width-prc-50 {
    width:50%
}

.width-prc-80 {
    width:80%
}

.disp-none {
display:none;
}

.highlight-row {
	background-color:#CCF5F9;
}

.btn-gj-default{    
    color:#000;
    padding: 3px 25px 3px 25px;
    background-color: #fff;
    font-size:12px;
    border:1px solid #A4A4A4
}


/*Top Navigation*/
.TopNavigation ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 16px 0 !important;
    min-height: 55px !important;
    background-color: #EC2A45;
}

    .TopNavigation ul li {
        float: left;
    }

        .TopNavigation ul li + li {
            float: left;
            border-right: 1px solid #FC938D;
        }

        .TopNavigation ul li a {
            display: block;
            color: #FC938D;
            text-align: center;
            padding: 2px 18px;
            text-decoration: none;
            /*font-weight: bold;*/
            font-size: 13px !important;
            text-align: left !important;
        }

            .TopNavigation ul li a:hover {
                display: block;
                color: white;
                text-align: center;
                padding: 2px 18px;
                text-decoration: none;
            }

.TopNavigation .selected {
    color: white;
    border: none;
}

.TopNavigation .module {
    color: white;
    margin-right: 50px;
    padding-bottom: 10px !important;
}

.am-menu-content {
    display: none !important;
    position: absolute !important;
    background-color: white !important;
    min-width: 175px !important;
    text-align: left !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    .am-menu-content a {
        color: black !important;
        padding: 10px 14px !important;
        text-decoration: none !important;
        display: block !important;
        border-bottom: 2px solid #C2C2C2 !important;
    }

.am-menu:hover .am-menu-content {
    display: block !important;
    z-index: 90000000000 !important;
}


/* Webgrid styling*/
.table tbody>tr>td {
    border-top:0px;
}

.footer {
    border-top: 1px solid gray;
}

.table {
    margin-bottom:0px;
}