﻿@{
    ViewBag.Title = "Job Role Access";
    var userId = Session["UserId"];
}
<div class="main-Container">


    <div id="jobRolePartial">
        <iframe frameborder="0" width="100%" height="1300px" src="../../../JobRoleAdministration/Views/JobRoles/AdminJobRoles.aspx?userId=@userId"> </iframe>
    </div>

</div>