﻿<%@ Page Language="vb" MasterPageFile="~/master pages/MenuMaster.Master" AutoEventWireup="false"
    CodeFile="ceiling_fault.aspx.vb" Inherits="ceiling_fault" %>

<%@ Register Assembly="Broadland.Tenants.Web" Namespace="tenantsonline.Fadrian.Web.Control"
    TagPrefix="cc2" %>
<%@ Register Src="~/user control/elementimages_back_button_control.ascx" TagName="elementimages_back_button_control"
    TagPrefix="uc2" %>
<asp:Content ID="Content" runat="server" ContentPlaceHolderID="page_area">
    <table>
        <tr>
            <td class="elementimages_btnback" colspan="2">
                <uc2:elementimages_back_button_control ID="elementimages_back_button_control" runat="server" />
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td valign="top" style="background-color: White; border: 0px;" rowspan="3">
            </td>
        </tr>
    </table>
</asp:Content>
