﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/PropertyModuleMaster.Master" CodeBehind="MainPage.aspx.vb" Inherits="Appliances.MainPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<!--
<asp:ImageMap runat="server" ID="imgMapScreen" ImageUrl="~/Images/StBens_Pic.jpg" Height="566" Width="1010"> 
</asp:ImageMap>-->

<div style="width:1010px;height:566px; background-image:url(../../Images/StBens_Pic.jpg);">
    
    <div style="height:40px;width:100%;">
    </div>
    <div style="width:100%;float:left;">

        <div style="float:left; width:40%;text-align:right; color:Black; font-size:16px; padding-right:10px;">
        <strong>Search</strong>
        </div>
        <div style="float:left; width:40%;text-align:left;">
        
        <input type="text" name="search" style=" background-image:url(../../Images/magnifir.png) ;background-position: right;  background-repeat: no-repeat;" size=50/>
        </div>
    </div>
</div>


</asp:Content>
