﻿@model BHGHRModuleWeb.ViewModels.DeclarationViewModel

@{
    Layout = null;
    ViewBag.Title = $"Review Declaration Of Interests from: {Model.declarationOfInterest.employeeFullName}";
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.OnFailure = "OnFailure";
    options.OnBegin = "OnBegin";
    options.OnSuccess = "OnSuccess";
}

@Scripts.Render("~/bundles/jqueryval")

<div class="modal-dialog" style="width:1080px;">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@ViewBag.Title</h4>
        </div>
        <div class="modal-body" style="background-color:#f4f8fb;">
            <div class="row">
                <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                    <strong id="popupMsgResponse"></strong>
                </div>
            </div>
            <div id="dvDoiInfo">
                <div class="row" style="max-height:600px; overflow-y:scroll; overflow-x:hidden">
                    <div class="col-md-12">
                       
                            @Html.Hidden("pageno", new { id = "pageno" })
                            <div id="page1">
                                <div class="row padding-bottom"></div>
                                <div class="row padding-bottom">
                                    <div class="col-md-12">
                                       
                                            <div class="row padding-bottom">
                                                <div class="col-md-12">
                                                    <strong>
                                                        My Declaration of Interests : Page 1 of 3
                                                    </strong>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-6 padding-bottom">
                                                    @* 1 *@
                                                    <div class="portlet-box">
                                                        <div class="box"><span>1</span></div>
                                                        <div class="body">
                                                            <div>
                                                                <p>
                                                                    I am related to / a close friend of / share a household with the following BHG employee(s) and/or Broad Member(s):
                                                                </p>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Name:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.empName1, new { @class = "form-control btnToBeDisabled" })
                                                                    @Html.HiddenFor(m => m.declarationOfInterest.employeeId)
                                                                    @Html.HiddenFor(m => m.declarationOfInterest.interestId)
                                                                    @Html.HiddenFor(m => m.declarationOfInterest.isActive)
                                                                    @Html.HiddenFor(m => m.declarationOfInterest.page, new { id = "page", Value = "1" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Role:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.empRole1, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Their relationship to me:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(m => m.declarationOfInterest.page1.empRel1, Model.relationships, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom"></div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Name:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.empName2, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Role:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.empRole2, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    Their relationship to me:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(m => m.declarationOfInterest.page1.empRel2, Model.relationships, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row padding-bottom"></div>
                                                    @* 2 *@
                                                    <div class="portlet-box">
                                                        <div class="box"><span>2</span></div>
                                                        <div class="body">
                                                            <div>
                                                                <p>
                                                                    I am related to / a close friend of / share a household with the following applicant for a BHG role:
                                                                </p>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Name:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.roleName, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Role:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.roleRole, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    Their relationship to me:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(m => m.declarationOfInterest.page1.roleRel, Model.relationships, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row padding-bottom"></div>
                                                    @* 3 *@
                                                    <div class="portlet-box">
                                                        <div class="box"><span>3</span></div>
                                                        <div class="body">
                                                            <div>
                                                                <p>
                                                                    I am currently residing in a BHG home at the following address:
                                                                </p>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Address:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.residingAddress1, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-8 col-xs-12 right">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.residingAddress2, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    Postcode:
                                                                </div>
                                                                <div class="col-md-3">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.residingPostcode, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 padding-bottom">
                                                    @* 4 *@
                                                    <div class="portlet-box">
                                                        <div class="box"><span>4</span></div>
                                                        <div class="body">
                                                            <div>
                                                                <p>
                                                                    I am related to / a close friend of someone who is currently residing in a BHG home:
                                                                </p>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Name:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeName1, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Address:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeAddress1, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Their relationship to me:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(m => m.declarationOfInterest.page1.homeRel1, Model.relationships, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom"></div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Name:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeName2, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Address:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeAddress2, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    Their relationship to me:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(m => m.declarationOfInterest.page1.homeRel2, Model.relationships, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row padding-bottom"></div>
                                                    @* 5 *@
                                                    <div class="portlet-box">
                                                        <div class="box"><span>5</span></div>
                                                        <div class="body">
                                                            <div>
                                                                <p>
                                                                    I the following secondary employment
                                                                    <br />
                                                                    (NB: all secondary employment must be declared):
                                                                </p>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Type of employment:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.typeOfEmployment, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Employer (if applicable):
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.employer, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    Has the secondary employment been approved by BHG?:
                                                                </div>
                                                            </div>
                                                            <div class="row ">
                                                                <div class="col-md-8 right">
                                                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page1.isEmployment, "true", new { @class = "btnToBeDisabled" }) Yes
                                                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page1.isEmployment, "false", new { @class = "btnToBeDisabled" }) No
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input class="btn btn-info btn-xs pull-right btnNext" id="btnSavePage1" type="submit" name="nextBtn" value='Next >' />
                                                    <input style="margin-right:10px;" class="btn btn-gray btn-xs pull-right btnNext" id="btnBackPage1" type="button" name="nextBtn" value='< Back' />
                                                </div>
                                            </div>
                                      
                                    </div>
                                </div>
                            </div>
                            <div id="page2" style="display:none;">
                                <div class="row padding-bottom"></div>
                                <div class="row padding-bottom">
                                    <div class="col-md-12">
                                     
                                            <div class="row padding-bottom">
                                                <div class="col-md-12">
                                                    <strong>
                                                        My Declaration of Interests : Page 2 of 3
                                                    </strong>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-6 padding-bottom">
                                                    @* 6 *@
                                                    <div class="portlet-box">
                                                        <div class="box"><span>6</span></div>
                                                        <div class="body">
                                                            <div>
                                                                <p>
                                                                    I am currently using the following BHG contractor, consultant or supplier in a personal capacity:
                                                                </p>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Name of Organisation:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.conOrganizationP6, new { @class = "form-control btnToBeDisabled" })
                                                                    @Html.HiddenFor(m => m.declarationOfInterest.employeeId)
                                                                    @Html.HiddenFor(m => m.declarationOfInterest.interestId)
                                                                    @Html.HiddenFor(m => m.declarationOfInterest.isActive)
                                                                    @Html.HiddenFor(m => m.declarationOfInterest.page, new { id = "page2", Value = "2" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Service they are supplying to you:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.conService, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    Has your use of this company been approved by a member of the Leadership Group?
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-8 col-xs-12 right">
                                                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isLeadership, "true", new { @class = "btnToBeDisabled" }) Yes
                                                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isLeadership, "false", new { @class = "btnToBeDisabled" }) No
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row padding-bottom"></div>
                                                    @* 7 *@
                                                    <div class="portlet-box">
                                                        <div class="box"><span>7</span></div>
                                                        <div class="body">
                                                            <div>
                                                                <p>
                                                                    I am related to / a close friend of / share a household with an employee of another Norfolk Social Landlord, Local Authority or housing-related organisation:
                                                                </p>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Name:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthName1, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Organisation they work for:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthOrganization1, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Their relationship to me:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(m => m.declarationOfInterest.page2.localAuthRel1, Model.relationships, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom"></div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Name:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthName2, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Organisation they work for:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthOrganization2, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    Their relationship to me:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(m => m.declarationOfInterest.page2.localAuthRel2, Model.relationships, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 padding-bottom">
                                                    @* 8 *@
                                                    <div class="portlet-box">
                                                        <div class="box"><span>8</span></div>
                                                        <div class="body">
                                                            <div>
                                                                <p>
                                                                    I am related to / a close friend of / share a household with someone who has the following connection to a BHG contractor, consultant, supplier or an organisation applying/tendering for a BHG contract:
                                                                </p>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-12">
                                                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP8, "true", new { @class = "btnToBeDisabled" }) They are a director/partner/employee/consultant of
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-12">
                                                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP8, "false", new { @class = "btnToBeDisabled" }) They own or have significant shareholding/other financial stake or interest in
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Name of organisation:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.conOrganizationP8, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Name of indvidual:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.conIndvidual, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    Their relationship to me:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.DropDownListFor(m => m.declarationOfInterest.page2.conRelP8, Model.relationships, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row padding-bottom"></div>
                                                    @* 9 *@
                                                    <div class="portlet-box">
                                                        <div class="box"><span>9</span></div>
                                                        <div class="body">
                                                            <div>
                                                                <p>
                                                                    I have the following connection to a BHG contactor, consultant, supplier or an organisation applying/tendering for a BHG contract:
                                                                </p>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-12">
                                                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP9, "true", new { @class = "btnToBeDisabled" }) I am director/partner/employee/consultant of
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-12">
                                                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP9, "false", new { @class = "btnToBeDisabled" }) I own or have significant shareholding/other financial stake or interest in
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    Name of organisation:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.conOrganizationP9, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input class="btn btn-info btn-xs pull-right btnNext" id="btnSavePage2" type="submit" name="nextBtn" value='Next >' />
                                                    <input style="margin-right:10px;" class="btn btn-gray btn-xs pull-right btnNext" id="btnBackPage2" type="button" name="nextBtn" value='< Back' />
                                                </div>
                                            </div>
                                   
                                    </div>
                                </div>
                            </div>
                            <div id="page3" style="display:none;">
                                <div class="row padding-bottom"></div>

                                <div class="row padding-bottom">
                                    <div class="col-md-12">
                                  
                                            <div class="row padding-bottom">
                                                <div class="col-md-12">
                                                    <strong>
                                                        My Declaration of Interests : Page 3 of 3
                                                    </strong>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-6 padding-bottom">
                                                    @* 10 *@
                                                    <div class="portlet-box">
                                                        <div class="box"><span>10</span></div>
                                                        <div class="body">
                                                            <div>
                                                                <p>
                                                                    I am a trustee of the following trust(s):
                                                                </p>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Trust 1:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page3.trustee1, new { @class = "form-control btnToBeDisabled" })
                                                                    @Html.HiddenFor(m => m.declarationOfInterest.employeeId)
                                                                    @Html.HiddenFor(m => m.declarationOfInterest.interestId)
                                                                    @Html.HiddenFor(m => m.declarationOfInterest.isActive)
                                                                    @Html.HiddenFor(m => m.declarationOfInterest.page, new { id = "page3", Value = "3" })
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-4">
                                                                    Trust 2:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page3.trustee2, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    Trust 3:
                                                                </div>
                                                                <div class="col-md-8">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page3.trustee3, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row padding-bottom"></div>
                                                    @* 11 *@
                                                    <div class="portlet-box">
                                                        <div class="box"><span>11</span></div>
                                                        <div class="body">
                                                            <div>
                                                                <p>
                                                                    I am an elected Member of the following Local Authority (District, Borough, County Council, or Town/Parish Council):
                                                                </p>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-8 col-xs-12 right">
                                                                    @Html.TextBoxFor(m => m.declarationOfInterest.page3.countyTown, new { @class = "form-control btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row padding-bottom"></div>
                                                    @* 12 *@
                                                    <div class="portlet-box">
                                                        <div class="box"><span>12</span></div>
                                                        <div class="body">
                                                            <div>
                                                                <p>
                                                                    I hold the following other paid or unpaid non-executive appointments:
                                                                </p>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 col-xs-12 right">
                                                                    @Html.TextAreaFor(m => m.declarationOfInterest.page3.appointments, 5, 3, new { @class = "form-control personalDetail btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 padding-bottom">
                                                    @* 13 *@
                                                    <div class="portlet-box">
                                                        <div class="box"><span>13</span></div>
                                                        <div class="body">
                                                            <div>
                                                                <p>
                                                                    I (or an organisation listed above with which I am involved) have a beneficial interest in the following land or property with which BHG is involved or which may be of interest to BHG and/or its activities:
                                                                </p>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 col-xs-12 right">
                                                                    @Html.TextAreaFor(m => m.declarationOfInterest.page3.beneficialInterest, 5, 3, new { @class = "form-control personalDetail btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row padding-bottom"></div>
                                                    @* 14 *@
                                                    <div class="portlet-box">
                                                        <div class="box"><span>14</span></div>
                                                        <div class="body">
                                                            <div>
                                                                <p>
                                                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page3.isTempInterested, "true", new { @class = "btnToBeDisabled" }) I have no interest that I need to declare at present (please do not tick this box if you have declare an interest above)
                                                                </p>
                                                            </div>
                                                            <div class="row padding-bottom"></div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-12">
                                                                    <strong>OR</strong>
                                                                </div>
                                                            </div>
                                                            <div class="row padding-bottom">
                                                                <div class="col-md-12">
                                                                    I wish to declare an interest other than those mentioned above:
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    @Html.TextAreaFor(m => m.declarationOfInterest.page3.otherInterest, 5, 3, new { @class = "form-control personalDetail btnToBeDisabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input class="btn btn-info btn-xs pull-right btnNext" id="btnSavePage3" type="submit" name="nextBtn" value='Next >' />
                                                    <input style="margin-right:10px;" class="btn btn-gray btn-xs pull-right btnNext" id="btnBackPage3" type="button" name="nextBtn" value='< Back' />
                                                </div>
                                            </div>
                                
                                    </div>
                                </div>
                            </div>
                     
                    </div>
                </div>
                <hr />
            </div>
            <div id="dvApprovalPopup">
                <div class="row padding-bottom">
                    <div class="col-md-3">Reviewed Date:</div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.declarationOfInterest.reviewDate, Model.declarationOfInterest.ModelDateFormate, new { id = "txtUpdatedOn", @class = "DatePicker form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">Comment:</div>
                    <div class="col-md-9">
                        @Html.TextAreaFor(m => m.declarationOfInterest.reviewComments, 5, 3, new { @id = "txtComment", @class = "form-control personalDetail" })
                        @Html.HiddenFor(mbox => mbox.declarationOfInterest.interestId, new { id = "hdnInterestId" })
                        @Html.HiddenFor(mbox => mbox.declarationOfInterest.employeeId, new { id = "hdnEmployeeId" })
                        @*@Html.TextBoxFor(m => m.start, new { id = "txtStartDateAbsence", Name = "startDate", @class = "DatePicker form-control btnToBeDisabled" })*@
                    </div>
                </div>
                <div class="row" style="text-align:right;">
                    <hr />
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <button id="submitDoi" class="btn btn-primary btn-ok">Submit</button>
                        <button type="button" class="btn btn-default" id="closePopup">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* pop model start *@

@* pop model end *@


<script type="text/javascript">

    (function () {
        $('.btnToBeDisabled').attr('disabled', true);
        $('#dvDoiInfo').show();
        $('#page1').show();
        $('#page2').hide();
        $('#page3').hide();
        $('#dvApprovalPopup').hide();
        loadDatePicker();
        

        //Page 1
        $('#btnBackPage1').on('click', function () {
            $('#requestDoi').modal('hide');
        });

        $('#btnSavePage1').on('click', function () {
            $('#page1').hide();
            $('#page2').show();

            $('#pageno').val('frmInterestPage1');
        });

        //Page 2
        $('#btnBackPage2').on('click', function () {
            $('#page2').hide();            
            $('#page1').show();
        });

        $('#btnSavePage2').on('click', function () {            
            $('#page2').hide();
            $('#page3').show();

            $('#pageno').val('frmInterestPage2');
        });

        //Page 3

        $('#btnBackPage3').on('click', function () {
            $('#page3').hide();
            $('#page2').show();
        });

        $('#btnSavePage3').on('click', function () {

            $('#dvApprovalPopup').show();
            $('#page1').hide();
            $('#page2').hide();
            $('#page3').hide();
            $('#dvDoiInfo').hide();

            //frmInterestPage3
            $('#pageno').val('frmInterestPage3');
        });

        $("#submitDoi").click(function () {
            event.preventDefault();
            var doiFormValid = true;
            var message = "";
            if ($('#txtUpdatedOn').val() == '') {
                doiFormValid = false;
                message = "Please select reviewed date <br />";
            }
            if ($('#txtComment').val() == '') {
                doiFormValid = false;
                message = message + "Please add comment";
            }
            if (!doiFormValid) {
                popupMessage('popupMessage', 'popupMsgResponse', message, 'failure');
                return false;
            }

            var request = new Object();
            request.reviewComments = $('#txtComment').val();
            request.interestId = $('#hdnInterestId').val();
            request.employeeId = $('#hdnEmployeeId').val();
            request.reviewDate = $('#txtUpdatedOn').val();
            request.status = 'Submitted';
            $.ajax({
                url: '@Url.Action("UpdateDeclarationOfInterestStatus", "MyStaff")',
                type: 'POST',
                data: request,
                success: function (resp) {
                    if (resp != "")
                        resp = JSON.parse(resp)

                    if (resp = "DOI updated successfully.") {
                        popupMessage('popupMessage', 'popupMsgResponse', 'DOI updated successfully.', 'success');
                        $('#submitDoi').prop('disabled', true);
                        $('#txtComment').attr('disabled', true);
                        $('#txtUpdatedOn').attr('disabled', true);
                        $('.ui-datepicker-trigger').hide();
                    } else {
                        popupMessage('popupMessage', 'popupMsgResponse', "DOI not updated", 'failure');
                    }
                }
            });
        });

        $("#closePopup").click(function () {
            $('#requestDoi').modal('hide');
            reloadCurrentTab()
        });

    })();

    function reloadCurrentTab() {
        var active = $("#tabs").tabs("option", "active");
        var url = $($("#tabs").find('a')[active]).data('url')
        $('#divContainer').load(url);
        $('.modal-backdrop').hide();
        $('body').removeClass('modal-open');
    }

    function popupMessage(outerElement, element, msg, type) {
        if (type == "success") {
            $("#" + outerElement).removeClass('alert-danger');
            $("#" + outerElement).addClass('alert-success');
        } else if ("failure") {
            $("#" + outerElement).removeClass('alert-success');
            $("#" + outerElement).addClass('alert-danger');
        }

        $("#" + element).html(msg)
        $("#" + outerElement).show().delay(5000).fadeOut();
        window.scrollTo(0, 0);
    }

</script>


