﻿@model BHGHRModuleWeb.ViewModels.MyStaffGridViewModel
@{
    Layout = null;
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize);
    grid.Bind(Model.employeeList, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
}

@grid.GetHtml(
    tableStyle: "table table-responsive backcolor",
    headerStyle: "wedgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: grid.Columns(

    grid.Column(columnName: "fullName", header: "Name"),
    grid.Column(columnName: "jobTitle", header: "Job Title"),
    grid.Column(columnName: "annualLeave", header: "Annual Leave"),
    grid.Column(columnName: "remainingLeave", header: "Remaining"),
    grid.Column(columnName: "payPointReview", header: "Pay Point Review"),
    grid.Column(columnName: "appraisal", header: "Appraisal"),
    grid.Column(columnName: "grade", header: "Grade"),
    grid.Column(columnName: "trainingApproval", style: "text-center", header: "Training Approval", format:@<text>
        @if (item.trainingApproval > 0)
        {
            <span style="cursor: pointer; " onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, isTeam = true, activeTab = "mnuMyStaff", redirectTab="mnuTraining" })'">@item.trainingApproval</span>
        }
    </text>),
    grid.Column(header: "", style: "max-width-80 td-padding-right-0", format:@<text>
        <input class="pull-right edit-arrow" type="button" data-id="@item.employeeId" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, isTeam = true, activeTab = "mnuMyStaff", isDirector = Model.isDirector })'">
        @if (item.doiStatus == "Pending Review")
        {
            <span class="red" style="cursor:pointer;" data-interestId="@item.interestId">DoI</span>
        }
        else if (item.doiStatus == "Submitted")
        {
            <span class="yellow">DoI</span>
        }
        else if (item.doiStatus == "Approved")
        {
            <span class="green">DoI</span>
        }
        else
        {
            <span style="width: 27px; display: block; float: left;">&nbsp;</span>
        }

        @if (item.leaveType == "Annual Leave" || item.leaveType == "Other Leave")
        {
            <span ><img style="width:20px; height:20px; cursor:pointer;" src="~/Content/Images/BHG Icons/HR_icons_annualleave_red.png" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, isTeam = true, activeTab = "mnuMyStaff", redirectTab="mnuAbsence", isDirector = Model.isDirector })'" /></span>
        }
        else if (item.leaveType == "Sickness")
        {
            <span ><img style="width:20px; height:20px; cursor:pointer;" src="~/Content/Images/BHG Icons/HR-icons_sickness_red.png" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, isTeam = true, activeTab = "mnuMyStaff", redirectTab="mnuAbsence", isDirector = Model.isDirector })'" /></span>
        }
        else if (!string.IsNullOrEmpty(item.Pendingleave))
        {
            <span ><img style="width:20px; height:20px; cursor:pointer;" src="~/Content/Images/BHG Icons/HR_icons_annualleave.png" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, isTeam = true, activeTab = "mnuMyStaff", redirectTab="mnuAbsence", isDirector = Model.isDirector })'" /></span>
        }
        else
        {
            <span>&nbsp;</span>
        }
        
        @if (item.giftStatus == "Pending Approval")
        {
            <span><img style="cursor:pointer;" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, isTeam = true, activeTab = "mnuMyStaff", isDirector = Model.isDirector, isGift = true })'" src="~/Content/Images/gift.png" /></span>
        }
        else
        {
            <span>&nbsp;</span>
        }
    </text>)
))

<div class="panel-footer">
    <div class="row">
        <div class="col-md-3"></div>
        <div id="gridPager" class="space-box col-md-8">
            @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
        </div>
        <div id="" class="col-md-1">
            <div class="row">
                <div class="form-inline">
                    <span for="rg-from">Page: </span>
                    <div class="form-group">
                        @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* pop model start *@
<div class="modal fade padding-bottom" id="requestDoi" role="dialog">
    <div id="doiContainer"></div>
</div>

@* pop model end *@

<script type="text/javascript">

    (function () {

        $("#webgrid a").on('click', function (event) {
            loadGridEvents(event, this);
        });
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');

        $('.red').on('click', function () {
            $.get('@Url.Action("GetDeclarationOfInterestsRequest", "MyStaff")' + '/' + $(this).data('interestid'), function (data) {
                $('#doiContainer').html(data);
                $('#page2').hide();
                $('#page3').hide();
                $('#page1').show();
                $('#requestDoi').modal('show');
            });
        });

    })();

    var typingTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example

    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var requestUrl = '@Url.Action("SearchMyStaff", "MyStaff", new { id = ViewContext.RouteData.Values["id"] })' + "?page=" + $("#txtpageText").val();
        $("#webgrid").load(requestUrl);
    }

</script>
