﻿@model BHGHRModuleWeb.ViewModels.MyStaffGridViewModel
@{
    Layout = null;

    var hierarchygrid = new WebGrid(rowsPerPage: 100);
    hierarchygrid.Bind(Model.myTeamHierarchyList);
}

@hierarchygrid.GetHtml(
    tableStyle: "table table-responsive backcolor",
    headerStyle: "wedgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: hierarchygrid.Columns(

    hierarchygrid.Column(columnName: "fullName", header: "Name"),
    hierarchygrid.Column(columnName: "jobTitle", header: "Job Title"),
    hierarchygrid.Column(columnName: "annualLeave", header: "Annual Leave"),
    hierarchygrid.Column(columnName: "remainingLeave", header: "Remaining"),
    hierarchygrid.Column(columnName: "payPointReview", header: "Pay Point Review"),
    hierarchygrid.Column(columnName: "appraisal", header: "Appraisal"),
    hierarchygrid.Column(columnName: "grade", header: "Grade"),
    hierarchygrid.Column(header: "", style: "max-width-70 td-padding-right-0", format:@<text>
        <input class="pull-right edit-arrow" type="button" data-id="@item.employeeId" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, isTeam = true, activeTab = "mnuMyStaff" })'">

        @if (item.doiStatus == "Pending Review")
                {
            <span class="red">DoI</span>
        }
        else if (item.doiStatus == "Submitted")
        {
            <span class="yellow">DoI</span>
        }
        else if (item.doiStatus == "Approved")
        {
            <span class="green">DoI</span>
        }
        else
        {
            <span style="width: 27px; display: block; float: left;">&nbsp;</span>
        }


        @if (item.leaveType == "Annual Leave")
        {
            <span style="padding-left:5px;"><img style="width:20px; height:20px; cursor:pointer;" src="~/Content/Images/BHG Icons/HR_icons_annualleave_red.png" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, isTeam = true, activeTab = "mnuMyStaff", redirectTab="mnuAbsence", isDirector = Model.isDirector })'" /></span>
        }
        else if (item.leaveType == "Sickness")
        {
            <span style="padding-left:5px;"><img style="width:20px; height:20px; cursor:pointer;" src="~/Content/Images/BHG Icons/HR-icons_sickness_red.png" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, isTeam = true, activeTab = "mnuMyStaff", redirectTab="mnuAbsence", isDirector = Model.isDirector })'" /></span>
        }
        else if (!string.IsNullOrEmpty(item.Pendingleave))
        {
            <span style="padding-left:5px;"><img style="width:20px; height:20px; cursor:pointer;" src="~/Content/Images/BHG Icons/HR_icons_annualleave.png" onclick="location.href='@Url.Action("EmployeeCreate", "Employees", new { id = item.employeeId, isTeam = true, activeTab = "mnuMyStaff", redirectTab="mnuAbsence", isDirector = Model.isDirector })'" /></span>
        }
        else
        {
            <span>&nbsp;</span>
        }
    </text>)
))

