﻿
@model BHGHRModuleWeb.ViewModels.MyStaffGridViewModel
@{


}
<div class="row padding-bottom"></div>
<div class="main-Container" style="border:1px solid black;">
    <div class="row padding-bottom">
        <div class="col-md-12">
            <div id="webgrid">

                @Html.Partial("~/Views/Employees/MyStaff/_MyStaffGrid.cshtml", Model)

            </div>


        </div>
    </div>
    @if (Model.myTeamHierarchyList != null && Model.myTeamHierarchyList.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <strong style="padding-left:10px;">Other line manager staff</strong>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-12">
                <div id="webgridMyStaffHierarchy" style="float: left; width: 98%; margin: 1%;">
                    @Html.Partial("~/Views/Employees/MyStaff/_MyStaffHierarchy.cshtml", Model)
                </div>
            </div>
        </div>
    }
</div>


<script type="text/javascript">
    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("SearchMyStaff", "MyStaff", new { id = ViewContext.RouteData.Values["id"] })' + queryString;
        $("#webgrid").load(requestUrl);
    }
</script>