﻿body
{
}

span.waitSpinner div
{
	float: right;
	padding: 10px;
}

#jobsHeader
{
	background-color: #CC0000;
	color: #FFFFFF;
	font-weight: bold;
	height: 20px;
	margin-top: 5px;
	padding-left: 4px;
	padding-right: 15px;
	padding-top: 2px;
	width: 65%;
}

#jobsContentBox
{
	border: 1px solid #CC0000;
	padding: 5px;
	height: 100%;
}

#filterArea
{
	margin: 15px;
	height: 50px;
	width:650px;
}

.inputCol .lbl
{
}

.inputCol .txt
{
	background-color: #EEEEEE;
	margin-top: 5px;
	width: 135px;
}

.inputCol .lblSubText
{
	font-style: italic;
}

.inputCol
{
	float: left;
	width: 150px;
}

.btnCol
{
	float: left;
	width: 200px;
}


.btnCol .btn
{	
	margin-top:20px;
	width:75px;	
}

.inputCol
{
	float: left;
	width: 150px;
}

.locationWatermark
{
	background-color: #EEEEEE;
	margin-top: 5px;
	padding-left: 5px;
	width: 165px;
	font-style: italic;
}

.ddlFilterTeam
{
	background-color: #EEEEEE;
	width:175px;
}

#itemTemplateArea
{
	margin-top:26px;
}

#postJobArea .lbl
{
	float: left;
	margin-top: 5px;
	width: 200px;
	text-align: right;
	padding-right: 5px;
}

#promptAndSubText
{
	float: left;
	width: 200px;
	padding-right: 5px;
}

#promptAndSubText .lblSubText
{
	float: right;
	font-size: 12px;
	font-style: italic;
	margin-top: 5px;
	width: 105px;
	text-align: right;
}

#postJobArea .lblField
{
	background-color: #EEEEEE;
	width: 200px;
	margin-top: 5px;
}

#postJobArea .lblFieldVal
{
	padding: 3px 5px;
	margin-top: 5px;
	font-size: 11px;
	font-style: italic;
	width: 250px;
}

#postJobArea .lblLargeField
{
	margin-top: 5px;
	width: 450px;
	font-family: Arial;
}

#btnArea
{
	margin: 10px auto;
	width: 250px;
}

.clearFloat
{
	clear: both;
}

.btn, .btnPrintApplyBtns
{
	margin-left: 5px;
	margin-top: 10px;
	border: solid 1px #000000;
	width: 100px;
	background-color:#F0F0F0;
}

.lblJobTitle
{	
	color:#003366;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
	margin-right: 20px;
}


#jobDetailArea .lblField
{
	/*padding-left: 10px;*/
	width: 200px;
}

#jobDetailArea .lblDescField
{
	padding: 10px;
	background-color: #ECECEC;
	margin: 10px;
	display: block;
	border: 1px dashed;
}

#jobDetailArea .btnExpandCollapse
{
	margin-left: 8px;
}

#jobDetailArea .lbl
{
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 5px;
}

#applyArea
{
	padding:10px;
}

#applyArea h1
{
	font-size: 14px;
	font-weight: bold;
}

#applyArea p
{
	margin-left: 50px;
}

hr
{
}

#applyArea ul li
{
	list-style-type: none;
	margin-left: 50px;
	margin-top: 10px;
}

#repeaterTitleArea
{	
	height: 30px;	
}

#repeaterButtons
{
	float:right;
	height: 30px;
	width:470px;
	margin-top: -25px;	
}

#repeaterButtons .btnAddtoShortList, .btnRemoveFromShortList
{	
	vertical-align: bottom;	
}

#repeaterButtons .btnPrintApplyBtns
{
	margin-bottom:2px;
	height: 22px;
	vertical-align: bottom;	
}

#repeaterButtons .pnlChkActive
{	
	height: 22px;
	vertical-align: bottom;	
/*	display: inline;*/
}


/* Little trick to hide the checkbox text
   while we embed the Id inside the text field */
.chkTextHide label
{
	display: none;
}


.repeaterFilterRadios
{
	float: left;
}

#repeaterPagers
{
	float: right;
}

#applyArea p
{
	background-color:Red;
}

#applyArea .hlkDownloadApp
{	
	left:-120px;
	position:relative;
	top:40px;
}

.tvwRights
{
	border:solid 1px gray;	
	padding:5px;	
	width:300px;
}

.imgLogo
{
	float:right;
}

#logoJobTitle *
{
	vertical-align:middle;
}


#logoJobTitle h2
{
	font-size:16px;
}