﻿#header
{
	height:91px;
	width: 100%;
	/*background-image: url(/BHAIntranet/Images/General/Header_bg.gif);*/	
	background-color:#CC0000;
}


#logo
{
	float: left;
	background: url(/BHAIntranet/Images/Broadland_Business_Systems_01.jpg) no-repeat center;
	width: 170px;
	height: 90px;
	background-size: contain;
	/*margin-right: -6px;*/
}

#BHLogo
{
	float:right;

	/*background-image: url(/BHAIntranet/Images/General/BHLogo.gif);*/
	/*width:140px;*/
	width:100px;
	height:90px;
	
	padding:0px;
}


body
{
margin: 0px;
font-family:Arial;
font-size:0.8em;	
}	
a {color:#003366}





#header
{
width:100%;
margin:0px;	
padding:0px;
}



#BHLogo
{
margin-right:-2px;	
padding:0px;
margin:-2px;		
}	


	
#maincontent_container
{
padding:0px;	
border-left:solid 1px gray;
border-bottom:solid 1px gray;
}

#footercontact
{
width:100%;
border-top:solid 1px gray;
border-bottom:solid 1px gray;
margin-top:80px;

}

#footertext
{
margin-top: 4px;
margin-bottom: 4px;
margin-left: 4px;	
}	


#login_container
{
border-right:solid 1px gray;	
width:800px	;
}


#maincontent
{
	
margin-left:10px;
	}
	
	
	
#loginheader
{
	margin-top:20px;
width:400px;
background-color:#CC0000;
height:18px;
color:#FFFFFF;
padding:3px;
font-family:Arial;	
}	

#loginbody
{
width:600px;
border:solid 1px #CC0000;
padding:10px;
height:200px;	
}	


#loginfooter		
{
	width:622px;
	height:22px;

 background-color:#CC0000;	
}
	




.RSLButton {

	FONT-FAMILY: Arial; 
	background-color: #FFFFFF; 
	border: 1px gray solid;
	cursor: hand;
	height:22px;
	margin-left:10px;
	margin-top:10px;
}
.UpdateRSLButton {

	FONT-FAMILY: Arial;
	background-color: #FFFFFF; 
	border: 1px  gray solid;
	cursor: hand;
	/*height:22px;*/
	margin-left:100px;
	/*margin-top:10px;*/
}


.textbox {

	border: 1px  gray solid;
	margin-right:10px;
	width:150px;
	
}
.updatelabel
{

	width:100px; 
	display:block;
	float:left;
    
}

.verisignImage
{
	float:right;
}