﻿
.gvwMand
{
	margin: 5px;
	width: 95%;
}

.docimage
{
	float: left;
}


.doccontent
{
	margin-left: 45px;
}


.doctitle
{
	font-size: 1em;
	font-weight: bold;
	border-bottom: solid 1px #000000;
}


.doclnk
{
	text-align: right;
	margin-top: 5px;
	margin-right: 5px;
}

.docread
{
	text-align: right;
	margin-top: 5px;
	margin-right: 5px;
	float: right;
}

.readMandLink
{
	text-decoration: none;
	background-color: Aqua;
}


.mandLabel
{
	display: block;
	float: left;
	width: 130px;
	padding: 3px 5px;
	text-align: left;
}

.mandInput
{
	width: 150px;
	padding: 3px 5px;
	text-align: left;
	background-color: #EEEEEE;
	border: solid 1px #999999;
	font-size: 12px;
	color: #000000;
	font-family: Arial;
	margin-bottom: 5px;
}

.mandInputDrp
{
	padding: 3px 5px;
	margin-bottom: 5px;
}

.mandInputTitle
{
	width: 220px;
}



#btn, #btnDetail
{
	width: 400px;
	text-align: right;
	margin: 10px;
}

#btn input, #btnDetail input
{
	border: solid 1px #000000;
}


.gvwMand td, .gvwSugg th
{
	border: solid 1px #000000;
}

.gvwMand th
{
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	padding: 3px;
}



.gvwSugg table
{
	border: solid 1px #000000;
}

/* overrides master #maincontent content div */
#maincontent
{
	float: left;
	padding: 5px; /*width:73%;		*/
}

.calBtn
{
	padding: 5px;
	background-color: #EEEEEE;
}

.calBtn img
{
	border: solid 1px #000000;
}

/* overrides master #maincontent content div */
#customContentBox
{
	float: left;
	padding: 5px;
	width: 70%;
}
