﻿
body
{
	margin: 0px;
	font-family: Arial;
	font-size: 0.8em;
	width:100%;
}

#outerBody
{
}
a
{
	color: #003366;
}

/*Header Layout CSS */

#header
{
	height: 91px;
	width: 100%;
	background-color:#CC0000;
}

#pagecontent
{
	/*margin-right: 170px;*/
	width:70%;
	float:left;
}

#logo
{
	float: left;
	background: url(/BHAIntranet/Images/Broadland_Business_Systems_01.jpg) no-repeat center;
	width: 170px;
	height: 90px;
	background-size: contain;
	/*margin-right: -6px;*/
}

#BHLogo
{
	float: right;
	/*background-image: url(/BHAIntranet/Images/General/BHLogo.gif);*/
	/*width: 140px;*/
	width: 100px;
	height: 90px;
	margin-left: -5px;
	padding: 0px;
}

#searchheader_container
{
	padding: 0px;
	margin-left: 330px;
	margin-right: 137px;
}

#headermenu_container
{
	background-color: #CC0000;
	float: right;
	width: 450px;
	height: 29px;
	color: #FFFFFF;
	font-size: 0.9em;
	text-align: right;
}

#search
{
	font-family: Arial;
	font-size: 0.9em;
	background-image: url(/BHAIntranet/Images/General/Search_bg.gif);
	float: right;
	width: 375px;
	height: 60px;
	border: solid 1px gray;
	padding-left: 5px;
}

#search *
{
	vertical-align:middle;
}

/* Controls in the header */
/* IE7 doesn't support display:inline-table */
.rdoListSearch
{
	display: inline;
	padding:0px;
	margin-left: 0px;
}

.rdoListSearch li
{
	display: inline;
}

.rdoListSearch input
{
	display: inline;
}

.txtSearch
{
	margin-left: 50px;
}

.input
{
	border: solid 1px gray;
	font-size: 1em;
}

.lblSearch
{
	display: inline;
}

#headerlist
{
	list-style: none;
}

#headerlist li
{
	float: right;
	margin-left: 12px;
}

#headerlist li a
{
	color: #FFFFFF;
}

#tmp
{
	border: solid 1px gray;
}

/* Body Layout */

#maincontent_container
{	
	float:left;
	width:100%;
}

#maincontent
{
	float:left;
	padding:5px;
	/*width:79%;*/  /* this works on wider browsers */
	width:74%;
	/*position:absolute;*/
}

.clearfloat
{
	clear:both;
}

#mainmenu
{
	border-right: solid 1px gray;
	/* Cross-Browser Min Height */
	min-height:410px;
	height:auto !important;
    height: 410px;
	float: left;
	width: 23%;
	margin-top: 10px;
}

#mainmenu_buttons
{
	border-bottom: solid 1px gray;
	height:50px;
}

#mainmenuheader
{
	background-color: #CC0000;
	height: 20px;
	color: #FFFFFF;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 2px;
}

/* Save for 3 tier template
#maincontent
{
border: solid 1px gray;
margin-left:250px;
margin-right:210px;
}

#submenu
{
	float:right;
width:200px;
	height:400px;
border: solid 1px gray;
}
*/






/*  CSS Suckerfish Navigation for popups */

/* all lists */
#nav, #intranetnav
{
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	width:100%;
}

#nav ul li, #intranetnav ul li
{

}

#nav li, #intranetnav li
{
	position: relative;
	float: left;
	line-height: 1.25em;
	list-style:none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	background-color: #FFFFFF;
	width:100%;
}

/* second-level lists positioned off the page*/
#nav li ul, #intranetnav li ul
{
	position: absolute;
	left: -999em;
	padding-left:0px;
	margin-top: -23px;
	border: solid 1px #666666;
	background-color: #FFFFFF;
	width:100%;
}
/*

    */

/* CSS for the links */
#nav li a, #intranetnav li a
{
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	text-decoration: none;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* CSS for the links when you rollover them */
#nav li a:hover, #intranetnav li a:hover
{
	background-color: #eeeeee;
}

/* CSS for the links when you rollover them width: 85%;*/
#nav li ul li a:hover, #intranetnav li ul li a:hover
{
	background-color: #eeeeee;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul
{
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul
{
	/* lists nested under hovered list items */
	left: 0px;
	margin-left:100%;
}


#intranetnav li:hover ul ul, #intranetnav li:hover ul ul ul, #intranetnav li.sfhover ul ul, #intranetnav li.sfhover ul ul ul
{
	left: -999em;
}

#intranetnav li:hover ul, #intranetnav li li:hover ul, #intranetnav li li li:hover ul, #intranetnav li.sfhover ul, #intranetnav li li.sfhover ul, #intranetnav li li li.sfhover ul
{
	/* lists nested under hovered list items */
	left: 0px;	
	margin-left:100%;
}
/* End Suckerfish navigation */


/* CSS for footer */


#footer
{
	margin-top: 5px;
	border-top: solid 1px gray;
	height: 20px;
	padding-left: 4px;
}

#footerlist
{
	list-style: none;
	margin: 0;
}

.footerlist
{
	list-style: none;
	margin: 0;
}


.footerlist li
{
	float: left;
	margin-right: 4px;
}


#footercontact
{
	height: 20px;
	padding-left: 4px;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
}


/* Whiteboard */
#outerWhiteboardContainer
{
	/*width:730px;*/
}

/* column containers for whiteboard */
#news_emp_container
{
	float:left;
	width: 41%;
	margin-right:5px;
}

#mand_latest_container
{
	float:left;
	width: 33%;
	margin-right:5px;
}

#doc_sugg_container
{
	float: left;
	width: 50%;
	margin-right:5px;
}

#admin_soft_container
{
	float: left;
	width: 24%;
	margin-right:5px;
}

/* headers */
#newsheader, #empheader, #softheader, #adminheader, #docheader, #suggheader, #manddocheader, #latestdocheader, #travelheader, #blogheader,#EnviroTipsheader
{
	color: #FFFFFF;
	padding-left: 4px;
	font-weight: bold;
	height: 20px;
	padding-top: 2px;
	margin-top: 5px;
	padding-right:15px;
	background-color: #CC0000;
	width:65%;
}

#docheader
{
	width:70%;
}

#softheader
{
	width:90%;
}

#travelheader
{
	width:90%;
}

#EnviroTipsheader
{
	width:90%;
}

/* bodys */
#newsbody
{
	/*height: 225px;*/
	height:100%;
	border: solid 1px #CC0000;
	padding: 5px;
	overflow:auto;
}

#emp
{
}


#empbody
{
	width: 100%;
	border: solid 1px #CC0000;
	overflow:auto;
}

#EnviroTipsbody
{
	width: 100%;
	border: solid 1px #CC0000;
}

#admin
{

}

#adminbody
{	
	/* force width as nothing in admin panel */	
	/*width: 180px;*/
	border: solid 1px #CC0000;
	width:100%;	
	padding:5px;
}

#soft
{
}

#softbody
{
	width: 100%;
	border: solid 1px #CC0000;
	padding:5px;
}

#travelbody
{
	width: 100%;
	border: solid 1px #CC0000;
	padding:5px;
}

#docbody
{
	/*height: 225px;*/
	width: 99%;
	border: solid 1px #CC0000;
}

#manddocbody
{	
	width: 99%;
	border: solid 1px #CC0000;
}

#latestdocbody
{
	width: 99%;
	border: solid 1px #CC0000;
}

#blogbody
{
	width: 99%;
	border: solid 1px #CC0000;
}

#sugg
{
	margin-top:10px;
}

#suggbody
{
	/*height: 200px;*/
	border: solid 1px #CC0000;
	padding: 5px;
	width:100%;
}

#TemplateContent
{
	margin-right: 200px;
}

#subnav
{
	float: right;
	width:25%;
	/*width: 125px;*/
}


#subnav ul
{
	/* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	width: 190px;
}

#subnav li
{
	/* all list items */
	line-height: 1.25em;
	margin-bottom: -0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	width: 190px;
	background-image: url(images/headerbg.gif);
}




#subnav li a
{
	width: 90%;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	color: #44698F; /*margin-left:10px;*/
	text-decoration: none;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-top: 3px;
	padding-bottom: 3px; /*padding : 0 0.5em;*/
}

#subnav li a:hover
{
	/* 		color : white;*/
	width: 90%;
	background-color: #eeeeee;
}

.show
{
	display: block;
}

.hide
{
	display: none;
}

.gvwHeadlines
{
	width: 95%;
	margin-left: 10px;
	margin-top: 10px;
	float:left;
}

.gvwHeadlines tr
{
	border-bottom: solid 1px #000000;
}

.gvwHeadlines td
{
	border-bottom: solid 1px gray;
}



#empcontent
{

}

#keymessage
{
	padding:5px;
	/*width:125px;*/
}

#keymessageheader
{
	background-color: Black;
	color: #FFFFFF;
	padding: 3px;
	font-weight: bold;
}

#keymessagebody
{
	background-color: #CC0000;
	color: #FFFFFF;
	font-size: 1.8em;
	padding: 3px;
}

#keymessagebody p
{
	margin: 0;
}

#newstext
{
}


#rsslink
{
	background-color: #CC0000;
	padding: 3px;
}

#rsslink a
{
	color: #FFFFFF;
}


.lnkGoToHomeStory
{
	margin-left: 10px;
	float:left;
}


#newsfooter a
{
	color: #FFFFFF;
}

#newscontent
{
	border: solid 1px #CC0000;
	padding: 5px;
}

.title
{
	font-size: 1.25em;
	font-weight: bold;
}

#sugg_container
{
	padding: 5px;
}

.tpLabel
{
	display: block;
	float: left;
	width: 40px;
	padding: 3px 5px;
	text-align: left;
}

.suggTitle
{
}

.tpInput
{
	width: 95%;
	text-align: left;
	background-color: #EEEEEE;
	border: solid 1px #999999;
	font-size: 12px;
	color: #000000;
	font-family: Arial;
	margin-bottom: 5px;
}


.tpTextArea
{
	width: 95%;
	height: 65px;
	background-color: #EEEEEE;
	border: solid 1px #999999;
	font-size: 12px;
	color: #000000;
	font-family: Arial;
	margin-bottom: 5px;
}

#SuggButton
{
	text-align: right;
}

#SuggButton input
{
	margin: 3px;
	border: solid 1px #000000;
}

#rslmodules
{
	list-style: none;
	margin-left: 0px;
}

#rslmodules li
{
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
	float: right;
}

/* copy of custom page contents */
#customPageContent
{
	/*margin-right: 170px;*/
	/*width:450px;*/
	float:left;
	width:70%;
}

#customContentBox
{
	border:solid 1px #CC0000;
	padding:5px;
}

img
{
    border:none;
}

a
{
    border:none;
    cursor:pointer
}

.btn, input
{
    cursor:pointer;
}

/* Update Details Prompt
----------------------------------------------------------*/
.Background
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.6;
}
 
.Popup
{
    background-color: #FFFFFF;
    border-width: 0px;
    border-style: solid;
    border-color: black;
    width: 780px;
    height: 300px;
}
 
.lbl
{
    font-size:16px;
    font-style:italic;
    font-weight:bold;
}

.updateDetails 
{
     width: 100%;
     height: 100%;
	 margin: 0px;
	 padding: 0px;
	 border: none;
}