﻿.gvw
{
border:solid 1px #000000;
	
}	

#newsimage
{
width:110px;
float:left;

}	

.newslistimage
{
float:left
}	

.newsitem
{
	
	margin-left:110px;
	
}

.dateSubmitted
{
	font-size:10px;
	color:Gray;
}

.newstitle
{
 font-size:1.6em;	
}

#backtolist	
{
float:right;
margin-right:12px;
}

#details_backtolist
{
float:right;

}

#newstext
{
	/*
	margin-left:110px;
	*/	
}
#newsdetailstext
{
	
	margin-left:110px;
	
}	
#newsheader
{
 background-color:#000000;
 color:#FFFFFF;	
 padding:3px;
 font-weight:bold;
 width:40%;	
 height:15px;
}


	
#rssLink
{

 float:right;
 padding:3px;
 font-weight:bold;
 text-align:right;
 margin-right:8px;
 
}	
#newsfooter a
{

	color:#000000;	
	
}
/*
#newscontent
{

margin-right:200px;

border:solid 1px #CC0000;
padding:5px;

}	
*/
.title
{
 font-size:1.25em;
 font-weight:bold;		
}		

.newsTaster
{
	font-size:10px;
	color:Gray;	
}

/* overrides master #maincontent content div */
#maincontent
{	
	float:left;
	padding:5px;
	width:73%;		
}

#customContentBox
{	
	float:left;
	padding:5px;
	width:70%;
}