﻿body
{
	margin:0px;	
	font-family:Arial;
	font-size:12px;	
}

#printArea
{
	margin:15px;
}

#printHeader
{
	height: 50px;
	width: 700px;
	background-color: #EEEEEE;
	padding:5px;
}

#printHeader .headerLabel
{
	margin-top:15px;
	margin-left:5px;
	font-size:16px;
	font-family:Arial;	
	float:left;
	font-weight:bold;
}

#printBtns
{
		float:right;
		display:block;
		margin:10px;
}

@media print 
{ 
	#printBtns
	{		
		display:none;		
	}
}

.btn
{
	border: solid 1px #000000;	
	width:50px;
	margin-left:5px;
}

h2
{
	font-size:14px;
}

h3
{
	font-size:12px;
}

.itemLabel
{
  width:150px; 
  padding-top:5px;
  margin-right:5px;  
  float:left;
}

.itemField
{
       
    display: block; 
    padding-top:5px;      
} 

.lblMultiLine
{	
	display: block; 
    padding-top:5px; 
    border-style:none;
    border-width:0px;	
    font-family:Arial;
    overflow:hidden;
}

.orderGridView
{	
	font-size:11px;
	padding:5px;
}

.orderGridView th
{
	padding:5px;
	background-color:Silver;	
}

.orderGridView td
{
	padding:5px;	
}

.orderGridView tr
{
	padding:5px;
}

hr
{
	
}

