﻿
.lbl
{
	float: left;
	padding: 3px 5px;
	text-align: left;
	width: 200px;
}
.lblSmallRight
{	
	font-size:11px;
	font-style:italic;
	margin-top:5px;
	padding:3px 5px;
	width:100px;
}

.lblField
{
	background-color: #EEEEEE;
	padding: 3px 5px;
	text-align: left;
	width: 125px;
	margin-top: 5px;
}

.lblLongField
{
	background-color: #EEEEEE;
	padding: 3px 5px;
	text-align: left;
	width: 200px;
	margin-top: 5px;
}

.lblTotalField
{	
	float:left;	
	padding: 3px 5px;
	text-align: left;
	width: 150px;	
	font-weight:bold;
}

.lblMultiLine
{
	background-color: #EEEEEE;
	padding: 3px 5px;
	text-align: left;
	width: 200px;
	margin-top: 5px;
	font-family:Arial;
}

.btn
{
	margin-left: 10px;
	margin-top:10px;
	border: solid 1px #000000;
	width:75px;
}

.btnLong
{
	margin-left: 10px;
	margin-top:10px;
	border: solid 1px #000000;
	width:125px;
}

#customContentBox
{
	float: left;
	padding: 5px;
	width: 70%;
}

span.waitSpinner div
{
	float: right;
	padding: 10px;
}

.calBtn
{	
}

.gridViewContainer
{
	overflow: auto;
}

.orderGridView
{
	font-size: 11px;
	padding: 5px;
	width:100%;
}

.orderGridView th
{
	padding: 5px;
	background-color: Silver;
}

.orderGridView td
{
	padding: 5px;
}

.orderGridView tr
{
	padding: 5px;
}

#filterButtons
{
	margin-top: 10px;
	float: right;
	height: 350px;
}

.prompts
{
	background-color: Red;
}

.lblCol
{
	text-align: right;
}

#filterArea
{	
	height: 100%;	
	width:700px;
	margin-top:15px;	
	overflow:hidden;
}

#filterArea #leftCol
{	
	margin-left:10px;
	float: left;			
}

#filterArea #rightCol
{
	margin-left:10px;
	float: left;
}

#filterArea #btnCol
{
	float: left;
	margin:5px;	
	width:100%;
}

#btnArea
{

}

.lblPrompt
{
	float: left;
	padding: 3px 8px;
	width: 170px;
	text-align:right;
}

#stationeryHeader
{
	background-color:#CC0000;
	color:#FFFFFF;
	font-weight:bold;
	height:20px;
	margin-top:5px;
	padding-left:4px;
	padding-right:15px;
	padding-top:2px;
	width:65%;
}

#stationeryContentBox
{
	border: 1px solid #CC0000;
	padding: 5px;
	overflow:hidden;
}

.tabContainer
{
	margin-top:5px;
}

.tabPanelFilter
{
	overflow:scroll;
}

#orderItemReportContainer
{

}

#orderItemReport
{
}

#orderItemBtn
{
	height:40px;	
}

#orderItemBtn .btn
{
	float:right;
}
