﻿
.suggLabel
 {
  display: block;
  float: left;
  width: 130px;
  padding: 3px 5px;

  text-align: left;
}

.suggInput, .suggInputLarge
{
    
  width: 150px;
  padding: 3px 5px;
  text-align: left;
  
  background-color:#EEEEEE;
  border:solid 1px #999999;

  font-size: 12px;
  color: #000000;
  font-family: Arial;
  margin-bottom:5px;
  
}

.suggInputLarge
{
	height:100px;
	width:200px;	
}

.lbl
 {
  display: block;
  float: left;
  width: 130px;
  padding: 3px 5px;

  text-align: left;
}

.txt 
{
  display: block;  
  width: 150px;
  padding: 3px 5px;
  text-align: left;
  
  background-color:#FFFFFF;
  border:solid 1px #999999;

  font-size: 12px;
  color: #000000;
  font-family: Arial;
  margin-bottom:0px
}





.suggLabelDetail
{
 font-weight:bold;	
}	

#btn, #btnDetail
{
	width:400px;
	text-align: right;
	margin:10px;
		
}

#btn input, #btnDetail input
{
  border:solid 1px #000000;	
}		


.gvwSugg td, .gvwSugg th
{
 border:solid 1px #000000;		
}	

.gvwSugg th
{
 background-color:#000000;
 color:#FFFFFF;
 font-weight:bold;
}	



.gvwSugg table 
{
 border:solid 1px #000000;
}  

/* overrides master #maincontent content div */
#maincontent
{	
	float:left;
	padding:5px;
	width:73%;		
}

.calBtn
{
	padding:5px;
	background-color: #EEEEEE;
}

.calBtn img
{
	border:solid 1px #000000;
}

/* overrides master #maincontent content div */
#customContentBox
{	
	float:left;
	padding:5px;
	width:70%;
}