﻿
#empimage
{
float:left;
margin-top:10px;
margin-right:10px;
margin-left:5px;
}	

#empcontent
{
	
}	
#nameandtitle
{
margin-top:10px;
font-size:1.1em;
border-bottom:solid 1px #000000;
margin-right:10px;
margin-bottom:10px;	
}	

#teamandstart
{
	
}	

#profile
{
	
}	


.btn
{
margin-left:10px;
border:solid 1px #000000;	
}	


.genLabel {
  display: block;
  float: left;
  width: 130px;
  padding: 3px 5px;

  text-align: left;
}

.genInput 
{
    
  width: 150px;
  padding: 3px 5px;
  text-align: left;
  
  background-color:#EEEEEE;
  border:solid 1px #999999;

  font-size: 12px;
  color: #000000;
  font-family: Arial;
  margin-bottom:5px;
  
}
.genFileInput 
{
    
  width: 200px;
  padding: 3px 5px;
  text-align: left;
  
  background-color:#EEEEEE;
  border:solid 1px #999999;

  font-size: 12px;
  color: #000000;
  font-family: Arial;
  margin-bottom:5px;
  
}
.genChk 
{
    
 
  border:solid 0px #FFFFFF;

  color: #000000;
  font-family: Arial;
  margin-bottom:5px;
  
}

.lbl
 {
  float: left;
  padding: 3px 5px;
  text-align: left;
  width:150px;
  font-weight:bold;
}

.lbltxt
 {
  float: left;
  padding: 3px 5px;
  text-align: left;
}

/* overrides master #maincontent content div */
#customContentBox
{	
	float:left;
	padding:5px;
	width:70%;
}