﻿
#treeviewnav
{
float:left;

border:solid 1px #999999;
overflow : auto;
width:220px;
height:400px;
} 

#pageEditing
{
	height:100%;
}

/*#maincontent
{
margin-left:230px;
border:solid 1px #999999;
margin-right:10px;	
}*/	



.genLabel {
  display: block;
  float: left;
  width: 130px;
  padding: 3px 5px;

  text-align: left;
}

.genInput 
{
    
  width: 150px;
  padding: 3px 5px;
  text-align: left;
  
  background-color:#EEEEEE;
  border:solid 1px #999999;

  font-size: 12px;
  color: #000000;
  font-family: Arial;
  margin-bottom:5px;
  
}
.genFileInput 
{
    
  width: 200px;
  padding: 3px 5px;
  text-align: left;
  
  background-color:#EEEEEE;
  border:solid 1px #999999;

  font-size: 12px;
  color: #000000;
  font-family: Arial;
  margin-bottom:5px;
  
}
.genChk 
{
    
 
  border:solid 0px #FFFFFF;

  color: #000000;
  font-family: Arial;
  margin-bottom:5px;
  
}


#menubuttons, #pagebuttons
{
	text-align:right;	
	margin-bottom:10px;
	width:400px;	
}	

.btn
{
	margin-left:10px;
	border:solid 1px #000000;
}	


.genButton
{

border: solid 1px gray;		
font-size:1em;	
}


.genTextArea
{
width:200px;
height:75px;    
font-family: Arial;      
background-color:#EEEEEE;
border:solid 1px #999999;
font-size: 12px;
color: #000000;
font-family: Arial;
margin-bottom:5px;
}  

.rnkbuttons, .newsbuttons
{
width:350px;
text-align:right;	
margin-top:10px;
margin-bottom:10px;	
}
.buttons
{
width:600px;
text-align:right;	
margin-top:10px;
margin-bottom:10px;	
}
.rnkbuttons input, .newsbuttons input, .buttons input
{
border: solid 1px #000000;	
	
}		

.webranklist
{
width:210px;
height:200px;		
}


#subnav
{
display:none;	
}

#pagecontent
{
margin-right:10px;	
}	
/*
#maincontent
{
border:solid 1px #FFFFFF;	
}		
*/

/* overrides master #maincontent content div */
#maincontent
{	
	float:left;
	padding:5px;
	width:73%;
	min-height:490px;	
}

span.waitSpinner div
{
	float:right;
	padding:10px;
}