﻿#subnav
{
	display: none;
}


#maincontent
{
	/* margin-right:0px; */ /*	width:73%;*/
}


.genLabel
{
	display: block;
	float: left;
	width: 130px;
	padding: 3px 5px;
	text-align: left;
}

.genInput
{
	width: 150px;
	padding: 3px 5px;
	text-align: left;
	background-color: #EEEEEE;
	border: solid 1px #999999;
	font-size: 12px;
	color: #000000;
	font-family: Arial;
	margin-bottom: 5px;
}
.genFileInput
{
	width: 200px;
	padding: 3px 5px;
	text-align: left;
	background-color: #EEEEEE;
	border: solid 1px #999999;
	font-size: 12px;
	color: #000000;
	font-family: Arial;
	margin-bottom: 5px;
}
.genChk
{
	border: solid 0px #FFFFFF;
	color: #000000;
	font-family: Arial;
	margin-bottom: 5px;
}


#empimage
{
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 5px;
}

#empcontent
{
	margin-left: 110px;
}

#nameandtitle
{
	margin-top: 10px;
	font-size: 1.5em;
	border-bottom: solid 1px #000000;
	margin-right: 10px;
	margin-bottom: 10px;
}

#teamandstart
{
	padding: 1px;
}

#profile
{
	
}

.gvwMand
{
	margin: 5px;
	width: 95%;
}

.docimage
{
	float: left;
}


.doccontent
{
	margin-left: 5px;
	float:left;
}


.doctitle
{
	font-size: 1em;
	font-weight: bold;
	border-bottom: solid 1px #000000;
	text-decoration: none;
	width:100%;
}

.doctitle a
{
	text-decoration:none;
}

.doclnk
{
	text-align: right;
	margin-top: 5px;
	margin-right: 5px;
}


.btn
{
	margin-left: 10px;
	border: solid 1px #000000;
	margin: 5px;
}
.softlabel
{
	margin-bottom: 3px;
}


#software_connect
{
	list-style: none;
	margin-top: 5px;
	margin-left: 5px;
}

#softtitle
{
	margin-top: 5px;
	margin-left: 5px;
}

.alertName
{
	font-size:10px;	
	padding:5px;
}

.alertCountText
{
	font-size:10px;
	color:Red;
	padding:5px;
	text-decoration:none;	
}

/* News */
#headlinecontainer
{	
	width:100%;
}

#news
{
	height:100%;	
}

.newsHeadline
{
	font-size: 1.5em;
	margin-left: 10px;	
}

.newsContent
{
	padding:5px;
	float:left;	
	width:46%;
	margin-left:5px;	
}

.NewsImageHeadline
{
	float: right;
	width:150px;
	height:auto;
}
