﻿/* CSS Document */

body
{
    margin: 0;
}
/*Support*/

.left
{
    float: left;
}
.right
{
    float: right;
}
.clear
{
    clear: both;
}

/*white_board_styles*/

.wrapper
{
    width: 100%;
    margin: 0 auto;
}

.header
{
    height: 100px;
    background: #ca0813;
}

.htop
{
    /*	width:317px;*/
    height: 55px;
    margin-right: 30px;
}

.session-detail
{
    width: 220px;
    background: #b60610;
}

.session-detail p
{
    margin: 0;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
   /* padding-left: 20px;*/
    padding-bottom: 5px;
    text-align: right;
    padding-right: 5px;
}

.home
{
    /*	width:55px;*/
    background: #b60610;
    margin-left: 5px;
    padding: 18px;
    font-size: 11px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.main-container
{
    padding: 6px 0 0 32px;
}

.left-panel
{
    width: 21%;
}

.search
{
    background: #ca0813;
    color: #FFFFFF;
    font-family: arial;
    font-size: 11px;
    height: 60px;
    padding: 10px;
}

.input-search
{
    background-image: url(../../Images/General/search_icon_red.png);
    background-position: right;
    background-repeat: no-repeat;
    display: block;
    background-color: #808080;
    margin-top: 3px;
    width: 100%;
}
.txtSearchCss
{
    border: none;
    background: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    width: 83%;
    height: 20px;
    padding-left: 10px;
}

.btnSearchCss
{
    border: none;
    background: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff; /*width:192px;*/
    height: 20px;
    padding-left: 10px;
}

.input-search img
{
    /*	padding-top:5px;*/
}

.left-menu
{
    padding: 20px;
    background: #c7081c;
    margin: 20px 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.left-menu h3
{
    margin: 0;
    padding: 0;
}

.module_bullets
{
    margin: 10px 0;
}

.module_bullets span
{
    padding-left: 10px;
}
.module_bullets a
{
    
    text-decoration: none;
    color: White;
}
.module_bullets img
{
        
    color: White;
}

.menu_bullets
{
    margin: 10px 0;
}

.menu_bullets span
{
    padding-left: 10px;
}
.menu_bullets a
{
    float:left;
    text-decoration: none;
    color: White;
}
.menu_bullets img
{
    float:left;     
    color: White;
}
.updates
{
    background: #808080;
    padding: 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.dont-forget
{
    padding-top: 8px;
    padding-left: 30px;
    font-weight: bold;
    word-spacing: 3px;
    line-height: 25px;
    font-size: 22px;
    color: #000;
}

.middle-container
{
    width: 64%;
    margin: 0 20px;
    
    height: 600px;
}
.content_place_holder
{
    width: 75%;
    margin: 0 20px;
    height: auto;
    float: left;
}
.right-bar
{
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

.alerts
{
    border: 1px solid #ca0813;
    padding-bottom: 20px;
}

.alerts h4
{
    margin: 0;
    padding: 10px;
    background: #ca0813;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: normal;
}

.right-bullets
{
    padding: 20px 20px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
}

.right-bullets img
{
    padding-left: 2px;
    margin-right: 5px;
}

.right-bullets a
{
    color: #ca0813;
    font-weight: bold;
    float: right;
}
.doc_lnk {
    margin-right: 5px;
    margin-top: 5px;
    text-align: right;
    font-size:12px; 
}
.doc_lnk a {    
    text-align: right;
    text-decoration:none;
    color:#C7081C;   
}
.suggestions
{
    border: 1px solid #ca0813;
    padding-bottom: 5px;
    margin: 20px 0;
}

.suggestions h4
{
    margin: 0;
    padding: 10px;
    background: #ca0813;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: normal;
}

.suggestions textarea
{
    resize: none;
    border: none;
    background: #dadada;
    outline: none;
    height: 94px;
    margin: 10px;
    width: 85%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 14px;
     font-style:italic; 
}

.suggestions_topic
{
    border: none;
    background: #dadada;
    outline: none;
    margin-left: 10px;
    width: 88%;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px;
    font-style:italic;  
}
.suggestions_send_button
{
    
    display: block;
    margin-top: 3px;
    width: 90%;
    border:none; 
}
.suggestions_send
{
    background-image: url(../../Images/General/suggestion_submit.PNG);
    background-position: right;
    background-repeat: no-repeat;
    background-color:White;  
    display: block;
    margin-top: 3px;
    width: 100%;
    border:none; 
}
.suggestions a
{
    margin-right: 10px;
    padding: 10px 0;
}

.reads
{
    border: 1px solid #ca0813;
    padding-bottom: 20px;
    margin: 20px 0;
}

.reads h4
{
    margin: 0;
    padding: 10px;
    background: #ca0813;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: normal;
}
/*///////////////////Middle container////////////////*/
.middle-container h4{
	margin:0;
	padding:10px;
	background:#ca0813;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-weight:normal;
}
.row-left {
	width:58%;
}

.row-left h6 {
	font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 20px 17px 10px;
	font-weight:bold;
}

.row-left p {
	margin:0;
	padding:0 20px;
	font-family:Arial, Helvetica, sans-serif;
}

.row-left img {
	margin-left: 5px;
    margin-top: 10px;
}

.row-right img{
	margin-right:30px
}

.middle_row {
	padding-bottom:20px;
	border-bottom:1px solid #d6d6d6;
}

.row-second {
	padding-left:20px;
	
}

.row-second img{
	border:1px solid #d6d6d6;
	margin-top:20px;
	float:left;
}

.row-second h2{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding-left:8px;
	width:52%;
	padding-top:6px;
	min-height:85px; 
}

.row-second p{
	font-family:Arial, Helvetica, sans-serif;
	padding-left:8px;
	margin:0;
	
}

.cal_date img {
	margin:10px 5px 0 15px;
}

.cal_date a {
	color:#c7081c;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:32px;
	font-weight:bold;
}

.starter {
	margin:20px 0 0;
	font-family:Arial, Helvetica, sans-serif;
	color:#7b7b7b;
}

.starter_desc {
	width:40%;
	font-family:Arial, Helvetica, sans-serif;
	color:#7b7b7b;
}

.covers {
	padding-left: 35px;
    padding-top: 22px;
    width: 50%;
}

.cover_number {
	width:50%;
	text-align:center;
	margin-right:27px;
}

.cover_number h5,h6 {
	margin:0;
	padding:5px 0 0;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
}

.cover_number h6 {
	color:#adadad
}

.ad-directory {
	width:50%;
	text-align:center;
	padding-top:30px;
}

.ad-directory h2 {
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	color:#7b7b7b;
}

.ad-directory p {
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	color:#7b7b7b;
	padding:0 10px 10px;
}

.img-top {
	height:50px;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\Footer\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*white_board_styles

.wrapper {
	width:1400px;
	margin:0 auto;
}*/

.footer {
	background:#808080;
	color:#fff;
	height:212px;
	margin-top:10px;
}

.footer_1, .footer_2, .footer_3 {
	width:222px;
	padding-left: 80px;
	padding-top: 30px;
}

.footer_1 h2, .footer_2 h2, .footer_3 h2{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
}

.footer_1 p, .footer_2 p , .footer_3 p{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
	padding-top:10px;
	line-height:20px;
}

.footer_3 ul {
	margin:0;
	padding:10px 0 0 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
	line-height:20px;
}

.footer_4 img {
	margin-top:185px;
}

