<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/master pages/Clean.Master" Title="Tenants Online :: Contractor Portal" CodeBehind="download_file.aspx.vb" Inherits="tenantsonline.DownloadMonitoringFile" %>

<asp:Content ID="Content1" ContentPlaceHolderID="page_area" runat="server">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <asp:LinkButton ID="LinkButton1" runat="server" CausesValidation="False" EnableViewState="False" >Click To Download This File</asp:LinkButton><br />
    <br />
    <br />
    
   <%-- <pnwc:ExportButton id="btnExcel" runat="server" 
  Separator="TAB" Text="Export to Excel" 
  FileNameToExport="Books.xls" BackColor="#E0E0E0"></pnwc:ExportButton>--%>

    
</asp:Content>