﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/BlankMasterPage.Master" CodeBehind="Bridge.aspx.vb" Inherits="PropertyManagmentModule.Bridge" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Panel ID="pnlMessage" runat="server" Visible="False">
        <asp:Label ID="lblMessage" runat="server" Text="Label"></asp:Label>
    </asp:Panel>
</asp:Content>
