﻿.jr-wrap
        {
            width: 100%;
            border: 1px solid #000;
            font-size:13px;
        }
        
        .jr-wrap .title-bar
        {
            padding: 0px 10px;
            height: 40px;
            line-height: 40px;
            background-color: #000;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
        
        .jr-wrap .data-panels
        {
            padding: 10px;
        }
        
        .jr-wrap .left-panel
        {
            width: 60%;
            float: left;
        }
        
        .jr-wrap .right-panel
        {
            width: 40%;
            float: left;
        }
        
        .jr-wrap .addnew-panel
        {
            width: 50%;
            margin: 0px auto;
            padding: 10px;
        }
        
        .jr-wrap .in-panels
        {
            padding: 10px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            margin-right: 10px;
      
        }
        
        .jr-wrap .tab-panel
        {
            padding: 0px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            margin-right: 10px;
        }
        
        .jr-wrap .in-panels .txtfield
        {
            padding: 5px;
            width: 95%;
            border: 1px solid #aaa;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
         
        }
        
        .jr-wrap .in-panels .slct
        {
            padding: 5px;
            width: 99%;
            border: 1px solid #aaa;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
         
        }
        
        .jr-wrap .btn
        {
            width: 100%;
            border: 1px solid #aaa;
            border-radius: 5px;
            background-color: #fff;
            padding: 5px;
        }
        
        .tab-bar
        {
            height: 35px;
        }
        
        .tab
        {
            padding: 0px 10px 0px 30px;
            height: 35px;
            background: url(../Images/icon_cal_off.png) no-repeat 10px 50% #EEE;
            display: block;
            line-height: 35px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: #888;
            text-decoration: none;
            margin-right: 1px;
            border-right: 1px dotted #ddd;
        }
        
        .tab-active
        {
            padding: 0px 10px 0px 30px;
            height: 35px;
            background: url(../Images/icon_cal.png) no-repeat 10px 50% #fff;
            display: block;
            line-height: 35px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: #000;
            text-decoration: none;
            margin-right: 1px;
            border-right: 1px solid #fff;
        }
        
        .tab:hover
        {
            background: url(../Images/icon_cal.png) no-repeat 10px 50% #fff;
            color: #444;
            border-right: 1px solid #fff;
        }
        
        .tabdata
        {
            padding: 10px 10px 40px;
            font-weight:normal;
        }
        
        .aleft
        {
            float: left;
        }
        
        .clear
        {
            clear: both;
        }
        
        .showDiv
        {
            display: block;
        }
        
        .hideDiv
        {
            display: none;
        }
        
        .btn
        {
            width: 100%;
            border: 1px solid #aaa;
            border-radius: 5px;
            background-color: #fff;
            padding: 5px;
        }