﻿body {
            margin: 0px;
            padding: 5px;
            font-family:Arial;
	}
	

	
	
	
	#superdiv {
	/*background: #438a48; */
	font-family:Tahoma;
	/*width: 1024px;*/
	width: 100%;
	height:100%;
	float:none;
	padding:0px;
	vertical-align:middle;
	margin:0 auto;
	
	}
	
	#header {
	/*background: #438a48; */
	font-family:inherit;
	width: 100%;
	height:40px;
	float:none;
	padding:0px;
	vertical-align:middle;
	padding-bottom:5px;
	}
	#middlePart {
	/*background: #438a48; */
	width: 100%;
	height:100%;
	float:left;
	padding:0px;
	vertical-align:middle;
	}
	#header-left 
	{
	
	background-image:url('../Images/topbg.jpg');
	width:18%;
	height:100%;
	float:left;
	margin-right:5px;
	
	
	}
	
	#header-right 
	{
	
	background-image:url('../Images/topbg.jpg');
	width:79%;
	
	float:left;
	height:100%;
	
	vertical-align:middle
}
	#leftcolumn {
	background: #ffffff;
	float: left;
	width: 18%;
	height: 700px;
	vertical-align:top;
	margin-right:5px;
	}
	
#r_leftcolumn {
	background: #ffffff;
	float: left;
	width: 16%;
	height: 700px;
	vertical-align:top;
	margin-right:5px;
	margin-left:10px;
	}	
	#breadcrum {
	background: #C9CBCD;
	float: left;
	width: 79%;
	font-weight:bold;
	
	
	/*height: 700px;*/
	}
	#content {
	/*background: #FFFFF;*/
	float: left;
	width: 79%;
	height:100%;
	
	/*height: 700px;*/
	}
	
#r_content {
	/*background: #FFFFF;*/
	float: left;
	width: 80%;
	height:100%;
	
	/*height: 700px;*/
	}	
	.header-font
	{
		
		color: #ffffff;
		 font-size:8pt;
		 margin-top:12px;
		
	}
	
	.header-font-bold
	{
		
		color: #ffffff;
		 font-size:8pt;
		 font-weight:bold;
		 
		 margin-top:12px;
		
	}
	#left-header-span
	{
		text-align:center;
		width:43%;
		height:100%;
		float:left;
		vertical-align:middle;
}
	#right-header-span
	{
		text-align:center;
		width:14%;
		height:100%;
		float:right;
		vertical-align:middle;
	margin-left: 0px;
}
	#middle-header-span
	{
		text-align:center;
		width:28%;
		height:100%;
		float:left;
	margin-left: 0px;
}
	.saparatorDiv
	{
		width:5px;
		float:left;
		padding-left:5px;
	}
	
	
	.menuStyle a
	{
	color: #000000;
    display: block;
    font-family: arial !important;
    font-size: 12px !important;
    font-weight: normal;
    padding: 3% !important;
    text-decoration: none;
    width: 94% !important;
    

	}
	.menuStyle td
	{
	    padding:0px !important;
	    
	    }
	
	.menuStyle a:hover
	{
		background-color:#e6e6e6;
	
	text-decoration: none;
	font-size: 12px !important;
	display: block;
	padding: 3% !important;
    
     font-family: arial !important;
    font-weight: normal;
    width:94% !important;
    }
	
	.menuStyle
	{
	
	font-family:Tahoma;
	font-weight:bold;
	border :1px solid #000000;
	vertical-align:top;
	width:100% !important;
	height:25px;

	}
	#footer {
	background: #df781c;
	clear: both;
	width: 100%;
	}
.topmessagesuccess
{
	font-family:Tahoma;
	color:Green;
	font-size:10px;
	visibility:visible;
	height:15px;

}

.topmessagefailure
{
	font-family:inherit;
	color:Red;
	font-size:10px;
	visibility:inherit;
	height:inherit;

}



.detailBox td, .detailBox th
{
    text-align: left;
    padding: 0;
}

.detailBox td:first-child
{
    width: 24px;

}

#tblAddUser 
{
    margin-top: 6px;
    border: 1px solid black;
}

#tblAddUser td,#tblAddUser th 
{
    text-align: left;
}
#tblUserHeader 
{
    border:1px solid;
    border-bottom: 0px;
}
#tblUserHeader td
{
    border: 0px;
    
}
#tblAddUser select
{
    width: 201px;
    
}
.TenantInfo td, .TenantInfo th 
{
    padding: 0 0 0 10px;
    text-align: left;
    height: 20px;
}
.TenantInfo td:first-child 
{
    width: 70px;
}
 
#error
{
    color:Red;
    font-size:20px;
    font-weight:normal;
}
.Required
{
color:Red    
}
.style1
    {
        width: 194px;
    }
    .style2
    {
        width: 120px;
    }
