﻿
.container
{
    margin: auto;
    width: 1021px;
}

.header
{
    float: left;
    height: 115px;
    width: 1021px;
    margin-bottom:50px !important;
}

.main
{
    height: 100% !important;
}


.menue
{
    width: 98%;
    margin-top: 1px;
    background-image: url(../Images/menu/m-bg.png);
    height: 63px;
    float: left;
    color: #cdcdcd;
    padding-left: 10px;
}

.menue_link
{
    width: auto;
    height: 63px;
    color: #cdcdcd;
    text-align: center;
    line-height: 51px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    cursor: pointer;
}
.sep
{
    width: 2px !important;
    height: 17px;
    float: left;
    background-image: url(../Images/menu/sep.jpg);
    margin-top: 17px;
}
.menue_link a
{
    text-decoration: none;
    color: #cdcdcd;
    display: block;
}
.menue_link:hover
{
    text-decoration: none;
    color: #fff !important;
}
.menue_link:hover a
{
    color: #fff !important;
}
.menue-select
{
    width: auto;
    height: 63px;
    color: #fff;
    text-align: center;
    line-height: 51px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    cursor: pointer;
}
.menue-select a
{
    text-decoration: none;
    color: #fff;
    display: block;
}
.logo
{
    height: 92px;
    left: 885px;
    margin: 0;
    position: relative;
    top: -45px;
    width: 108px;
}
.main-content
{
    float: left;
    margin-left: 5px;
    width: 99%;
}

/* Menu item styles */

ul.moduleMenu, ul.moduleMenu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

ul.moduleMenu ul
{
    display: none; /*initially menu item is hidden*/
    position: absolute; /*absolute positioning is important for menu to float*/
    background-color: #FFFFFF;
    width: 150px;
    border: 1px solid #AAAAAA;
}

ul.moduleMenu ul li
{
    border-bottom: 2px solid #DDDDDD;        
    float: none;
    height :40px;
    text-align:left;
    padding-left:5px;
}

ul.moduleMenu ul a
{
    color: #000000;
}

/* Hover effect for menu*/
ul.moduleMenu li:hover > ul
{
    display: block;
}


/*
change start
*/

.LeftAlignHeading
{
    text-align: left;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 13px;
}

tr.HeadingBorder td
{
    border: 1px solid #000;
}

table
{
    border-collapse: collapse;
}

.mainHeadings
{
    background-color: #E0E0E0;
    height: 25px;
    padding-left: 10px;
    font-size: 15px;
}

.padDiv
{
    margin-top: 15px;
    margin-bottom: 15px;
}

tr.padCells > td
{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 13px;
}
@media print
{

    .hide
    {
        display: none;
    }
    .mainHeadings
    {
        background-color: #E0E0E0;
        height: 25px;
        padding-left: 10px;
        font-size: 15px;
        -webkit-print-color-adjust: exact;
    }
}

/*
Search Page
*/
#search-main-content
{
    float: left;
    margin-left: 5px;
    width: 99%;
    background-image: url('../Images/imgStBensPic.jpg');
    background-repeat: no-repeat;
    height: 800px;
    margin-top: -58px;
}

#search-content-wrapper
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.search-table td
{
    padding: 10px;
    background-color: White;
    border: 2px;
}


.highlight
{
    font-weight: bold;
}

.repeaterTable tr:hover
{
  cursor:pointer;
}

/* Loading image on page update (UI-Blocker) - Start */

.loading-image
{
    background-color: #fff;            
    width: 100%;
    height: 100%;
    position: fixed;
    top: 12px;
    left: 3px;
    z-index: 1000000;
    text-align: center;            
    vertical-align:middle;
    opacity: 0.7;            
}
        
.loading-image img
{
    margin-top:255px;
}



