﻿/* DEFAULTS
----------------------------------------------------------*/
.mainContainer
{
    width: 100%;
    border: 2px solid #BBBBBB;
    padding: 10px;
    float: left;
}

.gridHeader
{
    border-bottom: 1px solid #BBBBBB;
    border-left: 0 none #000000;
    border-right: 0 none #000000;
    border-top: 0 none #000000;
}

.leftControl
{
    float: left;
    margin-right: 10px;
}

.rightControl
{
    float: right;
    margin-right: 10px;
}

.gridfaults-header
{
    font-weight: normal;
    font-size: 13px;
    border-bottom: 1px solid #BBB;
}

.textBoxInnerText
{
    text-align: right;
    border: 2px solid;
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=0);
}

.headingTitle
{
    background: #000000;
    color: #ffffff;
    width: 98%;
    height: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
}

.boxBorder
{
    border: 2px solid #BBBBBB;
}

.sort-expression a
{
    text-decoration:none !important;
}

.modalBackground
        {
            background-color: Black;
            filter: alpha(opacity=30);
            opacity: 0.3;
        }