﻿@model BHGHRModuleWeb.ViewModels.TeamListViewModel
@{
    ViewBag.Title = "Teams";
    bool status = Convert.ToBoolean(ViewBag.status);
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize);
    grid.Bind(Model.teams, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
}
<div class="row padding-bottom">
    <div class="col-md-12">
        <div class="col-md-12" style="border: 1px solid; background-color: #000; padding: 10px;">
            <span class="header" style="padding:0">Teams:</span>
            <div class="filters pull-right">
                <span class="header" style="padding-right:20px;">
                    @Html.RadioButton("rdBtnstatus", "1", status, new { onchange = "searchTextChanged();" })Active
                </span>
                <span class="header" style="padding-right:20px;">
                    @Html.RadioButton("rdBtnstatus", "0", !status, new { onchange = "searchTextChanged();" })Inactive
                </span>
            </div>
        </div>
    </div>
</div>
@grid.GetHtml(
    tableStyle: "table table-responsive backcolor",
    headerStyle: "wedgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: grid.Columns(
    grid.Column(columnName: "teamName", header: "Team Name"),
    grid.Column(columnName: "directorate", header: "Directorate"),
    grid.Column(columnName: "teamDirector", header: "Team Director"),
    grid.Column(columnName: "teamManager", header: "Team Manager"),
    grid.Column(columnName: "mainFunction", header: "Main Function"),
    grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:@<text><input class="pull-right edit-arrow" type="button" onclick="location.href='@Url.Action("TeamCreate", "Teams", new { id = item.teamId })'"></text>)
))

<div class="panel-footer">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div id="gridPager" class="space-box col-md-8">
            @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
        </div>
        <div id="" class="col-md-1">
            <div class="row">
                <div class="form-inline">
                    <span for="rg-from">Page: </span>
                    <div class="form-group">
                        @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    (function () {
        $("#webgrid a").on('click', function (event) {
            loadGridEvents(event, this);
        });
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
    })();

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        var requestUrl = '@Url.Action("SearchTeams", "Teams")' + queryString;
        $("#webgrid").load(requestUrl);
    }

    var typingPageTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example

    function TypingPageInterval(e) {
        typingPageTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var rsStatus = 1;
        if ($('#rdBtnstatus').is(':checked') == false) {
            rsStatus = 0;
        } else {
            rsStatus = 1;
        }
        var requestUrl = '@Url.Action("SearchTeams", "Teams")'
       + "?page=" + $("#txtPageNo").val() + '&rdBtnstatus=' + rsStatus;
        $("#webgrid").load(requestUrl);
    }
</script>