﻿@model BHGHRModuleWeb.ViewModels.TeamCreateViewModel
@{
    ViewBag.Title = "HR Team Create";
    var isEdit = ViewBag.isEdit == "edit";
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.OnFailure = "OnFailureServerResponse";
    options.OnBegin = "ValidateTeamDetail";
    options.OnSuccess = "OnSuccessTeamInsertion";
}

@Scripts.Render("~/bundles/jqueryval")

<div class="col-md-12 alert alert-success" id="message" style="display:none">
    <strong id="msgResponse"></strong>
</div>

<div style="border:1px solid #000; margin-left:180px" class="col-md-8">
    <div class="row padding-bottom">
        <div class="col-md-12">
            <div style="border: 1px solid; background-color: #000; padding: 10px; margin-top:10px;">
                @if (isEdit)
                {
                    <span style="color:#fff">Amend Team:</span>
                }
                else
                {
                    <span style="color:#fff">Create New Team:</span>
                }
            </div>
        </div>
    </div>
@using (Ajax.BeginForm("AddTeam", "Teams", new { }, options, new { id = "frmTeam", enctype = "multipart/form-data" }))
{
    <div class="row padding-bottom-5">
                <div class="col-md-12">
                    <div class="row padding-bottom-5">
                        <div class="col-md-3" style="margin-top:10px;margin-left:30px">
                            @Html.Label("Team Name:")
                        </div>
                        <div class="col-md-8" style="margin-top:10px">
                            @Html.TextBoxFor(m => m.team.teamName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.team.teamName)
                            @Html.HiddenFor(m => m.team.teamId,0)
                        </div>
                    </div>
                    <div class="row padding-bottom-5" >
                        <div class="col-md-3" style="margin-top:10px;margin-left:30px">
                            @Html.Label("Directorate Name:")
                        </div>
                        <div class="col-md-8" style="margin-top:10px">
                            @Html.DropDownListFor(m => m.team.directorateId, Model.directoratesList, new { @class = "form-control", id = "directorateDDL" })
                            @Html.ValidationMessageFor(m => m.team.directorateId)
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-3" style="margin-top:10px;margin-left:30px">
                            @Html.Label("Director Name:")
                        </div>
                        <div class="col-md-8" style="margin-top:10px">
                            @Html.DropDownListFor(m => m.team.directorId, Model.directorsList, new { @class = "form-control", id = "directorDDL" })
                            @Html.ValidationMessageFor(m => m.team.directorId)
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-3" style="margin-top:10px;margin-left:30px">
                            @Html.Label("Team Manager:")
                        </div>
                        <div class="col-md-8" style="margin-top:10px">
                            @Html.DropDownListFor(m => m.team.managerId, Model.managersList, new { @class = "form-control", id = "managerDDL" })
                            @Html.ValidationMessageFor(m => m.team.managerId)
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-3" style="margin-top:10px;margin-left:30px">
                            @Html.Label("Main Function:")
                        </div>
                        <div class="col-md-8" style="margin-top:10px">
                            @Html.TextBoxFor(m => m.team.mainFunction, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.team.mainFunction)
                        </div>
                    </div>
                    <div class="row padding-bottom-5" >
                        <div class="col-md-3" style="margin-top:10px;margin-left:30px">
                            @Html.Label("Active:")
                        </div>
                        <div class="col-md-8 " style="margin-top:10px">
                            @Html.CheckBoxFor(m => m.team.activeCheck, new { @class = "form-control", style = "width:14px" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5" >
                        <div class="col-md-3" style="margin-top:10px;margin-left:30px">
                            @Html.Label("Brief Description:")
                        </div>
                        <div class="col-md-8" style="margin-top:10px">
                            @Html.TextAreaFor(m => m.team.description, 5, 3, new { @class = "form-control detailsOfRole" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-3" style="margin-top:10px;margin-left:30px">
                            
                        </div>
                        <div class="col-md-8" style="margin-top:10px;margin-bottom:50px">
                            <input class="btn btn-info btn-xs pull-right btnNext"  id="btnSaveTeam" type="submit" name="nextBtn" value='Save Team' />
                            <input class="btn btn-default btn-xs pull-right" style="margin-right:10px"  id="CloseButton" type="button" value='Close' />
                        </div>
                    </div>
                </div>
     </div>
}
</div>
<script type="text/javascript">
    $("#CloseButton").click(function (e) {
        var requestUrl = '@Url.Action("Index", "Teams")';
        window.location.href = requestUrl;
    });
    function OnFailureServerResponse(data) {
        $('#loader').hide();
    }

    function ValidateTeamDetail() {
        if ($('#team_teamName').val().trim() == '') {
            $('#team_teamName').val($('#team_teamName').val().trim());
            $('#team_teamName').attr('class', 'form-control input-validation-error')
            return false;
        }

        if ($('#team_mainFunction').val().trim() == '') {
            $('#team_mainFunction').val($('#team_mainFunction').val().trim());
            $('#team_mainFunction').attr('class', 'form-control input-validation-error')
            return false;
        }

        $('#loader').show();
    }

    function OnSuccessTeamInsertion(data) {
        $('#loader').hide();
        var obj = jQuery.parseJSON(data);
        if (obj.isSuccessFul == true)
        {
            $('#message').removeClass('alert-danger');
            $('#message').addClass('alert-success');
            $('#msgResponse').text(obj.message)
            $("#message").show().delay(5000).fadeOut();
            setTimeout(function () {
                var requestUrl = '@Url.Action("Index", "Teams")';
                window.location.href = requestUrl;
            }, 1000);
            
        }
        else
        {
            $('#message').removeClass('alert-success');
            $('#message').addClass('alert-danger');
            $('#msgResponse').text(obj.message)
            $("#message").show().delay(5000).fadeOut();
        }
    }
</script>