﻿@model BHGHRModuleWeb.ViewModels.TeamListViewModel
@{
    ViewBag.Title = "Teams";
}
<script type="text/javascript">
    function btnCreateTeam_click(e) {
        window.location = $(e).data('url');
    }
</script>
<div class="col-md-12 alert alert-success" id="message" style="display:none">
    <strong id="msgResponse"></strong>
</div>
<div class="main-Container">
    <div class="row">
        <div class="col-md-12">
            <input type="button" class="btn btn-gray btn-xs pull-right" onclick="btnCreateTeam_click(this)" data-url="@Url.Action("TeamCreate", "Teams")" value="Create New Team" id="btnCreateTeam" />
        </div>
    </div>
    <div class="listing-Container">
        <div id="webgrid">
            @Html.Partial("~/Views/Admin/Teams/_TeamsList.cshtml", Model)
        </div>
    </div>
</div>

<script type="text/javascript">
    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms, 5 second for example
    function TypingInterval(e) {
        typingTimer = setTimeout(searchTextChanged, doneTypingInterval);
    }
    function searchTextChanged() {

        var status = 1;
        if ($('#rdBtnstatus').is(':checked') == false) {
            status = 0;
        }
        $.ajax({
            url: '@Url.Action("SearchTeams", "Teams")',
            type: 'GET',
            data: {
                rdBtnstatus: status
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html(resp);
                }
            }
        });
    }
</script>