﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage/Pdr.Master" AutoEventWireup="true" CodeBehind="AccessDenied.aspx.cs" Inherits="PropertyDataRestructure.AccessDenied" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 <div>
        <asp:Image ID="imgAccessDenied" Style="position: absolute; margin: auto; top: 0;
            left: 0; right: 0; bottom: 0;" ImageUrl="~/Images/access_denied.png" runat="server" />
    </div>
</asp:Content>
