﻿@{
    ViewBag.Title = "Bank Holiday Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}	
<BODY BGCOLOR=#FFFFFF ONLOAD="load_BnkHoliday_Cal();" MARGINHEIGHT=0 LEFTMARGIN="10" TOPMARGIN="10" MARGINWIDTH="0">
    <div class="main-Container">
        <form name="RSLFORM" method="POST">
            <table>
                <tr>
                    <td>
                        <iframe name="frm_Holiday" frameborder=0 width="400" height="400"></iframe>
                    </td>
                    <td>
                        <div style="position:absolute;top:140px;width:200px">
                            <b><u>Bank Holidays</u></b><br><br>
                            This calendar allows you to view, add and delete the Bank Holidays for BHA and Meridian East staff. <br>
                            <br><font style='background-color:red'>&nbsp;&nbsp;</font> Bank Holiday<br>
                            <br><font style='background-color:blue'>&nbsp;&nbsp;</font> Date selected
                            <br><br>
                            To change the selected month click on '<b>Month's Name</b>' to go
                            backwards and forwards respectively. <br>
                            <br>To <b>add</b> a Bank Holiday, select the date from the calendar and press the Add button.
                            <br><br>To <b>delete</b> an existing Bank Holiday, select the date from the calendar and press the Delete button.
                            <br><br><b>NOTE</b>: If BHA team is selected, then adding or deleting a Bank Holiday will also affect the Meridian East Bank Holiday's.
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</BODY>
<script type="text/javascript">
    function load_BnkHoliday_Cal() {
        RSLFORM.target = "frm_Holiday";
        // opens page in rsladdons as HolidayEntitlment is a virtual directory
        RSLFORM.action = "/HolidayEntitlement/bnk_hd_Calendar.aspx"
        RSLFORM.submit();
    }


</script>
