.node { color: black;
	font-family : "Helvetica", "Arial", "MS Sans Serif", sans-serif;
	font-size : 9pt;}

.node A:link { color: black; text-decoration: none; }
.node A:visited { color: black; text-decoration: none; }
.node A:active { color: black; text-decoration: none; }
.node A:hover { color: #0000ff; text-decoration: none; }
		
TD.selected
{
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    FONT-FAMILY: Helvetica, Arial, 'MS Sans Serif';
    BACKGROUND-COLOR: #0a246a;
    TEXT-DECORATION: none
}

TD.selected A:link
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}

TD.selected A:visited
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}

TD.selected A:active
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}