﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.CaseActionsViewModel

@{
    int case_id = Model.ActionsList[0].CaseId;
    string func = Model.Paging.FunctionName;
}
    <div >
        <ul class="tabs" id="cases-tabs">
            <li class="tab-link current" data-tab="tab-case-details" style="background-color:white !important;">Case Journal</li>
        </ul>
    </div>
<div id="tab-case-details" class="tab-content currentPDF" style="background-color: white !important;">
    <table class="col-xs-12" id="tblOpenCases">
        <thead>
            <tr>
                <th class="col-xs-1 no-padding-left">Date:</th>
                <th class="col-xs-2 no-padding-left">Stage:</th>
                <th class="col-xs-2 no-padding-left">Sub Category:</th>
                <th class="col-xs-3 no-padding-left">Notes:</th>
                <th class="col-xs-1 no-padding-left">Review:</th>
                <th class="col-xs-2">By:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var actionItem in Model.ActionsList)
            {
                <tr>
                    <td class="col-xs-1 no-padding-left">@actionItem.RecordedDate</td>
                    <td class="col-xs-2 no-padding-left">@actionItem.stage</td>
                    <td class="col-xs-2 no-padding-left"><p>@actionItem.SubCategory</p> </td>
                    <td class="col-xs-3 no-padding-left">@actionItem.ActionNotes</td>
                    <td class="col-xs-1 no-padding-left"><p>@actionItem.ReviewDate</p> </td>
                    <td class="col-xs-2">@actionItem.RecordedBy</td>
                </tr>
            }
        </tbody>
    </table>
</div>


