﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.CaseDetail

<style>
    td {
        padding: 5px 0 5px 0;
    }

    .top {
        vertical-align: top;
    }
</style>
<div>
    <input type="button" value="Status: Open" class="pull-right button-default" />
    <ul class="tabs" id="cases-tabs">
        <li class="tab-link current" data-tab="tab-case-details button-de">Case Details</li>
    </ul>
</div>
<div id="tab-case-details" class="tab-content currentPDF">
    <table class="col-xs-12">
        <tbody>
            <tr>
                <td>
                    <text>ASB Case Ref:</text>
                </td>
                <td>
                    <text>@Model.CaseId</text>
                </td>
            </tr>
            <tr>
                <td>
                    <text>Date Reocorded:</text>
                </td>
                <td>
                    <text>@Model.DateRecorded</text>
                </td>
            </tr>
            <tr>
                <td>
                    <text>Date Reported:</text>
                </td>

                <td>@Model.DateReported</td>

            </tr>
            <tr>
                <td>
                    <text>Date of Incident:</text>
                </td>
                <td>@Model.DateOfIncident</td>
            </tr>
            <tr>
                <td>
                    <text>Time of Incident:</text>
                </td>
                <td>
                    @Model.TimeOfIncident
                </td>
            </tr>
            <tr>
                <td>
                    <text>Case Officer:</text>
                </td>
                <td>@Model.CaseOfficer</td>
            </tr>
            <tr>
                <td>
                    <text>Case Officer:</text>
                </td>
                <td>@Model.CaseOfficerTwo</td>
            </tr>
            <tr>
                <td>
                    <text>Vulnerability:</text>
                </td>
                <td>
                    @Model.Category
                </td>
            </tr>
            <tr>
                <td>
                    <text>Incident:</text>
                </td>
                <td>
                    @Model.TimeOfIncident
                </td>
            </tr>
            <tr>
                <td>
                    <text>Risk Level:</text>
                </td>
                <td>
                    @Model.LevelOfRisk
                </td>
            </tr>
            <tr>
                <td class="top">
                    <text>Incident Description:</text>
                </td>
                <td>
                    @if (!Model.IncidentDescription.IsEmpty())
                    {
                        @Html.TextAreaFor(c => c.IncidentDescription, new { @class = "Textarea readonly", @readonly = "readonly" })
                    }
                    else
                    {
                        <text>N/A</text>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <text>Police Notified?:</text>
                </td>
                <td>
                    @Model.IsPoliceNotified
            </tr>
            <tr>
                <td>
                    <text>Crime Case Number:</text>
                </td>
                <td>
                    @Model.CrimeCaseNo
                </td>
            </tr>
            <tr>
                <td>
                    <text>Next Action:</text>
                </td>
                <td>
                    @Model.NextFollowUp
                </td>
            </tr>
            <tr>
                <td class="top">
                    <text>Action Notes:</text>
                </td>
                <td>
                    @if (!Model.NextFollowUpNote.IsEmpty())
                    {
                        @Html.TextAreaFor(c => c.NextFollowUpNote, new { @class = "Textarea readonly", @readonly = "readonly" })
                    }
                    else
                    {
                        <text>N/A</text>
                    }

                </td>
            </tr>
            <tr>
                <td>
                    <text>Stage:</text>
                </td>
                <td>
                    @Model.Stage
                </td>
            </tr>
            <tr>
                <td>
                    <text>Review Date:</text>
                </td>
                <td>
                    @if (!Model.ReviewDate.IsEmpty())
                    {
                        @Model.ReviewDate
                    }
                    else
                    {
                        <text>N/A</text>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <text>Case Closed:</text>
                </td>
                <td>
                    @if (!Model.CaseClosed.IsEmpty())
                    {
                        @Model.CaseClosed
                    }
                    else
                    {
                        <text>N/A</text>
                    }
                </td>
            </tr>
            <tr>
                <td class="top">
                    <text>Resolution Notes:</text>
                </td>
                <td>
                    @if (!Model.ResolutionNotes.IsEmpty())
                    {
                        @Html.TextAreaFor(c => c.ResolutionNotes, new { @class = "Textarea readonly", @readonly = "readonly" })
                    }
                    else
                    {
                        <text>N/A</text>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

