﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.AssociatedContactViewModel
@{
    int case_id = Model.CaseId;
    int added_by = Model.RecordedById;
    int pageSize = Model.Paging.PageSize;
}
<div class="NewCaseViews" style="margin-bottom:5px !important; min-height:200px !important;">
    <div class="col-xs-12 no-padding-sides" style="margin-top:5px;">
        <p><b>Contacts:</b></p>
    </div>
    <div class="col-xs-12 no-padding-sides">
        <table class="col-xs-12" style="table-layout:fixed !important; margin-top:10px;" id="ContactsTable">
            <thead>
                <tr>
                    <th class="col-xs-3 no-padding-left" style="text-align:left;">Name:</th>
                    <th class="col-xs-4 no-padding-left" style="text-align:left;">Organization:</th>
                    <th class="col-xs-3 no-padding-left" style="text-align:left;">Tel:</th>
                    <th class="col-xs-1 no-padding-left"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ac in Model.Contacts)
                {
                    <tr>
                        <td class="col-xs-3 no-padding-left">@ac.Name</td>
                        <td class="col-xs-4 no-padding-left">@ac.Organization</td>
                        <td class="col-xs-3 no-padding-left">@ac.Telephone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


