﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.FileCaseViewModel

@{
    //Since Case ID is same for each document list. Get it from first index if list is not empty,
    //otherwise get it from ViewBag
    int case_id;
    int uploadedby = ViewBag.EmpId;
    if (Model.Params.Count > 0)
    {
        case_id = Model.Params[0].CaseId;
    }
    else
    {
        case_id = ViewBag.CaseId;
    }
    //const string FILE_TYPE = "Document";
    string func = Model.Paging.FunctionName;
}

<div class="NewCaseViews" style="margin-bottom:5px !important; min-height:200px !important;">
    <div>
        <p><b>Documents:</b></p>
    </div>
    <div class="clearfix"></div>
    <div id="AddedDocsTable" style="margin-top:10px;" class="col-xs-12 no-padding-sides">
        <table class="col-xs-12" style="table-layout:fixed !important;">
            <thead>
                <tr>
                    <th class="col-xs-2 no-padding-left" style="text-align:left;">Uploaded:</th>
                    <th class="col-xs-7 no-padding-left" style="text-align:left;">File Name:</th>
                    <th class="col-xs-2 no-padding-left" style="text-align:left;">By:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model.Params)
                {
                    <tr>
                        <td class="col-xs-2 no-padding-left">@f.DateUploaded</td>
                        <td class="col-xs-7 no-padding-left" style="text-overflow:ellipsis !important;
                                        overflow:hidden !important;">
                            <u>@f.FileName</u>
                        </td>
                        <td class="col-xs-2 no-padding-left" style="text-overflow:ellipsis !important;
                                        overflow:hidden !important; white-space:nowrap !important;">
                            @f.UploadedBy
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
