﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.PersonsViewModel
@{
    int case_id = Model.CaseId;
    int recorded_by = Model.UserId;
    const string PERPETRATOR = "Perpetrator";
    var PerpetratorsList = Model.Persons.Where(p => p.PersonRole.Equals(PERPETRATOR)).ToList();
}
<div >
        <div style="margin-top:5px;" id="perpetratordetail">
            @Html.Action("PersonDetailPDF", "Cases", new { personList=PerpetratorsList })
        </div>




