﻿@model List<ASB_UI.Models.WebAPILayer.BusinessObjects.Person>
@{
    var name = Model[0].Role;
}
<style>
    .border-custom {
        border: 1px solid #000;
    }
</style>

<div>
     <ul class="tabs" id="cases-tabs">
         <li class="tab-link current" data-tab="tab-case-details" style="background-color: white !important">@name</li>
     </ul>
</div>

<div id="tab-case-details" class="tab-content currentPDF" style="background-color: white !important">
        <table class="col-xs-12">
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Tenancy Ref:</th>
                    <th>Organization:</th>
                    <th>Address:</th>
                    <th>Telephone:</th>
                    @*<th>Telephone(W):</th>*@
                    <th>Mobile:</th>
                    @*<th>Mobile(2):</th>
                    <th>Alternative Contact:</th>
                    <th>Telephone(C):</th>*@
                    <th>Email:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model)
                {
                    <tr>
                        <td>
                            <text>@person.FullName</text>
                        </td>
                        <td>
                            <text>@person.TenancyRef</text>
                        </td>
                        <td>
                            <text>@person.Organization</text>
                        </td>
                        <td>
                            <text>@person.Address</text><br />
                            <text>@person.City</text><br />
                            <text>@person.PostCode</text>
                        </td>
                        <td>
                            <text>@person.TelephoneHome</text>
                        </td>

                        @*<td>
                            <text>@person.TelephoneWork</text>
                        </td>*@

                        <td>
                            @person.Mobile1
                        </td>

                        @*<td>
                            @person.Mobile2
                        </td>
                        <td>
                            @person.AlternateContact
                        </td>
                        <td>
                            @person.TelephoneContact
                        </td>*@
                        <td>
                            @person.Email
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>


