﻿
@model  ASB_UI.ViewModels.AmendCase.AmendCaseViewModel
@{
    ViewBag.Title = "Amend Case";
    int case_id = Model.CaseId;
}

<link rel="stylesheet" type="text/css" href="@Server.MapPath("~/Content/asbstyle.css")">
<link rel="stylesheet" type="text/css" href="@Server.MapPath("~/Content/bootstrap.css")">
<div>
    <span style="font-size:24px !important; text-align:center !important; height:100px !important" >Anti Social Behaviour Case</span>
    <img src="~/Images/logo-bhg.png" style="vertical-align: middle !important;" width="100" height="100" class="pull-right"/>
</div>
<div class="clearfix"></div>
<div style="margin-top:20px !important;">
    <div class="col-xs-12">
        <div class="col-xs-12 no-padding-sides " style="margin-top:20px;">
            <div class="col-xs-6 no-padding-sides ">
                @{Html.RenderPartial("~/Views/Cases/PDF/_CaseDetailPartialView.cshtml", Model.DetailsAndActions.CaseDetails);}
            </div>
            <div class="col-xs-6" id="OtherCaseContentDiv">
                <div id="DocumentsDiv">
                    @{Html.RenderPartial("~/Views/Cases/PDF/_DocumentsPartialView.cshtml", Model.FileViewModel);}
                </div>
                <div id="PhotographsDiv">
                    @{Html.RenderPartial("~/Views/Cases/PDF/_PhotographsPartialView.cshtml", Model.PhotoViewModel);}
                </div>
                <div id="ContactsDiv">
                    @{Html.RenderPartial("~/Views/Cases/PDF/_ContactsPartialView.cshtml", Model.ContactsModel);}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="breakhere"></div>
<div class="col-xs-12">
    @{Html.RenderPartial("~/Views/Cases/PDF/_ComplainantsPartialView.cshtml", Model.PersonModel);}
</div>

<div style="margin-top:10px !important;" class="col-xs-12">
    @{Html.RenderPartial("~/Views/Cases/PDF/_PerpetratorsPartialView.cshtml", Model.PersonModel);}
</div>
<div class="breakhere"></div>
<div style="margin-top:10px !important;">
    @{Html.RenderPartial("~/Views/Cases/PDF/_CaseActionsPartialView.cshtml", Model.DetailsAndActions.CaseActions);}
</div>