﻿!DOCTYPE html>
<html>
<body>

    <table>
        <tr>
            <td colspan="2">Anti Social Behaviour Case</td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="~/Images/logo-bhg.png" /></td>
        </tr>
    </table>

</body>
</html>