﻿#menu1 {
font-family: Tahoma, Helvetica, sans-serif;
list-style-type:none;
text-decoration: none;
margin:0;
padding:0;
}
#blocks {
font-family: Tahoma, Helvetica, sans-serif;
text-align:center;
margin:0;
padding:0;
}
#menu1 li
{
display: inline;
/* for IE5 and IE6 */
}
#menu1 a
{
color: #000000;
text-decoration: none;
font-size: 14px;
display: block;
padding: 7px;
width: 166px;
background-color: #fff;
border-bottom: 1px solid #fff;
}
#menu1 a:link, #menu1 a:visited
{
color: #000;
text-decoration: none;
}
#menu1 a:hover
{
background-color: #e6e6e6;
color: #000;
}
#menu1 li a#current
{
border-bottom: 1px solid #c9cbcd;
background: #c9cbcd;
}
#menu1 li a#arrears
{
border-bottom: 1px solid #c9cbcd;
background: #ba4a4a;
color: #fff;
}
select
{
	border :1px solid Gray;
	font-size:12px;
	padding:1px;
	
}
input
{
	border :1px solid Gray;
	font-size:12px;
	padding:2px;
	
}

.smallinputBox 
{
	border :1px solid Gray;
	font-size:12px;
	padding:2px;
	width:65px;
	
}

.smallerinputBox 
{
	border :1px solid Gray;
	font-size:12px;
	padding:2px;
	width:50px;
	
}

.smallinputDateBox 
{
	border :1px solid Gray;
	font-size:12px;
	color:Gray;
	padding:2px;
	width:65px;
	
}

.casemanagementControlsMainDivs 
{
	margin-right:10px;
	padding-top:5px;
		
}

div
{

	font-family:Tahoma;
	color: #000;
	font-size:12px;
	
}
.tableClass
{   
   border:1px solid #000000; 
   border-spacing:0px;
   padding:5px;
   
}

.tableHeader
{   
   border-bottom:1px solid #000000; 
   border-spacing:0px;
   font-weight:bold;
   
}

.tableFooter
{   
   border-top :1px solid #000000; 
   border-spacing:0px;
   height:40px;
   vertical-align:middle;
   padding-right:10px
   
}



.tableClass hr
{   
	border:1px thin #000000; 
}


.tdClass
{
    border:1px solid #000000; 
    border-spacing:0px
    
}

.distanceLabelClass
{
	margin:5px;	
}

td
{

	font-family:Tahoma;
	color: #000;
	font-size:12px;
	
}
.SmallerPointFont
{
	font-family:Tahoma;
	color: #000;
	font-size:10px;
}

.NormalPointFont
{
	font-family:Tahoma;
	color:inherit;
	font-size:12px;
	
}
.NormalPointFontBold
{
	font-family:Tahoma;
	color:inherit;
	font-size:12px;
	font-weight:bold;
	
}
.openNewCaseDivClass
{
	height:20px;
	width:100%;
	font-family:inherit;
	color:inherit;
	font-size:inherit;
	
}

.dashboardOuterTable
{
	border-left-style: none; 
	border-left-width: medium; 
	border-right-style: none; 
	border-right-width: medium; 
	border-top: medium none #000000; 
	border-bottom-style: none; 
	border-bottom-width: medium
}

.dashboardInnerTable
{
	border:0px none;
	padding:0px;
	border-collapse:collapse;	
}

.dashboardHeading
{
	margin-left: 5px; 
	margin-right: 5px;
	font-family:Tahoma;
	font-size:2;
	color:#FFFFFF;
	font-weight:bold;
}

.dashboardBigNumbers
{
	text-align: left; 
	margin-top: -7px; 
	margin-bottom: 0; 
	margin-left:5px;
	color:#FF0000;
	font-size: 37pt;
}

.dashboardBigNumbersUP
{
	text-align: center; 	
	color:#FF0000;
	font-size: 33pt;
	vertical-align:top;	
	
}
.dashboardsmallBalance
{
	text-align: center; 	
	color:#FF0000;
	font-size: 12pt;
	vertical-align:top;	
	
}

.dashboardBigNumbersCell
{
	position: relative;
	width: 200px; 
	height: 138px; 
	z-index: 1;
	text-align:center; 	
}
.dashboardBigNumbersHeading
{
	text-align: left; 
	margin-top: 0; 
	margin-bottom: 0;
	color:#FFFFFF
}
.dashboardSearchBoxCell
{
	border-style:none; 
	border-width:medium;
	font-size:2;
	font-weight:bold;
	font-family:Tahoma;
}

.dashboradSearchBoxButton
{
	border: 1px solid #000000; 
	float:right; 
	background-color:#E2E2E2;
	margin:0 43px 0 0px;
}

.dashboardArrearsSummaryNumber
{
	font-size: 8pt;
	font-family:Tahoma;
	height:20px;
	font-weight:bold;
}

.dashboardArrearsSummary
{
	font-size: 8pt;
	font-family:Tahoma;
	height:20px;
}
	
.modalBackground 
{
    background-color:Gray;
    filter:alpha(opacity=0);  
      
}

.clear
{
	clear:both;
}

a
{
    text-decoration:none;
}

popupMenu
{
    position:relative;
    visibility:hidden;
    background-color:#AAFFFF;
    opacity:.9;
    filter:alpha(opacity=0);
    
}
.popupHover
{
    background-repeat:repeat-x;
    background-position: left top;
    background-color:#F6F7F8;
    opacity:.2;
    filter:alpha(opacity=2);
}

.DashBoard_Alert_Single_Div
{
    float:left;
    width:132px;
    height:130px;
}

.Dashboard_Alert_Single_Div_Text
{
    width:112px;
    margin-top:-115px;
    text-align:center;
    height: 32px;
}

.Dashboard_Alert_Single_Div_Text a
{
    color:#FFF;
}