﻿body {
            margin: 0px;
            padding: 5px;
            font-family:Arial;
	}
	
	
	#superdiv {
	/*background: #438a48; */
	font-family:Tahoma;
	/*width: 1024px;*/
	height:100%;
	float:none;
	padding:0px;
	vertical-align:middle;
	margin:0 auto;
	
	}
	
	#header {
	/*background: #438a48; */
	font-family:inherit;
	width: 100%;
	height:40px;
	float:none;
	padding:0px;
	vertical-align:middle;
	padding-bottom:5px;
	}
	#middlePart {
	/*background: #438a48; */
	width: 100%;
	height:100%;
	float:left;
	padding:0px;
	vertical-align:middle;
	}
	#header-left 
	{
	
	background-image:url('../images/topbg.jpg');
	width:18%;
	height:100%;
	float:left;
	margin-right:5px;
	
	
	}
	
	#header-right 
	{
	
	background-image:url('../images/topbg.jpg');
	width:79%;
	
	float:left;
	height:100%;
	
	vertical-align:middle
}
	#leftcolumn {
	background: #ffffff;
	float: left;
	width: 18%;
	height: 700px;
	vertical-align:top;
	margin-right:5px;
	}
	#breadcrum {
	background: #C9CBCD;
	float: left;
	width: 79%;
	font-weight:bold;
	
	
	/*height: 700px;*/
	}
	#content {
	/*background: #FFFFF;*/
	float: left;
	width: 79%;
	height:100%;
	
	/*height: 700px;*/
	}
	
	.header-font
	{
		
		color: #ffffff;
		 font-size:8pt;
		 margin-top:12px;
		
	}
	
	.header-font-bold
	{
		
		color: #ffffff;
		 font-size:8pt;
		 font-weight:bold;
		 
		 margin-top:12px;
		
	}
	#left-header-span
	{
		text-align:center;
		width:43%;
		height:100%;
		float:left;
		vertical-align:middle;
}
	#right-header-span
	{
		text-align:center;
		width:14%;
		height:100%;
		float:right;
		vertical-align:middle;
	margin-left: 0px;
}
	#middle-header-span
	{
		text-align:Right;
		width:35%;
		height:100%;
		float:left;
	margin-left: 0px;
}
	.saparatorDiv
	{
		width:5px;
		float:left;
		padding-left:5px;
	}
	
	
	.menuStyle a
	{
	color: #000000;
	text-decoration: none;
	font-size: 14px;
	display: block;
	padding: 7px;

	}
	
	.menuStyle a:hover
	{
		background-color:#e6e6e6;
	
	text-decoration: none;
	font-size: 14px;
	display: block;
	padding: 7px;

	}
	
	.menuStyle
	{
	
	font-family:Tahoma;
	font-weight:bold;
	border :1px solid #000000;
	vertical-align:top;
	width:100%;
	height:25px;

	}
	#footer {
	background: #df781c;
	clear: both;
	width: 100%;
	}
.topmessagesuccess
{
	font-family:Tahoma;
	color:Green;
	font-size:10px;
	visibility:visible;
	height:15px;

}

.topmessagefailure
{
	font-family:inherit;
	color:Red;
	font-size:10px;
	visibility:inherit;
	height:inherit;

}
.loading-image
{
    background-color: #fff;            
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000000;
    text-align: center;            
    vertical-align:middle;
    opacity: 0.7;            
}
        
.loading-image img
{
    margin-top:255px;
}