﻿@model ASB_UI.ViewModels.Reports.SubViewModels.ReportCase

<style>
    .paging-cus{
        padding:5px;
        border: 1px solid #808080;
    }
    .space-cus{
           margin:0 auto;
    }
</style>

<div class="col-xs-12 clearfix paging-cus">
    <div class="col-lg-7 col-lg-offset-2 ">
        @if(Model.objPaginationBO.TotalPages == 0)
        {

        }
        else if (Model.objPaginationBO.PageNumber == 1)
        {
            <div class="col-xs-2 col-lg-3 text-center">
                <span><</span>
                &nbsp;&nbsp;
                <span>First</span>
                &nbsp;&nbsp;
                <span>Previous</span>
            </div>
        }
        else
        {
            <div class="col-xs-2 col-lg-3 text-center">
                <span><</span>
                &nbsp;&nbsp;
                <a href="javascript:void(0)" onclick="OnPageNumberClickReport(1)">First</a>
                &nbsp;&nbsp;
                <a href="javascript:void(0)" onclick="OnPageNumberClickReport(@Model.objPaginationBO.PageNumber-1)">Previous</a>
            </div>
        }
        @if (Model.objPaginationBO.TotalPages != 0)
        {
            <div class="col-xs-4 col-lg-3 text-center">
                Page @Model.objPaginationBO.PageNumber of @Model.objPaginationBO.TotalPages
            </div>
            <div class="col-xs-4 col-lg-3 text-center">
                Result 1 to @Model.objCaseBO.Count() of @Model.objCaseBO.Count()
            </div>
        }
        @if(Model.objPaginationBO.TotalPages == 0)
        {

        }
        else if (Model.objPaginationBO.PageNumber == Model.objPaginationBO.TotalPages)
        {
            <div class="col-xs-2 col-lg-3 text-center">
                <span>Next</span>
                &nbsp;&nbsp;
                <span>Last</span>
                &nbsp;&nbsp;
                <span>></span>
            </div>
        }
        else
        {
            <div class="col-xs-2 col-lg-3 text-center">
                <a href="javascript:void(0)" onclick="OnPageNumberClickReport(@Model.objPaginationBO.PageNumber+1)">Next</a>
                &nbsp;&nbsp;
                <a href="javascript:void(0)" onclick="OnPageNumberClickReport(@Model.objPaginationBO.TotalPages)">Last</a>
                &nbsp;&nbsp;
                <span>></span>
            </div>
        }
    </div>
</div>

