﻿@model ASB_UI.ViewModels.Reports.SubViewModels.ReportCase 
@{
    string DateFormatModel = ViewBag.DateFormatModel;
    int count = 1;
}
<style>
    .custom-style  {
        border: 1px solid #808080;
        padding: 0px;
    }

    #tblOpenCasesReport td {
        vertical-align: top;
            
    }

    
    #tblOpenCasesReport td div{
        padding: 0px 0 8px 0;
    }
    #thead {
        border-bottom: 1px solid;
    }
</style>
<div id="tblGrid" class="col-xs-12 custom-style">
    
    
    <table class="col-xs-12 " id="tblOpenCasesReport">
        <thead id="thead">
            <tr>
                <th class="sortReport" style="cursor:pointer">Ref</th>
                <th class="sortReport" style="cursor:pointer">Reported</th>
                <th class="sortReport" style="cursor:pointer">Complainant(s)</th>
                <th class="sortReport" style="cursor:pointer">Address</th>
                <th class="sortReport" style="cursor:pointer">Postcode</th>
                <th class="sortReport" style="cursor:pointer">Local Authority</th>
                <th class="sortReport" style="cursor:pointer">Perpetrator(s)</th>
                <th class="sortReport" style="cursor:pointer">Current Stage</th>
                <th class="sortReport" style="cursor:pointer">Case Officer</th>
                <th class="sortReport" style="cursor:pointer">Type</th>
                <th class="sortReport" style="cursor:pointer">Risk</th>
                <th class="sortReport" style="cursor:pointer">Status</th>
                <th class="sortReport" style="cursor:pointer">Closed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reportcaseItem in Model.objCaseBO)
            {
                if (count % 2 == 0)
                {
                    <tr>
                    <td bgcolor="#D3D3D3" >@reportcaseItem.CaseId</td>
                        <td bgcolor="#D3D3D3">@String.Format(DateFormatModel, reportcaseItem.ReportedDate)</td>
                    @*<td bgcolor="#D3D3D3" >@reportcaseItem.ReportedDate</td>*@
                    <td bgcolor="#D3D3D3" style="width:500px">
                        @foreach (var rec in reportcaseItem.objComplainantList)
                        {
                        <div>@rec.FirstName @rec.LastName</div>
                        }
                    </td>
                    <td bgcolor="#D3D3D3" style="width:500px">
                        @foreach (var rec in reportcaseItem.objComplainantList)
                        {
                            <div>@rec.Address1 @rec.Address2</div>
                        }
                    </td>
                    <td bgcolor="#D3D3D3" style="width:500px">
                        @foreach (var rec in reportcaseItem.objComplainantList)
                        {
                            <div>@rec.PostCode</div>
                        }
                    </td>
                        <td bgcolor="#D3D3D3" style="width:500px">
                            @foreach (var rec in reportcaseItem.objComplainantList)
                            {
                                <div>@rec.LocalAuthority</div>
                            }
                        </td>
                    <td bgcolor="#D3D3D3" style="width:500px">
                        @foreach (var rec in reportcaseItem.objPerpetratorList)
                        {
                            <div>@rec.FirstName @rec.LastName</div>
                        }
                    </td>
                    <td bgcolor="#D3D3D3">@reportcaseItem.Stage</td>
                    <td bgcolor="#D3D3D3" >@reportcaseItem.CaseOfficer</td>
                    <td bgcolor="#D3D3D3" >@reportcaseItem.IncidentType</td>
                    <td bgcolor="#D3D3D3" >@reportcaseItem.Risk</td>
                    <td bgcolor="#D3D3D3" >@reportcaseItem.CaseStatus</td>
                    <td bgcolor="#D3D3D3">@String.Format(DateFormatModel, reportcaseItem.ClosedDate)</td>
                    <td bgcolor="#D3D3D3" style="padding:10px">
                        <a href="javascript:void(0)" onclick="AmendCases(@reportcaseItem.CaseId)">
                            <img src="~/Images/arrow.png" style="width:15px;height:15px;">
                        </a>
                    </td>
                </tr>
                }
                else
                {
                    <tr>
                        <td >@reportcaseItem.CaseId</td>
                        @*<td >@reportcaseItem.ReportedDate</td>*@
                        <td>@String.Format(DateFormatModel, reportcaseItem.ReportedDate)</td>
                        <td style="width:500px">
                            @foreach (var rec in reportcaseItem.objComplainantList)
                            {
                                <div>@rec.FirstName @rec.LastName</div>
                            }
                        </td>
                        <td style="width:500px">
                            @foreach (var rec in reportcaseItem.objComplainantList)
                            {
                                <div>@rec.Address1 @rec.Address2</div>
                            }
                        </td>
                        <td style="width:500px">
                            @foreach (var rec in reportcaseItem.objComplainantList)
                            {
                                <div>@rec.PostCode</div>
                            }
                        </td>
                        <td style="width:500px">
                            @foreach (var rec in reportcaseItem.objComplainantList)
                            {
                                <div>@rec.LocalAuthority</div>
                            }
                        </td>
                        <td style="width:500px">
                            @foreach (var rec in reportcaseItem.objPerpetratorList)
                            {
                                <div>@rec.FirstName @rec.LastName</div>
                            }
                        </td>
                        <td >@reportcaseItem.Stage</td>
                        <td >@reportcaseItem.CaseOfficer</td>
                        <td >@reportcaseItem.IncidentType</td>
                        <td >@reportcaseItem.Risk</td>
                        <td >@reportcaseItem.CaseStatus</td>
                        <td >@String.Format(DateFormatModel, reportcaseItem.ClosedDate)</td>
                        <td style="padding:10px">
                            <a href="javascript:void(0)" onclick="AmendCases(@reportcaseItem.CaseId)">
                                <img src="~/Images/arrow.png" style="width:15px;height:15px;">
                            </a>
                        </td>
                    </tr>
                }
                count++;
            }
        </tbody>
    </table>

</div>