﻿@model ASB_UI.ViewModels.Reports.ReportsViewModel 
@{ 
    string dateFormat = ViewBag.DefDateFormat;
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
<style>
    .header {
        background: none;
        background-color: black;
        color: white;
        font-weight: bold;
        padding: 5px;
    }
    .Textbox-search {
        background: url('../../Images/glass22x22.png') no-repeat right;
    }
    .min-padding-sides-custom{
        padding-left: 0px !important;
        padding-right: 8px !important;
    }
</style>
@{
    ViewBag.Title = "ASB-Report";
}
    <div style="margin-top:10px;" id="reportview">
        <p class="header">Case Management Report</p>
        <br>
        <div class="col-xs-5 no-padding">
            <div class="col-xs-4 min-padding-sides-custom">
                @Html.DropDownListFor(
                    x => x.CategoryId,
                    new SelectList(Model.Categories, "key", "value", ViewBag.CategoryId),
                    "Select Vulnerability", new { @class = "no-padding-sides col-xs-12" })
            </div>
            <div class="col-xs-4 min-padding-sides-custom">
                @Html.DropDownListFor(
                    x => x.RiskLevelId,
                    new SelectList(Model.RiskLevels, "key", "value", ViewBag.RiskLevelId),
                    "Select Risk Level", new { @class = "no-padding-sides col-xs-12" })
            </div>

            <div class="col-xs-4 min-padding-sides-custom">
                @Html.DropDownListFor(
                    x => x.CaseOfficerId,
                    new SelectList(Model.CaseOfficers, "key", "value", ViewBag.CaseOfficerId),
                    "Select Case Officer", new { @class = "no-padding-sides col-xs-12" })
            </div>
        </div>
        
        <div class="col-xs-7 no-padding">
            <div id="dateInputReportedFromDiv" class="col-xs-5 no-padding">
                <div class="col-xs-5 no-padding" style="width:34.5%; margin-left:11.3px">Reported From:</div>
                <div class="col-xs-6 no-padding">
                    <input type="text" style="background-color: #FFFFFF !important;border: 1px #C2C2C2 solid !important;width: 80px !important;height: 20px;" class="no-padding" readonly id="selectedReportedFromDate" />
                    <input id="ReportedFromDate" name="ReportedFromDate" value="" hidden="hidden" class="DatePicker" />
                </div>
            </div>
            <div id="dateInputReportedToDiv" class="col-xs-3 no-padding pull-left" style="float:left">
                <div style="width:11%" class="col-xs-1 no-padding">To:</div>
                <div class="col-xs-10 no-padding">
                    <input type="text" style="background-color: #FFFFFF !important;border: 1px #C2C2C2 solid !important;width: 80px !important;height: 20px;" class="Textbox-short no-padding" readonly id="selectedReportedToDate" />
                    <input id="ReportedToDate" name="ReportedToDate" value="" hidden="hidden" class="DatePicker" />
                </div>
            </div>
            <div class="pull-right col-xs-4 no-padding">
                @Html.TextBox("RiskLevel", null, new { @class = "Textbox-search", @style = "border: 1px solid; width:110px;", @placeholder = "Search", @id = "Search" })
                <input type="button" value="Export CSV" placeholder="Search" id="BtnExportCSV" class="pull-right"/>
                        
            </div>   
        </div>
         <div style="clear:both">
        </div>
        
        
        <br><br />
        <div style="clear:both">
        </div>
        <div>
            @{Html.RenderPartial("~/Views/Report/_PartialReportTable.cshtml", Model.ReportOpenCases);}
        </div>
        <div>
            @{Html.RenderPartial("~/Views/Report/_PartialReportPaging.cshtml", Model.ReportOpenCases);}
        </div>

    </div>



<script type="text/javascript">
    var reportSortBy = "Reported";
    var sortBy = "DESC";
    document.onkeypress = keyPress;
    function keyPress(e) {
        var x = e || window.event;
        var key = (x.keyCode || x.which);
        if (key == 13 || key == 3) {
            var searchVal = $("#Search").val();
            SearchUpdateReport(searchVal);
        }
    }
    function OnPageNumberClickReport(pgNum) {
        var action = '@Url.Action("Report")';
        var catid = $("#CategoryId").val();
        var risk = $("#RiskLevelId").val();
        var caseofficerid = $("#CaseOfficerId").val();
        var reportsort = reportSortBy;
        var reportedfrom = $("#selectedReportedFromDate").val();
        var reportedto = $("#selectedReportedToDate").val();

        //datefrom.replace("datefrom", new Date(reportedfrom));
        $.ajax({
            url: action,
            data: {
                catId: catid,
                riskId: risk,
                ReportedFrom: reportedfrom,
                ReportedTo: reportedto,
                sortReport: reportSortBy,
                sOrder: sortBy,
                pageNumber: pgNum,
                caseOfficer: caseofficerid
            },
            dataType: 'html',
            beforeSend: function () {
                $("#progress").show();
            },
            success: function (data) {
                //$("#reportview").html(data);
                $("#progress").hide();
                $("#detailContainer").html(data);
                $("#selectedReportedFromDate").val(reportedfrom);
                $("#selectedReportedToDate").val(reportedto);
                reportSortBy = reportsort;
            }
        });
    }
   $(document).on('ready', function () {
        $(".sortReport").click(function () {
            var str = $(this).html();
            if (reportSortBy == str)
            {
                if (sortBy == "DESC")
                {
                    sortBy = "ASC";
                }
                else
                {
                    sortBy = "DESC";
                }
            }
            else
            {
                sortBy = "DESC";
            }
            reportSortBy = str;
            var url = '@Url.Action("Report")';
            var riskid = $("#RiskLevelId").val();
            var reportedfrom = $("#selectedReportedFromDate").val();
            var reportedto = $("#selectedReportedToDate").val();
            var catid = $("#CategoryId").val();
            var caseofficerid = $("#CaseOfficerId").val();
            UpdateReport(catid, riskid, reportedfrom, reportedto, caseofficerid);
        });
        $("#CategoryId").on('change', function (e) {
            var url = '@Url.Action("Report")';
            var riskid = $("#RiskLevelId").val();
            var caseofficerid = $("#CaseOfficerId").val();
            var reportedfrom = $("#selectedReportedFromDate").val();
            var reportedto = $("#selectedReportedToDate").val();
            var catid = $(this).val();
            UpdateReport(catid, riskid, reportedfrom, reportedto, caseofficerid);
        });
        $("#RiskLevelId").change(function (e) {
            var url = '@Url.Action("Report")';
            var catid = $("#CategoryId").val();
            var caseofficerid = $("#CaseOfficerId").val();
            var reportedfrom = $("#selectedReportedFromDate").val();
            var reportedto = $("#selectedReportedToDate").val();
            var riskid = $(this).val();
            UpdateReport(catid, riskid, reportedfrom, reportedto, caseofficerid);
        });
        $("#CaseOfficerId").change(function (e) {
            var url = '@Url.Action("Report")';
            var catid = $("#CategoryId").val();
            var riskid = $("#RiskLevelId").val();
            var reportedfrom = $("#selectedReportedFromDate").val();
            var reportedto = $("#selectedReportedToDate").val();
            var caseofficerid = $(this).val();
            UpdateReport(catid, riskid, reportedfrom, reportedto, caseofficerid);
        });
        
        function UpdateReport(category, risk, reportedfrom, reportedto, caseofficerid) {
            var URL = '@Url.Action("Report")';
            var catid = category;
            var riskid = risk;
            var reportsort = reportSortBy;
            var sOrder = sortBy;
            $.ajax({
                url: URL,
                dataType: 'html',
                data: {
                    catId: catid,
                    riskId: riskid,
                    caseOfficer: caseofficerid,
                    ReportedFrom: reportedfrom,
                    ReportedTo: reportedto,
                    sortReport: reportSortBy,
                    sOrder: sortBy
                },
                beforeSend: function () {
                    $("#progress").show();
                },
                success: function (data) {
                    //$("#reportview").html(data);
                    $("#progress").hide();
                    $("#detailContainer").html(data);
                    $("#selectedReportedFromDate").val(reportedfrom);
                    $("#selectedReportedToDate").val(reportedto);
                    reportSortBy = reportsort;
                    sortBy = sOrder;
                }
            });
        }
    });
    function SearchUpdateReport(searchValue) {
        var URL = '@Url.Action("Report")';
        var searchVal = searchValue;
        $.ajax({
            url: URL,
            dataType: 'html',
            data: {
                searchVal: searchVal
            },
            beforeSend: function () {
                $("#progress").show();
            },
            success: function (data) {
                //$("#reportview").html(data)
                $("#detailContainer").html(data)
                $("#progress").hide();
            }
        });
    }

    function AmendCases(AmendCaseid)
    {
        var action = '@Url.Action("AmendCase", "Cases")';
        var caseId = AmendCaseid;
        $.ajax({
            url: action,
            data: {
                caseId: caseId
            },
            dataType: 'html',
            beforeSend: function()
            {
                $("#progress").show();
            },
            success: function (data) {
                $("#progress").hide();
                $("#detailContainer").html(data);
                $("#CasesLink").addClass('active');
                $("#ReportsLink").removeClass('active');
                $("#CaseManagementMenuSection").hide();
            }
        });
    }
    function parseISO8601(dateStringInRange) {
        var isoExp = /^\s*(\d\d)\/(\d\d)\/(\d{4})\s*$/,
            date = new Date(NaN), month,
            parts = isoExp.exec(dateStringInRange);
        //console.log(dateStringInRange);
        //console.log(parts);
        if (parts) {
            
            month = +parts[2];
            
            date.setFullYear(parts[3], month - 1, parts[1]);
           // console.log(date);
            if (month != date.getMonth() + 1) {
                date.setTime(NaN);
                
            }
            
        }
        return date;
    }
    $('#BtnExportCSV').on('click', function () {

        var searchVal = $("#Search").val();
        var reportedfrom = $("#selectedReportedFromDate").val();
        var reportedto = $("#selectedReportedToDate").val();
        var action = '@Url.Action("ExportClientsListToCSV", "Report",
                     new {  sortReport = "sortO", ReportedFrom ="reportedf", ReportedTo= "reportedt", catId = Model.CategoryId , riskId =Model.RiskLevelId, pageSize =25,
                         searchVal = "searchValue", pageNumber =Model.ReportOpenCases.objPaginationBO.PageNumber,
                         caseStatus = Model.CaseStatus,
                         caseOfficer=Model.CaseOfficerId
                     })';
        action = action.replace("searchValue", searchVal);
        action = action.replace("reportedf", reportedfrom);
        action = action.replace("reportedt", reportedto);
       // console.log(@Model.ReportOpenCases.objPaginationBO.PageNumber);
        action = action.replace("sortO", reportSortBy);
        window.location.href = action;
    });
    SetDatePicker();
    function SetDatePicker()
    {
        $("#ReportedFromDate").datepicker({
            //dateFormat: 'dd/mm/yy',
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            showOn: 'button',
            buttonImage: '@Url.Content("~/Images/calendar.png")',
            buttonImageOnly: true,
            onSelect: function () {
                var selected = $(this).val();
                $("#selectedReportedFromDate").val(getFormatedDateForFields(parseISO8601(selected)));
                //var url = '@Url.Action("Report")';
                var catid = $("#CategoryId").val();
                var reportsort = reportSortBy;
                var reportedfrom = $("#selectedReportedFromDate").val();
                var reportedto = $("#selectedReportedToDate").val();
                var riskid = $("#RiskLevelId").val();
                var caseofficerid = $("#CaseOfficerId").val();
                var URL = '@Url.Action("Report")';
                $.ajax({
                    url: URL,
                    dataType: 'html',
                    data: {
                        catId: catid,
                        riskId: riskid,
                        caseOfficer: caseofficerid,
                        ReportedFrom: reportedfrom,
                        ReportedTo: reportedto,
                        sortReport: reportSortBy,
                        sOrder: sortBy
                    },
                    beforeSend: function () {
                        $("#progress").show();
                    },
                    success: function (data) {
                        //$("#reportview").html(data);
                        $("#progress").hide();
                        $("#detailContainer").html(data);
                        $("#selectedReportedFromDate").val(getFormatedDateForFields(parseISO8601(selected)));
                        $("#selectedReportedToDate").val(reportedto);
                        reportSortBy = reportsort;
                    }
                });

            }
        });
        $("#ReportedToDate").datepicker({
            //dateFormat: 'dd/mm/yy',
            dateFormat: '@dateFormat',
            changeMonth: true,
            changeYear: true,
            showOn: 'button',
            buttonImage: '@Url.Content("~/Images/calendar.png")',
            buttonImageOnly: true,
            onSelect: function () {
                var selected = $(this).val();
                $("#selectedReportedToDate").val(getFormatedDateForFields(parseISO8601(selected)));
                //var url = '@Url.Action("Report")';
                var catid = $("#CategoryId").val();
                var reportsort = reportSortBy;
                var reportedfrom = $("#selectedReportedFromDate").val();
                var reportedto = $("#selectedReportedToDate").val();
                var riskid = $("#RiskLevelId").val();
                var caseofficerid = $("#CaseOfficerId").val();
                var URL = '@Url.Action("Report")';
                $.ajax({
                    url: URL,
                    dataType: 'html',
                    data: {
                        catId: catid,
                        riskId: riskid,
                        caseOfficer: caseofficerid,
                        ReportedFrom: reportedfrom,
                        ReportedTo: reportedto,
                        sortReport: reportSortBy,
                        sOrder: sortBy
                    },
                    beforeSend: function () {
                        $("#progress").show();
                    },
                    success: function (data) {
                        //$("#reportview").html(data);
                        $("#progress").hide();
                        $("#detailContainer").html(data);
                        $("#selectedReportedToDate").val(getFormatedDateForFields(parseISO8601(selected)));
                        $("#selectedReportedFromDate").val(reportedfrom);
                        reportSortBy = reportsort;
                    }
                });

            }
        });
    }
    function getFormatedDateForFields(date) {
        var d = date;
        var curr_date = d.getDate();
        var curr_month = d.getMonth();
        curr_month++;
        var curr_year = d.getFullYear();
        var hours = d.getHours();
        var minutes = d.getMinutes();
        var seconds = d.getSeconds();
        var formatedDate = curr_date + "/" + curr_month + "/" + curr_year;
        return formatedDate;
    }
</script>