﻿.rsl{
	width:700px;
	margin:0px auto;	 
 }
 
 .rsl .Audittitle{
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:14px;
	 color:#165184;
 }
 
 .rsl .label{
	 padding:5px 5px 5px 0px;
 }
 
 .rsl .select{
	 width:130px;
	 height:28px;
	 padding:5px;
	 border:1px solid #EEE;
	 margin-right:20px;
 }
 
 .rsl .input{
	 width:100px;
	 height:16px;
	 padding:10px;
	 border:1px solid #292929;
	 margin-right:10px;
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:14px;
 }
 
 .rsl .submit{
	 width:90px;
	 height:26px;
	 padding:0px 5px;
	 border:1px solid #292929;
	 margin-left:10px;
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:12px;
	 color:#165184;
	 background-color:#FFF;
 }
 
 .rsl .export{
	 width:110px;
	 height:28px;
	 padding:0px 5px;
	 border:1px solid #292929;
	 margin-left:10px;
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:12px;
	 color:#165184;
	 background-color:#FFF;
 }
 
 .rsl td, th{
	 border:1px solid #888;	 
 }
 
 .rsl table td{
	padding:5px 10px;	 
 }
 
 .rsl table{
	 border-collapse:collapse;
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:12px;	 
 }
 
 .rsl table .head{
	 background-color:#165184;
	 text-align:left;
	 padding:2px 5px;
	 color:#FFF;
	 font-weight:bold;	 
 }
 
 .rsl .data{
	 margin:20px 0px;	 
 }
 
 .rsl .fail{
	 color:#F00;
	 font-weight:bold;	 
 }
 
 .aleft{
	float:left;	 
 }
 
 .aright{
	float:right;	 
 }
 
 .clear{
	clear:both;	 
 }