﻿a
{
    text-decoration:none;
    color:#000;
    }

.line-border{
	
			width:100%;height:3px; border-bottom:4px solid #000;float:left
	}

.main-labels{

	float: left;
    font-family: "myriad Pro","Times New Roman";
    font-size: 15px;
    min-height: 20px;
    padding-top: 5px;
    width: 100%;
	
	}
.lable1{
	
	float:left;min-height:20px;
	
	}
	.lable2{
	
	float:left;min-height:20px;padding-left:20px;
	
	}
.left-top{
	
	float:left;
	height:auto;
	 margin-left: 15px;
    width: 30%;
	}
.right-top{
	
	float:left;
	width:68%;
	border:1px solid #000;
	min-height:20px;
	margin-top:5px;
	}
.cover{
			margin-top:5px;

	float:left;
	width:100%;
	
	}
	
select{
	width:160px;
	
	}
.cover-right{
	float:left;
	width:100%;
	padding:5px;
	
	}
.sr-number{
	
	float:left;width:3%;
	}
.column2{
	float:left; width:28%;
}
.description-middle{	
		float:left; width:38%;
	}
.main-box{
	min-height:30px;
	width:200px;
	border:1px solid #666;
	float:left;
	/*margin-left:15px;*/
	background-color:white;
	margin: 2px 5px;
		font-size: 13px;
	}
	.main-box-current{
	min-height:30px;
	width:200px;
	border:1px solid #666;
	float:left;
	color:White;  
	/*margin-left:15px;*/
	background-color:red;
	margin: 2px 5px;
		font-size: 13px;
	}
.box-cover{
	float:left;
	width:95%;
	padding:5px;

	
	}
.box-cover-des{
	float:left;
	width:95%;
	padding-left:5px;
	
	}
.box-column1{
	
	float: left;
    min-height: 5px;
    padding: 4px;
    width: 10%;

	}
.box-column3{
	
	float: left;
    min-height: 5px;

    width: 10%;

	}
.box-column2{
	float: left;
    width: 64%;
}

.box-cover2{
	float:left;
	width:95%;
	padding:5px;
	
	}
.box2-column1{
	
	float: left;
    min-height: 5px;
    width: 16%;

	}

.box2-column2{
	float: left;
    width: 81%;
}


.inner-box{
	min-height:30px;
	width:94%;
	border:1px solid #666;
	float:left;
	margin-left:4px;
	margin-bottom:5px;
	}
	.box-cover-des-inner-box{
	float:left;
	width:95%;	
	}

.box-column2-inner{
	float: left;
    width: 50%;
}
.box-column3-inner{
	
	float: left;
    min-height: 5px;

    width: 35%;

	}