﻿/****************** Styles Related to All Master Pages - Start ******************/ 

body
{
    margin: 0px;
    margin-top: 0px;
    margin-right:0px;
    margin-bottom: 0px;
    margin-left: 0px;
    
    font-family: Arial;
    
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

/****************** Main Container Styles - Start ******************/
/***** Containter of Header(Top Menu) and Page Contents ************/

.container
{    
    width: 100%;
	/*margin-left: 4px;*/
}

/****************** Main Container Styles - End ******************/

/****************** Top Menu Styles - Start ******************/

.header
{    
    height: 75px;
}

#header-left
{
    float: left;
    /*background-image: url(../Images/PropertyModule/s-m-bg.png);*/
    width: 4px;
    height: 75px;
}

/* Menu Container */
.menue
{
    width: 100%;
    margin-top: 1px;
    background-image: url(../Images/PropertyModule/m-bg.png);
    height: 63px;
    color: #cdcdcd;
        
    /*float: left;    
    padding-left: 10px;*/
}
/* Menu Container */

/* Property Menu and Sub Menu - Start */

.menue-select
{
    width: auto;
    height: 63px;
    color: #fff;
    text-align: center;
    line-height: 51px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 3px;
    padding-right: 5px;
    float: left;
    cursor: pointer;    
}

.menue-select a
{
    text-decoration: none;
    color: #fff;
    display: block;
}

ul.propertyModuleMenu, ul.propertyModuleMenu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0px;
    left: 0px;
    width: 151px;
}

ul.propertyModuleMenu ul
{
    display: none; /*initially menu item is hidden*/
    position: absolute; /*absolute positioning is important for menu to float*/
    background-color: #FFFFFF;
    width: 150px;
    border: 1px solid #AAAAAA;
         margin-top :50px;   
}

ul.propertyModuleMenu ul li
{
    border-bottom: 2px solid #DDDDDD;        
    float: none;
    height :40px;
    text-align:left;
    padding-left:5px; 

}

ul.propertyModuleMenu ul a
{
    color: #000000;
}

/* Hover effect for menu*/
ul.propertyModuleMenu li:hover > ul
{
    display: block;
}

/* Property Menu and Sub Menu - End */

/* Single Menu Item Styles - Start */

.menue_link
{
    width: auto;
    height: 63px;
    color: #cdcdcd;
    text-align: center;
    line-height: 51px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    cursor: pointer;    
}

.menue_link a
{
    text-decoration: none;
    color: #cdcdcd;
    display: block;    
}

.menue_link:hover
{
    text-decoration: none;
    color: #fff !important;
}
.menue_link:hover a
{
    color: #fff !important;
}

/* Single Menu Item Styles - End */

/* Menu Items Seprator */
.sep
{
    width: 2px;
    height: 17px;
    float: left;
    background-image: url(../Images/PropertyModule/sep.jpg);
    margin-top: 17px;
}

/* Top Menu Logo */
/* The logo is currently removed from the top menu but styles are not deleted */
.logo
{
    height: 92px;
    left: 885px;
    margin: 0;
    position: relative;
    top: -45px;
    width: 108px;    
}

/****************** Top Menu Styles - End ******************/

/****************** Page Contant Container Styles - Start ******************/

.main
{
    height: 100% !important;
}

.main-content
{
    float: left;
    margin-left: 5px;
    width: 99%;
    text-align:center;    
}

/****************** Page Contant Container Styles - End ******************/

/****************** Styles Related to All Master Pages - End ******************/

#menu1
{
    font-family: Tahoma, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
#blocks
{
    font-family: Tahoma, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
#menu1 li
{
    display: inline; /* for IE5 and IE6 */
}
#menu1 a
{
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 7px;
    width: 166px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
#menu1 a:link, #menu1 a:visited
{
    color: #000;
    text-decoration: none;
}
#menu1 a:hover
{
    background-color: #e6e6e6;
    color: #000;
}
#menu1 li a#current
{
    border-bottom: 1px solid #c9cbcd;
    background: #c9cbcd;
}
#menu1 li a#arrears
{
    border-bottom: 1px solid #c9cbcd;
    background: #ba4a4a;
    color: #fff;
}
.select
{
    position: absolute;
    width: 158px;
    height: 21px;
    padding: 0 24px 0 8px;
    color: #000;
    font: 12px/21px arial,sans-serif;
    background: url(Copy.png) #F00;
    overflow: hidden;
}
.styleselect
{
    width: 190px;
}

input
{
    border: 1px solid Gray;
    font-size: 12px;
    padding: 2px;
}

.for_input
{
}
.for_input input
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.for_input select
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.smallinputBox
{
    border: 1px solid Gray;
    font-size: 12px;
    padding: 2px;
    width: 65px;
}

.smallerinputBox
{
    border: 1px solid Gray;
    font-size: 12px;
    padding: 2px;
    width: 50px;
}

.smallinputDateBox
{
    border: 1px solid Gray;
    font-size: 12px;
    color: Gray;
    padding: 2px;
    width: 65px;
}

.casemanagementControlsMainDivs
{
    margin-right: 10px;
    padding-top: 5px;
}

div
{
    font-family: Tahoma;
    color: #000;
    font-size: 12px;
}
.tableClass
{
    border: 1px solid #000000;
    border-spacing: 0px;
    padding: 5px;
}

.tableHeader
{
    border-bottom: 1px solid #000000;
    border-spacing: 0px;
    font-weight: bold;
}

.tableFooter
{
    border-top: 1px solid #000000;
    border-spacing: 0px;
    height: 40px;
    vertical-align: middle;
    padding-right: 10px;
}



.tableClass hr
{
    border: 1px thin #000000;
}


.tdClass
{
    border: 1px solid #000000;
    border-spacing: 0px;
}

.distanceLabelClass
{
    margin: 5px;
}

td
{
    font-family: Tahoma;
    color: #000;
    font-size: 12px;
    margin-left: 280px;
}
.SmallerPointFont
{
    font-family: Tahoma;
    color: #000;
    font-size: 10px;
}

.NormalPointFont
{
    font-family: Tahoma;
    color: inherit;
    font-size: 12px;
}
.NormalPointFontBold
{
    font-family: Tahoma;
    color: inherit;
    font-size: 12px;
    font-weight: bold;
}
.openNewCaseDivClass
{
    height: 20px;
    width: 100%;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

.dashboardOuterTable
{
    border-left-style: none;
    border-left-width: medium;
    border-right-style: none;
    border-right-width: medium;
    border-top: medium none #000000;
    border-bottom-style: none;
    border-bottom-width: medium;
}

.dashboardInnerTable
{
    border: 0px none;
    padding: 0px;
    border-collapse: collapse;
}

.dashboardHeading
{
    margin-left: 5px;
    margin-right: 5px;
    font-family: Tahoma;
    font-size: 2;
    color: #FFFFFF;
    font-weight: bold;
}

.dashboardBigNumbers
{
    text-align: left;
    margin-top: -7px;
    margin-bottom: 0;
    margin-left: 5px;
    color: #FF0000;
    font-size: 37pt;
}

.dashboardBigNumbersUP
{
    text-align: center;
    color: #FF0000;
    font-size: 37pt;
    vertical-align: top;
}

.dashboardBigNumbersCell
{
    position: relative;
    width: 200px;
    height: 138px;
    z-index: 1;
    text-align: center;
}
.dashboardBigNumbersHeading
{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    color: #FFFFFF;
}
.dashboardSearchBoxCell
{
    border-style: none;
    border-width: medium;
    font-size: 2;
    font-weight: bold;
    font-family: Tahoma;
}

.dashboradSearchBoxButton
{
    border: 1px solid #000000;
    float: right;
    background-color: #E2E2E2;
    margin: 0 43px 0 0px;
}

.dashboardArrearsSummaryNumber
{
    font-size: 8pt;
    font-family: Tahoma;
    height: 20px;
    font-weight: bold;
}

.dashboardArrearsSummary
{
    font-size: 8pt;
    font-family: Tahoma;
    height: 20px;
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=0);
}

.clear
{
    clear: both;
}

a
{
    text-decoration: none;
}

popupMenu
{
    position: relative;
    visibility: hidden;
    background-color: #AAFFFF;
    opacity: .9;
    filter: alpha(opacity=0);
}
.popupHover
{
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #F6F7F8;
    opacity: .2;
    filter: alpha(opacity=2);
}

.DashBoard_Alert_Single_Div
{
    float: left;
    width: 132px;
    height: 130px;
}

.Dashboard_Alert_Single_Div_Text
{
    width: 112px;
    margin-top: -115px;
    text-align: center;
    height: 32px;
}

.Dashboard_Alert_Single_Div_Text a
{
    color: #FFF;
}

.group:before, .group:after
{
    content: "";
    display: table;
}
.group:after
{
    clear: both;
}
.group
{
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

#calToolbar
{
    float: right;
    padding: 2px 8px;
    margin-left: 106px;
}

#calToolbar span, #calToolbar img
{
    vertical-align: middle;
}


#calToolbar_ks
{
    float: right;
    padding: 2px 8px;
    margin-left: 106px;
}

#calToolbar_ks span, #calToolbar_ks img
{
    vertical-align: text_top;
}

#lblMonth
{
    display: inline-block;
    padding: 5px 8px;
}

#ContentPlaceHolder1_lblToday span
{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 0 2px;
}

#ContentPlaceHolder1_previousWeek, #ContentPlaceHolder1_nextWeek
{
    padding: 2px 0;
    display: inline-block;
}

#ContentPlaceHolder1_previousWeek img, #ContentPlaceHolder1_nextWeek img
{
    padding: 1px 0;
}


#pnlAddActivityTable select
{
    width: 250px;
}

#pnlAddActivityTable select
{
    width: 250px;
}

#pnlAddActivityTable textarea
{
    width: 250px;
}

#pnlAddActivityTable .longTextBox
{
    width: 243px;
}


.LetterDocInnerTable
{
    width: 100%;
    margin-top: -38px;
    padding: 0px;
}

.LetterDocInnerTable td
{
    padding: 0px;
    height: 54px;
}

.LetterDocInnerTable input
{
    margin-right: -9px;
}


.LetterDocDiv
{
    border-color: gray;
    border-width: 1px;
    border-style: Solid;
    height: 110px;
    width: 250px;
    overflow: auto;
}

.LetterDocOuterTable
{
    width: 232px;
    border-collapse: collapse;
    padding: 0px;
    margin-top: 10%;
}

#ContentPlaceHolder1_lblMessage
{
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.ajax__html_editor_extender_container
{
    width: 100% !important;
}
.code_box
{
    border: 2px solid #000;
    width: 300px;
}
.code_box p
{
    margin-left: 10px;
}
.letter_buttons
{
    float: right;
}

#pnlAddActivityTable
{
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 100%;
    padding: 15px 15px 0px 15px;
}

.pnlEditLetter
{
    height: 540px;
    width: 900px;
    padding: 15px;
}

.modalBackground
{
    background-color: #CCCCFF;
    filter: alpha(opacity=40);
    opacity: 0.5;
}

.hiddenField
{
    visibility: hidden;
}

.menuLink
{
}

.Required
{
    color: Red;
}

#Table1 input[type="text"], #Table1 input[type="file"], #Table1 input[type="image"], #Table1 select
{
    float: right;
}

.loading-image
{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000000;
    text-align: center;
    opacity: 0.7;
    margin-right: -30px;
}

.loading-image img
{
    margin-top: 255px;
}

.TabInitial
{
    display: block;
    padding: 4px 18px 18px 3px;
    float: left; /*background: url("../Images/InitialImage.png") no-repeat right top;*/
    color: Black;
    font-weight: bold;
    cursor: pointer;
    border-bottom-style: none !important;
    border-width: 1px;
    border-color: Black;
    background-color: #b7b8bb;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 63px;
}
/*.Initial:hover
{
    color: Black;
    background: url("../Images/SelectedButton.png") no-repeat right top;
}*/
.TabClicked
{
    float: left;
    display: block; /*background: url("../Images/SelectedButton.png") no-repeat right top;*/
    padding: 4px 18px 18px 3px;
    color: Black;
    font-weight: bold;
    cursor: pointer;
    border-bottom-style: none !important;
    border-width: 1px;
    border-color: Black;
    background-color: White;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 63px;
}

/*Certificate Expiry Report */

.grdReportHeading
{
    color: black;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: Solid;
    font-weight: bold;
    border-left: 0;
    border-right: 0;
}

#Repor #ReportStats td span
{
    vertical-align: baseline;
    font-weight: 700;
}


.pnlHeading
{
    text-align: left;
    background-color: Black;
    color: White;
    height: 20px;
}

.labelPrintActivities
{
  
    font-family: sans-serif;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.acitivity-dropdown
{
    margin-right: 11px;
}

.message
{
    padding-left: 10px;
}

.repairDetailContainer
{
    width: 100%;   
    border: 2px solid #B1B1B1;
    border-radius:5px;
}
.repairsGridContainer
{
    width: 90%;   
    border: 1px solid #B1B1B1;
    padding:5px; 
    max-height:100px ;  
    overflow: auto;
}
.tblRepairDetail
{    
    padding:5px;    
}
/*AutoComplete flyout */
.autocomplete_completionListElement
{
    margin : 0px!important ;
    background-color : inherit ;
    color : windowtext ;
    border : buttonshadow ;
    border-width : 1px ;
    border-style : solid ;
    cursor : 'default' ;
    overflow : auto ;
    max-height : 200px ;
    font-family : Tahoma ;
    font-size : small ;
    text-align : left ;
    list-style-type : none ;
    }
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
   {
    background-color : #ffff99 ;
    color : black ;
    padding : 1px ;
    }

    /* AutoComplete item */
.autocomplete_listItem
    {
    background-color : window ;
    color : windowtext ;
    padding : 1px ;
   }
   
   .reportsAreaFilters
   {
    float: left; 
    margin-top: -23px; 
    margin-bottom: 10px;
   }
   
   .modalBackground
    {
    background-color: #000000;
    filter: alpha(opacity=40);
    opacity: 0.4;
    }
    .modalPopupRepair
    {
    border: 1px solid black;
    background-color:White ;
    margin-top: 0px;
    
    }
    .modalPopupAssociatedFaults
    {
    border: 1px solid black;
    background-color:White ;
    margin-top: 0px;
    width:700px;
    height:500px;
    }
    
    .gridHeader
    {
    border-bottom: 1px solid #BBBBBB;
    border-left: 0 none #000000;
    border-right: 0 none #000000;
    border-top: 0 none #000000;
    }