﻿.gridPagerContainer
{
    color: Black;
    background-color: #FAFAD2;
    text-align: right;
}

.gridPager
{
    border-color: #ADADAD;
    border-width: 2px;
    border-style: Solid;
    vertical-align: middle;
    border-top: 0px;
    border-top-color: transparent;
    width: 100%;
}

.gridPagerContainerAssociatedFaults
{
    color: Black;
    background-color: #FAFAD2;
    text-align: right;
    width:95%;
}



.gridPagerAssociatedFaults
{
   /*  border-color: #ADADAD;
    border-width: 2px;
    vertical-align: middle;
    border-top: 0px;
    border-top-color: transparent;
    width: 100%;
    
        border-color: #ADADAD; */
    /* border-width: 1px; */
    vertical-align: middle;
    border-top: 0px;
    border-top-color: transparent;
    width: 100%;
    border: 1px solid #ADADAD;
    
    
}

