﻿/* DEFAULTS**/

/**********Appointment confirmed*********/
#faultBucketConfirmation
{
    height: 200px;
}
#schedulingSearch
{
    width: 100%;
}
#schedulingSearch tr > td:nth-child(2n)
{
    width: 10%;
}
#schedulingSearch tr > td:nth-child(2n+1)
{
    width: 20%;
}

/*****************/
/*----------------Next Available Appointments-----------------------------------------*/
#AccessNote
{
    width: 100%;
    border-style: none;
}
#customerSummary
{
    width: 78%;
    height: 100%;
}
#operativeSummary
{
    width: 48%;
    display: inline-table;
    height: 100%;
}
#operativeSummary tr > td:nth-child(1), #customerSummary tr > td:nth-child(1)
{
    width: 40%;
}
#operativeSummary tr > td:nth-child(2), #customerSummary tr > td:nth-child(2)
{
    width: 60%;
}
#faultviewer
{
    float: right;
    display: inline-table;
    height: 77px;
    border: 1px solid #A6B3BD;
    padding: 5px;
}
#customerheading
{
    width: 10%;
    display: inline-table;
}

/*----------------End Next Available Appointments-----------------------------------------*/
/*----------------Next Available Appointments-----------------------------------------*/
/*----------------Screen 7----------------*/
.backToBasket
{
    margin: 15px 0 0 20px;
}
.gridTempAppointment
{
    width: 100%;
}
.gridTempAppointment td
{
    width: 10%;
    min-width: 100px;
}
.gridTempAppointment td:nth-child(2)
{
    width: 60%;
}
/*----------------Screen 7----------------*/

/*----------------Screen 15----------------*/
.gridRearrangeAppointment
{
    width: 100%;
}
.gridRearrangeAppointment td
{
    width: 10%;
    min-width: 100px;
}
.gridRearrangeAppointment td:nth-child(2)
{
    width: 60%;
}
/*----------------Screen 15----------------*/
/*.border_height40pc
{
    border: 1px solid #B8C6D3;
    height: 50%;
    margin: auto;
    width: 100%;
    overflow: hidden;
    margin: 5px 0px;
}*/

/* added by umar 12/03/13 /////////////////////////////////////////////// */

.border_height40pc
{
    /*border: 1px solid #B8C6D3;*/
    height: 50%;
    margin: auto; /*width: 100%;*/
    overflow: hidden;
    margin: 5px 0px;
    padding: 20px;
}
/*------------------Screen 7 Start------------------*/
.fault_appointment_container
{
    /*border: 1px solid #B8C6D3;*/
    height: 50%;
    margin: auto; /*width: 100%;*/
    overflow: hidden;
    padding: 20px;
    margin: -24px 0px;
}

.grid_confirm_faults
{
    width: 100%;
    border: 1px solid #ccc;
    margin: 0px 0px 15px 0px;
    border-collapse: collapse;
}
.grid_confirm_faults td
{
    width: 10%;
    min-width: 100px;
    padding: 5px 5px 5px 5px;
    border: none;
    text-align: left;
}

.grid_confirm_faults th
{
    padding: 5px 5px 5px 5px;
    border: none;
    text-align: left;
}

.grid_confirm_faults td:nth-child(1)
{
    width: 2%;
}

.grid_confirm_faults td:nth-child(2)
{
    width: 40%;
    width: 39%\9;
}

.grid_temp_faults
{
    width: 100%;
    border: 1px solid #ccc;
    margin: 0px 0px 15px 0px;
    border-collapse: collapse;
}
.grid_temp_faults td
{
    /*width: 10%;
    min-width: 100px;*/
    padding: 5px 5px 5px 5px;
    border: none;
    text-align: left;
}

.grid_temp_faults th
{
    padding: 5px 5px 5px 5px;
    border: none;
    text-align: left;
}

.grid_temp_faults th:nth-child(2)
{    
    padding-left: 25px;
}

.grid_temp_faults td:nth-child(1)
{
   width: 47%;
    width: 46%\9;
}

.grid_temp_faults_filter
{
    float: left;
    padding-top: 4px;
    margin-right: 20px;
}
.grid_temp_faults_fromdate_filter
{
    float: left;
    text-align:right;  
    margin-right: 20px;
    width:300px;
}
.grid_scheme_fromdate_filter
{
    float: left;
    text-align:right;  
    margin-left: 20px;
    
}
.grid_temp_faults_patch
{
    float: left;
    margin-right: 23px;
}

.grid_temp_faults_date
{
    float: left;
}

.grid_temp_faults_default
{
    float: right;
    margin-right: 37px;
    margin-top: 4px;
}
/*------------------Screen 7 End------------------*/
/*------------------Screen 15 Start------------------*/
.gridfaults
{
    width: 100%;
}

.gridfaults-header
{
    font-weight: normal;
    font-size: 13px;
    border-bottom: 1px solid #BBB;
}

.gridfaults td
{    
    /*min-width: 100px;*/
    padding: 1px 5px 1px 5px;
    white-space:nowrap;
}

.gridfaults th
{
    padding: 5px 5px 5px 5px;
}

/*.gridfaults td:nth-child(2)
{
    width: 60%;
}*/

/*------------------Screen 15 END------------------*/


/*------------End Next Available Appointments-------------*/
/*----------Other appointments-----------------------*/
.grid_height
{
    overflow: auto !important;
    height: 150px;
}

.grid_confirm_appointment
{
    width: 100%;
}

.grid_confirm_appointment-header
{
    font-weight: normal;
    font-size: 13px;
    border-bottom: 1px solid #BBB;
}

.grid_confirm_appointment td
{
    width: 33%;
    min-width: 100px;
    padding: 1px 5px 1px 5px;
    border: none;
    text-align: left;
}

.grid_confirm_appointment th
{
    padding: 5px 5px 5px 5px;
    border: none;
    text-align: left;
}

.grid_confirm_appointment td:nth-child(4)
{
    font-weight: bold;
}

.grid_appointment
{
    width: 100%;
}

.grid_appointment-header
{
    font-weight: normal;
    font-size: 13px;
    border-bottom: 1px solid #BBB;
}

.grid_appointment td
{
    /*width: 10%;     min-width: 100px;*/
    padding: 1px 5px 1px 5px;
    border: none;
    text-align: left;
    white-space: nowrap;
}

.grid_appointment th
{
    padding: 5px 5px 5px 5px;
    border: none;
    text-align: left;    
}

/*.grid_appointment td:nth-child(5)
{
    float: right;
    padding: 0 63px 0 0;
}*/

.lblmessage
{
    width: 50%;
    font-weight: bold;
    text-align: center;
    padding: 0 0 0 25%;
}

/*.grid_appointment td:nth-child(2)
{
    width: 60%;
}*/

.gridSearchfaults-header
{
    font-weight: bold;
    font-size: 13px;
    border-bottom: 1px solid #BBB;
}


#more_details_table_1, #more_details_table_2, #recall_detail_table
{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

#more_details_table_1 td:nth-child(1)
{
    width: 20%; /*20px*/
    text-align: left;
    vertical-align: top;
    overflow: hidden;
}

#more_details_table_3 td:nth-child(1)
{
    /* width: 20%; 20px*/
    text-align: left;
    vertical-align: top;
    height: 25px;
    overflow: hidden;
}


#more_details_table_1 td:nth-child(2), #more_details_table_2 td:nth-child(1)
{
    width: 80%;
    text-align: left;
    vertical-align: top;
    overflow: hidden;
}

#more_details_table_1 td
{
    vertical-align: top;
}

.fl_width_20pc_text_a_r, #more_details_table_2 td:nth-child(2)
{
    width: 20%;
    text-align: right;
    vertical-align: top;
    overflow: hidden;
}

.fl_width_80pc_text_a_r
{
    width: 80%;
    text-align: right;
    vertical-align: top;
    overflow: hidden;
}
/***recall detail*****/
.fault_detail_left_col
{
    width: 20%;
    text-align: left;
    vertical-align: top;
}

.fault_detail_middle_col
{
    width: 40%;
    text-align: left;
    overflow: hidden;
    min-width: 40%;
    vertical-align: top;
}
.fault_detail_right_col
{
    width: 40%;
    text-align: left;
    overflow: hidden;
    min-width: 40%;
    vertical-align: top;
}
.fault_detail_right_col_first_div
{
    width: 15%;
    text-align: left;
    float: left;
}
.fault_detail_right_col_second_div
{
    width: 78%;
    min-width: 78%;
    text-align: left;
    float: left;
}
.margin_right20
{
    margin-right: 20px;
}
div.text_a_r_padd__r_20px
{
    text-align: right;
  
}

div.text_a_r
{
    text-align: right; /* padding-right: 20px;*/
}
/*remove after page completion*/

/*-----------master page css-----------*/
.aspNetHidden
{
    clear: both;
    height: 0px;
    visibility: hidden;
}
html, body
{
    font-size: 12px;
    font-family: "Arial";
    margin: 0;
    padding: 0; /*color: #696969; change - u*/
    height: 100%;
}

.page
{
    min-height: 100%; /*used to show footer at the bottom  width: 960px;overflow:auto;*/
    background-color: #fff; /*margin: 20px auto 0px auto;*/
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main
{
    padding-top: 10px; /*margin: 12px 8px 8px 8px;*/
    min-height: 420px;
    margin: 20px auto;
    padding: 20px 5px 5px 5px;
    width: 86%;
    height: 83%; /*border: 2px solid #222;*/
}
#header
{
    background-color: #e51837;
    height: 50px;
    width: 100%;
}
#header_box
{
    position: relative;
    float: right;
    background-color: inherit;
    margin-right: 25px;
    border: 2px solid white;
    top: 15px;
    height: 70px;
    width: 70px;
}
#header_label
{
    position: relative;
    float: left;
    padding-left: 20px;
    width: 50%;
    text-align: left;
    font-family: Arial;
    color: White;
    font-size: 16px;
}


.footer
{
    width: 100%;
    color: #4e5766;
    text-align: center;
    line-height: normal;
    height: 5%;
    background-color: #AABCCF;
    margin-top: 10px;
    height: 50px;
}


/*---------------end of master page css--------------------------*/

/***-------------general --------------------------**/
textarea
{
    font-style: italic;
    padding: 5px 5px;
    height: 121px;
    width: 283px;
}
hr
{
    /* color: #848484; */ /* change by umar - 110313 */
    background-color: #CCCCCC;
    border: 0 none;
    color: #A0A0A0;
    height: 1px;
    margin: 0px;
}

.roundcornerby5
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #848484;
    margin-left: 0px;
}
/*input[type="button"], input[type="submit"]
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
input[type="button"]:hover, input[type="submit"]:hover
{
    background-color: Gray;
    cursor: pointer;
}*/

/*input[type="button"], input[type="submit"]
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #000;
	background-color:#fff;
}
input[type="button"]:hover, input[type="submit"]:hover
{
    background-color:#eee;
    cursor: pointer;
}*/

div.roundcorner
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.searchbox
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #8e8e8e;
    background-color: #f5f5f5;
    height: 16px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 28px;
    color: #4a4a4a;
    float: left;
    background-image: url('../images/glass22x22.png');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 22px;
}

.searchText
{
    color: Gray;
    font-style: italic;
    padding-left: 10px;
}

.fl_width_100_text_a_l
{
    width: 100%;
    overflow: auto;
    text-align: left;
}

/*.fl_width_100_text_a_2
{
    width: 100%;
    overflow: hidden;
    text-align: left;
}*/

.fl_width_100_text_a_2
{
    /*width: 100%;*/
    overflow: hidden;
    text-align: left;
    border: 3px solid #bbb;
    margin: 5px 0px 10px;
    padding: 5px;
}

.bottom_line
{
    border-bottom: 1px solid #A6B3BD;
    padding-bottom: 5px;
    margin: 10px 0 10px 0;
}
.fl_width_100_text_a_r
{
    width: 100%;
    overflow: hidden;
    text-align: right;
}

.hidden_box
{
    display: none;
}

.fl_heading
{
    font-weight: bolder;
}

.fl_width_20pc_text_a_l
{
    width: 18%;
    display: inline;
    text-align: left;
}
.fl_width_20pc_text_a_t
{
    min-width: 20%;
    text-align: left;
    float: left;
}

.fl_width_80pc_text_a_l
{
    width: 78%;
    display: inline;
    text-align: left;
}
.fl_width_80pc_text_a_2
{
    width: 78%;
    display: inline;
    text-align: left;
    float: right;
    padding: 0 50px 0 0;
}

.fl_width_80pc_text_a_t
{
    display: inline;
    text-align: left;
    float: left;
    padding: 0 50px 0 0;
}
/**-----------end of general css------------*/


/*--faultsearch***/

#fault_search_main
{
    margin: auto;
    padding-top: 20px;
    width: 70%;
}

#fault_search_controls
{
    width: 100%;
    margin-bottom: 5px;
    height: auto;
    overflow: hidden;
}
#txtFaultSearch
{
    float: left;
}
.btnExistingFault
{
    float: right;
}

.highlight
{
    font-weight: bold;
}

#fault_search_result
{
    width: 95%;
    margin-top: 10px;
    height: 90%;
    min-height: 200px;
    padding-bottom: 10px;
}
#fault_result_header
{
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-left: 10px;
    color: Black;
    font-weight: bold;
    margin-left: 0px;
}

.tblRoundRow
{
    width: 90%;
}
.tblRoundRow tr td:first-child
{
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

.tblRoundRow tr td:last-child
{
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

.tblRoundRow tr:hover
{
    cursor: pointer;
    background-color: #C6C2C2;
}

/***endfaultsearch**/

/* Change by Behroz - 18/02/2013 - Start */
#CustDetailFont
{
    font-size: 12px;
    margin-left: 9px; /* change by umar - 110313 */
}

.padButton
{
    padding-right: 10px;
    padding-left: 10px;
}

.gridBorder
{
    border: 1px solid #B8C6D3;
}

.OuterBorder
{
    border: 3px solid #B8C6D3;
    height: 50%;
    margin: auto;
    min-width: 800px;
    overflow: hidden;
    margin: 5px 0px;
    padding: 4px 10px 4px 10px;
}

.head-first
{
    border-bottom: 1px solid #ccc;
    font-weight: normal;
}

.code-date
{
}

.code-date span
{
    font-size: 12px;
    margin: 0px 0px 1px 10px;
    float: left;
}

.available-apptmts-frow
{
    border-bottom: 1px solid #ccc;
}

.available-apptmts-optable
{
    border: 1px solid #ccc;
}

/* Change by Behroz - 18/02/2013 - End */

/* Change by Aamir Waheed - 03/04/2013 - Start */

/* Loading image on page update (UI-Blocker) - Start */

.loading-image
{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000000;
    text-align: center;
    vertical-align: middle;
    opacity: 0.7;
}

.loading-image img
{
    margin-top: 255px;
}

/* Loading image on page update (UI-Blocker) - End */

/* Change by Aamir Waheed - 03/04/2013 - End */

/* Basket grid */

.sort-expression a
{
    text-decoration: none !important;
}

.pagerNumber
{
    float: left !important;
}

.ConfirmedTable
{
    text-align: center !important;
}

/* Scheduling Search */

.searchInputTable td
{
    text-align: left;
    width: 150px;
}

.searchTableLabel
{
    padding-left: 10px;
    width: 80px !important;
}

.searchGrid td a
{
    text-decoration: underline;
}

/* Styles for map div/container on available appointments page */
.appointmentsMap
{    
    height: 305px;
    background-color: #fff;
    border: 3px solid #bbb; 
    min-width: 400px;
    
    /* These values are set to use remaining width of page other than mentioned in .availableAptDivContainer */
    width: auto;
    overflow: hidden;
    
}

/* Styles for div/container on available appointments page */
.availableAptDivContainer
{
    float: left;
    min-width: 700px;
    /*width: 700px;*/
}

/* A generic style to clear left/right floats. */
.clear
{
    clear: both;
}

.searchFaultHr
{
    border-width: 1px;
    height: 2px !important;
    margin-left: -18px !important; 
    width: 380px; 
    border-color: #cccc !important;    
}

.searchFaultSchemeBlock
{
    float:left;
}