﻿#superdiv
{
    /*background: #438a48; */
    font-family: Tahoma; /*width: 1024px;*/
    width: 98%;
    height: 100%;
    float: left;
    padding: 0px;
    vertical-align: middle;
    margin-left: 0px;
}

#header
{
    /*background: #438a48; */
    font-family: inherit;
    width: 100%;
    height: 40px;
    float: none;
    padding: 0px;
    vertical-align: middle;
    padding-bottom: 5px;
}
#middlePart
{
    /*background: #438a48; */
    width: 100%;
    height: 100%;
    float: left;
    padding: 0px;
    vertical-align: middle;
}
#header-left
{
    background-image: url('../Images/topbg.jpg');
    width: 18%;
    height: 100%;
    float: left;
    /*margin-right: 5px;*/
}

#header-right
{
    background-image: url('../Images/topbg.jpg');
    width: 79%;
    float: left;
    height: 100%;
    vertical-align: middle;
}
#leftcolumn
{
    background: #ffffff;
    float: left;
    width: 18%;
    height: 700px;
    vertical-align: top;
    margin-right: 5px;
}

#r_leftcolumn
{
/*    background: #ffffff;
    float: left;
    width: 15.2%;
    height: 700px;
    vertical-align: top;
    margin-right: 5px;
  */  
        background: #ffffff;
    float: left;
    width: 15%;
    height: 700px;
    vertical-align: top;
    margin-left: 10px;
    padding-right: 10px;

}
#breadcrum
{
    background: #C9CBCD;
    float: left;
    width: 79%;
    font-weight: bold; /*height: 700px;*/
}
#content
{
    /*background: #FFFFF;*/
    float: left;
    width: 79%;
    height: 100%; /*height: 700px;*/
}

#r_content
{
    /*background: #FFFFF;*/
    float: left;
    width: 82%;
    height: 100%; /*height: 700px;*/
    padding-left:15px;
}
.header-font
{
    color: #ffffff;
    font-size: 8pt;
    margin-top: 12px;
}

.header-font-bold
{
    color: #ffffff;
    font-size: 8pt;
    font-weight: bold;
    margin-top: 12px;
}
#left-header-span
{
    text-align: center;
    width: 43%;
    height: 100%;
    float: left;
    vertical-align: middle;
}
#right-header-span
{
    text-align: center;
    width: 14%;
    height: 100%;
    float: right;
    vertical-align: middle;
    margin-left: 0px;
}
#middle-header-span
{
    text-align: center;
    width: 28%;
    height: 100%;
    float: left;
    margin-left: 0px;
}
.saparatorDiv
{
    width: 5px;
    float: left;
    padding-left: 5px;
}


.menuStyle a
{
    color: #000000;
    display: block;
    font-family: arial !important;
    font-size: 12px !important;
    font-weight: normal;
    padding: 3% !important;
    text-decoration: none;
    width: 94% !important;
}
.menuStyle td
{
    padding: 0px !important;
}

.menuStyle a:hover
{
    background-color: #e6e6e6;
    text-decoration: none;
    font-size: 12px !important;
    display: block;
    padding: 3% !important;
    font-family: arial !important;
    font-weight: normal;
    width: 94% !important;
}

.menuStyle
{
    font-family: Tahoma;
    font-weight: bold;
    border: 1px solid #000000;
    vertical-align: top;
    width: 100% !important;
    height: 25px;
}
#footer
{
    background: #df781c;
    clear: both;
    width: 100%;
}
.topmessagesuccess
{
    font-family: Tahoma;
    color: Green;
    font-size: 10px;
    visibility: visible;
    height: 15px;
}

.topmessagefailure
{
    font-family: inherit;
    color: Red;
    font-size: 10px;
    visibility: inherit;
    height: inherit;
}

#Resources > p
{
    padding: 8px;
}

#Resources td, #Resources th
{
    border: 0 none;
}

#Resources input[type="submit"], #Resources input[type="button"]
{
    padding: 2px 8px;
}

/*#Resources tr:first-child 
{
    border-bottom: 1px solid;
}*/

#Resources th
{
    padding: 8px;
}

.detailBox td, .detailBox th
{
    text-align: left;
    padding: 0;
}

.detailBox td:first-child
{
    width: 24px;
}

#tblAddUser
{
    margin-top: 6px;
    border: 1px solid black;
}

#tblAddUser td, #tblAddUser th
{
    text-align: left;
}
#tblUserHeader
{
    border: 1px solid;
    border-bottom: 0px;
}
#tblUserHeader td
{
    border: 0px;
}
#tblAddUser select
{
    width: 201px;
}
.TenantInfo td, .TenantInfo th
{
    padding: 0 0 0 10px;
    text-align: left;
    height: 20px;
}
.TenantInfo td:first-child
{
    width: 70px;
}

#error
{
    color: Red;
    font-size: 20px;
    font-weight: normal;
}
.Required
{
    color: Red;
}
.style1
{
    width: 194px;
}
.style2
{
    width: 120px;
}
.btn
{
    
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: Arial,Helvetica,sans-serif;
}
.btn-xs {
    padding: 1px 20px !important;
}
.btn-gray
{
    border: 1px solid #cccccc !important;
    background: #D4D4D4 !important;
    color: #000 !important;
}
.btn-blue
{
    border: 1px solid #80d4f6 !important;
    background: #70c4e5 !important;
    color: #fff!important;
    padding: 3px 47px !important;
}
.btn-blue:hover
{
    background:#5cbae0 !important;
    border:1px solid #5cbae0 !important;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 2px;
  line-height: 1.428571429;
  border-top: 1px solid #dddddd;
}

.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  display: table-cell;
  float: none;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: #d0e9c6;
  border-color: #c9e2b3;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
  border-color: #eed3d7;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  background-color: #ebcccc;
  border-color: #e6c1c7;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td {
  background-color: #faf2cc;
  border-color: #f8e5be;
}
.webgrid tbody tr:nth-child(odd) {
    background-color: #dddddd;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 2px;
  line-height: 1.428571429;
  border-top: 0px solid #dddddd !important;
}
.form-control
{
   float: left; 
}
.select_div
{
    /*width: 335px;*/
    padding: 10px;
    min-height: 13px;
}
.select_div select
{
    padding: 0 0 0 5px;
    border-radius: 0px;
    border: 1px solid #b1b1b1;
    height: 25px !important;
    font-size: 12px !important;
    width: 205px !important;
}
.text_div
{
    width: 335px;
    padding: 10px;
    min-height: 13px;
}
.text_div input
{
    padding: 0 0 0 5px;
    border-radius: 0px;
    border: 1px solid #b1b1b1;
    height: 23px !important;
    font-size: 12px !important;
    width: 205px !important;
}

.label
{
    float: left;
    /*width: 120px;*/
    font: "myriad Pro";
    font-size: 12px;
    line-height: 25px;
}
.field
{
    float: left;
    margin-left: 10px;
}
.right{
    float:right;
}
.no-form-control
{
    padding: 10px; 
    min-height: 13px;
    width: 211px;
    float: left;
}
.no-form-control-select
{
    padding: 0 0 0 5px; 
    border-radius: 0px; 
    border: 1px solid #b1b1b1;
    height: 25px !important;
    font-size: 12px !important;
    width: 211px !important;
}
.no-form-control-input
{
    padding: 0 0 0 5px; 
    border-radius: 0px; 
    border: 1px solid #b1b1b1;
    height: 23px !important;
    font-size: 12px !important;
    width: 204px !important;
}
.portlet
{
    display: block;
    font-family: Tahoma;
    font-size: 15px;
    /* border: 1px solid #000; */
    width: 100%;
    
}
.portlet-body
{
    overflow:hidden;
    border: 1px solid #A0A0A0;
    border-top: 0;
    padding-bottom: 10px;
    background: #f5f5f5;
}
.portlet .header
{
    color: #fff;
    font-size: 15px;
    background-color: #000;
    padding: 10px 0;
    height: 18px !important;
    margin: 0 !important;
    float: none;
    width: inherit;
}
.portlet .header .header-label {
    float:left;
    padding: 0 10px;
    font-weight: bold;
}
.right{
    float:right;
}
.lnk-btn
{
    padding-right:10px;
    text-decoration:none !important;
}

.paging-left {
    float: left;
    width: 60%;
}
.pnlPaging {
    font-size:12px;
}
.dashboard, .dashboard td {
    padding: 5px 14px 5px 10px !important;
}
.dashboard, .dashboard th {
    padding: 10px 14px 10px 10px !important;
}
.dashboard th{
    background: #000;
}
.dashboard th a{
    color: #fff;
}
table.dashboard {
    margin:0 !important;
}