﻿.temp-trade-content
{
    display: table;
    width: 100px;
}

.temp-trade-content input[type="image"]
{
    /*display: table-cell;*/
    vertical-align: middle;
    border-style: none;
    width: 18px;
    height: 18px;
    float: right;
}

.temp-trade-content-left
{
    float: left !important;
}

.temp-trade-content img
{
    /*display: table-cell;*/
    vertical-align: middle;
    margin-left: 2px;
}

.temp-trade-content span
{
    /*display: table-cell;*/
    vertical-align: middle;
    margin-left: 2px;
}

.temp-trade-content select
{
    /*display: table-cell;*/
    vertical-align: middle;
    margin-left: 2px;
    width: 75px;
}