﻿@model BHGHRModuleWeb.ViewModels.EmployeesListViewModel
@{
    ViewBag.Title = "Access Control";
    bool status = Convert.ToBoolean(ViewBag.status);
    string searchText = ViewBag.searchText;
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize);
    grid.Bind(Model.employees, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
}

<div class="row padding-bottom">
    <div class="col-md-12">
        <div class="col-md-12" style="border: 1px solid; background-color: #000; padding: 10px;">
            <span class="header" style="padding:0">Access Control:</span>
            <div class="filters pull-right">
                @Html.TextBox("txtSearchText", searchText, new { @class = "searchbox-right ", Name = "txtSearchText", onkeyup = "TypingInterval();" })
            </div>
        </div>
    </div>
</div>

@grid.GetHtml(
    tableStyle: "table table-responsive backcolor",
    headerStyle: "wedgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: grid.Columns(
    grid.Column(columnName: "name", header: "Name"),
    grid.Column(columnName: "team", header: "Team"),
    grid.Column(columnName: "jobTitle", header: "Job Title"),
    grid.Column(columnName: "grade", header: "Grade"),
    grid.Column(header: "", style: "max-width-47 td-padding-right-0", format:@<text><input class="pull-right edit-arrow" data-id="@item.employeeId" data-toggle="modal" data-target="#Employee-Profile" type="button" ></text>)
))

<div class="panel-footer">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div id="gridPager" class="space-box col-md-8">
            @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
        </div>
        <div id="" class="col-md-1">
            <div class="row">
                <div class="form-inline">
                    <span for="rg-from">Page: </span>
                    <div class="form-group">
                        @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtPageNo", onkeyup = "TypingPageInterval();" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* pop model start *@
<div class="modal fade" id="Employee-Profile" role="dialog">

</div>
    <script type="text/javascript">
        (function () {
            $("#webgrid a").on('click', function (event) {
                loadGridEvents(event, this);
            });
            $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
        })();
        $('#webgrid .edit-arrow').on('click', function (e) {
            empId = $(this).data('id');
            var queryString = '?id=' + empId;
            var url = '@Url.Action("EmployeeProfile", "AccessControl")' + queryString;
            $('#Employee-Profile').load(url);
        })
        function loadGridEvents(event, ths) {
            event.preventDefault();
            var href = $(ths).attr("href");
            var queryString = href.substring(href.indexOf('?'), href.length);
            var requestUrl = '@Url.Action("SearchEmployees", "AccessControl")' + queryString;
            $("#webgrid").load(requestUrl);
        }

        var typingPageTimer;                //timer identifier
        var donePagedInterval = 1000;  //time in ms, 5 second for example

        function TypingPageInterval(e) {
            typingPageTimer = setTimeout(searchPageChanged, donePagedInterval);
        }

        function searchPageChanged() {
            var requestUrl = '@Url.Action("SearchEmployees", "AccessControl")'
           + "?page=" + $("#txtPageNo").val() + '&txtSearchText=' + $("#txtSearchText").val();
            $("#webgrid").load(requestUrl);
        }

    </script>
