﻿@model BHGHRModuleWeb.ViewModels.AccessControlViewModel
@{
    ViewBag.Title = "Employee Profile";
    AjaxOptions optionsUpdate = new AjaxOptions();
    optionsUpdate.AllowCache = false;
    optionsUpdate.HttpMethod = "POST";
    optionsUpdate.InsertionMode = InsertionMode.Replace;
    optionsUpdate.OnFailure = "OnFailureResponse";
    optionsUpdate.OnBegin = "OnStarting";
    optionsUpdate.OnSuccess = "OnSuccessUpdation";

    AjaxOptions optionsunlock = new AjaxOptions();
    optionsunlock.AllowCache = false;
    optionsunlock.HttpMethod = "POST";
    optionsunlock.InsertionMode = InsertionMode.Replace;
    optionsunlock.OnFailure = "OnFailureResponse";
    optionsunlock.OnBegin = "OnStarting";
    optionsunlock.OnSuccess = "OnSuccessUnlocking";
}
@Scripts.Render("~/bundles/jqueryval")
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Employee Profiles</h4>
        </div>
        <div class="col-md-12 alert alert-success" id="message" style="display:none">
            <strong id="msgResponse"></strong>
        </div>
        <div class="modal-body">
            <div class="row padding-bottom-5">
                <div class="col-md-12">
                    <div class="row padding-bottom-5">
                        <div class="col-md-12 text-center">
                            @Html.Label("You are editing the User Access Control for:")
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-12 text-center">
                            <b>@Model.fullName</b>
                        </div>
                    </div>
                </div>
            </div>
            @using (Ajax.BeginForm("UpdateLogin", "AccessControl", new { }, optionsUpdate, new { id = "Login", enctype = "multipart/form-data" }))
            {
                <div class="row padding-bottom-5">
                    <div class="col-md-9 grid-border" style="margin-left:100px">
                        <div class="row padding-bottom-5">
                            <div class="col-md-9" style="padding-top:10px;">
                            @if (Model.EXPIRES.HasValue)
                            {
                                @Html.Label("The password expiry date for this user is: " + Model.EXPIRES.ToString(),new { @class = "alert-success" })
                            }
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.Label("Username:")
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.userName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.userName)
                                @Html.HiddenFor(m => m.employeeId, 0)
                                @Html.HiddenFor(m => m.loginId, 0)
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.Label("Password:")
                            </div>
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.password)
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.Label("Confirmation:")
                            </div>
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.confirmation, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.confirmation)
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.Label("Active:")
                            </div>
                            <div class="col-md-6">
                                @Html.RadioButtonFor(m => m.isActive, 1, new { @id = "isActiveYes" })Yes
                                @Html.RadioButtonFor(m => m.isActive, 0, new { @id = "isActiveNo" })No
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-9" style="margin-left:150px">
                                <input class="btn btn-xs right" id="btnUpdateLogin" type="submit" value='Update Login' />
                            </div>
                        </div>
                    </div>
                </div>
            }
            @using (Ajax.BeginForm("UnlockAccount", "AccessControl", new { }, optionsunlock, new { id = "Unlock", enctype = "multipart/form-data" }))
            {
                <div class="row padding-bottom-5" style="margin-top:30px">
                    <div class="col-md-9 grid-border" style="margin-left:100px">
                        <div class="row padding-bottom-5 text-center" style="padding-top:10px;">
                            <div class="col-md-9">
                                @Html.Label("")
                                @if (Model.isLocked.Value == false)
                                {
                                    <b><span>Account is</span><span style="color:blue"> Active</span></b>
                                }
                                else
                                {
                                    <b><span>Account is</span><span style="color:red"> Locked</span></b>
                                }
                            </div>
                        </div>
                        <div class="row padding-bottom-5" style="padding-top:10px;">
                            <div class="col-md-9" style="margin-left:150px">
                                @if (Model.isLocked.Value == false)
                                {
                                    <input type="button" class="btn btn-xs right" disabled="disabled" value="Unlock Account" />
                                }
                                else
                                {
                                    @Html.HiddenFor(m => m.empId, 0)
                                    <input class="btn btn-xs right" id="btnUnlockAccount" type="submit" value='Unlock Account' />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row" style="margin-right:75px">
                <button type="button" class="btn btn-default btn-xs right" data-dismiss="modal">Close</button>
            </div>
        </div>        
    </div>
</div>
<script type="text/javascript">
    function OnFailureResponse(data) {
        $('#loader').hide();
    }

    function OnStarting() {
        $('#loader').show();
    }

    function OnSuccessUpdation(data) {
        $('#loader').hide();
        var obj = jQuery.parseJSON(data);
        if (obj.isSuccessFul == true) {
            $('#message').removeClass('alert-danger');
            $('#message').addClass('alert-success');
            $('#msgResponse').text(obj.message)
            $("#message").show().delay(5000).fadeOut();
            setTimeout(function () {
                var queryString = '?id=' + obj.employeeId;
                var requestUrl = '@Url.Action("EmployeeProfile", "AccessControl")' + queryString;
                $('#Employee-Profile').load(requestUrl);
            }, 1000);
            
        }
        else {
            $('#message').removeClass('alert-success');
            $('#message').addClass('alert-danger');
            $('#msgResponse').text(obj.message)
            $("#message").show().delay(5000).fadeOut();
        }
    }

    function OnSuccessUnlocking(data) {
        $('#loader').hide();
        var obj = jQuery.parseJSON(data);
        if (obj.isSuccessFul == true) {
            $('#message').removeClass('alert-danger');
            $('#message').addClass('alert-success');
            $('#msgResponse').text(obj.message)
            $("#message").show().delay(5000).fadeOut();
            setTimeout(function () {
                var queryString = '?id=' + obj.employeeId;
                var requestUrl = '@Url.Action("EmployeeProfile", "AccessControl")' + queryString;
                $('#Employee-Profile').load(requestUrl);
            }, 1000);
        }
        else {
            $('#message').removeClass('alert-success');
            $('#message').addClass('alert-danger');
            $('#msgResponse').text(obj.message)
            $("#message").show().delay(5000).fadeOut();
        }
    }
</script>

