﻿@model BHGHRModuleWeb.ViewModels.EmployeesListViewModel
@{
    ViewBag.Title = "Access Control";
}
<div class="main-Container">
    <div class="listing-Container">
            <div id="webgrid">
                @Html.Partial("~/Views/Admin/AccessControl/_ACEmployeesList.cshtml", Model)
            </div>
    </div>
</div>

<script type="text/javascript">
    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms, 5 second for example
    function TypingInterval(e) {
        typingTimer = setTimeout(searchTextChanged, doneTypingInterval);
    }
    function searchTextChanged() {
        $.ajax({
            url: '@Url.Action("SearchEmployees", "AccessControl")',
            type: 'GET',
            data: {
                txtSearchText: $('#txtSearchText').val(),
                teamId: '@Model.teamId'
            },
            success: function (resp) {
                if (resp != undefined) {
                    $('#webgrid').html(resp);
                }
            }
        });
    }
</script>