﻿@model BHGHRModuleWeb.ViewModels.HealthListViewModel
@{
    Layout = null;
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "Post";
    options.OnSuccess = "OnSuccess";
    options.OnFailure = "OnFailure";
    options.UpdateTargetId = "msg";
}
<div class="col-md-12 grid-border">
    @using (Ajax.BeginForm("AddAmendHealthRecord", "Health", options, new { id = "frmDisability", enctype = "multipart/form-data" }))
    {
        <div class="row padding-bottom">
            <div class="col-md-11 col-xs-11" style="border-bottom: 2px solid #dddddd;">
                @Html.Label("Add/Amend Health Details:", new { style = "margin: 0;padding-top: 10px;" })
                @Html.HiddenFor(m => m.healthDetail.diffDisabilityId, 0)
                @Html.HiddenFor(m => m.healthDetail.employeeId, 0)
                @Html.HiddenFor(m => m.healthDetail.docName, "")
                @Html.HiddenFor(m => m.healthDetail.docPath, "")
            </div>
            <input type="button" class="rock pull-right" onClick="refreshForm()" />
        </div>
        <div class="row padding-bottom">
            <div class="col-md-5">
                @Html.Label("Disability or Health Condition:")
            </div>
            <div class="col-md-7">
                @Html.DropDownListFor(m => m.healthDetail.disablityId, new SelectList(Model.disabilityHealthProblem, "Value", "Text"), new { @class = "form-control", id = "disabilityDDL" })
                <label id="hiddenDIS" style="visibility:hidden; color:red;">Disability or Health Condition is required</label>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-5">
                @Html.LabelFor(m => m.healthDetail.loggedByString)
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.healthDetail.loggedByString, new { @class = "form-control", @readonly = true })
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-5">
                @Html.LabelFor(m => m.healthDetail.notifiedDate)
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.healthDetail.notifiedDate, Model.healthDetail.ModelDateFormate, new { id = "notifiedDateHealth", @class = "NDHDatePicker form-control" })
                <label id="hiddenNotify" style="visibility:hidden; color:red;">Notified is required</label>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-5">
                @Html.LabelFor(m => m.healthDetail.notes)
            </div>
            <div class="col-md-7">
                @Html.TextAreaFor(m => m.healthDetail.notes, 5, 3, new { id = "Details", @class = "form-control personalDetail" })
                <label id="hiddenDetails" style="visibility:hidden; color:red;">Details are required</label>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-5">
                @Html.LabelFor(m => m.healthDetail.impactOnWork)
            </div>
            <div class="col-md-7">
                @Html.TextAreaFor(m => m.healthDetail.impactOnWork, 5, 3, new { @class = "form-control personalDetail" })
                @Html.ValidationMessageFor(m => m.healthDetail.impactOnWork)
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-5">
                @Html.LabelFor(m => m.healthDetail.isLongTerm)
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">
                        Yes @Html.RadioButtonFor(m => m.healthDetail.isLongTerm, true, new { @id = "isLongTermYes" })
                        No @Html.RadioButtonFor(m => m.healthDetail.isLongTerm, false, new { @id = "isLongTermNo" })
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
        if (Model.healthDetail.IsHR == true)
        {
            <div class="row padding-bottom">
                <div class="col-md-5">
                    @Html.LabelFor(m => m.healthDetail.isOccupationalHealth)
                </div>
                <div class="col-md-7">
                    <div class="row padding-bottom-5">
                        <div class="col-md-5">
                            Yes @Html.RadioButtonFor(m => m.healthDetail.isOccupationalHealth, true, new { @id = "isOccupationalYes" })
                            No @Html.RadioButtonFor(m => m.healthDetail.isOccupationalHealth, false, new { @id = "isOccupationalNo" })
                        </div>
                        <div class="col-md-7">
                            <div class="row padding-bottom-5">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.healthDetail.reviewDate)
                                </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.healthDetail.reviewDate, Model.healthDetail.ModelDateFormate, new { id = "reviewDate", @class = "DatePicker form-control", style = "width:70%" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.healthDetail.documentTitle)
                    <div class="col-md-12 grid-border">
                        <div class="row padding-bottom"></div>
                        <div class="row padding-bottom">
                            <div class="col-md-5" style="padding-right: 0;">
                                <label>Title:</label>
                            </div>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.healthDetail.documentTitle, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom">
                            <div class="col-md-7 pull-right">
                                <input type="file" id="file" name="file" />
                                @if (!string.IsNullOrEmpty(Model.healthDetail.docPath))
                                {
                                    <div class="clearfix padding-bottom"></div>
                                    <a class="btn btn-gray btn-xs" id="lnkDocPath" target="_blank" href="@Model.healthDetail.docPath">View File</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row padding-bottom">
                <div class="col-md-5">
                    @Html.LabelFor(m => m.healthDetail.isOccupationalHealth)
                </div>
                <div class="col-md-7">
                    <div class="row padding-bottom-5">
                        <div class="col-md-5">
                            Yes @Html.RadioButtonFor(m => m.healthDetail.isOccupationalHealth, true, new { @id = "isOccupationalYes", disabled = "disabled" })
                            No @Html.RadioButtonFor(m => m.healthDetail.isOccupationalHealth, false, new { @id = "isOccupationalNo", disabled = "disabled" })
                        </div>
                        <div class="col-md-7">
                            <div class="row padding-bottom-5">
                                <div class="col-md-3">
                                    @Html.LabelFor(m => m.healthDetail.reviewDate)
                                </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.healthDetail.reviewDate, Model.healthDetail.ModelDateFormate, new { id = "reviewDate", @class = "form-control", style = "width:70%", disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.healthDetail.documentTitle)
                    <div class="col-md-12 grid-border">
                        <div class="row padding-bottom"></div>
                        <div class="row padding-bottom">
                            <div class="col-md-5" style="padding-right: 0;">
                                <label>Title:</label>
                            </div>
                            <div class="col-md-7">
                                @Html.TextBoxFor(m => m.healthDetail.documentTitle, new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="row padding-bottom">
                            <div class="col-md-7 pull-right">
                                <input type="file" id="file" name="file" disabled = "disabled" />
                                @if (!string.IsNullOrEmpty(Model.healthDetail.docPath))
                                {
                                    <div class="clearfix padding-bottom"></div>
                                    <a class="btn btn-gray btn-xs" id="lnkDocPath" target="_blank" href="@Model.healthDetail.docPath">View File</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row padding-bottom">
            <div class="col-md-1 col-md-push-11">
                <input class="btn btn-gray btn-xs pull-right" type="button" id="submit" value='Save' />
            </div>
        </div>
    }
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")
<script>

    $("#disabilityDDL").change(function () {
        if ($('#disabilityDDL').find("option:selected").text() != "Please select") {
            document.getElementById('disabilityDDL').style.borderColor = "";
            document.getElementById('hiddenDIS').style.visibility = "hidden";
        }
        if ($('#disabilityDDL').find("option:selected").text() == "None") {
            document.getElementById('disabilityDDL').style.borderColor = "";
            document.getElementById('hiddenDIS').style.visibility = "hidden";
            document.getElementById('notifiedDateHealth').style.borderColor = "";
            document.getElementById('hiddenNotify').style.visibility = "hidden";
            document.getElementById('Details').style.borderColor = "";
            document.getElementById('hiddenDetails').style.visibility = "hidden";
        }
    });
    (function () {

        loadDatePicker();
        var LeaveMaxDate = new Date();
        $("#notifiedDateHealth").datepicker({
            showAnim: "blind",
            dateFormat: 'dd/mm/yy',
            yearRange: '1900:2050',
            changeMonth: true,
            changeYear: true,
            maxDate: LeaveMaxDate,
            showOn: 'button',
            buttonImage: '@Url.Content("~/Content/images/calendar.png")',
            buttonImageOnly: true,
        });
    })();

    function refreshForm() {
        reloadCurrentTab();
    }
    $("#contactDetail").on('shown.bs.modal', function () {
        if ($('#healthDetail_diffDisabilityId').val() == 0) {
            $('#lnkDocPath').hide();
            $("#delete").hide();
        } else {
            $("#delete").show();
            $('#delete').prop('disabled', false);
        }
    });

    $('#submit').on('click', function () {
        event.preventDefault();
        if ($('#disabilityDDL').find("option:selected").text() == "Please select") {
            document.getElementById('disabilityDDL').style.borderColor = "red";
            document.getElementById('hiddenDIS').style.visibility = "visible";
            return false;
        }
        else if ($('#disabilityDDL').find("option:selected").text() == "None") {
            document.getElementById('disabilityDDL').style.borderColor = "";
            document.getElementById('hiddenDIS').style.visibility = "hidden";
            document.getElementById('notifiedDateHealth').style.borderColor = "";
            document.getElementById('hiddenNotify').style.visibility = "hidden";
            document.getElementById('Details').style.borderColor = "";
            document.getElementById('hiddenDetails').style.visibility = "hidden";
        }
        else{
            if ($('#notifiedDateHealth').val() == "") {
                document.getElementById('notifiedDateHealth').style.borderColor = "red";
                document.getElementById('hiddenNotify').style.visibility = "visible";
                return false;
            }
            else
            {
                document.getElementById('notifiedDateHealth').style.borderColor = "";
                document.getElementById('hiddenNotify').style.visibility = "hidden";
            }
            if ($('#Details').val() == "") {
                document.getElementById('Details').style.borderColor = "red";
                document.getElementById('hiddenDetails').style.visibility = "visible";
                return false;
            }
            else {
                document.getElementById('Details').style.borderColor = "";
                document.getElementById('hiddenDetails').style.visibility = "hidden";
            }
        }

        if (!isValidHealthDate()) {
            popupMessage('message', 'msgResponse', "Invalid logged date.", 'failure');
            return false;
        }
        var dataString;
        var action = $("#frmDisability").attr("action");
        if ($("#frmDisability").attr("enctype") == "multipart/form-data") {
            //this only works in some browsers.
            //purpose? to submit files over ajax. because screw iframes.
            //also, we need to call .get(0) on the jQuery element to turn it into a regular DOM element so that FormData can use it.
            dataString = new FormData($("#frmDisability").get(0));
            contentType = false;
            processData = false;
        } else {
            // regular form, do your own thing if you need it
        }
        $.ajax({
            type: "POST",
            url: action,
            data: dataString,
            dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
            contentType: contentType,
            processData: processData,
            success: function (response) {
                response = jQuery.parseJSON(response);
                if (response.isSuccessFul == false) {
                    popupMessage('message', 'msgResponse', response.message, 'failure');
                }
                else {
                    popupMessage('message', 'msgResponse', "Disability or Health condition is updated successfully.", 'success');
                    $('#submit').prop('disabled', true);
                    $('#deleteLearning').prop('disabled', true);
                    reloadCurrentTab();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('message', 'msgResponse', "Record Not Updated Successfully", 'failure');
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    });

</script>