﻿@model BHGHRModuleWeb.ViewModels.HealthListViewModel
@{
    Layout = null;
    var grid = new WebGrid(canPage: true, rowsPerPage: 10, canSort: false, ajaxUpdateContainerId: "webgrid");
    grid.Bind(source: Model.Disablities, rowCount: 50, autoSortAndPage: false);
}

<div class="listing-Container grid-border">
    <div id="updateResponse">
        <div id="webgrid" style="max-height:600px; overflow-y:scroll;">
            @grid.GetHtml(
                tableStyle: "table table-responsive backcolor",
                headerStyle: "wedgrid-header",
                footerStyle: "webgrid-footer",
                columns: grid.Columns(
                grid.Column(columnName: "loggedByString", header: "Logged(By):"),
                grid.Column(columnName: "notifiedDate", header: "Notified:"),
                grid.Column(columnName: "description", header: "Disability or Health Condition:"),
                grid.Column(columnName: "longterm", header: "Long Term:", format: item => item.isLongTerm == true ? "Yes" : "No"),
                grid.Column("", format: @<img src="~/Content/Images/aero.png" width="22" data-id="@item.diffDisabilityId" class="pull-right edit-book" />)
            ))
        </div>
    </div>
</div>
