﻿@model BHGHRModuleWeb.ViewModels.HealthListViewModel
@{
    Layout = null;
    bool isEdit = ViewBag.isEdit == "edit";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10, canSort: false, ajaxUpdateContainerId: "webgrid");
    grid.Bind(source: Model.Disablities, rowCount: 50, autoSortAndPage: false);
    bool status = Convert.ToBoolean(ViewBag.status);
    string searchText = ViewBag.searchText;
}

<style>
    .DatePicker {
        z-index: 1151 !important;
    }
</style>

<div class="container-fluid">
    <div class="row padding-bottom"></div>
    <div class="row padding-bottom">
        <div class="col-sm-6">
            @Html.Partial("~/Views/Employees/Health/_HealthList.cshtml", Model)
        </div>
        <div class="col-sm-6">
            <div id="healthDetail">
                @Html.Partial("~/Views/Employees/Health/_HealthDetail.cshtml", Model)
            </div>
        </div>
    </div>
</div>
@if (!isEdit)
{
    <div class="row padding-bottom">
        <div class="col-md-12">
            <input class="btn btn-info btn-xs pull-right" onclick="jumpToNextTab()" type="submit" name="nextBtn" value='Save & Continue' />
        </div>
    </div>
}

@* pop model start *@

@* confirm-delete *@
<div class="modal fade" id="confirm-delete" role="dialog">
    <div class="modal-dialog" style="width:560px;padding-top:170px">
        <!-- Modal content-->
        <div class="modal-header">
            <h4 class="modal-title">Alert!</h4>
        </div>
        <div class="modal-body" style="background-color:white">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <strong id="msglearning">Do you want to delete this record?</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="background-color:white;margin-top:0px">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="closelearning">No</button>
            <button id="submitlearning" class="btn btn-primary btn-ok">Yes</button>
        </div>
    </div>
</div>
@* pop model end *@

@* confirm-deletelearning *@
<div class="modal fade" id="confirm-deletelearning" role="dialog">
    <div class="modal-dialog" style="width:560px;padding-top:110px">
        <!-- Modal content-->
        <div class="modal-header">
            <h4 class="modal-title">Alert!</h4>
        </div>
        <div class="modal-body" style="background-color:white">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <strong id="msglearning">Do you want to delete this record?</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="background-color:white;margin-top:0px">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="closelearning">No</button>
            <button id="submitlearning" class="btn btn-primary btn-learningOK">Yes</button>
        </div>
    </div>
</div>
@* pop model end *@

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">

    function edit_book_click() {
        $("#webgrid .edit-book").click(function () {
            var url = '@Url.Action("GetDisability", "Health")';
            url = url + '/' + $(this).data('id');
            $('#healthDetail').load(url);
            
        });
    }
    function edit_learning_click() {
        $("#webgridlearning .edit-learning").click(function (index) {
            $.getJSON('@Url.Action("GetLearningDifficulty", "Health")' + '/' + $(this).data('id'), function (data) {
                var res = data;
                $('#learningDiff #learningDDL').val(res.disablityId);
                $('#learningDiff #healthDetail_diffDisabilityId').val(res.diffDisabilityId);
                $('#learningDiff #healthDetail_notes').val(res.notes);
                $('#learningDiff #healthDetail_loggedByString').val(res.loggedByString);
                $('#learningDiff #notifiedDateDisability').val(res.notifiedDate);
                $('#learningDiff #healthDetail_description').val(res.description);
            });
            $('#learningDiff').modal('show');
        });
    }
    (function () {
        edit_book_click();
        edit_learning_click();
        loadDatePicker();
    })();
    $("#notifiedDateDisability").on("change", function () {
        isValidLearningDate();
    });
    $("#notifiedDateHealth").on("change", function () {
        isValidHealthDate();
    });
    $("#closedifficulty").on('click', function () {
        $("#disabilityDDL option:contains(Please Select)").attr('selected', true);
        $('#healthDetail_diffDisabilityId').val(0);
        $('#healthDetail_docName').val('');
        $('#healthDetail_notes').val('');
        $('#healthDetail_loggedByString').val(getCurrentDate());
        $('#notifiedDateHealth').val('');
        $('#healthDetail_description').val('');
        $('#healthDetail_impactOnWork').val('');
        $('#isLongTermNo').prop('checked', true);
        $('#isOccupationalNo').prop('checked', true);
        $('#healthDetail_documentTitle').val('');
        $('#submit').prop('disabled', false);
        $('#reviewDate').val('');
        $('#lnkDocPath').hide();
        $('#file').val('');
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetDifficultiesAndDisablities", "Health")',
            success: function (response) {
                console.log($(response).find('#webgrid'));
                $('#updateResponse').html($(response).find('#updateResponse'));
                edit_book_click();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('popupMessage', 'popupMsgResponse', "Unable to load docoument", 'failure');
                console.log(jqXHR);
            }
        });
    });
    $("#closelearning").on('click', function () {
        $("#learningDDL option:contains(Please Select)").attr('selected', true);
        $('#learningDiff #healthDetail_diffDisabilityId').val(0);
        $('#learningDiff #healthDetail_notes').val('');
        $('#learningDiff #healthDetail_loggedByString').val(getCurrentDate());
        $('#learningDiff #notifiedDateDisability').val('');
        $('#learningDiff #healthDetail_description').val('');
        $('#submitlearning').prop('disabled', false);
        $('#deleteLearning').prop('disabled', false);
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetDifficultiesAndDisablities", "Health")',
            success: function (response) {
                $('#updateResponseLearning').html($(response).find('#updateResponseLearning'));
                edit_learning_click()
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('popupMessage', 'popupMsgResponse', "Unable to load docoument", 'failure');
                console.log(jqXHR);
            }
        });
    });

    $("#learningDiff").on('shown.bs.modal', function () {
        if ($('#learningDiff #healthDetail_diffDisabilityId').val() == 0) {
            $("#deleteLearning").hide();
        } else {
            $("#deleteLearning").show();
            $('#deleteLearning').prop('disabled', false);
        }
    });
    $("#delete").click(function () {
        $('#confirm-delete').modal('show');
    });
    
    $(".btn-ok").click(function (index) {
        $("#confirm-delete").modal('hide');
        DeleteHealthDisability();
    });
    $(".btn-learningOK").click(function (index) {
        $("#confirm-deletelearning").modal('hide');
        DeleteLearningDifficulty();
    });
    $("#deleteLearning").click(function () {
        $("#confirm-deletelearning").modal('show');
    });
    
    function isValidLearningDate() {
        var spli = $('#learningDiff #healthDetail_loggedByString').val().split('(');
        var strDate = spli[0].split('/');
        var loggedDate = new Date(strDate[2], strDate[1], strDate[0]);
        strDate = "";
        strDate = $('#notifiedDateDisability').val().split('/'); // notice date
        var noticeDate = new Date(strDate[2], strDate[1], strDate[0]);
        if (loggedDate > noticeDate) {
            popupMessage('responselearning', 'msglearning', "Notice date should be greater or equal to logged date.", 'failure');
            return false;
        }

        return true;
    }
    function isValidHealthDate() {
        var spli = $('#healthDetail_loggedByString').val().split('(');
        var strDate = spli[0].split('/');
        var loggedDate = new Date(strDate[2], strDate[1], strDate[0]);
        strDate = "";
        strDate = $('#notifiedDateHealth').val().split('/'); // notice date
        var noticeDate = new Date(strDate[2], strDate[1], strDate[0]);
        var str = "" + loggedDate;
        if (str == "Invalid Date")
        {
            popupMessage('popupMessage', 'msg', "Invalid logged Date", 'failure');
            return false;
        }
        if (loggedDate < noticeDate) {
            popupMessage('popupMessage', 'msg', "Notice date should be greater or equal to logged date.", 'failure');
            return false;
        }
        
        return true;
    }
    function getCurrentDate() {
        var fullDate = new Date()
        //Thu May 19 2011 17:25:38 GMT+1000 {}
         //convert month to 2 digits
        var twoDigitMonth = ((fullDate.getMonth() + 1) > 9) ? (fullDate.getMonth() + 1) : '0' + (fullDate.getMonth() + 1);

        var currentDate = fullDate.getDate() + "/" + twoDigitMonth + "/" + fullDate.getFullYear();
        console.log(currentDate);
        return currentDate;
    }
    function OnBeginlearning() {
        if (!isValidLearningDate())
            return false;
    }
    function OnSuccesslearning(response) {
        var res = JSON.parse(response);

        if (res == "Your detail is updated successfully.") {
            popupMessage('responselearning', 'msglearning', "Learning difficulty detail is updated successfully.", 'success');
            $('#submitlearning').prop('disabled', true);
        } else {
            popupMessage('responselearning', 'msglearning', "Record Not Updated Successfully", 'failure');
        }
    }

    function OnFailurelearning(response) {
        popupMessage('responselearning', 'msglearning', "Record Not Updated Successfully", 'failure');
    }

    function OnBegin() {
        if (!isValidHealthDate())
            return false;
    }
    function OnSuccess(response) {
        var res = JSON.parse(response);
        if (res == "Your detail is updated successfully.") {
            popupMessage('popupMessage', 'msg', "Disability or Health condition is updated successfully.", 'success');
            $('#submit').prop('disabled', true);
            reloadCurrentTab
        } else {
            popupMessage('response', 'msg', "Record Not Updated Successfully", 'failure');
        }
    }
    function OnFailure(response) {
        popupMessage('popupMessage', 'msg', "Record Not Updated Successfully", 'failure');
    }
    function DeleteHealthDisability() {
        dataString = new FormData($("#frmDisability").get(0));
        contentType = false;
        processData = false;
        $.ajax({
            type: "POST",
            url:'@Url.Action("DeleteDisabilityHealthRecord", "Health")',
            data: dataString,
            dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
            contentType: contentType,
            processData: processData,
            success: function (response) {

                response = jQuery.parseJSON(response);

                    // var res = JSON.parse(response);
                    if (response == "Your detail is updated successfully.") {
                        popupMessage('response', 'msg', "Disability or Health condition is deleted successfully.", 'success');
                        $('#submit').prop('disabled', true);
                        $('#delete').prop('disabled', true);
                    } else {
                        popupMessage('response', 'msg', "Record Not deleted Successfully", 'failure');
                    }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('response', 'msg', "Record Not Updated Successfully", 'failure');
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });


    }
    function DeleteLearningDifficulty() {
        dataString = new FormData($("#frmLearning").get(0));
        contentType = false;
        processData = false;
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteDisabilityHealthRecord", "Health")',
            data: dataString,
            dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
            contentType: contentType,
            processData: processData,
            success: function (response) {
                response = jQuery.parseJSON(response);
                if (response.isSuccessFul == false) {
                    popupMessage('response', 'msg', response.message, 'failure');
                }
                else {
                    if (response == "Your detail is updated successfully.") {
                        popupMessage('responselearning', 'msglearning', "Learning Difficulty is deleted successfully.", 'success');
                        $('#submitlearning').prop('disabled', true);
                        $('#deleteLearning').prop('disabled', true);
                    } else {
                        popupMessage('responselearning', 'msglearning', "Record Not deleted Successfully", 'failure');
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('response', 'msg', "Record Not Updated Successfully", 'failure');
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    }

</script>