﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Cyclical.ascx.cs" Inherits="PropertyDataRestructure.UserControls.Pdr.SchemeBlock.Cyclical" %>
<div class="col-md-12" style="min-height: 500px; width: 100%;">
    <iframe id="cyclicalTabiFrame" src="" width="100%" height="700px" frameborder="0" style="border: block" runat="server" >
    </iframe>
</div>
