﻿@model ASB_UI.Models.WebAPILayer.ServiceManagers.Pagination

@{ 
    int pageSize = Model.PageSize;
    string func = Model.FunctionName;
}


<div class="col-xs-12 clearfix paging">
    @if (Model.PageNumber == 1)
    {
        <div class="col-xs-2">
            <span>First</span>
        </div>
        <div class="col-xs-2">
            <span><<</span>
        </div>
    }
    else
    {
        <div class="col-xs-2">
            <a href="javascript:void(0)" onclick="On@(func)PageNumberClick(1,@pageSize)">First</a>
        </div>
        <div class="col-xs-2">
            <a href="javascript:void(0)" onclick="On@(func)PageNumberClick(@Model.PageNumber-1, @pageSize)"><<</a>
        </div>
    }
    <div class="col-xs-4">
        Page @Model.PageNumber of @Model.TotalPages
    </div>
    @if (Model.PageNumber == Model.TotalPages)
    {
        <div class="col-xs-2">
            <span>>></span>
        </div>
        <div class="col-xs-2">
            <span>Last</span>
        </div>
    }
    else
    {
        <div class="col-xs-2">
            <a href="javascript:void(0)" onclick="On@(func)PageNumberClick(@Model.PageNumber+1, @pageSize)">>></a>
        </div>
        <div class="col-xs-2">
            <a href="javascript:void(0)" onclick="On@(func)PageNumberClick(@Model.TotalPages, @pageSize)">Last</a>
        </div>
    }
</div>
