﻿<div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Error</div>
                <div class="modal-body">
                    <p>
                        Requested file has been removed. Please see Journal History for more details.
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="button" id="BtnOk" value="OK" class="button-default" />
                </div>
            </div>
        </div>
    </div>
</div>

