﻿<script type="text/javascript">

    $(document).ajaxStart(function () {
        $('#progress').show();
    });
    $(document).ajaxStop(function () {
        $('#progress').hide();
        //$('#detailContainer').show();
    });
    $(document).on('ready', function () {
        var selector = '.navigation li a';
        $(selector).on('click', function () {
            if ($(this).attr('id') == 'ReportsLink') {
                $("#CaseManagementMenuSection").show();
            } else {
                $("#CaseManagementMenuSection").hide();
            }
            $(selector).removeClass('active');
            $(this).addClass('active');
        });
    });
</script>
<div class="col-xs-12">
    <div class="no-padding-sides">
        @{Html.RenderPartial("~/Views/Shared/TopNavigation.cshtml");}
    </div>
    <div class="ErrorMessage">
        <p>@ViewBag.ErrorMessage</p>
    </div>

</div>
