﻿@*@model IEnumerable<ASB_UI.Models.WebAPILayer.ServiceManagers.MenuItem>*@
@model ASB_UI.Models.WebAPILayer.ServiceManagers.MenuResponse
<div class="TopNavigation">
    <ul>
            <li>
                <div class="asb-dropdown">
                    <a href="javascript:void(0)" class="module">Customers</a>
                    <div class="asb-dropdown-content" style="min-width:150px !important; margin-left:8px !important;">
                        @foreach (var m in Model.objLstCustomerModuleMenus)
                        {
                            <a href="@m.Url" data-id="@m.ModuleId"> - @m.ModuleName</a>
                        }
                    </div>
                </div>
            </li>
        @foreach (var item in Model.objMenusBO)
        {
            if (item.MenuName.Equals("Monitoring"))
            {
                <li>
                    <div class="asb-dropdown">
                        <a href="javascript:void(0);" class="selected" data-itemid="@item.MenuId">@item.MenuName</a>
                        <div class="asb-dropdown-content">
                            @foreach (var subMenuItem in item.objLstSubMenus)
                            {
                                <a href="@subMenuItem.Path">@subMenuItem.SubMenuName</a>
                            }
                        </div>
                    </div>
                </li>
            }
            else
            {
                <li>
                    <div class="asb-dropdown">
                        <a href="javascript:void(0)" data-itemid="@item.MenuId">@item.MenuName</a>
                        <div class="asb-dropdown-content">
                            @foreach (var subMenuItem in item.objLstSubMenus)
                            {
                                <a href="@subMenuItem.Path">@subMenuItem.SubMenuName</a>
                            }
                        </div>
                    </div>
                    
                </li>
            }
        }
    </ul>


</div>

<script>


    //$(".TopNavigation ul  li").mouseover(function () {
    //    var value = $(this).find('a').attr("data-itemid");
    //    if (value != undefined) {
           
    //    }
    //});

    function ShowSubMenu(MenuId) {

    }
</script>
