﻿@model Contractor.Web.Models.Login.LoginViewModel
@{
    ViewBag.Title = "login";
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <title>BHG Contractor Module</title>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <div>
            <img src="~/Content/images/logored.PNG" />
        </div>
        <div class="logo-rsl">
            Contractor Portal
        </div>
        @if (Model.ResponseMessage != "")
            {
            <div class="login-msg">
                @if ((Model.Threshold < 5 && Model.Threshold != null) && (Model.Threshold == 4))
                {
                    <b>Access Lockdown Warning:</b>
                }
                <span>@Model.ResponseMessage</span>
            </div>
        }
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { id = "frmLogin" }))
            {
            <div class="rsl-login">
                <div style="margin-bottom:17px;">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "txtfield username", @placeholder = "User Name" })
                    <div>
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div style="margin-bottom:17px;">
                    @Html.PasswordFor(m => m.Password, new { @class = "txtfield password", @placeholder = "Password" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="btn-area">
                    <input name="" type="submit" class="btn" value="Login" />
                </div>
                <div class="lockdown">
                    <strong>
                        @if (Model.Locked.HasValue && Model.Locked.Value == true)
                        {
                            <label>
                                Access Lockdown:<br />
                                Your account is now locked,<br />
                                please contact the Systems<br />
                                Team for assistance.
                            </label>
                        }

                    </strong>
                </div>
                <div class="verisign">
                    <img src="~/Content/images/icon_verisign.png" />
                </div>

                <div class="footer">
                    Broadland Housing Association, NCFC, Jarrold Stand, Carrow Road, Norwich, NR1 1HU<br />
                    Tel: 01603 750200   Fax: 01603 750222   Email: enq@broadlandhousing.org
                </div>
            </div>
        }
    </div>
    <div class="copy-right">
        <img src="~/Content/images/copy_right2.png" />
    </div>
    <img src="~/Content/images/asbestos-contractor_background.jpg" width="2312" height="1540" class="bgimg" />


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>


