﻿#main  
{
    border: 1px solid #CCCCCC !important; 
} 

.sectionHead  
{
    display: inline;
}

.sectionHeadClick
{
    display: inline;
    margin-left: 5px;
}  

.input_whiteB  
{
 background-color: #ffffff !important;
 color: #000000;   
} 
a.menu_item
{
    
} 