﻿table.table_box {
	width:100%;
	/*border-collapse: collapse;*/ /* 'cellspacing' equivalent */
}

table.table_box {
    background:#fff;
	padding:2px;
	border-top:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
\
body_text {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
}
.menu_item {
	
	font-family: Arial;
	font-size: 9pt;
	color: #FFFFFF;
	text-decoration:none;

}
.link_resize {
	
	font-family: Arial;
	font-size: 9pt;
	color: Red;
	text-decoration:none;

}
.link_item {
	
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
    display:inline;
	text-decoration:underline;
}
.link_item_medium {
	
	font-family: Arial;
	font-size: 11pt;
	color: #aaaaaa;
    display:inline;
    font-weight:bold;
	text-decoration:none;
}

.link_item_small {
	
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
    display:inline;
    text-decoration:underline;
	
}
.link_item_tiny {
	
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
    display:inline;
	text-decoration:none;
}
.footnote_item {
	
	font-family: Arial;
	font-style:italic;
	font-size: 8pt;
	color: #000000;
	text-decoration:none;
	display:inline;
}
.header_black {
	font-family: Arial;
	font-size: 18pt;
	color: #000000;
	 display:inline;
	 font-weight: bold;
}
.header_white {
	font-family: Arial;
	font-size: 18pt;
	color: #ffffff;
	 display:inline;
	 font-weight: bold;
}
.sub_header_black {
	font-family: Arial;
	font-size: 12pt;
	font-weight:bold;
	color: #000000;
	 display:inline;
}
.header_reversed_black {
	font-family: Arial;
	font-size: 12pt;
	background-color: #000000;
	color: #FFFFFF;
}
header_reversed_red {
	font-family: Arial;
	font-size: 12pt;
	background-color: #CC0000;
	color: #FFFFFF;
}
.main_module_header_label {
	font-family: Arial;
	font-size: 12pt;
	background-color : #CC0000;
	color: #FFFFFF;
	}
.caption {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	display:inline;
}
.body_caption_bold {
	font-family: Arial;
	font-size: 10pt;
	font-weight:bold;
	color: #000000;
	display:inline;
}
.error_message_label {
	font-family: Arial;
	font-size: 12pt;
	color: #FF0000;
}
.info_message_label {
	font-family: Arial;
	font-size: 12pt;
	color: #008800;
}

.foot_note {
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
}
section_frame {
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #CC0000;
}
input {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	clear: none;
	float: none;
}
.input_normal {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	clear: none;
	float: none;
	}

.input_small {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	clear: none;
	float: none;
	width:100px;
}
.select_normal {
	font-family: Arial;
	font-size: 10pt;
	}
select_small {
	font-family: Arial;
	font-size: 10pt;
	width:150px;
}
.select_small {
	font-family: Arial;
	font-size: 10pt;
	width:150px;
}
.table_box
{
    BORDER-RIGHT: black thin solid;
    BORDER-TOP: black thin solid;
    BORDER-LEFT: black thin solid;
    BORDER-BOTTOM: black thin solid;
    width:300px;
    
}
textarea
{
    border-color:#000000;
    overflow:auto;
    font-family:Arial;
    font-size:10pt;
       
    }
.textarea_simple
{
    border-color:#000000;
    font-family:Arial;
    font-size:10pt;
    overflow:auto;
       
    }

.print_foot_note_red {
	font-family: Arial;
	font-size: 8pt;
	color: #FF0000;
}

.print_foot_note_blue {
	font-family: Arial;
	font-size: 8pt;
	color: #0000FF;
}
.print_foot_note_black {
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
}
.modalBackground 
        {
	        background-color:Gray;
	        filter:alpha(opacity=60);
	     
        }
.cellData {
	        font-family: Arial;
	        font-size: 9pt;
	        color: #000000;
	        display:inline;
        }
 .link_back {
	        font-family: Arial;
	        font-size: 9pt;
	        font-weight:bold;
	        color: Black;
	        text-decoration:underline;
        }
