﻿/* set background images for corners */
.rbroundbox { background: #CC0000; margin-bottom:2px; width:197px; }

ul, li {
	list-style: none;    
    padding:0px;
    margin:0px;    
}
li {
	margin-bottom:2px;
}

.rbtop2 div  { background: url(/images/top-left2.png) no-repeat top left; }
.rbtop2      { background: url(/images/top-right2.png) no-repeat top right; }
.rbbot2 div  { background: url(/images/bottom-left2.png) no-repeat bottom left; }
.rbbot2      { background: url(/images/bottom-right2.png) no-repeat bottom right; }

.rbtop div  { background: url(/images/top-left.png) no-repeat top left; }
.rbtop      { background: url(/images/top-right.png) no-repeat top right; }
.rbbot div  { background: url(/images/bottom-left.png) no-repeat bottom left; }
.rbbot      { background: url(/images/bottom-right.png) no-repeat bottom right; }
 
/* height and width details */
.rbtop div, .rbtop, .rbbot div, .rbbot {
	width: 100%;
	height: 5px;
	font-size: 1px;
}

/* indent Menu items from the left */
.rbcontent  { margin: 0 5px; }
.rbroundbox { width: 17em; margin-left: 10px; margin-right:10px; }
 
img {border:0}