﻿html,body
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:9pt;
	height:100%;
	margin:0;
	padding:0;
}
.white 
{
    color: White;
    margin-bottom: 0px;
} 
.error_message_label_wb
{
    font-family: Arial;
	font-size: 12pt;
    display: block;
    color: #E6E6E6;
} 
li
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
}

#wrapper
{
	margin:auto;
	width:900px;
}

#imgContentWrapper
{
	-moz-border-radius-topright:5px;
	-moz-box-shadow:0 0 1em #000;
	-webkit-border-top-right-radius:5px;
	-webkit-box-shadow:0 0 1em #000;
	border-top-right-radius:5px;
	box-shadow:0 0 1em #000;
	behavior: url("/css/ie-css3.htc");
}

.sub_header_white
{
	color:#fff;
	display:inline;
	font-family:Arial;
	font-size:12pt;
	font-weight:700;
}

.ajax__validatorcallout_error_message_cell
{
	color:#000;
}
a
{
	font-family:arial;
}
a.button_item, a.menu_item
{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:#e31936 !important;
	border-radius:10px;
	margin-bottom:3px;
	padding:5px 8px;
	color: #ffffff;
	text-decoration: none;
	/* behavior: url("/css/ie-css3.htc"); */
}
a.menu_item
{
	width:197px!important;
	display:block;
}

a.whiteLnk
{
	color:#fff;
	text-decoration:none;
}

.clear
{
	clear:both;
}

#leftcolumn,#rightcolumn
{
	float:left;
}

#leftcolumn
{
	width:25%;
}

#rightcolumn
{
	width:74%;
}

#contentWrapper
{
	margin:auto;
	padding:5px;
	width:900px;
}

#toheader
{
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	background-color:#e31936;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	box-shadow:0 0 10px #180000;
	height:87px;
	margin-bottom:20px;
	padding:10px 0 0;
	behavior: url("/css/ie-css3.htc");
}

#footer
{
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	background-color:#e31936;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	margin-top:10px;
	min-height:65px;
	padding:0;
	behavior: url("/css/ie-css3.htc");
}

.col2
{
	float:left;
	width:49%;
}

.footnote_item
{
	color:#FFF;
	padding-top:15px;
	text-align:center;
}

.border
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #909090;
	border-radius:5px;
	margin-bottom:10px;
	padding:2px;
	width:654px;
	background: #ffffff;
	behavior: url("/css/ie-css3.htc");
}

.sectionSub
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#CCCCCC;
	border-radius:5px;
	color:#5a5a5a;
	display:inline-block;
	font-family:Arial;
	font-weight:700;
	margin-bottom:5px;
	padding:3px;
	width: 101%;
	behavior: url("/css/ie-css3.htc");
}

.sectionHead
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#a6a6a6;
	border-radius:5px;
	color:#FFF;
	display:inline-block;
	font-family:Arial;
	font-weight:700;
	margin-bottom:5px;
	padding:5px;
	width:85%;
	behavior: url("/css/ie-css3.htc");
}

.sectionHeadClick
{
	background-color:#a6a6a6;
	color:#FFF;
	display:inline-block;
	font-family:Arial;
	font-weight:700;
	margin-bottom:5px;
	padding:5px;
	text-align:center;
	width:11%;
}

.sectionHeadClick:hover, .sectionHeadClick:hover a, 
{
	background-color:#c0c0c0;
}

.sectionHeadClick:active, .sectionHeadClick:active a, 
{
	background-color:#e6e6e6;
}

.sectionHeadClick a
{
	display:block;
	width: 99%;
	
	}

.sectionHeadClickWhite
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#fff;
	border-radius:5px;
	color:#FFF;
	display:inline-block;
	font-family:Arial;
	font-weight:700;
	margin-bottom:5px;
	padding:5px;
	text-align:center;
	width:11%;
	behavior: url("/css/ie-css3.htc");
}

.loginbutton
{
	margin-top:10px;
	vertical-align:bottom;
}

.btnLink {
    display: inline-block; 
	color:#FFF;
	text-decoration:none;
	background-color:#a6a6a6;
	padding: 5px; 
	font-size: 1.3em;
}

.btnLinkWhite
{
	color:#e51a38;
	text-decoration:none;
}


#primary
{
	background-color:#d9d9d9;
	padding-top:40px;
	width:100%;
}
.validator  
{
    margin-bottom: 10px !important;
    font-weight: bold;
} 
#primaryBox
{
	-moz-border-radius-topright:20px;
	-webkit-border-top-right-radius:20px;
	background-color:#e51a38;
	border-top-right-radius:20px;
	color:#fff;
	margin:auto;
	padding:15px 10px 60px;
	width:770px;
	behavior: url("/css/ie-css3.htc");
}

#secondary
{
	background-color:transparent;
	width:100%;
}

#secondaryBox
{
	-moz-border-radius-bottomleft:20px;
	-moz-border-radius-bottomright:20px;
	-webkit-border-bottom-left-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	background-color:#fff;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	margin:auto;
	padding:5px 10px 60px;
	width:770px;
	behavior: url("/css/ie-css3.htc");
	
}

#secondaryBox a
{
	color:#e51a38;
	font-size:1.4em;
	font-weight:700;
	text-decoration:none;
}

.centerBox
{
	margin:auto;
	width:770px;
}

.input_whiteB
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	border-radius:5px;
	padding:3px;
	width:300px;
	behavior: url("/css/ie-css3.htc");
}

.captionWhite
{
	color:#fff!important;
}