﻿
body;
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	height: 100%;
	background-color: #009FD3;
	font-size: 9pt;
}


a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

input, select, textarea
{
	cursor: pointer;
	background: #fff;
	margin-left: auto;
	margin-right: auto; /*margin-top:3px;*/
	padding: 2px;
	border-top: 1px solid #a2dbec;
	border-left: 1px solid #a2dbec;
	border-right: 1px solid #a2dbec;
	border-bottom: 1px solid #a2dbec;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#dvLoginControlsContainer input[type=radio]
{
	border: none;
	padding: none;
}

input:-webkit-autofill
{
	color: #2a2a2a !important;
}

#dvMainContainer
{
	height: 100%;
}

#dvLoginContainer
{
	position: absolute;
	top: 50%;
	margin-top: -345px;
	left: 0;
	width: 100%;
	white-space:nowrap;
}

#dvLoginContent
{
	height: 500px;
	width: 100%;
	
	background-image:url(/images/signin/loginBackgound.png);
	background-repeat:repeat-x;
	height:691px;
	width:100%;
	
}

#dvLoginBoxContainer
{
	position: absolute;
	top: 11%;
	width: 100%;
}

#dvLoginBoxContentWrapper
{	
	margin: 0 auto; 
	width:480px;	
	position:relative;	
}

#dvLoginBoxContent
{
	position: absolute;
	width:480px;
	height:320px;
	margin: 0 auto; 	
	background: #fff;
	opacity:0.3;
	filter: alpha(opacity=30);
	border-top: 1px solid #a2dbec;
	border-left: 1px solid #a2dbec;
	border-right: 1px solid #a2dbec;
	border-bottom: 1px solid #a2dbec;
	-moz-border-radius: 20px;
	-moz-border-radius-topleft:0px;
	-webkit-border-radius: 20px;
	-webkit-border-top-left-radius:0px;
	-khtml-border-radius: 20px;
	-khtml-border-radius-topleft: 0px;
	border-radius: 20px;
	border-top-left-radius: 0px;
    -moz-box-shadow: 7px 7px 7px #00506d;
    -webkit-box-shadow: 7px 7px 7px #00506d;
    -khtml-box-shadow: 7px 7px 7px #00506d;
	box-shadow: 7px 7px 7px #00506d;
		
}

#dvLoginControlsContainer
{	
	position:absolute;
	padding:10px;
}

#dvTolLogo
{
	background-image: url(/images/signin/tolLogo.png);
	background-repeat: no-repeat;
	position: relative;
	margin: 0 auto;
	height: 40px;
	width: 480px;
	padding: 5px;
}

#dvLoginTopStrip
{
	position: relative;
	background-color: #009FD3;
	height: 100%;
	top: 0px;
}

#dvLifewareStrapLine
{
	position: absolute;
	background-image: url(/images/signin/lifewareStrapLine.png);
	background-repeat: no-repeat;
	background-color: #009FD3;	
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 46px;
}

#dvLoginFooter
{	
	margin-bottom: 15px;
}

.lblLogInText
{
	font: bold 15px/20px Helvetica,sans-serif;
	font-weight: bold;
	padding-top: 10px;
	color: #00557F;
}

.lblLogInTextSmall
{
	font: bold 11px Helvetica,sans-serif;
	font-weight: bold;
}

.rblLogin
{
	margin-top: 10px;
	font: bold 15px/20px Helvetica,sans-serif;
	font-weight: bold;
}

.twxLogin
{
	/* watermark */
	color: Silver;
}

.txtLogin
{
	margin-top: 5px;
	width: 250px;
	height: 1.35em;
	border-width: 2px;
	-moz-border-bottom-colors: #F9F9F9 #CECECE;
	-moz-border-left-colors: #F9F9F9 #CECECE;
	-moz-border-right-colors: #F9F9F9 #CECECE;
	-moz-border-top-colors: #F9F9F9 #CECECE;
	-webkit-border-bottom-colors: #F9F9F9 #CECECE;
	-webkit-border-left-colors: #F9F9F9 #CECECE;
	-webkit-border-right-colors: #F9F9F9 #CECECE;
	-webkit-border-top-colors: #F9F9F9 #CECECE;
	font-family: helvetica;
	font-size: 13px;
	font-weight: 400;
	padding: 2px;
}

#dvLoginRow
{
	width: 100%;
}

#dvLoginRow *
{
	vertical-align: middle;
}

.linkBack
{
	color: #00557F;
	font: bold 11px Helvetica,sans-serif;
}

.imbLogin
{
	margin-left: 10px;
	margin-top: 10px;
}

/* Password assistance styles */
.error_message_label
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: red;
	border: solid 1px red;
	display: block;
	font-size: 0.9em;
	padding: 7px;
	background-color: #FFBABA;
	padding: 10px;
	border-top: 1px solid #FFBABA;
	border-left: 1px solid #FFBABA;
	border-right: 1px solid #FFBABA;
	border-bottom: 1px solid #FFBABA;
	-moz-border-radius: 20px;
	-moz-border-radius-topleft:0px;	
	-webkit-border-radius: 20px;
	-webkit-border-top-left-radius:0px;
	-khtml-border-radius: 20px;
	-khtml-border-radius-topleft: 0px;
	border-radius: 20px;
	border-top-left-radius: 0px;
	margin-bottom:10px;
	margin-top:10px;
}
.info_message_label
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
	border: solid 1px white;
	display: block;
	font-size: 10pt;
	padding: 7px;
	background-color: #009FD3;
	padding: 10px;
	border-top: 1px solid #a2dbec;
	border-left: 1px solid #a2dbec;
	border-right: 1px solid #a2dbec;
	border-bottom: 1px solid #a2dbec;
	-moz-border-radius: 20px;
	-moz-border-radius-topleft:0px;	
	-webkit-border-radius: 20px;
	-webkit-border-top-left-radius:0px;
	-khtml-border-radius: 20px;
	-khtml-border-radius-topleft: 0px;
	border-radius: 20px;
	border-top-left-radius: 0px;
}

/* misc */



/* ajax */
.customCalloutStyle div, .customCalloutStyle td
{
	border: solid 1px Black;
	background-color: #BEE6F4;
}

.customCalloutStyle .ajax__validatorcallout_popup_table
{
	display: none;
	border: none;
	background-color: transparent;
	padding: 0px;
}

.customCalloutStyle .ajax__validatorcallout_popup_table_row
{
	vertical-align: top;
	height: 100%;
	background-color: transparent;
	padding: 0px;
}

.customCalloutStyle .ajax__validatorcallout_callout_cell
{
	width: 20px;
	height: 100%;
	text-align: right;
	vertical-align: top;
	border: none;
	background-color: transparent;
	padding: 0px;
}

.customCalloutStyle .ajax__validatorcallout_callout_table
{
	height: 100%;
	border: none;
	background-color: transparent;
	padding: 0px;
}

.customCalloutStyle .ajax__validatorcallout_callout_table_row
{
	background-color: transparent;
	padding: 0px;
}

.customCalloutStyle .ajax__validatorcallout_callout_arrow_cell
{
	padding: 8px 0px 0px 0px;
	text-align: right;
	vertical-align: top;
	font-size: 1px;
	border: none;
	background-color: transparent;
}

.customCalloutStyle .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv
{
	font-size: 1px;
	position: relative;
	left: 1px;
	border-bottom: none;
	border-right: none;
	border-left: none;
	width: 15px;
	background-color: transparent;
	padding: 0px;
}

.customCalloutStyle .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv div
{
	height: 1px;
	overflow: hidden;
	border-top: none;
	border-bottom: none;
	border-right: none;
	padding: 0px;
	margin-left: auto;
}

.customCalloutStyle .ajax__validatorcallout_error_message_cell
{
	font-family: Verdana;
	font-size: 10px;
	padding: 5px;
	border-right: none;
	border-left: none;
	width: 100%;
}

.customCalloutStyle .ajax__validatorcallout_icon_cell
{
	width: 20px;
	padding: 5px;
	border-right: none;
}

.customCalloutStyle .ajax__validatorcallout_close_button_cell
{
	vertical-align: top;
	padding: 0px;
	text-align: right;
	border-left: none;
}

.customCalloutStyle .ajax__validatorcallout_close_button_cell .ajax__validatorcallout_innerdiv
{
	border: none;
	text-align: center;
	width: 10px;
	padding: 2px;
	cursor: pointer;
}
