﻿<%@ Page Title="" ValidateRequest="false"   Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/ASMasterPage.Master" CodeBehind="ViewLetter.aspx.vb" Inherits="Appliances.ViewLetter1" %>
<%--<%@ Register TagPrefix="viewletter" TagName="ViewLetter" Src="~/Controls/Resources/ViewLetter.ascx" %>--%>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <%--<viewletter:ViewLetter ID="ViewLetterID" runat="server" />--%>
</asp:Content>
