#tolMobileLoadingIndicator 
{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    
    text-align: center;
    width: 200px;
    height: 230px;
    background-image:url('images/logo200.png');
    background-repeat:no-repeat;
}

#loadingLogo
{
   
    width: 200px;
    height: 200px;
}

#squaresWaveG
{
    margin-left:55px;
    position:relative;
    width:83px;
    height:10px
}

.squaresWaveG
{    
position:absolute;
top:0;
background-color:#ff0000;
width:10px;
height:10px;
-webkit-animation-name:bounce_squaresWaveG;
-webkit-animation-duration:1.2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-o-animation-name:bounce_squaresWaveG;
-o-animation-duration:1.2s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-ms-animation-name:bounce_squaresWaveG;
-ms-animation-duration:1.2s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
animation-name:bounce_squaresWaveG;
animation-duration:1.2s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#squaresWaveG_1{
left:0;
-webkit-animation-delay:0.48s;
-o-animation-delay:0.48s;
-ms-animation-delay:0.48s;
animation-delay:0.48s;
}

#squaresWaveG_2{
left:11px;
-webkit-animation-delay:0.6s;
-o-animation-delay:0.6s;
-ms-animation-delay:0.6s;
animation-delay:0.6s;
}

#squaresWaveG_3{
left:22px;
-webkit-animation-delay:0.72s;
-o-animation-delay:0.72s;
-ms-animation-delay:0.72s;
animation-delay:0.72s;
}

#squaresWaveG_4{
left:33px;
-webkit-animation-delay:0.84s;
-o-animation-delay:0.84s;
-ms-animation-delay:0.84s;
animation-delay:0.84s;
}

#squaresWaveG_5{
left:44px;
-webkit-animation-delay:0.96s;
-o-animation-delay:0.96s;
-ms-animation-delay:0.96s;
animation-delay:0.96s;
}

#squaresWaveG_6{
left:55px;
-webkit-animation-delay:1.08s;
-o-animation-delay:1.08s;
-ms-animation-delay:1.08s;
animation-delay:1.08s;
}

#squaresWaveG_7{
left:66px;
-webkit-animation-delay:1.2s;
-o-animation-delay:1.2s;
-ms-animation-delay:1.2s;
animation-delay:1.2s;
}

#squaresWaveG_8{
left:77px;
-webkit-animation-delay:1.32s;
-o-animation-delay:1.32s;
-ms-animation-delay:1.32s;
animation-delay:1.32s;
}

@-webkit-keyframes bounce_squaresWaveG{
0%{
background-color:#ff0000;
}

100%{
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_squaresWaveG{
0%{
background-color:#ff0000;
}

100%{
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_squaresWaveG{
0%{
background-color:#ff0000;
}

100%{
background-color:#FFFFFF;
}

}

@keyframes bounce_squaresWaveG{
0%{
background-color:#ff0000;
}

100%{
background-color:#FFFFFF;
}

}
