﻿.welcomeTitleContainer
{

}
.welcomeTitle
{
    font-size:1.1em;
    text-align:center;
    margin-bottom:15px;
}

.WelcomeTol
{
	font-size:1.1em;

}
.WelcomeTol ul
{
margin-left:40px;
}
.WelcomeTol li
{
	list-style: disc 
}
.textcentered
{
    text-align:center;
}
.textleft
{
    text-align:left;
}

strong 
{
    font-weight:bold;
}
.wideLineSpacing
{
	line-height:1.5;
}
.linesAboveBelow 
{
    border-top:2px solid black;
    border-bottom:2px solid black;    
}
.lineBelow 
{
    border-bottom:2px solid black;        
}
.newsDate
{
    font-size:.9em;
}
.newsDetail
{
    font-size:.8m;
}

.smallFont
{
    font-size:0.8em;
}

.housingBenefit
{
    font-size:0.9em;
    background-color:#BFBFBF;    
}
.inboxItemText
{
    font-size:0.8em;
}

/* addition of dataview styles */
.x-dataview .x-data-item.x-item-selected
{
	/*background-image: -webkit-linear-gradient(top, #0398ff, #007ad0 3%, #005c9d);*/
	background-image: -webkit-linear-gradient(top, #f47a86,#f04b5b 3%,#ec1b31);
	border: 1px solid #ad0e1e;
    border-top-color: #c41023;
}
