<%@ Page Language="VB" AutoEventWireup="false" CodeFile="DocumentManager.aspx.vb"
    Inherits="News_DocumentManager_serverside_DocumentManager" Trace="false" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Document Manager</title>
    <link rel="stylesheet" href="../../../net/StyleSheet.css" type="text/css" />

    <script type="text/javascript" language="javascript">
              
        var CurrentSelected = ""
        function GO(iPage){
	        CurrentlySelected = tree.getSelected().getParent()
	        parent.theRightSide.location.href = iPage
	        }
        		
        function ReloadMe(){
	        try {
		        if (CurrentlySelected != "")
			        CurrentlySelected.reload();
		        }
	        catch(e){
		        location.href = "DocumentManager.aspx"	
		        }
	    }
	    
        function SearchDocs()
        {       
	        parent.theRightSide.location.href = "SearchDocs.aspx"
	        return true
	    }
    </script>

    <style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	scrollbar-3dlight-color: #CCCCCC; 
	scrollbar-arrow-color: #839FAD; 
	scrollbar-base-color: #F7F8F8;
}
-->
</style>
</head>
<body bgcolor="#ffffff">
    <form id="frmMain" runat="server">
        <div id="theDocBarContainer">
            <div id="btnDocSearch">
                <asp:Button runat="server" ID="btnSearch" OnClientClick="SearchDocs()" CssClass="RSLButton"
                    Text="Search..." />
            </div>
            <div>
                <asp:TreeView ID="tvMain" runat="server" Height="100%" Width="100%" ShowLines="True"
                    ExpandDepth="0" OnTreeNodePopulate="PopulateNode" AutoGenerateDataBindings="False"
                    ImageSet="Inbox" Target="theRightSide">
                    <Nodes>
                        <asp:TreeNode ImageUrl="images/base.gif" PopulateOnDemand="True" SelectAction="Expand"
                            Text="RSL Document Manager" Value="-1"></asp:TreeNode>
                    </Nodes>
                    <ParentNodeStyle Font-Bold="False" />
                    <HoverNodeStyle Font-Underline="True" />
                    <SelectedNodeStyle Font-Underline="True" HorizontalPadding="0px" VerticalPadding="0px" />
                    <NodeStyle Font-Names="Verdana" Font-Size="8pt" ForeColor="Black" HorizontalPadding="5px"
                        NodeSpacing="0px" VerticalPadding="0px" />
                </asp:TreeView>
            </div>
        </div>
    </form>
</body>
</html>
