<%@ Page Language="VB" AutoEventWireup="false" CodeFile="FolderPopup.aspx.vb" Inherits="News_DocumentManager_serverside_DocumentManager"
    Trace="false" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Document Manager</title>
    <link rel="stylesheet" href="../../../css/RSL.css" type="text/css" />
    <script type="text/javascript" language="javascript">
              
        var CurrentSelected = ""
        function GO(iPage){
	        CurrentlySelected = tree.getSelected().getParent()
	        parent.theRightSide.location.href = iPage
	        }
        		
        function ReloadMe(){
	        try {
		        if (CurrentlySelected != "")
			        CurrentlySelected.reload();
		        }
	        catch(e){
		        location.href = "DocumentManager.aspx"	
		        }		        		       
	    }
	    
	    function MoveFolder(newFolder,newFolderId,currentDocId,currentFolderId)
	    {	        	       	       	        	        	     	                                
	        opener.window.location = "Folder.asp?" + "DOCID=" + currentDocId + "&FLDID=" + currentFolderId 
	                                + "&MOVETO=" + newFolder
	                                + "&MOVEFLDID=" + newFolderId
	                                + "&ACTION=MOVETOFOLDER";	                               
	        self.close();	                	       	                 	        
	        return true;
	    }
    </script>

    <style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	scrollbar-3dlight-color: #CCCCCC; 
	scrollbar-arrow-color: #839FAD; 
	scrollbar-base-color: #F7F8F8;
}
-->
</style>
</head>
<body bgcolor="#ffffff">
    <form id="frmMain" runat="server">
        <div>
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td width="1" style="height: 1px" />
                        <td bgcolor="#669900" width="220" style="height: 1px" />
                        <td width="1" style="height: 1px" />
                    </tr>
                    <tr>
                        <td bgcolor="#669900" width="1" />
                        <td height="23" bgcolor="#ffffff" width="448">
                            <table cellspacing="0" cellpadding="0" border="0" width="285">
                                <tbody>
                                    <tr>
                                        <td width="5">
                                        </td>                                        
                                        <td>
                                            <span class="style1" style="font-size: 10px; font-family: Verdana,Arial,Helvetica;font-weight:bold;">Move document to:</span>
                                            <asp:Label ID="lblFolderDestination" runat="server" Text=""></asp:Label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td bgcolor="#669900" width="1" />
                    </tr>
                    <tr>
                        <td height="1" width="1" />
                        <td height="1" bgcolor="#669900" width="220" />
                        <td height="1" width="1" /> 
                    </tr>
                </tbody>
            </table>
            <asp:TreeView ID="tvMain" runat="server" ShowLines="True" ExpandDepth="0" OnTreeNodePopulate="PopulateNode"
                AutoGenerateDataBindings="False" ImageSet="Inbox" Target="theRightSide" OnSelectedNodeChanged="Select_Change">
                <Nodes>
                    <asp:TreeNode ImageUrl="images/base.gif" PopulateOnDemand="True" SelectAction="Expand"
                        Text="RSL Document Manager" Value="-1"></asp:TreeNode>
                </Nodes>
                <ParentNodeStyle Font-Bold="False" />
                <HoverNodeStyle Font-Underline="True" />
                <SelectedNodeStyle Font-Underline="True" HorizontalPadding="0px" VerticalPadding="0px" BackColor="#FFFF80" />
                <NodeStyle Font-Names="Verdana" Font-Size="8pt" ForeColor="Black" HorizontalPadding="5px"
                    NodeSpacing="0px" VerticalPadding="0px" />
            </asp:TreeView>
            <br />
            &nbsp;<asp:Button ID="btnMove" runat="server" CssClass="RSLButton" Text="Ok" Width="50px"  />&nbsp;
            <asp:Button ID="btnClose" runat="server" CssClass="RSLButton" Text="Cancel" OnClientClick="window.close()" Width="50px" /></div>
    </form>
</body>
</html>
