﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage/ASMasterPage.Master" CodeBehind="Reports.aspx.vb" Inherits="Appliances.Reports" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>
<%@ Register TagPrefix="apparg" TagName="AppointmentArranged" Src="~/Controls/Scheduling/AppointmentArranged.ascx" %>
<%@ Register TagPrefix="apptarg" TagName="AppointmentToBeArranged" Src="~/Controls/Scheduling/AppointmentToBeArranged.ascx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <p>Reports - Not yet Available</p>
</asp:Content>
