﻿@model BHGHRModuleWeb.ViewModels.ContactDetailViewModel
@{
    ViewBag.Title = "Employee Contact Detail";
    bool isEdit = Model.contactId > 0;
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    if (!isEdit)
    {
        options.OnFailure = "OnFailureContactDetail";
        options.OnBegin = "ValidateContactDetail";
        options.OnSuccess = "OnSuccessContactDetail";
    }
    else
    {
        options.OnFailure = "OnEditContactFailure";
        options.OnBegin = "OnEditContactBegin";
        options.OnSuccess = "OnEditContactSuccess";
    }
}

@Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm("SaveContact", "PersonalDetail", options, new { id = "frmContactDetail" }))
{
    <div class="modal-dialog">
        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contact Detail</h4>
            </div>
            <div class="modal-body">
                <div class="row padding-bottom-5">
                    <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                        <strong id="popupMsgResponse"></strong>
                    </div>
                    <div class="col-md-12">
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.address1, new { @class = "control-label" })<span class='required'>*</span>
                            </div>
                            <div class="col-md-9">
                                @Html.HiddenFor(m => m.contactId)
                                @Html.HiddenFor(m => m.employeeId)
                                @Html.TextBoxFor(m => m.address1, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.address2, new { @class = "control-label" })<span class='required'>*</span>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.address2, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.address3, new { @class = "control-label" })<span class='required'>*</span>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.address3, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.city)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.city, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.county)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.county, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.postalCode)<span class='required'>*</span>
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.postalCode, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.homePhone)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.homePhone, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.homeEmail)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.homeEmail, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.mobile)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.mobile, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.mobilePersonal)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.mobilePersonal, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.workMobile)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.workMobile, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.workDD)
                            </div>
                            <div class="col-md-9 ">
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.workDD, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.LabelFor(m => m.extension)
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.extension, new { @class = "form-control" })
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.workEmail)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.workEmail, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.nextOfKin)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.nextOfKin, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.emergencyContact)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.emergencyContact, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.emergencyTel)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.emergencyTel, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.emergencyRelationShip)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextBoxFor(m => m.emergencyRelationShip, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.emergencyInfo)
                            </div>
                            <div class="col-md-9 ">
                                @Html.TextAreaFor(m => m.emergencyInfo, 5, 3, new { @class = "form-control personalDetail" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @if (isEdit)
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="submitButton" class="btn btn-primary">Update</button>
                }
                else
                {
                    <button type="submit" id="submitButton" class="btn btn-primary">Save</button>
                }
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    function OnFailureContactDetail(response) {
        var obj = jQuery.parseJSON(response);
        popupMessage('popupMessage', 'popupMsgResponse', obj.message, 'failure')
    }

    function ValidateContactDetail() {

    }

    function OnSuccessContactDetail(response) {
        var obj = jQuery.parseJSON(response);
        popupMessage('popupMessage', 'popupMsgResponse', obj.message, 'success')

        var url = '@Url.Action("ReferenceDocuments", "PersonalDetail", new { id= Model.employeeId, requestType = "create"})';
        $('#contactDetail').delay(5000).modal('hide');
        $("#reference").load(url);
        $('#reference').modal('show');
        //jumpToNextTab();
    }

    function OnEditContactFailure(response) {
        OnEditContactSuccess(response)
        var obj = jQuery.parseJSON(response);
        popupMessage('popupMessage', 'popupMsgResponse', obj.message, 'failure')
    }

    function OnEditContactBegin(response) {

    }

    function OnEditContactSuccess(response) {
        var obj = jQuery.parseJSON(response);
        popupMessage('popupMessage', 'popupMsgResponse', obj.message, 'success');
    }

</script>

