﻿@model BHGHRModuleWeb.ViewModels.GiftAndHospitalityViewModel

@{
    Layout = null;
    ViewBag.Title = "Employee Gift & Hopitality";

    //var recivedGrid = new WebGrid(canPage: false, canSort: false);
    //recivedGrid.Bind(source: Model.lstReceived, autoSortAndPage: false);

    //var givenGrid = new WebGrid(canPage: false, canSort: false);
    //givenGrid.Bind(source: Model.lstGiven, autoSortAndPage: false);

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.AllowCache = false;
    options.InsertionMode = InsertionMode.Replace;
    //options.UpdateTargetId = "divContainer";
    //options.OnFailure = "OnFailure";
    //options.OnBegin = "OnBegin";
    options.OnSuccess = "OnSuccess";

    var classNameForApprove = "";
    if (Model.received != null && Model.received.giftId != 0)
    {
        classNameForApprove = "DatePicker";
    }

    var classNameGiven = "DatePicker";
    var classNameForApproveGiven = "";
    if (Model.given != null && Model.given.giftId != 0)
    {
        classNameGiven = "";
        classNameForApproveGiven = "DatePicker";
    }

    var canUpdate = true;
    var isMyJob = false;
    if (Session["Module"] != null && Session["Module"].ToString() == "MyJob")
    {
        isMyJob = true;
    }

    var isTeam = Model.isTeam;

    if (isMyJob == true && isTeam == false)
    {
        canUpdate = false;
    }

}

@Scripts.Render("~/bundles/jqueryval")

<div class="row padding-bottom"></div>
<div class="row padding-bottom">
    <div class="col-md-12">
        <div class="portlet">
            <div class="row padding-bottom">
                <div class="col-md-12">
                    <div class="padding-bottom">
                        <strong>
                            Gifts & Hospitality
                        </strong>
                    </div>
                    <div class="row padding-bottom">
                        <div class="col-md-6 padding-bottom">
                            <div style="padding: 10px 0px;" class="background-white">
                                <div class="col-md-12">
                                    @using (Ajax.BeginForm("SaveGiftReceived", "PersonalDetail", new { },
                                        new AjaxOptions() { AllowCache = false, HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "OnReceivedSuccess" },
                                        new { id = "frmReceived" }))
                                    {
                                        <div class="row padding-bottom">
                                            <div class="col-md-12">
                                                <strong>Received:</strong>
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-12">
                                                <lable>Details of Gifts/Hospitality Received:</lable><span class='required'>*</span>
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.received.details, new { @class = "form-control tobeDisabled" })
                                                @Html.HiddenFor(m => m.received.giftId)
                                                @Html.HiddenFor(m => m.received.employeeId)
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.received.dateRevieved)<span class='required'>*</span>
                                            </div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(m => m.received.dateRevieved, Model.ModelDateFormate, new { @class = classNameForApprove + "DatePicker form-control tobeDisabled" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.received.offeredBy)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.received.offeredBy, new { @class = "form-control tobeDisabled" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.received.approximateValue)<span class='required'>*</span>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.received.approximateValue, new { @class = "form-control tobeDisabled" })
                                            </div>
                                        </div>
                                        if (Model.received != null && Model.received.status != "")
                                        {
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Delined or accepted?
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.received.status, new { @class = "form-control tobeDisabled" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.received.dateOfDeclaration)
                                            </div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(m => m.received.dateOfDeclaration, Model.ModelDateFormate, new { @class = "form-control tobeDisabled" })
                                            </div>
                                        </div>
                                        }
                                        if (Model.received != null && Model.received.status != "Pending Approval")
                                        {
                                            
                                            <div class="row padding-bottom">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.received.notApprovedDate)
                                                </div>
                                                <div class="col-md-5">
                                                    @Html.TextBoxFor(m => m.received.notApprovedDate, Model.ModelDateFormate, new { @class = "form-control tobeDisabled" })
                                                </div>
                                            </div>
                                        }
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.received.notes)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextAreaFor(m => m.received.notes, 5, 3, new { @class = "form-control detailsOfRole tobeDisabled" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                <label>I accepted this: </label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        Yes @Html.RadioButtonFor(m => m.received.isAccepted, "1", new { @class= "tobeDisabled" })
                                                        No @Html.RadioButtonFor(m => m.received.isAccepted, "0", new { @class = "tobeDisabled" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        if (Model.received != null && Model.received.giftId != 0 && Model.received.status != "Pending Approval")
                                        {
                                            <div class="row padding-bottom">

                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.received.reason)
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextAreaFor(m => m.received.reason, 5, 3, new { @class = "form-control detailsOfRole" })
                                                </div>
                                            </div>
                                        }
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                @if (Model.received != null && Model.received.status != "Pending Approval")
                                                {

                                                }
                                                else if (Model.received != null && Model.received.giftId != 0)
                                                {
                                                    if (canUpdate)
                                                    {
                                                    <input style="margin-left:10px;" class="btn btn-danger btn-xs pull-right btnNext" data-toggle="modal" data-target="#rejectConfirmation" type="button" name="nextBtn" value='Reject' />
                                                    <input class="btn btn-success btn-xs pull-right btnNext" id="btnApproveReceived" type="button" name="nextBtn" value='Approve' />
                                                    }
                                                }
                                                else
                                                {
                                                    <input class="btn btn-gray btn-xs pull-right btnNext" id="btnSaveReceived" style="" type="submit" name="nextBtn" value='Add' />
                                                }
                                            </div>
                                        </div>
                                    }
                                    <div class="row padding-bottom"></div>
                                    <div id="receivedList">
                                        @Html.Partial("~/Views/Employees/PersonalDetail/_GiftReceivedList.cshtml", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-bottom">
                            <div style="padding: 10px 0px;" class="background-white">
                                <div class="col-md-12">
                                    @using (Ajax.BeginForm("SaveGiftGiven", "PersonalDetail", new { },
                                        new AjaxOptions() { AllowCache = false, HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "OnGivenSuccess" },
                                        new { id = "frmGiven" }))
                                    {
                                        <div class="row padding-bottom">
                                            <div class="col-md-12">
                                                <strong>Given:</strong>
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-12">
                                                Details of Gifts/Hospitality Given/Offered:<span class='required'>*</span>
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.given.details, new { @class = "form-control tobeDisabledGiven" })
                                                @Html.HiddenFor(m => m.given.employeeId, new { @value = Model.employeeId })
                                                @Html.HiddenFor(m => m.given.giftId)
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.given.dateGiven)<span class='required'>*</span>
                                            </div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(m => m.given.dateGiven, Model.ModelDateFormate, new { @class = classNameForApproveGiven + "DatePicker form-control tobeDisabledGiven" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.given.offeredTo)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.given.offeredTo, new { @class = "form-control tobeDisabledGiven" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.given.approximateValue)<span class='required'>*</span>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.given.approximateValue, new { @class = "form-control tobeDisabledGiven" })
                                            </div>
                                        </div>
                                        if (Model.given != null && Model.given.status != "")
                                        {
                                            <div class="row padding-bottom">
                                                <div class="col-md-4">
                                                    Delined or accepted?
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.given.status, new { @class = "form-control tobeDisabledGiven" })
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.given.dateOfDeclaration)
                                                </div>
                                                <div class="col-md-5">
                                                    @Html.TextBoxFor(m => m.given.dateOfDeclaration, Model.ModelDateFormate, new { @class = "form-control tobeDisabledGiven" })
                                                </div>
                                            </div>
                                        }
                                        if (Model.given != null && Model.given.status != "Pending Approval")
                                        {
                                            <div class="row padding-bottom">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.given.notApprovedDate)
                                                </div>
                                                <div class="col-md-5">
                                                    @Html.TextBoxFor(m => m.given.notApprovedDate, Model.ModelDateFormate, new { @class = "form-control tobeDisabledGiven" })
                                                </div>
                                            </div>
                                        }

                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.given.notes)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextAreaFor(m => m.given.notes, 5, 3, new { @class = "form-control detailsOfRole tobeDisabledGiven" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                <label>They accepted this: </label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        Yes @Html.RadioButtonFor(m => m.given.isAccepted, "1", new { @class = "tobeDisabledGiven" })
                                                        No @Html.RadioButtonFor(m => m.given.isAccepted, "0", new { @class = "tobeDisabledGiven" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        if (Model.given != null && Model.given.giftId != 0 && Model.given.status != "Pending Approval")
                                        {
                                            <div class="row padding-bottom">

                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.given.reason)
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextAreaFor(m => m.given.reason, 5, 3, new { @class = "form-control detailsOfRole" })
                                                </div>
                                            </div>
                                        }

                                        <div class="row">
                                            <div class="col-md-12">
                                                @if (Model.given != null && Model.given.status != "Pending Approval")
                                                {

                                                }
                                                else if (Model.given != null && Model.given.giftId != 0)
                                                {
                                                    if (canUpdate)
                                                    {
                                                    <input style="margin-left:10px;" class="btn btn-danger btn-xs pull-right btnNext" data-toggle="modal" data-target="#rejectGivenConfirmation" type="button" name="nextBtn" value='Reject' />
                                                    <input class="btn btn-success btn-xs pull-right btnNext" id="btnApproveGiven" type="button" name="nextBtn" value='Approve' />
                                                    }
                                                }
                                                else
                                                {
                                                    <input class="btn btn-gray btn-xs pull-right btnNext" id="btnSaveGiven" type="submit" name="nextBtn" value='Add' />
                                                }
                                            </div>
                                        </div>
                                    }
                                    <div class="row padding-bottom"></div>
                                    <div id="givenList">
                                        @Html.Partial("~/Views/Employees/PersonalDetail/_GiftGivenList.cshtml", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @using (Ajax.BeginForm("SaveGiftHospitality", "PersonalDetail", new { id = ViewContext.RouteData.Values["id"] }, options, new { id = "frmGiftHospitality" }))
                    {
                        @*<input class="btn btn-info btn-xs pull-right btnNext" id="btnSave" type="submit" name="nextBtn" value='Save' />*@
                        <button style="margin-right:10px;" class="btn btn-gray btn-xs pull-right btnNext btnBack" type="button">< Back</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@* pop model start *@

<div class="modal fade" id="deleteConfirmation" role="dialog">
    <div class="modal-dialog" style="width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Ajax.BeginForm("UpdateEmployeeImage", "PersonalDetail", options, new { id = "frmUpdateEmployeeImage", enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <h4 class="modal-title">Alert!</h4>
                </div>
                <div class="modal-body">
                    <div class="row padding-bottom-5">
                        <div class="col-md-12 alert alert-danger">
                            <strong>Changes will discarded. Do you want to move back?</strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button id="btnBack" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="rejectConfirmation" role="dialog">
    <div class="modal-dialog" style="width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Ajax.BeginForm("UpdateGiftStatus", "PersonalDetail", options, new { id = "frmUpdateEmployeeImage" }))
            {
                <div class="modal-header">
                    <h4 class="modal-title">Alert!</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                        <strong id="popupMsgResponse"></strong>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.received.reason)
                        </div>
                        <div class="col-md-9">
                            @Html.TextAreaFor(m => m.received.reason, 5, 3, new { @class = "form-control detailsOfRole" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btnConfirmReject" type="button" class="btn btn-primary">Confrim</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="rejectGivenConfirmation" role="dialog">
    <div class="modal-dialog" style="width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Ajax.BeginForm("UpdateGiftStatus", "PersonalDetail", options, new { id = "frmUpdateEmployeeGift" }))
            {
                <div class="modal-header">
                    <h4 class="modal-title">Alert!</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 alert alert-success" id="popupGivenMessage" style="display:none">
                        <strong id="popupGivenMsgResponse"></strong>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.given.reason)
                        </div>
                        <div class="col-md-9">
                            @Html.TextAreaFor(m => m.given.reason, 5, 3, new { @class = "form-control detailsOfRole" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btnConfirmGivenReject" type="button" class="btn btn-primary">Confrim</button>
                </div>
            }
        </div>
    </div>
</div>


@* pop model end *@


<script type="text/javascript">

    (function () {
        $('.notbeDisabled').attr('disabled', true);
        if ($('#received_giftId').val() != "") {
            $('.tobeDisabled').attr('disabled', true);
            $('.notbeDisabled').attr('disabled', false);
        }

        if ($('#given_giftId').val() != "") {
            $('.tobeDisabledGiven').attr('disabled', true);
            $('.notbeDisabledGiven').attr('disabled', false);
        }

        $('#received_employeeId').val(@Model.employeeId);
        $('#given_employeeId').val(@Model.employeeId);
        loadDatePicker();

        $('.btnBack').on('click', function () {
            var url = '@Url.Action("GiftMaster", "PersonalDetail", new { id= Model.employeeId })';
            $('#divContainer').load(url);
        });


        $('.btnBack').on('click', function () {
            var url = '@Url.Action("GiftMaster", "PersonalDetail", new { id= Model.employeeId })';
            $('#divContainer').load(url);
        });

    })();

    function reloadGiftPage() {
        // reload page
        var url = '@Url.Action("GiftHospitality", "PersonalDetail", new { id= Model.employeeId })';
        $('#divContainer').load(url);
    }

    function OnSuccess(resp) {
        showSuccessMsg("Gifts saved successfully. And document was generated. The document can find in document tab.");
        reloadCurrentTab().delay(5000).fadeOut();
    }

    function OnReceivedSuccess(resp) {
        console.log(resp);
        showSuccessMsg(resp);
        //$('#receivedList').html(resp);
        resetControls('received');
        reloadGiftPage();
    }
    function OnGivenSuccess(resp) {
        console.log(resp);
        showSuccessMsg(resp);
        //$('#givenList').html(resp);
        resetControls('given');
        reloadGiftPage();
    }

    function resetControls(request) {
        if (request == 'received') {
            $("#frmReceived").find('input:text, select, textarea').val('');
        }

        if (request == 'given') {
            $("#frmGiven").find('input:text, select, textarea').val('');
        }
    }

    function showSuccessMsg(response) {
        $('#message').removeClass('alert-danger');
        $('#message').addClass('alert-success');
        $('#msgResponse').text(response)
        $("#message").show().delay(7000).fadeOut();
    }

    $('#btnRejectReceived').on('click', function () {
        $('#contactDetail').modal('show');
    });

    $('#btnConfirmReject').on('click', function () {
        if ($('#received_reason').val() == "") {
            popupMessage('popupMessage', 'popupMsgResponse', "Reason is required", 'failure');
            return;
        }

        var status = "Rejected";
        //if ($('#received_dateOfDeclaration').val() != "") {
        //    status = "Declared";
        //}

        var UserModel =
            {
                "giftId": $('#received_giftId').val(),
                "notApprovedDate": $('#received_notApprovedDate').val(),
                "employeeId": $('#employeeId').val(),
                "dateOfDeclaration": $('#received_dateOfDeclaration').val(),
                "reason": $('#received_reason').val(),
                "status": status
            };

        console.log(JSON.stringify(UserModel));

        $.ajax({
            url: '@Url.Action("UpdateGiftStatus", "PersonalDetail")',
            data: JSON.stringify(UserModel),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                //TODO:
                // reload list
                console.log(response);
                $('#rejectConfirmation').modal('hide');
                popupMessage('message', 'msgResponse', response, 'success');

                reloadGiftPage()
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('message', 'msgResponse', "Unable to update", 'failure');
                console.log(jqXHR);
            }
        });
    });

    $('#btnApproveReceived').on('click', function () {
        var status = "Approved";
        //if ($('#received_dateOfDeclaration').val() != "") {
        //    status = "Declared";
        //}

        var UserModel =
            {
                "giftId": $('#received_giftId').val(),
                "notApprovedDate": $('#received_notApprovedDate').val(),
                "employeeId": $('#employeeId').val(),
                "dateOfDeclaration": $('#received_dateOfDeclaration').val(),
                "reason": "",
                "status": status
            };

        console.log(JSON.stringify(UserModel));

        $.ajax({
            url: '@Url.Action("UpdateGiftStatus", "PersonalDetail")',
            data: JSON.stringify(UserModel),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                //TODO:
                // reload list
                console.log(response);
                popupMessage('message', 'msgResponse', response, 'success');
                reloadGiftPage()
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('message', 'msgResponse', "Unable to update", 'failure');
                console.log(jqXHR);
            }
        });
    });

    $('#btnConfirmGivenReject').on('click', function () {
        if ($('#given_reason').val() == "") {
            popupMessage('popupMessage', 'popupMsgResponse', "Reason is required", 'failure');
            return;
        }

        var status = "Rejected";
        //if ($('#given_dateOfDeclaration').val() != "") {
        //    status = "Declared";
        //}

        var UserModel =
            {
                "giftId": $('#given_giftId').val(),
                "notApprovedDate": $('#given_notApprovedDate').val(),
                "employeeId": $('#employeeId').val(),
                "dateOfDeclaration": $('#given_dateOfDeclaration').val(),
                "reason": $('#given_reason').val(),
                "status": status
            };

        console.log(JSON.stringify(UserModel));

        $.ajax({
            url: '@Url.Action("UpdateGiftStatus", "PersonalDetail")',
            data: JSON.stringify(UserModel),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                //TODO:
                // reload list
                console.log(response);
                $('#rejectGivenConfirmation').modal('hide');
                popupMessage('message', 'msgResponse', response, 'success');

                reloadGiftPage()
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('popupGivenMessage', 'popupGivenMsgResponse', "Unable to update", 'failure');
                console.log(jqXHR);
            }
        });
    });

    $('#btnApproveGiven').on('click', function () {
        var status = "Approved";
        //if ($('#given_dateOfDeclaration').val() != "") {
        //    status = "Declared";
        //}

        var UserModel =
            {
                "giftId": $('#given_giftId').val(),
                "notApprovedDate": $('#given_notApprovedDate').val(),
                "employeeId": $('#employeeId').val(),
                "dateOfDeclaration": $('#given_dateOfDeclaration').val(),
                "reason": "",
                "status": status
            };

        console.log(JSON.stringify(UserModel));

        $.ajax({
            url: '@Url.Action("UpdateGiftStatus", "PersonalDetail")',
            data: JSON.stringify(UserModel),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                //TODO:
                // reload list
                console.log(response);
                popupMessage('message', 'msgResponse', response, 'success');
                reloadGiftPage()
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('message', 'msgResponse', "Unable to update", 'failure');
                console.log(jqXHR);
            }
        });
    });

    $('#received_approximateValue').on('blur', function () {
        if ($(this).val() != "" && $(this).val() != null) {
            $(this).val(parseFloat($(this).val()).toFixed(2));
        }
    })
</script>


