﻿@model BHGHRModuleWeb.ViewModels.GiftAndHospitalityViewModel 
@{
    Layout = null;
    ViewBag.Title = "Employee Gift & Hopitality Given List";

    var givenGrid = new WebGrid(canPage: false, canSort: false);
    givenGrid.Bind(source: Model.lstGiven, autoSortAndPage: false);
}
<div class="row padding-bottom">
    <div class="col-md-12">
        <div style="padding:10px 0;" class="border">
            <div class="col-md-12">
                <strong>Given/Offered:</strong>
            </div>
            <div class="row padding-bottom"></div>
            <div style="min-height:125px; max-height:125px; overflow-y:scroll;" class="col-md-12">
                @if (Model.lstGiven != null && Model.lstGiven.Count > 0)
                {
                    @givenGrid.GetHtml(
                        tableStyle: "table table-responsive backcolor",
                        headerStyle: "wedgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        rowStyle: "webgrid-row-style",
                        columns: givenGrid.Columns(
                        givenGrid.Column(columnName: "details", header: "Details:"),
                        givenGrid.Column(columnName: "givenDate", header: "Given/Offered:"),
                        givenGrid.Column(columnName: "approxiValue", header: "Value:"),
                        givenGrid.Column(columnName: "status", header: "Status:"),
                        givenGrid.Column(header: "", style: "td-padding-right-0", format:@<text><input class="pull-right edit-arrow btnGiftDetail" data-giftid="@item.giftId" type="button"></text>)
                    ))
                }
                else
                {
                    <table class="table table-responsive backcolor">
                        <thead>
                            <tr class="wedgrid-header">
                                <th>Details:</th>
                                <th>Given/Offered:</th>
                                <th>Value:</th>
                                <th>Status:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="webgrid-row-style">
                                <td colspan="4" align="center"><br />No record found<br /><br /> </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

