﻿@model BHGHRModuleWeb.ViewModels.GiftAndHospitalityViewModel

@{
    Layout = null;
    ViewBag.Title = "Employee Gift & Hospitality";
    var className = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>Employee Gift & Hospitality</title>
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }

        .body-content {
            padding-left: 15px;
            padding-right: 15px;
        }

        body {
            font-family: Arial, Helvetica, sans-serif !important;
            font-size: 12px !important;
            margin: 0px 0 5px 0 !important;
            padding: 0 !important;
        }

        input[type="radio"] {
            margin: 5px;
        }

        .form-control {
            padding: 0 0 0 5px;
            border-radius: 0px;
            border: 1px solid #b1b1b1;
            height: 25px !important;
            font-size: 12px !important;
            display: block;
            line-height: 1.428571429;
            width: 100%;
            color: #555555;
            vertical-align: middle;
            background-color: #ffffff;
        }

        .button-default {
            border: 0.5px solid #C2C2C2;
        }

        .width-full {
            width: 100% !important;
        }

        .modal-content {
            /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
            width: inherit;
            height: inherit;
            /* To center horizontally */
            margin: 0 auto;
            pointer-events: all;
        }

        .modal-header, h4, .close {
            background-color: black;
            color: white !important;
            text-align: left;
        }

        .modal-footer {
            /*background-color: #f9f9f9;*/
        }

        .modal-header {
            min-height: 16.428571429px;
            padding-left: 20px !important;
            border-bottom: 1px solid #e5e5e5;
            font-weight: bold;
        }

        .modal-dialog {
            right: auto;
            left: 50%;
            width: 750px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .modal-dialog-950 {
            width: 950px;
        }

        .modal-footer {
            padding: 5px 20px 5px 20px !important;
            text-align: right !important;
            border-top: 1px solid #e5e5e5 !important;
        }

        .breakhere {
            page-break-after: always !important;
        }

        .padding-bottom {
            padding-bottom: 10px !important;
        }

        .portlet {
            background-color: #f4f8fb;
            padding: 10px;
            border: 1px solid #C5BAA1;
        }

        .portlet-box {
            background-color: #CCDEEC;
        }

            .portlet-box .box {
                float: left;
                text-align: center;
                padding: 6px;
                color: #fff;
                height: 20px;
                width: 20px;
                background-color: #BAAC98;
                border: 1px solid #C8BAA4;
            }

            .portlet-box .body {
                padding: 10px 30px 10px 40px;
            }

                .portlet-box .body p {
                    text-align: justify;
                }

        textarea.personalDetail {
            resize: none !important;
            height: 100px !important;
        }
        .form-control-40 {
            float:left;
            padding: 0 0 0 5px;
            border-radius: 0px;
            border: 1px solid #b1b1b1;
            height: 25px !important;
            font-size: 12px !important;
            display: block;
            line-height: 1.428571429;
            width: 40%;
            color: #555555;
            vertical-align: middle;
            background-color: #ffffff;
        }
    </style>
</head>

<body>
    <div id="divBodyContainer" class="container">
        <div class="row padding-bottom">
            <div style="text-align: center;" class="col-md-12">
                <strong>
                    Gift & Hospitality
                </strong>
            </div>
        </div>
        <div class="row padding-bottom"></div>
        <div class="row">
            <div class="col-md-12">
                @if (Model.lstReceived != null && Model.lstReceived.Count > 0)
                {
                    className = "";
                    for (int i = 0; i < Model.lstReceived.Count; i++)
                    {
                        <div class="portlet breakhere">
                            @if ((i + 1) == 1)
                            {
                                <div class="row padding-bottom">
                                    <div class="col-md-12">
                                        <strong>Received:</strong>
                                    </div>
                                </div>
                            }
                            <div class="portlet-box">
                                <div class="box"><span>@(i + 1)</span></div>
                                <div class="body">
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Details of Gifts/Hospitality Received:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => Model.lstReceived[i].details, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Date Received:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => Model.lstReceived[i].receivedDate, new { @class = "DatePicker form-control-40" }) <img style="padding-left:5px;" src="@Url.Content("~/Content/images/calendar.png")" />
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Offered by:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => Model.lstReceived[i].offeredBy, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Approx Value(&pound;):
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => Model.lstReceived[i].approximateValue, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Declined or accepted?
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => Model.lstReceived[i].accepted, Model.offers, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-12">
                                            Date Line Manager approval obtained, or state 'not approved'
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            Not Approved
                                        </div>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => Model.lstReceived[i].dateNotApproved, new { @class = "DatePicker form-control-40" }) <img style="padding-left:5px;" src="@Url.Content("~/Content/images/calendar.png")" />
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Date of declaration:
                                        </div>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => Model.lstReceived[i].declarationDate, new { @class = "DatePicker form-control-40" }) <img style="padding-left:5px;" src="@Url.Content("~/Content/images/calendar.png")" />
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Notes
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(m => Model.lstReceived[i].notes, 5, 3, new { @class = "form-control personalDetail" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @{ i++; className = ""; }
                            @if (i < Model.lstReceived.Count)
                            {
                                <div class="portlet-box">
                                    <div class="box"><span>@(i + 1)</span></div>
                                    <div class="body">
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Details of Gifts/Hospitality Received:
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => Model.lstReceived[i].details, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Date Received:
                                            </div>
                                            <div class="col-md-8"> 
                                                @Html.TextBoxFor(m => Model.lstReceived[i].receivedDate, new { @class = "DatePicker form-control-40" }) <img style="padding-left:5px;" src="@Url.Content("~/Content/images/calendar.png")" />
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Offered by:
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => Model.lstReceived[i].offeredBy, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Approx Value(&pound;):
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => Model.lstReceived[i].approximateValue, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Declined or accepted?
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => Model.lstReceived[i].accepted, Model.offers, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-12">
                                                Date Line Manager approval obtained, or state 'not approved'
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3">
                                                Not Approved
                                            </div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(m => Model.lstReceived[i].dateNotApproved, new { @class = "DatePicker form-control-40" }) <img style="padding-left:5px;" src="@Url.Content("~/Content/images/calendar.png")" />
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Date of declaration:
                                            </div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(m => Model.lstReceived[i].declarationDate, new { @class = "DatePicker form-control-40" }) <img style="padding-left:5px;" src="@Url.Content("~/Content/images/calendar.png")" />
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Notes
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextAreaFor(m => Model.lstReceived[i].notes, 5, 3, new { @class = "form-control personalDetail" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        className = "breakhere";
                    }
                }
                @if (Model.lstGiven != null && Model.lstGiven.Count > 0)
                {
                    className = "";
                    for (int i = 0; i < Model.lstGiven.Count; i++)
                    {
                        <div class="portlet breakhere">
                            @if ((i + 1) == 1)
                            {
                                <div class="row padding-bottom">
                                    <div class="col-md-12">
                                        <strong>Given:</strong>
                                    </div>
                                </div>
                            }
                            <div class="portlet-box">
                                <div class="box"><span>@(i + 1)</span></div>
                                <div class="body">
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Details of Gifts/Hospitality Given/Offered:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => Model.lstGiven[i].details, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Date Given/Offered:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => Model.lstGiven[i].givenDate, new { @class = "DatePicker form-control-40" }) <img style="padding-left:5px;" src="@Url.Content("~/Content/images/calendar.png")" />
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Given/Offered to:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => Model.lstGiven[i].offeredBy, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Approx Value(&pound;):
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => Model.lstGiven[i].approximateValue, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Declined or accepted?
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => Model.lstGiven[i].accepted, Model.offers, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-12">
                                            Date Line Manager approval obtained, or state 'not approved'
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            Not Approved
                                        </div>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => Model.lstGiven[i].dateNotApproved, new { @class = "DatePicker form-control-40" }) <img style="padding-left:5px;" src="@Url.Content("~/Content/images/calendar.png")" />
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Date of declaration:
                                        </div>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => Model.lstGiven[i].declarationDate, new { @class = "DatePicker form-control-40" }) <img style="padding-left:5px;" src="@Url.Content("~/Content/images/calendar.png")" />
                                        </div> 
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Notes
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(m => Model.lstGiven[i].notes, 5, 3, new { @class = "form-control personalDetail" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @{ i++; className = ""; }
                            @if (i < Model.lstGiven.Count)
                            {
                                <div class="portlet-box">
                                    <div class="box"><span>@(i + 1)</span></div>
                                    <div class="body">
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Details of Gifts/Hospitality Given/Offered:
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => Model.lstGiven[i].details, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Date Given/Offered:
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => Model.lstGiven[i].givenDate, new { @class = "DatePicker form-control-40" }) <img style="padding-left:5px;" src="@Url.Content("~/Content/images/calendar.png")" />
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Given/Offered to:
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => Model.lstGiven[i].offeredBy, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Approx Value(&pound;):
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => Model.lstGiven[i].approximateValue, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Declined or accepted?
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => Model.lstGiven[i].accepted, Model.offers, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-12">
                                                Date Line Manager approval obtained, or state 'not approved'
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3">
                                                Not Approved
                                            </div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(m => Model.lstGiven[i].dateNotApproved, new { @class = "DatePicker form-control-40" }) <img style="padding-left:5px;" src="@Url.Content("~/Content/images/calendar.png")" />
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Date of declaration:
                                            </div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(m => Model.lstGiven[i].declarationDate, new { @class = "DatePicker form-control-40" }) <img style="padding-left:5px;" src="@Url.Content("~/Content/images/calendar.png")" />
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Notes
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextAreaFor(m => Model.lstGiven[i].notes, 5, 3, new { @class = "form-control personalDetail" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        className = "breakhere";
                    }
                }
            </div>
        </div>
    </div>
</body>
</html>