﻿@model BHGHRModuleWeb.ViewModels.GiftMasterViewModel
@{
    Layout = null;
    ViewBag.Title = "Employee Gift & Hopitality Received List";

    var recivedGrid = new WebGrid(canPage: false, canSort: false);
    if (Model.giftList != null && Model.giftList.Count > 0)
    {
        recivedGrid.Bind(source: Model.giftList, autoSortAndPage: false);
    }
}
<div class="row padding-bottom">
    <div class="col-md-12">
        <div class="grid-border">
            <div class="col-md-12">
                @if (Model.giftList != null && Model.giftList.Count > 0)
                {
                    @recivedGrid.GetHtml(
                        tableStyle: "table table-responsive backcolor",
                        headerStyle: "wedgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        rowStyle: "webgrid-row-style",
                        columns: recivedGrid.Columns(
                        recivedGrid.Column(columnName: "details", header: "Details:"),
                        recivedGrid.Column(columnName: "strDateGivenReceived", header: "Received/Offered:"),
                        recivedGrid.Column(columnName: "approxiValue", header: "Value:"),
                        recivedGrid.Column(columnName: "status", header: "Status:"),
                        recivedGrid.Column(header: "", style: "td-padding-right-0", format:@<text><input class="pull-right edit-arrow btnGiftDetail" data-giftid ="@item.giftId" type="button" ></text>)
                    ))
                }
                else
                {
                    <table class="table table-responsive backcolor">
                        <thead>
                            <tr class="wedgrid-header">
                                <th>Details:</th>
                                <th>Received/Offered:</th>
                                <th>Value:</th>
                                <th>Status:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="webgrid-row-style">
                                <td colspan="4" align="center"><br />No record found<br /><br /> </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>