﻿@model BHGHRModuleWeb.ViewModels.GiftMasterViewModel
@{
    Layout = null;
    //var grid = new WebGrid(canPage: true, rowsPerPage: 10, canSort: false, ajaxUpdateContainerId: "webgrid");
    //grid.Bind(source: Model.giftList, rowCount: 50, autoSortAndPage: false);
    //bool status = Convert.ToBoolean(ViewBag.status);
    //string searchText = ViewBag.searchText;

    var isGift = false;
    if (TempData.ContainsKey("isGift"))
    {
        isGift = bool.Parse(TempData["isGift"].ToString());
    }
    TempData.Keep("isGift");

    var giftId = 0;
    if (TempData.ContainsKey("__GiftId__"))
    {
        giftId = Convert.ToInt32(TempData["__GiftId__"].ToString());
    }
    TempData.Keep("isGift");
}

<div class="container-fluid">
    <div class="row padding-bottom"></div>
    <div class="row padding-bottom-5">
        <div class="col-md-5">
            <div class="col-md-12">
                <div class="padding-bottom">
                    <strong>
                        Gifts & Hospitality
                    </strong>
                </div>
            </div>
        </div>
        @if (isGift == false)
        {
            <div class="col-md-7">
                <button onclick="reloadCurrentTab();" class="btn btn-gray btn-xs pull-right btnNext" type="button">< Back</button>
                <button style="margin-right:10px;" class="btn btn-info btn-xs pull-right" id="btnSubmitGift" name="nextBtn">Submit New Gift/Hospitality Item</button>
            </div>
        }
    </div>
    <div class="row padding-bottom">
        <div class="col-md-5">
            <div class="grid-border">
                <div class="row padding-bottom">
                    <div class="col-md-12">
                        <div class="row padding-bottom-5"></div>
                        <div class="col-md-12 padding-bottom">
                            <strong>
                                Search:
                            </strong>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            @Html.LabelFor(m => m.typeId)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.typeId, Model.types, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            @Html.LabelFor(m => m.statusId)
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.statusId, Model.statuses, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            @Html.LabelFor(m => m.from)
                                        </div>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => m.from, new { @class = "DatePicker form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            @Html.LabelFor(m => m.to)
                                        </div>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => m.to, new { @class = "DatePicker form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button onclick="onClickBtnSearch();" class="btn btn-gray btn-xs pull-right btnNext" type="button">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-7">
            <div id="healthDetail">
                @Html.Partial("~/Views/Employees/PersonalDetail/_GiftMasterList.cshtml", Model)
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    (function () {
        loadDatePicker();
        getGiftDetail();
        if (@giftId > 0) {
            var data = @giftId;
            var url = '';
            url = '@Url.Action("GiftHospitality", "PersonalDetail", new { id = Model.employeeId })';
            url = url + "?giftId=" + data;

            $('#divContainer').load(url);
        }
    })();

    $('#btnSubmitGift').on('click', function () {
        var url = '@Url.Action("GiftHospitality", "PersonalDetail", new { id= Model.employeeId })';
        $('#divContainer').load(url);
    });

    function getGiftDetail() {
        $('.btnGiftDetail').on('click', function () {
            var data = $(this).data();
            var url = '';
            url = '@Url.Action("GiftHospitality", "PersonalDetail", new { id = Model.employeeId })';
            url = url + "?giftId=" + data.giftid;

            $('#divContainer').load(url);
        });
    }

    function onClickBtnSearch() {
        var request = new Object();

        request.employeeId = @Model.employeeId;
        request.typeId = $('#typeId').val();
        request.statusId = $('#statusId').val();
        request.from = $('#from').val();
        request.to = $('#to').val();

        var url = '@Url.Action("SearchGiftHospitality", "PersonalDetail")';
        $.ajax({
            type: "POST",
            data: request,
            url: url,
            success: function (response) {
                if (response != undefined && response != "") {
                    $('#healthDetail').html(response);
                }
                getGiftDetail();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('popupMessage', 'popupMsgResponse', "Unable to load", 'failure');
                console.log(jqXHR);
            }
        });

    }
</script>
