﻿@model BHGHRModuleWeb.ViewModels.DeclarationViewModel

@{
    Layout = null;
    ViewBag.Title = "Employee Declaration of Interests";
}

<!DOCTYPE html>
<html>
<head>
    <title>Employee Declaration of Interests</title>
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }

        .body-content {
            padding-left: 15px;
            padding-right: 15px;
        }

        body {
            font-family: Arial, Helvetica, sans-serif !important;
            font-size: 12px !important;
            margin: 0px 0 5px 0 !important;
            padding: 0 !important;
        }

        input[type="radio"] {
            margin: 5px;
        }

        .form-control {
            padding: 0 0 0 5px;
            border-radius: 0px;
            border: 1px solid #b1b1b1;
            height: 25px !important;
            font-size: 12px !important;
            display: block;
            line-height: 1.428571429;
            width: 100%;
            color: #555555;
            vertical-align: middle;
            background-color: #ffffff;
        }

        .button-default {
            border: 0.5px solid #C2C2C2;
        }

        .width-full {
            width: 100% !important;
        }

        .modal-content {
            /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
            width: inherit;
            height: inherit;
            /* To center horizontally */
            margin: 0 auto;
            pointer-events: all;
        }

        .modal-header, h4, .close {
            background-color: black;
            color: white !important;
            text-align: left;
        }

        .modal-footer {
            /*background-color: #f9f9f9;*/
        }

        .modal-header {
            min-height: 16.428571429px;
            padding-left: 20px !important;
            border-bottom: 1px solid #e5e5e5;
            font-weight: bold;
        }

        .modal-dialog {
            right: auto;
            left: 50%;
            width: 750px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .modal-dialog-950 {
            width: 950px;
        }

        .modal-footer {
            padding: 5px 20px 5px 20px !important;
            text-align: right !important;
            border-top: 1px solid #e5e5e5 !important;
        }

        .breakhere {
            page-break-after: always !important;
        }

        .padding-bottom {
            padding-bottom: 10px !important;
        }

        /*/////////////////Start Saud ////////////////////*/
        .portlet {
            background-color: #f4f8fb;
            padding: 10px;
            border: 1px solid #C5BAA1;
        }

        .portlet-box {
            background-color: #CCDEEC;
        }

            .portlet-box .box {
                float: left;
                text-align: center;
                padding: 6px;
                color: #fff;
                height: 20px;
                width: 20px;
                background-color: #BAAC98;
                border: 1px solid #C8BAA4;
            }

            .portlet-box .body {
                padding: 10px 30px 10px 40px;
            }

                .portlet-box .body p {
                    text-align: justify;
                }

        textarea.personalDetail {
            resize: none !important;
            height: 100px !important;
        }

        /*/////////////////End Saud ////////////////////*/
    </style>
</head>

<body>
    <div id="divBodyContainer" class="container">
        <div class="row padding-bottom">
            <div style="text-align: center;" class="col-md-12">
                <strong>
                    My Declaration of Interests
                </strong>
            </div>
        </div>
        <div class="row padding-bottom"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet breakhere">
                    @* 1 *@
                    <div class="portlet-box">
                        <div class="box"><span>1</span></div>
                        <div class="body">
                            <div>
                                <p>
                                    I am related to / a close friend of / share a household with the following BHG employee(s) and/or Broad Member(s):
                                </p>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Name:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.empName1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Role:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.empRole1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Their relationship to me:
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.declarationOfInterest.page1.empRel1, Model.relationships, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Name:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.empName2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Role:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.empRole2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    Their relationship to me:
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.declarationOfInterest.page1.empRel2, Model.relationships, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-bottom"></div>
                    @* 2 *@
                    <div class="portlet-box">
                        <div class="box"><span>2</span></div>
                        <div class="body">
                            <div>
                                <p>
                                    I am related to / a close friend of / share a household with the following applicant for a BHG role:
                                </p>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Name:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.roleName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Role:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.roleRole, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    Their relationship to me:
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.declarationOfInterest.page1.roleRel, Model.relationships, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-bottom"></div>
                    @* 3 *@
                    <div class="portlet-box">
                        <div class="box"><span>3</span></div>
                        <div class="body">
                            <div>
                                <p>
                                    I am currently residing in a BHG home at the following address:
                                </p>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Address:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.residingAddress1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.residingAddress2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    Postcode:
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.residingPostcode, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-bottom"></div>
                    @* 4 *@
                    <div class="portlet-box">
                        <div class="box"><span>4</span></div>
                        <div class="body">
                            <div>
                                <p>
                                    I am related to / a close friend of someone who is currently residing in a BHG home:
                                </p>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Name:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeName1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Address:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeAddress1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Their relationship to me:
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.declarationOfInterest.page1.homeRel1, Model.relationships, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Name:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeName2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Address:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeAddress2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    Their relationship to me:
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.declarationOfInterest.page1.homeRel2, Model.relationships, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet breakhere">
                    @* 5 *@
                    <div class="portlet-box">
                        <div class="box"><span>5</span></div>
                        <div class="body">
                            <div>
                                <p>
                                    I the following secondary employment
                                    <br />
                                    (NB: all secondary employment must be declared):
                                </p>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Type of employment:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.typeOfEmployment, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Employer (if applicable):
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page1.employer, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Has the secondary employment been approved by BHG?:
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-8">
                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page1.isEmployment, "true") Yes
                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page1.isEmployment, "false") No
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-bottom"></div>
                    @* 6 *@
                    <div class="portlet-box">
                        <div class="box"><span>6</span></div>
                        <div class="body">
                            <div>
                                <p>
                                    I am currently using the following BHG contractor, consultant or supplier in a personal capacity:
                                </p>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Name of Organization:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.conOrganizationP6, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Service they are supplying to you:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.conService, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Has your use of this company been approved by a member of the Leadership Group?
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-8">
                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isLeadership, "true") Yes
                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isLeadership, "false") No
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-bottom"></div>
                    @* 7 *@
                    <div class="portlet-box">
                        <div class="box"><span>7</span></div>
                        <div class="body">
                            <div>
                                <p>
                                    I am related to / a close friend of / share a household with an employee of another Norfolk Social Landlord, Local Authority or housing-relater organization:
                                </p>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Name:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthName1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Organization they work for:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthOrganization1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Their relationship to me:
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.declarationOfInterest.page2.localAuthRel1, Model.relationships, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Name:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthName2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Organization they work for:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthOrganization2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    Their relationship to me:
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.declarationOfInterest.page2.localAuthRel2, Model.relationships, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-bottom"></div>
                    @* 8 *@
                    <div class="portlet-box">
                        <div class="box"><span>8</span></div>
                        <div class="body">
                            <div>
                                <p>
                                    I am related to / a close friend of / share a household with someone who has the following connection to a BHG contractor, consultant, supplier or an organization applying/tendering for a BHG contract:
                                </p>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-12">
                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP8, "true") They are a director/partner/employee/consultant of
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-12">
                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP8, "false") They own or have significant shareholding/other financial stake or interest in
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Name of organization:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.conOrganizationP8, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Name of indvidual:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.conIndvidual, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    Their relationship to me:
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.declarationOfInterest.page2.conRelP8, Model.relationships, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet">
                    @* 9 *@
                    <div class="portlet-box">
                        <div class="box"><span>9</span></div>
                        <div class="body">
                            <div>
                                <p>
                                    I have the following connection to a BHG contactor, consultant, supplier or an organization applying/tendering for a BHG contract:
                                </p>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-12">
                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP9, "true") I am director/partner/employee/consultant of
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-12">
                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP9, "false") I own or have significant shareholding/other financial stake or interest in
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    Name of organization:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page2.conOrganizationP9, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-bottom"></div>
                    @* 10 *@
                    <div class="portlet-box">
                        <div class="box"><span>10</span></div>
                        <div class="body">
                            <div>
                                <p>
                                    I am a trustee of the following trust(s):
                                </p>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Trust 1:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page3.trustee1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-4">
                                    Trust 2:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page3.trustee2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    Trust 3:
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page3.trustee3, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-bottom"></div>
                    @* 11 *@
                    <div class="portlet-box">
                        <div class="box"><span>11</span></div>
                        <div class="body">
                            <div>
                                <p>
                                    I am an elected Member of the following Local Authority (District, Borough, County Council, or Town/Parish Council):
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.declarationOfInterest.page3.countyTown, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-bottom"></div>
                    @* 12 *@
                    <div class="portlet-box">
                        <div class="box"><span>12</span></div>
                        <div class="body">
                            <div>
                                <p>
                                    I hold the following other paid or unpaid non-executive appointments:
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(m => m.declarationOfInterest.page3.appointments, 5, 3, new { @class = "form-control personalDetail" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-bottom"></div>
                    @* 13 *@
                    <div class="portlet-box">
                        <div class="box"><span>13</span></div>
                        <div class="body">
                            <div>
                                <p>
                                    I (or an organisation listed above with which I am involved) have a beneficial interest in the following land or property with which BHG is involved or which may be of interest to BHG and/or its activities:
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(m => m.declarationOfInterest.page3.beneficialInterest, 5, 3, new { @class = "form-control personalDetail" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-bottom"></div>
                    @* 14 *@
                    <div class="portlet-box">
                        <div class="box"><span>14</span></div>
                        <div class="body">
                            <div>
                                <p>
                                    @Html.RadioButtonFor(m => m.declarationOfInterest.page3.isTempInterested, "true") I have no interest that I need to declare at present (please do not tick this box if you have declare an interest above)
                                </p>
                            </div>
                            <div class="row padding-bottom"></div>
                            <div class="row padding-bottom">
                                <div class="col-md-12">
                                    <strong>OR</strong>
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-md-12">
                                    I wish to declare an interest other than those mentioned above:
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(m => m.declarationOfInterest.page3.otherInterest, 5, 3, new { @class = "form-control personalDetail" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>