﻿@model BHGHRModuleWeb.ViewModels.DeclarationViewModel

@{
    Layout = null;
    ViewBag.Title = "Employee Personal Detail";
    bool isEdit = ViewBag.isEdit == "edit";
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.OnFailure = "OnFailure";
    options.OnBegin = "OnBegin";
    options.OnSuccess = "OnSuccess";
}

@Scripts.Render("~/bundles/jqueryval")

@Html.Hidden("pageno", new { id= "pageno" })
<div id="page1">
    @using (Ajax.BeginForm("SaveInterest", "PersonalDetail", new { }, options, new { id = "frmInterestPage1", enctype = "multipart/form-data" }))
    {
        <div class="row padding-bottom"></div>
        Html.ValidationSummary(true);

        <div class="row padding-bottom">
            <div class="col-md-12">
                <div class="portlet">
                    <div class="row padding-bottom">
                        <div class="col-md-12">
                            <strong>
                                My Declaration of Interests : Page 1 of 3
                            </strong>
                        </div>
                    </div>
                    <div class="row padding-bottom">
                        <div class="col-md-6 padding-bottom">
                            @* 1 *@
                            <div class="portlet-box">
                                <div class="box"><span>1</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am related to / a close friend of / share a household with the following BHG employee(s) and/or Broad Member(s):
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.empName1, new { @class = "form-control" })
                                            @Html.HiddenFor(m => m.declarationOfInterest.employeeId)
                                            @Html.HiddenFor(m => m.declarationOfInterest.interestId)
                                            @Html.HiddenFor(m => m.declarationOfInterest.isActive)
                                            @Html.HiddenFor(m => m.declarationOfInterest.page, new { id= "page", Value="1" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Role:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.empRole1, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page1.empRel1, Model.relationships, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom"></div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.empName2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Role:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.empRole2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page1.empRel2, Model.relationships, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 2 *@
                            <div class="portlet-box">
                                <div class="box"><span>2</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am related to / a close friend of / share a household with the following applicant for a BHG role:
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.roleName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Role:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.roleRole, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page1.roleRel, Model.relationships, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 3 *@
                            <div class="portlet-box">
                                <div class="box"><span>3</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am currently residing in a BHG home at the following address:
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Address:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.residingAddress1, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-8 col-xs-12 right">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.residingAddress2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Postcode:
                                        </div>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.residingPostcode, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-bottom">
                            @* 4 *@
                            <div class="portlet-box">
                                <div class="box"><span>4</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am related to / a close friend of someone who is currently residing in a BHG home:
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeName1, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Address:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeAddress1, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page1.homeRel1, Model.relationships, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom"></div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeName2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Address:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.homeAddress2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page1.homeRel2, Model.relationships, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 5 *@
                            <div class="portlet-box">
                                <div class="box"><span>5</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I the following secondary employment
                                            <br />
                                            (NB: all secondary employment must be declared):
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Type of employment:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.typeOfEmployment, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Employer (if applicable):
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page1.employer, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Has the secondary employment been approved by BHG?:
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-8 right">
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page1.isEmployment, "true") Yes
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page1.isEmployment, "false") No
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="btn btn-info btn-xs pull-right btnNext" id="btnSavePage1" type="submit" name="nextBtn" value='Save & Next >' />
                            <input style="margin-right:10px;" class="btn btn-gray btn-xs pull-right btnNext" id="btnBackPage1" type="button" name="nextBtn" value='< Back' />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div id="page2" style="display:none;">
    @using (Ajax.BeginForm("SaveInterest", "PersonalDetail", new { }, options, new { id = "frmInterestPage2", enctype = "multipart/form-data" }))
    {
        <div class="row padding-bottom"></div>
        Html.ValidationSummary(true);

        <div class="row padding-bottom">
            <div class="col-md-12">
                <div class="portlet">
                    <div class="row padding-bottom">
                        <div class="col-md-12">
                            <strong>
                                My Declaration of Interests : Page 2 of 3
                            </strong>
                        </div>
                    </div>
                    <div class="row padding-bottom">
                        <div class="col-md-6 padding-bottom">
                            @* 6 *@
                            <div class="portlet-box">
                                <div class="box"><span>6</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am currently using the following BHG contractor, consultant or supplier in a personal capacity:
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name of Organisation:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.conOrganizationP6, new { @class = "form-control" })
                                            @Html.HiddenFor(m => m.declarationOfInterest.employeeId)
                                            @Html.HiddenFor(m => m.declarationOfInterest.interestId)
                                            @Html.HiddenFor(m => m.declarationOfInterest.isActive)
                                            @Html.HiddenFor(m => m.declarationOfInterest.page, new { id = "page2", Value = "2" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Service they are supplying to you:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.conService, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Has your use of this company been approved by a member of the Leadership Group?
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-8 col-xs-12 right">
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isLeadership, "true") Yes
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isLeadership, "false") No
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 7 *@
                            <div class="portlet-box">
                                <div class="box"><span>7</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am related to / a close friend of / share a household with an employee of another Norfolk Social Landlord, Local Authority or housing-related organisation:
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthName1, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Organisation they work for:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthOrganization1, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page2.localAuthRel1, Model.relationships, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom"></div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthName2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Organisation they work for:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.localAuthOrganization2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page2.localAuthRel2, Model.relationships, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-bottom">
                            @* 8 *@
                            <div class="portlet-box">
                                <div class="box"><span>8</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am related to / a close friend of / share a household with someone who has the following connection to a BHG contractor, consultant, supplier or an organisation applying/tendering for a BHG contract:
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-12">
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP8, "true") They are a director/partner/employee/consultant of
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-12">
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP8, "false") They own or have significant shareholding/other financial stake or interest in
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name of organisation:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.conOrganizationP8, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Name of indvidual:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.conIndvidual, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Their relationship to me:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.declarationOfInterest.page2.conRelP8, Model.relationships, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 9 *@
                            <div class="portlet-box">
                                <div class="box"><span>9</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I have the following connection to a BHG contactor, consultant, supplier or an organisation applying/tendering for a BHG contract:
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-12">
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP9, "true") I am director/partner/employee/consultant of
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-12">
                                            @Html.RadioButtonFor(m => m.declarationOfInterest.page2.isTempDirectorP9, "false") I own or have significant shareholding/other financial stake or interest in
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Name of organisation:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page2.conOrganizationP9, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="btn btn-info btn-xs pull-right btnNext" id="btnSavePage2" type="submit" name="nextBtn" value='Save & Next >' />
                            <input style="margin-right:10px;" class="btn btn-gray btn-xs pull-right btnNext" id="btnBackPage2" type="button" name="nextBtn" value='< Back' />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div id="page3" style="display:none;">
    @using (Ajax.BeginForm("SaveInterest", "PersonalDetail", new { }, options, new { id = "frmInterestPage3", enctype = "multipart/form-data" }))
    {
        <div class="row padding-bottom"></div>
        Html.ValidationSummary(true);

        <div class="row padding-bottom">
            <div class="col-md-12">
                <div class="portlet">
                    <div class="row padding-bottom">
                        <div class="col-md-12">
                            <strong>
                                My Declaration of Interests : Page 3 of 3
                            </strong>
                        </div>
                    </div>
                    <div class="row padding-bottom">
                        <div class="col-md-6 padding-bottom">
                            @* 10 *@
                            <div class="portlet-box">
                                <div class="box"><span>10</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am a trustee of the following trust(s):
                                        </p>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Trust 1:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page3.trustee1, new { @class = "form-control" })
                                            @Html.HiddenFor(m => m.declarationOfInterest.employeeId)
                                            @Html.HiddenFor(m => m.declarationOfInterest.interestId)
                                            @Html.HiddenFor(m => m.declarationOfInterest.isActive)
                                            @Html.HiddenFor(m => m.declarationOfInterest.page, new { id = "page3", Value = "3" })
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-4">
                                            Trust 2:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page3.trustee2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Trust 3:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page3.trustee3, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 11 *@
                            <div class="portlet-box">
                                <div class="box"><span>11</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I am an elected Member of the following Local Authority (District, Borough, County Council, or Town/Parish Council):
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-xs-12 right">
                                            @Html.TextBoxFor(m => m.declarationOfInterest.page3.countyTown, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 12 *@
                            <div class="portlet-box">
                                <div class="box"><span>12</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I hold the following other paid or unpaid non-executive appointments:
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12 right">
                                            @Html.TextAreaFor(m => m.declarationOfInterest.page3.appointments, 5, 3, new { @class = "form-control personalDetail" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding-bottom">
                            @* 13 *@
                            <div class="portlet-box">
                                <div class="box"><span>13</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                            I (or an organisation listed above with which I am involved) have a beneficial interest in the following land or property with which BHG is involved or which may be of interest to BHG and/or its activities:
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12 right">
                                            @Html.TextAreaFor(m => m.declarationOfInterest.page3.beneficialInterest, 5, 3, new { @class = "form-control personalDetail" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            @* 14 *@
                            <div class="portlet-box">
                                <div class="box"><span>14</span></div>
                                <div class="body">
                                    <div>
                                        <p>
                                           @Html.RadioButtonFor(m => m.declarationOfInterest.page3.isTempInterested, "true") I have no interest that I need to declare at present (please do not tick this box if you have declare an interest above)
                                        </p>
                                    </div>
                                    <div class="row padding-bottom"></div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-12">
                                            <strong>OR</strong>
                                        </div>
                                    </div>
                                    <div class="row padding-bottom">
                                        <div class="col-md-12">
                                            I wish to declare an interest other than those mentioned above:
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.TextAreaFor(m => m.declarationOfInterest.page3.otherInterest, 5, 3, new { @class = "form-control personalDetail" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="btn btn-info btn-xs pull-right btnNext" id="btnSavePage3" type="submit" name="nextBtn" value='Submit Declaration of Interests' />
                            <input style="margin-right:10px;" class="btn btn-gray btn-xs pull-right btnNext" id="btnBackPage3" type="button" name="nextBtn" value='< Back' />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@* pop model start *@

@* pop model end *@


<script type="text/javascript">

    (function () {
        $('#page2').hide();
        $('#page3').hide();

        $('#btnSavePage1').on('click', function () {
            //frmInterestPage1
            $('#pageno').val('frmInterestPage1');
        });

        $('#btnSavePage2').on('click', function () {
            //frmInterestPage2
            $('#pageno').val('frmInterestPage2');
        });

        $('#btnSavePage3').on('click', function () {
            //frmInterestPage3
            $('#pageno').val('frmInterestPage3');
        });

        $('#btnBackPage2').on('click', function () {
            $('#page2').hide();
            $('#page3').hide();
            $('#page1').show();
        });

        $('#btnBackPage3').on('click', function () {
            $('#page3').hide();
            $('#page1').hide();
            $('#page2').show();
        });
        
        $('#btnBackPage1').on('click', function () {
            reloadCurrentTab();
        });

    })();

    function OnFailure(response) {
        var obj = jQuery.parseJSON(response);
        $('#message').removeClass('alert-success');
        $('#message').addClass('alert-danger');
        $('#msgResponse').text(obj.message)
        $("#message").show().delay(5000).fadeOut();
        window.scrollTo(0, 0);
    }

    function OnBegin() {

    }

    function OnSuccess(response) {
        if (response != "") {
            
        }

        var pageNo = $('#pageno').val();
        if (pageNo == 'frmInterestPage1') {
            $('#page3').hide();
            $('#page1').hide();
            $('#page2').show();
            showSuccessMsg(response);
        }

        if (pageNo == 'frmInterestPage2') {
            $('#page1').hide();
            $('#page2').hide();
            $('#page3').show();
            showSuccessMsg(response);
        }

        if (pageNo == 'frmInterestPage3') {
            showSuccessMsg("Declaration Of Interest is saved successfully. And document was generated. The document can find in document tab.");
            window.scrollTo(0, 0);
            reloadCurrentTab().delay(5000).fadeOut();
        }
    }

    function showSuccessMsg(response) {
        $('#message').removeClass('alert-danger');
        $('#message').addClass('alert-success');
        $('#msgResponse').text(response)
        $("#message").show().delay(7000).fadeOut();
        window.scrollTo(0, 0);
    }
</script>

