﻿@model BHGHRModuleWeb.ViewModels.DrivingLicenceResponseViewModel
@{
    Layout = null;
    ViewBag.Title = "Employee Licence Detail";
    bool isEdit = ViewBag.isEdit == "edit";

    AjaxOptions optionImage = new AjaxOptions();
    optionImage.AllowCache = false;
    optionImage.HttpMethod = "POST";
    optionImage.InsertionMode = InsertionMode.Replace;
    optionImage.OnFailure = "OnFailure";
    optionImage.OnBegin = "OnBegin";
    optionImage.OnSuccess = "OnSuccess";
    var isTeam = false;
    if (TempData.ContainsKey("isTeam"))
    {
        isTeam = bool.Parse(TempData["isTeam"].ToString());
    }
    TempData.Keep("isTeam");
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.OnFailure = "OnFailureImage";
    options.OnBegin = "OnBeginImage";
    options.OnSuccess = "OnSuccessImage";
}

@Scripts.Render("~/bundles/jqueryval")

<style type="text/css">
    label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: normal !important;
    }
</style>
<div class="row padding-bottom"></div>
@using (Ajax.BeginForm("SaveDrivingLicence", "PersonalDetail", options, new { id = "frmDrivingLicence" }))
{
    <div class="row padding-bottom">
        <div class="col-md-12">
            <div class="portlet">
                <div class="row padding-bottom">
                    <div class="col-md-12">
                        <strong>
                            Driving Licence
                            @Html.HiddenFor(m => m.drivingLicence.employeeId, new { id = "hdnemployeeId" })
                            @Html.HiddenFor(m => m.drivingLicence.drivingLicenceId, new { id = "hdnDrivingLicenceId" })
                        </strong>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="background-white" style="padding-top:10px; margin-bottom:10px;">
                            <div class="row ">
                                <div class="col-md-7 padding-bottom">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.drivingLicence.drivingLicenceType)<span class='required'>*</span>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.drivingLicence.drivingLicenceType, Model.drivingLicence.LicenceType, new { id = "sel_LicenceType", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-7 padding-bottom">
                                    <div class="col-md-4">
                                        <label>Driving Licence Image:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <button type="button" class="btn btn-gray btn-xs" data-toggle="modal" data-target="#mdlUploaddrivingLicenceImage">Upload Driving Licence Image</button>
                                        <a class="btn btn-gray btn-xs" id="lnkLicenceFile" target="_blank" href="@Model.drivingLicence.imagePath">View File</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                @{
                                    if (isTeam)
                                    {
                                        <div class="col-md-7 padding-bottom" style="display:none">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.drivingLicence.drivingLicenceNumber)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.drivingLicence.drivingLicenceNumber, new { @class = "form-control" })

                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-7 padding-bottom">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.drivingLicence.drivingLicenceNumber)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.drivingLicence.drivingLicenceNumber, new { @class = "form-control" })

                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            @*<div class="row ">
                                <div class="col-md-7 padding-bottom">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.drivingLicence.drivingLicenceIssueNumber)<span class='required'>*</span>
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.drivingLicence.drivingLicenceIssueNumber, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.drivingLicence.drivingLicenceIssueNumber)
                                    </div>
                                </div>
                            </div>*@
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="row ">
                                        <div class="col-md-7 padding-bottom">
                                            <div class="row padding-bottom">
                                                <div class="col-md-12 padding-bottom">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.drivingLicence.expiryDate)<span class='required'>*</span>
                                                    </div>
                                                    <div class="col-md-5">
                                                        @Html.TextBoxFor(m => m.drivingLicence.expiry, new { id= "expiry", @class = "DatePicker form-control" })
                                                        @Html.HiddenFor(m => m.drivingLicence.expiryDate, new { id = "D_expiryDate"})
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-12 ">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.drivingLicence.categoty.category)<span class='required'>*</span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                @Html.TextBoxFor(m => m.drivingLicence.categoty.category, new { id = "category", @class = "form-control" })
                                                            </div>
                                                            <div class="col-md-2">
                                                                @Html.LabelFor(m => m.drivingLicence.categoty.code)
                                                            </div>
                                                            <div class="col-md-5">
                                                                @Html.TextBoxFor(m => m.drivingLicence.categoty.code, new { id = "cateCode", @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-3 pull-right" style="padding-right: 30px;">
                                                    <button id="btnAddCategory" class="btn btn-gray btn-xs pull-right" type="button">Add</button>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-12 ">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.drivingLicence.medicalHistory)<span class='required'>*</span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.drivingLicence.medicalHistory, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 padding-bottom">
                                            <div class="col-md-12">
                                                <div class="list-box" style="min-height:130px; max-height: 130px;">
                                                    <div class="padding-bottom-5-5">
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12" style="overflow:auto; border-bottom: 2px solid #dddddd;">
                                                            <div class="col-md-4">
                                                                <label style="padding: 2px; margin: 5px 0 0 0; line-height: 1.428571429;">Category:</label>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label style="padding: 2px; margin: 5px 0 0 0; line-height: 1.428571429;">Code:</label>
                                                            </div>
                                                            <div class="col-md-4"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @Html.HiddenFor(m => m.drivingLicence.categorys, new { id = "hdnCategory" })
                                                        <div class="col-md-12" id="divCateList">
                                                            @if (Model.drivingLicence.categories.Count > 0)
                                                            {
                                                                foreach (var item in Model.drivingLicence.categories)
                                                                {
                                                                    <div class="row remCategory">
                                                                        <div class="col-md-12">
                                                                            <div class="col-md-4 cate" data-cate="@item.category">@item.category</div>
                                                                            <div class="col-md-4 code" data-code="@item.code">@item.code</div>
                                                                            <div class="col-md-4"><a href="#" class="required" onclick="RemoveCategory(this); return false;">Remove </a></div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding-bottom">
                    <div class="col-md-12 ">
                        <div class="background-white" style="padding-top:10px;">
                            <div class="row padding-bottom">
                                <div class="col-md-12">
                                    <strong style="padding-left:10px;">
                                        Penalty Points/Disqualifications:
                                    </strong>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="row ">
                                        <div class="col-md-7 padding-bottom">
                                            <div class="row padding-bottom">
                                                <div class="col-md-12 padding-bottom">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.disqualification.numberofPoints)<span class='required'>*</span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.disqualification.numberofPoints, new { id = "numberofPoints", @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-12 padding-bottom">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.disqualification.code)<span class='required'>*</span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.disqualification.code, new { id = "code", @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-12 padding-bottom">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.disqualification.reason)<span class='required'>*</span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(m => m.disqualification.reason, new { id = "reason", @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-12 ">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.disqualification.issuedDate)<span class='required'>*</span>
                                                    </div>
                                                    <div class="col-md-5">
                                                        @Html.TextBoxFor(m => m.disqualification.issued, new { Name= "issuedDate", id = "issuedDate", @class = "DatePicker form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-12 padding-bottom">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.disqualification.expiryDate)<span class='required'>*</span>
                                                    </div>
                                                    <div class="col-md-5">
                                                        @Html.TextBoxFor(m => m.disqualification.expiryDate, new { id = "expiryDate", @class = "DatePicker form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-12 right" style="padding-right: 30px;">
                                                    <button id="btnDisqualification" class="btn btn-gray btn-xs pull-right" type="button">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 padding-bottom">
                                            <div class="col-md-12">
                                                <div class="list-box" style="min-height:130px; max-height: 130px;">
                                                    <div class="padding-bottom-5-5">
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12" style="overflow:auto; border-bottom: 2px solid #dddddd;">
                                                            <div class="col-md-3">
                                                                <label style="padding: 2px; margin: 5px 0 0 0; line-height: 1.428571429;">Points:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label style="padding: 2px; margin: 5px 0 0 0; line-height: 1.428571429;">Code:</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label style="padding: 2px; margin: 5px 0 0 0; line-height: 1.428571429;">Issued:</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label style="padding: 2px; margin: 5px 0 0 0; line-height: 1.428571429;">Expiry:</label>
                                                            </div>
                                                            <div class="col-md-2"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        @Html.HiddenFor(m => m.disqualifications, new { id = "hdnDisquali" })
                                                        <div class="col-md-12" id="disqualification">
                                                            @if (Model.disqualificationsList.Count > 0)
                                                            {
                                                                foreach (var item in Model.disqualificationsList)
                                                                {
                                                                    <div class="row remDisqualifications">
                                                                        <div class="col-md-12">
                                                                            <div class="col-md-3 point" data-point="@item.numberofPoints">@item.numberofPoints</div>
                                                                            <div class="col-md-3 code" data-code="@item.code">@item.code</div>
                                                                            <div class="col-md-2 issued" data-issued="@item.issued">@item.issued</div>
                                                                            <div class="col-md-2 expiry" data-expiry="@item.expiry">@item.expiry</div>
                                                                            <div class="reason" style="display:none" data-reason="@item.reason">@item.reason</div>
                                                                            <div class="col-md-2"><a href="#" class="required" onclick="RemoveDisQualification(this); return false;">Remove </a></div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input class="btn btn-info btn-xs pull-right" type="submit" name="nextBtn" value='Save' />
                        <input class="btn btn-gray btn-xs pull-right btnNext" style="margin-right:10px;" id="btnBack" type="button" name="nextBtn" value='< Back' />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@* pop model start *@
<div class="modal fade" id="mdlUploaddrivingLicenceImage" role="dialog">
    <div class="modal-dialog" style="width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Ajax.BeginForm("UploadDrivingLicence", "Post", optionImage, new { id = "frmUploadDrivingLicence", enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <h4 class="modal-title">Upload Driving Licence Image</h4>
                </div>
                <div class="modal-body">
                    <div class="row padding-bottom-5">
                        <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                            <strong id="popupMsgResponse"></strong>
                        </div>
                        <div class="col-md-12">
                            <div class="portlet">
                                @Html.HiddenFor(m => m.drivingLicence.employeeId, new { id = "employeeId" })
                                <label>Upload Driving Licence Image:</label>
                                <input class="pull-right" type="file" id="liceneUrl" name="liceneUrl" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="button" class="btn btn-primary" id="btnUploadLicenceImage" value="Upload" />
                </div>
            }
        </div>

    </div>
</div>
@* pop model end *@

<script type="text/javascript">
    console.log(arrQuali);
    console.log(arrCate);
    var arrCate = [];
    var arrQuali = [];
    (function () {
        loadDatePicker();

        $('#btnBack').on('click', function () {
            reloadCurrentTab();
        })
    })();

    

    function JSlong_date(str_date) {
        var arrMon = new Array("", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        var date_array = str_date.split("/");
        return new String(Math.abs(date_array[0]) + " " + arrMon[parseInt(date_array[1], 10)] + " " + date_array[2])
    }

    $("#expiry").change(function () {
        $('#D_expiryDate').val(toDate($("#expiry").val()));
    });
    $("#issuedDate").change(function () {
        if ($('expiryDate').val() != "") {
            var BegDate = new Date(Date.parse(JSlong_date(document.getElementById('issuedDate').value)));
            var EndDate = new Date(Date.parse(JSlong_date(document.getElementById('expiryDate').value)));
            if (BegDate.getTime() <= EndDate.getTime()) {
                document.getElementById('issuedDate').style.borderColor = "#b1b1b1";
            }
            else {
                document.getElementById('issuedDate').style.borderColor = "red";
            }
        }
    }); 
    $("#expiryDate").change(function () {
        if ($('issuedDate').val() != "") {
            var BegDate = new Date(Date.parse(JSlong_date(document.getElementById('issuedDate').value)));
            var EndDate = new Date(Date.parse(JSlong_date(document.getElementById('expiryDate').value)));
            if (BegDate.getTime() <= EndDate.getTime()) {
                document.getElementById('expiryDate').style.borderColor = "#b1b1b1";
            }
            else {
                document.getElementById('expiryDate').style.borderColor = "red";
            }
        }
    });

    $('#btnUploadLicenceImage').on('click', function () {
        var dataString;
        var fileSize = document.getElementById('liceneUrl').files[0].size;
        if ($.inArray($("#liceneUrl").val().split('.').pop().toLowerCase(), ALLOWED_FILE_EXTENSION) == -1 || fileSize > MAX_IMAGE_UPLOAD_SIZE) {
            var errorMsg = "";
            if ($.inArray($("#liceneUrl").val().split('.').pop().toLowerCase(), ALLOWED_FILE_EXTENSION) == -1) {
                errorMsg = "Only formats are allowed : " + ALLOWED_FILE_EXTENSION.join(', ') + '.';
            }

            if (fileSize > MAX_IMAGE_UPLOAD_SIZE) {
                errorMsg = errorMsg + ' File size should be less than 1MB';
            }

            popupMessage('popupMessage', 'popupMsgResponse', errorMsg, 'failure');
            return false;
        }

        var action = $("#frmUploadDrivingLicence").attr("action");

        if ($("#frmUploadDrivingLicence").attr("enctype") == "multipart/form-data") {
            //this only works in some browsers.
            //purpose? to submit files over ajax. because screw iframes.
            //also, we need to call .get(0) on the jQuery element to turn it into a regular DOM element so that FormData can use it.
            dataString = new FormData($("#frmUploadDrivingLicence").get(0));
            contentType = false;
            processData = false;
        } else {
            // regular form, do your own thing if you need it
        }

        $.ajax({
            type: "POST",
            url: action,
            data: dataString,
            dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
            contentType: contentType,
            processData: processData,
            success: function (response) {
                console.log(response);
                var response_array = response.split("__imagePath__");
                $('#lnkLicenceFile').attr('href', response_array[1]);
                popupMessage('popupMessage', 'popupMsgResponse', response_array[0], 'success');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('popupMessage', 'popupMsgResponse', "Unable to update driving licence image", 'failure');
                console.log(jqXHR);
            }
        });
    });

    function IsValid() {
        var valid = '';
        if ($("#numberofPoints").val() == "") {
            document.getElementById('numberofPoints').style.borderColor = "red";
            valid = 'false';
        } else {
            if ($.isNumeric($("#numberofPoints").val())) {
                document.getElementById('numberofPoints').style.borderColor = "#b1b1b1";
            }
            else {
                document.getElementById('numberofPoints').style.borderColor = "red";
                valid = 'false';
            }
        }

        if ($("#code").val() == "") {
            document.getElementById('code').style.borderColor = "red";
            valid = 'false';
        } else {
            document.getElementById('code').style.borderColor = "#b1b1b1";
        }

        if ($("#reason").val() == "") {
            document.getElementById('reason').style.borderColor = "red";
            valid = 'false';
        } else {
            document.getElementById('reason').style.borderColor = "#b1b1b1";
        }

        if ($("#issuedDate").val() == "") {
            document.getElementById('issuedDate').style.borderColor = "red";
            valid = 'false';
        } else if ($('expiryDate').val() != "") {
            var BegDate = new Date(Date.parse(JSlong_date(document.getElementById('issuedDate').value)));
            var EndDate = new Date(Date.parse(JSlong_date(document.getElementById('expiryDate').value)));
            if (BegDate.getTime() <= EndDate.getTime()) {
                document.getElementById('issuedDate').style.borderColor = "#b1b1b1";
            }
            else {
                document.getElementById('issuedDate').style.borderColor = "red";
                valid = 'false';
            }
        } else {
            document.getElementById('issuedDate').style.borderColor = "#b1b1b1";
        }

        if ($("#expiryDate").val() == "") {
            document.getElementById('expiryDate').style.borderColor = "red";
            valid = 'false';
        } else if ($('issuedDate').val() != "") {
            var BegDate = new Date(Date.parse(JSlong_date(document.getElementById('issuedDate').value)));
            var EndDate = new Date(Date.parse(JSlong_date(document.getElementById('expiryDate').value)));
            if (BegDate.getTime() <= EndDate.getTime()) {
                document.getElementById('expiryDate').style.borderColor = "#b1b1b1";
            }
            else {
                document.getElementById('expiryDate').style.borderColor = "red";
                valid = 'false';
            }
        } else {
            document.getElementById('expiryDate').style.borderColor = "#b1b1b1";
        }

        if (valid == '') {
            return true;
        }

        return false;
    }

    function toDate(dateStr) {
        var parts = dateStr.split("/");
        return new Date(parts[2], parts[1] - 1, parts[0]);
    }

    // category div add remove start

    $('#btnAddCategory').click(function () {
        var valid = '';
        if ($("#category").val() == "") {
            document.getElementById('category').style.borderColor = "red";
            valid = 'false';
        } else {
            document.getElementById('category').style.borderColor = "#b1b1b1";
        }
        if ($("#cateCode").val() == "") {
            document.getElementById('cateCode').style.borderColor = "red";
            valid = 'false';
        } else {
            document.getElementById('cateCode').style.borderColor = "#b1b1b1";
        }

        if (valid != '') {
            return;
        }

        var appendDiv = "";
        appendDiv = '<div class="row remCategory"> <div class="col-md-12">';
        appendDiv = appendDiv + '<div class="col-md-4 cate" data-cate="' + $("#category").val() + '">' + $("#category").val() + '</div>';
        appendDiv = appendDiv + '<div class="col-md-4 code" data-code="' + $("#cateCode").val() + '">' + $("#cateCode").val() + '</div>';
        appendDiv = appendDiv + ' <div class="col-md-4"><a class="required" href="#" onclick="RemoveCategory(this); return false;">Remove </a></div>';
        appendDiv = appendDiv + '</div></div>';

        $("#divCateList").append(appendDiv);
        getCategory();
        $("#category").val("");
        $("#cateCode").val("");
    });

    function RemoveCategory(string) {
        $(string).parent().parent().parent().remove();
        getCategory();
    }

    function getCategory() {
        arrCate = [];
        $(".remCategory").each(function (index) {
            arrCate.push({
                category: $(this).find('.cate').attr('data-cate'),
                code: $(this).find('.code').attr('data-code')
            });
        });

        $("#hdnCategory").val(JSON.stringify(arrCate));
    }

    // category div add remove end

    // disqualification div add remove start
    $('#btnDisqualification').click(function () {
        if (IsValid()) {
            document.getElementById('numberofPoints').style.borderColor = "#b1b1b1";
            document.getElementById('code').style.borderColor = "#b1b1b1";
            document.getElementById('reason').style.borderColor = "#b1b1b1";
            document.getElementById('issuedDate').style.borderColor = "#b1b1b1";
            document.getElementById('expiryDate').style.borderColor = "#b1b1b1";
            var appendDiv = "";
            appendDiv = '<div class="row remDisqualifications"><div class="col-md-12">';
            appendDiv = appendDiv + '<div class="col-md-3 point" data-point="' + $("#numberofPoints").val() + '">' + $("#numberofPoints").val() + '</div>';
            appendDiv = appendDiv + '<div class="col-md-3 code" data-code="' + $("#code").val() + '">' + $("#code").val() + '</div>';
            appendDiv = appendDiv + '<div class="col-md-2 issued" data-issued="' + $("#issuedDate").val() + '">' + $("#issuedDate").val() + '</div>';
            appendDiv = appendDiv + '<div class="col-md-2 expiry" data-expiry="' + $("#expiryDate").val() + '">' + $("#expiryDate").val() + '</div>';
            appendDiv = appendDiv + '<div class="col-md-2 reason" style="display:none" data-reason="' + $("#reason").val() + '">' + $("#reason").val() + '</div>';
            appendDiv = appendDiv + '<div class="col-md-2"><a class="required" href="#" onclick="RemoveDisQualification(this); return false;">Remove </a></div>';
            appendDiv = appendDiv + '</div></div>';

            $("#disqualification").append(appendDiv);
            getQualifiactions();
            $("#numberofPoints").val("");
            $("#code").val("");
            $("#reason").val("");
            $("#issuedDate").val("");
            $("#expiryDate").val("");
        }
    });

    function RemoveDisQualification(string) {
        $(string).parent().parent().parent().remove();
        getQualifiactions();
    }

    function getQualifiactions() {
        arrQuali = [];
        $(".remDisqualifications").each(function (index) {
            arrQuali.push({
                numberofPoints: $(this).find('.point').attr('data-point'),
                code: $(this).find('.code').attr('data-code'),
                reason: $(this).find('.reason').attr('data-reason'),
                issuedDate: toDate($(this).find('.issued').attr('data-issued')),
                expiryDate: toDate($(this).find('.expiry').attr('data-expiry')),
                employeeId: $('#hdnemployeeId').val()
            });
        });

        $("#hdnDisquali").val(JSON.stringify(arrQuali));
    }
    // disqualification div add remove end

    // image popup methods 

    function OnFailureImage(response) {
        popupMessage('message', 'msgResponse', response, 'failure');
    }

    function OnBeginImage() {

    }

    function OnSuccessImage(response) {
        popupMessage('message', 'msgResponse', response, 'success');
    }

    // main page methods 

    function OnFailure(response) {
        popupMessage('message', 'msgResponse', response, 'failure');
    }

    function OnBegin() {

    }

    function OnSuccess(response) {
        popupMessage('message', 'msgResponse', response, 'success');
    }

</script>
