﻿@model  BHGHRModuleWeb.ViewModels.PayPointSupportViewModel

<style>
    input[type="radio"] {
        margin: 1px;
    }
</style>

<div class="modal-dialog" style="width:912px;height:100px">
    <!-- Modal content-->
    <div class="modal-body" style="background-color:white">
        <div class="row">
            <div class="col-md-12 alert alert-success" id="popupPayPointMessage" style="display:none">
                <strong id="popupPayPointMsgResponse"></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><b>Salary Change Authorisation</b></p>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-6">
                <div class="portlet portlet-full">
                    <div class="row">
                        <div class="col-md-12">
                            <p>To be completed by Line Managers ONLY.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            Name of Employee:
                        </div>
                        <div class="col-md-7">
                            @Model.employeeName
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            Job Title:
                        </div>
                        <div class="col-md-7">
                            @Model.jobTitle
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p><b>Current Salary Information:</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong style="padding-right:10px;">Salary:</strong>
                            @if (Model.salary != null)
                            {
                                <span>&pound;@Model.salary</span>
                            }
                        </div>
                        <div class="col-md-4">
                            <strong style="padding-right:10px;">Grade:</strong>@Model.grade
                        </div>
                        <div class="col-md-4">
                            <strong style="padding-right:10px;">Point:</strong>@Model.gradePoint
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet portlet-full">
                    <div class="row">
                        <div class="col-md-12">
                            <p><b>Proposed Salary Information</b></p>
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-4">
                            <strong>Salary:</strong>
                        </div>
                        <div class="col-md-8">
                            &pound;@Model.payPoint.proposedSalary
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-4">
                            <strong>Grade:</strong>
                        </div>
                        <div class="col-md-8">
                            @Model.payPoint.gradeDescription
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-4">
                            <strong>Point:</strong>
                        </div>
                        <div class="col-md-8">
                            @Model.payPoint.gradePointDescription
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-8">
                            <strong>Proposed Date to be effective from:</strong>
                        </div>
                        <div class="col-md-4">
                            @Model.payPoint.dateProposed
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Detailed rationale for salary point change:
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-12">
                            @Model.payPoint.detailRationale
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-7">
                            Submitted Line Manager:
                        </div>
                        <div class="col-md-5">
                            yes (@Model.payPoint.approvedDate)
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-7">
                        </div>
                        <div class="col-md-5">
                            @Model.payPoint.approvedByName
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-6">
                @Html.HiddenFor(m => m.ceoId,new { id= "ceoId" })
                @Html.HiddenFor(m => m.execDirectorId, new { id = "execDirectorId" })
                @Html.HiddenFor(m => m.isCeo, new { id = "isCeo" })
                @Html.HiddenFor(m => m.payPoint.paypointId, new { id = "paypointId" })
                @Html.HiddenFor(m => m.payPoint.reason, new { id = "reason" })
            </div>
            <div class="col-md-6">
                @if (Model.isCeo==0 && Model.payPoint.paypointStatusDescription == "Submitted")
                {
                    <div class="portlet portlet-full">
                        <div class="row">
                            <div class="col-md-12">
                                <p><b>As Executive Director, Do you support this request?</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-1">
                                Yes
                            </div>
                            <div class="col-md-1">
                                <input type="radio" name="supported" value="4" />
                            </div>
                            <div class="col-md-1">
                                No
                            </div>
                            <div class="col-md-1">
                                <input type="radio" name="supported" value="3" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">Reason:</div>
                            <div class="col-md-5">
                                <input type="text" name="txtReason" id="txtReason" />
                                @*@Html.TextBoxFor(m => m.start, new { id = "txtStartDateAbsence", Name = "startDate", @class = "DatePicker form-control" })*@
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="portlet portlet-full">
                        <div class="row padding-bottom-5">
                            <div class="col-md-7">
                                This request has been supported?:
                            </div>
                            <div class="col-md-5">
                                @if (Model.payPoint.supported.HasValue && Model.payPoint.supported.Value == true)
	                            {
                                    <span>yes</span>
                                }
                                else
                                {
                                    <span>no</span>
                                }
                                (@Model.payPoint.supportedDate)
                            </div>
                        </div>
                        <div class="row padding-bottom-5">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-5">
                                @Model.payPoint.supportedByName
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">Reason:</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Model.payPoint.reason
                            </div>
                        </div>
                    </div>
                }
                @*else
                {
                    <div class="portlet portlet-full">
                        <div class="row">
                            <div class="col-md-12">
                                <p><b>As a Chief Executive Officer,Please Authorise or Decline this request?</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">
                                Authorise
                            </div>
                            <div class="col-md-1">
                                <input type="radio" name="author" value="2" />
                            </div>
                            <div class="col-md-1">
                                Decline
                            </div>
                            <div class="col-md-1">
                                <input type="radio" name="author" value="3" style="margin-left:17px" />
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">Reason:</div>
                            <div class="col-md-5">
                                <input type="text" name="txtReason" id="txtReason" />
                                @* @Html.TextBoxFor(m => m.start, new { id = "txtStartDateAbsence", Name = "startDate", @class = "DatePicker form-control" })* @
                            </div>
                        </div>
                    </div>
                }*@
            </div>
        </div>
    </div>
    <div class="modal-footer" style="background-color:white;margin-top:0px">
        @if (Model.isCeo == 0 && Model.payPoint.paypointStatusDescription == "Submitted")
        {
            <button id="submitPayPoint" class="btn btn-primary btn-ok">Save</button>
        }
        <button type="button" class="btn btn-default" data-dismiss="modal"> < Back</button>
    </div>
</div>

<script>

    //$("#closePopup").click(function () {
    //    $('#requestPayPoint').modal('hide');
    //    reloadCurrentTab();
    //});

    $("#submitPayPoint").click(function () {
        event.preventDefault();
        var request = new Object();
        request.reason = $("#reason").val();
        if ($("#isCeo").val() == 1) {
            request.paypointId = $("#paypointId").val();
            request.lastActionUser = $("#ceoId").val();
            request.statusId = $("input[name=author]:checked").val();
            request.reason = $("#txtReason").val();
        } else {
            request.paypointId = $("#paypointId").val();
            request.lastActionUser = $("#execDirectorId").val();
            request.statusId = $("input[name=supported]:checked").val();
            request.reason = $("#txtReason").val();
        }

        if (typeof request.statusId == 'undefined' || request.statusId == '') {
            popupMessage('popupPayPointMessage', 'popupPayPointMsgResponse', "Select PayPoint status.", 'failure');
        } else {
            $.ajax({
                url: '@Url.Action("UpdatePaypointStatus", "Reports")',
                type: 'POST',
                data: request,
                success: function (resp) {
                    if (resp != "")
                        resp = JSON.parse(resp)

                    if (resp = "Paypoint updated successfully.") {
                        popupMessage('popupPayPointMessage', 'popupPayPointMsgResponse', resp, 'success');
                        $('#submitPayPoint').prop('disabled', true);
                        $('#requestPayPoint').modal('hide');
                        reloadCurrentTab();
                    } else {
                        popupMessage('popupPayPointMessage', 'popupPayPointMsgResponse', "PayPoint not updated", 'failure');
                    }
                }
            });
        }
    });

</script>