﻿@model BHGHRModuleWeb.ViewModels.PersonalDetailViewModel

@{
    Layout = null;
    ViewBag.Title = "Employee Personal Detail";
    bool isEdit = ViewBag.isEdit == "edit";
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    //options.UpdateTargetId = "divContainer";
    if (!isEdit)
    {
        options.OnFailure = "OnFailureServerResponse";
        options.OnBegin = "ValidatePersonalDetail";
        options.OnSuccess = "OnSuccessPersonalDetail";
    }
    else
    {
        options.OnFailure = "OnEditFailure";
        options.OnBegin = "OnEditBegin";
        options.OnSuccess = "OnEditSuccess";
    }

    // all feilds are readonly when user view his own profile
    var isMyJob = false;
    var isDisabled = "false";

    if (Session["Module"] != null && Session["Module"].ToString() == "MyJob")
    {
        isMyJob = true;
    }

    var isTeam = false;
    if (TempData.ContainsKey("isTeam"))
    {
        isTeam = bool.Parse(TempData["isTeam"].ToString());
    }
    TempData.Keep("isTeam");

    if (isMyJob)
    {
        isDisabled = "true";
    }

    if (isTeam)
    {
        isDisabled = "false";
    }
}

@using (Ajax.BeginForm("Save", "PersonalDetail", new { }, options, new { id = "frmPersonalDetail", enctype = "multipart/form-data" }))
{
    <div class="row padding-bottom"></div>
    Html.ValidationSummary(true);

    <div class="row padding-bottom">
        <div class="col-md-7">
            <div class="row padding-bottom">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.employeeDetail.title, new { @class = "control-label" })<span class='required'>*</span>
                </div>
                <div class="col-md-3">
                    @Html.HiddenFor(m => m.employeeDetail.employeeId)
                    @Html.HiddenFor(m => m.isGift)
                    @Html.DropDownListFor(m => m.employeeDetail.title, Model.titles, new { @class = "form-control" })
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.employeeDetail.firstName)<span class='required'>*</span>
                </div>
                <div class="col-md-9 ">
                    @Html.TextBoxFor(m => m.employeeDetail.firstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.employeeDetail.firstName)
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.employeeDetail.middleName)
                </div>
                <div class="col-md-9 ">
                    @Html.TextBoxFor(m => m.employeeDetail.middleName, new { @class = "form-control" })
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.employeeDetail.lastName)<span class='required'>*</span>
                </div>
                <div class="col-md-9 ">
                    @Html.TextBoxFor(m => m.employeeDetail.lastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.employeeDetail.lastName)
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.employeeDetail.aka)
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.employeeDetail.aka, new { @class = "form-control" })
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.employeeDetail.dob)<span class='required'>*</span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.employeeDetail.dob, Model.employeeDetail.ModelDateFormate, new { @class = "DatePicker form-control" })
                    @Html.ValidationMessageFor(m => m.employeeDetail.dob)
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.employeeDetail.gender)
                </div>
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.employeeDetail.gender, Model.genders, new { @class = "form-control" })
                </div>
            </div>
            @{ 
                if (isTeam == true)
                {
                    <div class="row padding-bottom" style="display:none">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.employeeDetail.niNumber)
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.employeeDetail.niNumber, new { @class = "form-control" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="row padding-bottom">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.employeeDetail.niNumber)
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.employeeDetail.niNumber, new { @class = "form-control" })
                        </div>
                    </div>
                }
            }
            <div class="row padding-bottom">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.employeeDetail.dbsDate)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.employeeDetail.dbsDate, Model.employeeDetail.ModelDateFormate, new { @class = "DatePicker form-control" })
                </div>
                @{ 
                    if (isTeam == true)
                    {
                    <div class="col-md-1" style="display:none">
                        @Html.LabelFor(m => m.employeeDetail.reference)
                    </div>
                    <div class="col-md-4"  style="visibility:hidden">
                        @Html.TextBoxFor(m => m.employeeDetail.reference, new { @class = "form-control" })
                    </div>
                    }
                    else
                    {
                        <div class="col-md-1">
                            @Html.LabelFor(m => m.employeeDetail.reference)
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.employeeDetail.reference, new { @class = "form-control" })
                        </div>
                    }
                }
            </div>
            <div class="row padding-bottom">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.employeeDetail.dbsReminderDate)
                </div>
                <div class="col-md-9">
                   @Html.TextBoxFor(m => m.employeeDetail.dbsReminderDate, Model.employeeDetail.ModelDateFormate, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.employeeDetail.maritalStatus)
                </div>
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.employeeDetail.maritalStatus, Model.maritalStatuses, new { @class = "form-control" })
                </div>
            </div>
          @{ 
              if (isTeam == true) { 
                    <div class="row padding-bottom" style="display:none">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.employeeDetail.ethnicity)
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.employeeDetail.ethnicity, Model.ethnicities, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row padding-bottom" style="display:none">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.employeeDetail.religion)
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.employeeDetail.religion, Model.religions, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row padding-bottom" style="display:none">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.employeeDetail.sexualOrientation)
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.employeeDetail.sexualOrientation, Model.sexualOrientations, new { @class = "form-control" })
                        </div>
                    </div>
              }
              else
              {
                <div class="row padding-bottom">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.employeeDetail.ethnicity)
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.employeeDetail.ethnicity, Model.ethnicities, new { @class = "form-control" })
                    </div>
                </div>
                    <div class="row padding-bottom">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.employeeDetail.religion)
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.employeeDetail.religion, Model.religions, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row padding-bottom">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.employeeDetail.sexualOrientation)
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.employeeDetail.sexualOrientation, Model.sexualOrientations, new { @class = "form-control" })
                        </div>
                    </div>

              }
        }
        </div>
                
        <div class="col-md-5">
            <div class="row padding-bottom">
                <div class="col-md-12">
                    <div class="portlet">
                        
                        @if (isEdit)
                        {
                            <div class="row">
                                <div class="col-md-7 col-xs-7" style="padding-right: 0;">
                                    @Html.LabelFor(m => m.employeeDetail.profile)
                                    <div style="text-align:justify; min-height: 150px; max-height: 150px; overflow-y: scroll; margin-right:10px; margin-right: 0 !important;">
                                        <p style="padding-right: 3px;">
                                            @Model.employeeDetail.profile
                                        </p>
                                    </div>
                                    @Html.HiddenFor(m => m.employeeDetail.profile)
                                </div>
                                <div class="col-md-5 col-xs-5">
                                    <img class="pull-right padding-bottom-5" style="height: 150px; width:100%;" src="@Model.employeeDetail.imagePath" />
                                    @Html.HiddenFor(m => m.employeeDetail.imagePath)
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button style="width:100%;" class="btn btn-gray btn-xs pull-right" type="button" data-toggle="modal" data-target="#editProfilePicture">Edit Profile</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.LabelFor(m => m.employeeDetail.profile)
                            @Html.TextAreaFor(m => m.employeeDetail.profile, 5, 3, new { @class = "form-control personalDetail" })
                        }
                    </div>
                </div>
            </div>
            @if (!isEdit)
            {
                <div class="row padding-bottom">
                    <div class="col-md-12">
                        <div class="portlet">
                            <label>Profile Image:</label>
                            <input type="file" id="file" name="file" class="pull-right" />
                        </div>
                    </div>
                </div>
            }
            <div class="row padding-bottom">
                <div class="col-md-12">
                    <div class="portlet">
                        <label>My Contact Details:</label>
                        @if (isEdit)
                        {
                            <button id="btnAmendContactDetail" class="btn btn-gray btn-xs pull-right" type="button" data-toggle="modal" data-target="#contactDetail">Amend</button>
                        }
                        else
                        {
                            <button disabled class="btn btn-gray btn-xs pull-right" type="button" data-toggle="modal" data-target="#contactDetail">Amend</button>
                        }
                    </div>
                </div>
            </div>
            @if (isDisabled == "false")
            {
                <div class="row padding-bottom">
                    <div class="col-md-12">
                        <div class="portlet">
                            <label>References:</label>
                            @if (isEdit)
                            {
                                <button id="btnAmendReferenceDocuments" class="btn btn-gray btn-xs pull-right" type="button" data-toggle="modal" data-target="#reference">Amend</button>
                            }
                            else
                            {
                                <button disabled class="btn btn-gray btn-xs pull-right" type="button" data-toggle="modal" data-target="#reference">Amend</button>
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="row padding-bottom">
                <div class="col-md-12">
                    <div class="portlet">
                        <label>Declaration of Interests:</label>
                        @if (isEdit && (Model.employeeDetail.doiStatusName == null || Model.employeeDetail.doiStatusName == "Pending Review"))
                        {
                            <button id="btnDeclaration" class="btn btn-gray btn-xs pull-right" type="button">Amend</button>
                        }
                        else if (Model.employeeDetail.doiStatusName == "Submitted")
                        {
                            <button disabled class="btn btn-gray btn-xs pull-right" type="button">Reviewed</button>
                        }
                        else if (Model.employeeDetail.doiStatusName == "Approved")
                        {
                            <button disabled class="btn btn-gray btn-xs pull-right" type="button">Approved</button>
                        }
                        @if (!(string.IsNullOrEmpty(Model.employeeDetail.doiStatusDisplay)))
                        {
                            <br />
                            <span>@Model.employeeDetail.doiStatusDisplay</span>
                        }
                    </div>
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-md-12">
                    <div class="portlet">
                        <label>Gift & Hospitality:</label>
                        <button id="btnGift" class="btn btn-gray btn-xs pull-right" type="button">View</button>
                        @*@if (isEdit && !Model.employeeDetail.isFiscalYearGiftEntered)
                        {
                            <button id="btnGift" class="btn btn-gray btn-xs pull-right" type="button">View</button>
                        }
                        else
                        {
                            if (Model.employeeDetail.isFiscalYearGiftEntered)
                            {
                                <button id="btnAddGift" class="btn btn-gray btn-xs pull-right" type="button">
                                    View
                                </button>
                            }
                            else
                            {
                                <button disabled class="btn btn-gray btn-xs pull-right" type="button">
                                    View
                                </button>
                            }
                        }*@
                    </div>
                </div>
            </div>
            @if (isDisabled == "false")
            {
                <div class="row padding-bottom">
                    <div class="col-md-12">
                        <div class="portlet">
                            @if (Model.isDirector)
                            {
                                <label>Pay Point</label><span> Eligible for Submission <strong>@Model.employeeDetail.paypointReviewDate</strong>:</span>
                                if (Model.employeeDetail.statusDisplay.Contains("Declined") || Model.employeeDetail.statusDisplay.Contains("Supported"))
                                {
                                    <button disabled class="btn btn-gray btn-xs pull-right" type="button">Support</button>
                                }
                                else
                                {
                                    <button data-id="@Model.employeeDetail.employeeId" class="btn btn-gray btn-xs pull-right popUpRequest" type="button">Support</button>
                                }
                            }
                            else if (!String.IsNullOrEmpty(Model.employeeDetail.paypointReviewDate) && isEdit)
                            {
                                <label>Pay Point</label><span> Eligible for Submission <strong>@Model.employeeDetail.paypointReviewDate</strong>:</span>
                                <button id="btnSalary" class="btn btn-gray btn-xs pull-right" type="button">Submit</button>
                            }
                            else
                            {
                                <label>Pay Point:</label>
                                <button disabled class="btn btn-gray btn-xs pull-right" type="button">Submit</button>
                            }
                            @if (!(string.IsNullOrEmpty(Model.employeeDetail.paypointStatusDisplay)))
                            {
                                <br />
                                <span>@Model.employeeDetail.paypointStatusDisplay</span>
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="row padding-bottom">
                <div class="col-md-12">
                    <div class="portlet">
                        <label>Driving Licence:</label>
                        @if (isEdit)
                        {
                            <button id="btnAmendDrivingLicence" class="btn btn-gray btn-xs pull-right" type="button">Submit</button>
                        }
                        else
                        {
                            <button disabled class="btn btn-gray btn-xs pull-right" type="button">Submit</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @if (isEdit)
            {
                <input class="btn btn-info btn-xs pull-right btnNext" id="btnUpdate" type="submit" name="nextBtn" value='Update Employee Record' />
            }
            else
            {
                <input class="btn btn-info btn-xs pull-right btnNext" id="btnSavePersonalDetail" type="button" name="nextBtn" value='Save Employee Record' />
                <input class="btn btn-info btn-xs pull-right btnNext" style="display:none;" onclick="jumpToNextTab()" id="btnSaveEmployeeDetail" type="button" value='Save Employee Record' />
            }
        </div>
    </div>
}

@* pop model start *@
<div class="modal fade" id="contactDetail" role="dialog">

</div>
<div class="modal fade" id="reference" role="dialog">
    
</div>
<div class="modal fade" id="editProfilePicture" role="dialog">
    <div class="modal-dialog" style="width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Ajax.BeginForm("UpdateEmployeeImage", "PersonalDetail",options, new { id = "frmUpdateEmployeeImage", enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Profile</h4>
                </div>
                <div class="modal-body">
                    <div class="row padding-bottom-5">
                        <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                            <strong id="popupMsgResponse"></strong>
                        </div>
                        <div class="col-md-12">
                            <div class="portlet">
                                @Html.HiddenFor(m => m.employeeDetail.employeeId, new { id= "employeeId" })
                                <label>Upload Picture:</label>
                                <input class="pull-right" type="file" id="pictureUrl" name="pictureUrl" />
                            </div>
                        </div>
                        <div class="col-md-12">
                           &nbsp
                        </div>
                        <div class="col-md-12">
                            <b><label>Profile Text</label></b>
                        </div>
                        <div class="col-md-12">
                            @Html.TextAreaFor(m => m.employeeDetail.profile, 10, 3, new { id = "profile", @class = "form-control personalDetail" })                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="button" class="btn btn-primary" id="btnProfilePictureUpload" value="Save" />
                </div>
            }
        </div>

    </div>
</div>
<div class="modal fade padding-bottom" id="requestPayPoint" role="dialog">
    <div id="payPointContainer"></div>
</div>
@* pop model end *@

<script type="text/javascript">

    $("#file").change(function () {
        var fileSize = document.getElementById('file').files[0].size;
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), ALLOWED_IMAGE_EXTENSION) == -1 || fileSize > MAX_IMAGE_UPLOAD_SIZE) {
            var errorMsg = "";
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), ALLOWED_IMAGE_EXTENSION) == -1) {
                errorMsg = "Only formats are allowed : " + ALLOWED_IMAGE_EXTENSION.join(', ') + '.';
            }

            if (fileSize > MAX_IMAGE_UPLOAD_SIZE) {
                errorMsg = errorMsg + ' File size should be less than 1MB';
            }
            popupMessage('message', 'msgResponse', errorMsg, 'failure');
        }
    });

    $("#pictureUrl").change(function () {
        var fileSize = document.getElementById('pictureUrl').files[0].size;
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), ALLOWED_IMAGE_EXTENSION) == -1 || fileSize > MAX_IMAGE_UPLOAD_SIZE) {
            var errorMsg = "";
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), ALLOWED_IMAGE_EXTENSION) == -1) {
                errorMsg = "Only formats are allowed : " + ALLOWED_IMAGE_EXTENSION.join(', ') + '.';
            }

            if (fileSize > MAX_IMAGE_UPLOAD_SIZE) {
                errorMsg = errorMsg + ' File size should be less than 1MB';
            }
            popupMessage('popupMessage', 'popupMsgResponse', errorMsg, 'failure');
        }
    });

    $("#employeeDetail_dbsDate").on('change', function () {
        // If value is not empty

        if ($('#employeeDetail_dbsDate').val() != undefined && $('#employeeDetail_dbsDate').val() != '') {
            var dbsDate = $('#employeeDetail_dbsDate').val();
            var date = JSlong_date(dbsDate);
            var newDate = new Date(date)
            var monthsToAdd = 30;
            
            newDate.setMonth(newDate.getMonth() + monthsToAdd);

            var dd = newDate.getDate();
            var mm = newDate.getMonth() + 1;
            var y = newDate.getFullYear();
            var someFormattedDate = ('0' + dd).slice(-2) + '/' + ('0' + mm).slice(-2) + '/' + y;
            $("#employeeDetail_dbsReminderDate").val(someFormattedDate);
            
        }

    });

    $('.popUpRequest').on('click', function () {
        //console.log($(this).data('ceo'));
        //console.log($(this).data('status'));
        console.log($(this).data('id'));
        //if (($(this).data('ceo') == 1 && $(this).data('status') == 'Supported' || $(this).data('status') == 'Submitted') || ($(this).data('ceo') == 2 && $(this).data('status') == 'Submitted')) {
            
        //}
        $.get('@Url.Action("GetPayPointRequest", "PersonalDetail")' + '/' + $(this).data('id'), function (data) {
            $('#payPointContainer').html(data);
            $('#requestPayPoint').modal('show');
        });
        //do stuff
    });

    function JSlong_date(str_date) {
        var arrMon = new Array("", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        var date_array = str_date.split("/");
        return new String(Math.abs(date_array[0]) + " " + arrMon[parseInt(date_array[1], 10)] + " " + date_array[2])
    }

    function OnFailureServerResponse(data) {
        OnEditFailure(data);
        jumpToPreviousTab();
    }

    function ValidatePersonalDetail() {
        //var isValid = $('#frmPersonalDetail').valid();
        ////jumpToNextTab();
        //$.validator.unobtrusive.parse(document);
        //if (!isValid) {
        //    //TODO:
        //    // form not valid
        //}
    }

    function OnSuccessPersonalDetail(data) {
        OnEditSuccess(data);
        var obj = jQuery.parseJSON(data);
        if (obj != undefined && obj.personalDetail != undefined) {
            var url = '@Url.Action("ContactDetail", "PersonalDetail")';
            url = url + "?id=" + obj.personalDetail.employeeId
            $('#contactDetail').load(url);
            $('#btnSavePersonalDetail').hide();
            $('#btnSaveEmployeeDetail').show();
            $('#contactDetail').modal('show');
        }
    }

    function OnEditFailure(response) {
        var obj = jQuery.parseJSON(response);
        $('#message').removeClass('alert-success');
        $('#message').addClass('alert-danger');
        $('#msgResponse').text(obj.message)
        $("#message").show().delay(5000).fadeOut();
    }

    function OnEditBegin() {

    }

    function OnEditSuccess(response) {
        var obj = jQuery.parseJSON(response);
        $('#message').removeClass('alert-danger');
        $('#message').addClass('alert-success');
        $('#msgResponse').text(obj.message)
        $("#message").show().delay(5000).fadeOut();
    }

    (function () {
        loadDatePicker();
        if ($('#isGift').val() == "true" || $('#isGift').val() == "True") {
            var url = '@Url.Action("GiftMaster", "PersonalDetail", new { id= ViewContext.RouteData.Values["id"], isGift = true })';
            $('#divContainer').load(url);
        } 

        $('#btnAmendContactDetail').on('click', function () {
            var url = '@Url.Action("ContactDetail", "PersonalDetail", new { id= ViewContext.RouteData.Values["id"] })';
            $('#contactDetail').load(url);
        })

        $('#btnAmendReferenceDocuments').on('click', function () {
            var url = '@Url.Action("ReferenceDocuments", "PersonalDetail", new { id= ViewContext.RouteData.Values["id"] })';
            $('#reference').load(url);
        })

        $('#btnDeclaration').on('click', function () {
            var url = '@Url.Action("Interest", "PersonalDetail", new { id= ViewContext.RouteData.Values["id"] })';
            $('#divContainer').load(url);
        })

        $('#btnGift').on('click', function () {
            var url = '@Url.Action("GiftMaster", "PersonalDetail", new { id= ViewContext.RouteData.Values["id"] })';
            $('#divContainer').load(url);
        })

        $('#btnSalary').on('click', function () {
            var url = '@Url.Action("SalaryInformation", "PersonalDetail", new { id= ViewContext.RouteData.Values["id"] })';
            $('#divContainer').load(url);
        })

        $('#btnAddGift').on('click', function () {
            popupMessage('message', 'msgResponse', "You have already save for current fiscal year", 'failure');
        })

        //$('#btnAddDeclaration').on('click', function () {
        //    popupMessage('message', 'msgResponse', "You have already save for current fiscal year", 'failure');
        //})
        $('#btnAmendDrivingLicence').on('click', function () {
            var url = '@Url.Action("DrivingLicence", "PersonalDetail", new { id= ViewContext.RouteData.Values["id"] })';
            $('#divContainer').load(url);
        })

        var formDataFilter = function (formData) {
            if (!(window.FormData && formData instanceof window.FormData)) return formData
            if (!formData.keys) return formData // unsupported browser
            var newFormData = new window.FormData()
            Array.from(formData.entries()).forEach(function (entry) {
                var value = entry[1]
                if (value instanceof window.File && value.name === '' && value.size === 0) {
                    newFormData.append(entry[0], new window.Blob([]), '')
                } else {
                    newFormData.append(entry[0], value)
                }
            })
            return newFormData
        }

        $('#btnSavePersonalDetail').on('click', function () {
            var dataString;
            event.preventDefault();
            var fileSize = 0;
            if (document.getElementById('file').files[0] != undefined) {
                fileSize = document.getElementById('file').files[0].size;

                if ($.inArray($("#file").val().split('.').pop().toLowerCase(), ALLOWED_IMAGE_EXTENSION) == -1 || fileSize > MAX_IMAGE_UPLOAD_SIZE) {
                    var errorMsg = "";
                    if ($.inArray($("#file").val().split('.').pop().toLowerCase(), ALLOWED_IMAGE_EXTENSION) == -1) {
                        errorMsg = "Only formats are allowed : " + ALLOWED_IMAGE_EXTENSION.join(', ') + '.';
                    }

                    if (fileSize > MAX_IMAGE_UPLOAD_SIZE) {
                        errorMsg = errorMsg + ' File size should be less than 1MB';
                    }

                    popupMessage('message', 'msgResponse', errorMsg, 'failure');
                    return false;
                }
            }



            var action = $("#frmPersonalDetail").attr("action");
            if ($("#frmPersonalDetail").attr("enctype") == "multipart/form-data") {
                //this only works in some browsers.
                //purpose? to submit files over ajax. because screw iframes.
                //also, we need to call .get(0) on the jQuery element to turn it into a regular DOM element so that FormData can use it.
                dataString = new FormData($("#frmPersonalDetail").get(0));
                contentType = false;
                processData = false;
            } else {
                // regular form, do your own thing if you need it
            }
            dataString = formDataFilter(dataString);
            $.ajax({
                type: "POST",
                url: action,
                enctype: 'multipart/form-data',
                data: dataString,
                dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: contentType,
                processData: processData,
                beforeSend: function (e) {
                    $('#loader').show();
                    var inputs = $('input[id="file"]:not([disabled])');
                    if (inputs[0] == undefined) {

                    }
                    else {
                        if (inputs[0].files.length > 0) return
                        inputs[0].setAttribute('data-safari-temp-disabled', 'true')
                        inputs[0].setAttribute('disabled', 'true')
                    }
                },
                success: function (response) {
                    console.log(response);
                    var obj = jQuery.parseJSON(response);
                    if (obj.isSuccessFul) {

                        popupMessage('message', 'msgResponse', obj.message, 'success');
                        if (obj != undefined && obj.personalDetail != undefined) {
                            var url = '@Url.Action("ContactDetail", "PersonalDetail")';
                            url = url + "?id=" + obj.personalDetail.employeeId
                            $('#contactDetail').load(url);
                            $('#contactDetail').modal('show');
                            $('#btnSavePersonalDetail').hide();
                            $('#btnSaveEmployeeDetail').show();
                        }
                    }
                    else {
                        popupMessage('message', 'msgResponse', obj.message, 'failure');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //do your own thing
                    popupMessage('message', 'msgResponse', "Unable to save record", 'failure');
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        });

        $('#btnProfilePictureUpload').on('click', function () {
            var dataString;

            if (document.getElementById('pictureUrl').files[0] != undefined)
                {
                    var fileSize = document.getElementById('pictureUrl').files[0].size;
                    if ($.inArray($("#pictureUrl").val().split('.').pop().toLowerCase(), ALLOWED_IMAGE_EXTENSION) == -1 || fileSize > MAX_IMAGE_UPLOAD_SIZE) {
                        var errorMsg = "";
                        if ($.inArray($("#pictureUrl").val().split('.').pop().toLowerCase(), ALLOWED_IMAGE_EXTENSION) == -1) {
                            errorMsg = "Only formats are allowed : " + ALLOWED_IMAGE_EXTENSION.join(', ') + '.';
                        }

                        if (fileSize > MAX_IMAGE_UPLOAD_SIZE) {
                            errorMsg = errorMsg + ' File size should be less than 1MB';
                        }

                        popupMessage('popupMessage', 'popupMsgResponse', errorMsg, 'failure');
                        return false;
                    }
            }
            var action = $("#frmUpdateEmployeeImage").attr("action");
            if ($("#frmUpdateEmployeeImage").attr("enctype") == "multipart/form-data") {
                //this only works in some browsers.
                //purpose? to submit files over ajax. because screw iframes.
                //also, we need to call .get(0) on the jQuery element to turn it into a regular DOM element so that FormData can use it.
                dataString = new FormData($("#frmUpdateEmployeeImage").get(0));
                contentType = false;
                processData = false;
            } else {
                // regular form, do your own thing if you need it
            }
            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: contentType,
                processData: processData,
                success: function (response) {
                    console.log(response);
                    popupMessage('popupMessage', 'popupMsgResponse', response, 'success');
                    popupMessage('message', 'msgResponse', response, 'success');
                    reloadCurrentTab();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //do your own thing
                    popupMessage('popupMessage', 'popupMsgResponse', "Unable to update profile", 'failure');
                    console.log(jqXHR);
                }
            });
        });
    })();
</script>

