﻿@model BHGHRModuleWeb.ViewModels.ReferenceDocumentViewModel
@{
    ViewBag.Title = "_ReferenceDocument";
    bool isEdit = Model.requestType == "edit";
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
}

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">References</h4>
        </div>
        <div class="modal-body">
            <div class="row padding-bottom-5">
                <div class="col-md-12 alert alert-success" id="popupMessageReference" style="display:none">
                    <strong id="popupMsgResponseReference"></strong>
                </div>
                @using (Ajax.BeginForm("UpdateEmployeeReferenceDocument", "PersonalDetail", options, new { id = "frmUpdateReferenceDocument", enctype = "multipart/form-data" }))
                {
                    <div class="col-md-10">
                        <div class="portlet">
                            @Html.HiddenFor(m => m.employeeId, new { id = "employeeId" })
                            <label>Upload Document:</label>
                            <input class="pull-right" type="file" id="referenceDocument" name="reference" />
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-top:10px;">
                        <input type="button" class="btn btn-primary" id="btnUpdateReferenceDocument" value="Upload" />
                    </div>
                }
            </div>
            <div id="refenceDocumentList">
                <div class="row padding-bottom-5">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Uploaded:
                                        </th>
                                        <th>
                                            File Name:
                                        </th>
                                        <th>
                                            By:
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Documents != null && Model.Documents.Count > 0)
                                    {
                                        foreach (var item in Model.Documents)
                                        {
                                            <tr>
                                                <td>@item.createdDate</td>
                                                <td><a target="_blank" href="@item.documentPath">@item.documentName</a></td>
                                                <td>@item.createdByName</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="3" align="center">No record found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="modal-footer">
            @if (isEdit)
            {
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            }
            else
            {
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="moveNext()">Close</button>
            }
        </div>
    </div>
</div>


<script type="text/javascript">

    function moveNext() {
        jumpToNextTab();
    }

    $("#referenceDocument").change(function () {
        var fileSize = document.getElementById('referenceDocument').files[0].size;
        if (fileSize > MAX_FILE_UPLOAD_SIZE) {
            popupMessage('popupMessageReference', 'popupMsgResponseReference', 'File size should be less than 20MB', 'failure');
        }
    });

    (function () {
        $('#btnUpdateReferenceDocument').on('click', function () {
            var dataString;
            var fileSize = 0;
            if (document.getElementById('referenceDocument').files[0] != undefined) {
                fileSize = document.getElementById('referenceDocument').files[0].size;

                if (fileSize > MAX_FILE_UPLOAD_SIZE) {
                    popupMessage('popupMessageReference', 'popupMsgResponseReference', 'File size should be less than 20MB', 'failure');
                    return false;
                }
            }

            var action = $("#frmUpdateReferenceDocument").attr("action");
            if ($("#frmUpdateReferenceDocument").attr("enctype") == "multipart/form-data") {
                dataString = new FormData($("#frmUpdateReferenceDocument").get(0));
                contentType = false;
                processData = false;
            } else {
                // regular form, do your own thing if you need it
            }
            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: contentType,
                processData: processData,
                success: function (response) {
                    console.log(response);
                    popupMessage('popupMessageReference', 'popupMsgResponseReference', response, 'success');
                    // ajax call to load page 
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("ReferenceDocuments", "PersonalDetail", new { id = Model.employeeId })',
                        success: function (response) {
                            $('#refenceDocumentList').html($(response).find('#refenceDocumentList'));
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            //do your own thing
                            popupMessage('popupMessageReference', 'popupMsgResponseReference', "Unable to load docoument", 'failure');
                            console.log(jqXHR);
                        }
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //do your own thing
                    popupMessage('popupMessageReference', 'popupMsgResponseReference', "Unable to upload docoument", 'failure');
                    console.log(jqXHR);
                }
            });
        });
    })();

</script>

