﻿@model BHGHRModuleWeb.ViewModels.SalaryViewModel

@{
    Layout = null;
    ViewBag.Title = "Employee Salary Information";
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    //options.UpdateTargetId = "divContainer";
    //options.OnFailure = "OnFailure";
    //options.OnBegin = "OnBegin";
    options.OnSuccess = "OnSaveSalarySuccess";
    
}

@using (Ajax.BeginForm("SaveSalaryInformation", "PersonalDetail", new { }, options, new { id = "frmSalaryInformation" }))
{
    <div class="row padding-bottom"></div>
    Html.ValidationSummary(true);

    <div class="row padding-bottom">
        <div class="col-md-12">
            <div class="portlet">
                <div class="row padding-bottom">
                    <div class="col-md-12">
                        <div class="padding-bottom">
                            <strong>
                                Salary Change Authorisation:
                            </strong>
                        </div>
                        <div class="row padding-bottom">
                            <div class="col-md-6 padding-bottom">
                                <div style="padding: 10px 0px;" class="border background-white">
                                    <div class="col-md-12">
                                        <div class="row padding-bottom">
                                            <div class="col-md-12">
                                                To be completed by Line Managers ONLY.
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Name of Employee:
                                            </div>
                                            <div class="col-md-8">
                                                @Model.employeeName
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                Job Title:
                                            </div>
                                            <div class="col-md-8">
                                                @Model.jobTitle
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-12">
                                                <strong>
                                                    Current Salary Information:
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="row padding-bottom">
                                            <div class="col-md-4">
                                                <strong style="padding-right:10px;">Salary:</strong>
                                                @if (Model.salary != "")
                                                {
                                                    <span>&pound;@Model.salary</span>  
                                                }
                                            </div>
                                            <div class="col-md-4">
                                                <strong style="padding-right:10px;">Grade:</strong>@Model.grade
                                            </div>
                                            <div class="col-md-4">
                                                <strong style="padding-right:10px;">Point:</strong>@Model.gradePoint
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if ((Model.payPoint.paypointId == 0 || Model.payPoint.paypointStatusDescription == "Waiting Submission") && Model.isLineManager)
                            {
                                <div class="col-md-6 padding-bottom">
                                    <div style="padding: 10px 0px;" class="border background-white">
                                        <div class="col-md-12">
                                            <div class="row padding-bottom">
                                                <div class="col-md-12">
                                                    <strong>Proposed Salary Information:</strong>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-4">
                                                    Current Salary &pound;:
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.TextBoxFor(m => m.payPoint.currentSalary, new { @class = "form-control", @readonly= "readonly" })
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-4">
                                                    Grade:
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.DropDownListFor(m => m.payPoint.grade, Model.grades, new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.HiddenFor(m => m.payPoint.grade, new { id = "grade" })
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-4">
                                                    Point:
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.DropDownListFor(m => m.payPoint.gradePoint, Model.points, new { @class = "form-control", onchange = "gradePointOnChange()" })
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-4">
                                                    Proposed Salary &pound;:
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.TextBoxFor(m => m.payPoint.proposedSalary, new { @class = "form-control", @readonly = "readonly" })
                                                    @Html.HiddenFor(m => m.payPoint.employeeId, new { id = "employeeId" })
                                                    @Html.HiddenFor(m => m.payPoint.paypointId, new { id = "paypointId" })
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-6">
                                                    Proposed date to be effective from:
                                                </div>
                                                <div class="col-md-5">
                                                    @Html.DropDownListFor(m => m.payPoint.dateProposed, Model.payPoint.eligibleDateOptions, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-12">
                                                    Detailed rationale for salary point change:
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-12">
                                                    @Html.TextAreaFor(m => m.payPoint.detailRationale, 5, 3, new { @id="detailRationaleId",@class = "form-control detailsOfRole" })
                                                    <label id="ErrorMessage" style="visibility:hidden; color:red;">Can not save due to excessive number of characters.</label>
                                                </div>                                                
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-4">
                                                    
                                                </div>
                                                <div class="col-md-8">
                                                    <span>Decided not to submit </span>@Html.CheckBoxFor(m => m.payPoint.isWaiting, new { @class = "form-control cboxIsWaiting", style = "width:14px; float: left; margin-right: 10px; margin-top: 0; " })
                                                </div>
                                            </div>
                                            <div class="row padding-bottom"  style="display:none" id="dvReason">
                                                <div class="col-md-4">
                                                    Reason:
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.payPoint.waitingReason, new { @class = "form-control", id = "waitingReason" })
                                                </div>
                                            </div>
                                            @*<div class="row padding-bottom">
                                                <div class="col-md-6">
                                                    Approved by Line Manager?:
                                                </div>
                                                <div class="col-md-6">
                                                    @if (Model.payPoint.approved != null && Model.payPoint.approved.Value)
                                                    {
                                                        <span>Yes(@Model.payPoint.approvedDate Approved)</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-6">
                                                    This request has been supported?:
                                                </div>
                                                <div class="col-md-6">
                                                    @if (Model.payPoint.supported != null && Model.payPoint.supported.Value)
                                                    {
                                                        <i>Yes(@Model.payPoint.supportedDate Supported)</i>
                                                    }
                                                    else if (Model.payPoint.salary != null)
                                                    {
                                                        <i>Pending</i>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-6">
                                                    This request is:
                                                </div>
                                                <div class="col-md-6">
                                                    @if (Model.payPoint.authorized != null && Model.payPoint.authorized.Value)
                                                    {
                                                        <i>Yes(@Model.payPoint.authorizedDate Authorized)</i>
                                                    }
                                                    else if (Model.payPoint.salary != null)
                                                    {
                                                        <i>Pending</i>
                                                    }
                                                </div>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                if (Model.payPoint == null)
                                {
                                    Model.payPoint = new BHGHRModuleWeb.ViewModels.ProposedSalaryViewModel();
                                }
                                <div class="col-md-6 padding-bottom">
                                    <div style="padding: 10px 0px;" class="border background-white">
                                        <div class="col-md-12">
                                            <div class="row padding-bottom">
                                                <div class="col-md-12">
                                                    <strong>Proposed Salary Information:</strong>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-4">
                                                    Current Salary &pound;:
                                                </div>
                                                <div class="col-md-4">
                                                    @if (Model.payPoint.currentSalary != null)
                                                    {
                                                        <span>@Model.payPoint.currentSalaryDisplay</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-4">
                                                    Grade:
                                                </div>
                                                <div class="col-md-4">
                                                    @Model.payPoint.gradeDescription
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-4">
                                                    Point:
                                                </div>
                                                <div class="col-md-4">
                                                    @Model.payPoint.gradePointDescription
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-4">
                                                    Proposed Salary &pound;:
                                                </div>
                                                <div class="col-md-4">
                                                    @if (Model.payPoint.proposedSalary != null)
                                                    {
                                                           <span>@Model.payPoint.proposedSalaryDisplay</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-6">
                                                    Proposed date to be effective from:
                                                </div>
                                                <div class="col-md-5">
                                                    @Model.payPoint.dateProposed
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-12">
                                                    Detailed rationale for salary point change:
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-12">
                                                    <span>@Model.payPoint.detailRationale</span>
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-6">
                                                    Submitted Line Manager:
                                                </div>
                                                <div class="col-md-6">
                                                    @if (Model.payPoint.approved != null && Model.payPoint.approved.Value)
                                                    {
                                                        if (Model.isLineManager)
                                                        {
                                                            <span>Yes(@Model.payPoint.approvedDate Approved)</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Yes(@Model.payPoint.approvedByName @Model.payPoint.approvedDate)</span>
                                                        }
                                                    }
                                                    else if (Model.payPoint.proposedSalary != null)
                                                    {
                                                        <span>Pending</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-6">
                                                    This request has been supported?:
                                                </div>
                                                <div class="col-md-6">
                                                    @if (Model.payPoint.supported != null)
                                                    {
                                                        if (Model.payPoint.supported.Value)
                                                        {
                                                            <i>Yes(@Model.payPoint.supportedByName @Model.payPoint.supportedDate)</i>
                                                        }
                                                        else
                                                        {
                                                            <i>No(@Model.payPoint.supportedByName @Model.payPoint.supportedDate)</i>
                                                        }
                                                    }
                                                    else if (Model.payPoint.proposedSalary != null)
                                                    {
                                                        <i>Pending</i>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-6">
                                                    This request is:
                                                </div>
                                                <div class="col-md-6">
                                                    @if (Model.payPoint.authorized != null && Model.payPoint.authorized.Value)
                                                    {
                                                        <i>Yes(@Model.payPoint.authorizedDate Approved)</i>
                                                    }
                                                    else if (Model.payPoint.proposedSalary != null)
                                                    {
                                                        <i>Pending</i>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @if ((Model.payPoint.paypointId == 0 || Model.payPoint.paypointStatusDescription == "Waiting Submission") && Model.isLineManager)
                        {
                            <input class="btn btn-info btn-xs pull-right btnNext" id="btnSave" type="submit" name="nextBtn" value='Save' />
                        }
                        <input class="btn btn-gray btn-xs pull-right btnNext" style="margin-right:10px;" id="btnBack" type="button" name="nextBtn" value='< Back' />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@* pop model start *@

@* pop model end *@


<script type="text/javascript">

    (function () {
        loadDatePicker();
        $('#btnBack').on('click', function () {
            reloadCurrentTab();
        })
    })();

    function OnSaveSalarySuccess(response) {
        popupMessage('message', 'msgResponse', response, 'success');
        reloadCurrentTab();
    }

    function gradePointOnChange() {
        var request = new Object();
        request.employeeId = $('#employeeId').val();
        request.grade = $('#payPoint_grade').val();
        request.point = $('#payPoint_gradePoint').val();
        request.fiscalYear = 0;

        $.ajax({
            type: "POST",
            data: request,
            url: '@Url.Action("GetGradePointSalary", "PersonalDetail")',
            success: function (response) {
                if (response != undefined && response != "") {
                    $('#payPoint_proposedSalary').val(response);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('popupMessage', 'popupMsgResponse', "Unable to load docoument", 'failure');
                console.log(jqXHR);
            }
        });
    }

    $('.cboxIsWaiting').on("change", function () {
        if ($(this).is(':checked')) {
            $('#dvReason').show();
        }
        else {
            $('#dvReason').hide();
            $('#waitingReason').val("");
        }
    })

    $('#btnSave').on('click', function (e) {
        e.preventDefault();
        var lengthOfDR = $('#detailRationaleId').val().length;
        if (lengthOfDR > 3000)
        {
            document.getElementById('detailRationaleId').style.borderColor = "red";
            document.getElementById('ErrorMessage').style.visibility = "visible";
            return;
        }
        else
        {
            document.getElementById('detailRationaleId').style.borderColor = "";
            document.getElementById('ErrorMessage').style.visibility = "hidden";
        }
        if ($('.cboxIsWaiting').is(':checked')) {
            if ($('#waitingReason').val() == "") {
                popupMessage('message', 'msgResponse', "Reason is required.", 'failure');

                return;
            }
        }

        if ($('#payPoint_gradePoint').val() == "0" && $('#waitingReason').val() == "") {
            popupMessage('message', 'msgResponse', "Please select point.", 'failure');

            return;
        }
        

        if ($('.cboxIsWaiting').is(':checked')) {
            if ($('#waitingReason').val() == "") {
                popupMessage('message', 'msgResponse', "Reason is required.", 'failure');

                return;
            }
        } 
        $("#frmSalaryInformation").submit();
    })
   
</script>


