<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Test.aspx.vb" Inherits="BHAIntranet_Admin_Test" %>

<%@ Register Src="../UserControl/Admin/MultiMenu.ascx" TagName="MultiMenu" TagPrefix="uc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <link rel="stylesheet" href="../CSS/General/Stationery.css" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
        <br />
        <asp:Button ID="Button3" runat="server" Text="Button" /><br />
        <br />
        <%--<table id="filterTable" style="width: 736px">
            <tr>
                <td class="labelCol" style="width: 100px">
                    <asp:Label ID="lFilterDateReq2" runat="server" AssociatedControlID="txtFilterDateReq"
                        CssClass="lblCol" Text="Date Requested:"></asp:Label>
                </td>
                <td style="width: 100px">
                    <asp:TextBox ID="txtFilterDateReq2" runat="server" CssClass="lblField" Width="100px"></asp:TextBox>
                    <asp:ImageButton ID="imbDateReq2" runat="server" CssClass="calBtn" ImageUrl="~/BHAIntranet/Images/General/Forms/cal.gif" />
                </td>
                <td style="width: 19px">
                </td>
                <td class="labelCol" style="width: 74px">
                </td>
                <td class="" style="width: 100px">
                </td>
            </tr>
            <tr>
                <td class="labelCol" style="width: 100px">
                    <asp:Label ID="lFilterOrderStatus" runat="server" AssociatedControlID="ddlFilterOrderStatus"
                        Text="Order Status:"></asp:Label>
                </td>
                <td style="width: 100px">
                    <asp:DropDownList ID="ddlFilterOrderStatus2" runat="server" AppendDataBoundItems="True"
                        Width="123px">
                        <asp:ListItem></asp:ListItem>
                    </asp:DropDownList>
                </td>
                <td style="width: 19px">
                </td>
                <td class="labelCol" style="width: 74px">
                </td>
                <td style="width: 100px">
                </td>
            </tr>
        </table>--%>
        &nbsp;
    </form>
</body>
</html>
