﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="JobRoleAccess.Master.vb"
    Inherits="JobRoleAccess.JobRoleAccess" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title></title>
    <link href="../Styles/masterpage.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/Navigation.css" rel="stylesheet" media="screen" />
    <style type="text/css">
        #menuPage
        {
            width: 100% !important;
        }
        
        #menuPage ul
        {
            width: 100% !important;
        }
        
        #pageMenu tr td a
        {
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 5px;
            display: block;
        }
        
        #pageMenu tr td a:hover
        {
            /*padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 5px;*/
            background-color: #DCDCDC; /*width:100%;*/
            cursor: pointer;
        }
        
        .menuItem
        {
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 5px;
        }
        
        .menuItemHover
        {
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 5px;
            background-color: #DCDCDC;
            width: 100%;
            cursor: pointer;
        }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <div id="superdiv">
        <asp:UpdatePanel runat="server" ID="updPanelDashboard" UpdateMode="Conditional">
            <ContentTemplate>
                <div id="header" style="margin-bottom: 35px;">
                    <div style="float: left; background-image: url(../Images/s-m-bg.png); width: 4px;
                        height: 63px; margin-top: 1px;">
                    </div>
                    <div class="menue">
                        <div class="menue-select">
                            <ul class="moduleMenu">
                                <li><a href="../../../JobRoleAdministration/Bridge.aspx" style="color: #ffffff; padding-right: 100px;">
                                    Business Module </a>
                                    <ul>
                                        <asp:Repeater ID="rptRSLMenu" runat="server">
                                            <ItemTemplate>
                                                <li><a href="<%# Eval("THEPATH")%>">
                                                    <%# Eval("DESCRIPTION")%>
                                                </a></li>
                                            </ItemTemplate>
                                        </asp:Repeater>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="menu" style="margin-top: 15px; font-size: 13px; color: white;">
                            <asp:Menu runat="server" ID="menuHeader" Orientation="Horizontal" DynamicMenuItemStyle-ItemSpacing="50px"
                                DynamicMenuItemStyle-VerticalPadding="20px" ForeColor="White" StaticSelectedStyle-ForeColor="#e6e6e6">
                            </asp:Menu>
                        </div>
                    </div>
                </div>
                <div id="r_leftcolumn">
                    <div id="leftMenu">
                    </div>
                    <div>
                        <asp:Panel ID="pnlPageMenu" runat="server">
                            <div id="pageMenu" style="border: black 1px solid; width: 95%; font-size: 13px;">
                                <asp:Menu runat="server" ID="menuPage" Orientation="Vertical" DynamicMenuItemStyle-Width="100%"
                                    DynamicHoverStyle-BackColor="Gainsboro" DynamicMenuItemStyle-Height="25px" Width="100%"
                                    DynamicMenuItemStyle-ItemSpacing="100px" DynamicMenuItemStyle-VerticalPadding="20px"
                                    ForeColor="black" StaticSelectedStyle-BackColor="gainsboro">
                                </asp:Menu>
                            </div>
                        </asp:Panel>
                    </div>
                    <asp:UpdateProgress ID="updateProgress" runat="server" DisplayAfter="10">
                        <ProgressTemplate>
                            <div class="loading-image">
                                <img alt="Please Wait" src="../../Images/menu/progress.gif" />
                            </div>
                        </ProgressTemplate>
                    </asp:UpdateProgress>
                </div>
            </ContentTemplate>
        </asp:UpdatePanel>
        <div id="r_content">
            <div>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
    </div>
    </form>
</body>
</html>
