﻿@model BHGHRModuleWeb.ViewModels.DashboardViewModel

<div class="row padding-bottom">
    <div class="col-md-1"></div>
    <div class="col-md-2 col-xs-4">
        <div  class="img-box">
            <div class="text">
                Sickness Absence
            </div>
            <div class="number">
                <label class="number async" style="font-weight:normal !important" data-count-url="@Url.Action("GetAlertCount", "Dashboard" , new { boxName= "SicknessAbsence", teamId=Model.teamId })">
                    <div class="ajax-loader">
                        <img src='@Url.Content("~/Images/ajax-loader.gif")' />
                    </div>
                </label>
            </div>
            <div>
                <div class="r-arrow">
                    @*TODO: NextPhase*@
                    <a id="arrow-SicknessAbsence" href="@Url.Action("Index", "Reports" , new { report="Sickness", directorate = Model.teamId })">
                        <img src="~/Content/Images/Dashboard/arrow.jpg" alt="" border="0" />
                    </a>
                </div>
                <div class="r-info">
                    @*TODO: NextPhase*@
                    <img title="Number of staff, who have an active sick absence recorded on their record link to" src="~/Content/Images/Dashboard/icn-info.png" alt="" border="0" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-xs-4">
        <div class="img-box">
            <div class="text">
                Health
            </div>
            <div class="number">
                <label class="number async" style="font-weight:normal !important" data-count-url="@Url.Action("GetAlertCount", "Dashboard" , new { boxName= "Health", teamId=Model.teamId })">
                    <div class="ajax-loader">
                        <img src='@Url.Content("~/Images/ajax-loader.gif")' />
                    </div>
                </label>
            </div>
            <div>
                <div class="r-arrow">
                    @*TODO: NextPhase*@
                    <a id="arrow-Health" href="@Url.Action("Index", "Reports" , new { report="Health", teamId = Model.teamId })">
                        <img src="~/Content/Images/Dashboard/arrow.jpg" alt="" border="0" />
                    </a>
                </div>
                <div class="r-info">
                    @*TODO: NextPhase*@
                    <img title="List of employees who have updated their health data - link to report" src="~/Content/Images/Dashboard/icn-info.png" alt="" border="0" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-xs-4">
        <div class="img-box">
            <div class="text">
                New Starters
            </div>
            <div class="number">
                <label class="number async" style="font-weight:normal !important" data-count-url="@Url.Action("GetAlertCount", "Dashboard" , new { boxName= "NewStarters", teamId=Model.teamId })">
                    <div class="ajax-loader">
                        <img src='@Url.Content("~/Images/ajax-loader.gif")' />
                    </div>
                </label>
            </div>
            <div>
                <div class="r-arrow">
                    @*TODO: NextPhase*@
                    <a id="arrow-NewStarters" href="@Url.Action("Index", "Reports" , new { report="NewStarter", directorate = Model.teamId })">
                        <img src="~/Content/Images/Dashboard/arrow.jpg" alt="" border="0" />
                    </a>
                </div>
                <div class="r-info">
                    @*TODO: NextPhase*@
                    <img title="Total number of new starters with a link to detailed listing - anyone with a start date in the future or in the past 2 months." src="~/Content/Images/Dashboard/icn-info.png" alt="" border="0" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-xs-4">
        <div class="img-box">
            <div class="text">
                Annual Leave
            </div>
            <div class="number">
                <label class="number async" style="font-weight:normal !important" data-count-url="@Url.Action("GetAlertCount", "Dashboard" , new { boxName= "AnnualLeave", teamId=Model.teamId })">
                    <div class="ajax-loader">
                        <img src='@Url.Content("~/Images/ajax-loader.gif")' />
                    </div>
                </label>
            </div>
            <div>
                <div class="r-arrow">
                    @*TODO: NextPhase*@
                    <a id="arrow-AnnualLeave" href="@Url.Action("Index", "Reports" , new { report="AnnualLeave", directorate = Model.teamId })">
                        <img src="~/Content/Images/Dashboard/arrow.jpg" alt="" border="0" />
                    </a>
                </div>
                <div class="r-info">
                    @*TODO: NextPhase*@
                    <img title="Number of active full time/ part time staff - link to annual leave report" src="~/Content/Images/Dashboard/icn-info.png" alt="" border="0" />
                </div>
            </div>
           
        </div>
    </div>
    <div class="col-md-2 col-xs-4">
        <div class="img-box">
            <div class="text">
                Overdue Appraisals
            </div>
            <div class="number">
                <label class="number async" style="font-weight:normal !important" data-count-url="@Url.Action("GetAlertCount", "Dashboard" , new { boxName= "OverdueAppraisals", teamId=Model.teamId })">
                    <div class="ajax-loader">
                        <img src='@Url.Content("~/Images/ajax-loader.gif")' />
                    </div>
                </label>
            </div>
            <div>
                <div class="r-arrow">
                    @*TODO: NextPhase*@
                    @*TODO: NextPhase*@
                    <a id="arrow-OverdueAppraisals" class="nextPhase">
                        <img src="~/Content/Images/Dashboard/arrow.jpg" alt="" border="0" />
                    </a>
                </div>
                <div class="r-info">
                    @*TODO: NextPhase*@
                    <img src="~/Content/Images/Dashboard/icn-info.png" alt="" border="0" />
                </div>
            </div>
          
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row padding-bottom">
    <div class="col-md-1"></div>
    <div class="col-md-2 col-xs-4">
        <div class="img-box">
            <div class="text">
                Main Details
            </div>
            <div class="number">
                <label class="number async" style="font-weight:normal !important" data-count-url="@Url.Action("GetAlertCount", "Dashboard" , new { boxName= "MainDetail", teamId=Model.teamId })">
                    <div class="ajax-loader">
                        <img src='@Url.Content("~/Images/ajax-loader.gif")' />
                    </div>
                </label>
            </div>
            <div>
                <div class="r-arrow">
                    @*TODO: NextPhase*@
                    <a href="@Url.Action("EmployeesList", "Employees" , new { requestList= "MainDetail", teamId=Model.teamId })" id="arrow-MainDetail" data-load-url="@Url.Action("EmployeesList", "Employees" , new { requestList= "MainDetail", teamId=Model.teamId })">
                        <img src="~/Content/Images/Dashboard/arrow.jpg" alt="" border="0" />
                    </a>
                </div>
                <div class="r-info">
                    @*TODO: NextPhase*@
                    <img title="Alert to show when anyone has altered their main details page with drill down to line listing of the employees" src="~/Content/Images/Dashboard/icn-info.png" alt="" border="0" />
                </div>
            </div>
           
        </div>
    </div>
    <div class="col-md-2 col-xs-4">
        <div class="img-box">
            <div class="text">
                FTE
            </div>
            <div class="number">
                <label class="number async" style="font-weight:normal !important" data-count-url="@Url.Action("GetAlertCount", "Dashboard" , new { boxName= "FullTimeStaff", teamId=Model.teamId })">
                    <div class="ajax-loader">
                        <img src='@Url.Content("~/Images/ajax-loader.gif")' />
                    </div>
                </label>
            </div>
            <div>
                <div class="r-arrow">
                    @*TODO: NextPhase*@
                    <a href="@Url.Action("Index", "Reports" , new { report="Establishment", directorate = Model.teamId})" id="arrow-FullTimeStaff">
                        <img src="~/Content/Images/Dashboard/arrow.jpg" alt="" border="0" />
                    </a>
                </div>
                <div class="r-info">
                    @*TODO: NextPhase*@
                    <img title="Number of active full-time staff and link to Establishment Report" src="~/Content/Images/Dashboard/icn-info.png" alt="" border="0" />
                </div>
            </div>
           
        </div>
    </div>
    <div class="col-md-2 col-xs-4">
        <div class="img-box">
            <div class="text">
                Pay Point
            </div>
            <div class="number">
                <label class="number async" style="font-weight:normal !important" data-count-url="@Url.Action("GetAlertCount", "Dashboard" , new { boxName= "PayPoint", teamId=Model.teamId })">
                    <div class="ajax-loader">
                        <img src='@Url.Content("~/Images/ajax-loader.gif")' />
                    </div>
                </label>
            </div>
            <div>
                <div class="r-arrow">
                    @*TODO: NextPhase*@
                    <a id="arrow-PayPoint" href="@Url.Action("Index", "Reports" , new { report="PayPoint", teamId = Model.teamId })">
                        <img src="~/Content/Images/Dashboard/arrow.jpg" alt="" border="0" />
                    </a>
                </div>
                <div class="r-info">
                    @*TODO: NextPhase*@
                    <img title="Number of staff which have Pay Point at “Waiting Submission”, “Submitted”, “Supported” and “Authorized” status." src="~/Content/Images/Dashboard/icn-info.png" alt="" border="0" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-xs-4">
        <div class="img-box">
            <div class="text">
                DBS Reminders
            </div>
            <div class="number">
                <label class="number async" style="font-weight:normal !important" data-count-url="@Url.Action("GetAlertCount", "Dashboard" , new { boxName= "DBSReminder", teamId=Model.teamId })">
                    <div class="ajax-loader">
                        <img src='@Url.Content("~/Images/ajax-loader.gif")' />
                    </div>
                </label>
            </div>
            <div>
                <div class="r-arrow">
                    @*TODO: NextPhase*@
                    <a id="arrow-DBSReminder" class="nextPhase">
                        <img src="~/Content/Images/Dashboard/arrow.jpg" alt="" border="0" />
                    </a>
                </div>
                <div class="r-info">
                    @*TODO: NextPhase*@
                    <img src="~/Content/Images/Dashboard/icn-info.png" alt="" border="0" />
                </div>
            </div>
           
        </div>
    </div>
    <div class="col-md-2 col-xs-4">
        <div class="img-box">
            <div class="text">
                Mandatory Training
            </div>
            <div class="number">
                <label class="number async" style="font-weight:normal !important" data-count-url="@Url.Action("GetAlertCount", "Dashboard" , new { boxName= "MendatoryTraining", teamId=Model.teamId })">
                    <div class="ajax-loader">
                        <img src='@Url.Content("~/Images/ajax-loader.gif")' />
                    </div>
                </label>
            </div>
            <div>
                <div class="r-arrow">
                    @*TODO: NextPhase*@
                    <a id="arrow-PayPoint" href="@Url.Action("Index", "Reports" , new { report="Training", teamId=Model.teamId })">
                        <img src="~/Content/Images/Dashboard/arrow.jpg" alt="" border="0" />
                    </a>
                </div>
                <div class="r-info">
                    @*TODO: NextPhase*@
                    <img title="Number of mandatory training added for staff members." src="~/Content/Images/Dashboard/icn-info.png" alt="" border="0" />
                </div>
            
             </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<script type="text/javascript">

    (function () {
        console.log($('.async'));
        $(".async").each(function (index) {
            $(this).load($(this).attr('data-count-url'));
        });

        $('.arrowClick').on('click', function () {

            window.load($(this).attr('data-load-url'));
        });
        //TODO: NextPhase
        nextPhase();
    })();

    //TODO: NextPhase
    function nextPhase() {
        $('.nextPhase').on('click', function () {
            $(window).scrollTop(0);
            $("#nextPhaseMessage").show().delay(5000).fadeOut();
        })
    }

</script>
