﻿@model BHGHRModuleWeb.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "HR Dashboard";
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.UpdateTargetId = "dashboardBody";
    var grdVacancies = new WebGrid();
    var grdDisciplinery = new WebGrid();

    if (Model.vacancies != null && Model.vacancies.Count > 0)
    {
        grdVacancies = new WebGrid(canPage: true, canSort: false, ajaxUpdateContainerId: "grdVacancies");
        grdVacancies.Bind(source: Model.vacancies, autoSortAndPage: false, rowCount: 1000);
    }

    if (Model.disciplinery != null && Model.disciplinery.Count > 0)
    {
        grdDisciplinery = new WebGrid(canPage: true, canSort: false, ajaxUpdateContainerId: "grdDisciplinery");
        grdDisciplinery.Bind(source: Model.disciplinery, autoSortAndPage: false, rowCount: 1000);
    }
}

@using (Ajax.BeginForm("Index", "Dashboard", options, new { id = "frmDashboard" }))
{
    <div class="row padding-bottom">
        <div class="col-md-1">

        </div>
        <div class="col-md-11">
            @Html.DropDownListFor(m => m.teamId, Model.teams, new { @onChange = "teamChanged();", @style = "width: 220px; height:24px" })
        </div>
    </div>
}

<div id="dashboardBody">
    @Html.Partial("~/Views/Dashboard/_Index.cshtml", Model)
</div>
<div class="row padding-bottom">
    <div class="col-md-1"></div>
    <div class="col-md-5 padding-bottom">
        <div style="border:1px solid ">
            <div style="background-color: #FF0000; padding: 10px;">
                <label style="color:#fff">Vacancies:</label>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12" style="max-height:200px; min-height:200px; overflow:scroll; overflow-x: hidden; ">
                        <div id="grdVacancies">
                            @if (Model.vacancies != null && Model.vacancies.Count > 0)
                            {
                                @grdVacancies.GetHtml(
                                    tableStyle: "table table-responsive backcolor",
                                    headerStyle: "wedgrid-header",
                                    footerStyle: "webgrid-footer",
                                    alternatingRowStyle: "webgrid-alternating-row",
                                    rowStyle: "webgrid-row-style",
                                    columns: grdVacancies.Columns(
                                    grdVacancies.Column(columnName: "title", header: "Vacancy:"),
                                    grdVacancies.Column(columnName: "teamName", header: "Team:"),
                                    grdVacancies.Column(columnName: "startDate", header: "Vacant From:")
                                ))
                            }
                            else
                            {
                                <table class="table table-responsive backcolor">
                                    <thead>
                                        <tr class="wedgrid-header">
                                            <th>Vacancy:</th>
                                            <th>Team:</th>
                                            <th>Vacant From:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="webgrid-row-style">
                                            <td colspan="3" align="center"><br />No record found<br /><br /> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div style="border:1px solid ">
            <div style="background-color: #FF0000; padding: 10px;">
                <label style="color:#fff">Disciplinary:</label>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12" style="max-height:200px; min-height:200px; overflow:scroll; overflow-x: hidden; ">
                        <div id="grdDisciplinery">
                            @if (Model.disciplinery != null && Model.disciplinery.Count > 0)
                            {
                                @grdDisciplinery.GetHtml(
                                    tableStyle: "table table-responsive backcolor",
                                    headerStyle: "wedgrid-header",
                                    footerStyle: "webgrid-footer",
                                    alternatingRowStyle: "webgrid-alternating-row",
                                    rowStyle: "webgrid-row-style",
                                    columns: grdDisciplinery.Columns(
                                    grdDisciplinery.Column(columnName: "name", header: "Name:"),
                                    grdDisciplinery.Column(columnName: "typeName", header: "Type:"),
                                    grdDisciplinery.Column(columnName: "removalDue", header: "Removal Due:")
                                ))
                            }
                            else
                            {
                                <table class="table table-responsive backcolor">
                                    <thead>
                                        <tr class="wedgrid-header">
                                            <th>Name:</th>
                                            <th>Type:</th>
                                            <th>Removal Due:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="webgrid-row-style">
                                            <td colspan="3" align="center"><br />No record found<br /><br /> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

@section Scripts {
    <script type="text/javascript">

        function teamChanged() {
            $('#frmDashboard').submit();
        }
       
    </script>
}