<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 HEIGHT=100% BORDERCOLOR=#FFFFFF><TR>
  <TD HEIGHT=104px>
  	
<TABLE CELLSPACING=0 CELLPADDING=0 border=0>
	<tr>
		<td height="100%" width="100%">
			<table CELLSPACING=0 CELLPADDING=0 border=0 >
			  <TR>
				<TD>
					<TABLE CELLSPACING=0 CELLPADDING=0 border=0 height="100%" width="100%">
					  <TR> 
						<TD ROWSPAN=2 COLSPAN=2> <IMG SRC="/myImages/My01.gif" WIDTH=14 HEIGHT=14></TD>
						<TD COLSPAN=2> <IMG SRC="/myImages/My02.gif" WIDTH=74 HEIGHT=1></TD>
					  </TR>
					  <TR> 
						  <TD COLSPAN=3> <IMG SRC="/myImages/logo1.gif" WIDTH=73 HEIGHT=13></TD>
					  </TR> 
					  <TR> 
						<TD ROWSPAN=2><IMG SRC="/myImages/My08.gif" WIDTH=1 HEIGHT=54></TD>
						<TD><IMG SRC="/myImages/logo2.gif" WIDTH=13 HEIGHT=40></TD>
						<TD> <img src="/myImages/logo3.gif" width=56 height=40></TD>
						<TD> <IMG SRC="/myImages/logo4.gif" WIDTH=18 HEIGHT=40></TD>
					  </TR>  
					   <TR> 
						<TD COLSPAN=3><IMG SRC="/myImages/logo5.gif" WIDTH=87 HEIGHT=14></TD>
					  </TR>
					</TABLE>
				</TD>
				<TD>
					<TABLE CELLSPACING=0 CELLPADDING=0 border=0 height="100%" width="100%">
						<tr>
							<TD COLSPAN=3> <IMG SRC="/myImages/My02.gif" WIDTH=448 HEIGHT=1></TD>
						</tr>
						<TR>
							<TD COLSPAN=3><IMG SRC="/myImages/logo6.gif" WIDTH=448 HEIGHT=24></TD>
						</TR>
						<TR>
							<TD><IMG SRC="/myImages/logo7.gif" WIDTH=373 HEIGHT=12></td>
							<td rowspan=3><A HREF="/myWeb/MyWhiteBoard.asp" ><IMG SRC="/myImages/MyWhiteboard.gif" WIDTH=39 HEIGHT=43 BORDER=0></a></td>
							<td rowspan=3><A HREF="#" ONCLICK="MM_openBrWindow('/iagHelp/iagHelp.asp?HelpID=1','IAGHelp','width=635,height=452')"><IMG SRC="/myImages/Myquestionmark.gif" WIDTH=36 HEIGHT=43 BORDER=0></a></td>	
						</TR>
						<tr>
							<td><IMG SRC="/myImages/logo8.gif" WIDTH=373 HEIGHT=21></td>
						</tr>
						<TR>
							<td height="100%" bgColor="white"><IMG SRC="/myImages/Spacertop.gif" WIDTH=373 HEIGHT=10></TD>
						</TR>
					</TABLE>
				</TD>
					<td>
						<TABLE CELLSPACING=0 CELLPADDING=0 border=0 height="100%" width="100%">
							<tr>
								<TD COLSPAN=3> <IMG SRC="/myImages/My02.gif" WIDTH=241 HEIGHT=1></TD>
							</tr>
							<TR>
								<td ><IMG SRC="/myImages/Top_finance_Image.gif" WIDTH=241 HEIGHT=67 ></TD>
								<td rowspan=4><IMG SRC="/myImages/My08.gif" WIDTH=1 HEIGHT=67></td>
							</TR>
						</TABLE>
					</td>
				</TR>
			</table>
		</td>
	</tr>
	<TR>
		<TD>
			<TABLE CELLSPACING=0 CELLPADDING=0 border=0>
				<TR> 
				  <TD><IMG SRC="/myImages/My08.gif" WIDTH=1 HEIGHT=19></TD>
				  <TD bgColor="#FFFFFF"><IMG SRC="/myImages/Spacertop.gif" WIDTH=13 HEIGHT=19></TD>
				  <td> <a href="/iagMyJob/iagMyJob.asp"
							onMouseOver="changeImages('My34', '/myImages/My34-My_Wh.gif'); return true;"
							onMouseOut="changeImages('My34', '/myImages/My34.gif'); return true;"> 
					<img src="/myImages/My18.gif" width=41 height=19 border=0 alt="MyJob"></a></td>
					
					<% if Session("svUserType") > 2 Then %>
					<TD>
						<A HREF="/iagBusinessManager/iagBusinessManager.asp"
							ONMOUSEOVER="changeImages('My19', '/myImages/My19-over.gif', 'My34', '/myImages/My34-My-41.gif'); return true;"
							ONMOUSEOUT="changeImages('My19', '/myImages/My19.gif', 'My34', '/myImages/My34.gif'); return true;">
							<IMG NAME="My19" SRC="/myImages/My19.gif" WIDTH=41 HEIGHT=19 BORDER=0></A></TD>
					<% End if %>
					<TD>
						<A HREF="/iagFinance/iagFinance.asp"
							ONMOUSEOVER="changeImages('My20', '/myImages/My20-over.gif', 'My34', '/myImages/My34-My-42.gif'); return true;"
							ONMOUSEOUT="changeImages('My20', '/myImages/My20.gif', 'My34', '/myImages/My34.gif'); return true;">
							<IMG NAME="My20" SRC="/myImages/My20.gif" WIDTH=41 HEIGHT=19 BORDER=0></A></TD>
					
					<td> <a href="/iagContactManager/iagContactManager.asp"
							onMouseOver="changeImages('My21', '/myImages/My21-over.gif', 'My34', '/myImages/My34-My-43.gif'); return true;"
							onMouseOut="changeImages('My21', '/myImages/My21.gif', 'My34', '/myImages/My34.gif'); return true;"> 
					<img name="My21" src="/myImages/My21.gif" width=41 height=19 border=0 alt="Contacts"></a></td>
	
				  <td> <a href="/CRM/iagCRM.asp"
							onMouseOver="changeImages('My22', '/myImages/My22-over.gif', 'My34', '/myImages/My34-My-44.gif'); return true;"
							onMouseOut="changeImages('My22', '/myImages/My22.gif', 'My34', '/myImages/My34.gif'); return true;"> 
					<img name="My22" src="/myImages/My22.gif" width=41 height=19 border=0 alt="Customers"></a></td>
				  <td> <a href="/iagDiary/default.asp"
							onMouseOver="changeImages('My23', '/myImages/My23-over.gif', 'My34', '/myImages/My34-My-45.gif'); return true;"
							onMouseOut="changeImages('My23', '/myImages/My23.gif', 'My34', '/myImages/My34.gif'); return true;"> 
					<img name="My23" src="/myImages/My23.gif" width=41 height=19 border=0 alt="Diary"></a></td>
				  <td> <a href="/iagDocumentManager/iagDocumentManager.asp"
							onMouseOver="changeImages('My25', '/myImages/My25-over.gif', 'My34', '/myImages/My34-My-47.gif'); return true;"
							onMouseOut="changeImages('My25', '/myImages/My25.gif', 'My34', '/myImages/My34.gif'); return true;"> 
					<img name="My25" src="/myImages/My25.gif" width=41 height=19 border=0 alt="Documents"></a></td>
					<td><A HREF="/wash.asp"
							ONMOUSEOVER="changeImages('logouttab', '/myImages/log_out_tab-over.gif', 'My34', '/myImages/log_out_title.gif'); return true;"
							ONMOUSEOUT="changeImages('logouttab', '/myImages/log_out_tab.gif', 'My34', '/myImages/My34.gif'); return true;">
							<IMG NAME="logouttab" SRC="/myImages/log_out_tab.gif" WIDTH=48 HEIGHT=19 BORDER=0></A></TD>
					<% if Session("svUserType") > 2 then %>
						<TD bgColor="white"><IMG SRC="/myImages/Spacertop.gif" WIDTH=187 HEIGHT=19></TD>
					<% Else %>
						<TD bgColor="white"><IMG SRC="/myImages/Spacertop.gif" WIDTH=228 HEIGHT=19></TD>
					<% End if %>
				  <TD><A HREF="#" onClick="MM_openBrWindow('/IagProfile/PopMessage.asp','PopMessage','width=400,height=300')"><IMG SRC="/myImages/My31.gif" WIDTH=49 HEIGHT=19 BORDER=0></a></TD>
				  <TD><IMG SRC="/myImages/Circle+image.gif" WIDTH=90 HEIGHT=19></TD>
				  <TD><IMG SRC="/myImages/My30.gif" WIDTH=48 HEIGHT=19></TD>
				  <TD><A HREF="#" onClick="MM_openBrWindow('/IagProfile/PopTask.asp','PopTask','width=400,height=300')"><IMG SRC="/myImages/My30-13.gif" WIDTH=41 HEIGHT=19 BORDER=0></a></TD>
				  <TD><IMG SRC="/myImages/Circle+image2.gif" WIDTH=13 HEIGHT=19></TD>
				  <td><IMG SRC="/myImages/My08.gif" WIDTH=1 HEIGHT=19></td>
				</TR>
			  </TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE CELLSPACING=0 CELLPADDING=0 border=0>
				<TR>
					<TD><IMG SRC="/myImages/My08.gif" WIDTH=1 HEIGHT=17></TD>	
					<TD BGCOLOR=#FF9933><IMG SRC="/myImages/Spacertop.gif" WIDTH=13 HEIGHT=17></TD>
					<TD><IMG NAME="My34" SRC="/myImages/My34.gif" WIDTH=79 HEIGHT=17></TD>
					<TD BGCOLOR=#FF9933><IMG SRC="/myImages/Spacertop.gif" WIDTH=671 HEIGHT=17></TD>
					<TD BGCOLOR=#FF9933><IMG SRC="/myImages/Spacertop.gif" WIDTH=13 HEIGHT=17></TD>
					<TD><IMG SRC="/myImages/My08.gif" WIDTH=1 HEIGHT=17></TD>		
				</TR>
			</TABLE>
		</TD>
	</TR>	
</TABLE>

  
  </TD>
</TR><TR><TD HEIGHT=100% VALIGN=TOP STYLE='BORDER-LEFT:1PX SOLID #FF9933;BORDER-RIGHT:1PX SOLID #FF9933' width=772>
