<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 HEIGHT=100% BORDERCOLOR=#FFFFFF><TR><TD HEIGHT=104px>

<TABLE CELLSPACING=0 CELLPADDING=0>
  <TR><TD ROWSPAN=2>
<!-- ******* START OF CORNER IAG LOGO ******** -->
		<TABLE CELLSPACING=0 CELLPADDING=0>
		  <TR> 
			<TD ROWSPAN=2 COLSPAN=2> <IMG SRC="/myImages/My01.gif" WIDTH=14 HEIGHT=14></TD>
			<TD COLSPAN=2> <IMG SRC="/myImages/My02.gif" WIDTH=74 HEIGHT=1></TD>
		  </TR>
		   <TR> 
			  <TD COLSPAN=3> <IMG SRC="/myImages/spacer.gif" WIDTH=73 HEIGHT=13></TD>
		  </TR> 
		  <TR> 
			<TD ROWSPAN=2><IMG SRC="/myImages/My08.gif" WIDTH=1 HEIGHT=54></TD>
			<TD><IMG SRC="/myImages/spacer.gif" WIDTH=13 HEIGHT=40></TD>
			<TD> <img src="/myImages/My11.gif" width=56 height=40></TD>
			<TD> <IMG SRC="/myImages/spacer.gif" WIDTH=18 HEIGHT=40></TD>
		  </TR>  
		   <TR> 
			<TD COLSPAN=3><IMG SRC="/myImages/spacer.gif" WIDTH=87 HEIGHT=14></TD>
		  </TR>
		</TABLE>
<!-- ******* END OF CORNER IAG LOGO ******** -->
	</TD><TD>
<!-- ******* START OF RIGHT TOP ******** -->
		<TABLE CELLSPACING=0 CELLPADDING=0>
			<TR>
				<TD COLSPAN=6>
					<IMG SRC="/myImages/My02.gif" WIDTH=690 HEIGHT=1></TD>
			</TR>
			<TR>
				<TD ROWSPAN=2>
					<IMG SRC="/myImages/My2000.gif" WIDTH=502 HEIGHT=24></TD>
				<TD ROWSPAN=2>
					<IMG NAME="My2000" SRC="/myImages/My2000.gif" WIDTH=86 HEIGHT=24></TD>
				<TD>
					<A HREF="#" ONCLICK="MM_openBrWindow('/iagHelp/iagHelp.asp?HelpID=1','IAGHelp','width=400,height=600')"
						ONMOUSEOVER="changeImages('My2000', '/myImages/My2001.gif', 'My05', '/myImages/My05-over.gif'); return true;"
						ONMOUSEOUT="changeImages('My2000', '/myImages/My2000.gif', 'My05', '/myImages/My05.gif'); return true;">
						<IMG NAME="My05" SRC="/myImages/My05.gif" WIDTH=48 HEIGHT=19 BORDER=0></A></TD>
				<TD>
					<A HREF="/MyWeb/myWhiteboard.asp"
						ONMOUSEOVER="changeImages('My2000', '/myImages/My2002.gif', 'My05', '/myImages/My05-My_Wh.gif'); return true;"
						ONMOUSEOUT="changeImages('My2000', '/myImages/My2000.gif', 'My05', '/myImages/My05.gif'); return true;">
						<IMG SRC="/myImages/My06.gif" WIDTH=41 HEIGHT=19 BORDER=0></A></TD>
				<TD ROWSPAN=2>
					<IMG SRC="/myImages/My07.gif" WIDTH=12 HEIGHT=24></TD>
				<TD ROWSPAN=2>
					<IMG SRC="/myImages/My08.gif" WIDTH=1 HEIGHT=24></TD>
			</TR>
			<TR>
				<TD COLSPAN=3>
					<IMG SRC="/myImages/My13.gif" WIDTH=89 HEIGHT=5></TD>
			</TR>
		</TABLE>
<!-- ******* END OF RIGHT TOP ******** -->
	</TD></TR>
	<TR><TD>
<!-- ******* START OF RIGHT TOP LOGO AND TAG AREA ******** -->	
		<TABLE CELLSPACING=0 CELLPADDING=0>
			<TR>
				<TD><IMG SRC="/myImages/spacer.gif" WIDTH=40 HEIGHT=12></TD>
				
              <TD ROWSPAN=3><IMG SRC="../../myImages/titles/finance_19.gif" WIDTH=276 HEIGHT=39></TD>
				<TD ROWSPAN=3><IMG SRC="/myImages/My08.gif" WIDTH=1 HEIGHT=43></TD>
			</TR>
			<TR>
				
              <TD><img src="../../myImages/tags/finance_tagline_21.gif" width=413 height=20></TD>
			</TR>
			<TR>
				<TD> <img src="/myImages/spacer.gif" width=40 height=7></TD>
			</TR>	
		</TABLE>
<!-- ******* END OF RIGHT TOP LOGO AND TAG AREA  ******** -->	
	</TD></TR>
	<TR><TD COLSPAN=2>
<!-- ******* START OF QUICK LINKS AREA  ******** -->	
		  <TABLE CELLSPACING=0 CELLPADDING=0>
            <TR> 
              <TD><IMG SRC="/myImages/My08.gif" WIDTH=1 HEIGHT=19></TD>
              <TD><IMG SRC="/myImages/spacer.gif" WIDTH=13 HEIGHT=19></TD>
              <td> <a href="/iagMyJob/iagMyJob.asp"
						onMouseOver="changeImages('My34', '/myImages/My34-My_Wh.gif'); return true;"
						onMouseOut="changeImages('My34', '/myImages/My34.gif'); return true;"> 
                <img src="/myImages/My18.gif" width=41 height=19 border=0 alt="MyJob"></a></td>
<% if Session("svUserType") = 5 then %>
				<TD>
					<A HREF="/iagFinance/iagFinance.asp"
						ONMOUSEOVER="changeImages('My20', '/myImages/My20-over.gif', 'My34', '/myImages/My34-My-42.gif'); return true;"
						ONMOUSEOUT="changeImages('My20', '/myImages/My20.gif', 'My34', '/myImages/My34.gif'); return true;">
						<IMG NAME="My20" SRC="/myImages/My20.gif" WIDTH=41 HEIGHT=19 BORDER=0></A></TD>
<% Elseif Session("svUserType") > 2 then %>
				<TD>
					<A HREF="/iagBusinessManager/iagBusinessManager.asp"
						ONMOUSEOVER="changeImages('My19', '/myImages/My19-over.gif', 'My34', '/myImages/My34-My-41.gif'); return true;"
						ONMOUSEOUT="changeImages('My19', '/myImages/My19.gif', 'My34', '/myImages/My34.gif'); return true;">
						<IMG NAME="My19" SRC="/myImages/My19.gif" WIDTH=41 HEIGHT=19 BORDER=0></A></TD>
				<TD>
					<A HREF="/iagFinance/iagFinance.asp"
						ONMOUSEOVER="changeImages('My20', '/myImages/My20-over.gif', 'My34', '/myImages/My34-My-42.gif'); return true;"
						ONMOUSEOUT="changeImages('My20', '/myImages/My20.gif', 'My34', '/myImages/My34.gif'); return true;">
						<IMG NAME="My20" SRC="/myImages/My20.gif" WIDTH=41 HEIGHT=19 BORDER=0></A></TD>
<% End if %>
              <td> <a href="/iagContactManager/iagContactManager.asp"
						onMouseOver="changeImages('My21', '/myImages/My21-over.gif', 'My34', '/myImages/My34-My-43.gif'); return true;"
						onMouseOut="changeImages('My21', '/myImages/My21.gif', 'My34', '/myImages/My34.gif'); return true;"> 
                <img name="My21" src="/myImages/My21.gif" width=41 height=19 border=0 alt="Contacts"></a></td>
<% if Session("svUserType") <> 5 then %>
              <td> <a href="/iagCRM/ZZCreateEnquiry.asp"
						onMouseOver="changeImages('My22', '/myImages/My22-over.gif', 'My34', '/myImages/My34-My-44.gif'); return true;"
						onMouseOut="changeImages('My22', '/myImages/My22.gif', 'My34', '/myImages/My34.gif'); return true;"> 
                <img name="My22" src="/myImages/My22.gif" width=41 height=19 border=0 alt="Customers"></a></td>
<% End if %>
              <td> <a href="/iagDiary/default.asp"
						onMouseOver="changeImages('My23', '/myImages/My23-over.gif', 'My34', '/myImages/My34-My-45.gif'); return true;"
						onMouseOut="changeImages('My23', '/myImages/My23.gif', 'My34', '/myImages/My34.gif'); return true;"> 
                <img name="My23" src="/myImages/My23.gif" width=41 height=19 border=0 alt="Diary"></a></td>
              <td> <a href=# onclick="javascript:window.open('https://mail.nownetwork.org.uk/','','')"
						onMouseOver="changeImages('My24', '/myImages/My24-over.gif', 'My34', '/myImages/My34-My-46.gif'); return true;"
						onMouseOut="changeImages('My24', '/myImages/My24.gif', 'My34', '/myImages/My34.gif'); return true;"> 
                <img name="My24" src="/myImages/My24.gif" width=41 height=19 border=0 alt="Email"></a></td>
              <td> <a href="/iagDocumentManager/iagDocumentManager.asp"
						onMouseOver="changeImages('My25', '/myImages/My25-over.gif', 'My34', '/myImages/My34-My-47.gif'); return true;"
						onMouseOut="changeImages('My25', '/myImages/My25.gif', 'My34', '/myImages/My34.gif'); return true;"> 
                <img name="My25" src="/myImages/My25.gif" width=48 height=19 border=0 alt="Documents"></a></td>
<% if Session("svUserType") = 3 OR Session("svUserType") = 4 then %>
	<TD><IMG SRC="/myImages/spacer.gif" WIDTH=240 HEIGHT=19></TD>
<% Else %>
	<TD><IMG SRC="/myImages/spacer.gif" WIDTH=322 HEIGHT=19></TD>
<% End if %>
              <TD><IMG NAME=My3000 SRC="/myImages/spacer.gif" WIDTH=86 HEIGHT=19></TD>
              <TD><A HREF="#" onClick="MM_openBrWindow('/IagProfile/PopMessage.asp','PopMessage','width=400,height=300')"
						ONMOUSEOVER="changeImages('My30', '/myImages/My30-over.gif', 'My3000', '/myImages/MyAddMessage.gif'); return true;"
						ONMOUSEOUT="changeImages('My30', '/myImages/My30-My_Wh.gif', 'My3000', '/myImages/spacer.gif'); return true;"> 
                <IMG NAME="My30" SRC="/myImages/My30-My_Wh.gif" WIDTH=48 HEIGHT=19 BORDER=0></A></TD>
              <TD> <A HREF="#" onClick="MM_openBrWindow('/IagProfile/PopTask.asp','PopTask','width=400,height=300')"
						ONMOUSEOVER="changeImages('My30', '/myImages/My30-My_Wh2.gif', 'My3000', '/myImages/MyAddTask.gif'); return true;"
						ONMOUSEOUT="changeImages('My30', '/myImages/My30-My_Wh.gif', 'My3000', '/myImages/spacer.gif'); return true;"> 
                <IMG SRC="/myImages/My31.gif" WIDTH=41 HEIGHT=19 BORDER=0></A></TD>
              <TD><IMG SRC="/myImages/spacer.gif" WIDTH=13 HEIGHT=19></TD>
              <TD><IMG SRC="/myImages/My08.gif" WIDTH=1 HEIGHT=19></TD>
            </TR>
          </TABLE>
<!-- ******* END OF QUICK LINKS AREA  ******** -->	
	</TD></TR>
	<TR><TD COLSPAN=2>
<!-- ******* START OF MENU BAR  ******** -->	
		<TABLE CELLSPACING=0 CELLPADDING=0>
			<TR>
				<TD><IMG SRC="/myImages/My08.gif" WIDTH=1 HEIGHT=17></TD>	
				<TD BGCOLOR=#FF9933><IMG SRC="/myImages/spacer.gif" WIDTH=13 HEIGHT=17></TD>
				<TD><IMG NAME="My34" SRC="/myImages/My34.gif" WIDTH=79 HEIGHT=17></TD>
				<TD BGCOLOR=#FF9933><IMG SRC="/myImages/spacer.gif" WIDTH=671 HEIGHT=17></TD>
				<TD BGCOLOR=#FF9933><IMG SRC="/myImages/spacer.gif" WIDTH=13 HEIGHT=17></TD>
				<TD><IMG SRC="/myImages/My08.gif" WIDTH=1 HEIGHT=17></TD>		
			</TR>
		</TABLE>
<!-- ******* END OF MENU BAR  ******** -->
	</TD></TR>	
</TABLE>

</TD></TR><TR><TD HEIGHT=100% VALIGN=TOP STYLE='BORDER-LEFT:1PX SOLID #FF9933;' width=772>
