﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.PersonsViewModel
@{
    int case_id = Model.CaseId;
    int recorded_by = Model.UserId;
    const string COMPLAINANT = "Complainant";
    const string PERPETRATOR = "Perpetrator";
    var ComplainantList = Model.Persons.Where(p => p.PersonRole.Equals(COMPLAINANT)).ToList();
    var PerpetratorsList = Model.Persons.Where(p => p.PersonRole.Equals(PERPETRATOR)).ToList();

    int def_comp_id = ComplainantList[0].PersonId;
    string def_comp_type = ComplainantList[0].PersonType;

    int def_perp_id = PerpetratorsList[0].PersonId;
    string def_perp_type = PerpetratorsList[0].PersonType;
}
<div>
    <ul class="tabs" id="person-tabs">
        <li class="tab-link current" data-tab="tab-complainant">Complainants:</li><li class="tab-link" data-tab="tab-perpetrator">Perpetrators:</li>
    </ul>
    <div id="tab-complainant" class="tab-content current">
        <div class="col-xs-12 no-padding-sides" style="margin-top:5px;" id="person-paging-div">
            @for (int i = 0; i < ComplainantList.Count; i++)
            {
                if (i == 0)
                {
                    <a href="javascript:void(0)" class="page active" id=@(i+1) data-number=@ComplainantList[i].PersonId
                       data-ptype=@ComplainantList[i].PersonType data-prole=@ComplainantList[i].PersonRole>@(i + 1)</a>
                }
                else
                {
                    <a href="javascript:void(0)" class="page" id=@(i+1) data-number=@ComplainantList[i].PersonId
                       data-ptype=@ComplainantList[i].PersonType data-prole=@ComplainantList[i].PersonRole>@(i + 1)</a>
                }
            }
        </div>
        <div style="margin-top:5px;" id="complainantdetail">
            @Html.Action("PersonDetail", "Cases", new { pId = def_comp_id, pType = def_comp_type })
        </div>
    </div>
    <div id="tab-perpetrator" class="tab-content">
        <div class="col-xs-12 no-padding-sides" style="margin-top:5px;" id="person-paging-perp-div">
            @for (int i = 0; i < PerpetratorsList.Count; i++)
            {
                if (i == 0)
                {
                    <a href="javascript:void(0)" class="page active" id=@(i+1) data-number=@PerpetratorsList[i].PersonId
                       data-ptype=@PerpetratorsList[i].PersonType data-prole=@PerpetratorsList[i].PersonRole>@(i + 1)</a>
                }
                else
                {
                    <a href="javascript:void(0)" class="page" id=@(i+1) data-number=@PerpetratorsList[i].PersonId
                       data-ptype=@PerpetratorsList[i].PersonType data-prole=@PerpetratorsList[i].PersonRole>@(i + 1)</a>
                }
            }
        </div>
        <div style="margin-top:5px;" id="perpetratordetail">
            @Html.Action("PersonDetail", "Cases", new { pId = def_perp_id, pType = def_perp_type })
        </div>
    </div>
    <div style="display:none; height:50%;" id="progress-add-person">
        <img src='@Url.Content("~/Images/progress.gif")' />
    </div>
</div>

<script>
    var cmpid; // Will be used when Complainant is added as Customer
    var cmptype;
    var perpid;
    var perptype;
    $('#person-tabs li').on('click', function () {
        var tab_id = $(this).attr('data-tab');
        $('#person-tabs li').removeClass('current');
        if (tab_id == 'tab-complainant') {
            $('#tab-perpetrator').removeClass('current');
        } else {
            $('#tab-complainant').removeClass('current');
        }
        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
    });
    $("#person-paging-div").on('click', 'a', function () {
        var anchorid = $(this).attr("id");
        var id = parseInt($("#person-paging-div > a#" + anchorid).attr("data-number"));
        var type = $("#person-paging-div > a#" + anchorid).attr("data-ptype");
        PopulateDetails(id, type, '@COMPLAINANT');
        $("#person-paging-div > a").removeClass("active");
        $(this).addClass("active");
    });

    $("#person-paging-perp-div").on('click', 'a', function () {
        var anchorid = $(this).attr("id");
        var id = parseInt($("#person-paging-perp-div > a#" + anchorid).attr("data-number"));
        var type = $("#person-paging-perp-div > a#" + anchorid).attr("data-ptype");
        PopulateDetails(id, type, '@PERPETRATOR');
        $("#person-paging-perp-div > a").removeClass("active");
        $(this).addClass("active");
    });

    function PopulateDetails(personId, persontype, personrole) {
        $.ajax({
            url: '@Url.Action("PersonDetail")',
            data: { pId: personId, pType: persontype },
            dataType: 'html',
            success: function (data) {
                if (personrole === "Perpetrator") {
                    $("#perpetratordetail").html(data);
                } else {
                    $("#complainantdetail").html(data);
                }
            }
        });
    }
</script>


