﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.AssociatedContactViewModel
@{
    int case_id = Model.CaseId;
    int added_by = Model.RecordedById;
    string func = Model.Paging.FunctionName;
}
<div class="NewCaseViews">
    <div class="col-xs-12 no-padding-sides">
        <table class="col-xs-12" style="table-layout:fixed !important; margin-top:10px;" id="ContactsTable">
            <thead>
                <tr>
                    <th class="col-xs-3 no-padding-left" style="text-align:left;">Name:</th>
                    <th class="col-xs-4 no-padding-left" style="text-align:left;">Organization:</th>
                    <th class="col-xs-3 no-padding-left" style="text-align:left;">Tel:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ac in Model.Contacts)
                {
                    <tr>
                        <td class="col-xs-3 no-padding-left">@ac.Name</td>
                        <td class="col-xs-4 no-padding-left">@ac.Organization</td>
                        <td class="col-xs-3 no-padding-left">@ac.Telephone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.Contacts.Count != 0)
    {
        <div style="margin-top:10px !important">
            @{Html.RenderPartial("~/Views/Shared/_PartialPager.cshtml", Model.Paging);}
        </div>
                }
    <div class="progress-dialog" style="display:none;" id="progress-contacts">
        <img src='@Url.Content("~/Images/progress.gif")' />
    </div>
</div>
<script type="text/javascript">
    function On@(func)PageNumberClick(pgNum, pgSize) {
        var PAGE_URL = '@Url.Action("GetContacts", "Cases")';
        $.ajax({
            url: PAGE_URL,
            dataType:'html',
            data: {
                caseId:@case_id,
                pgNum:pgNum,
                pgSize:pgSize
            },
            beforeSend: function(){
                $("#progress-doc").show();
            },
            success: function(data){
                $("#ContactsDiv").html(data);
                $("#progress-doc").hide();
            }
        });
    }

</script>
