﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.FileCaseViewModel

@{
    //Since Case ID is same for each document list. Get it from first index if list is not empty,
    //otherwise get it from ViewBag
    int case_id;
    int uploadedby = ViewBag.EmpId;
    if (Model.Params.Count > 0)
    {
        case_id = Model.Params[0].CaseId;
    }
    else
    {
        case_id = ViewBag.CaseId;
    }
    const string FILE_TYPE = "Document";
    string func = Model.Paging.FunctionName;
}

<div class="NewCaseViews">
    <div>
        <p><b>Documents:</b></p>
    </div>
    <div class="clearfix"></div>
    <div id="AddedDocsTable" style="margin-top:10px;" class="col-xs-12 no-padding-sides">
        <table class="col-xs-12" style="table-layout:fixed !important;">
            <thead>
                <tr>
                    <th class="col-xs-2 no-padding-left" style="text-align:left;">Uploaded:</th>
                    <th class="col-xs-5 no-padding-left" style="text-align:left;">File Name:</th>
                    <th class="col-xs-2 no-padding-left" style="text-align:left;">By:</th>
                    <th class="col-xs-2 no-padding-left" style="text-align:left;"></th>
                    <th class="col-xs-1 no-padding-left"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model.Params)
                {
                    <tr>
                        <td class="col-xs-2 no-padding-left">@f.DateUploaded</td>
                        <td class="col-xs-7 no-padding-left" style="text-overflow:ellipsis !important;
                                        overflow:hidden !important;">
                            @Html.ActionLink(f.FileName, "DownloadFile", "Cases",
                                    new { FileName = f.FileName, FilePath = f.FilePath }, null)
                        </td>
                        <td class="col-xs-2 no-padding-left" style="text-overflow:ellipsis !important;
                                        overflow:hidden !important; white-space:nowrap !important;">
                            @f.UploadedBy
                        </td>
                        <td class="col-xs-2 no-padding-left" style="text-overflow:ellipsis !important;
                                        overflow:hidden !important; white-space:nowrap !important;">
                            <div style="cursor:pointer !important; color:blue" id="ViewDocNotes">View Notes</div>

                        </td>
                        <td class="col-xs-1 no-padding-right">
                            <img id="removedocument" src="~/Images/clear.png" style="cursor:pointer !important" hidden="hidden"/>
                            <input type="hidden" id="fileparams"
                                   data-filenote="@f.Notes" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.Params.Count != 0)
    {
        <div style="margin-top:10px !important">
            @{Html.RenderPartial("~/Views/Shared/_PartialPager.cshtml", Model.Paging);}
        </div>
    }
    <div class="progress-dialog" style="display:none;" id="progress-doc">
        <img src='@Url.Content("~/Images/progress.gif")' />
    </div>
</div>


<script type="text/javascript">
    function On@(func)PageNumberClick(pgNum, pgSize) {
        var PAGE_URL = '@Url.Action("GetFiles", "Cases")';
        $.ajax({
            url: PAGE_URL,
            dataType:'html',
            data: {
                pIntCaseId:@case_id,
                pStrType:'@FILE_TYPE',
                pIntPgeNum:pgNum,
                pIntPgSze:pgSize
            },
            beforeSend: function(){
                $("#progress-doc").show();
            },
            success: function(data){
                $("#DocumentsDiv").html(data);
                $("#progress-doc").hide();
            }
        });
    }
</script>
