﻿@model ASB_UI.ViewModels.AmendCase.SubViewModels.CaseActionsViewModel

@{
    int case_id = Model.ActionsList[0].CaseId;
    string func = Model.Paging.FunctionName;
}
<div id="JournalDiv" class="col-xs-12 no-padding-sides ActionTable">
    <table class="col-xs-12" id="tblOpenCases">
        <thead>
            <tr>
                <th>Date:</th>
                <th>Action:</th>
                <th>Notes:</th>
                <th>By:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var actionItem in Model.ActionsList)
            {
                <tr>
                    <td>@actionItem.RecordedDate</td>
                    <td>@actionItem.Action</td>
                    <td>@actionItem.ActionNotes</td>
                    <td>@actionItem.RecordedBy</td>
                </tr>
            }
        </tbody>
    </table>


    <div style="margin-top:10px !important">
        @{Html.RenderPartial("~/Views/Shared/_PartialPager.cshtml", Model.Paging);}
    </div>
</div>

<script type="text/javascript">
    function On@(func)PageNumberClick(pgNum, pgSize)
    {
        var PAGE_URL = '@Url.Action("GetJournals", "Cases")';
        $.ajax({
            url: PAGE_URL,
            dataType:'html',
            data: {
                pIntCaseId:@case_id,
                pIntPgeNum:pgNum,
                pIntPgSze:pgSize
            },
            beforeSend: function(){
                //$("#progress-doc").show();
            },
            success: function(data){
                $("#JournalDiv").html(data);
                //$("#progress-doc").hide();
            }
        });
    }

    function UpdateActionsInJournal()
    {
        var PAGE_URL = '@Url.Action("GetJournals", "Cases")';
        var pageNum = @Html.Raw(Json.Encode(Model.Paging.PageNumber));
        var pageSize=@Html.Raw(Json.Encode(Model.Paging.PageSize));
        debugger;
        $.ajax({
            url: PAGE_URL,
            dataType:'html',
            data: {
                pIntCaseId:@case_id,
                pIntPgeNum:pageNum,
                pIntPgSze:pageSize
            },
            beforeSend: function(){
                //$("#progress-doc").show();
            },
            success: function(data){
                $("#JournalDiv").html(data);
                //$("#progress-doc").hide();
            }
        });
    }
</script>
