﻿@model  ASB_UI.ViewModels.AmendCase.AmendCaseViewModel
@{
    ViewBag.Title = "Amend Case";
    int case_id = Model.CaseId;
}
<div>
    <div class="col-xs-11 no-padding-sides">
        <div id="header-asb" class="clearfix col-xs-12">
            <b style="color:white">ASB Case @Model.CaseId</b>
        </div>
        <div class="col-xs-12 no-padding-sides" style="margin-top:10px;">
            <div class="col-xs-6 no-padding-left" id="ActionAndDetails">
                <div>
                    <input type="button" value="Status: @Model.DetailsAndActions.CaseDetails.CaseStatus" class="pull-right button-default" id="CaseStatus" />
                    <input type="button" value="Export PDF" class="pull-right button-default"
                           style="margin-right:3px; display:none;" id="BtnExportPDF" />
                    <ul class="tabs" id="cases-tabs">
                        <li class="tab-link current" data-tab="tab-case-details">Case Details</li>
                        <li class="tab-link" data-tab="tab-case-journals">Case Journal</li>
                    </ul>
                </div>
                <div id="tab-case-details" class="tab-content current">
                    @{Html.RenderPartial("~/Views/Cases/Amending/_PartialCaseDetail.cshtml", Model.DetailsAndActions.CaseDetails);}
                </div>
                <div id="tab-case-journals" class="tab-content background-white">
                    @{Html.RenderPartial("~/Views/Cases/Amending/_PartialCaseActions.cshtml", Model.DetailsAndActions.CaseActions);}
                </div>
            </div>
            <div class="col-xs-6" id="OtherCaseContentDiv">
                @{Html.RenderPartial("~/Views/Cases/ReadOnly/_PartialViewPersonTabs.cshtml", Model.PersonModel);}
                <div id="DocumentsDiv">
                    @{Html.RenderPartial("~/Views/Cases/ReadOnly/_PartialViewDocuments.cshtml", Model.FileViewModel);}
                </div>
                <div id="PhotographsDiv">
                    @{Html.RenderPartial("~/Views/Cases/ReadOnly/_PartialViewPhotographs.cshtml", Model.PhotoViewModel);}
                </div>
                <div id="ContactsDiv">
                    @{Html.RenderPartial("~/Views/Cases/ReadOnly/_PartialViewContacts.cshtml", Model.ContactsModel);}
                </div>
            </div>
        </div>
    </div>
    <div id="docNotesDialog" role="dialog" class="modal">
        @*@{Html.RenderPartial("~/Views/Cases/Amending/_PartialActionDialog.cshtml",
            new ASB_UI.ViewModels.AmendCase.SubViewModels.AddActionDialogModel()); }*@
    </div>
</div>

<script type="text/javascript">
    
        $('#cases-tabs li').on('click', function () {
            var tab_id = $(this).attr('data-tab');
            $('#cases-tabs li').removeClass('current');
            if (tab_id == 'tab-case-details') {
                $('#tab-case-journals').removeClass('current');
                $('#ActionAndDetails').addClass('col-xs-6');
                $('#OtherCaseContentDiv').show();
                $('#BtnExportPDF').hide();
            } else {
                $('#tab-case-details').removeClass('current');
                $('#ActionAndDetails').removeClass('col-xs-6');
                $('#OtherCaseContentDiv').hide();
                $('#BtnExportPDF').show();
                UpdateCaseActions();
            }
            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        });
   
    $("td div#ViewPhotoNotes").on('click', function(){

        var URL = '@Url.Action("ShowNotesDialog", "Cases")';
        var Notes = $(this).parents('tr').find('input[type="hidden"]').attr("data-filenote");
        $.ajax({
            url: URL,
            data: {
                notes: Notes,
                type: "Photograph"
            },
            cache: false,
            dataType: 'html',
            success: function (data) {
                $("#docNotesDialog").html(data);
                $("#docNotesDialog").modal();
            }
        });
    });
    $("td div#ViewDocNotes").on('click', function(){

        var URL = '@Url.Action("ShowNotesDialog", "Cases")';
        var Notes = $(this).parents('tr').find('input[type="hidden"]').attr("data-filenote");
        $.ajax({
            url: URL,
            data: {
                notes: Notes,
                type: "Document"
            },
            cache: false,
            dataType: 'html',
            success: function (data) {
                $("#docNotesDialog").html(data);
                $("#docNotesDialog").modal();
            }
        });
    });
    $(document).off('click', '#BtnCloseNotesWindow').on('click', '#BtnCloseNotesWindow',function () {
        $("#docNotesDialog").modal("hide");
    });
    function UpdateCaseActions()
    {
        var PAGE_URL = '@Url.Action("GetJournals", "Cases")';
        var pageNum = @Html.Raw(Json.Encode(Model.DetailsAndActions.CaseActions.Paging.PageNumber));
        var pageSize=@Html.Raw(Json.Encode(Model.DetailsAndActions.CaseActions.Paging.PageSize));
        $.ajax({
            url: PAGE_URL,
            dataType:'html',
            data: {
                pIntCaseId:@case_id,
                pIntPgeNum:pageNum,
                pIntPgSze:pageSize
            },
            beforeSend: function(){
                //$("#progress-doc").show();
            },
            success: function(data){
                $("#JournalDiv").html(data);
                //$("#progress-doc").hide();
            }
        });
    }

</script>
