﻿a
{
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
}
img
{
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}
ul 
{
	margin:15px;
}
td
{
	vertical-align: top;
}
.gbody
{
	background-color:#EEEEEE;
	font: normal 70% Arial, Helvetica, sans-serif;
}
.ten
{
	width:10%;
}
.forty 
{
	width:40%;
}
.fifty
{
	width:50%;
}
.ninty
{
	width:90%;
}
.btnnext
{
	text-align:right;
}
hr 
{
	color:White;
}
.panel-css
{
	width:100%;
	height:475px;
	/*border:solid 1px red;*/
	overflow-x: hidden;
	overflow-y: scroll;
}
.panel
{
	width:100%;
	height:auto;
}
.cbgroup 
{
	vertical-align:top;
}
.fundingcell
{
	padding-bottom: 3px;
	vertical-align: middle;
	padding-top: 3px;
	height: 23px;
}
.siteimage
{
	width: 144px;
	height: 144px;
}
.datebox 
{
	border:solid 1px #000000;
}