<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="ContractorPortal.master.vb" Inherits="tenantsonline.ContractorPortal" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
<link rel="stylesheet" href="~/css/IE_Style.css" />
    <title>Contractor Portal</title>
        <style type="text/css">
        .header_black {
	            font-family: Arial;
	            font-size: 20pt;
	            color: #000000;
	            font-weight:bold;
	             display:inline;
        }
        .modalBackground 
        {
	        background-color:Gray;
	        filter:alpha(opacity=60);
	        opacity:0.60;         
        }
        .updateProgress
        {
            border-width:1px; 
            border-style:solid; 
            background-color:#CCCCCC; 
            position:absolute; 
            width:230px; 
            height:60px;    
        }
        .updateProgressMessage
        {
            margin:3px; 
            font-family:Trebuchet MS; 
            font-size:small; 
            vertical-align: middle;
        }
        .cellData {
	        font-family: Arial;
	        font-size: 9pt;
	        color: #000000;
	        display:inline;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table style="width: 100%" cellpadding="2px" cellspacing="2px">
            <tr>
                <td style="width: 546px; height: 63px;">
                    <asp:Image ID="imgLogo" runat="server" ImageUrl="~/images/RSLLogo.gif" /></td>
                <td style="width: 777px; height: 63px;" align="right">
                    <asp:LinkButton ID="lnkWhiteBoard" runat="server" CssClass="link_item">White Board</asp:LinkButton></td>
                <td style="width: 172px; height: 63px;">
                    <asp:Label ID="lblHeading" runat="server" CssClass="header_black" Text="Reactive Repairs" Width="231px"></asp:Label></td>
            </tr>
            <tr>
                <td style="width: 546px; height: 20px;">
                    &nbsp;</td>
                <td style="width: 777px">
                </td>
                <td align="right" style="width: 172px">
                    </td>
            </tr>
            <tr>
                <td colspan="3" style="background: #c00000; height: 20px">
                </td>
            </tr>
            <tr>
                <td colspan="3">
        <asp:ContentPlaceHolder ID="page_area" runat="server">
        </asp:ContentPlaceHolder>
                </td>
            </tr>
        </table>
        &nbsp;
    </div>
    </form>
</body>
</html>
