body {  background-repeat: no-repeat; background-position:788 10; background-attachment: fixed; background-image: url(/Bespokidity/SideTab.gif)}
.calText {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal}
.calTextLge { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal }
.calTextSml { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal }
.iagButton {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; background-color: #FF9933; border: 1px #F4F3F7 ridge; color: #FFFFFF; cursor: hand}
.iagContentButton {  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; background-color: beige; border: 1px #F4F3F7 ridge; color: #666666; cursor: hand}
.iagExcelButton {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; background-color: green; border: 1px #F4F3F7 ridge; color: #FFFFFF; cursor: hand}
.iagButtonSmall { font-size: 9px; font-style: normal; background-color: #FF9933; border: 1px #F4F3F7 ridge; color: #FFFFFF; cursor: hand ; font-family: Tahoma, Arial; font-weight: normal}
.iagManager {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; color: #FFFFFF}
.iagManagerBody { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #FFFFFF }
.iagManagerFormBody { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #656678}
.iagManagerFormBodyBig { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; color: #656678 }
.iagManagerbigblue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; color: #656678}
.iagManagerSmall {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #FFFFFF}
.iagManagerSmallBlk {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;font-style: normal;line-height: normal;font-weight: normal;color: #000000;text-decoration: none;}
.iagManagerSmallBlue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #0000CC; text-decoration: none; }
.iagManagerSmallWht { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; }
.iagManagerTable { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; color: #000000}
.iagManagerTableLge { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; color: #000000 }
.iagTitleWhite {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: lighter; color: #FFFFFF; text-decoration: none;}
.ThinLineR {border-right-width: 1px;border-right-style: solid;border-right-color: #FF9933;}
.ThinLineB {border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #FF9933;}
.ThinLineL {border-left-width: 1px;border-left-style: solid;border-left-color: #FF9933;}
.ThinLineT {border-top-width: 1px;border-top-style: solid;border-top-color: #FF9933;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;font-weight: normal;color: #000000;text-decoration: none;}
.ThinLineLnB {	border-left-width: 1px;	border-left-style: solid;border-left-color: #FF9933;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #FF9933;}
.Printout {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #000000}
.kbtext {  font-family: Arial; font-size: 9px}
.kbtextMedium { font-family: Arial; font-size: 12px}
.TA {scrollbar-3dlight-color:;
       	SCROLLBAR-FACE-COLOR: #FFFFFF; 
 	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; 
 	SCROLLBAR-SHADOW-COLOR: silver; 
 	SCROLLBAR-3DLIGHT-COLOR: silver; 
 	SCROLLBAR-ARROW-COLOR: silver; 
 	SCROLLBAR-TRACK-COLOR: #F9FAF8; 
 	SCROLLBAR-DARKSHADOW-COLOR: silver; 
 	ScROLLBAR-BASE-COLOR: #FFFFFF;
}