﻿@using RSLHousingBenefit.Common.Constants
@model RSLHousingBenefit.Models.ViewModels.CustomerHBListingViewModel
@{
    ViewBag.Title = "Housing Benefit List";
    var grid = new WebGrid(canPage: false, canSort: false);
    grid.Bind(Model.hbListing, autoSortAndPage: false);
}


<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Housing Benefit : <i> @Model.customerName : @Model.customerAddress</i></h4>
        </div>
        <div class="modal-body">
            <div class="row padding-bottom-5">
                <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                    <strong id="popupMsgResponse"></strong>
                </div>
                <div class="col-md-12" style="max-height:400px; overflow:auto;">

                    @grid.GetHtml(
                        htmlAttributes: new { id = "grdCustomerHBList" },
                        tableStyle: "table table-responsive backcolor",
                        headerStyle: "wedgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row webgrid-row-style-hover",
                        rowStyle: "webgrid-row-style webgrid-row-style-hover",
                        columns: grid.Columns(
                            grid.Column(columnName: "hbId", style: "disp-none"),
                            grid.Column(columnName: "tenancyId", style: "disp-none"),
                            grid.Column(columnName: "customerId", style: "disp-none"),
                            grid.Column(columnName: "hbref", header: "Claim Number", style: "width-prc-20"),
                            grid.Column(columnName: "startDate", header: "Start Date", style: "width-prc-20"),
                            grid.Column(columnName: "endDate", header: "End Date", style: "width-prc-20"),
                            grid.Column(columnName: "localAuthority", header: "Local Authority", style: "width-prc-40")                            
                    ))

                </div>
            </div>
            <input type="hidden" value="@ViewBag.exceptionId" id="hdnExceptionId" />
            <input type="hidden" value="@ViewBag.tenancyId" id="hdnTenancyId" />
            <input type="hidden" value="@ViewBag.customerId" id="hdnCustomerId" />
            @Html.Raw("<div style='text-align:center; height:25px; background-color:#FFFAEA; display:none; font-weight:bold;' id='dvEmptyHBData'> No HB is setup for this Customer / Tenancy </div>")
            @Html.Raw("<div style='text-align:center; height:25px;' id='dvNewHBSchedule'> <button id='btnNewHBSchedule' type='button' class='btn-hb-default'>New HB Schedule</button></div>")
        </div>
    </div>
</div>



<script type="text/javascript">

    (function () {

        $('#grdCustomerHBList thead tr th:nth-child(1)').hide();
        $('#grdCustomerHBList thead tr th:nth-child(2)').hide();
        $('#grdCustomerHBList thead tr th:nth-child(3)').hide();

        var totalRecords = $('#grdCustomerHBList tbody tr').length;
        if (totalRecords == 0) {
            $('#dvEmptyHBData').css('display', 'block');            
        } else {
            $('#dvEmptyHBData').css('display', 'none');
        }
         
        var $inProgressRows = $('#grdCustomerHBList tbody tr:contains("Still in progress...")');
        if ($inProgressRows.length == 0) {

            $('#btnNewHBSchedule').on('click', function () {                
                openNewHBSchedulePopup();
            });

        } else {

            $('#dvNewHBSchedule').hide();
            $inProgressRows.addClass('item-pointer');
            $inProgressRows.on('click', function () {               
                var hId = $(this).find('td:nth-child(1)').text();
                openHBScheduleDetailPopup(hId);
            });
        }

    })();

    function openHBScheduleDetailPopup(hbId)
    {
        
        var detailRequestData = {
            hbId: hbId,
            exceptionId: document.getElementById("hdnExceptionId").value
        };

        $.post('@Url.Action("CustomerHBDetails", "ExceptionsReport")',
            detailRequestData
            , function (data) {
                $('#hbExceptionContainer').empty();
                $('#hbExceptionContainer').html(data);
            }
        );
    }

    function openNewHBSchedulePopup()
    {
        var newHBRequestData = {
            exceptionId: document.getElementById("hdnExceptionId").value,
            customerId: document.getElementById("hdnCustomerId").value,
            tenancyId: document.getElementById("hdnTenancyId").value
        };

        $.post('@Url.Action("GetNewHBSchedule", "ExceptionsReport")',
            newHBRequestData
            , function (data) {
                $('#hbExceptionContainer').empty();
                $('#hbExceptionContainer').html(data);

            }
        );
    }

</script>






