﻿@model RSLHousingBenefit.Models.ViewModels.CustomerSearchRequestViewModel
@{
    ViewBag.Title = "Find Customer";
}

<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Find Customer</h4>
        </div>
        <div class="modal-body">
            <div class="row padding-bottom-5">
                <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                    <strong id="popupMsgResponse"></strong>
                </div>
                <div class="col-md-5 default-form">
                    <div class="row padding-bottom-5 ">
                        <div class="col-md-4">
                            @Html.LabelFor(m => m.firstName, new { @class = "control-label" })
                        </div>
                        <div class="col-md-8">                                                        
                            @Html.TextBoxFor(m => m.firstName,new { @class = "form-control input-sm", @id="txtFirstName" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-4">
                            @Html.LabelFor(m => m.lastName)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.lastName, new { @class = "form-control input-sm", @id = "txtLastName" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-4">
                            @Html.LabelFor(m => m.address)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.address, new { @class = "form-control input-sm", @id = "txtAddress" })
                        </div>
                    </div>
                    <div class="row padding-bottom-5">
                        <div class="col-md-4">
                            @Html.LabelFor(m => m.postcode)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.postcode, new { @class = "form-control input-sm", @id = "txtPostcode" })
                        </div>
                    </div>
              
                    <div class="row padding-bottom-5" style="padding-top:20px;">
                        <div class="col-md-6">
                            <button type="button" class="btn-default-form pull-left" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" id="btnSearchCustomer" class="btn-default-form pull-right">Search</button>
                            <input type="hidden" name="ExceptionId" id="hdnExceptionId" value="@ViewBag.ExceptionId" />
                        </div>
                    </div>

                </div>
                <div class="col-md-7">
                    <div class="row padding-bottom-5">
                        <div class="webgrid-listing" id="customer-list" style="overflow:auto; height: 300px; margin-right:10px;">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    (function () {

        $('#btnSearchCustomer').on('click', function () {

            var requestData = {
                firstName:document.getElementById('txtFirstName').value,
                lastName:document.getElementById('txtLastName').value,
                address:document.getElementById('txtAddress').value,
                postcode:document.getElementById('txtPostcode').value
            };

            $.post('@Url.Action("GetCustomerList", "ExceptionsReport")'
                , requestData
                , function (data) {
                    $('#customer-list').empty();
                    $('#customer-list').html(data);                    
                }
            );

        });

    })();

</script>


