﻿@using RSLHousingBenefit.Common.Constants
@model RSLHousingBenefit.Models.ViewModels.CustomerListViewModel
@{
    ViewBag.Title = "Customer List";
    var grid = new WebGrid(canPage: false, canSort: false);
    grid.Bind(Model.customers, autoSortAndPage: false);
}


@grid.GetHtml(
    htmlAttributes: new { id = "grdCustomerList" },
    tableStyle: "table table-responsive backcolor",
    footerStyle: "webgrid-footer",
    displayHeader: false,
    alternatingRowStyle: "webgrid-alternating-row webgrid-row-style-hover customer-list-item item-pointer",
    rowStyle: "webgrid-row-style webgrid-row-style-hover customer-list-item item-pointer",
    columns: grid.Columns(
        grid.Column(columnName: "CustomerId", header: "", style: "disp-none"),
        grid.Column(columnName: "TenancyId", header: "", style: "disp-none"),
        grid.Column(columnName: "customerName", style: "width-prc-40", format:@<text>
            @item.customerName
        </text>),
        grid.Column(columnName: "address", style: "width-prc-40", format:@<text>
            @item.address
        </text>),
        grid.Column(style: "width-prc-20", format:@<text>

            @Html.Raw(string.Format("<a class='pull-right' onclick='window.open(\"../../Customer/PopUps/Customer_Details.asp?CustomerID={0}\",\"CustomerDetails\", \"width = 400, height = 320\") ;event.stopPropagation(); return false;'> <img class='pull-right' src='../Content/Images/info.gif'/></a>", @item.customerId.ToString()))            
            @if (item.tenancyCount > 1)
            {
                @Html.Raw("<img title='Joint Tenancy' class='pull-right' src=\"../Content/Images/CustomerType/JT.gif\"/>")
            }
            @Html.Raw(string.Format("<img title='{1}' class='pull-right' src=\"../Content/Images/CustomerType/{0}.gif\"/>", @item.imgTitle, @item.customerTypeDesc))
            

        </text>)

))

@if (Model.customers.Count() >= ApplicationConstants.MaxListingRecords)
{
    @Html.Raw("<div style='text-align:center; height:50px; font-weight:bold;'> Maximum number of records returned.<br />To Filter the list apply more filters.</div>")    
}

@if (Model.customers.Count() == 0)
{
    @Html.Raw("<div style='text-align:center; height:50px; font-weight:bold;'> No record found </div>")
}


<script type="text/javascript">

    (function () {

        $('.customer-list-item').on('click', function () {

            var cId = $(this).find('td:nth-child(1)').text();
            var tId = $(this).find('td:nth-child(2)').text();
            var name = $(this).find('td:nth-child(3)').text();
            var adrs = $(this).find('td:nth-child(4)').text();
            var eid = document.getElementById('hdnExceptionId').value;

            var requestData = {
                customerId: cId,
                tenancyId: tId,
                customerName: name,
                address: adrs,
                exceptionId: eid
            };

            //$('#mdlCustomerSearch').modal('hide');

            $.post('@Url.Action("GetCustomerHousingBenefitList", "ExceptionsReport")',
                requestData
                , function (data) {
                    $('#hbExceptionContainer').empty();
                    $('#hbExceptionContainer').html(data);

                    $('#grdHBCustomerList thead tr th:nth-child(1)').hide();
                    $('#grdHBCustomerList thead tr th:nth-child(2)').hide();
                    $('#grdHBCustomerList thead tr th:nth-child(3)').hide();
                }
            );

        });

    })();


</script>




