﻿@model RSLHousingBenefit.Models.Models.GetNewHBScheduleModel
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Housing Benefit : <i> @Model.CustomerName : @Model.Address</i></h4>
        </div>
        <div class="modal-body">
            <div class="row padding-bottom-5">
                <div class="col-md-12 alert alert-danger" id="popupMessage" style="display:none">
                    <strong id="popupMsgResponse"></strong>
                </div>
                <div class="col-md-12" style="max-height:400px; overflow:auto;">


                    <div class="row">
                        <div class="col-md-6">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="hidden" value="" name="HBId" id="HBId">
                                            <input type="hidden" value="@Model.hbInformation.TenancyId" name="TenancyId" id="TenancyId">
                                            <input type="hidden" value="@Model.hbInformation.CustomerId" name="CustomerId" id="CustomerId">
                                            <input type="hidden" value="@Model.ExceptionId" name="ExceptionId" id="ExceptionId">
                                            <input type="hidden" value="" name="HBId" id="HBId">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>HB Ref:</label>
                                        </td>
                                        <td>
                                            <input type="text" name="HBRef" id="HBRef" class="form-control input-sm" onblur="HBInformationValidation()">
                                        </td>
                                        <td><span style="display:none;color:red" id="HBrefMessage">HBref is Required</span></td>

                                    </tr>
                                    <tr>
                                        <td><label>Initial Payment:</label></td>
                                        <td><input type="number" name="InitialPayment" class="form-control input-sm" id="InitialPayment" onblur="HBInformationValidation()"></td>
                                        <td><span style="display:none;color:red"  id="InitialPaymentMessage">Initial Payment is Required</span></td>
                                    </tr>
                                    <tr>
                                        <td><label>Start Date:</label></td>
                                        <td><input style="width:100%" type="date" class="form-control input-sm" name="NewHBStartDate" id="NewHBStartDate" onblur="HBInformationValidation()"></td>
                                        <td><span style="display:none;color:red" id="StartDateMessage">Start Date is Required</span></td>
                                    </tr>
                                    <tr>
                                        <td> <label>End Date:</label></td>
                                        <td><input style="width:100%" type="date" class="form-control input-sm" name="NewHBEndDate" id="NewHBEndDate" onblur="HBInformationValidation()"></td>
                                        <td> <span style="display:none;color:red" id="EndDateMessage">End Date is Required</span></td>
                                    </tr>
                                    <tr>
                                        <td><label>Default Cycle:</label></td>
                                        <td><input type="number" name="DefaultCycle" class="form-control input-sm" id="DefaultCycle" value="28" disabled></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <div id="NextPaymentsList">
                            </div>
                            <input type="button" class="btn btn-default btn-hb-default search-customer-flow" id="btnSave" value="Save" onclick="SubmitNewHBSchedule()" style="display:none">
                        </div>

                    </div>


                </div>
            </div>
        </div>
        </div></div>


        <script>
            function GetNextPaymentsList() {
                var HBId = $("#HBId").val();
                $.ajax({
                    url: '@Url.Action("GetNextPayments", "ExceptionsReport")',
                    type: "GET",
                    cache: false,
                    data: { HBId: HBId },
                    success: function (response) {
                        $("#NextPaymentsList").html(response);
                    }
                })

            }
            function GetNextDummyPaymentsList(InitialPayment, StartDate, EndDate)
            {
                StartDate = ((StartDate.getMonth()) + 1) + "/" + StartDate.getDate() + "/" + StartDate.getFullYear()
                EndDate = ((EndDate.getMonth()) + 1) + "/" + EndDate.getDate() + "/" + EndDate.getFullYear()
                $.ajax({
                    url: '@Url.Action("GetDummyNextPayments", "ExceptionsReport")',
                    type: "GET",
                    cache: false,
                    data: { newStartDate: StartDate, newEndDate: EndDate, newHb: InitialPayment },
                    success: function (response) {
                        $("#NextPaymentsList").html(response);
                        $("#btnSave").show();
                    }
                })

            }
            function UpdateNextPaymentsList() {
                var HBId = $("#HBId").val();
                var HB = $("#InitialPayment").val();
                var EndDate = $("#NewHBEndDate").val();
                var StartDate = $("#NewHBStartDate").val();
                var HbRef = $("#HBRef").val();
                var TenancyId = $("#TenancyId").val();
                var CustomerId = $("#CustomerId").val();

                $.ajax({
                    url: '@Url.Action("UpdateHbActualScheduleService", "ExceptionsReport")',
                    type: "POST",
                    cache: false,
                    data: { HBId: HBId, HbRef: HbRef, newStartDate: StartDate, newEndDate: EndDate, newHb: HB, CustomerId: CustomerId, TenancyId: TenancyId },
                    success: function (response) {
                        GetNextPaymentsList();
                    }
                })

            }
            function HBInformationValidation() {
                var HBRef = $("#HBRef").val();
                var InitialPayment = $("#InitialPayment").val();
                var StartDate = $("#NewHBStartDate").val().replace(/-/g, '/');
                var EndDate = $("#NewHBEndDate").val().replace(/-/g, '/');
                var status = false;
                var DateRegex = /^((19|20)?[0-9]{2})[- /.](0?[1-9]|1[012])[- /.](0?[1-9]|[12][0-9]|3[01])*$/
                if (!/^([a-zA-Z0-9_-]){1,50}$/.test($("#HBRef").val())) {
                    $("#HBrefMessage").show();
                    status = false;
                }
                else {

                    $("#HBrefMessage").hide();
                    status = true;
                }
                if (!/^-?\d+(\.\d*)?$/.test($("#InitialPayment").val())) {
                    $("#InitialPaymentMessage").show();
                    status = false;
                }
                else {
                    $("#InitialPaymentMessage").hide();
                    status = true;
                }
                if (DateRegex.test(StartDate) && DateRegex.test(EndDate)) {
                    StartDate = new Date(StartDate);
                    EndDate = new Date(EndDate);
                    if (StartDate > EndDate) {
                        $("#StartDateMessage").show();
                        $("#EndDateMessage").show();
                        status = false;

                    }
                    else {
                        $("#StartDateMessage").hide();
                        $("#EndDateMessage").hide();
                        status = true;
                    }
                }
                else {
                    $("#StartDateMessage").show();
                    $("#EndDateMessage").show();
                    status = false;
                }
                if (status == true) {
                    GetNextDummyPaymentsList(InitialPayment, StartDate, EndDate)
                    //SubmitNewHBSchedule(HBRef, InitialPayment, StartDate, EndDate);
                }
                else
                {
                    $("#NextPaymentsList").html('');
                    $("#btnSave").hide();
                }
            }
            function SubmitNewHBSchedule() {

                $("#btnSave").prop('disabled', true);
                var tenancyId = $("#TenancyId").val();
                var customerId = $("#CustomerId").val();
                var exceptionId = $("#ExceptionId").val();
                var HBRef = $("#HBRef").val();
                var InitialPayment = $("#InitialPayment").val();
                var StartDate = $("#NewHBStartDate").val();
                var EndDate = $("#NewHBEndDate").val();
                StartDate = new Date(StartDate);
                EndDate = new Date(EndDate);
                StartDate = StartDate.getDate() + "/" + ((StartDate.getMonth()) + 1) + "/" + StartDate.getFullYear()
                EndDate = EndDate.getDate() + "/" + ((EndDate.getMonth()) + 1) + "/" + EndDate.getFullYear()
                $.ajax({
                    url: '@Url.Action("SubmitNewHBSchedule", "ExceptionsReport")',
                    type: "POST",
                    cache: false,
                    data: { exceptionId: exceptionId, customerId: customerId, tenancyId: tenancyId, HbRef: HBRef, initialPayment: InitialPayment, startDate: StartDate, endDate: EndDate },
                    success: function (response) {

                        $("#HBId").val(response)
                        //UpdateNextPaymentsList();
                        //GetNextPaymentsList();
                        location.reload();
                    },
                    statusCode: {
                        400: function (xhr)
                        {
                            $("#btnSave").prop('disabled', false);
                            $('#popupMessage').fadeIn()
                            setTimeout(function () { $('#popupMessage').fadeOut() }, 5000);
                            $("#popupMsgResponse").text(xhr.statusText);
                        },
                        500:function(xhr)
                        {
                            $("#btnSave").prop('disabled', false);
                            $('#popupMessage').fadeIn()
                            setTimeout(function () { $('#popupMessage').fadeOut() }, 5000);
                            $("#popupMsgResponse").text(xhr.statusText);
                        }

                    }
                })

            }
        </script>

