﻿@model List<RSLHousingBenefit.Models.Models.HBPaymentModel>
<table class="table">
    <thead>
        <tr>
            <th>Date From</th>
            <th>Date To</th>
            <th>Days</th>
            <th>Amount</th>

        </tr>
    </thead>
    @foreach (var nextPayment in @Model)
    {
        <tr>
            <td>@nextPayment.StartDate</td>
            <td>@nextPayment.EndDate</td>
            <td>@nextPayment.DefaultCycle</td>
            <td>@nextPayment.Hb</td>

        </tr>
    }
</table>
@*<input type="button" class="btn btn-default btn-hb-default search-customer-flow" id="btnSave" value="Save" onclick="SubmitNewHBSchedule()">*@


