﻿@using RSLHousingBenefit.Common.Constants
@model RSLHousingBenefit.Models.ViewModels.ExceptionsListViewModel
@{
    ViewBag.Title = "Exceptions Report";
    var grid = new WebGrid(canPage: false, canSort: false);
    grid.Bind(Model.hbExceptions, autoSortAndPage: false);
}

<div class="col-md-6 main-title-header" style="border: 1px solid; background-color: #000; padding: 10px; margin:0px;">
    <span class="header" style="padding:0">Exceptions Report</span>
</div>

<div class="listing-Container" style="margin-top:0px;">
    <div id="webgrid">
        <div style="overflow:auto; max-height:530px;">

            @grid.GetHtml(
            htmlAttributes: new { id = "grdExceptionList" },
            tableStyle: "table table-responsive backcolor",
            headerStyle: "wedgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row webgrid-row-style-hover",
            rowStyle: "webgrid-row-style webgrid-row-style-hover",
            columns: grid.Columns(
            grid.Column(header: "", style: "width-prc-4 td-padding-right-0 webgrid-td-center", format:@<text>

            @if (item.isExcluded == true)
            {
                <img src="~/Content/Images/ic_excluded.png" width="22" height="22" />
            }
            else if (item.isResolved == true)
            {
                <img src="~/Content/Images/ic_resolved.png" width="22" height="22" />
            }
            else
            {
                <img src="~/Content/Images/ic_error.png" width="22" height="22" />
            }

    </text>),
        grid.Column(columnName: "reason", header: "Reason", style: "width-prc-20", format:@<text>
            <b>
                @item.reason.ToUpper();
            </b>
        </text>),
        grid.Column(header: "", style: "width-prc-60", format:@<text>

            @if (item.reason == ApplicationConstants.HBRefMismatchReason)
            {
                @Html.Raw(string.Format("<b>'{0}' '{1}'</b> does not match with the HB Ref <b>'{2}'</b>", @item.tenantName, @item.address, @item.hbRef))
            }
            else if (item.reason == ApplicationConstants.StartDateIncorrectReason)
            {
                @Html.Raw(string.Format("<b>{0}</b> does not match with the HB Ref <b>'{1}'</b>", @item.startDateString, @item.hbRef))
            }
            else if (item.reason == ApplicationConstants.EndDateIncorrectReason)
            {
                @Html.Raw(string.Format("<b>{0}</b> does not match with the HB Ref <b>'{1}'</b>", @item.endDateString, @item.hbRef))
            }
            else if (item.reason == ApplicationConstants.AmountIncorrectReason)
            {
                @Html.Raw(string.Format("<b>{0}</b> does not match with the HB Ref <b>'{1}'</b>", @item.amount, @item.hbRef))
            }
            else if (item.reason == ApplicationConstants.PaymentExistsReason)
            {
                @Html.Raw(string.Format("<b>{0}</b> for period <b>{1} / {2}</b> has already been allocated to HB Ref <b>'{3}'</b>", @item.amount, @item.startDateString, @item.endDateString, @item.hbRef))
            }
            else
            {
                @Html.Raw(string.Format("N/A"))

            }

        </text>),
        grid.Column(header: "", style: "width-prc-10", format:@<text>

            @if (item.reason == ApplicationConstants.HBRefMismatchReason)
            {
                <button type="button" class="btn btn-default btn-hb-default search-customer-flow" data-exceptionId="@item.exceptionId">Amend HB Record</button>
            }
            else if (item.reason == ApplicationConstants.StartDateIncorrectReason
                || item.reason == ApplicationConstants.EndDateIncorrectReason)
            {
                <button type="button" class="btn btn-default btn-hb-default hb-listing-flow" data-exceptionId="@item.exceptionId">Amend HB Record</button>
            }
            else if (item.reason == ApplicationConstants.AmountIncorrectReason)
            {
                <button type="button" class="btn btn-default btn-hb-default hb-detail-flow" data-exceptionId="@item.exceptionId" data-hbid="@item.hbId">Amend HB Record</button>
            }
            else if (item.reason == ApplicationConstants.PaymentExistsReason)
            {
                <button type="button" class="btn btn-default btn-hb-default hb-detail-flow" data-exceptionId="@item.exceptionId" data-hbid="@item.hbId">View HB Schedule</button>
            }
            else
            {
                <span style="width: 27px; display: block; float: left;">&nbsp;</span>
            }

        </text>)

        ))
        </div>

        @if (Model.hbExceptions.Count() == 0)
        {
            @Html.Raw("<div style='text-align:center; height:50px; font-weight:bold;'> No exceptions have been identified </div>")
        }

    </div>
</div>

@* HB Exception Popup Start *@
<div class="modal fade padding-bottom" id="mdlHBException" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="hbExceptionContainer"></div>
    </div>
</div>
@* HB Exception Popup End *@

<div class="modal fade padding-bottom" id="mdlConfirmationMessage" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="hbExceptionContainer">


            <div class="modal-dialog" >
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <span>Are you sure, you not want the payment to be included in the upload</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-default" data-dismiss="modal" onclick="ConfirmationPopUpNoBtn()">No</button>
                        <button type="button" id="SelectFile" class="btn-default" onclick="ConfirmationPopUpYesBtn()">Yes</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<script type="text/javascript">

    (function () {



        $('.search-customer-flow').on('click', function () {

            $.get('@Url.Action("CustomerSearch", "ExceptionsReport")' + '?exceptionId=' + $(this).data('exceptionid')
                , function (data) {
                    $('#hbExceptionContainer').empty();
                    $('#hbExceptionContainer').html(data);
                    $('#mdlHBException').modal('show');
                }
            );

        });


        $('.hb-listing-flow').on('click', function () {

            $.get('@Url.Action("AmendStartAndEndDateFlow", "ExceptionsReport")' + '?exceptionId=' + $(this).data('exceptionid')
                , function (data) {
                    $('#hbExceptionContainer').empty();
                    $('#hbExceptionContainer').html(data);
                    $('#mdlHBException').modal('show');
                }
            );

        });


        $('.hb-detail-flow').on('click', function () {

            var detailRequestData = {
                hbId: $(this).data('hbid'),
                exceptionId: $(this).data('exceptionid')
            };

            $.post('@Url.Action("CustomerHBDetails", "ExceptionsReport")',
                detailRequestData
                , function (data) {
                    $('#hbExceptionContainer').empty();
                    $('#hbExceptionContainer').html(data);
                    $('#mdlHBException').modal('show');
                }
            );

        });

    })();


</script>
