﻿@using RSLHousingBenefit.Common.Constants
@model RSLHousingBenefit.Models.ViewModels.HBTenancyListingViewModel
@{
    ViewBag.Title = "Multiple Tenancy List";
    var grid = new WebGrid(canPage: false, canSort: false);
    grid.Bind(Model.hbTenancyListing, autoSortAndPage: false);
}


<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Select Tenancy</h4>
        </div>
        <div class="modal-body">
            <div class="row padding-bottom-5">
                <div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
                    <strong id="popupMsgResponse"></strong>
                </div>
                <div class="col-md-12" style="max-height:400px; overflow:auto;">

                    @grid.GetHtml(
                        htmlAttributes: new { id = "grdMultipleTenancyList" },
                        tableStyle: "table table-responsive backcolor",
                        headerStyle: "wedgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row webgrid-row-style-hover hb-tenancy-item",
                        rowStyle: "webgrid-row-style webgrid-row-style-hover hb-tenancy-item",
                        columns: grid.Columns(
                            grid.Column(columnName: "HbId", header: "", style: "disp-none"),
                            grid.Column(columnName: "CustomerId", header: "", style: "disp-none"),
                            grid.Column(columnName: "TenancyId", header: "Tenancy Ref", style: "width-prc-20"),
                            grid.Column(columnName: "CustomerName", header: "Customer Name", style: "width-prc-40"),
                            grid.Column(columnName: "FullAddress", header: "Full Address", style: "width-prc-40")
                    ))

                </div>
            </div>
            <input type="hidden" value="@ViewBag.exceptionId" id="hdnTenancyPopupExceptionId" />
        </div>
    </div>
</div>



<script type="text/javascript">

    (function () {

        $('#grdMultipleTenancyList thead tr th:nth-child(1)').hide();
        $('#grdMultipleTenancyList thead tr th:nth-child(2)').hide();

        $('.hb-tenancy-item').on('click', function () {

            var hbId = $(this).find('td:nth-child(1)').text();

            var detailRequestData = {
                hbId: hbId,
                exceptionId: document.getElementById("hdnTenancyPopupExceptionId").value
            };

            $.post('@Url.Action("CustomerHBDetails", "ExceptionsReport")',
                detailRequestData
                , function (data) {
                    $('#hbExceptionContainer').empty();
                    $('#hbExceptionContainer').html(data);

                }
            );

        });


    })();

</script>






