﻿@using RSLHousingBenefit.Common.Constants;
@model RSLHousingBenefit.Models.Models.HBCustomerRecordModel
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Housing Benefit : <i>  @Model.CustomerName: @Model.Address</i></h4>
        </div>
        <div class="modal-body" style="overflow-y:auto; height:500px">
            <div class="col-md-12 alert alert-danger" id="popupMessage" style="display:none">
                <strong id="popupMsgResponse"></strong>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <table>
                        <tr style="display:none"><td><input type="hidden" id="HBUploadExceptionId" value="@Model.HBUploadExceptionId"></td></tr>
                        <tr style="display:none"><td><input type="hidden" id="HBId" value="@Model.HBId"></td></tr>
                        <tr style="display:none"><td><input type="hidden" id="TenancyId" value="@Model.TenancyId"></td></tr>
                        <tr style="display:none"><td><input type="hidden" id="CustomerId" value="@Model.CustomerId"></td></tr>
                        <tr class="spaceUnder"><td><lable>HB Ref:</lable></td><td><input type="text" id="HbRef" value="@Model.hBInformation.HbRef" style="width: 50%;text-align: center;"></td></tr>
                        @*<tr class="spaceUnder"><td><lable>HB Ref:</lable></td><td><span>@Model.hBInformation.HbRef</span></td></tr>*@
                        <tr class="spaceUnder"><td style="width:60%"><lable>Initial Payment:</lable></td><td><span>@Model.hBInformation.InitialPayment</span></td></tr>
                        <tr class="spaceUnder"><td><lable>Start Date:</lable></td><td><span>@Model.hBInformation.InitialStartDate</span></td></tr>
                        <tr class="spaceUnder"><td><lable>End Date:</lable></td><td><span>@Model.hBInformation.InitialEndDate</span></td></tr>
                        <tr class="spaceUnder"><td><lable>Default Cycle:</lable></td><td><span>@Model.hBInformation.DefaultCycle</span></td></tr>
                    </table>
                </div>
                <div class="col-md-8">

                    @if (@Model.hBPaymentModel.Count > 0)
                    {
                        <div class="col-md-12"style="padding-left: 0%;padding-right: 0%;padding-bottom: 6%;" >
                            <label>Last 6 HB Payments</label>
                            <table class="table" style="background:lightyellow">
                                @foreach (var m in @Model.hBPaymentModel)
                                {
                                    if (m.HbRow == Model.HBRow && ViewBag.exceptionReason == ApplicationConstants.PaymentExistsReason)
                                    {
                                        <tr style="color:white; background-color:black">
                                            <td>@m.StartDate</td>
                                            <td>@m.EndDate</td>
                                            <td>@m.Hb</td>
                                            <td>@m.DefaultCycle</td>
                                        </tr>

                                    }
                                    else
                                    {
                                        <tr>
                                            <td>@m.StartDate</td>
                                            <td>@m.EndDate</td>
                                            <td>@m.Hb</td>
                                            <td>@m.DefaultCycle</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>}
                    else
                    {
                        <div class="col-md-12" style="padding-left: 0%;padding-right: 0%;padding-bottom: 6%;">
                            <label>Last 6 HB Payments</label>
                            
                            <label style="background:lightyellow; display:block" >No Previous Payments Exist</label>
                        </div>
                    }

                    <div class="col-md-12" style="background:whitesmoke;height:80px">
                        <label style="padding-top:10px">Next Estimated HB Payment</label>
                        <table>
                            <tr>
                                <td>
                                    <input type="text" id="StartDate" value="@Model.hBNextEstimatedPaymentModel.StartDate" onchange="GetNextDummyPaymentsList()" style="width: 60%;text-align: center;">
                                </td>
                                <td>
                                    <input type="text" id="EndDate" value="@Model.hBNextEstimatedPaymentModel.EndDate" onchange="GetNextDummyPaymentsList()" style="width: 60%;text-align: center;">
                                </td>
                                <td>
                                    <input type="text" id="Hb" value="@Model.hBNextEstimatedPaymentModel.Hb" onchange="GetNextDummyPaymentsList()" style="width: 60%;text-align: center; float:right">
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-12"style="padding-left: 0%;padding-right: 0%;">
                        <hr>
                        <span><b>Next 13 Anticipated Housing Benefit Payments</b></span>
                        <hr>
                        <div id="NextPaymentsList">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <input type="button" class="btn-default" value="Cancel"  onclick="CancelPopUp()">
                        <input type="button" class="btn-success" id="IncludePayment" value="Include Payment in Upload" onclick="IncludePaymentInUpload()" >
                        <input type="button" class="btn-danger" id="RemovePayment" onclick="ShowConfirmationPopUp()" value="Remove Payment from Upload">
                    </div>

                </div>

                </div>

            
            @*<div class="modal fade" id="ConfirmationMessage" tabindex="-1" role="dialog" aria-labelledby="ConfirmationMessageLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="padding: 0px;">
                            <div class="row padding-bottom">
                                <div class="col-md-12">
                                    <div class="col-md-12" style="border: 1px solid; background-color: #000; padding: 10px;">
                                        <span class="header" style="padding:0;font-size: large;color: white;">Upload File:</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <span>Are you sure, you not want the payment to be included in the upload</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-default" data-dismiss="modal" onclick="ConfirmationPopUpNoBtn()">No</button>
                            <button type="button" id="SelectFile" class="btn-default" onclick="ConfirmationPopUpYesBtn()">Yes</button>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>



            <script>
                $(document).ready(GetNextPaymentsList())
                function GetNextPaymentsList() {
                    var HBId = $("#HBId").val();
                    $.ajax({
                        url: '@Url.Action("GetNextPayments", "ExceptionsReport")',
                        type: "GET",
                        cache: false,
                        data: { HBId: HBId },
                        success: function (response) {
                            $("#NextPaymentsList").html(response);
                        }
                    })

                }
                function CancelPopUp()
                {
                    $("#mdlHBException").modal('hide')
                }
                function GetNextDummyPaymentsList() {
                    debugger;
                    var InitialPayment = $("#Hb").val();
                    var End = $("#EndDate").val();
                    var Start = $("#StartDate").val();
                    var DateRegex = /^((19|20)?[0-9]{2})[/](0?[1-9]|1[012])[/](0?[1-9]|[12][0-9]|3[01])*$/;
                    if (DateRegex.test(End) && DateRegex.test(Start)) {
                        var EndDate = new Date(End.replace(/(\d{2})\/(\d{2})\/(\d{4})/, "$2/$1/$3"));
                        var StartDate = new Date(Start.replace(/(\d{2})\/(\d{2})\/(\d{4})/, "$2/$1/$3"));
                        StartDate = ((StartDate.getMonth()) + 1) + "/" + StartDate.getDate() + "/" + StartDate.getFullYear()
                        EndDate = ((EndDate.getMonth()) + 1) + "/" + EndDate.getDate() + "/" + EndDate.getFullYear()
                        $.ajax({
                            url: '@Url.Action("GetDummyNextPayments", "ExceptionsReport")',
                            type: "GET",
                            cache: false,
                            data: { newStartDate: StartDate, newEndDate: EndDate, newHb: InitialPayment },
                            success: function (response) {
                                $("#NextPaymentsList").html(response);
                            }
                        })
                    }
                    else
                    {
                        $('#popupMessage').fadeIn()
                        setTimeout(function () { $('#popupMessage').fadeOut() }, 5000);
                        $("#popupMsgResponse").text("Date Must be In dd/mm/yyyy formate");
                    }

                }
                function UpdateNextPaymentsList() {
                    var HBId = $("#HBId").val();
                    var HB = $("#Hb").val();
                    var EndDate = $("#EndDate").val();
                    var StartDate = $("#StartDate").val();
                    var HbRef = $("#HbRef").val();
                    var TenancyId = $("#TenancyId").val();
                    var CustomerId = $("#CustomerId").val();

                    $.ajax({
                        url: '@Url.Action("UpdateHbActualScheduleService", "ExceptionsReport")',
                        type: "POST",
                        cache: false,
                        data: { HBId: HBId, HbRef: HbRef, newStartDate: StartDate, newEndDate: EndDate, newHb: HB, CustomerId: CustomerId, TenancyId: TenancyId },
                        success: function (response) {
                            GetNextPaymentsList();
                        }
                    })

                }
                function IncludePaymentInUpload() {
                    $("IncludePayment").hide()
                    $("RemovePayment").hide()
                    var HB = $("#Hb").val();
                    var EndDate = $("#EndDate").val();
                    var StartDate = $("#StartDate").val();
                    var HbRef = $("#HbRef").val();
                    var HBId = $("#HBId").val();
                    var HBUploadExceptionId = $("#HBUploadExceptionId").val();
                    var TenancyId = $("#TenancyId").val();
                    var CustomerId = $("#CustomerId").val();
                    $.ajax({
                        url: '@Url.Action("InculdePaymentInUpload", "ExceptionsReport")',
                        type: "POST",
                        cache: false,
                        data: { HBId: HBId, HBUploadExceptionId: HBUploadExceptionId, HbRef: HbRef, newStartDate: StartDate, newEndDate: EndDate, newHb: HB, CustomerId: CustomerId, TenancyId: TenancyId },
                        success: function () {
                            CancelPopUp()
                            location.reload();
                        },
                        statusCode: {
                            400: function (xhr) {
                                $('#popupMessage').fadeIn()
                                setTimeout(function () { $('#popupMessage').fadeOut() }, 5000);
                                $("#popupMsgResponse").text(xhr.statusText);
                            },
                        }

                    })
                }
                function ShowConfirmationPopUp() {
                    $("#mdlConfirmationMessage").modal('show');
                }
                function ConfirmationPopUpYesBtn() {
                    ConfirmationPopUpNoBtn();
                    RemovePayment();

                }
                function ConfirmationPopUpNoBtn() {
                    $("#mdlConfirmationMessage").modal('hide');
                }

                function RemovePayment() {
                    $("IncludePayment").hide()
                    $("RemovePayment").hide()
                    var HBUploadExceptionId = $("#HBUploadExceptionId").val();
                    var isExclude = true;
                    $.ajax({
                        url: '@Url.Action("RemovePayment", "ExceptionsReport")',
                        type: "POST",
                        cache: false,
                        data: { HbUploadFileDataId: HBUploadExceptionId, isExclude: isExclude },
                        success: function () {
                            CancelPopUp()
                            location.reload();
                        }

                    })
                }
            </script>
