﻿@model RSLHousingBenefit.Models.ViewModels.ExceptionsListViewModel
@{
    ViewBag.Title = "Housing Benefit Upload";
}

<div class="main-Container">

    <div class="col-md-12 main-title-header" style="border: 1px solid; background-color: #000; padding: 10px;">
        <span class="header" style="padding:0">Housing Benefit Upload</span>
    </div>

    <div id="dvExceptionListContainer">
    </div>

    <div id="dvFooter">
        <button type="button" class="btn btn-hb-default pull-left" id="btnBack" onclick="btnBack_click(this)" data-url="@Url.Action("UploadFile","FileUploader")"> &lt; Back</button>
        <button type="button" class="btn btn-hb-success pull-right" id="btnProcessPayment" data-url="@Url.Action("UploadFile","FileUploader")">Process Payments</button>
        <button type="button" class="btn btn-hb-success pull-right margin-right-5" id="btnValidateData">Validate Data</button>
    </div>
    <input type="hidden" value="@ViewBag.HBUploadId" id="hdnHBUploadId" />
</div>

<script type="text/javascript">

    (function () {

        loadExceptionsList();

        $('#btnValidateData').on('click', function () {

            $.get('@Url.Action("ValidateExceptions", "ExceptionsReport")' + '?hbUploadId=' + document.getElementById("hdnHBUploadId").value
                , function (data) {
                    $('#dvExceptionListContainer').empty();
                    $('#dvExceptionListContainer').html(data);
                    handleButtonsVisibility();
                }
            );

        });

        $('#btnProcessPayment').on('click', function () {

            $.get('@Url.Action("ProcessHBPayment", "ExceptionsReport")' + '?hbUploadId=' + document.getElementById("hdnHBUploadId").value
                , function (data) {
                    var url = $('#btnProcessPayment').data('url');
                    window.location = url;
                }
            );

        });


    })();

    function loadExceptionsList() {
        $.get('@Url.Action("GetHBExceptionsList", "ExceptionsReport")' + '?hbUploadId=' + document.getElementById("hdnHBUploadId").value
                            , function (data) {
                                $('#dvExceptionListContainer').empty();
                                $('#dvExceptionListContainer').html(data);
                                handleButtonsVisibility();
                            });

    }


    function handleButtonsVisibility() {
        var totalRecords = $('#grdExceptionList tbody tr').length;
        if (totalRecords > 0) {
            $('#btnProcessPayment').addClass('btn-hb-disable');
            $('#btnProcessPayment').attr("disabled", "disabled");
        }
        else {
            $('#btnProcessPayment').removeClass('btn-hb-disable');
            $('#btnProcessPayment').removeAttr("disabled");
        }
    }

    function btnBack_click(e) {
        window.location = $(e).data('url');
    }

    function popupMessage(outerElement, element, msg, type) {
        $(window).scrollTop(0);
        if (type == "success") {

            $("#" + outerElement).removeClass('alert-danger');
            $("#" + outerElement).addClass('alert-success');
        }
        else if ("failure") {
            $("#" + outerElement).removeClass('alert-success');
            $("#" + outerElement).addClass('alert-danger');
        }

        $("#" + element).html(msg)
        $("#" + outerElement).show().delay(5000).fadeOut();
        window.scrollTo(0, 0);
    }

</script>


