﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="AidsAdaptationTab.ascx.vb"
    Inherits="Appliances.AidsAdaptationTab" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<style type="text/css">
    .style1
    {
        width: 270px;
    }
</style>
<asp:Panel ID="pnlAddPhotoPopup" runat="server" BackColor="White" Width="400px" >
    <table id="pnlAddPhotoTable">
        <tr>
            <td align="left" valign="top" colspan="2">
                 <div style=' margin-left:15px; '> <asp:Panel ID="pnlAddPhotoMessage" runat="server" Visible="false" >
                    <asp:Label ID="lblAddPhotoMessage" runat="server" Text=""></asp:Label>
                </asp:Panel></div> 
            </td>
        </tr>
        <tr>
            <td align="right" valign="top" width="120px">
                &nbsp;</td>
            <td align="left" valign="top" class="style1">
                &nbsp;</td>
        </tr>
        <tr>
            <td align="left" valign="top">
                &nbsp;
            </td>
            <td align="right" valign="top" style="text-align: right;" class="style1">
                &nbsp;&nbsp; &nbsp;
            </td>
        </tr>
    </table>
</asp:Panel>




