﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Bridge.aspx.cs" Inherits="Dashboard_UI.Bridge" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
 
</head>
   
<body>
<%=requestID %>
    <%=isActive %>
</body>

</html>
