<%@ Page Language="VB" MasterPageFile="~/BHAIntranet/Templates/3tierTemplate.master" AutoEventWireup="false" CodeFile="3tierWebTemplate.aspx.vb" Inherits="BHAIntranet_Pages_3tierWebTemplate" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ThreeTierContent" Runat="Server">
</asp:Content>

