<%@ Control Language="VB" AutoEventWireup="false" CodeFile="Blogs.ascx.vb"
    Inherits="BHAIntranet_UserControl_Whiteboard_Blogs" %>
<div style="margin-left:10px;margin-bottom:5px;"  >
    <div id="nameandtitle">
        <!--<asp:Label ID="lblNameText" runat="server" Text="" />-->
        <asp:Label ID="lblTitleText" runat="server" Text="" />
        
    </div>
    <!--<div id="e">
        <asp:Label ID="lblTeam" runat="server" Text="Department:" />
        <asp:Label ID="lblTeamText" runat="server" Text="" /><br />
        <asp:Label ID="lblStartDate" runat="server" Text="Start Date:" />
        <asp:Label ID="lblStartDateText" runat="server" Text="" />
    </div>-->
    <div id="img" style="margin-bottom:5px; " >
        <asp:Image ID="imgEmp" runat="server" />
    </div>
    <div id="profile">
        <asp:Label ID="lblProfile" runat="server" Text="" />&nbsp;<br />
     </div>
     <div style=" text-align:right; margin-right:5px; " >
        <asp:HyperLink ID="hlkViewDetails" runat="server"  Target="_blank" >Visit Blog</asp:HyperLink><br />
    </div>
</div>
