﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="EnviroTips.ascx.vb" Inherits="BHAIntranet_UserControl_Whiteboard_EnviroTips" %>
<div id="softtitle">
<iframe id="ifmEnviroTips" src="/RSLEnviroTips/EnviroTips.aspx" frameborder="0" height="170px"  width="100%"></iframe>
</div>
