﻿<!DOCTYPE html>
<style>
    tr.spaceUnder > td {
        padding-bottom: 1em;
    }

    .tdSpace {
        padding-right: 4em;
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="progress-dialog" style="display:none;" id="loader">
        <img src='@Url.Content("~/Content/Images/progress.gif")' />
    </div>
    @*<div>
        <div class="col-xs-12 no-padding-sides" style="padding-left:0px;padding-right:0px;">
            <div class="row padding-bottom">
                <div class="modal-header" style="padding: 0px;color:black !important">
                    <div class="row padding-bottom">
                        <div class="col-md-12">
                            <div class="col-md-12" style="border: 1px solid; background-color: #000; padding: 10px;">
                                <span class="header" style="padding:0;font-size: large;color: white;">Exception Reprort:</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="margin-top-default">

            </div>
        </div>
    </div>*@
    <div id="divBodyContainer" class="container">
        @RenderBody()
    </div>

    <script type="text/javascript">

        //TODO:
        // cache: false,
        // add this line in JQuery (load function) when jquery version update.

        jQuery.ajaxSetup({
            cache: false,
            beforeSend: function () {
                $('#loader').show();
            },
            complete: function () {
                $('#loader').hide();
            },
            success: function () { }
        });

        function loadDatePicker() {
            $("#Transaction").datepicker({
                showAnim: "blind",
                dateFormat: 'dd/mm/yy',
                yearRange: '1900:2050',
                changeMonth: true,
                changeYear: true
            });
        }

    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
