﻿@model RSLHousingBenefit.Models.ViewModels.NavigationViewModel
@{
    var className = "";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}
<div class="TopNavigation">
    <ul>
        <li>
            <div class="hb-menu">
                <a href="javascript:void(0)" class="module">
                    <span>@Model.currentModule</span>
                </a>
                <div class="hb-menu-content" style="min-width:150px !important; margin-left:8px !important;">
                    @foreach (var m in Model.modules)
                    {
                        <a href="@m.url" data-id="@m.moduleId"> - @m.moduleName</a>
                    }
                </div>
            </div>
        </li>
        @if (Model.menues != null && Model.menues.Count > 0)
        {
            foreach (var item in Model.menues)
            {
                className = "";
                if (item.menuName.Equals(Model.currentMenu))
                {
                    className = "selected";
                }
                <li>
                    <div class="hb-menu">
                        <a href="@item.path" class="@className" data-itemid="@item.menuId">@item.menuName</a>
                        <div class="hb-menu-content">
                            @foreach (var subMenuItem in item.subMenus)
                            {
                                <a href="@subMenuItem.path" class="@className" data-itemid="@subMenuItem.menuId">@subMenuItem.subMenuName</a>
                            }
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>

<script type="text/javascript">

    (function () {
        $('.nextPhase').on('click', function () {
            $(window).scrollTop(0);
            $("#nextPhaseMessage").show().delay(5000).fadeOut();
        })
    })();

</script>