﻿@model RSLHousingBenefit.Models.Models.HBCustomerRecordModel

<div class="row">
    <div class="col-md-6">
<table >
    <tr class="spaceUnder"><td><lable>HB Ref:</lable></td><td><span>@Model.hBInformation.HbRef</span></td></tr>
    <tr class="spaceUnder"><td><lable>Initial Payment:</lable></td><td><span>@Model.hBInformation.InitialPayment</span></td></tr>
    <tr class="spaceUnder"><td><lable>Start Date:</lable></td><td><span>@Model.hBInformation.InitialStartDate</span></td></tr>
    <tr class="spaceUnder"><td><lable>End Date:</lable></td><td><span>@Model.hBInformation.InitialEndDate</span></td></tr>
    <tr class="spaceUnder"><td><lable>Default Cycle:</lable></td><td><span>@Model.hBInformation.DefaultCycle</span></td></tr>
</table>
    </div>
    <div class="col-md-6">
        <label>Last 6 HB Payments</label>
    <table class="table">
    @foreach (var m in @Model.hBPaymentModel)
    {
        <tr>
        <td>@m.StartDate</td>
            <td>@m.EndDate</td>
            <td>@m.Hb</td>
            <td>@m.DefaultCycle</td>
        </tr>
    }
    </table>
    </div>
</div>
<div class="row">
<div class="col-md-6">

</div>
<div class="col-md-6" >
    <label>Next Estimated HB Payment</label>
<table>
    <tr>
        <td>
            <input type="text" value="@Model.hBNextEstimatedPaymentModel.StartDate" style="width: 50%;text-align: center;">
        </td>
        <td>
            <input type="text" value="@Model.hBNextEstimatedPaymentModel.EndDate"style="width: 50%;text-align: center;">
        </td>
        <td>
            <input type="text" value="@Model.hBNextEstimatedPaymentModel.Hb"style="width: 50%;text-align: center; float:right">
        </td>
    </tr>
</table>
</div>
</div>
<br>
<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        <input type="button" class="btn-default" value="Cancel" style="margin-right: 6%;">
        <input type="button" class="btn-success" value="Include Payment in Upload" style="margin-right: 6%;">
        <input type="button" class="btn-danger" value="Remove Payment from Upload">

    </div>
</div>
