﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
    height: 23px;
}*/



body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    margin: 0px 0 5px 0 !important;
    padding: 0 !important;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-body {
    padding-top: 0px;
}

input[type="radio"] {
    margin: 5px;
}

.text-nowrap {
    white-space: nowrap;
}

.form-control {
    padding: 0 0 0 5px;
    border-radius: 0px;
    border: 1px solid #b1b1b1;
    height: 25px !important;
    font-size: 12px !important;
}

.margin-top-default {
    margin-top: 20px !important;
}

.margin-top-1 {
    margin-top: 1px !important;
}

.margin-top-8px {
    margin-top: 8px !important;
}

.background-white {
    background-color: white !important;
}

.background-grey {
    background-color: #F3F3F3 !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.no-padding-bottom {
    padding-bottom: 0px !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-sides {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.min-padding-sides {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

#ddParent {
    text-align: justify;
    font-size: 12px !important;
}

    #ddParent select {
        padding: 2px;
    }

.leftmenu-asb {
    background-color: white;
    width: 100%;
    float: left;
    vertical-align: top;
    height: auto;
    font-size: 12px;
}

    .leftmenu-asb ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: white;
        border: 0.5px solid black;
    }

    .leftmenu-asb li a {
        display: block;
        color: #000;
        padding: 8px 1px 8px 16px;
        text-decoration: none;
    }

        .leftmenu-asb li a.active {
            background-color: #D3D4D6;
            color: black;
        }

        .leftmenu-asb li a:hover:not(.active) {
            background-color: #555;
            color: white;
            text-decoration: none;
        }


.right-content-asb {
    width: 84%;
    float: left;
    height: auto;
}

#header-asb {
    background-color: black;
    color: white;
    padding: 5px;
    /*height: 35px;*/
}

    #header-asb input[type="button"] {
        border: 1px solid;
        box-shadow: none;
        background: #fff !important;
        color: #000;
        padding: 1px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        border-radius: 0 !important;
        cursor: pointer;
        /*float: right;
        margin-bottom: 5px;*/
    }

input.add-contact {
    width: 25px;
    height: 25px;
    border: 0.5px solid #C2C2C2;
}

.case-detail-asb {
    background-color: white;
    height: 500px;
    border: 0.5px solid black;
    margin-top: 10px;
}


#new-case-asb {
    background-color: white;
    height: 450px;
    border: 0.5px solid black;
    float: left;
    width: 50%;
    margin-top: 10px;
    margin-left: 25px;
}

#new-case-right {
    background-color: white;
    height: 450px;
    border: 0.5px solid black;
    float: left;
    width: 40%;
    margin-top: 10px;
    margin-left: 25px;
}

.dropdown {
    /*width: 160px;*/
    width: 30% !important;
    padding: 2px;
    background-color: transparent;
    border: 0.5px solid;
    border-color: #D3D4D6;
}

.dashboard-alert-box {
    border-radius: 12px;
    border: 3px solid #D3D4D6;
    /*width: 30% !important;*/
    height: 128px;
    /*margin: 8px;*/
    background-color: black;
}

.dashboard-alert-box-red {
    border-radius: 12px;
    border: 3px solid #D3D4D6;
    /*width: 30% !important;*/
    /*margin-top: 8px;
    margin-left: 7px;*/
    height: 128px;
    background-color: #f00;
}

#tblGrid td, #tblGrid th {
    padding: 4px 0 4px 10px;
}

#tblGrid thead th {
    border-bottom: 1px solid #000;
}

table {
    border-collapse: collapse;
}

    table thead th {
        border-bottom: 1px solid #D3D4D6;
    }

#OpenCasesTable tbody tr:nth-child(odd) {
    background-color: #D3D4D6;
}

#OpenCasesTable tbody tr td div {
    padding: 5px;
}

.ActionTable tbody tr:nth-child(even) {
    background-color: #D3D4D6;
}


.Textbox {
    background-color: #FFFFFF !important;
    border: 1px #C2C2C2 solid !important;
    width: 245px !important;
    height: 20px;
}

.Textbox-short {
    background-color: #C2C2C2 !important;
    border: 1px #C2C2C2 solid !important;
    width: 150px !important;
    height: 24px;
}

.Textbox-short-ReportSearch {
    background-color: #FFFFFF !important;
    border: 1px #C2C2C2 solid !important;
    width: 80px !important;
    height: 20px;
}

.readonly {
    background-color: #F6F7F9 !important;
    font-style: italic;
    padding: 2px;
}

.Textarea {
    background-color: #FFFFFF;
    border: 1px #C2C2C2 solid !important;
    width: 245px !important;
    height: 175px !important;
}


.DocNotes {
    background-color: #FFFFFF;
    border: 1px #C2C2C2 solid !important;
    width: 350px !important;
    height: 60px !important;
}

.Action-Notes {
    background-color: #FFFFFF;
    border: 1px #C2C2C2 solid !important;
    width: 100% !important;
    height: 175px !important;
}

.Textbox-full-width {
    background-color: #FFFFFF;
    border: 1px #C2C2C2 solid !important;
    width: 100% !important;
    height: 20px !important;
}

.Textbox-full-width-Search {
    background-color: #FFFFFF;
    border: 1px #C2C2C2 solid !important;
    width: 100% !important;
    height: 20px !important;
}

.button-default {
    border: 0.5px solid #C2C2C2;
}

.width-full {
    width: 100% !important;
}

#grdDisciplinery th {
    width: 36% !important;
}

#grdVacancies th {
    width: 36% !important;
}
/*For Tabs*/
ul.tabs {
    margin: 0 0 -1px 0;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 11px;
}

    ul.tabs li {
        background: #F3F3F3;
        color: #222;
        display: inline-block;
        padding: 7px 13px;
        cursor: pointer;
        /*border: none;*/
        border-bottom: 1px solid #C2C2C2;
    }

        ul.tabs li.current {
            background: #F3F3F3;
            color: #222;
            border: 1px solid #C2C2C2;
            border-bottom: none;
            margin-top: 2px;
            padding: 8px 13px;
        }

.asb-dropdown {
    position: relative;
    display: inline-block;
}

.asb-dropdown-content {
    display: none !important;
    position: absolute !important;
    background-color: white !important;
    min-width: 175px !important;
    text-align: left !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    .asb-dropdown-content a {
        color: black !important;
        padding: 10px 14px !important;
        text-decoration: none !important;
        display: block !important;
        border-bottom: 2px solid #C2C2C2 !important;
    }

.asb-dropdown:hover .asb-dropdown-content {
    display: block !important;
    z-index: 90000000000 !important;
}

/*.asb-dropdown-content a:hover {
    background-color: blue !important;
    color:white !important;
}*/


.border {
    border: 1px solid #C2C2C2;
}


.tab-content {
    display: none;
    background: #F3F3F3;
    padding: 10px;
    border: 1px solid #C2C2C2;
    /*border-top: none;*/
}

    .tab-content.current {
        display: inherit;
    }

.tab-contentPDF {
    display: none;
    background: #F3F3F3;
    padding: 10px;
    border: 1px solid #000000;
    /*border-top: none;*/
}

.tab-content.currentPDF {
    display: inherit;
}

div .NewCaseViews {
    border: 1px solid #C2C2C2;
    margin-top: 20px;
    padding: 3px 8px 3px 8px;
    background-color: #F3F3F3;
}

.VernabilityScreeningtop {
    border-left: 1px solid #C2C2C2;
    border-right: 1px solid #C2C2C2;
    border-top: 1px solid #C2C2C2;
    margin-top: 20px;
    padding: 3px 8px 3px 8px;
    background-color: #F3F3F3;
}

.VernabilityScreeningbottom {
    border-left: 1px solid #C2C2C2;
    border-right: 1px solid #C2C2C2;
    border-bottom: 1px solid #C2C2C2;
    margin-top: 20px;
    padding: 3px 8px 3px 8px;
    background-color: #F3F3F3;
}


._container {
    width: 1400px;
    margin: 0 auto;
}

.dropdown-new-case {
    border: 1px #C2C2C2 solid !important;
    width: 245px !important;
    padding: 2px;
}

.map-title {
    width: 100%;
    background-color: red;
    color: white;
    padding: 5px;
}

.page {
    display: inline-block;
    padding: 0px 6px;
    margin-right: 2px;
    border: solid 1px #C2C2C2;
    background: #e9e9e9;
    font-size: .875em;
    text-decoration: none !important;
    color: #000000;
}

    .page.active {
        border: none;
        background: #616161;
        color: #f0f0f0;
    }

.TopNavigation ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 16px 0 !important;
    min-height: 55px !important;
    background-color: #EC2A45;
}

    .TopNavigation ul li {
        float: left;
    }

        .TopNavigation ul li + li {
            float: left;
            border-right: 1px solid #FC938D;
        }

        .TopNavigation ul li a {
            display: block;
            color: #FC938D;
            text-align: center;
            padding: 2px 18px;
            text-decoration: none;
            /*font-weight: bold;*/
            font-size: 13px !important;
            text-align: left !important;
        }

            .TopNavigation ul li a:hover {
                display: block;
                color: white;
                text-align: center;
                padding: 2px 18px;
                text-decoration: none;
            }

.TopNavigation .selected {
    color: white;
    border: none;
}

.TopNavigation .module {
    color: white;
    margin-right: 50px;
    padding-bottom: 10px !important;
}

.progress-dialog {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 12px;
    left: 3px;
    z-index: 1000000;
    vertical-align: middle;
    opacity: 0.7;
}

    .progress-dialog img {
        position: relative;
        top: 50%;
        left: 50%;
    }

.ajax-loader {
    height: auto;
}

    .ajax-loader img {
        height: 60px;
    }

div#progress-inner-dashboard {
    background: rgba(255, 255, 255, 0.8) !important;
    position: fixed !important;
    /*text-align:center;*/
    /*top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;*/
    opacity: 0.7 !important;
    z-index: 9000000 !important;
    padding-left: 40%;
}

    div#progress-inner-dashboard img {
        position: absolute;
        top: 50%;
        left: 0;
    }




.paging {
    background-color: darkgray;
    color: white;
    padding: 5px 0 5px 0;
    margin-top: 10px !important;
}

.truncate-text {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

.show-hand-on-hover {
    cursor: pointer !important;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}


.modal-header, h4, .close {
    background-color: black;
    color: white !important;
    text-align: left;
}

.modal-footer {
    /*background-color: #f9f9f9;*/
}

.modal-header {
    min-height: 16.428571429px;
    padding-left: 20px !important;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
}

.modal-dialog {
    right: auto;
    left: 50%;
    width: 750px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.modal-dialog-950 {
    width: 950px;
}

.modal-footer {
    padding: 5px 20px 5px 20px !important;
    text-align: right !important;
    border-top: 1px solid #e5e5e5 !important;
}

label.error {
    color: red !important;
}

.required {
    color: red !important;
}

.breakhere {
    page-break-after: always !important;
}

.case-action-notes {
    display: block !important;
    width: 11em !important;
    word-wrap: break-word !important;
}

label {
    padding-right: 5px;
}

.padding-bottom {
    padding-bottom: 10px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.img-box {
    width: 101%;
    min-height: 127px;
    max-height: auto;
    float: left;
    background-image: url('Images/Dashboard/bg-box.png');
    background-repeat: no-repeat;
}

.btn-xs {
    padding: 1px 20px !important;
}

.btn-gray {
    border: 1px solid #cccccc !important;
    background: #D4D4D4 !important;
    color: #000 !important;
}

.btn-info-dark {
    border: 1px solid #cccccc !important;
    background: #139DEA !important;
    color: #FFF;
}

.btn:hover {
    color: #fff !important;
}

.number {
    width: 100%;
    height: 75px;
    float: left;
    text-align: center;
    color: #FF0000;
    font-size: 65px;
    font-family: "myriad Pro";
}

.text {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}

.r-arrow {
    float: right;
    margin-left: 8px;
    margin-right: 8px;
    height: auto;
    margin-top: 0px;
    text-align: right;
    width: 10%;
    cursor: pointer;
    /*background-image: url('Images/Dashboard/icn-info.png');*/
    background-repeat: no-repeat;
}
.r-info {
    float: left;
    margin-left: 8px;
    margin-right: 8px;
    height: auto;
    margin-top: 0px;
    text-align: right;
    width: 10%;
    cursor: pointer;
    /*background-image: url('Images/Dashboard/icn-info.png');*/
    background-repeat: no-repeat;
}

.table-responsive {
    border: none !important;
}

/*/////////////////Start Saud ////////////////////*/
.portlet {
    background-color: #f4f8fb;
    padding: 10px;
    border: 1px solid #C5BAA1;
}

.portlet-box {
    background-color: #CCDEEC;
}

    .portlet-box .box {
        float: left;
        text-align: center;
        padding: 6px;
        color: #fff;
        height: 30px;
        width: 30px;
        background-color: #BAAC98;
        border: 1px solid #C8BAA4;
    }

    .portlet-box .body {
        padding: 10px 30px 10px 40px;
    }

        .portlet-box .body p {
            text-align: justify;
        }

.portlet-head {
    padding-left: 60px;
    font-size: 14px;
    padding-top: 15px;
    height: 50px;
    border-radius: 25px 0 0 0;
}

.portlet-icon {
    border: 2px solid #808382;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    float: left;
    background-color: #fff;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border-color: #ffa8a8;
    box-shadow: 0px 0px 5px 1px red;
}

.right {
    float: right;
}
/*>>>>>>>>> Tabs start <<<<<<<<<<<*/
#tabs {
    border: none !important;
}

.ui-tabs .ui-tabs-nav li {
    border-radius: 0;
    margin-right: 5px !important;
}

.ui-tabs {
    border-radius: 0px;
}

    .ui-tabs .ui-tabs-nav {
        background-color: #fff;
        border: 0px;
        border-radius: 0px;
        padding: 0px !important;
        border-bottom: 1px solid #C2C2C2;
    }

        .ui-tabs .ui-tabs-nav li.ui-tabs-active {
            background-color: #fff;
            border: 1px solid #c5c5c5;
            border-bottom-color: #fff;
            margin-bottom: 2px;
        }

    .ui-tabs .ui-tabs-panel {
        padding: 0 !important;
    }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: gray !important;
}

/*#divContainer {
    min-height: 300px;
    max-height: 1000px;
    overflow-y:scroll;
}*/

/*>>>>>>>>> Tabs End <<<<<<<<<<<*/
.personalDetail input {
    width: 410px;
}

.personalDetail select {
    width: 410px;
}

textarea.personalDetail {
    resize: none !important;
    height: 100px !important;
}

textarea.detailsOfRole {
    resize: none !important;
    height: 130px !important;
}


.DatePicker {
    width: 79%;
    margin-right: 5px;
    float: left;
}
.RETDatePicker {
    width: 79%;
    margin-right: 5px;
    float: left;
}
.NDHDatePicker {
    width: 79%;
    margin-right: 5px;
    float: left;
}
.GDatePicker {
    width: 79%;
    margin-right: 5px;
    float: left;
}

.ui-datepicker-trigger {
    margin-top: 2px;
}

input[type="file"] {
    width: 200px;
}

.absence {
    background: url('Images/BHG Icons/annual_leaves_grid_icon.png') no-repeat center;
    background-size: 25px 25px;
    background-color: #fff;
}

.sickness {
    background: url('Images/BHG Icons/suitcase_cross_grid_icon.png') no-repeat center;
    background-size: 25px 25px;
    background-color: #fff;
}

.annual {
    background: url('Images/BHG Icons/annual_leaves_grid_icon.png') no-repeat center;
    background-size: 25px 25px;
    background-color: #fff;
}

.toil {
    background: url('Images/BHG Icons/clock_grid_icon.png') no-repeat center;
    background-size: 25px 25px;
    background-color: #fff;
}

.maternity {
    background: url('Images/BHG Icons/internal_meeting_leaves_grid_icon.png') no-repeat center;
    background-size: 25px 25px;
    background-color: #fff;
}

.max-width-20 {
    max-width: 20px;
}

.max-width-47 {
    max-width: 47px;
}

.max-width-70 {
    max-width: 70px !important;
}

.max-width-80 {
    max-width: 80px !important;
}

.max-width-90 {
    max-width: 90px !important;
}

.dis-none{
    display: none;
}

.width-47 {
    width: 47px;
}

.list-box {
    border:1px solid #b1b1b1; 
    overflow-y:scroll; overflow-x: hidden;
}

/*/////////////////End Saud ////////////////////*/

/*/////////////////Start Ali ////////////////////*/
.main-Container {
    width: 100%;
    float: left;
}

.button-Container-right {
    float: right;
}

.listing-Container {
    border: 1px solid;
    margin-bottom: 20px;
    min-height: 560px;
    float: left;
    width: 100%;
    margin-top: 2px;
}

    .listing-Container .header {
        background-color: Black;
        height: 22px;
        text-align: justify;
        font-family: Tahoma;
        margin: 0 0 6px;
        font-size: 15px;
        padding: 8px;
        color: white;
        height: 40px;
    }

        .listing-Container .header .filters {
            float: right;
            width: 40%;
            margin-right: 3%;
        }

.grid-border {
    border: 1px solid #C5BAA1 !important;
}

.searchbox-right {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #8e8e8e;
    background-color: #f5f5f5 !important;
    height: 25px;
    padding: 4px 25px 4px 7px;
    color: #4a4a4a;
    float: right;
    background: url('Images/glass22x22.png') no-repeat right center;
}

/*///////////Grid Css///////////*/
#webgrid {
    float: left;
    width: 98%;
    margin: 1%;
}

#webeditgrid {
    float: left;
    width: 98%;
    margin: 1%;
}

.edit-control {
    width: 70px;
}


.webgrid-footer {
    display: none;
}

.disabled a {
    color: #000;
    cursor: not-allowed;
}

.webgrid-row-style {
    padding: 2px;
}

.webgrid-row-style-hover  {
    cursor: pointer;
}

    .webgrid-row-style td {
        padding: 2px 10px 2px 2px !important;
    }

.webgrid-alternating-row {
    background-color: #D3D4D6;
    padding: 2px;
}

    .webgrid-alternating-row td {
        padding: 2px 10px 2px 2px !important;
    }

td.td-padding-right-0 {
    padding: 2px 1px 2px 2px !important
}

td.text-center {
    text-align:center;
}

#gridPager ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    padding-top: 4px;
}

    #gridPager ul li {
        display: inline;
        margin-left: 20px;
    }

        #gridPager ul li a {
            text-decoration: none;
        }

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    float: left;
    width: 100%;
}
/*///////////Grid Css///////////*/
/*/////////////////End Ali ////////////////////*/
/*///////////Grid Css by shahzaib///////////*/



.listing-Container .header-health .filters {
    float: right;
    width: 40%;
    margin-right: 3%;
}

.listing-Container .header-health {
    background-color: #f6f6f6;
    height: 22px;
    text-align: justify;
    font-family: Tahoma;
    margin: 0 0 6px;
    font-size: 15px;
    padding: 8px;
    color: black;
    height: 40px;
}

.addImage-right {
    /*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
    /*border: 1px solid #8e8e8e;*/
    /*background-color: #f5f5f5;*/
    /*height: 25px;
    padding: 4px;
   
    padding-right: 28px;*/
    /*color: #4a4a4a;*/
    float: right;
    margin-left: 10px;
    /*background-image: url('~/Content/Images/add.png');*/
    /*background-position: right center;*/
    /*background-repeat: no-repeat;*/
    /*padding-right: 22px;*/
}

#webgridlearning {
    float: left;
    width: 98%;
    margin: 1%;
}

.rock {
    background: url('Images/add.PNG') no-repeat;
    border: 1px solid #b1b1b1;
    background-size: 31px 25px;
    /*border: none;*/
    font-size: 18px;
    width: 31px;
    height: 29px;

    
}

.edit-arrow {
    background: url('Images/aero.png') no-repeat;
    background-size: 22px 22px;
    background-position: right;
    font-size: 18px;
    width: 23px;
    height: 22px;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding:0;
}

.remove-sign {
    background: url('Images/delete.png') no-repeat;
    background-size: 22px 22px;
    background-position: right;
    font-size: 18px;
    width: 23px;
    height: 22px;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding:0;
}

/*/////////////////End shahzaib ////////////////////*/




.ui-timepicker-wrapper {
	overflow-y: auto;
	max-height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10052;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}

.icon-pad {
    background-image: url('Images/BHG Icons/ic_notes.png');
    background-repeat: no-repeat;
}

.green{
    font-weight:bold;
    color:#fff;
    padding: 2px;
    background-color: #58C312;
}

.yellow{
    font-weight:bold;    
    color:#000;
    padding: 2px;
    background-color: #FFFF00;
}

.red{
    font-weight:bold;
    color:#fff;
    padding: 2px;
    background-color: #FF0000;
}

.badge {
    position:relative;
    top: -8px;
    background-color: #FF0000 !important;
    margin: 0px -5px 0px -10px;
    font-size: 10px;
}

.badge-10 {
    padding: 1px 4px 1px 4px;
}

.badge-99 {
    padding: 2px;
}

.width-100 {
    width: 110px !important;
}
.width-90 {
    width: 90px;
}
.width-120 {
    width: 120px;
}

.btn-edit {
    float: left;
    height: 25px;
    width: 145px;
    background: url('Images/edit-icon.png') no-repeat center left !important;
    background-size: 20px 20px !important;
    background-color: #D4D4D4 !important;
}

.icon-radius {
    border-radius: 12px;
}