﻿body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    margin: 0px 0 5px 0 !important;
    padding: 0 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Progress dialog */

.progress-dialog {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 12px;
    left: 3px;
    z-index: 1000000;
    vertical-align: middle;
    opacity: 0.7;
}

    .progress-dialog img {
        position: relative;
        top: 50%;
        left: 50%;
    }


/*Top Navigation*/
.TopNavigation ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 16px 0 !important;
    min-height: 55px !important;
    background-color: #EC2A45;
}

    .TopNavigation ul li {
        float: left;
    }

        .TopNavigation ul li + li {
            float: left;
            border-right: 1px solid #FC938D;
        }

        .TopNavigation ul li a {
            display: block;
            color: #FC938D;
            text-align: center;
            padding: 2px 18px;
            text-decoration: none;
            /*font-weight: bold;*/
            font-size: 13px !important;
            text-align: left !important;
        }

            .TopNavigation ul li a:hover {
                display: block;
                color: white;
                text-align: center;
                padding: 2px 18px;
                text-decoration: none;
            }

.TopNavigation .selected {
    color: white;
    border: none;
}

.TopNavigation .module {
    color: white;
    margin-right: 50px;
    padding-bottom: 10px !important;
}

.hb-menu-content {
    display: none !important;
    position: absolute !important;
    background-color: white !important;
    min-width: 175px !important;
    text-align: left !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    .hb-menu-content a {
        color: black !important;
        padding: 10px 14px !important;
        text-decoration: none !important;
        display: block !important;
        border-bottom: 2px solid #C2C2C2 !important;
    }

.hb-menu:hover .hb-menu-content {
    display: block !important;
    z-index: 90000000000 !important;
}


/*form Style*/


.padding-bottom {
    padding-bottom: 10px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}


.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

/*Container Style*/

.main-Container {
    width: 100%;
    float: left;
}

.main-title-header {
        background-color: Black;
        height: 22px;
        text-align: justify;        
        margin: 0 0 6px;
        font-size: 15px;
        font-weight:bold;
        padding: 8px;
        color: white;
        height: 40px;
    }

.button-Container-right {
    float: right;
}

.listing-Container {
    border: 1px solid;
    margin-bottom: 20px;
    min-height: 560px;
    float: left;
    width: 100%;
    margin-top: 2px;
}

    .listing-Container .header {
        background-color: Black;
        height: 22px;
        text-align: justify;        
        margin: 0 0 6px;
        font-size: 15px;
        font-weight:bold;
        padding: 8px;
        color: white;
        height: 40px;
    }

        .listing-Container .header .filters {
            float: right;
            width: 40%;
            margin-right: 3%;
        }

.grid-border {
    border: 1px solid #C5BAA1 !important;
}

.searchbox-right {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #8e8e8e;
    background-color: #f5f5f5 !important;
    height: 25px;
    padding: 4px 25px 4px 7px;
    color: #4a4a4a;
    float: right;
    background: url('Images/glass22x22.png') no-repeat right center;
}

/*///////////Grid Css///////////*/
#webgrid {
    float: left;
    width: 98%;
    margin: 1%;
}

#webeditgrid {
    float: left;
    width: 98%;
    margin: 1%;
}

.edit-control {
    width: 70px;
}


.webgrid-footer {
    display: none;
}

.disabled a {
    color: #000;
    cursor: not-allowed;
}

.webgrid-row-style {
    padding: 2px;
}

    .webgrid-row-style td {
        padding: 2px 10px 2px 2px !important;
    }

.webgrid-alternating-row {
    background-color: #D3D4D6;
    padding: 2px;
}

    .webgrid-alternating-row td {
        padding: 2px 10px 2px 2px !important;
    }

#webgrid td {
    vertical-align:middle;
    min-height:50px;
}

.webgrid-td-center {
 text-align:center;
}

#grdExceptionList tr {
    height:45px;
}

#grdCustomerHBList tr {
    height:30px;
}

#grdExceptionList th {
    font-size:14px;
}

#grdCustomerHBList th {
    font-size:13px;
}


.webgrid-listing {
 border:solid 1px gray;
}

.webgrid-listing tr {
   height:30px;
}

.webgrid-listing td {
    vertical-align:middle;
    min-height:30px;
}

.item-pointer {
    cursor:pointer;
}

.disp-none{
    display: none;
}

td.td-padding-right-0 {
    padding: 2px 1px 2px 2px !important
}

td.text-center {
    text-align:center;
}

.table thead > tr > th {
    padding:0px;
}

.excel-desc-column {
    text-align:right;
    padding-right:10px;
    color:gray;
    font-weight:bold;
    font-style:italic;
}

.DatePicker {
    width: 79%;
    margin-right: 5px;
    float: left;
}

#gridPager ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    padding-top: 4px;
}

    #gridPager ul li {
        display: inline;
        margin-left: 20px;
    }

        #gridPager ul li a {
            text-decoration: none;
        }

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    float: left;
    width: 100%;
}

.max-width-20 {
    max-width: 20px;
}

.max-width-47 {
    max-width: 47px;
}

.max-width-70 {
    max-width: 70px !important;
}

.max-width-80 {
    max-width: 80px !important;
}

.max-width-90 {
    max-width: 90px !important;
}

.width-prc-4 {
    width: 4%;
}

.width-prc-10 {
    width: 10%;
}

.width-prc-20 {
    width: 20%;
}

.width-prc-25 {
    width: 25%;
}

.width-prc-30 {
    width: 30%;
}

.width-prc-40 {
    width: 40%;
}

.width-prc-50 {
    width: 50%;
}

.width-prc-60 {
    width: 60%;
}



.btn-hb-default{    
    color:#000;
    padding: 3px 25px 3px 25px;
    background-color: #fff;
    font-size:12px;
    border:1px solid #A4A4A4
}

.btn-hb-success{    
    color:#fff;
    padding: 3px 25px 3px 25px;
    background-color: #4cae4c;
    font-size:12px;
    border:1px solid #000
}

.btn-hb-disable{    
    color:#fff;
    padding: 3px 25px 3px 25px;
    background-color: #8c8c8c;
    font-size:12px;
    border:1px solid #000;
}

.btn-default-form{    
    color:#000;
    padding: 3px 20px 3px 20px;
    background-color: #fff;
    font-size:12px;
    border:1px solid gray
}

.padding-3 {
 padding:3px;
}

.width-50 {
    width:50px;
}

/* FORM STYLING*/

.default-form {
}

.default-form input[type=text]{
    border: 1px solid gray;
}

.default-form input[type=button]{
    border: 1px solid gray;
}


/*///////////Modal Css///////////*/

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}


.modal-header, h4, .close {
    background-color: black;
    color: white !important;
    text-align: left;
}

.modal-footer {
    /*background-color: #f9f9f9;*/
}

.modal-header {
    min-height: 16.428571429px;
    padding-left: 20px !important;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
}

.modal-dialog {
    right: auto;
    left: 50%;
    width: 750px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.modal-dialog-950 {
    width: 950px;
}

.modal-footer {
    padding: 5px 20px 5px 20px !important;
    text-align: right !important;
    border-top: 1px solid #e5e5e5 !important;
}

.web-grid-th { 
    height: 40px;
}
#webgrid thead tr th a {
color:black;
}
#webgrid thead tr th {
vertical-align: middle;
width:6%;
}
#webgrid tbody tr td a:hover {
    cursor: pointer;
}
#webgrid tbody tr td span:hover {
    cursor: pointer;
}
#webgrid tbody tr td span {
    color: #48a2e4;
    text-decoration: underline;
}
