﻿
/* To be used for page heading/Title */
.headingTitle
{
    background: #000000;
    color: #ffffff;
    width: 98%;
    height: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
}

#menu1
{
    font-family: Tahoma, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
#blocks
{
    font-family: Tahoma, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
#menu1 li
{
    display: inline; /* for IE5 and IE6 */
}
#menu1 a
{
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 7px;
    width: 166px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
#menu1 a:link, #menu1 a:visited
{
    color: #000;
    text-decoration: none;
}
#menu1 a:hover
{
    background-color: #e6e6e6;
    color: #000;
}
#menu1 li a#current
{
    border-bottom: 1px solid #c9cbcd;
    background: #c9cbcd;
}
#menu1 li a#arrears
{
    border-bottom: 1px solid #c9cbcd;
    background: #ba4a4a;
    color: #fff;
}
.select
{
    position: absolute;
    width: 158px;
    height: 21px;
    padding: 0 24px 0 8px;
    color: #000;
    font: 12px/21px arial,sans-serif;
    background: url(Copy.png) #F00;
    overflow: hidden;
}
.styleselect
{
    width: 190px;
}

input
{
    border: 1px solid Gray;
    font-size: 12px;
    padding: 2px;
}

.for_input
{
}
.for_input input
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.for_input select
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.smallinputBox
{
    border: 1px solid Gray;
    font-size: 12px;
    padding: 2px;
    width: 65px;
}

.smallerinputBox
{
    border: 1px solid Gray;
    font-size: 12px;
    padding: 2px;
    width: 50px;
}

.smallinputDateBox
{
    border: 1px solid Gray;
    font-size: 12px;
    color: Gray;
    padding: 2px;
    width: 65px;
}

.casemanagementControlsMainDivs
{
    margin-right: 10px;
    padding-top: 5px;
}

div
{
    font-family: Tahoma;
    color: #000;
    font-size: 12px;
}
.tableClass
{
    border: 1px solid #000000;
    border-spacing: 0px;
    padding: 5px;
}

.tableHeader
{
    border-bottom: 1px solid #000000;
    border-spacing: 0px;
    font-weight: bold;
}

.tableFooter
{
    border-top: 1px solid #000000;
    border-spacing: 0px;
    height: 40px;
    vertical-align: middle;
    padding-right: 10px;
}



.tableClass hr
{
    border: 1px thin #000000;
}


.tdClass
{
    border: 1px solid #000000;
    border-spacing: 0px;
}

.distanceLabelClass
{
    margin: 5px;
}

td
{
    font-family: Tahoma;
    color: #000;
    font-size: 12px;
}
.SmallerPointFont
{
    font-family: Tahoma;
    color: #000;
    font-size: 10px;
}

.NormalPointFont
{
    font-family: Tahoma;
    color: inherit;
    font-size: 12px;
}
.NormalPointFontBold
{
    font-family: Tahoma;
    color: inherit;
    font-size: 12px;
    font-weight: bold;
}
.openNewCaseDivClass
{
    height: 20px;
    width: 100%;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

.dashboardOuterTable
{
    border-left-style: none;
    border-left-width: medium;
    border-right-style: none;
    border-right-width: medium;
    border-top: medium none #000000;
    border-bottom-style: none;
    border-bottom-width: medium;
}

.dashboardInnerTable
{
    border: 0px none;
    padding: 0px;
    border-collapse: collapse;
}

.dashboardHeading
{
    margin-left: 5px;
    margin-right: 5px;
    font-family: Tahoma;
    font-size: 2;
    color: #FFFFFF;
    font-weight: bold;
}

.dashboardBigNumbers
{
    text-align: left;
    margin-top: -7px;
    margin-bottom: 0;
    margin-left: 5px;
    color: #FF0000;
    font-size: 37pt;
}

.dashboardBigNumbersUP
{
    text-align: center;
    color: #FF0000;
    font-size: 37pt;
    vertical-align: top;
}

.dashboardBigNumbersCell
{
    position: relative;
    width: 200px;
    height: 138px;
    z-index: 1;
    text-align: center;
}
.dashboardBigNumbersHeading
{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    color: #FFFFFF;
}
.dashboardSearchBoxCell
{
    border-style: none;
    border-width: medium;
    font-size: 2;
    font-weight: bold;
    font-family: Tahoma;
}

.dashboradSearchBoxButton
{
    border: 1px solid #000000;
    float: right;
    background-color: #E2E2E2;
    margin: 0 43px 0 0px;
}

.searchText
{
    color: Gray;
    font-style: italic;
    padding-left: 30px;
}

.dashboardArrearsSummaryNumber
{
    font-size: 8pt;
    font-family: Tahoma;
    height: 20px;
    font-weight: bold;
}

.dashboardArrearsSummary
{
    font-size: 8pt;
    font-family: Tahoma;
    height: 20px;
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=0);
        opacity: 0.5;
}

.clear
{
    clear: both;
}

a
{
   /* text-decoration: none;*/
}

popupMenu
{
    position: relative;
    visibility: hidden;
    background-color: #AAFFFF;
    opacity: .9;
    filter: alpha(opacity=0);
}
.popupHover
{
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #F6F7F8;
    opacity: .2;
    filter: alpha(opacity=2);
}

.DashBoard_Alert_Single_Div
{
    float: left;
    width: 132px;
    height: 130px;
}

.Dashboard_Alert_Single_Div_Text
{
    width: 112px;
    margin-top: -115px;
    text-align: center;
    height: 32px;
}

.Dashboard_Alert_Single_Div_Text a
{
    color: #FFF;
}

.group:before, .group:after
{
    content: "";
    display: table;
}
.group:after
{
    clear: both;
}
.group
{
    zoom: 0; /* For IE 6/7 (trigger hasLayout) */
}

#calToolbar
{
    float: right;
    padding: 2px 8px;
    margin-left: 106px;
}

#calToolbar span, #calToolbar img
{
    vertical-align: middle;
}


#calToolbar_ks
{
    float: right;
    padding: 2px 8px;
    margin-left: 106px;
}

#calToolbar_ks span, #calToolbar_ks img
{
    vertical-align: text_top;
}

#lblMonth
{
    display: inline-block;
    padding: 5px 8px;
}

#ContentPlaceHolder1_lblToday span
{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 0 2px;
}

#ContentPlaceHolder1_previousWeek, #ContentPlaceHolder1_nextWeek
{
    padding: 2px 0;
    display: inline-block;
}

#ContentPlaceHolder1_previousWeek img, #ContentPlaceHolder1_nextWeek img
{
    padding: 1px 0;
}


#pnlAddActivityTable select
{
    width: 250px;
}

#pnlAddActivityTable select
{
    width: 250px;
}

#pnlAddActivityTable textarea
{
    width: 250px;
}

#pnlAddActivityTable .longTextBox
{
    width: 243px;
}


.LetterDocInnerTable
{
    width: 100%;
    margin-top: -38px;
    padding: 0px;
}

.LetterDocInnerTable td
{
    padding: 0px;
    height: 54px;
}

.LetterDocInnerTable input
{
    margin-right: 10px;
}


.LetterDocDiv
{
    border-color: gray;
    border-width: 1px;
    border-style: Solid;
    height: 110px;
    width: 250px;
    overflow: auto;
}

.LetterDocOuterTable
{
    width: 243px;
    border-collapse: collapse;
    padding: 0px;
    margin-top: 10%;
}

.ajax__html_editor_extender_container
{
    width: 100% !important;
}
.code_box
{
    border: 2px solid #000;
    width: 300px;
}
.code_box p
{
    margin-left: 10px;
}
.letter_buttons
{
    float: right;
}

#pnlAddActivityTable
{
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 100%;
    padding: 15px 15px 0px 15px;
}

.pnlEditLetter
{
    height: 540px;
    width: 900px;
    padding: 15px;
}

.modalPopup
{
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding: 15px;
    width: 80%;
}

.hiddenField
{
    visibility: hidden;
}

.menuLink
{
}

.Required
{
    color: Red;
}

#Table1 input[type="text"], #Table1 input[type="file"], #Table1 input[type="image"], #Table1 select
{
    float: right;
}

.loading-image
{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000000;
    text-align: center;
    opacity: 0.7;
    margin-right: -30px;
}

.loading-image img
{
    margin-top: 255px;
}

.TabInitial
{
    display: block;
    padding: .5em 1em;
    float: left;
    cursor: pointer;
    background-color: #dddddd;
    min-width: 63px;
    margin:0 5px 0 0;
    border: 1px solid #c5c5c5;
    font-weight: normal;
    color: #454545;
}
/*.Initial:hover
{
    color: Black;
    background: url("../Images/SelectedButton.png") no-repeat right top;
}*/
.TabClicked
{
    float: left;
    display: block; 
    padding: .5em 1em;
    color: gray !important;
    cursor: pointer;
    margin:0 5px 0 0;
    min-width: 63px;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-bottom-color: #fff;
}

/*Certificate Expiry Report */

.grdReportHeading
{
    color: black;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: Solid;
    font-weight: bold;
    border-left: 0;
    border-right: 0;
}

#Repor #ReportStats td span
{
    vertical-align: baseline;
    font-weight: 700;
}


.pnlHeading
{
    text-align: left;
    background-color: Black;
    color: White;
    height: 20px;
}

.labelPrintActivities
{
    font-family: sans-serif;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.acitivity-dropdown
{
    margin-right: 11px;
}

.message
{
    padding: 5px 0 5px 10px;
}

#Resources > p
{
    padding: 8px;
}

#Resources td, #Resources th
{
    padding: 10px 0 0 10px;
    border: 0 none;
}

#Resources input[type="submit"], #Resources input[type="button"]
{
    padding: 2px 8px;
    margin-left: 6px;
}

/*#Resources tr:first-child 
{
    border-bottom: 1px solid;
}*/

#Resources th
{
    padding: 8px;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #848484;
    margin-left: 0px;
    background-color: White;
    min-width:55px;
    border-color:Black;
    cursor:pointer;
}

.component-trade-list
{
    width:90%
}
.component-trade-list td
{
    padding:0 10px 0 10px;
}

.grd-replacement-list td
{
    text-align:center
}

.grd-replacement-list td:nth-child(2),.grd-replacement-list td:nth-child(3),.grd-replacement-list td:nth-child(4)
{
    text-align:left;
}

input:disabled
{    
    color:#a1a1a1;
    cursor:text;
}

.pnl-apt-success-msg
{
    margin: 0px;
    border: solid black 1px;
    height: 98px;
    padding-top: 75px;
    text-align: center;
    width: 300px;
    background: white;
    color:Green;
}

a
{
    text-decoration :none;  
}
.lnk-btn
{
    padding-right:10px;
    text-decoration:none !important;
}

.paging-left {
    float: left;
    width: 60%;
}
.pnlPaging {
    font-size:12px;
}
