﻿/* DEFAULTS
----------------------------------------------------------*/
.mainContainer
{
    width: 100%;
    border: 2px solid #BBBBBB;
    padding: 10px;
    float: left;
}
.componentListContainer
{
    width: 50%;
    padding: 10px;
    float: left;
}

.viewComponentContainer
{
    width: 49%;
    float: left;
    /*padding: 5px;
    padding-left: 20px;*/
    margin: 10px -30px 0 10px;
}

.gridHeader
{
    border-bottom: 1px solid #BBBBBB;
    border-left: 0 none #000000;
    border-right: 0 none #000000;
    border-top: 0 none #000000;
}
.viewContainer
{
    width: 100%;
    overflow:hidden;
    border: 1px solid #A0A0A0;
}
.viewComponent
{
    width: inherit;
    float: left;
    height: 30px;
    border-bottom: 1px solid #BBBBBB;
}
.viewComponentName
{
    width: 70%;
    padding-left: 20px;
    float: left;
    font-weight: bold;
    padding-top: 5px;
}

.viewComponentEdit
{
    width: 20%;
    float: right;
    font-weight: bold;
    padding-top: 3px;
    padding-right: 10px;
}

.viewComponentEditButton
{
    width: 60px;
    float: right;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 5px;
}
.viewComponentDetail
{
    width: 100%;
    float: left;
    font-weight: bold;
    padding-left: 10px;
}
.viewComponentDetail tr
{
    height: 30px;
}

.editContainer
{
    width: 100%;
    float: left;
    border: 2px solid #BBBBBB;
}
.editComponent
{
    width: 100%;
    float: left;
    height: 30px;
    border-bottom: 1px solid #BBBBBB;
}
.editComponentName
{
    width: 60%;
    padding-left: 20px;
    float: left;
    font-weight: bold;
    padding-top: 5px;
}

.editComponentEdit
{
    width: 35%;
    float: right;
    font-weight: bold;
    padding-top: 3px;
}

.editComponentButton
{
    width: 35%;
    float: right;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 5px;
    margin-right: 5px;
}

.editComponentAddButton
{
    width: 20%;
    float: left;
    margin-left: 15px;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 5px;
}
.editComponentDetail
{
    width: 100%;
    float: left;
    font-weight: bold;
    padding-left: 10px;
}
.editComponentDetail tr
{
    height: 30px;
}

.editControlSmall
{
    width: 30%;
    float: left;
    margin-right:5px
}
.editControlNormal
{
    width: 50%;
    float: left;
    margin-right:5px
}
.editControlLarge
{
    width: 65%;
    float: left;
    margin-right:5px
}

/* Replacement List */

.leftControl
{
    float:left ;
    margin-right:10px;   
}

.rightControl
{
    float:right;
    margin-right:10px;   
}

.gridfaults-header
{
    font-weight:normal;
    font-size:13px; 
    border-bottom:1px solid #BBB;
    text-decoration:none;
}

.gridfaults-header a
{
    text-decoration:none;
}

.textBoxInnerText
{
    text-align:right;
    border: 2px solid;
}

#replacementlistContainer
{
 height:650px;
}


.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=0);
}

/* Annual Spend Report */

.totalCost
{
    padding-top : 10px; 
    padding-bottom : 20px;    
}
