<%@ Page Language="VB" MasterPageFile="~/BHAIntranet/Templates/CustomPageWithBorder.master" AutoEventWireup="false" CodeFile="NoRights.aspx.vb" Inherits="BHAIntranet_NoRights" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ThreeTierContent" Runat="Server">
You have no Access Rights to view this page
</asp:Content>

