﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="UpdateDetails.aspx.vb" Inherits="BHAIntranet_UpdateDetails" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <br />
        Please update your details<br />
        <br />
        <asp:LinkButton ID="LinkButton1" runat="server">Update Details</asp:LinkButton>
    
    </div>
    </form>
</body>
</html>
