<%@ Page Language="VB" MasterPageFile="~/BHAIntranet/templates/main.master" AutoEventWireup="false" CodeFile="Whiteboard.aspx.vb" Inherits="BHAIntranet_Whiteboard" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainMaster" Runat="Server">
</asp:Content>

