﻿@model BHGHRModuleWeb.ViewModels.EmployeesSearchViewModel
@{
    ViewBag.Title = "Employees";
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize);
    grid.Bind(Model.employees, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
}

<div id="webgridEmployee">
    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        htmlAttributes: new { id = "checkableGrid" },
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row webgrid-row-style-hover",
        rowStyle: "webgrid-row-style webgrid-row-style-hover",
        columns: grid.Columns(
        //Here I am going to add checkbox column
        grid.Column(
            format: @<text> 
                @if (item.isSelected == true)
                {
                    <input type="checkbox" checked= "checked" class="selEmployees" value="@item.employeeId" name="ids" data-employeeid="@item.employeeId" data-name="@item.name" data-team="@item.team" data-jobtitle="@item.jobTitle" />
                }
                else
                {
                    <input type="checkbox" value="@item.employeeId" class="selEmployees" name="ids" data-employeeid="@item.employeeId" data-name="@item.name" data-team="@item.team" data-jobtitle="@item.jobTitle" class="selEmployees" />
                }
            </text>,
            header: "{checkall}"
        ),
        grid.Column(columnName: "name", header: "Name"),
        grid.Column(columnName: "team", header: "Team"),
        grid.Column(columnName: "jobTitle", header: "Job Title")
    ))
</div>
<script type="text/javascript">

    (function () {
        $("#selectEmployeeList a").on('click', function (event) {
            loadGridEvents(event, this);
        });
        $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().append('@(grid.SortDirection == SortDirection.Ascending ? "▲" : "▼")');
        $('thead > tr > th:first').addClass('dis-none');

        // 1st replace first column header text with checkbox

        $("#checkableGrid th").each(function () {
            if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
                $(this).text('');
                $("<input/>", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
                $(this).append("<span></span>");
            }
        });

        //2nd click event for header checkbox for select /deselect all
        $("#cbSelectAll").on("click", function () {
            var ischecked = this.checked;
            $('#checkableGrid').find("input:checkbox").each(function () {
                this.checked = ischecked;
            });
        });

        //3rd click event for checkbox of each row
        $("input[name='ids']").click(function () {
            var totalRows = $("#checkableGrid td :checkbox").length;
            var checked = $("#checkableGrid td :checkbox:checked").length;

            if (checked == totalRows) {
                $("#checkableGrid").find("input:checkbox").each(function () {
                    this.checked = true;
                });
            }
            else {
                $("#cbSelectAll").removeAttr("checked");
            }
        });

    })();

    $('.selEmployees').on('click', function () {

        $('.selEmployees:checkbox:checked').each(function () {            
            arrSelectEmployee.push({
                name: $(this).data('name'),
                team: $(this).data('team'),
                jobtitle: $(this).data('jobtitle'),
                employeeid: $(this).data('employeeid')
            });
        });
        // add employeeId into $('#employeeIds').val()
        var hdnEmployeeIds = $('#employeeIds').val();
        //removing duplicate entries
        arrSelectEmployee = arrSelectEmployee.reduce(function (item, e1) {
            var matches = item.filter(function (e2) {
                return e1.employeeid == e2.employeeid
            });
            if (matches.length == 0) {
                item.push(e1);
            }
            return item;
        }, []);

        if ($(this).is(':checked')) {

            __selectedEmployee__ = JSON.stringify(arrSelectEmployee);

            if (hdnEmployeeIds == '')
            {
                hdnEmployeeIds += $(this).data('employeeid');
            }
            else
            {
                hdnEmployeeIds += "," + $(this).data('employeeid');
            }

            $('#employeeIds').val(hdnEmployeeIds);

        }
        else {
            for (var i = 0; i < arrSelectEmployee.length; i++)
            {
                if (arrSelectEmployee[i] != null) {
                    if (arrSelectEmployee[i].employeeid == $(this).data('employeeid')) {
                        arrSelectEmployee.splice(i, 1);
                    }
                }
            }
            if (hdnEmployeeIds.includes($(this).data('employeeid') + ','))
            {
                hdnEmployeeIds = hdnEmployeeIds.replace($(this).data('employeeid') + ',', '');
            }
            else
            {
                hdnEmployeeIds = hdnEmployeeIds.replace(',' + $(this).data('employeeid'), '');
            }

            $('#employeeIds').val(hdnEmployeeIds);
        }
    });

    function loadGridEvents(event, ths) {
        event.preventDefault();
        var href = $(ths).attr("href");
        var queryString = href.substring(href.indexOf('?'), href.length);
        queryString = queryString + "&employeeIds=" + $("#employeeIds").val();
        var requestUrl = '@Url.Action("SearchEmployeeList", "GroupTraining")' + queryString;
        $("#webgridEmployee").load(requestUrl);
    }

    var typingPageTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example

    function TypingPageInterval(e) {
        typingPageTimer = setTimeout(updateEmployeeSelectList, donePagedInterval);
    }

    function updateEmployeeSelectList() {
        var requestUrl = '@Url.Action("SearchEmployeeList", "GroupTraining")' + "?page=" + $("#txtPageNo").val() + "&directorate=" + $("#directorateId").val() + "&team=" + $("#teamId").val() + "&txtSearchText=" + $("#searchText").val() + "&employeeIds=" + $("#employeeIds").val();
        $("#webgridEmployee").load(requestUrl);
    }

</script>