﻿@model BHGHRModuleWeb.ViewModels.EmployeesSearchViewModel
@using Share.Bonnet.AjaxDropDownList;
@Scripts.Render("~/bundles/bonnet")
@{
    ViewBag.Title = "Employees";
    string searchText = ViewBag.searchText;
}

<div class="row">
    <div class="col-md-8">
        <div class="grid-border" style="overflow:hidden; padding:10px 0">
            <div class="col-md-6">
                @Html.DropDownListFor(
                    model => model.directorateId,
                    Model.directorates,
                    new
                    {
                        @class = "form-control clsTeam"
                    },
                    Ajax.UpdateActionFor(
                        model => model.teamId,
                        new AjaxUpdateOptions
                        {
                            DisableTargetWhenEmpty = true,
                            Url = Url.Action("TeamSelectListJson")
                        }
                    )
                )
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.teamId, Model.teams, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="filters pull-right">
            @Html.TextBox("searchText", searchText, new { @class = "searchbox-right ", Name = "searchText", onkeyup = "TypingPageInterval();" })
        </div>
    </div>
</div>
<hr />
<div id="webgridEmployee" style="max-height:550px; overflow:auto;">
    @Html.Partial("~/Views/Admin/GroupTraining/_EmployeeList.cshtml", Model)
</div>


<script type="text/javascript">

     $('#directorateId').on('change', function () {
         $("#txtPageNo").val(1);
         $("#teamId").val(0);
        updateEmployeeSelectList();
    });

    $('#teamId').on('change', function () {
        $("#txtPageNo").val(1);
        updateEmployeeSelectList();
    });

</script>