﻿@model BHGHRModuleWeb.ViewModels.Admin.Training.GroupTrainingViewModel
@using Share.Bonnet.AjaxDropDownList;
@Scripts.Render("~/bundles/bonnet")
@{
    ViewBag.Title = "Trainings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 alert alert-success" id="popupMessage" style="display:none">
    <strong id="popupMsgResponse"></strong>
</div>

<div style="border:1px solid #000">
    <div class="row padding-bottom">
        <div class="col-md-12">
            <div style="border: 1px solid; background-color: #000; padding: 10px;">
                <span style="color:#fff">Multiple Employee Training</span>
            </div>
        </div>
    </div>
    <div class="row padding-bottom">
        <div class="col-md-12">
            <div class="col-md-12">
                <div id="divContainer">
                    <div class="row">
                        <div class="col-md-7 padding-bottom">
                            <div class="main-Container grid-border">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="row padding-bottom"></div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.trainingCourse)
                                                </div>
                                                <div class="col-md-5">
                                                    @Html.TextBoxFor(m => m.trainingCourse, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.directorate)
                                                </div>
                                                <div class="col-md-5">
                                                    @Html.DropDownListFor(
                                                        model => model.directorate,
                                                        Model.directorates,
                                                        new
                                                        {
                                                            @class = "form-control clsTeam"
                                                        },
                                                        Ajax.UpdateActionFor(
                                                            model => model.team,
                                                            new AjaxUpdateOptions
                                                            {
                                                                DisableTargetWhenEmpty = true,
                                                                Url = Url.Action("TeamSelectListJson")
                                                            }
                                                        )
                                                    )
                                                    @* @Html.DropDownListFor(model => model.directorate, Model.directorates, new { @class = "form-control clsTeam" }, Ajax.UpdateActionFor( model => model.jobRoleId, new AjaxUpdateOptions { DisableTargetWhenEmpty = true, Url = Url.Action("JobRoleSelectListJson") } ))*@
                                                </div>
                                            </div>
                                            <div class="row padding-bottom">
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.team)
                                                </div>
                                                <div class="col-md-5">
                                                    @Html.DropDownListFor(model => model.team, Model.teams, new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-4 pull-right">
                                                    <button type="button" id="btnSearch" class="btn btn-gray btn-xs">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row padding-bottom"></div>
                            <div class="main-Container grid-border">
                                <div id="webgrid">
                                    @Html.Partial("~/Views/Admin/GroupTraining/_TrainingListing.cshtml", Model.groupTrainingList)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="text-center">
                                <button type="button" id="btnNewTraining" class="btn btn-gray btn-xs">Add a New Training Course</button>
                            </div>
                            <div id="trainingDetail" style="display:none">
                                @*@Html.Partial("~/Views/Admin/GroupTraining/_TrainingDetail.cshtml", Model.detail)*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    (function () {
        loadDatePicker();
    })();

    var deleTraining = 0;
    $('#approvedTraining ').blur(function () {
        $(this).css("border", "1px solid #b1b1b1");
    });

    $('#remunerationCost ').blur(function () {
        $(this).css("border", "1px solid #b1b1b1");
    });

    $('#btnNewTraining').on('click', function () {
        $(this).hide();
        var requestUrl = '@Url.Action("ResetDetails", "GroupTraining")';
        $("#trainingDetail").load(requestUrl);
        $('#trainingDetail').show();
        loadDatePicker();
    });

    $('#btnSearch').on('click', function () {
        $("#txtpageText").val(1);
        searchPageChanged();
    });

    function RemoveTraining(string, id) {
        $(string).parent().parent().remove();
        var ids = $('#employeeIds').val();
        ids = ids.replace(id, '');
        $('#employeeIds').val(ids);
    }

    //function getTrainings() {
    //    var list = new Array();
    //    var hideValue = null;
    //    var divs = $('.vision')
    //    var divs1 = $('.vision1')
    //    var divs2 = $('.vision2')
    //    $(".remQualify").each(function (i) {
    //        var remu = '';
    //        if (divs1[i].innerHTML == "Yes") {
    //            remu = 'true';
    //        }
    //        else {
    //            remu = 'false';
    //        }
    //        list.push({ "approvedTraining": divs[i].innerHTML, "isRemuneration": remu, "remunerationCost": divs2[i].innerHTML == "" ? 0 : divs2[i].innerHTML });
    //    });

    //    $("#trainingHidden").val(JSON.stringify(list));
    //}

    function OnSuccessTraining(response) {
        
        if (response == "") {
            res = response;
        } else {
            res = jQuery.parseJSON(response);
        }

        if (res == "Training is saved successfully.") {
            $(window).scrollTop(0);
            popupMessage('message', 'msgResponse', res, 'success');
            $("#saveTraining").prop("disabled", true);
            refreshForm();
        }
        else {
            $(window).scrollTop(0);
            popupMessage('message', 'msgResponse', 'Training not saved.', 'failure');
        }
    }

    function refreshForm() {
        reloadCurrentTab();
    }

    function loadDatePicker() {
        $(".DatePicker").datepicker({
            showAnim: "blind",
            dateFormat: 'dd/mm/yy',
            yearRange: '1900:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'button',
            buttonImage: '@Url.Content("~/Content/images/calendar.png")',
            buttonImageOnly: true,
        });
    }

    var typingTimer;                //timer identifier
    var donePagedInterval = 1000;  //time in ms, 5 second for example
    function TypingPageInterval(e) {
        typingTimer = setTimeout(searchPageChanged, donePagedInterval);
    }

    function searchPageChanged() {
        var requestUrl = '@Url.Action("SearchGroupTraining", "GroupTraining")' + "?page=" + $("#txtpageText").val() + "&directorate=" + $("#directorate").val() + "&team=" + $("#team").val() + "&txtSearchText=" + $("#trainingCourse").val();
        $("#webgrid").load(requestUrl);
    }

    function popupMessage(outerElement, element, msg, type) {
        $(window).scrollTop(0);
        if (type == "success") {

            $("#" + outerElement).removeClass('alert-danger');
            $("#" + outerElement).addClass('alert-success');
        }
        else if ("failure") {
            $("#" + outerElement).removeClass('alert-success');
            $("#" + outerElement).addClass('alert-danger');
        }

        $("#" + element).html(msg)
        $("#" + outerElement).show().delay(5000).fadeOut();
        window.scrollTo(0, 0);
    }

</script>