﻿@model BHGHRModuleWeb.ViewModels.Admin.Training.GroupTrainingGridViewModel
@{
    Layout = null;
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize, canSort: false);
    grid.Bind(Model.groupTrainings, autoSortAndPage: false, rowCount: ViewBag.TotalRows);
}

<div style="padding: 5px 0">
    <span>Training</span>
</div>

@if (Model.groupTrainings != null && Model.groupTrainings.Count > 0)
{
    @grid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        headerStyle: "wedgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
            grid.Column(columnName: "recordedDate", header: "Recorded:"),
            grid.Column(columnName: "startDate", header: "Start:"),
            grid.Column(columnName: "courseName", header: "Training Course:"),
            grid.Column(columnName: "providerName", header: "Provider:"),
            grid.Column(columnName: "attendees", header: "Attendees:", format:@<text>
                <a href="#" class="edit-training" data-trainingid="@item.groupId">@item.attendees</a>
            </text>),
            grid.Column(format:@<text>
                @if (item.isMandatory)
                {
                    <span class="green">M</span>
                }
            </text>),
            grid.Column(columnName: "renewDate", header: "Renew Date:"),
            grid.Column(columnName: "createdBy", header: "By:")
        )
    )

    <div class="panel-footer">
        <div style="width: 100%; overflow: hidden;">
            <div id="gridPager" style="width:inherit; float: left;">
                @grid.PagerList(WebGridPagerModes.All, rowCount: grid.Rows.Count())
                <span class="pull-right">
                    Page:  @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtpageText", onkeyup = "TypingPageInterval();" })
                </span>
            </div>
            <div style="margin-left: 15px;">
                <span style="margin:-3px"></span>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-responsive backcolor">
        <thead>
            <tr class="wedgrid-header">
                <th>Recorded:</th>
                <th>Start:</th>
                <th>Training Course:</th>
                <th>Provider:</th>
                <th>Attendees:</th>
                <th>Review Date:</th>
                <th>By:</th>
            </tr>
        </thead>
        <tbody>
            <tr class="webgrid-row-style">
                <td colspan="7" align="center"><br />No record found<br /><br /> </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="form-inline">
                        <span for="rg-from">Page: </span>
                        <div class="form-group">
                            @Html.TextBox("pageText", "", new { Name = "pageText", Style = "width:40px;", Id = "txtpageText", onkeyup = "TypingPageInterval();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="confirm-delete" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-header">
            <h4 class="modal-title">Alert!</h4>
        </div>
        <div class="modal-body" style="background-color:white">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <strong id="msglearning">Do you want to delete this record?</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="background-color:white;margin-top:0px">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="closelearning">No</button>
            <button id="submitlearning" class="btn btn-primary btn-ok">Yes</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#webgrid .delete-training").click(function (e) {
        e.preventDefault();
        deleTraining = $(this).data('id');
        $('#confirm-delete').modal('show');
    });

    $(".btn-ok").click(function (index) {
        $("#confirm-delete").modal('hide');
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateEmployeeTraining", "Training")',
            data: {
                trainingId: deleTraining,
                isActive: false,
                status: "Submitted"
            },
            success: function (result) {
                if (result == "") {
                    res = result;
                }
                else {
                    res = JSON.parse(result);
                }

                if (res == "Training is updated successfully.") {
                    popupMessage('message', 'msgResponse', res, 'success');
                    refreshForm();
                } else {
                    popupMessage('message', 'Training not updated.', 'failure');
                }
            },
            error: function (result) {

            }
        });
    });

    $("#webgrid .edit-training").click(function (index) {
        var url = '@Url.Action("GetGroupDetails", "GroupTraining")';
        url = url + "/" + $(this).data('trainingid');
        $.ajax({
            url: url,
            cache: false,
            type: "GET",
            success: function (data, textStatus, XMLHttpRequest) {
                $("#trainingDetail").html(data);
                $('#btnNewTraining').hide();
                $('#trainingDetail').show();
                //loadDatePicker();
            }
        });
    });

</script>