﻿@model BHGHRModuleWeb.ViewModels.Admin.Training.GroupTrainingDetailViewModel
@{
    ViewBag.Title = "Trainings";
    Layout = null;
    AjaxOptions options = new AjaxOptions();
    options.AllowCache = false;
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.OnFailure = "OnFailureTraining";
    options.OnSuccess = "OnSuccessTraining";
    options.UpdateTargetId = "msg";
    options.OnBegin = "OnBeginTraining";

    var isDisabled = "false";
    var isStarted = "false";
    var isStart = (DateTime.Now > Model.startDateTime);
    //if (Model.trainingId > 0)
    //{
    //    isDisabled = "true";
    //}

    if (isStart)
    {
        isDisabled = "true";
        isStarted = "true";
    }
}

@Scripts.Render("~/bundles/jqueryval")

<div class="col-md-12 grid-border">
    @using (Ajax.BeginForm("AddGroupTraining", "GroupTraining", options, new { id = "frmTrainingDetail" }))
    {
        <div class="row padding-bottom">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                @Html.HiddenFor(m => m.trainingId)
                @Html.HiddenFor(m => m.groupId)
                @Html.HiddenFor(m => m.employeeIds)
                @Html.HiddenFor(m => m.createdDate)
                @if (Model.trainingId == 0)
                {
                    @Html.HiddenFor(m => m.status, new { Value = "Submitted" })
                }
                else
                {
                    @Html.HiddenFor(m => m.status)
                }
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4 ">
                @Html.LabelFor(m => m.course, new { @class = "control-label" })<span class="required">*</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.course, new { @class = "form-control toBeDisabled" })
                <span class="">@Html.ValidationMessageFor(m => m.course)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.startDate, new { @class = "control-label " }) <span class="required">*</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.startDate, "", new { @class = "DatePicker form-control toBeDisabled" })
                <span class="">@Html.ValidationMessageFor(m => m.startDate)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4 ">
                @Html.LabelFor(m => m.endDate, new { @class = "control-label" })<span class="required">*</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.endDate, "", new { @class = "DatePicker form-control toBeDisabled" })
                <span class="">@Html.ValidationMessageFor(m => m.endDate)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.totalNumberOfDays, new { @class = "control-label text-nowrap" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.totalNumberOfDays, new { @class = "form-control", @readonly = "readonly" })
                <span class="">@Html.ValidationMessageFor(m => m.totalNumberOfDays)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.providerName, new { @class = "control-label" })<span class="required">*</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.providerName, new { @class = "form-control toBeDisabled" })
                <span class="">@Html.ValidationMessageFor(m => m.providerName)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.providerWebsite, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.providerWebsite, new { @class = "form-control toBeDisabled" })
                <span class="">@Html.ValidationMessageFor(m => m.providerWebsite)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.location, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.location, new { @class = "form-control toBeDisabled" })
                <span class="">@Html.ValidationMessageFor(m => m.location)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.postcode, new { @class = "control-label" })<span class="required">*</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.postcode, new { @class = "form-control toBeDisabled" })
                <span class="">@Html.ValidationMessageFor(m => m.postcode)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.venue, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.venue, new { @class = "form-control toBeDisabled" })
                <span class="">@Html.ValidationMessageFor(m => m.venue)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.totalCost, new { @class = "control-label" })<span class="required">*</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.totalCost, new { @class = "form-control toBeDisabled" })
                <span class="">@Html.ValidationMessageFor(m => m.totalCost)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.Label("Professional Qual.:", "Professional Qual.:", new { @class = "control-label" })
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @if (isDisabled == "true")
                {
                    <span style="padding-right: 30px;">
                        @Html.RadioButtonFor(m => m.professionalQualification, 1, new { value = true, @disabled = "disabled" })Yes
                    </span>
                    <span>
                        @Html.RadioButtonFor(m => m.professionalQualification, 0, new { value = false, @disabled = "disabled" })No
                    </span>
                    @Html.HiddenFor(m => m.professionalQualification)
                }
                else
                {
                    <span style="padding-right: 30px;">
                        @Html.RadioButtonFor(m => m.professionalQualification, 1, new { value = true, @class = "toBeDisabled" })Yes
                    </span>
                    <span>
                        @Html.RadioButtonFor(m => m.professionalQualification, 0, new { value = false, @class = "toBeDisabled" })No
                    </span>
                }
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.isMandatoryTraining, new { @class = " control-label" })
            </div>
            <div class="col-md-1">
                @if (isDisabled == "true")
                {
                    @Html.HiddenFor(m => m.isMandatoryTraining)
                    if (Model.isMandatoryTraining)
                    {
                        <input type="checkbox" class="form-control" id = "isMandatoryTrainingID" disabled checked="checked" style="width:14px;" />
                    }
                    else
                    {
                        <input type="checkbox" class="form-control" id = "isMandatoryTrainingID" disabled style="width:14px;" />
                    }
                    
                }
                else
                {
                    @Html.CheckBoxFor(m => m.isMandatoryTraining, new { @class = "form-control toBeDisabled", id = "isMandatoryTrainingID", style = "width:14px" })
                }
            </div>
            <div class="col-md-7">
                <div style="width: 100%; overflow: hidden;">
                    <div style="width: 60px; float: left;">
                        @Html.LabelFor(m => m.expiry, new { @class = "control-label" })
                    </div>
                    <div style="margin-left: 58px;">
                        @Html.TextBoxFor(m => m.expiry, "", new { @class = "DatePicker form-control toBeDisabled", id = "expiryID" })
                        <label id="hiddenRenew" style="visibility:hidden; color:red;">Renew Date is required</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <span class="">@Html.ValidationMessageFor(m => m.expiry)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.Label("Remuneration:", new { @class = "control-label" })
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @if (isDisabled == "true")
                {
                    <span style="padding-right: 30px;">
                        @Html.RadioButtonFor(m => m.isRemuneration, true, new { value = true, id = "remunerationrd", @disabled = "disabled" })Yes
                    </span>
                    <span>
                        @Html.RadioButtonFor(m => m.isRemuneration, false, new { value = false, id = "remunerationNo", @disabled = "disabled" })No
                    </span>
                    @Html.HiddenFor(m => m.isRemuneration)
                }
                else
                {
                    <span style="padding-right: 30px;">
                        @Html.RadioButtonFor(m => m.isRemuneration, true, new { value = true, id = "remunerationrd", @class = "toBeDisabled" })Yes
                    </span>
                    <span>
                        @Html.RadioButtonFor(m => m.isRemuneration, false, new { value = false, id = "remunerationNo", @class = "toBeDisabled" })No
                    </span>
                }
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                @Html.Label("£", new { @class = "control-label" })
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.remunerationCost, "", new { @class = "form-control toBeDisabled", id = "remunerationCost" })
                <label id="hiddenRemuneration" style="visibility:hidden; color:red;">Remuneration Cost is required</label>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.isSubmittedBy, new { @class = "control-label" })<span class="required">*</span>
            </div>
            @if (isDisabled == "true")
            {
                <div class="col-md-3">
                    @Html.RadioButtonFor(m => m.isSubmittedBy, 1, new { id = "rBtnSubmittedByManager", value = true, @disabled = "disabled" })Manager
                </div>
                <div class="col-md-3">
                    @Html.RadioButtonFor(m => m.isSubmittedBy, 0, new { id = "rBtnSubmittedByEmployee", value = false, @disabled = "disabled" })Employee
                </div>
                @Html.HiddenFor(m => m.isSubmittedBy)
            }
            else
            {
                <div class="col-md-3">
                    @Html.RadioButtonFor(m => m.isSubmittedBy, 1, new { id = "rBtnSubmittedByManager", value = true, @class = "toBeDisabled" })Manager
                </div>
                <div class="col-md-3">
                    @Html.RadioButtonFor(m => m.isSubmittedBy, 0, new { id = "rBtnSubmittedByEmployee", value = false, @class = "toBeDisabled" })Employee
                </div>
            }
            <label id="hiddenSubmitted" style="visibility:hidden; margin-left:200px; color:red;">Please select Submitted By</label>
            <div class="col-md-2"></div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.LabelFor(m => m.additionalNotes, new { @class = "control-label" })
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-8">
                @Html.TextAreaFor(m => m.additionalNotes, 5, 3, new { @class = "form-control personalDetail toBeDisabled" })
                <span class="">@Html.ValidationMessageFor(m => m.additionalNotes)</span>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
                @Html.Label("Add Employees:", new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                <button class="btn btn-gray btn-xs btnToBeDisabled" id="btnSelectEmployees" type="button" data-toggle="modal" data-target="#selectEmployee">Select Employees</button>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div style="min-height:100px; max-height:100px; border:1px solid #b1b1b1; overflow-y:scroll; overflow-x: hidden;">
                    <div class="padding-bottom"></div>
                    <div class="row">
                        <div class="col-md-12" id="trainings">
                            @if (Model.employeeDetails != null && Model.employeeDetails.Count > 0)
                            {
                                foreach (var app in Model.employeeDetails)
                                {
                                    <div class="row remQualify">
                                        <div class="col-md-12">
                                            <div class="col-md-6 vision">@app.employeeName</div>
                                            <div class="col-md-4 vision1">@app.teamName</div>
                                            @if (Model.startDateTime > DateTime.Now)
                                            {
                                                <div class="col-md-1"><img class="deleteEmployeeFromTraining" onclick="RemoveTraining(this, @app.employeeId); return false;" src="~/Content/Images/FVW.gif" /></div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-bottom">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <input style="margin-right:10px;" id="btnBack" class="btn btn-gray btn-xs noDisable" type="button" name="submitButton" value='< Back' />
            </div>
            <div class="col-md-4">
                @if (Model.trainingId > 0)
                {
                    <input class="btn btn-gray btn-xs pull-right btnToBeDisabled" type="submit" id="saveTraining" value='Update Employee Training' />
                }
                else
                {
                    <input class="btn btn-gray btn-xs pull-right btnToBeDisabled" type="submit" id="saveTraining" value='Add Employee Training' />
                }
            </div>
        </div>
    }
</div>

@* model popup start *@

<div class="modal fade" id="selectEmployee" role="dialog">
    <div class="modal-dialog" style="width:750px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Employees</h4>
            </div>
            <div class="modal-body">
                <div id="selectEmployeeList">

                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary" data-dismiss="modal" id="btnAddSelectedEmployees" value="Add Selected Employees" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
    
</div>

@* model popup end *@

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    var arrSelectEmployee = [];
    (function () {
        
        var isDisabled = @isDisabled;
        var isStarted = @isStarted;
        var __selectedEmployee__ = "";
        var arrSelectEmployee = [];
        $('.toBeDisabled').attr('readonly',isDisabled);
        $('.btnToBeDisabled').attr('disabled',isDisabled);
        $('.noDisable').attr('disabled',false);

        if (!isStarted)
        {
            $('#saveTraining').attr('disabled', false);
        }

        if (!isDisabled) {
            loadDatePicker();
        }

        $("#startDate").change(function () {
            workDays();
        });

        $("#endDate").change(function () {
            workDays();
        });

        $.fn.resetValidation = function () {
            event.preventDefault();
            // alert("1");
            var $form = this.closest('form');
            //alert(JSON.stringify($form));
            //reset jQuery Validate's internals
            $form.validate().resetForm();
            $form[0].reset();
            $("#saveTraining").prop("disabled", false);

            var list = document.getElementById("trainings");
            list.parentNode.removeChild(list);
            //reset unobtrusive validation summary, if it exists
            $form.find("[data-valmsg-summary=true]")
                .removeClass("validation-summary-errors")
                .addClass("validation-summary-valid")
                .find("ul").empty();

            //reset unobtrusive field level, if it exists
            $form.find("[data-valmsg-replace]")
                .removeClass("field-validation-error")
                .addClass("field-validation-valid")
                .empty();
            return $form;
        };

    })();

    $('#btnBack').on('click', function () {
        $('#trainingDetail').hide();
        $('#btnNewTraining').show();
    });

    $('#btnSelectEmployees').on('click', function () {
        $.ajax({
            url: '@Url.Action("GetEmployeeList", "GroupTraining")',
            data: {
                
                employeeIds: $('#employeeIds').val()
            },
            
            type: 'GET',
            success: function (response) {
                $('#selectEmployeeList').html(response);
                $('#selectEmployee').show();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                popupMessage('popupMessage', 'popupMsgResponse', "Unable to load docoument", 'failure');
            }
        });
    });

    $('#btnAddSelectedEmployees').on('click', function () {
        
        var hdnEmployee = "";
        var totalEmp = $('.selEmployees').length;
        var html = "";
        
        for (var i = 0; i < arrSelectEmployee.length; i++) {
            if (arrSelectEmployee[i] != null) {
                var tempHtml = "";
                // save this employeeid in hidden value;
                hdnEmployee += arrSelectEmployee[i].employeeid + ",";
                //var img = $("<img class='deleteWeek' data-weekNo='"+noOfWeek+"' data-toggle='modal' data-target='#confirm-delete'>");
                //img.attr('src', '/RSLHRModuleWeb/Content/Images/FVW.gif');
                //img.attr('class', 'deleteWeek imgWorkingPattern');
                // append this employee in select employee div in main page;
                tempHtml = "<div class='row remQualify'><div class='col-md-12'>";
                tempHtml += "<div class='col-md-6 vision'>" + arrSelectEmployee[i].name + "</div>"
                tempHtml += "<div class='col-md-4 vision1'>" + arrSelectEmployee[i].team + "</div>"
                tempHtml += "<div class='col-md-1'><img class='deleteEmployeeFromTraining' onclick='RemoveTraining(this, "+arrSelectEmployee[i].employeeid+"); return false;' src='/RSLHRModuleWeb/Content/Images/FVW.gif' /></div>"
                tempHtml += "</div></div>";
                html += tempHtml;
            }
        }
        //for (var i = 0; i < totalEmp; i++) {
        //    var selected = $('.selEmployees')[i];
        //    if ($(selected).is(':checked')) {
        //        var tempHtml = "";
        //        // save this employeeid in hidden value;
        //        //hdnEmployee += $(selected).data('employeeid') + ",";
        //        //var img = $("<img class='deleteWeek' data-weekNo='"+noOfWeek+"' data-toggle='modal' data-target='#confirm-delete'>");
        //        //img.attr('src', '/RSLHRModuleWeb/Content/Images/FVW.gif');
        //        //img.attr('class', 'deleteWeek imgWorkingPattern');
        //        // append this employee in select employee div in main page;
        //        tempHtml = "<div class='row remQualify'><div class='col-md-12'>";
        //        tempHtml += "<div class='col-md-6 vision'>" + $(selected).data('name') + "</div>"
        //        tempHtml += "<div class='col-md-4 vision1'>" + $(selected).data('team') + "</div>"
        //        tempHtml += "<div class='col-md-1'><img class='deleteEmployeeFromTraining' onclick='RemoveTraining(this, "+$(selected).data('employeeid')+"); return false;' src='/RSLHRModuleWeb/Content/Images/FVW.gif' /></div>"
        //        tempHtml += "</div></div>";
        //        html += tempHtml;
        //        //employeeid; name; team; jobtitle;
        //    }
        //}

        $('#trainings').html(html);
        hdnEmployee = hdnEmployee.substring(0, hdnEmployee.length - 1)
        $('#employeeIds').val(hdnEmployee);
    });

    
    //$('.selectEmployee').on('change', function () {
    //    alert("selectEmployee on change;" + $(this).is(':checked'));
    //    ////arrSelectEmployee = [];
    //    //arrSelectEmployee.push({
    //    //    name: $(selected).data('name'),
    //    //    team: $(selected).data('team'),
    //    //    employeeid: $(selected).data('employeeid')
    //    //});

  

    //    //var hdnEmployee = "";
    //    //var totalEmp = $('.selEmployees').length;
    //    //var html = "";
    //    //for (var i = 0; i < totalEmp; i++) {
    //    //    var selected = $('.selEmployees')[i];
    //    //    if ($(selected).is(':checked')) {
    //    //        var tempHtml = "";
    //    //        hdnEmployee += $(selected).data('employeeid') + ",";
    //    //    }
    //    //}

    //    //hdnEmployee = hdnEmployee.substring(0, hdnEmployee.length - 1)
    //    //$('#employeeIds').val(hdnEmployee);
    //});

    //$('.selectEmployee').on('click', function () {
    //    alert("selectEmployee on click;" + $(this).is(':checked'));
    //});


    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms, 5 second for example
    function TypingInterval(e) {
        typingTimer = setTimeout(searchEmployeeList, doneTypingInterval);
    }

    function searchEmployeeList() {
        var requestUrl = '@Url.Action("SearchEmployeeList", "GroupTraining")' + "?page=" + $("#txtPageNo").val() + "&directorate=" + $("#directorateId").val() + "&team=" + $("#teamId").val() + "&searchText=" + $("#trainingCourse").val() + "&employeeIds=" + $("#employeeIds").val();;
        $("#selectEmployeeList").load(requestUrl);
    }

    function JSlong_date(str_date) {
        var arrMon = new Array("", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
        var date_array = str_date.split("/");
        return new String(Math.abs(date_array[0]) + " " + arrMon[parseInt(date_array[1], 10)] + " " + date_array[2])
    }

    function workDays() {
        var BegDate = new Date(Date.parse(JSlong_date($('#startDate').val())));
        var EndDate = new Date(Date.parse(JSlong_date($('#endDate').val())));

        WholeWeeks = parseInt((EndDate - BegDate) / (1000 * 60 * 60 * 24 * 7).toFixed(2));
        if (isNaN(WholeWeeks)) {
            $('#totalNumberOfDays').val(0);
            return;
        }
        var NoOfDays = WholeWeeks * 7
        var DateCnt = new Date(BegDate)
        DateCnt.setDate(DateCnt.getDate() + NoOfDays)
        EndDays = 0
        var loopDate = new Date();
        loopDate.setTime(DateCnt.valueOf());

        while (loopDate.valueOf() < EndDate.valueOf() + 86400000) {
            EndDays = EndDays + 1;
            loopDate.setTime(loopDate.valueOf() + 86400000);
        }

        var jsWorkDays = NoOfDays + EndDays;

        if (jsWorkDays < 1) {
            $("#totalNumberOfDays").css({ "color": "red" });
            $('#totalNumberOfDays').val("Invalid Date Range");
        }
        else {
            $("#totalNumberOfDays").css({ "color": "#555555" });
            jsWorkDays = jsWorkDays;
            $('#totalNumberOfDays').val(jsWorkDays);
        }
    }
    function OnBeginTraining() {
        
        $('#loader').show();
        if ($('#isMandatoryTrainingID').is(':checked')) {
            if ($("#expiryID").val() == "") {
                document.getElementById('expiryID').style.borderColor = "red";
                document.getElementById('hiddenRenew').style.visibility = "visible";
                $('#loader').hide();
                return false;
            }
            else {
                document.getElementById('expiryID').style.borderColor = "";
                document.getElementById('hiddenRenew').style.visibility = "hidden";
            }
        }
        else {
            document.getElementById('expiryID').style.borderColor = "";
            document.getElementById('hiddenRenew').style.visibility = "hidden";
        }

        if ($('#remunerationrd').is(':checked')) {
            if ($("#remunerationCost").val() == "") {
                document.getElementById('remunerationCost').style.borderColor = "red";
                document.getElementById('hiddenRemuneration').style.visibility = "visible";
                $('#loader').hide();
                return false;
            }
            else
            {
                document.getElementById('remunerationCost').style.borderColor = "";
                document.getElementById('hiddenRemuneration').style.visibility = "hidden";
            }
        }
        else {
            document.getElementById('remunerationCost').style.borderColor = "";
            document.getElementById('hiddenRemuneration').style.visibility = "hidden";
        }

        if (!$('#rBtnSubmittedByEmployee').is(':checked') && !$('#rBtnSubmittedByManager').is(':checked')) {
            document.getElementById('hiddenSubmitted').style.visibility = "visible";
            $('#loader').hide();
            return false;
        }
        else
        {
            document.getElementById('hiddenSubmitted').style.visibility = "hidden";
        }

        if ($('#employeeIds').val() == "" || $('#employeeIds').val() == ",") {
            popupMessage('popupMessage', 'popupMsgResponse', "Please select atleast one employee", 'failure');
            $('#loader').hide();
            return false;
        }
    }
    function OnFailureTraining() {

    }

    function OnSuccessTraining(response) {
        
        var obj = jQuery.parseJSON(response);

        if (obj.isSuccessFul == true) {            
            $('#trainingDetail').hide();
            $('#btnNewTraining').show();
            var requestUrl = '@Url.Action("SearchGroupTraining", "GroupTraining")' + "?directorate=" + $("#directorate").val() + "&team=" + $("#team").val() + "&txtSearchText=" + $("#trainingCourse").val();
            $("#webgrid").load(requestUrl);
            $('#loader').hide();
            popupMessage('popupMessage', 'popupMsgResponse', obj.message, 'success');
        }
        else {
            $('#loader').hide();
            popupMessage('popupMessage', 'popupMsgResponse', 'Group Training is not saved.', 'failure');
        }
    }
</script>